<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Definición de documentos</p>
              
        <p class="PARRAFO">Mediante esta función se permite relacionar
          los diferentes documentos que
          pueden ser requeridos a manera de soporte en el proceso de
          evaluación
          de cada solicitud. </p>
        <p class="TITLE"><img src="../img/AEF_008B1.PNG"></p>
        <p class="PARRAFO">Filtro:Se pueden realizar consultas a través
          de las siguientes opciones:</p>
        <p class="TITLE"><img src="../img/AEF_008B2.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico de 3 dígitos en el que se registra
                el código de cada uno de los documentos potencialmente
                requeridos
                a los comercios a manera de soporte.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</p>
            </td>
            <td>
              <p class="PARRAFO">Es
                este campo alfanumérico de 60 posiciones, debe incluirse
                el nombre o breve descripción de los documentos
                codificados.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca la
          opción
          Adicionar se despliega un formulario con los siguientes
          campos:</span>
        </p>
        <p class="TITLE"><img src="../img/AEF_008B4.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico de 3 dígitos obligatorio en el que se
                registra
                el código de cada uno de los documentos potencialmente
                requeridos
                a los clientes a manera de soporte.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</p>
            </td>
            <td>
              <p class="PARRAFO">Es
                este campo alfanumérico de 60 posiciones, obligatorio,
                debe incluirse
                el nombre o breve descriptivo de los documentos codificados.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
              Al activar ese enlace se despliega un formulario
            en el cual el único campo modificable es: Nombre.</p>
        <p class="TITLE"><img src="../img/AEF_008B3.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>