<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Definición de Etapas </p>
              
        <p class="PARRAFO">Esta opción permite la consulta de un conjunto
          de campos en los que se codifican
          las diversas etapas que deberán surtir las solicitudes; cada
          etapa
          se asocia a un prototipo interno de OpenCard, siendo factible que un
          mismo
          prototipo pueda tener asociados dos o más etapas ya que se le
          ofrece
          a la entidad la posibilidad de dar un nombre diferente a cada una de
          ellas,
          dependiendo del tipo de producto. Cuenta con una opción llamada
          <a
            href="#documentos">Documentos</a>. </p>
        <p class="TITLE"><img src="../img/AEF_009B.PNG"></p>
        <p class="PARRAFO">Filtro:Se pueden realizar consultas a través
          de las siguientes opciones:</p>
        <p class="TITLE"><img src="../img/AEF_009B1.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico de 3 dígitos, en el que se registra
                el código de cada una de las etapas que ha trascurrido la
                solicitud del comercio.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 60 posiciones, debe incluirse
                el nombre o breve descripción de las etapas
                codificadas.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca la
          opción
          Adicionar se despliega un formulario con los siguientes
          campos:</span>
        </p>
        <p class="TITLE"><img src="../img/AEF_009B2.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de 4 posiciones, obligatorio, en el que se
                registra
                el código asignado a cada una de las diferentes etapas
                por las
                que deben transitar las solicitudes.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 60 posiciones, obligatorio, se
                debe
                registrar el nombre o breve descripción de cada etapa
                codificada.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Prototipo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                obligatorio que posee lista de valores adjunta de la que debe
                seleccionarse el código
                interno con el que el sistema gestiona la correspondiente etapa:
                Ingreso solicitud, visita
                establecimiento, Estudio dirección general y
                aprobación. Como
                ya se mencionó, un mismo prototipo puede tener asociadas
                dos
                o más etapas, o lo que es lo mismo, diferentes etapas
                definidas
                por la entidad pueden estar asociadas a un mismo prototipo.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un formulario
            en el cual los únicos campos modificables son: Nombre, y
            Prototipo.</p>
        <p class="TITLE"><img src="../img/AEF_009B3.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO"><a name="documentos"></a>Documentos:</span>
          Conjunto de campos en los que se relacionan
          los diferentes documentos que
          pueden ser requeridos a manera de soporte en proceso de
          evaluación
          de cada solicitud. En la opción Definición de Etapas, de
          los parámetros de
          solicitudes, se definen cuáles de estos documentos son
          requeridos en cada una de las etapas. Cuenta con un botón que
          permite retroceder a la opción
          anterior. </p>
        <p class="TITLE"><img src="../img/AEF_009B4.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la opción
          Adicionar se despliega un formulario con los siguientes
          campos:</span>
        </p>
        <p class="TITLE"><img src="../img/AEF_009B5.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Documento</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico de 3 dígitos, obligatorio en el que se
                registran cada uno de los documentos
                potencialmente requeridos
                a los establecimientos a manera de soporte. Tambien es
                diligenciable por medio de lista de valores, la
                cual dirige a la opción <a
                  href="AEH_008B.html">Definición de documentos. </a></p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Obligatorio</p>
            </td>
            <td>
              <p class="PARRAFO">Es
                este campo se despliega un combo con las opciones Si y No.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un formulario
            en el cual el único campo modificable es:
            Obligatorio.</p>
        <p class="TITLE"><img src="../img/AEF_009B6.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>