<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        
                <p class="TITLE style6">Parámetros afiliación</p>
              
        <p class="PARRAFO">Por medio de esta opcion la entidad define los parámetros
          necesarios para la afiliación de los
          establecimientos, de acuerdo con los productos, tipos de servicio,
          franquicias; permite también
          determinar el tratamiento en relación con los diferentes tipos
          de retenciones, comisiones, plazos y
          formas de pago.</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar, Adicionar y Detalle. Adicionalmente, cuenta con un filtro de
          búsqueda</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden
          realizar consultas a través
          de las siguientes opciones:</p>
        <p class="center"><img loading="lazy" rel="preload"  src="../img/AEF_015B1.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 3 dígitos, en el que se
                registra el código de los productos
                ofrecidos por los establecimientos.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se diligencia la
                información asociada al código del producto
                ofrecido. <span class="style2"></p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio, con lista de valores de la cual se
                selecciona la <a
                  href="NUH_033B.html">franquicia</a> respectiva.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Servicio</p>
            </td>
            <td>
              <p class="PARRAFO">Campo con lista de valores poblada de la opción <a
                  href="ESH_002B.html">Tipos de
                  servicio</a>, de la cual se selecciona la clase de servicio
                ofrecida por los establecimientos,
                que se está parametrizando.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span
            class="SUBTITULO">Adicionar:</span></span>
            Si el usuario invoca la
            opción Adicionar se despliega un formulario. </span>
          Este a su vez cuenta con un boton de
          localización. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B2.PNG"></p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B3.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 3 dígitos, obligatorio, en el
                que se registra el código de los
                productos ofrecidos por los establecimientos.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se diligencia la
                información asociada al código del producto
                ofrecido. <span class="style2"></p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio, con lista de valores de la
                cual se selecciona la <a
                  href="NUH_033B.html">franquicia</a> respectiva.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Servicio</p>
            </td>
            <td>
              <p class="PARRAFO">Campo con lista de valores poblada de la
                opción <a href="ESH_002B.html">Tipos
                  de servicio</a>, de la cual se selecciona la clase de servicio
                ofrecida por los establecimientos,
                que se está parametrizando.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Derecho propina </p>
            </td>
            <td>
              <p class="PARRAFO">Indicador por tipo de servicio prestado, si los
                establecimientos asociados a éste tienen o no
                derecho a la liquidación y cobro de propina.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Propina máxima </p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 9 posiciones no obligatorio, en el que
                se registra el valor porcentual
                máximo o tope para el cobro de propina acordado por la
                franquicia.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tolerancia Propina </p>
            </td>
            <td>
              <p class="PARRAFO">En este campo numérico de 9 posiciones no obligatorio,
                se registra el valor absoluto máximo
                acordado entre el emisor y el operador (franquicia) en que puede
                excederse el monto de comisión
                cobrado.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisión</p>
            </td>
            <td>
              <p class="PARRAFO">Opción que permite definir de manera excluyente si el
                valor relacionado en los campos
                Comisión DB / CR / Visa Cash / Electro ubicados a
                continuación, corresponde a un
                Porcentaje o un Valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Comisión DB / CR / Visa C /
                Electrón</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 18 dígitos no obligatorio, en
                el que se registra el valor absoluto o
                porcentual a descontar a productos débito,
                crédito, Visa Cash y Electrón
                respectivamente, a manera de comisión a los
                establecimientos por transacciones en ellos realizadas
                con estos productos. Si no se define un valor el sistema asigna
                el valor que por defecto presente el nivel
                de tipo de servicio o en su ausencia el valor determinado por la
                franquicia.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Forma pago </p>
            </td>
            <td>
              <p class="PARRAFO">Campo con lista propia de valores de la cual se selecciona la
                que corresponda a la manera como se
                efectuará el pago a los establecimientos y que puede ser
                Solo comprobante, Pago
                compensación, Pago en cheque, Cuenta corriente o Cuenta
                de ahorros</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Frecuencia pago </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo cuenta con lista propia de valores de la que se
                selecciona entre Mensual, Quincenal,
                Semanal, Diario y Otro la opción que corresponda a la
                frecuencia con la que se
                harán los pagos a los establecimientos.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Día</span></p>
            </td>
            <td>
              <p class="PARRAFO">Cuando en el campo anterior se ha seleccionado la opción
                Otro en este espacio se indica
                el día del mes en el que se efectuará el pago al
                establecimiento.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Plazo consignación
                  </span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo que registra el plazo en días para efectuar la
                consignación de los comprobantes por
                parte de los establecimientos.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Retención</p>
            </td>
            <td>
              <p class="PARRAFO">Campo no obligatorio que despliega lista de
                valores con las opciones nulo, si o no; el
                cual el usuario aplicara seg&ugrave;n la operación que
                realice el establecimiento.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo exclusión
                  retención </span>iva e ica </p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se registra en caso que no se aplique
                retención en la fuente, reteiva o reteica el
                <a href="ESH_003B.html">motivo de exoneración</a>.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje base retención
                </span>en la fuente reteiva y reteica
              </p>
            </td>
            <td>
              <p class="PARRAFO">Permite definir el valor porcentual a aplicar y calcular sobre
                los consumos (u otros conceptos
                asimilables), sobre cuyo resultado se liquidará el
                impuesto de retención en la fuente,
                reteiva y reteica.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje retención
                </span>reteiva y reteica </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en el que se registra el valor porcentual de la tasa a
                aplicar por retención en la fuente,
                reteiva y reteica sobre el resultado del porcentaje base
                definido en el campo anterior. </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Retención iva </span>e ica </p>
            </td>
            <td>
              <p class="PARRAFO">Campos en los que se indica Si (casilla marcada) o No (casilla
                sin marcar) aplica la
                retención en la fuente, del IVA y del ICA.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span
            class="SUBTITULO">Actualizar:</span></span> Si el
            usuario
            invoca la opción Actualizar se despliega un formulario
            en el cual </span>los </span> únicos campos no
            modificables </span>
          son:</span> Código, Marca y Servicio. Por otro lado al
          ingresar al boton de localización,
          todos los campos son modificables. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B4.PNG"></p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B5.PNG"></p>
        <p class="PARRAFO"><span
            class="SUBTITULO">Detalle</span>:</span></span> Si
            el usuario invoca la
            opción </span>Detalle</span> se despliega
          </span>el
            siguiente</span> formulario</span>.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B6.PNG"></p>
        <p class="PARRAFO">De igual manera se despliega el siguiente formulario al oprimir el
          botón de localización.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_015B7.PNG"></p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>