<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <table>
          <tr>
            <td>
              <div>
                <p class="TITLE style6">Par&aacute;metros afiliaci&oacute;n</p>
              
        <p>Por medio de esta opcion la entidad define los par&aacute;metros
          necesarios para la afiliaci&oacute;n de los
          establecimientos, de acuerdo con los productos, tipos de servicio,
          franquicias; permite tambi&eacute;n
          determinar el tratamiento en relaci&oacute;n con los diferentes tipos
          de retenciones, comisiones, plazos y
          formas de pago.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar,
          Adicionar y Detalle. Adicionalmente, cuenta con un filtro de
          b&uacute;squeda</p>
        <p class="TITLE"><img src="../img/AEF_015B.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden
          realizar consultas a trav&eacute;s
          de las siguientes opciones:</p>
        <p class="center"><img src="../img/AEF_015B1.PNG"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</p>
            </td>
            <td>
              <p>Campo num&eacute;rico de 3 d&iacute;gitos, en el que se
                registra el c&oacute;digo de los productos
                ofrecidos por los establecimientos.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se diligencia la
                informaci&oacute;n asociada al c&oacute;digo del producto
                ofrecido. <span class="style2"></p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca </p>
            </td>
            <td>
              <p>Campo obligatorio, con lista de valores de la cual se
                selecciona la <a
                  href="NUH_033B.html">franquicia</a> respectiva.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Servicio</p>
            </td>
            <td>
              <p>Campo con lista de valores poblada de la opci&oacute;n <a
                  href="ESH_002B.html">Tipos de
                  servicio</a>, de la cual se selecciona la clase de servicio
                ofrecida por los establecimientos,
                que se est&aacute; parametrizando.</p>
            </td>
          </tr>
        </table>
        <p><span
            class="SUBTITULO">Adicionar:</span></span>
            Si el usuario invoca la
            opci&oacute;n Adicionar se despliega un nuevo formulario. </span>
          Este a su vez cuenta con un boton de
          localizaci&oacute;n. </p>
        <p class="TITLE"><img src="../img/AEF_015B2.PNG"></p>
        <p class="TITLE"><img src="../img/AEF_015B3.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</p>
            </td>
            <td>
              <p>Campo num&eacute;rico de 3 d&iacute;gitos, obligatorio, en el
                que se registra el c&oacute;digo de los
                productos ofrecidos por los establecimientos.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se diligencia la
                informaci&oacute;n asociada al c&oacute;digo del producto
                ofrecido. <span class="style2"></p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio, con lista de valores de la
                cual se selecciona la <a
                  href="NUH_033B.html">franquicia</a> respectiva.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Servicio</p>
            </td>
            <td>
              <p class="PARRAFO">Campo con lista de valores poblada de la
                opci&oacute;n <a href="ESH_002B.html">Tipos
                  de servicio</a>, de la cual se selecciona la clase de servicio
                ofrecida por los establecimientos,
                que se est&aacute; parametrizando.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Derecho propina </p>
            </td>
            <td>
              <p>Indicador por tipo de servicio prestado, si los
                establecimientos asociados a &eacute;ste tienen o no
                derecho a la liquidaci&oacute;n y cobro de propina.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Propina m&aacute;xima </p>
            </td>
            <td>
              <p>Campo num&eacute;rico de 9 posiciones no obligatorio, en el que
                se registra el valor porcentual
                m&aacute;ximo o tope para el cobro de propina acordado por la
                franquicia.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tolerancia Propina </p>
            </td>
            <td>
              <p>En este campo num&eacute;rico de 9 posiciones no obligatorio,
                se registra el valor absoluto m&aacute;ximo
                acordado entre el emisor y el operador (franquicia) en que puede
                excederse el monto de comisi&oacute;n
                cobrado.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisi&oacute;n</p>
            </td>
            <td>
              <p>Opci&oacute;n que permite definir de manera excluyente si el
                valor relacionado en los campos
                Comisi&oacute;n DB / CR / Visa Cash / Electro ubicados a
                continuaci&oacute;n, corresponde a un
                Porcentaje o un Valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Comisi&oacute;n DB / CR / Visa C /
                Electr&oacute;n</p>
            </td>
            <td>
              <p>Campo num&eacute;rico de 18 d&iacute;gitos no obligatorio, en
                el que se registra el valor absoluto o
                porcentual a descontar a productos d&eacute;bito,
                cr&eacute;dito, Visa Cash y Electr&oacute;n
                respectivamente, a manera de comisi&oacute;n a los
                establecimientos por transacciones en ellos realizadas
                con estos productos. Si no se define un valor el sistema asigna
                el valor que por defecto presente el nivel
                de tipo de servicio o en su ausencia el valor determinado por la
                franquicia.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Forma pago </p>
            </td>
            <td>
              <p>Campo con lista propia de valores de la cual se selecciona la
                que corresponda a la manera como se
                efectuar&aacute; el pago a los establecimientos y que puede ser
                Solo comprobante, Pago
                compensaci&oacute;n, Pago en cheque, Cuenta corriente o Cuenta
                de ahorros</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Frecuencia pago </p>
            </td>
            <td>
              <p>Este campo cuenta con lista propia de valores de la que se
                selecciona entre Mensual, Quincenal,
                Semanal, Diario y Otro la opci&oacute;n que corresponda a la
                frecuencia con la que se
                har&aacute;n los pagos a los establecimientos.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">D&iacute;a</span></p>
            </td>
            <td>
              <p>Cuando en el campo anterior se ha seleccionado la opci&oacute;n
                Otro en este espacio se indica
                el d&iacute;a del mes en el que se efectuar&aacute; el pago al
                establecimiento.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Plazo consignaci&oacute;n
                  </span></p>
            </td>
            <td>
              <p>Campo que registra el plazo en d&iacute;as para efectuar la
                consignaci&oacute;n de los comprobantes por
                parte de los establecimientos.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Retenci&oacute;n</p>
            </td>
            <td>
              <p class="PARRAFO">Campo no obligatorio que despliega lista de
                valores con las opciones nulo, si o no; el
                cual el usuario aplicara seg&ugrave;n la operaci&oacute;n que
                realice el establecimiento.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo exclusi&oacute;n
                  retenci&oacute;n </span>iva e ica </p>
            </td>
            <td>
              <p>En este campo se registra en caso que no se aplique
                retenci&oacute;n en la fuente, reteiva o reteica el
                <a href="ESH_003B.html">motivo de exoneraci&oacute;n</a>.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje base retenci&oacute;n
                </span>en la fuente reteiva y reteica
              </p>
            </td>
            <td>
              <p>Permite definir el valor porcentual a aplicar y calcular sobre
                los consumos (u otros conceptos
                asimilables), sobre cuyo resultado se liquidar&aacute; el
                impuesto de retenci&oacute;n en la fuente,
                reteiva y reteica.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje retenci&oacute;n
                </span>reteiva y reteica </p>
            </td>
            <td>
              <p>Campo en el que se registra el valor porcentual de la tasa a
                aplicar por retenci&oacute;n en la fuente,
                reteiva y reteica sobre el resultado del porcentaje base
                definido en el campo anterior. </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Retenci&oacute;n iva </span>e ica </p>
            </td>
            <td>
              <p>Campos en los que se indica Si (casilla marcada) o No (casilla
                sin marcar) aplica la
                retenci&oacute;n en la fuente, del IVA y del ICA.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span
            class="SUBTITULO">Actualizar:</span></span> Si el
            usuario
            invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
            en el cual </span>los </span> &uacute;nicos campos no
            modificables </span>
          son:</span> C&oacute;digo, Marca y Servicio. Por otro lado al
          ingresar al boton de localizaci&oacute;n,
          todos los campos son modificables. </p>
        <p class="TITLE"><img src="../img/AEF_015B4.PNG"></p>
        <p class="TITLE"><img src="../img/AEF_015B5.PNG"></p>
        <p><span
            class="SUBTITULO">Detalle</span>:</span></span> Si
            el usuario invoca la
            opci&oacute;n </span>Detalle</span> se despliega
          </span>el
            siguiente</span> formulario</span> .</p>
        <p class="TITLE"><img src="../img/AEF_015B6.PNG"></p>
        <p>De igual manera se despliega el siguiente formulario al oprimir el
          bot&oacute;n de localizaci&oacute;n.</p>
        <p class="TITLE"><img src="../img/AEF_015B7.PNG"></p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>