<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Regiones</p>
              </div>
            </td>
          </tr>

        </table>
        <p>Con el fin de facilitar a la entidad la labor de seguimiento de las
          visitas y actividades que es necesario
          programar y efectuar a los establecimientos, esta forma permite
          conformar y definir espacios geogr&aacute;ficos
          que ayuden en esa labor.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar,
          y Adicionar. Adicionalmente, cuenta con un filtro de
          b&uacute;squeda</p>
        <p class="TITLE"><img src="../img/AEF_001B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden
          realizar consultas a trav&eacute;s
          de las siguientes opciones:</p>
        <p class="center"><img src="../img/AEF_001B3.PNG"></p>
        <p class="center"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de tres d&iacute;gitos, que contiene
                el c&oacute;digo asignado a cada Regi&oacute;n. </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanum&eacute;rico de 30 posiciones, que
                registra
                el nombre de la regi&oacute;n asociada a cada c&oacute;digo.
              </p>
            </td>
          </tr>
        </table>
        <p><span
            class="SUBTITULO">Adicionar:</span></span>
            Si el usuario invoca la
            opci&oacute;n Adicionar se despliega un nuevo formulario. </span>
        </p>
        <p class="TITLE"><img src="../img/AEF_001B1.PNG"></p>

        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que
                contiene
                el c&oacute;digo asignado a cada Regi&oacute;n.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se
                registra
                el nombre de la regi&oacute;n asociada a cada c&oacute;digo.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span
            class="SUBTITULO">Actualizar:</span></span>
            Si el
            usuario invoca la opci&oacute;n Actualizar se despliega un nuevo
            formulario
            en el cual el &uacute;nico campo modificable es
            Descripci&oacute;n.</span>
        </p>
        <p class="TITLE"><img src="../img/AEF_001B2.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

  </html>