<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Consulta de visitas </p>
              
        <p class="PARRAFO">Mediante esta función se provee una
          herramienta que permite la segmentación de
          los comercios, por medio de la
          creación de grupos de información sobre los
          establecimientos
          de acuerdo con los criterios de selección que la entidad estime
          necesarios. </p>
        <p class="PARRAFO">Se puede consultar de dos formas: seleccionando la
          opción Todos,
        </span>o</span> , segmentando por alguna de las opciones
        desplegadas. Al momento de seleccionar el
        radiobutton, se habilita como obligatorio el diligenciamiento del campo.
      </p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden
        realizar
        consultas a través de las siguientes opciones: </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_006B.PNG"></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Establecimientos
            </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de 11 digitos, en el que se indica el código del
              establecimiento que se desea
              incluír o excluir de la segmentación a efectuar.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Candidatos</p>
          </td>
          <td>
            <p class="PARRAFO">Campo de 8 digitos
              que ilustra aquellos establecimientos que han solicitado su
              vinculación al sistema y con los cuales
              es necesario inciciar un proceso de selección. Tambien es
              diligenciable por medio de lista de
              valores. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Solicitudes</p>
          </td>
          <td>
            <p class="PARRAFO">Campo de 6 digitos que identifica el numero de
              solicitud con el cual se ha realizado el
              trámite de visita.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Zonas:</span> Se pueden realizar
        consultas a través de las siguientes opciones:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Región</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico de tres dígitos, que contiene
              el código asignado a cada Región. Se puede
              diligenciar de forma manual o desplazando la
              lista de valores.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sub división </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico, que contiene
              el código asignado a cada Sub división. Se
              diligencia desplazando la lista de valores.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Ubicación</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio, diligenciable según la
              información contenida en el campo
              Sub división , en esta se diligencian los datos contenidos
              en la tabla <span
                class="style2"><a href="NUH_003B.html">Información
                  geopolitica</a>. </span>
            </td>
          </tr>
        </p>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Zona</p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de 2 dígitos, en el
              cual se registra el código
              asignado por la entidad a cada una de las zonas que conforman las
              subdivisiones.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Funcionarios</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de 8 digitos diligenciable manualmente o por medio de lista de
              valores. Alli la entidad financiera
              almacena los principales datos básicos de todos sus
              colaboradores, que estén relacionados
              con las actividades de visitas a establecimientos. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Fecha de programación :</span> Se pueden
        realizar
        consultas a través de las siguientes opciones:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha inicial </p>
          </td>
          <td>
            <p class="PARRAFO">Fecha en la cual se pretende iniciar el ciclo de
              visitas a cada uno de los
              establecimientos. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha final </p>
          </td>
          <td>
            <p class="PARRAFO">Fecha en la cual se pretende finalizar el ciclo
              de visitas a cada uno de los
              establecimientos. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Fecha de visita :</span> Se pueden realizar
        consultas a través de las siguientes opciones:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha inicial </p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el cual se diligencia la fecha de
              ejecución inicial de las visitas a los
              comercios. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha final </p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el cual se diligencia la fecha de
              ejecución final de las visitas a los
              comercios. </p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">El sistema muestra el siguiente formulario de
        acuerdo a los datos ingresados en el filtro. Este formulario cuenta con
        la
        opción Actividades de visita .</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_006B1.PNG"></p>
      <p class="PARRAFO"><span class="SUBTITULO">Actividades de visita :</span>
        Esta opción muestra las
        actividades que la entidad tiene programada para el comercio al momento
        de realizar su visita. Asi mismo
        visualiza el estado de la actividad dependiendo su ejecución.
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_006B2.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>
  </body>
  <div id="footerContainer"></div>
  <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>