<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>
  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE style6">Creaci&oacute;n de visitas de establecimientos</p>
            </div>
          </td>
        </tr>

      </table>
      <p>Cuando el usuario selecciona esta opci&oacute;n, el sistema despliega un wizard de dos pasos. En el primero de
        ellos se seleccionan los Establecimientos, con su respectiva informaci&oacute;n, a los cuales se les
        realizar&aacute; la visita seg&uacute;n las actividades que la entidad ha establecido. El siguiente formulario
        corresponde a Resumen. <a href="#Fechavisita"></a></p>
      <p>Los bloques y la informaci&oacute;n del primer paso del wizard son:</p>
      <p>Establecimientos:</p>
      <p class="TITLE"><img src="../img/AEF_005B.PNG" 748"></p>
      <p><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a trav&eacute;s
        de las siguientes opciones:</p>
      <p class="TITLE"><img src="../img/AEF_005B1.PNG" 747" ></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><span>C&oacute;digo</span></p>
          </td>
          <td>
            <p>Campo num&eacute;rico de m&aacute;ximo 8 d&iacute;gitos, en el que se registra el c&oacute;digo asignado
              a cada uno de los establecimientos. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>Nombre</span></span></b></p>
          </td>
          <td>
            <p>Este campo alfanum&eacute;rico de 30 posiciones, permite ingresar el nombre del establecimiento asociado
              con el c&oacute;digo anterior.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>Regi&oacute;n</span></span></b></p>
          </td>
          <td>
            <p>Campo
              alfanum&eacute;rico de tres d&iacute;gitos, que contiene
              el c&oacute;digo asignado a cada Regi&oacute;n. Se puede diligenciar de forma manual o desplazando la
              lista de valores.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>Sub divisi&oacute;n </span></span></b></p>
          </td>
          <td>
            <p>Campo
              alfanum&eacute;rico, que contiene
              el c&oacute;digo asignado a cada Sub divisi&oacute;n. Se diligencia desplazando la lista de valores.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>Ubicaci&oacute;n</span></span></b></p>
          </td>
          <td>
            <p>Campo obligatorio, diligenciable seg&uacute;n la informaci&oacute;n contenida en el campo Sub
                divisi&oacute;n , en esta se diligencian los datos contenidos en la tabla <span class="style2"><a
                  href="NUH_003B.html">Informaci&oacute;n geopolitica</a>. </span></p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>C&oacute;digo de zona </span></span></b></p>
          </td>
          <td>
            <p>Campo num&eacute;rico de 2 d&iacute;gitos, en el cual se registra el c&oacute;digo asignado por la
              entidad a cada una de las zonas que conforman las subdivisiones.</p>
          </td>
        </tr>
      </table>
      <p>Resumen<a></a>:</p>
      <p class="PARRAFO">Corresponde al segundo paso del Wizard, en el cual el usuario selecciona los establecimientos a
        ser visitados.</p>
      <p class="TITLE"><img src="../img/AEF_005B2.PNG" > El formulario cuenta con botones en la parte
        inferior derecha que le permiten al usuario  Retroceder y Avanzar al anterior o siguiente paso
        del wizard.</p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<footer>
  <div>
    <img class="TITLE" src="../img/logo.PNG">
  </div>
  <p>OpenCard SAS</p>
  <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
  <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>
</footer>
</html>