<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
      
        <p class="TITLE">Creación de visitas de
                  establecimientos</p>
           
        <p class="PARRAFO">Cuando el usuario selecciona esta opción, el sistema despliega
          un wizard de dos pasos. En el primero de
          ellos se seleccionan los Establecimientos, con su respectiva
          información, a los cuales se les
          realizará la visita según las actividades que la entidad
          ha establecido. El siguiente formulario
          corresponde a Resumen. <a href="#Fechavisita"></a></p>
        <p class="PARRAFO">Los bloques y la información del primer paso del wizard
          son:</p>
        <p class="PARRAFO">Establecimientos:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_005B.svg"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través
          de las siguientes opciones:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_005B1.svg"></p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de máximo 8 dígitos, en el
                que se registra el código asignado
                a cada uno de los establecimientos. </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</span></p>
            </td>
            <td>
              <p class="PARRAFO">Este campo alfanumérico de 30 posiciones, permite
                ingresar el nombre del establecimiento asociado
                con el código anterior.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Región</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de tres dígitos, que contiene
                el código asignado a cada Región. Se puede
                diligenciar de forma manual o desplazando la
                lista de valores.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Sub división
                  </span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico, que contiene
                el código asignado a cada Sub división. Se
                diligencia desplazando la lista de valores.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p
                class="SUBTITULO">Ubicación</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio, diligenciable según la
                información contenida en el campo Sub
                división , en esta se diligencian los datos contenidos en
                la tabla <span class="style2"><a
                    href="NUH_003B.html">Información geopolitica</a>.
                </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código de zona
                  </span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 2 dígitos, en el cual se
                registra el código asignado por la
                entidad a cada una de las zonas que conforman las
                subdivisiones.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO">Resumen<a></a>:</p>
        <p class="PARRAFO">Corresponde al segundo paso del Wizard, en el cual el
          usuario selecciona los establecimientos a
          ser visitados.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/AEF_005B2.svg"> El formulario cuenta
          con botones en la parte
          inferior derecha que le permiten al usuario Retroceder y Avanzar al
          anterior o siguiente paso
          del wizard.</p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>