<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>
  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Liquidaci&oacute;n de comisiones </p>
        
        <p>Una vez finalizadas las tareas por cada promotor, llega el momento de
          realizar la liquidaci&oacute;n correspondiente de los valores
          devengados por la culminaci&oacute;n de sus tareas, y las respectivas
          deducciones que se deben aplicar, todo esto de acuerdo con los
          par&aacute;metros establecidos. Esta funci&oacute;n permite conocer
          detalladamente las actividades asignadas a cada funcionario promotor.
        </p>
        <p>El formulatio inicial muestra la informaci&oacute;n correspondiente a
          los funcionarios promotores sobre quienes se realizar&aacute; la
          liquidaci&oacute;n de sus valores devengados.</p>
        <p class="PARRAFO">El formulario cuenta con las opciones de Actividades,
          Liquidaci&oacute;n; y cuenta con un filtro que permite filtrar a
          trav&eacute;s del campo Promotor.</p>
        <p class="TITLE"><img src="../img/APF_007B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Actividades:</span> En este
          espacio consultan las actividades asignadas a cada funcionario
          promotor y su respectivo estado.</p>
        <p class="TITLE"><img src="../img/APF_007B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Fecha</p></td>
            <td class="PARRAFO"><p>Corresponde a la fecha en que ingres&oacute;
                determinada solicitud a determinado estado.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                  finalizaci&oacute;n </p></td>
            <td class="PARRAFO"><p>Campo en formato YYYY-MM-DD con la cual
                finaliz&oacute; la gesti&oacute;n de la actividad.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Secuencia
                  asignaci&oacute;n </p></td>
            <td class="PARRAFO"><p>N&uacute;mero secuencial que el sistema
                otorga a cada tarea asignada.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Actividad</p></td>
            <td class="PARRAFO"><p>Este campo muestra el c&oacute;digo y la
                descripci&oacute;n de la tarea asignada al funcionario promotor
                sobre la cual se liquidar&aacute;n los valores devengados de
                acuerdo con los par&aacute;metros.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Estado</p></td>
            <td class="PARRAFO"><p>En este campo se muestra el estado final de
                la actividad siendo la base para liquidaci&oacute;n de
                comisiones y/o bonificaciones.</p></td>
          </tr>
        </table>

        <p>Liquidaci&oacute;n:Una vez la entidad conoce las actividades y el
          estado de las misma procede a su liquidaci&oacute;n lo que implica el
          abono de los valores devengados por el funcionario promotor. </p>
        <p class="TITLE"><img src="../img/APF_007B1.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha</span>
                liquidaci&oacute;n </p></td>
            <td class="PARRAFO"><p>Campo en formato YYYY-MM-DD que informa
                acerca del momento en que se realiz&oacute; la
                liquidaci&oacute;n para pago de las tareas terminadas por el
                funcionario promotor. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                    comisi&oacute;n </p></td>
            <td class="PARRAFO"><p>Muestra el total devengado por el promotor
                por concepto de comisiones por la terminaci&oacute;n de las
                tareas asignadas. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                  bonificaci&oacute;n </p></td>
            <td class="PARRAFO"><p>Indica del valor total devengado por el
                funcionario promotor por la culminaci&oacute;n de actividades de
                determinada solicitud que fueron definidas como cumplimiento de
                metas.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                    deducciones </p></td>
            <td class="PARRAFO"><p>Este campo registra el total de los <a
                  href="APH_004B.html">descuentos</a> que se aplicar&aacute;n al
                promotor los cuales est&aacute;n directamente relacionados con
                los conceptos definidos para tal fin.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor neto
                  </p></td>
            <td class="PARRAFO"><p>Presenta el total devengado por el
                funcionario promotor luego de realizar el c&aacute;lculo
                matem&aacute;tico del total de sus comisiones y bonificaciones
                menos el total de las deducciones.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Estado
                  liquidaci&oacute;n </p></td>
            <td class="PARRAFO"><p>Informa acerca del abono al funcionario
                promotor, el campo provee de una lista valores los cuales son:
                Pagado, informa si el valor calculado ya fue abonado al
                funcionario promotor o Generado que indica si a&uacute;n no se
                ha realizado el abono sino que por el contrario s&oacute;lo se
                han hechos los c&aacute;lculos de los valores por
                abonar.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha pago
                </p></td>
            <td class="PARRAFO"><p>En el caso que el campo inmediatamente
                anterior indique que el estado de la liquidaci&oacute;n es
                &lsquo;pagado&rsquo;, entonces este campo informa la fecha en la
                que ocurri&oacute; tal evento.</p></td>
          </tr>
        </table>

        <p><span class="style2">Botones de selecci&oacute;n: </span> Permite
          marcar o desmarcar de manera simult&aacute;nea todos los agentes
          promotores a los que se les realizar&aacute; la liquidaci&oacute;n de
          las comisiones y/o bonificaciones a que haya lugar.</p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>