<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Comisiones y metas - Metas sin promoción
                </p>
              
        <p class="PARRAFO">Metas sin promoción:En este espacio se registran los ingresos
          que devengarán los
          promotores por cumplir la meta de finalizar las tareas asignadas
          durante un período de tiempo esperado y
          sobre productos que no pertenecen a ninguna promoción de
          colocación. Los parámetros que se
          definan en este espacio sumarán en la liquidación de
          ingresos a los promotores con las comisiones
          definidas en el bloque productos las cuales corresponden a comisiones
          propiamente dichas, y las de esta
          carpeta que corresponden a bonificaciones por cumplimiento de metas,
          las cuales responden a un objetivo
          diferente y específico.</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Eliminar,
          Adicionar y Bonificaciones.</p>
        <p class="TITLE"><img src="../img/APF_002B10.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar ese enlace se despliega un formulario:</p>
        <p class="TITLE"><img src="../img/APF_002B11.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha inicial </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en formato YYYY-MM-DD, obligatorio, en el
                que se define el momento de inicio del período
                para el cumplimiento de metas. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha final </p>
            </td>
            <td>
              <p class="PARRAFO">En este campo en formato YYYY-MM-DD,
                obligatorio, se define el momento de finalización del
                período para el cumplimiento de metas.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Bonificaciones:</p>
        <p class="TITLE"><img src="../img/APF_002B12.PNG"></p>

        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar, Adicionar y Detalle.</p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar ese enlace se despliega un formulario:</p>
        <p class="TITLE"><img src="../img/APF_002B13.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Base bonificación </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en el que se define cual será la
                base sobre la cual se liquidará el incentivo a los
                promotores por finalización de tareas en el tiempo
                previsto y que puede estar dada en
                términos de número de Tarjetas, o como Cupos
                correspondiente al monto
                aprobado de los productos.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo bonificación </p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">Este campo le otorga la característica
                al registro, de permitir o no la
                definición de rangos. La opción valor, expresa que
                no pertenece a una
                condición de inicio y fin, sino a un único valor;
                mientras que la opción rango
                expresa que se delimita el valor de inicio y el valor final para
                que el promotor devengue el incentivo de
                acuerdo con los parámetros de base y período
                establecido para el cumplimiento de la meta.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Rango inicial </p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 12 posiciones enteras
                y 2 decimales, obligatorio, en el que se registra el valor
                de inicio (tarjetas o cupos) a tener en cuenta en el momento de
                la liquidación de bonificaciones a
                promotores por la finalización de las tareas dentro del
                período de tiempo esperado. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Rango final </p>
            </td>
            <td>
              <p class="PARRAFO">Si en Tipo Bonificación se define que es
                un rango, entonces este campo numérico de
                12 posiciones enteras y 2 decimales se habilita y se vuelve
                obligatorio; en él se registra el valor
                límite (tarjetas o cupos) a tener en cuenta en el momento
                de la liquidación de
                bonificaciones a promotores por la finalización de las
                tareas dentro del período de tiempo
                esperado. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modo bonificación </p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">Campo con lista de valores de la cual la
                entidad selecciona la manera cómo
                aplicará la bonificación del promotor por la tarea
                terminada y que puede ser un
                Porcentaje o un Valor absoluto.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor bonificación </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo se activa cuando en el campo modo
                bonificación se ha seleccionado la
                opción valor y en él se registra el monto del
                mismo; indica que por la tarea
                terminada sobre cada producto definido, el promotor devenga
                determinado valor.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Moneda</p>
            </td>
            <td>
              <p class="PARRAFO">Al igual que el anterior, este campo se activa
                cuando en modo bonificación se ha elegido
                la opción valor, y en el se selecciona a través de
                la lista de valores la <a
                  href="NUH_005B.html">Moneda</a> en la cual se expresa el valor
                de la bonificación.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje</span></p>
            </td>
            <td>
              <p class="PARRAFO">Cuando en el campo modo comisión, se
                selecciona la opción porcentaje,
                este campo se activa para permitir registrar la cifra respectiva
                a aplicar sobre el monto de cupo aprobado
                de cada producto definido del cual se ha finalizado la tarea,
                siendo este el valor de la
                bonificación.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> Si el usuario
          invoca la opción Actualizar se despliega un formulario en
          cual
          los únicos campos modificables son los siguientes:</p>
        <p class="TITLE"><img src="../img/APF_002B14.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario
          invoca
          la opción Detalle se despliega el siguiente formulario.

          </p>
        <p class="TITLE"><img src="../img/APF_002B15.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>