<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Deducciones</p>
              
        <p class="PARRAFO">De acuerdo con los ingresos (comisiones y bonificaciones) devengados
          por los promotores, la legislación
          define varios conceptos a descontar sobre esos valores y/o los que la
          entidad considere susceptibles de
          deducción. Mediante esta función se habilita el
          mantenimiento correspondiente a los montos y bases
          a tomar en cuenta para la liquidación de dichos descuentos.</p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El formulario
          cuenta
          con un filtro inicial de búsqueda, necesario para la consulta
          de la
          información:</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_003B1.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanumérico de 4 posiciones que
                permite filtrar por la tarea a realizar en una etapa
                definida.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo alfanumérico de hasta 30
                posiciones en el cual se puede ingresar un palabra clave
                para realizar la búsqueda.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modo de deducción </p>
            </td>
            <td>
              <p class="PARRAFO">Campo con lista de valores adjunta que permite
                buscar por el modo de descuento.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO">Este formulario contiene los enlaces: Actualizar,
          Eliminar,
          Adicionar y Detalle</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_003B.PNG" 771"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar ese enlace se despliega un formulario:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_003B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanumérico de 3 posiciones,
                obligatorio, que identifica cada uno de los conceptos a ser
                descontado de los valores devengados por los promotores.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p
                class="SUBTITULO">Descripción</span></p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">En este campo alfanumérico de 30
                posiciones, obligatorio, se registra el nombre
                asociado al concepto por el cual se realizará la
                deducción de los valores devengados por los
                promotores. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modo comisión </p>
            </td>
            <td>
              <p class="PARRAFO">De acuerdo con la lista de valores adjunta la
                entidad selecciona entre Porcentaje o
                Valor el modo cómo se liquidarán los descuentos a
                cada promotor, es decir, si la
                liquidación del descuento a aplicar sobre el total
                devengado (comisiones y bonificaciones) se
                hará con base en un porcentaje o un valor absoluto.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor</span></p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">Este campo se activa cuando en el campo modo
                descuento se ha seleccionado la
                opción valor y en él se registra el monto del
                mismo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Moneda</span></p>
            </td>
            <td>
              <p class="PARRAFO">Al igual que el anterior, este campo se activa
                cuando en modo descuento se ha elegido la
                opción valor, y en el se selecciona a través de la
                lista de valores la <a
                  href="NUH_005B.html">Moneda</a> en la cual se expresa el valor
                del descuento.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje</p>
            </td>
            <td>
              <p class="PARRAFO">Este campo se activa en el caso que la entidad
                defina que el concepto a deducir se liquidará a
                través de un porcentaje y en él se determina la
                cifra del mismo. </p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> Si el usuario
          invoca la opción Actualizar se despliega un formulario en
          cual
          los únicos campos modificables son los siguientes:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_003B3.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario
          invoca
          la opción Detalle se despliega el siguiente formulario.

          </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_003B4.PNG"></p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>