<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        <p class="TITLE">Comisiones y metas</p>
              
        <p class="PARRAFO">Mediante esta función es posible asignar por cada producto,
          promoción o meta, los valores que
          devenga el agente o promotor por la culminación de sus
          tareas.</p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El formulario
          cuenta
          con un filtro inicial de búsqueda, necesario para la consulta
          de la
          información:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_001B1.PNG" ></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanumérico de 4 posiciones que
                permite filtrar por la tarea a realizar en una etapa
                definida.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo alfanumérico de hasta 30
                posiciones en el cual se puede ingresar un palabra clave
                para realizar la búsqueda.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Plazo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 3 dígitos que
                permite buscar por el plazo de la actividad. </p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO">Adicionalmente, contiene las opción Productos:
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_002B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Productos:</span> En este
          espacio se definen los productos (Bin,
          Producto, Grupo de afinidad) sobre los cuales los promotores
          obtendrán ingresos por tarea concluida.</p>
        <p class="PARRAFO">Este formulario contiene los enlaces: Actualizar,
          Eliminar,
          Adicionar y Detalle; sumadas a las opciones de <a
            href="APH_002B1.html" rel="noopener" target="_self">Comisiones</a>, <a
            href="APH_002B2.html" rel="noopener" target="_self">Metas sin promoción</a>,
          y <a href="APH_002B3.html"
            rel="noopener" target="_self">Metas con promoción</a>. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_002B2.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar ese enlace se despliega un formulario:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_002B4.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Producto</p>
            </td>
            <td>
              <p class="PARRAFO">Esta campo contiene una lista de valores con
                los productos definidos previamente por la entidad en la
                opción <a href="MEH_002B.html">Productos</a> del
                módulo Mercadeo, de la cual se
                seleccionan aquellos sobre los cuales comisionarán los
                promotores por concluir determinada tarea o
                actividad asignada.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modo comisión </p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">Campo con lista propia de valores de la cual la
                entidad selecciona la manera cómo
                aplicará la comisión del promotor por la tarea
                terminada y que puede ser un
                Porcentaje o un Valor absoluto.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor comisión </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo se activa cuando en el campo modo
                comisión se ha seleccionado la opción
                valor y en él se registra el monto del mismo; indica que
                por la tarea terminada sobre cada
                producto definido, el promotor devenga determinado valor.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Moneda</p>
            </td>
            <td class="PARRAFO">
              <p class="PARRAFO">Al igual que el anterior, este campo se activa
                cuando en modo comisión se
                ha elegido la opción valor, y en él se selecciona
                a través de la lista de
                valores la <a href="NUH_005B.html">Moneda</a> en la cual se
                expresa el valor de la
                comisión.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje</p>
            </td>
            <td>
              <p class="PARRAFO">Cuando en el campo modo comisión, se
                selecciona la opción porcentaje,
                este campo se activa para permitir registrar la cifra respectiva
                a aplicar sobre el monto de cupo aprobado
                de cada producto definido del cual se ha finalizado la tarea,
                siendo este el valor de comisión
                devengado.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> Si el usuario
          invoca la opción Actualizar se despliega un formulario en
          cual
          los únicos campos modificables son los siguientes:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_002B5.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario
          invoca
          la opción Detalle se despliega el siguiente formulario.

          </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_002B6.PNG"></p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>