<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        
                <p class="TITLE">Actividades finalizadas</p>
              
        <p class="PARRAFO">A través de esta opción el sistema permite realizar la
          consulta detallada de aquellas actividades que ya han sido
          finalizadas. </p>
        <p class="PARRAFO">El formulario cuenta con las opciones Detalle y un
          filtro que permite buscar a través de la Actividad. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_009B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario invoca
          la opción Detalle se despliega el siguiente formulario.

          </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APF_005B2.PNG"></p>

        <p class="PARRAFO"><em class="SUBTITULO">Generar liquidación<span
              class="SUBTITULO">:</span> A través de estos botones, el
            sistema permite generar liquidación para todas las
            actividades o sólo para aquellas que hayan sido
            seleccionadas. </p>
        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>