<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>
    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Actividades finalizadas</p>
                    </div></td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta opci&oacute;n el sistema permite realizar la consulta detallada de aquellas actividades que ya han sido finalizadas. </p>
            <p class="PARRAFO">El formulario cuenta con las opciones  Detalle y un filtro que permite buscar a trav&eacute;s de la Actividad. </p>
            <p class="TITLE"><img src="../img/APF_009B.PNG"></p>
            
            <p><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca 
              la opci&oacute;n Detalle se despliega el siguiente formulario.<span
              >
                
              </span></p>
            <p class="TITLE"><img src="../img/APF_005B2.PNG"></p>
            
            <p><em class="SUBTITULO">Generar liquidaci&oacute;n<span class="SUBTITULO">:</span>  A trav&eacute;s de estos botones, el sistema permite generar liquidaci&oacute;n para todas las actividades o s&oacute;lo para aquellas que hayan sido seleccionadas. </p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>