<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>
        
                <p class="TITLE">Saldos de cartera</p>
              
        <p class="PARRAFO">Mediante esta función la entidad conoce
          información acerca de la maduración de su cartera a una
          fecha determinada de acuerdo con las variables sucursal, marca,
          líneas de crédito, categorias de clientes, monedas y
          productos. La información reflejada permite a la entidad hacer
          un control sobre la calidad en la colocación de productos en el
          mercado de acuerdo con las variables que desee evaluar.</p>
        <p class="PARRAFO">El formulario contiene la opción Detalle.
          Adicionalmente, cuenta con un filtro de búsqueda
          y las opciones: <a href="#Lineas">Líneas de crédito</a>,
          <a href="#Categorias">Categorias de clientes</a>, <a
            href="#Monedas">Monedas</a>, <a href="#Productos">Productos</a>, <a
            href="#Bines">Bines</a>, <a href="#Segmentos">Segmentos</a> y <a
            href="#Grupos">Grupos de afinidad</a>.</p>
        <p class="TITLE"><img src="../img/CAF_001B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través
          de las siguientes opciones:</p>
        <p class="TITLE"><img src="../img/CAF_001B1.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                  actualización</p></td>
            <td><p class="PARRAFO">Este campo obligatorio, en formato
                YYYY-MM-DD, permite a la entidad consultar la información
                desplegada para una fecha de facturación
                determinada.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Secuencia</p></td>
            <td><p class="PARRAFO">Campo obligatorio, en el que se ingres un a
                dato numérico de 3 dígitos, que corresponde al
                número de veces que se ha corrido el proceso de
                actualización en determinada fecha.</p></td>
          </tr>
          <tr>
            <td class="titletable"><span class="SUBTITULO ">Marca</span></td>
            <td><p class="PARRAFO">En este campo se selecciona de la lista de valores adjunta,
                la <a href="NUH_033B.html">franquicia </a> que se desea
                consultar.</p></td>
          </tr>
          <tr>
            <td class="titletable"><span class="SUBTITULO ">Sucursal</span></td>
            <td class="PARRAFO">En este campo que contiene lista de valores
              poblada a través de la opción <a
                href="NUH_020B.html">Estructura organizacional</span></a>,
              se selecciona la sucursal que se desea consultar.</td>
          </tr>
          <tr>
            <td><b class="SUBTITULO">Intereses causados </td>
              <td class="PARRAFO">Cuando se marca este campo, el sistema
                despliega la información correspondiente a los intereses
                generados de las tarjetas radicadas en las diferentes
                sucursales.</td>
            </tr>
          </table>

          <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO"><a
                  name="Detalle"></a>Detalle:</span> Cuando el usuario invoca
              esta opción se despliega un formulario con</span> los
            valores absolutos y porcentuales tanto por saldos como por cantidad,
            para cada concepto desplegado. Estos valores corresponderán a
            todas las tarjetas asociadas a la opción seleccionada por el
            usuario.</p>
          <p class="PARRAFO">Los campos de este formulario son comunes para
            todas las opciones habilitadas en la parte superior.</p>
          <p class="TITLE"><img src="../img/CAF_001B1-Detalle.PNG"></p>

          <p class="TITLE"><a name="Lineas"></a>Líneas de
            crédito</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por <a href="MEH_001B4.html">líneas de
              crédito</a>. Este formulario cuenta con la opción <a
              href="#Detalle">Detalle</a> y con un botón para devolverse
            a la página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B2.PNG"666"></p>
          <p class="TITLE"><a name="Categorias"></a>Categorias de clientes</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por las diferentes <a href="NUH_094B.html">categorias de
              clientes</a>. Este formulario contiene la opción <a
              href="#Detalle">Detalle</a>. Adicionalmente, cuenta con un filtro
            de búsqueda y con un botón para devolverse a la
            página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B3.PNG"></p>
          <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas
            a través
            de la siguiente opción:</p>
          <p class="TITLE"><img src="../img/CAF_001B4.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Categoria de
                    cliente</p></td>
              <td><p class="PARRAFO">En este campo se selecciona de la lista de
                  valores adjunta, la <a href="NUH_094B.html">categoria de
                    cliente</a> para la cual se desean consultar los saldos.
                </p></td>
            </tr>
          </table>
          <p class="TITLE"><a name="Monedas"></a>Monedas</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por las diferentes <a href="NUH_005B.html">monedas</a>.
            Este formulario cuenta con la opción <a
              href="#Detalle">Detalle</a> y con un botón para devolverse
            a la página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B5.PNG"></p>

          <p class="PARRAFO"><a name="Productos"></a><span class="TITLE">Productos</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por los diferentes <a
              href="MEH_002B.html">productos</a>. Este formulario contiene la
            opción <a href="#Detalle">Detalle</a>. Adicionalmente, cuenta
            con un filtro de búsqueda y con un botón para
            devolverse a la página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B6.PNG"></p>
          <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas
            a través
            de la siguiente opción:</p>
          <p class="TITLE"><img src="../img/CAF_001B7.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO">Producto</p></td>
              <td><p class="PARRAFO">En este campo se selecciona de la lista de
                  valores adjunta, el <a href="MEH_002B.html">producto</a> para
                  el cual se desean consultar los saldos.</p></td>
            </tr>
          </table>
          <p class="TITLE"><a name="Bines"></a>Bines</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por los diferentes <a
              href="MEH_001B.html">bines</span></a> correspondientes a los
            productos existentes. Este formulario contiene la opción <a
              href="#Detalle">Detalle</a>. Adicionalmente, cuenta con un filtro
            de búsqueda y con un botón para devolverse a la
            página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B8.PNG"></p>
          <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas
            a través
            de la siguiente opción:</p>
          <p class="TITLE"><img src="../img/CAF_001B9.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO">Bin</p></td>
              <td><p class="PARRAFO">En este campo se selecciona de la lista de
                  valores adjunta, el <a href="MEH_001B.html">bin</a> para el
                  cual se desean consultar los saldos.</p></td>
            </tr>
          </table>
          <p class="SUBTITULO"><a name="Segmentos"></a><span
              class="TITLE">Segmentos</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por los diferentes <a
              href="MEH_001B1.html">segmentos</span></a> correspondientes
            a los productos existentes. Este formulario contiene la
            opción <a href="#Detalle">Detalle</a>. Adicionalmente, cuenta
            con un filtro de búsqueda y con un botón para
            devolverse a la página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B10.PNG"></p>
          <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas
            a través
            de la siguiente opción:</p>
          <p class="TITLE"><img src="../img/CAF_001B11.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO">Segmento</p></td>
              <td><p class="PARRAFO">En este campo se selecciona de la lista de
                  valores adjunta, el <a href="MEH_001B1.html">segmento</a> para
                  el cual se desean consultar los saldos.</p></td>
            </tr>
          </table>
          <p class="TITLE"><a name="Grupos"></a>Grupos de afinidad</p>
          <p class="PARRAFO">De acuerdo con la oficina previamente seleccionada,
            en este formulario se muestran los datos del estado de la cartera
            clasificada por los diferentes <a href="MEH_001B2.html">grupos
                de afinidad </span></a> correspondientes a los productos
            existentes. Este formulario contiene la opción <a
              href="#Detalle">Detalle</a>. Adicionalmente, cuenta con un filtro
            de búsqueda y con un botón para devolverse a la
            página principal de Saldos de cartera.</p>
          <p class="TITLE"><img src="../img/CAF_001B12.PNG"></p>
          <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas
            a través
            de la siguiente opción:</p>
          <p class="TITLE"><img src="../img/CAF_001B13.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Grupo de
                    afinidad </p></td>
              <td><p class="PARRAFO">En este campo se selecciona de la lista de
                  valores adjunta, el <a href="MEH_001B2.html">grupo de afinidad
                  </a> para el cual se desean consultar los saldos.</p></td>
            </tr>
          </table>
        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>