<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Castigo de cartera</p>

      <p class="PARRAFO">Mediante esta función se efectúa el proceso
        de precastigo y castigo de los productos que se encuentran previamente candidatizados.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El formulario cuenta
        con un filtro inicial de búsqueda, necesario para la consulta de la
        información:</p>
      <p class="TITLE"><img src="../img/CAF_008B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
              tarjeta </p>
          </td>
          <td>
            <p class="PARRAFO">El
              campo número tarjeta admite cualquier dato alfanumérico
              de máximo 23 caracteres. Permite mayúsculas y minúsculas</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Monto
                menor a</p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo admite cualquier dato numérico de máximo 16 dígitos,
              14 enteros y dos decimales. La validación se hace al utilizar
              el botón Siguiente</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Monto
                mayor a</p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo admite cualquier dato numérico de máximo 16 dígitos,
              14 enteros y dos decimales. La validación se hace al utilizar
              el botón Siguiente</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Candidatas:</span> éste es
        el primer formulario que muestra esta opción. A través del proceso
        de facturación y de acuerdo con los parámetros de la opción
        productos del módulo de mercadeo, se alimenta esta formulario con los
        productos que cumplen con dichas condiciones susceptibles de pasar a un proceso
        de precastigo y posteriormente a castigo de acuerdo con las políticas
        de recaudo de la entidad.</p>
      <p class="PARRAFO">El formulario contiene las siguientes opciones: <a
            href="CAH_008B1.html">Precastigadas</a>,
        </span><a href="CAH_008B2.html">Castigadas</a>, <a href="CAH_008B3.html">Histórico
          proceso</a>, y <a href="CAH_008B4.html">Consulta de parámetros</a>.</p>
      <p class="TITLE"><img src="../img/CAF_008B.PNG" ></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
              tarjeta </p>
          </td>
          <td>
            <p class="PARRAFO">Presenta
              los productos que han cumplido con las condiciones para ser candidatos
              a precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Titular</p>
          </td>
          <td>
            <p class="PARRAFO">Contiene
              el nombre del cliente principal del producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital</p>
          </td>
          <td>
            <p class="PARRAFO">Informa
              el valor del capital que el cliente trae vencido, el mismo que se considerará
              en el momento de realizar el precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Intereses</p>
          </td>
          <td>
            <p class="PARRAFO">Despliega
              el valor los intereses (corrientes y moratorios) que el cliente posee
              como saldo, el mismo que se considerará en el momento de realizar
              el precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Comisiones</p>
          </td>
          <td>
            <p class="PARRAFO">Se&ntilde;ala
              el valor las comisiones que el cliente presenta como saldo, el mismo
              que se considerará en el momento de realizar el precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Total</p>
          </td>
          <td>
            <p class="PARRAFO">Muestra
              el total de la deuda (capital mas intereses y comisiones) correspondientes
              al cliente candidato al precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Seleccionar</p>
          </td>
          <td>
            <p class="PARRAFO">Esta
              casilla permite a la entidad seleccionar a todos aquellos clientes que
              ésta desea pasar al proceso de precastigo.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">Adicionalmente, el formulario cuenta con los siguientes botones:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><img src="../img/CAF_008B1-Calctotales.PNG" ></p>
          </td>
          <td>
            <p class="PARRAFO">Calcular
              totales: Botón que permite a la entidad disponer de datos
              estimados relacionados con la cantidad de tarjetas, los valores de capital,
              intereses y comisiones respecto de las tarjetas seleccionadas para surtir
              la correspondiente etapa.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><img src="../img/CAF_008B1-Precastselecc.PNG" ></p>
          </td>
          <td>
            <p class="PARRAFO">Precastigar
              tarjetas seleccionadas: Permite iniciar el proceso de castigo para
              aquellas tarjetas que han sido seleccionadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><img src="../img/CAF_008B1-Precasttodas.PNG" ></p>
          </td>
          <td>
            <p class="PARRAFO">Precastigar
              todas tarjetas: Permite iniciar masivamente el proceso, para todas
              las tarjetas que requieren hacer transito hacia determinada etapa del
              proceso de castigo.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Calcular totales:</span>
        Luego de presionar el botón especial calcular totales aparece otra
        forma donde muestra la siguiente información, correspondiente a las
        tarjetas que hayan sido marcadas o seleccionadas:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
              tarjetas </p>
          </td>
          <td>
            <p class="PARRAFO">Corresponde
              a la cantidad de tarjetas que se encuentran seleccionadas para ser precastigadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital
              a precastigar</p>
          </td>
          <td>
            <p class="PARRAFO">Muestra
              el valor correspondiente a la suma de la deuda de los clientes por concepto
              de capital que pasan al proceso de precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Intereses
              a precastigar</p>
          </td>
          <td>
            <p class="PARRAFO">Registra
              el valor correspondiente a la suma de la deuda de los clientes por concepto
              de intereses (corrientes y de mora) que pasan al proceso de precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Comisiones
              a precastigar</p>
          </td>
          <td>
            <p class="PARRAFO">Indica
              el valor de las comisiones que el cliente presenta y que pasan al proceso
              de precastigo.</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Valor
            total </td>
          <td>
            <p class="PARRAFO"> Este campo muestra
              el valor correspondiente a la suma total de la deuda de los clientes por
              concepto de capital más intereses y comisiones que pasan al proceso
              de precastigo, con el fin de informar a la entidad acerca del monto total
              que pasará a dicho proceso.
          </td>
          </p>
        </tr>
      </table>

      <p class="PARRAFO"><a href="CAH_008B1.html">Precastigadas</a> | </span><a href="CAH_008B2.html" >Castigadas</a> 
              | </span><a href="CAH_008B3.html" >Histórico proceso</a><span
              '> | </span><a href="CAH_008B4.html">Consulta
          de parámetros</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>