<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Cambio masivo gerente de cuenta</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n la entidad realiza el proceso 
              de cambio masivo de los <a href="NUH_045B.html" >funcionarios</a> que tienen 
              perfil de gerentes de cuenta, puesto que un funcionario determinado podr&iacute;a 
              cesar sus actividades dentro de la entidad, cambiar de cargo o simplemente 
              por pol&iacute;tica de la entidad se decide el cambio de dicho funcionario.</p>
            <p class="PARRAFO">El formulario cuenta con dos campos y el bot&oacute;n para 
              realizar el cambio masivo.</p>
            <p class="TITLE"><img src="../img/CAF_012B.PNG"691" ></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Gerente 
                    actual</p></td>
                <td><p class="PARRAFO">Este 
                    campo posee una lista de valores poblada a trav&eacute;s de la opci&oacute;n 
                    <a href="NUH_045B.html" >funcionarios</a> de las tablas de la entidad 
                    financiera del n&uacute;cleo, a partir de la cual se selecciona el nombre 
                    del gerente a ser removido o sobre el que se efectuar&aacute; el cambio.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Gerente 
                    nuevo </p></td>
                <td><p class="PARRAFO">A 
                    trav&eacute;s de la lista de valores que provee el campo poblada en 
                    la opci&oacute;n <a href="NUH_045B.html" >funcionarios</a> de las tablas 
                    de la entidad financiera del n&uacute;cleo, se selecciona el nombre 
                    del nuevo gerente a quien le son asignados los clientes que eran atendidos 
                    por el funcionario arriba se&ntilde;alado.</p></td>
              </tr>
            </table>
           
            <table>
              <tr> 
                <td><p  class="SUBTITULO"><img src="../img/CAF_012B1.PNG"45" ></p></td>
                <td><p class="PARRAFO">Ejecuta 
                    la acci&oacute;n del cambio masivo de gerente.</p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>