<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Par&aacute;metros de reestructuraci&oacute;n</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n se definen todos los conceptos 
              concernientes a la reestructuraci&oacute;n de cr&eacute;ditos, los cuales 
              permitir&aacute;n realizar dichas tareas como la entidad lo requiera.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Reestructuraci&oacute;n: </span>   La reestructuración de créditos es un
               mecanismo que poseen las entidades para normalizar los créditos de algún cliente
                que en un determinado momento y por diferentes circunstancias no haya podido 
                cumplir con la obligación contraída con la misma; en este espacio se definen los
                 lineamientos a tener en cuenta en relación con la reestructuración de dichos créditos.</p>
            <p class="PARRAFO">El formulario cuenta con la opci&oacute;n Actualizar.</p>
            <p class="TITLE"><img src="../img/CAF_013B.PNG"></p>
           
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
              A trav&eacute;s de esta opci&oacute;n, el sistema muestra el siguiente formulario 
              con todos los campos modificables.</span>  Adicionalmente, cuenta con un enlace que permite <a href="#Pag2" target="_self" >Ir a página 2</a> del formulario de actualizaci&oacute;n.</p>
            <p class="TITLE"><img  src="../img/CAF_013B1.PNG"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero 
                    m&aacute;ximo reestructuraciones
                  </p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de 3 posiciones, obligatorio, se define la 
                    cantidad l&iacute;mite de veces que se puede reestructurar un cr&eacute;dito 
                    durante la vigencia del mismo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Iniciar 
                    contador de reestructuraciones</p></td>
                <td><p class="PARRAFO">Campo 
                    que permite reiniciar el conteo de reestructuraciones de las obligaciones.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Capitalizar 
                    intereses</p></td>
                <td><p class="PARRAFO">En 
                    este espacio se define la manera como se manejar&aacute;n los intereses 
                    correspondientes a la deuda objeto de reestructuraci&oacute;n.</p>
                  <p class="PARRAFO">Se debe marcar si los intereses que posee la deuda 
                    har&aacute;n parte o no del saldo del nuevo cr&eacute;dito luego de 
                    efectuada la reestructuraci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Transacci&oacute;n 
                    original </p></td>
                <td><p class="PARRAFO">Este 
                    campo s&oacute;lo se despliega al seleccionar la opci&oacute;n No capitaliza 
                    intereses (en el campo anterior) y en &eacute;l se debe definir la transacci&oacute;n 
                    bajo la cual se identificar&aacute; dicho registro, por medio de la 
                    lista de valores poblada de la opci&oacute;n <a href="NUH_027B.html" >or&iacute;genes 
                    de transacciones</a> (internas) del n&uacute;cleo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Capitaliza 
                    comisi&oacute;n</p></td>
                <td><p class="PARRAFO">Campo 
                    que permite definir la manera como se manejar&aacute;n las comisiones 
                    correspondientes a la deuda objeto de reestructuraci&oacute;n.</p>
                  <p class="PARRAFO">Se debe marcar si las comisiones que posee la deuda 
                    har&aacute;n parte o no del saldo del nuevo cr&eacute;dito luego de 
                    efectuada la reestructuraci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Transacci&oacute;n 
                    original </p></td>
                <td   ><p class="PARRAFO">Campo 
                    que s&oacute;lo se despliega al seleccionar la opci&oacute;n No capitaliza 
                    comisi&oacute;n y en &eacute;l se debe definir la transacci&oacute;n 
                    bajo la cual se identificar&aacute; dicho registro, por medio de la 
                    lista de valores poblada de la opci&oacute;n <a href="NUH_027B.html" >or&iacute;genes 
                de transacciones</a> (internas) del n&uacute;cleo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Transacci&oacute;n 
                    pago</p></td>
                <td><p class="PARRAFO">Contiene 
                    el c&oacute;digo de la transacci&oacute;n autom&aacute;tica de abono 
                    por reestructuraci&oacute;n una vez se realice la transacci&oacute;n 
                    y el c&oacute;digo de la transacci&oacute;n de Reversi&oacute;n autom&aacute;tica 
                    de intereses en el caso de que aplique.</p>
                  <p class="PARRAFO">A trav&eacute;s de una lista de valores poblada en 
                    la opci&oacute;n <a href="MEH_003B.html" >transacciones por empresa</a>, 
                    se define aquella con la cual se identificar&aacute; el pago que realice 
                    el cliente bajo el concepto de reestructuraci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Transacci&oacute;n 
                    reversi&oacute;n </p></td>
                <td><p class="PARRAFO">Campo 
                    que despliega una lista de valores poblada de la opci&oacute;n <a href="NUH_027B.html" >or&iacute;genes 
                    de transacciones</a> (internas) del n&uacute;cleo. Permite seleccionar 
                    la transacci&oacute;n de reversi&oacute;n de intereses en el caso de 
                    que aplique.</p></td>
              </tr>
            </table>
           
            <p class="TITLE"><img src="../img/CAF_013B2.PNG"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    m&aacute;ximo comisiones</p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de 18 posiciones, no obligatorio, en el cual se define 
                    el valor m&aacute;ximo por este concepto que puede tener acumulado un 
                    cliente para efectuar la reestructuraci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    m&aacute;ximo intereses</p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de 18 posiciones, no obligatorio, se define 
                    el valor m&aacute;ximo por este concepto que puede tener acumulado un 
                    cliente para efectuar la reestructuraci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Porcentaje 
                    capital cubierto</p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de 9 posiciones, no obligatorio, en el cual se registra 
                    la proporci&oacute;n de capital de la deuda que como m&iacute;nimo debe 
                    cubrir un cliente a trav&eacute;s del pago para que &eacute;sta sea 
                    normalizada.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Porcentaje 
                    inter&eacute;s cubierto</p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de 9 posiciones, no obligatorio, se registra 
                    la proporci&oacute;n de intereses corrientes, moratorios y/o extracontables 
                    de la deuda que como m&iacute;nimo debe cubrir un cliente a trav&eacute;s 
                    del pago para que &eacute;sta sea normalizada.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Porcentaje 
                    comisi&oacute;n a cubrir
                  </p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de 9 posiciones, no obligatorio, en el cual se registra 
                    la proporci&oacute;n de comisiones, que hacen parte de la deuda y que 
                    como m&iacute;nimo debe cubrir un cliente a trav&eacute;s del pago para 
                    que &eacute;sta sea normalizada.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">D&iacute;as 
                    sanci&oacute;n</p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de 4 posiciones, no obligatorio, se indica 
                    el n&uacute;mero de d&iacute;as de plazo que tiene el cliente para cumplir 
                    con el compromiso adquirido, despu&eacute;s de realizado el acuerdo 
                    de pago, para que efectivamente este se pueda realizar la normalizaci&oacute;n 
                    de su cr&eacute;dito.</p></td>
              </tr>
            </table>
            <p class="TITLE"><img src="../img/CAF_013B3.PNG"703" height="110"></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Calificaci&oacute;n 
                    base</p></td>
                <td><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la que puede seleccionar entre 
                    Periodo anterior o Refinanciaci&oacute;n la calificaci&oacute;n que 
                    se toma como referente para variar la misma acorde al tratamiento de 
                    pagos dado por el deudor a la obligaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Subir 
                    calificaci&oacute;n</p></td>
                <td><p class="PARRAFO">Este 
                    campo cuenta con lista de valores adjunta de la que puede seleccionar 
                    entre Original o Gradual y se refiere a la calificaci&oacute;n que debe 
                    asignarse a la obligaci&oacute;n acorde al tratamiento de pagos dado 
                    por el deudor a la obligaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bajar 
                    calificaci&oacute;n</p></td>
                <td><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la que puede seleccionar entre 
                    Porcentual, Rangos o Gradual; y que dependiendo de la opci&oacute;n 
                    seleccionada despliega respectivamente los campos Porcentaje pago calificaci&oacute;n, 
                    Cuotas a cubrir, N&uacute;mero cuotas a cubrir Bajar, o N&uacute;mero altura de mora a bajar, permitiendo al 
                    sistema bajar o minimizar la calificaci&oacute;n de riesgo de la deuda, 
                    acorde al tratamiento de pagos dado por el deudor a la obligaci&oacute;n.</p></td>
              </tr>
            </table>
            <p><a name="Pag2"></a></p>
            <p class="TITLE"><img src="../img/CAF_013B4.PNG"></p>
           
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero cuotas a cubrir / N&uacute;mero altura de mora a bajar</p>      
                </td>
                <td><p class="PARRAFO">En este conjunto de campos se deben relacionar   la cantidad de cuotas o instalamentos que el cliente debe cubrir para que la   calificaci&oacute;n de riesgo de su deuda baje &ldquo;n&rdquo; alturas. Estos campos son de una   posici&oacute;n ya que las calificaciones son de la A a la E, es por esto que el n&uacute;mero   de calificaciones que se pueden bajar deber&aacute; estar entre 1 y 5.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Porcentaje pago calificaci&oacute;n</p>      
                </td>
                <td><p>Campo num&eacute;rico, excluyente, en el cual se   indica la proporci&oacute;n de deuda que debe cubrir el pago que realice el cliente   para que su cr&eacute;dito sea evaluado con una categor&iacute;a de riesgo menor.</p>      
                </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Cuotas a   cubrir</p>      
                </td>
                <td><p>En este campo excluyente se indica el n&uacute;mero   m&iacute;nimo de cuotas que debe cubrir el cliente para que su cr&eacute;dito sea evaluado con   una categor&iacute;a de riesgo menor.</p>      </td>
              </tr>
            </table>
           
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img class="TITLE"  src= "../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
            target="_blank">www.OpenCard.com</a></p>
</footer>
</html>