<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Estados y bloqueos </p>

        <p class="PARRAFO">En este formulario se definen a partir de
          los <a href="NUH_012B.html">códigos de bloqueo</a>
          parametrizados,
          los diferentes bloqueos que la entidad puede asociar a las tarjetas y
          las
          transacciones o acciones que se pueden realizar en cada uno de ellos.
          El formulario
          no permite la adición, modificación o eliminación
          de
          ninguno de los registros desplegados.
        </p>
        <p class="TITLE"><img src="../img/CAF_002E.PNG"></p>
        <p class="PARRAFO">El formulario contiene la opción Bloqueo
          según empresa, y cuando el usuario marca cualquiera de los
          registros
          y utiliza esta funcionalidad se despliega un formulario</p>
        <p class="TITLE"><img src="../img/CAF_002E1.PNG"></p>

        <p class="PARRAFO">El formulario denominado Bloqueos según
          empresa contiene los enlaces:Actualizar y Eliminar</p>
        <p class="PARRAFO"><a name="Actualizar"></a><span class="SUBTITULO">Actualizar:</span> 
           Al activar ese enlace  se despliega un nuevo
          formulario
          que se encuentra dividido en dos grandes bloques: Transacciones
          habilitadas
          y Herencia Bloqueos.</p>
        <p class="PARRAFO">En este primer bloque se marcan las casillas
          para indicar de todas las transacciones allí contenidas cuales
          están
          permitidas para el bloqueo</p>
        <p class="TITLE"><img src="../img/CAF_002E2.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bloqueo
                según empresa
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo obligatorio se define el código y nombre con
                los cuales
                la entidad va a identificar internamente sus propios bloqueos
                para relacionarlos
                con sus respectivos equivalentes que se encuentran definidos
                previamente
                en los <a href="NUH_012B.html">códigos de bloqueo</a>
                del núcleo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Trx
                forzada
              </p>
            </td>
            <td>
              <p class="PARRAFO">Una
                transacción forzada es aquella transacción que no
                tiene
                en cuenta las validaciones como por ejemplo el disponible para
                su aplicación;
                esta instrucción se sobrepone a la definida en la
                opción
                <a href="MEH_003B.html">transacciones por empresa</a>.
                Este campo se debe marcar si la entidad define que el bloqueo
                permite
                una transacción con dichas características.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Compra
                normal
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se debe marcar si la entidad define que el bloqueo permite
                una
                transacción con dichas características, de acuerdo
                con
                lo definido en <a href="MEH_003B.html">transacciones por
                  empresa</a>.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Compra
                especial</p>
            </td>
            <td>
              <p class="PARRAFO">Se
                define como compra especial aquella transacción que se
                haya definido
                con características propias de la entidad, ya sea por
                convenios
                o por alguna característica particular que la difiere de
                una
                compra normal. Este campo se debe marcar si la entidad define
                que el
                bloqueo se permite realizar tal transacción.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Avance
                efectivo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se debe marcar si la entidad define que el bloqueo se
                permite
                una transacción con dichas características.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Pago
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que se debe marcar si la entidad define que el bloqueo si
                permite una
                transacción con dichas características.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Ajuste
                débito
              </p>
            </td>
            <td>
              <p class="PARRAFO">Un
                ajuste débito es una transacción de consumo o
                cargo que
                afecta directamente el disponible del cliente, realizada a
                través
                del centro de captura de la entidad. Este campo se debe marcar
                si la
                entidad define que el bloqueo permite realizar una
                transacción
                con dichas características.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Aumento
                cupo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se debe marcar si la entidad determina que con el bloqueo,
                se
                puede efectuar aumento de cupo a la tarjeta o crédito.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Redención
                puntos
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                el bloqueo permite la redención de los puntos acumulados
                por
                la tarjeta se debe marcar el campo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cambio
                de ciclo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se marca si el bloqueo permite cambio de ciclo de
                facturación
                para la tarjeta. Para su aplicación se debe tener en
                cuenta la
                parametrización del <a href="SOH_001B.html">filtro</a>
                que evalua los bloqueos de la tarjeta en el tipo de solicitud
                correspondiente.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cambio
                producto
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que se marca si el bloqueo permite cambio de producto para la
                tarjeta.
                Para su aplicación se debe tener en cuenta la
                parametrización
                del <a href="SOH_001B.html">filtro</a> que evalua los
                bloqueos de la tarjeta en el tipo de solicitud correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Generación
                plástico
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se marca si el bloqueo permite la generación de
                plásticos
                para las tarjetas o crédito sobre el cual está
                aplicado,
                cuando inicialmente este no posee plástico. Para su
                aplicación
                se debe tener en cuenta la parametrización del <a
                  href="SOH_001B.html">filtro</a>
                que evalua los bloqueos de la tarjeta en el tipo de solicitud
                correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nuevas
                solicitudes
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que en el que se indica si el bloqueo permite el ingreso de
                nuevas solicitudes
                para el cliente que posee el producto sobre el cual está
                aplicado.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cancela
                saldos menores
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se marca si el bloqueo permite la cancelación de
                saldos,
                de la tarjeta o crédito sobre la cual está
                aplicado, cuyo
                monto sea inferior al definido en el campo Valores traslados
                saldos
                menores del formulario más parámetros de la
                opción
                <a href="MEH_002B.html">Definición de Productos</a>.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Carta
                Paz y Salvo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que se marca si el bloqueo permite la generación de paz y
                salvo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Reportar
                Negativos Redeban
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo se indica si el bloqueo debe hacer que se incluya la
                tarjeta
                en el archivo de negativos de redeban.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Ajuste
                crédito
              </p>
            </td>
            <td>
              <p class="PARRAFO">Un
                ajuste crédito es una transacción de abono para el
                cliente
                realizada en el centro de captura de la entidad. A través
                de
                este campo se debe marcar si el bloqueo permite efectuar dicho
                ajuste.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cuota
                manejo
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el evento que se encuentre marcado este campo, significa que
                aunque
                la tarjeta o crédito tenga aplicado el bloqueo,
                éste permitirá
                cargo al cliente por concepto de cuota de manejo. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cuota
                seguro
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el evento que se encuentre marcado este campo, significa que
                aunque
                la tarjeta o crédito tenga aplicado el bloqueo,
                éste permitirá
                cargo al cliente por concepto de cuota de seguro. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cuota
                afiliación
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el evento que se encuentre marcado este campo, significa que
                aunque
                la tarjeta o crédito tenga aplicado el bloqueo,
                éste permitirá
                cargo al cliente por concepto de cuota de afiliación.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Reexpedición
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                este campo se encuentra marcado, significa que el bloqueo
                permitirá
                generar nuevo plástico por concepto de
                reexpedición. Para
                su aplicación se debe tener en cuenta la
                parametrización
                del <a href="SOH_001B.html">filtro</a> que evalua los
                bloqueos de la tarjeta en el tipo de solicitud correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Reposición
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el evento que se encuentre marcado este campo, significa que el
                bloqueo
                permitirá generar nuevo plástico por concepto de
                reposición.
                Para su aplicación se debe tener en cuenta la
                parametrización
                del <a href="SOH_001B.html">filtro</a> que evalua los
                bloqueos de la tarjeta en el tipo de solicitud correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Facturará
              </p>
            </td>
            <td>
              <p class="PARRAFO">Cuando
                este campo se encuentra marcado significa que el bloqueo
                permitirá
                que la tarjeta o crédito sea facturado. Estará
                marcado
                por defecto en el momento de homologar los bloqueos del sistema
                con
                los de la entidad y no permitirá modificaciones, excepto
                para
                el bloqueo castigo. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Exception
                file </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                en el cual se marca si el bloqueo permite reportar en el archivo
                de
                excepción, base para las autorizaciones, aquellas
                tarjetas o
                créditos sobre los cuales se encuentra aplicado dicho
                bloqueo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tarjeta
                activa
              </p>
            </td>
            <td>
              <p class="PARRAFO">Permite
                definir si las tarjetas o créditos que poseen dicho
                bloqueo se
                consideran productos activos. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Permite
                eliminación
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                el bloqueo se encuentra marcado en este campo significa que el
                registro
                del plástico podrá ser eliminado de la base de
                datos.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Permite
                refinanciación
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                el bloqueo se encuentra marcado en este campo significa que el
                crédito
                puede ser normalizado mediante la reestructuración o
                refinanciación.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Débito
                Automático
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                en el cual se marca si el bloqueo permite o no reportar en el
                archivo
                de Débitos automáticos, el valor correspondiente a
                la
                obligación de aquellas tarjetas o créditos sobre
                los cuales
                se encuentra aplicado dicho bloqueo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Permite
                Sucursal
              </p>
            </td>
            <td>
              <p class="PARRAFO">Indica
                si el bloqueo permite efectuar cambio de sucursal.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Carta
                Beneficios
              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se marca para indicar si el bloqueo permite la
                expedición
                de la Carta de Beneficios. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Retira
                Tarjeta
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                en el cual se marca si el bloqueo debe incluir en el archivo de
                negativos
                de redeban la solicitud de retención de la tarjeta.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Masificación
              </p>
            </td>
            <td>
              <p class="PARRAFO">Mediante
                esta personalización, si el bloqueo se encuentra marcado
                en este
                campo significa que el proceso del mismo nombre efectúa
                traslado
                de los productos Gente U
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Renovación
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el evento que se encuentre marcado este campo, significa que
                aunque
                la tarjeta o crédito tenga el bloqueo, éste
                permitirá
                generar nuevo plástico por concepto de renovación.
                Para
                su aplicación se debe tener en cuenta la
                parametrización
                del <a href="SOH_001B.html">filtro</a> que evalua los
                bloqueos de la tarjeta en el tipo de solicitud correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Reactivación
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                este campo se encuentra marcado, significa que aunque aplique
                determinado
                bloqueo, éste permitirá generar nuevo
                plástico
                por concepto de reactivación. Para su aplicación
                se debe
                tener en cuenta la parametrización del <a
                  href="SOH_001B.html">filtro</a>
                que evalua los bloqueos de la tarjeta en el tipo de solicitud
                correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Costos
                judiciales
              </p>
            </td>
            <td>
              <p class="PARRAFO">La
                transacción de costos judiciales es aquella
                transacción
                que se origina por un proceso de recaudo de cartera
                judicialmente, la
                entidad debe marcar este campo si define que el bloqueo permite
                cargos
                al cliente por dicho concepto.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Honorarios
                abogado
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                el momento en que se genere el recaudo de cartera a
                través de
                un cobro prejurídico o jurídico se pueden
                ocasionar honorarios,
                los cuales serán cargados a la tarjeta o crédito
                del cliente
                si la entidad marca este campo para el bloqueo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Comisiones
              </p>
            </td>
            <td>
              <p class="PARRAFO">La
                transacción de comisiones es aquella transacción
                que se
                desprende de una transacción original por ejemplo el
                avance de
                efectivo en cajeros, la transacción que se desprende de
                la original
                es la comisión por la utilización del cajero, de
                tal manera
                que si la entidad marca este campo significa que determinado
                bloqueo
                permite cargar al cliente valores por dichos conceptos.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Desbloqueo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Si
                la entidad marca este campo, significa que determinado bloqueo
                se puede
                levantar en un momento dado. En caso contrario, significa que el
                bloqueo
                es definitivo.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Acumula
                puntos
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                en el que se indica si el bloqueo permite que la tarjeta o
                crédito
                acumulen puntos de acuerdo con el esquema al que pertenezca la
                misma.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Consulta
                saldo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Permite
                definir si el bloqueo permite al cliente la consulta de saldo
                del crédito.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Cancelación

              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo permite definir si el bloqueo permite la
                cancelación de
                la tarjeta o crédito, en el evento en que el cliente
                desee hacer
                una devolución / cancelación voluntaria del mismo.
                Para
                su aplicación se debe tener en cuenta la
                parametrización
                del <a href="SOH_001B.html">filtro</a> que evalua los
                bloqueos de la tarjeta en el tipo de solicitud correspondiente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Castigo

              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo se determina si el bloqueo permite efectuar el
                castigo del
                saldo de la tarjeta o crédito, asumiendo la entidad el
                valor
                de la deuda del cliente.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Genera
                extracto

              </p>
            </td>
            <td>
              <p class="PARRAFO">Permite
                definir si para las tarjetas o créditos que poseen el
                bloqueo
                se generarán extracto o no.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Genera
                contingentes

              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo se define si los saldos de las obligaciones de las
                tarjetas
                o créditos que tengan el bloqueo suman o restan para el
                cálculo
                del disponible, lo que afecta la contabilidad de los
                contingentes.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Carta
                Buen Manejo

              </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo se marca para indicar si el bloqueo permite o no la
                expedición
                de Carta de Buen Manejo de la tarjeta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Genera
                Dian
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que indica si el bloqueo permite incluir o no la tarjeta o
                crédito
                en los archivos con destino a la Dian.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Ajustar
                cupos
              </p>
            </td>
            <td>
              <p class="PARRAFO">Combo
                que contiene los enlaces:si o no, para indicar si el bloqueo
                origina
                que el proceso de recálculo de cupos tome el saldo tanto
                de la
                líneas de crédito como de la tarjeta como cupo
                asignado,
                esto con el objetivo de dejar el disponible igual a cero (0) y
                no mostrar
                saldos en cuentas contables contingentes. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Medio
                pago
              </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este combo se indica si el bloqueo aplica para los productos
                crédito
                o débito. Es importante tener en cuenta que a los
                bloqueos a los cuales se les asocie el medio
                1 (tarjeta de crédito) serán los únicos habilitados para ser
                aplicados manualmente desde la opción <a
                  href="SCH_025B.html">Novedad bloqueo plástico</a>.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO">En el bloque Herencia Bloqueos, se definen entre
          otros la jerarquía de los bloqueos respecto a los clientes
          principales
          de las tarjetas y sus productos extendidos o amparados y viceversa.
        </p>
        <div>

          <p class="TITLE"><img src="../img/CAF_002E3.PNG" 567"></p>
          <p class="TITLE">Descripción de campos</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Principal
                  bloquea extendida
                </p>
              </td>
              <td>
                <p class="PARRAFO">Permite
                  definir si el bloqueo que se aplique sobre el cliente
                  principal del
                  crédito o tarjeta afecta de igual manera a las tarjetas
                  o créditos
                  de sus clientes extendidos, colocándoles a éstos
                  un
                  bloqueo preventivo definido como preventivo por principal.
                </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Extendida
                  bloquea principal </p>
              </td>
              <td>
                <p class="PARRAFO">Indica
                  si el bloqueo que se aplique sobre el cliente que tiene
                  características
                  de extendido afecta de igual manera a la tarjeta o
                  crédito
                  del cliente principal del cual depende, colocándole a
                  éste
                  un bloqueo preventivo definido como preventivo por amparado o
                  extendido.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Principal
                  bloquea amparada
                </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  en el que se define si ci cuando se aplique el bloqueosobre el
                  cliente
                  principal del crédito o tarjeta afecta de igual manera
                  a las
                  tarjetas o créditos de sus clientes amparados,
                  colocándoles
                  a éstos un bloqueo preventivo definido como preventivo
                  por
                  principal.
                </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Amparada
                  bloquea principal
                </p>
              </td>
              <td>
                <p class="PARRAFO">Indica
                  si el bloqueo que se aplique sobre el cliente que tiene
                  características
                  de amparado afecta de igual manera a la tarjeta o
                  crédito del
                  cliente principal del cual depende, colocándole a
                  éste
                  un bloqueo preventivo definido como preventivo por amparado o
                  extendido.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Bloqueo
                  switch
                </p>
              </td>
              <td>
                <p class="PARRAFO">Corresponde
                  a la identificación del bloqueo que maneja la entidad,
                  homologado
                  hacia el código de bloqueo que utiliza el
                  autorizador.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Períodos
                  borrar
                </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio en el cual se define el total de períodos
                  (expresado
                  en meses), después de los cuales se puede borrar la
                  información
                  de las tablas.
                </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Jerarquía
                  desbloqueo

                </p>
              </td>
              <td>
                <p class="PARRAFO">Este
                  campo permite a la entidad asignar prioridad en el manejo de
                  los bloqueos,
                  es decir, cuál bloqueo puede ser eliminado o
                  reemplazado por
                  otro y cuál no. Aplica para aquellos <a
                    href="NUH_012B.html">bloqueos</a>
                  a los cuales se les ha asignado la condición de tipo
                  'Plastico'</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Jerarq.
                  Interfaces

                </p>
              </td>
              <td>
                <p class="PARRAFO">A
                  través de este campo , la entidad puede asignar la
                  prioridad
                  en el manejo de los bloqueos que viajan hacia las interfases
                  requeridas,
                  es decir, si un crédito o tarjeta tiene varios
                  bloqueos, cuál
                  prima de todos.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Mensaje
                  extracto

                </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio en el cual se permite definir a través de
                  una lista
                  de valores, el <a href="NUH_062B.html">mensaje</a> que
                  aparecerá en el extracto del cliente de acuerdo con el
                  bloqueo.</p>
              </td>
            </tr>
          </table>
        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

    </html>