<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div   
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Variaci&oacute;n masiva de cupos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO"><a name="Resultados"></a>Resultados:</span>  
              Luego de ser evaluados los criterios de selecci&oacute;n, en esta opci&oacute;n 
              se muestran los productos que cumplieron con los pautas indicadas.</p>
            <p>El formulario contiene las opciones Eliminar y Detalle. Adicionalmente, cuenta 
              en la parte superior con la opci&oacute;n <a href="#Calcular_valores" title="Calcular valores" target="_self">Calcular 
              valores</a>, y un bot&oacute;n para volver a la <a href="CAH_006B.html">opci&oacute;n 
              anterior</a>.</p>
            <p class="TITLE"><img src="../img/CAF_006B5.PNG"720" height="499"></p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero 
                    de tarjeta</p></td>
                <td><p class="PARRAFO">Muestra 
                    el n&uacute;mero de producto que ha cumplido con los criterios de selecci&oacute;n, 
                    como candidatos al proceso de variaci&oacute;n de cupo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Nombre</p></td>
                <td><p class="PARRAFO">Corresponde 
                    al nombre del titular del producto correspondiente al n&uacute;mero 
                    de tarjeta anterior.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Tipo 
                    tarjeta </p></td>
                <td><p class="PARRAFO">Informa 
                    acerca de la clase de producto (principal, extendida o amparada) seleccionado 
                    de acuerdo con los criterios definidos.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Cupo 
                    actual </p></td>
                <td><p class="PARRAFO">Contiene 
                    el cupo asignado al producto candidato al proceso de variaci&oacute;n 
                    masiva de cupo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Cupo 
                    sugerido </p></td>
                <td><p class="PARRAFO">Corresponde 
                    al valor de variaci&oacute;n de cupo sugerido, producto de la aplicaci&oacute;n 
                    de la f&oacute;rmula de evaluaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Variada</p></td>
                <td><p class="PARRAFO">Los 
                    criterios definidos en la carpeta de criterios pueden ser utilizados 
                    para otras aplicaciones que la entidad desee, como por ejemplo emitir 
                    notificaciones al cliente; en este campo aparecer&aacute;n marcados 
                    todos los productos que entraron culminaron exitosamente el proceso.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Variar</p></td>
                <td><p class="PARRAFO">Permite 
                    seleccionar los registros sobre los que la entidad desee ejecutar en 
                    el proceso, los cuales cumplen con los criterios definidos previamente.</p></td>
              </tr>
            </table>
            <p><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opci&oacute;n 
              Detalle se despliega el siguiente formulario. Cuenta con la opci&oacute;n 
              para consultar las l&iacute;neas de cr&eacute;dito de la tarjeta.</p>
            <p class="TITLE"><img src="../img/CAF_005B5.PNG"412" ></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bloqueo 
                    saldo </p></td>
                <td><p class="PARRAFO">Muestra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bloqueo 
                    reestructuraci&oacute;n </p></td>
                <td><p class="PARRAFO">Registra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bloqueo 
                    pl&aacute;stico </p></td>
                <td><p class="PARRAFO">Se&ntilde;ala 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bloqueo 
                    sobrecupo </p></td>
                <td><p class="PARRAFO">Indica 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Bloqueo 
                    cliente </p></td>
                <td><p class="PARRAFO">Muestra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Error</p></td>
                <td><p class="PARRAFO">En 
                    el caso de que los productos seleccionados de acuerdo con los criterios 
                    hayan sido candidatos pero no pudieron ser variados sus cupos exitosamente, 
                    en este campo aparece el motivo.</p></td>
              </tr>
            </table>
            
            <p><span class="SUBTITULO">L&iacute;neas de cr&eacute;dito:</span>  
              Si el usuario invoca esta opci&oacute;n se despliega el siguiente formulario. 
              En la parte superior cuenta con la opci&oacute;n para regresar al Detalle 
              de la tarjeta.</p>
            <p class="TITLE"><img src="../img/CAF_006B7.PNG"446" height="118"></p>
            
            <p><span class="SUBTITULO"><a name="Calcular_valores"></a>Calcular valores:</span>  
              Invoca la pantalla a trav&eacute;s de la cual se puede combinar diferentes 
              criterios con el objeto de calcular los valores de los cupos a modificar para 
              los productos seleccionados en la lista, definir si se trata de aumentos o 
              disminuciones porcentuales o en valores y la forma como se distribuir&aacute; 
              esa variaci&oacute;n entre las tarjetas que dependen de la principal.</p>
            <p>El formulario contiene las opciones Aumentar y Disminuir. Adicionalmente, 
              cuenta en la parte superior con la opci&oacute;n para volver al formulario 
              de <a href="#Resultados" title="Resultados" target="_self">Resultados</a>, 
              y un bot&oacute;n en la parte inferior para el c&aacute;lculo de cupos propuestos.</p>
            <p class="TITLE"><img src="../img/CAF_006B8.PNG"667" height="521"></p>
            
            <p><span class="SUBTITULO">Aplicar variaci&oacute;n de cupos:</span>  
              A través de este botón se aplica la variación de cupo individual o masiva en la base de datos, 
              de las tarjetas marcadas o seleccionadas.</p>
            <p class="TITLE"><img src="../img/CAF_006B9.PNG"></p>
            <p><span class="SUBTITULO">Calcular cupo sugerido (individual y todas):</span>  
              A través de este botón el sistema realiza el estimado de los nuevos valores acorde a los
               porcentajes digitados y muestra los valores con los que quedaría cada línea.</p>
            <p class="TITLE"><img src="../img/CAF_006B10.PNG"></p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>