<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Castigo de cartera</p>
                    
            <p class="PARRAFO"><span class="SUBTITULO">Castigadas:</span>  Luego de ser seleccionados 
              los productos y pasados al proceso de castigo, en este formulario se relacionan 
              dichos clientes.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p class="TITLE"><img src="../img/CAF_008B7.PNG"244" height="138"></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Fecha 
                    castigo </p></td>
                <td><p class="PARRAFO">Permite 
                    a la entidad consultar a una fecha espec&iacute;fica la informaci&oacute;n 
                    correspondiente a los productos que pasaron al proceso de castigo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero 
                    tarjeta </p></td>
                <td><p class="PARRAFO">El 
                    campo n&uacute;mero tarjeta admite cualquier dato alfanum&eacute;rico 
                    de m&aacute;ximo 23 caracteres. Permite may&uacute;sculas y min&uacute;sculas</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">El formulario contiene las opciones <a href="CAH_008B.html" >Candidatas</a> 
              e <a href="CAH_008B3.html" >Hist&oacute;rico proceso</a>.</p>
            <p class="TITLE"><img src="../img/CAF_008B6.PNG"></p>
            
            <table>
              <tr> 
                <td class="titletable" > 
                  <p class="SUBTITULO">N&uacute;mero tarjeta </p></td>
                <td><p class="PARRAFO">Presenta 
                    los productos que han cumplido con las condiciones para entrar al proceso 
                    de precastigo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Titular</p></td>
                <td><p class="PARRAFO">Contiene 
                    el nombre del cliente principal del producto.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Fecha 
                    castigo </p></td>
                <td><p class="PARRAFO">Informa 
                    la fecha en la que cada producto pas&oacute; a ser castigado.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Saldo 
                    obligaci&oacute;n </p></td>
                <td><p class="PARRAFO">Muestra 
                    el valor correspondiente a la suma de la deuda de los clientes por concepto 
                    de capital mas intereses que pasan al proceso de castigo, con el fin 
                    de informar a la entidad acerca del monto total que pasar&aacute; a 
                    dicho proceso.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero 
                    acta</p></td>
                <td><p class="PARRAFO">Contiene 
                    el n&uacute;mero del acta con el cual la entidad formaliza el castigo 
                    de los saldos pendientes de pago por parte del cliente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Fecha 
                    acta </p></td>
                <td><p class="PARRAFO">Campo 
                    en formato YYYY-MM-DD donde se muestra la fecha del acta con la que 
                    se castigaron los saldos.</p></td>
              </tr>
            </table>
            
            <p><a href="CAH_008B.html" >Candidatas</a><span
              '> | </span><a href="CAH_008B1.html" >Precastigadas</a> 
              | </span><a href="CAH_008B3.html" >Hist&oacute;rico proceso</a><span
              '> | </span><a href="CAH_008B4.html" >Consulta 
              de par&aacute;metros</a></p>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>