<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Consulta de actividades </p>

      <p>Mediante esta opci&oacute;n es posible realizar la consulta de las distintas actividades que est&aacute;n o han
        sido atendidas por cada agente de cobro. La forma permite realizar la consulta utilizando como criterio la
        mayor&iacute;a de los campos de la forma, desplegando para cada actividad los datos b&aacute;sicos asociados,
        por lo cual su naturaleza puede ser de salida o de ingreso de datos.</p>
      <p><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial de b&uacute;squeda, necesario para la consulta de la
        informaci&oacute;n:</p>
      <p class="TITLE"><img src="../img/CCF_019B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Agente</p>
          </td>
          <td>
            <p>Para filtrar se ingresa el <A href="CCH_001B.html" target="_self">agente de cobro</A> a
              trav&eacute;s de la lista de valores del campo. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Estado actividad </p>
          </td>
          <td>
            <p>Conjunto de campos con las diferentes etapas en las que se puede encontrar una actividad:Sin
                  asignar, Terminada, Liquidada, Pagada, Cancelada, Asignada, Devuelta, y Retirada. Es
                posible realizar la consulta utilizando cualquiera de dichos estados como criterio de selecci&oacute;n.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de obligaci&oacute;n </p>
          </td>
          <td>
            <p>Campo en el que se ingresa el n&uacute;mero de la obligaci&oacute;n a la que est&aacute;n asociadas las
              actividades atendidas por el agente de cobro.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de cobro </p>
          </td>
          <td>
            <p>Campo en el que se ingresa el nombre del <a href="CCH_002B.html" target="_self">Tipo de cobro</a> del que
              dependen las actividades atendidas por el agente de cobro.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de cobro </p>
          </td>
          <td>
            <p>Campo num&eacute;rico de tres d&iacute;gitos en el cual se ingreso el c&oacute;digo por el cual se desea
              realizar el filtro. </p>
          </td>
        </tr>
      </table>

      <p>E<span class="PARRAFO">l formulario contiene la opcipon Detalle.</span></p>
      <p class="TITLE"><img src="../img/CCF_019B.PNG"></p>

      <p class=" PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario.

        </span></p>
      <p class="TITLE"><img src="../img/CCF_019B2.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>