<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Actividades por tipo de perfil </p>
            </div>
          </td>
        </tr>
      </table>
      <p>Esta forma permite la creaci&oacute;n o definici&oacute;n de los distintos perfiles a asociar a los
        funcionarios internos o de la casa de cobranza; as&iacute; mismo, a cada perfil definido se le vinculan tanto
        los tipos de obligaci&oacute;n que le es dable asumir, como los tipos de cobro que puede efectuar y las
        actividades de cobro que debe atender.</p>
      <p><a name="perfiles"></a>PerfilesEn este primer formulario la entidad puede crear o definir cuantos
        perfiles requiera &eacute;sta o la empresa externa de cobranzas, acorde con los tipos de cobro y tipos de
        obligaci&oacute;n, puesto que puede ser necesaria una cualificaci&oacute;n determinada, para atender
        adecuadamente las gestiones de cobro.</p>

      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial de b&uacute;squeda, necesario para la consulta de la
        informaci&oacute;n:</p>

      <p class="TITLE"><img src="../img/CCF_007B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">C&oacute;digo</p>
          </td>
          <td>
            <p>Campo alfanum&eacute;rico de 15 posiciones que permite realizar un filtro de b&uacute;squeda por el
              c&oacute;digo del perfil. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripci&oacute;n</p>
          </td>
          <td>
            <p>A trav&eacute;s de este campo alfanum&eacute;rico de 50 posiciones es posible realizar la b&uacute;squeda
              por la descripci&oacute;n de los perfiles. </p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar,
        Adicionar y Detalle. Adicionalmente cuenta con las opciones <a href="#actividades" target="_self">Actividades de
          cobro</a>, <a href="#agentes" target="_self">Agentes</a> y <a href="#metas" target="_self">Metas</a>. </p>
      <p class="TITLE"><img src="../img/CCF_007B.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si
        el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con
        los siguientes campos<span>:</span></p>
      <p class="TITLE"><img src="../img/CCF_007B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span><span>C&oacute;digo</span></span></b></p>
          </td>
          <td>
            <p>Campo alfanum&eacute;rico de 15 posiciones, obligatorio, permite asignar una referencia num&eacute;rica o
              alfanum&eacute;rica para identificar cada uno de los perfiles definidos por la entidad o casa de cobranza.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><span>Descripci&oacute;n</span></p>
          </td>
          <td>
            <p>En este campo alfanum&eacute;rico de 50 posiciones, obligatorio, se indica el nombre o descriptivo
              asociado a cada uno de los c&oacute;digos de perfil creados.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Actualizar:</span>  Si el usuario
        invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual
        los &uacute;nicos campos modificables son los siguientes:</p>
      <p class="TITLE"><img src="../img/CCF_007B3.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario.<span>

        </span></p>
      <p class="TITLE"><img src="../img/CCF_007B4.PNG"></p>

      <p><span class="SUBTITULO"><a name="actividades"></a>Actividades de cobro: </span> Grupo de datos que permiten
        asociarle a cada perfil por tipo de cobro las actividades que le es dable efectuar.</p>
      <p class="TITLE"><img src="../img/CCF_007B5.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Tipo de cobro </span></b></p>
          </td>
          <td>
            <p>Este campo cuenta con lista de valores poblada mediante la opci&oacute;n <A href="CCH_002B.html"
                  target="_self">Tipos de cobro</A> de este mismo m&oacute;dulo, de la que debe seleccionarse la
              clase de cobro que se asocia al tipo de obligaci&oacute;n predefinida.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><span>Actividad</span></p>
          </td>
          <td>
            <p>Campo con lista de valores poblada mediante la opci&oacute;n <A href="CCH_004B.html"
                  target="_self">Actividades de cobro</A> de este mismo m&oacute;dulo, de la que debe seleccionarse
              todas y cada una de las actividades permitidas al perfil que se est&aacute; definiendo y que se asocian al
              tipo de cobro y a la obligaci&oacute;n predefinida.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Actualizar:</span>  Si el usuario
        invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual
        los &uacute;nicos campos modificables son los siguientes:</p>
      <p class="TITLE"><img src="../img/CCF_007B6.PNG"></p>

      <p><span class="SUBTITULO"><a name="agentes" id="agentes"></a>Agentes: </span> Este formulario muestra todos los
        agentes que se encuentren dentro del perfil selecccionado, de acuerdo a lo que se haya paremetrizado para los
        Agentes de cobro en la opci&oacute;n <a href="CCH_001B.html" target="_self">Operadores de cobro</a>. </p>
      <p class="TITLE"><img src="../img/CCF_007B7.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario.<span>

        </span></p>
      <p class="TITLE"><img src="../img/CCF_007B8.PNG"></p>

      <p><span class="SUBTITULO"><a name="metas" id="metas"></a>Metas: </span> A trav&eacute;s de este formulario se
        pueden consultar las <a href="CCH_010B.html">Metas</a> que hayan sido parametrizadas para cada uno de los <a
          href="#perfiles" target="_self">Perfiles</a>.</p>
      <p class="TITLE"><img src="../img/CCF_007B9.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<footer>
  <div>
    <img class="TITLE" src="../img/logo.PNG">
  </div>
  <p>OpenCard SAS</p>
  <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
  <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>


</footer>

</html>