<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Actividades de cobro </p>

        <p class="PARRAFO">Si la entidad y/o la casa de cobranza requieren de
          una herramienta que sirva como mecanismo de control de gestión y/o
          para efectuar el pago a los funcionarios por las labores realizadas,
          debe parametrizar por medio de esta forma todo el proceso de cobranza
          de principio a fin, tan desagregado como se desee. </p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar </p>
        <p class="TITLE"><img src="../img/CCF_004B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si
          el usuario invoca la opción Adicionar se despliega un formulario con
          los siguientes campos:</p>
          <p class="TITLE"><img src="../img/CCF_004B1.PNG"></p>

          <table>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO">Código</p></td>
                  <td><p class="PARRAFO">Campo numérico de 3 dígitos,
                      obligatorio, que identifica a cada una de las etapas o
                      pasos que componen el proceso de una cobranza.</p>
                  </td>
                </tr>
                <tr>
                  <td class="titletable"><p
                      class="SUBTITULO">Descripción</p></td>
                    <td><p class="PARRAFO">En este campo alfanumérico de 50
                        posiciones, obligatorio, se registra el nombre o
                        descriptivo asociado a cada uno de los códigos de las
                        actividades definidas.</p> </td>
                  </tr>
                </table>

                <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> Si
                  el usuario
                  invoca la opción Actualizar se despliega un formulario
                  en cual
                  los únicos campos modificables son los siguientes:</p>
                <p class="TITLE"><img src="../img/CCF_004B2.PNG"></p>

              </section>
              <script src="../js/menu.js"></script>
            </body>
            <div id="footerContainer"></div>
            <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
          </html>