<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Reasignaci&oacute;n de la cobranza</p>
            </div>
          </td>
        </tr>
      </table>
      <p>Este formulario permite reasignar o devolver actividades de una obligaci&oacute;n para que sea gestionada por
        otra casa de cobranza o agente. La informaci&oacute;n presentada en la pantalla se despliega con la simple
        invocaci&oacute;n de la opci&oacute;n y el &uacute;nico campo al que se tiene acceso es la casilla de
        verificaci&oacute;n que aparece al final de cada registro del bloque Gestiones asignadas.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario wizard tiene dos pasos titulados
        Gestiones y <a href="#resumen" target="_self">Resumen</a>; adicionalmente cuenta con un filtro inicial
        de b&uacute;squeda necesario para la consulta de la
        informaci&oacute;n:</p>
      <p class="TITLE"><img src="../img/CCF_017B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Agente</p>
          </td>
          <td>
            <p>Campo que permite filtrar a trav&eacute;s de los diferentes registros creados por medio de la
              opci&oacute;n <A href="CCH_001B.html" target="_self">Agentes de cobro</A>.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Gestiones: </span> El formulario contiene las opci&oacute;n
        Detalle y un bot&oacute;n para <a href="#reasignar" target="_self">Reasignar/Devolver todas las
          gestiones</a>. </p>
      <p class="TITLE"><img src="../img/CCF_017B.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario.</p>
      <p class="TITLE"><img src="../img/CCF_017B2.PNG"></p>

      <p><span class="SUBTITULO"><a name="reasignar"></a>Reasignar/Devolver todas las gestiones: </span> Al presionar el
        bot&oacute;n especial de Reasignaci&oacute;n / Devoluci&oacute;n, se despliega la pantalla ilustrada, la que
        permite materializar la decisi&oacute;n correspondiente. </p>
      <p class="TITLE"><img src="../img/CCF_017B4.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo operaci&oacute;n </span></p>
          </td>
          <td>
            <p class="PARRAFO">Lista de valores con dos opciones.</p>
            <p class="PARRAFO">Reasignaci&oacute;n: Campo mediante el que es posible indicarle al sistema, que
              la o las obligaciones se&ntilde;aladas, van a ser asignadas a otra casa de cobranzas. </p>
            <p class="PARRAFO">Devoluci&oacute;n: Permite registrar en el sistema la o las obligaciones que son
              devueltas por la casa de cobranzas a las que estaban asignadas. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Agente</span></b></p>
          </td>
          <td>
            <p>Campo con lista de valores, poblada a trav&eacute;s de la opci&oacute;n <A
                  href="CCH_001B.html">Operadores de cobro</A>, de la que debe seleccionarse la casa de cobro a la
              que es trasladada la o las obligaciones marcadas. La lista de valores despliega todas las
              combinaciones posibles entre casa de cobro, moneda, mora y tipo de cobro, obviamente, excluyendo la
              combinaci&oacute;n actual o previa a la reasignaci&oacute;n.</p>
          </td>
        </tr>
      </table>
      <p><span class="SUBTITULO"><a name="resumen"></a>Resumen:</span>  Es el segundo formulario del wizard, que
        despliega la siguiente informaci&oacute;n<span>, de </span><span>acuerdo a las tarjetas en gesti&oacute;n que
          hayan sido seleccionadas en el primer paso. Cuenta con una opci&oacute;n para Remover aquellas</span><span>
          tarjetas que finalmente no se requieren reasignar o devolver:</span></p>
      <p class="TITLE"><img src="../img/CCF_017B3.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<footer>
  <div>
    <img class="TITLE" src="../img/logo.PNG">
  </div>
  <p>OpenCard SAS</p>
  <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
  <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>



</footer>

</html>