<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Metas</p>

      <p class="PARRAFO">Por medio de esta forma o pantalla la entidad define los objetivos o resultados esperados respecto de las
        gestiones de cobranza, acorde con sus políticas de recaudo; para ello posibilita relacionar, de una parte
        el tipo de obligación con el perfil de cobro, el periodo de tiempo de que se dispone y una
        desagregación de dichos objetivos junto con los correspondientes beneficios directos obtenidos por los
        agentes del nivel gestor, o indirectos por las labores desempe&ntilde;adas por los agentes de niveles
        subordinados o dependientes. </p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial de búsqueda, necesario para la consulta de la
        información:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/CCF_010B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Perfil cobro</p>
          </td>
          <td>
            <p class="PARRAFO">Despliega los registros parametrizados mediante la opción <A href="CCH_007B.html"
                  rel="noopener" target="_self">Actividades de cobro por perfil</A>, que se desea o requiere parametrizar.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha inicial</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en formato YYYY-MM-DD, en el que se registra la fecha a partir de la cual se define el periodo de
              tiempo disponible para alcanzar la meta de obligaciones exitosamente finalizadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha final</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo en formato YYYY-MM-DD, permite registrar la fecha hasta la cual se define el periodo de tiempo
              disponible para alcanzar la meta de obligaciones exitosamente finalizadas.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar,  y Adicionar.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/CCF_010B.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si
        el usuario invoca la opción Adicionar se despliega un formulario con
        los siguientes campos:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/CCF_010B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Perfil cobro </span></p>
          </td>
          <td>
            <p class="PARRAFO">Lista de valores que despliega los registros parametrizados mediante la opción <a
                  href="CCH_007B.html" rel="noopener" target="_self" class="style6">Actividades por tipo de perfil</a><A
                  href="CCH_009E.html"></A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha inicial </p>
          </td>
          <td>
            <p class="PARRAFO">Campo en formato YYYY-MM-DD, obligatorio, en el que se registra la fecha a partir de la cual se define el
              periodo de tiempo disponible para alcanzar la meta de obligaciones exitosamente finalizadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha final </span></p>
          </td>
          <td>
            <p class="PARRAFO">Este campo en formato YYYY-MM-DD, obligatorio, permite registrar la fecha hasta la cual se define el
              periodo de tiempo disponible para alcanzar la meta de obligaciones exitosamente finalizadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor meta </span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de 14 dígitos con 2 decimales, no obligatorio, en el que se relaciona el
              monto global que como mínimo debe recuperarse sobre el saldo de las obligaciones para alcanzar la
              meta. La entidad, acorde con sus políticas de cartera, debe estimar o determinar este valor.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor bonificación </span></p>
          </td>
          <td>
            <p class="PARRAFO">Este campo numérico de 14 dígitos con 2 decimales, no obligatorio, contiene
              el valor devengado por este concepto por el nivel jerárquico que se está parametrizando o
              por la gestión desarrollada por los niveles subordinados que dependen del mismo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Base porcentaje </span></p>
          </td>
          <td>
            <p class="PARRAFO">Este campo con lista de valores propia permite seleccionar entre Valor meta, Valor recuperado o
              Valor bonificado el monto sobre el cual se aplicar&agrave; el porcentaje definido en el campo
              anterior.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Porcentaje bonificación </p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de 3 dígitos incluidos 2 decimales, no obligatorio, en el que se registra el
              valor porcentual a pagar (adicionalmente o no), y que será liquidado sobre el monto definido en el
              campo Base porcentaje. Se recomienda que si no aplica, se le asigne el valor cero (0).</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  Si el usuario
        invoca la opción Actualizar se despliega un formulario en cual
        los únicos campos modificables son los siguientes:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/CCF_010B3.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>