<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Actividades por agente de cobro</p>

      <p class="PARRAFO">A través de la ejecución de esta opción el sistema asigna el agente de cobro a las
        diversas obligaciones que han sido registradas para tal fin. La asignación se realiza teniendo en cuenta
        varios de los parámetros definidos en todo el menú. </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/CCF_015B.svg"></p>

      <p class="PARRAFO">El formulario cuenta con los siguientes campos actualizables permanentemente:</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de asignación </span></p>
          </td>
          <td>
            <p class="PARRAFO">Lista de valores con las siguientes opciones: </p>
            <p class="PARRAFO">Asignación automática: Al seleccionar esta opción el sistema asigna de
              forma automática, a todas las obligaciones ingresadas a cobro, el agente responsable de cada una de
              ellas. </p>
            <p class="PARRAFO">Asignación manual sobrecupo / pago mínimo / mora: Mediante estas opciones se
              posibilita a la entidad asignar de forma manual e individual una obligación que por cumplir con los
              parámetros establecidos, deba iniciar el proceso de cobranza. Al seleccionar cualquiera de estas
              tres alternativas se activan los campos que identifican tanto al deudor, como al agente de cobro encargado
              y el tipo de gestión a seguir. Es de resaltar que estas opciones sólo aplican para
              obligaciones de tarjetas de crédito.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número tarjeta </p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 23 posiciones, obligatorio, en el que se registra la cadena
              de caracteres que identifica la tarjeta a la que se le inició proceso de cobro y se desea asignar.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de cobro </span></p>
          </td>
          <td>
            <p class="PARRAFO">Este campo cuenta con lista de valores poblada en la opción del mismo nombre y que
              permite seleccionar el <A href="CCH_002B.html">tipo de cobro</A> a efectuar. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Agente</span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo con lista de valores poblada en la opción <A href="CCH_001B.html">Agentes de
                  cobro</A> donde la entidad puede escoger la persona a quien se desea asignar la gestión de
              cobro de la obligación.</p>
          </td>
        </tr>
      </table>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>