<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Reglas</p>

      <p class="PARRAFO">Mediante esta opción, la entidad define las diferentes reglas que pueden ser utilizadas
        por el autorizador para aprobar, negar o referir una autorización, según se encuentren <a
          href="COH_031B.html">asociadas</a> con los diferentes <a href="MEH_002B.html">productos</a> crédito.
      </p>
      <p class="PARRAFO">El formulario contiene un filtro que le permite al usuario consultar la información
        específica por nombre de la regla, por la acción de la regla (aprobar, negar o referir), por el
        tipo de regla, por el estado (activa, inactiva) o por vigencia inicial / final. Por defecto, al ingresar al
        formulario este trae todas las reglas existentes en la base de datos.</p>
      <p class="TITLE"><img src="../img/COF_030B.PNG"></p>
      <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar y
        Adicionar. Contiene además un hipervínculo denominado <a href="COH_030B1.html">Definición
          de reglas</a>, desde donde se parametriza la estructura o contenido de la regla; el campo
        Definición de reglas le indica al usuario para cada una de las reglas creadas si éstas ya
        tienen o no definida su estructura, lo que es requisito indispensable para poderla <a
          href="COH_031B.html">asociar</a> posteriormente con los productos.</p>
      <p class="TITLE"><img src="../img/COF_030B1.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca
        la opción Adicionar se despliega un formulario con los siguientes campos:</p>
      <p class="TITLE"><img src="../img/COF_030B2.PNG"></p>


      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Nombre</p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de hasta 30 caracteres, obligatorio, en el cual se registra el
              nombre con el cual se va a identificar la regla. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Acción</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo tipo combo, obligatorio, se selecciona entre Aprobar, Negar o
              Referir la acción que determina la respuesta del autorizador, en caso que la tarjeta que
              se está evaluando cumpla con la síntaxis de la regla. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Definitivo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio que se habilita únicamente cuando en el campo acción se
              selecciona la opción 'Aprobar' y que contiene un combo con las opciones Si y No.
              </span>Cuando se selecciona</span><span class="PARRAFO"> Si, le indica al sistema que
                si la tarjeta que se está evaluando cumple con la sintaxis de la regla debe tomar la respuestas
                como definitiva y no continuar evaluando las demás reglas <a href="COH_031B.html">asociadas</a>
                al producto en caso que las hubiere. Si se selecciona No, indica que se deben seguir evaluando
                las demás reglas.</span>  Si la acción es diferente a Aprobar, este campo se
              oculta automáticamente en el formulario. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo no obligatorio se puede selecci0nar entre Tipo 1, Tipo 2 o
              Tipo 3 para darle una clasificación a las reglas </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Estado</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio tipo combo, en el cual se selecciona entre Activa o
              Inactiva el estado de la regla. El sistema solo evaluará aquellas reglas que además
              de estar <a href="COH_031B.html">asociadas</a> al producto se encuentren en estado Activa. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Vigencia inicial </p>
          </td>
          <td>
            <p class="PARRAFO">En este campo no obligatorio, la entidad puede determinar a partir de que fecha tiene
              validez o aplicación la regla. El sistema solo evaluará aquellas reglas que además de
              estar <a href="COH_031B.html">asociadas</a> al producto y encontrarse en estado Activa,
              </span>se encuentren vigentes al momento de solicitar la autorización.
              </span>Utiliza formato YYYY-MM-DD</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Vigencia final </td>
          <td>
            <div>Campo no obligatorio, en el que la entidad puede determinar hasta que fecha tiene validez o
              aplicación la regla. El sistema solo evaluará aquellas reglas que además de estar <a
                href="COH_031B.html">asociadas</a> al producto y encontrarse en estado Activa, se
                encuentren vigentes al momento de solicitar la autorización. Utiliza formato YYYY-MM-DD . </span> 
            </div>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Mensaje negación / referido </td>
          <td>
            <div>Este campo obligatorio contiene lista de valores de la cual se selecciona el <a
                href="COH_014B.html">código de respuesta</a> que el autorizador debe enviar en caso que de
              acuerdo con las validaciones de la tarjeta la autorización deba ser negada o referida. </div>
          </td>
        </tr>
      </table>
      <p class="TITLE"><img src="../img/MEF_002E5.PNG"></p>
      <p class="PARRAFO">Es importante tener en cuenta con las fechas de vigencia inicial y vigencia final las
        siguientes condiciones:</p>
      
        <p class="PARRAFO">Si ninguno de los dos campos tiene información la regla no se encuentra limitada en el tiempo y
          está vigente permanentemente. </p>
        <p class="PARRAFO">Si el campo vigencia inicial contiene datos pero vigencia final no, indica que la regla aplica desde la
          fecha indicada de manera indefinida </p>
        <p class="PARRAFO">Si el campo vigencia inicial no tiene información pero la vigencia final si, indica que la regla
          aplica únicamente hasta la fecha indicada.</p>
        <p class="PARRAFO">Si tanto el campo vigencia inicial como vigencia final contienen datos, indica que la regla solo aplica
          dentro de ese rango de fechas en particular. </p>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  Si el usuario invoca la
          opción Actualizar se despliega un nuevo formulario
          en el cual el único campo NO modificable es el Nombre.</p>
      <p class="TITLE"><img src="../img/COF_030B3.PNG"></p>
      
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>