<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Plan de pago preferencial</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Mediante esta función se habilita un centro de autorizaciones
        manual, con el fin de atender los establecimientos a los cuales les es permitido efectuar transacciones de pago
        preferencial.</p>
      <p class="PARRAFO">Al ingresar al formulario el usuario debe registrar el n&uacute;mero de tarjeta, el
        c&oacute;digo alfa, el valor de la transacci&oacute;n y el c&oacute;digo del establecimiento que solicita la
        autorizaci&oacute;n. </p>

      <p class="TITLE"><img src="../img/COF_037B.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>N&uacute;mero
                  tarjeta </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se captura el n&uacute;mero de tarjeta del cliente a quien
              se le otorgar&aacute; la autorizaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>C&oacute;digo alpha </b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio en el que se registra el n&uacute;mero del c&oacute;digo alpha de la
              tarjeta a autorizar. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor<b><span>
                </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo obligatorio se ingresa el monto de la transacci&oacute;n que se est&aacute;
              solicitando autorizar.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n<b><span>
                </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida no modificable que muestra la transacci&oacute;n original con la cual el autorizador reconoce
              que es una transacci&oacute;n Plan de Pago Preferencial para que pueda afectar directamente la
              l&iacute;nea PPP y no la de consumos de la tarjeta. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Establecimiento</b></p>
          </td>
          <td>
            <p class="PARRAFO">En este campo obligatorio se debe ingresar el c&oacute;digo del establecimiento que
              solicita la autorizaci&oacute;n. Al momente de cargar la informaci&oacute;n el sistema debe validar que
              las posiciones 5 y 6 del c&oacute;digo del establecimiento sean 28 o 48 para identificar si el
              establecimiento est&aacute; o no autorizado para efectuar transacciones PPP. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Moneda</b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida que muestra la moneda en la cual se denomina la transacci&oacute;n y que por defecto es la
              moneda patron definida para la entidad. </p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">Despu&eacute;s de haber diligenciado los datos requeridos en el formulario inicial al utilizar
        el bot&oacute;n Cargar informaci&oacute;n una vez que el sistema valide la tarjeta y el establecimiento
        se despliega un nuevo formulario que muestra toda la informaci&oacute;n b&aacute;sica de la transacci&oacute;n a
        autorizar y donde todos los campos son de salida no modificables por el usuario, </p>
      <p class="TITLE"><img src="../img/COF_037B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>N&uacute;mero
                tarjeta </b></p>
          </td>
          <td>
            <p class="PARRAFO">Muestra
              el n&uacute;mero de tarjeta ingresado de la autorizaci&oacute;n que
              se dese crear.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Nombre
                pl&aacute;stico </b></p>
          </td>
          <td>
            <p class="PARRAFO">Despliega el nombre del cliente a quien pertenece la tarjeta.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo
              identificaci&oacute;n <b><span></span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Contiene
              el tipo documento de identificaci&oacute;n del tarjetahabiente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero
              identificaci&oacute;n <b><span></span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Indica el n&uacute;mero de documento de identificaci&oacute;n del tarjetahabiente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Fecha
                vencimiento </b></p>
          </td>
          <td>
            <p class="PARRAFO">Muestra
              la fecha de vencimiento de la tarjeta capturada previamente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Transacci&oacute;n</b></p>
          </td>
          <td>
            <p class="PARRAFO">Despliega la transacci&oacute;n para la cual se est&aacute; solicitando la
              autorizaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Moneda</b></p>
          </td>
          <td>
            <p class="PARRAFO">Contiene la moneda en la cual se denomina la transacci&oacute;n que se est&aacute;
              solicitando autorizar. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Valor
                transacci&oacute;n</b></p>
          </td>
          <td>
            <p class="PARRAFO">Indica el monto por el cual se solicita la autorizaci&oacute;n </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Establecimiento</b></p>
          </td>
          <td>
            <p class="PARRAFO">Despliega el c&oacute;digo y nombre el establecimiento que solicita la
              autorizaci&oacute;n PPP </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Horario</b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene informaci&oacute;n del horario en que el establecimiento
              est&aacute; autorizado para operar normalmente; este dato ayuda a la
              entidad a detectar comportamientos fraudulentos con el uso de la tarjeta.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero
              identificaci&oacute;n</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se muestra el c&oacute;digo de identificaci&oacute;n del
              establecimiento en d&oacute;nde se est&aacute; realizando la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Raz&oacute;n
                social </b></p>
          </td>
          <td>
            <p class="PARRAFO">Muestra
              el nombre con el cual se encuentra registrado el establecimiento ante
              la C&aacute;mara de Comercio o la entidad que cumpla esa funci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Servicio</b></p>
          </td>
          <td>
            <p class="PARRAFO">Despliega
              el c&oacute;digo y nombre del servicio asociado al comercio a trav&eacute;s
              del cual se realiza la utilizaci&oacute;n para la que se registra la
              autorizaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Convenio</b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida que muestra el c&oacute;digo y el nombre del convenio al que
              pertenece la tarjeta cuando es de marca privada</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Proceso
            autorizaci&oacute;n:</span>  A trav&eacute;s de este bot&oacute;n el sistema
          inicia el proceso de generar la autorizaci&oacute;n, y muestra el resultado
          en el bloque Informaci&oacute;n de la autorizaci&oacute;n.</span></p>
      <p class="PARRAFO">En este bloque, una vez capturada la informaci&oacute;n
        requerida para la autorizaci&oacute;n, se muestra la respuesta arrojada por
        la solicitud de autorizaci&oacute;n una vez se apliquen las correspondientes
        validaciones.</p>
      <p class="TITLE"><img src="../img/COF_037B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>C&oacute;digo
                respuesta </b></p>
          </td>
          <td>
            <p class="PARRAFO">Corresponde
              al c&oacute;digo y descripci&oacute;n de la respuesta a la solicitud
              de autorizaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero
              autorizaci&oacute;n</p>
          </td>
          <td>
            <p class="PARRAFO">En
              caso de que la solicitud de autorizaci&oacute;n haya sido exitosa, en
              este campo aparece el n&uacute;mero que fue asignado como aprobaci&oacute;n
              de la misma.</p>
          </td>
        </tr>
      </table>

      <p>Plan de Pago Preferencial. El formulario contiene un hiperv&iacute;nculo denominado Plan de Pago
          Preferencial que al ser invocado despliega un nuevo formulario que contiene la informaci&oacute;n
        requerida por el usuario que est&aacute; capturando la solicitud de autorizaci&oacute;n con el fin de permitirle
        decidir si la niega de manera aut&oacute;noma o si por el contrario invoca el autorizador para que sea
        &eacute;ste quien decida si niega o aprueba la solicitud.</p>
      <p>La informaci&oacute;n desplegada es &uacute;nicamente de salida y se alimenta mediante el cargue de un archivo.
        Si para la tarjeta que solicita la autorizaci&oacute;n no existe informaci&oacute;n al invocar el
        hipev&iacute;nculo se desplegar&aacute; un mesnaje de error indicando al actor este evento. </p>
      <p class="TITLE"><img src="../img/COF_037B3.PNG"></p>
      <p>Este formulario solo contiene el bot&oacute;n Salir que le permite al actor regresar al formulario
        inicial desde donde podr&aacute; Invocar el autorizador, negar o cancelar la autorizaci&oacute;n. </p>
      <p class="TITLE">OPCIONES ESPECIALES </p>
      <p class="PARRAFO">Negar: mediante este bot&oacute;n el usuario puede negar de manera inmediata la
        autorizaci&oacute;n, sin necesidad de invocar el autorizador, cuando despu&eacute;s del an&aacute;lisis hecho en
        el formulario Plan de Pago Preferencial considera que no se debe aprobar la autorizaci&oacute;n </p>
      <p class="PARRAFO">Proceso autorizaci&oacute;n: mediante este bot&oacute;n el usuario invoca el
        autorizador permitiendo que sea &eacute;ste quien decida con base en las validaciones propias si aprueba o niega
        la autorizaci&oacute;n solicitada.</p>
      <p class="PARRAFO">Cancelar: mediante este bot&oacute;n el usuario regresa al formulario inicial de
        captura y no efect&uacute;a ning&uacute;n tipo de proceso con la autorizaci&oacute;n. </p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>