<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Consulta cargue de autorizaciones Visa</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Esta funcionalidad le permite a la entidad consultar en detalle, las autorizaciones que
                ingresaron mediante el cargue de un archivo recibido, actualmente, en Colombia, de Credibanco.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El formulario cuenta con conjunto de campos o
                criterios para realizar la búsqueda, mínimo debe contener un dato:</p>
            <p class="TITLE"><img src="../img/COF_020B4.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">N&uacute;mero
                                autorizaci&oacute;n</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se digita el número de autorización sobre el cual se desea
                            realizar la consulta.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">N&uacute;mero
                                    tarjeta </span></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se digita el número de tarjeta por la que se desea efectuar
                            la consulta.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">C&oacute;digo
                            respuesta</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se puede digitar, el código de respuesta dado por el sistema
                            sobre la autorización respecto de la cual se desea realizar la consulta.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Fecha
                            transacci&oacute;n</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que el sistema permite seleccionar de un calendario, la fecha en
                            la que se realizó la utilización respecto de la cual se desea realizar la consulta.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Hora
                            transacci&oacute;n</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se puede digitar en formato HH:MM:SS el momento en el que se
                            realizó la utilización respecto de la cual se desea efectuar la consulta.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Clase
                            transacci&oacute;n</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se puede digitar el código de la transacción asociada a la
                            utilización respecto de la cual se desea realizar la consulta. </p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Fecha
                            cargue </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo en el que se permite seleccionar de un calendario, la fecha en la que
                            ingresó o se cargó el archivo con la autorización respecto de la cual se desea realizar la
                            consulta.</p>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO">A trav&eacute;s del bot&oacute;n Buscar, se muestra un formulario
                que contiene la siguiente informaci&oacute;n, junto con la opci&oacute;n Detalle.</p>
            <p class="TITLE"><img src="../img/COF_020B5.PNG"></p>

            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Detalle:</span> 
                    A trav&eacute;s de este bot&oacute;n el sistema muestra un formulario con
                    la siguiente informaci&oacute;n. Adicionalmente, cuenta con la opci&oacute;n
                    C&oacute;digo rechazo.</span></p>
            <p class="TITLE"><img src="../img/COF_020B6.PNG"></p>

            <p class="PARRAFO"><span class="SUBTITULO">C&oacute;digo rechazo:</span> 
                A trav&eacute;s de este bot&oacute;n el sistema muestra un formulario con
                el c&oacute;digo y la descripci&oacute;n de los rechazos presentados en el
                cargue de la autorizaci&oacute;n consultada. Si la autorizaci&oacute;in no
                present&oacute; rechazos, el formulario no mostrar&aacute; informaci&oacute;n.</span></p>
            <p class="TITLE"><img src="../img/COF_020B7.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>