<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Consulta reglas por producto </p>

      <p class="PARRAFO">Mediante esta opción, la entidad puede consultar de manera global todos las reglas
        asociadas con los diferentes productos crédito. </p>
      <p class="PARRAFO">A diferencia de la opción reglas por producto, <a href="COH_031B.html">asociar
          reglas</a> donde solo es posible consultar las reglas asociadas con un producto seleccionado previamente,
        desde este formulario el actor puede consultar todos los productos que tienen asociada una regla en particular,
        o ver a nivel general todos los productos con sus respectivas reglas.</p>
      <p class="PARRAFO">El formulario contiene un filtro que le permite al usuario consultar la información
        específica para los productos pertenecientes a un bin, un segmento, un grupo de afinidad, un producto o
        una regla particular. Por defecto, al ingresar al formulario este trae todos los productos que tengan por lo
        menos una regla asociada.</p>

      <p class="TITLE"><img src="../img/COF_032B.PNG"></p>
      <p class="PARRAFO">El formulario muestra un registro por cada combinación de producto y regla existentes,
        es decir, que si un producto tiene asociadas 5 reglas, el formulario mostrará 5 registros. </p>
      <p class="TITLE"><img src="../img/COF_032B1.PNG"></p>

      <p class="PARRAFO">El formulario Consulta reglas por producto por ser solamente de consulta no contiene opciones ni
        hipervínculos adicionales. Los campos que contiene son los siguientes: </p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Bin</p>
          </td>
          <td>
            <p class="PARRAFO">Campo de salida que muestra el bin correspondiente al producto</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Producto </p>
          </td>
          <td>Despliega el segmento correspondiente al producto </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Grupo de afinidad </td>
          <td>
            <p class="PARRAFO">Campo de salida que muestra el grupo de afinidad correspondiente al producto</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Regla</p>
          </td>
          <td>Muestra cada el nombre de la regla asociada al producto (bin + producto + grupo de afinidad)
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Prioridad </p>
          </td>
          <td>Indica la prioridad que se le asignó a la regla cuando fue <a href="COH_031B.html">asociada</a> con
            el producto </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"> Estado</p>
          </td>
          <td>Muestra si la <a href="COH_030B.html">regla</a> se encuentra activa o inactiva </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"> Acción</p>
          </td>
          <td>Campo que se&ntilde;ala si la función de la regla es aprobar, negar o referir la
            autorización </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"> Vigencia incial </p>
          </td>
          <td>Despliega en en formato YYYY-MM-DD la fecha a partir de la cual la regla es aplicable. Puede no contener
            información </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Vigencia final </p>
          </td>
          <td>
            <p class="PARRAFO">India en en formato YYYY-MM-DD la fecha hasta la cual la regla es aplicable. Puede no
              contener información </p>
          </td>
        </tr>
      </table>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>