<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
    <style>
        footer {
            position: fixed;
        }

        section p {
            width: 625px;
        }
        section ul {
            display: none;
        }
        section div p {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Cobranzas 
            </p>

            <p class="PARRAFO">El presente módulo puede operar independientemente del resto del aplicativo, y permite la administración del proceso de cobranzas desde la asignación de las obligaciones hasta la liquidación de las comisiones u honorarios de los agentes o casas de cobranza. 
            </p>
            <p style="text-align: left; cursor: pointer;color:#341C8C" onclick="toggleList('Parámetros')" onmouseover="this.style.color='#F26716'" onmouseout="this.style.color='#341C8C'">Parámetros</p>

            <ul id="Parámetros">
                <li><a href="CCH_001B.html">Operadores de cobro</a></li>
                <li><a href="CCH_002B.html">Tipos de cobro</a></li>
                <li><a href="CCH_003B.html">Tipos de documentos</a></li>
                <li><a href="CCH_004B.html">Actividades de cobro</a></li>
                <li><a href="CCH_005B.html">Parámetros de calificación</a></li>
                <li><a href="CCH_006B.html">Actividades por tipo de cobro</a></li>
                <li><a href="CCH_007B.html">Actividades por tipo de perfil</a></li>
                <li><a href="CCH_008B.html">Descuentos por agente</a></li>
                <li><a href="CCH_009B.html">Comisiones</a></li>
                <li><a href="CCH_011B.html">Tipos de compromisos</a></li>
                <li><a href="CCH_012B.html">Agentes por zonas</a></li>
            </ul>
           
            <li><a href="CCH_013B.html">Registro y actualización de clientes</a></li>
            <li><a href="CCH_014B.html">Ingreso / Consulta de cobros</a></li>
            <li><a href="CCH_015B.html">Actividades por agente de cobro</a></li>
            <li><a href="CCH_016B.html">Actualización / Manejo de actividades</a></li>
            <li><a href="CCH_017B.html">Reasignación de la cobranza</a></li>
            <li><a href="CCH_018B.html">Pago y abono de honorarios</a></li>
            <li><a href="CCH_019B.html">Consulta de actividades</a></li>
            <li><a href="CCH_020B.html">Histórico de gestiones</a></li>
   

        </div>

        <img class="ImagenBankbu" src="../img/bankbu-removebg-preview.PNG" alt="Imagen de la empresa">

    </section>
    <script src="../js/opciones.js"></script>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>