<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Validaciones</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">A trav&eacute;s de este formulario el sistema permite al
        actor ingresar las posibles validaciones que estar&aacute;n presentes en el momento de otorgar la autorizacion.
        Estas validaciones se asocian al producto y a las l&iacute;neas de cr&eacute;dito mediante la opci&oacute;n <a
          href="COH_007B1.html">Validaciones por puerto</a>.</p>
      <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar,
        y Adicionar. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
      <p class="TITLE"><img src="../img/COF_016B3.PNG"></p>

      <p><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a trav&eacute;s
        de las siguientes opciones: </p>
      <p class="TITLE"><img src="../img/COF_016B4.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Tipo
                  de Dato </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo puede diligenciarse por medio de combo anexo con las opciones
              &quot;Proceso Autorizador &quot; o &quot;Existencia autorizacion&quot;
              y Blanco</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opci&oacute;n Adicionar se
        despliega un formulario con los siguientes campos<span>:</span></p>
      <p class="TITLE"><img src="../img/COF_016B5.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>C&oacute;digo</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio, numérico de máximo 6 dígitos, en el que debe indicarse el dato
              asociado a cada nueva validación que se adicione.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Descripci&oacute;n</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio, alfanumérico, en el que en máximo 150 caracteres permite definir el
              nombre o descriptivo de cada validación.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Tipo
                  de validaci&oacute;n</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio, que posee lista de valores tipo combo, de la que debe seleccionarse
              entre 'Proceso autorizador' o 'Existencia autorización' dependiendo de a cual de ellos corresponda la
              validación.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
          Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
          en el cual los &uacute;nicos campos modificables son: Descripci&oacute;n y
          <span>Tipo de validaci&oacute;n</span> . </span></p>
      <p class="TITLE"><img src="../img/COF_016B6.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>