<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Puertos</p>
              
        <p class="PARRAFO"><span class="SUBTITULO">Direcciones por
            puerto:</span> Esta
          función hace posible definir la conexión lógica
          entre
          el sistema operativo central y el enrutador (switch).</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
          Eliminar
          y Adicionar. Adicionalmente, cuenta con un botón en la parte
          superior
          para ir a la opción anterior: <a
            href="COH_007B.html">Puertos</a>.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_007B23.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca
          la opción Adicionar se despliega un formulario con los
          siguientes campos:</span>
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_007B9.svg"></p>

        <table>
          <tr>
            <td class="titletable"><span class="SUBTITULO">Marca</span></td>
            <td class="PARRAFO">Campo
              obligatorio que posee lista de valores poblada mediante la
              opción <a href="NUH_033B.html">Franquicias
              </a>del Núcleo. </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Dirección</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico de 2 posiciones, obligatorio, que contiene la
                dirección
                de la unidad lógica (combinación de caracteres)
                con la
                cual se identificará el equipo de la entidad para que se
                comunique
                con el autorizador durante el proceso de autorizaciones. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Perfil</p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo es complementario del anterior y en él se determina
                el
                perfil o rasgo del puerto.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Dirección
                host </p>
            </td>
            <td>
              <p class="PARRAFO">Contiene
                el número de puerto al cual se asociará su
                dirección
                lógica.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo contiene el nombre del puerto que se está
                definiendo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Lectura</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                con lista de valores de la que se debe seleccionar si el puerto
                que
                se está definiendo permite lectura bloqueante ó
                lectura
                no bloqueante</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo
                de dirección</p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo indica el esquema entrada/salida que es permitido en la
                conexión
                lógica.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un formulario
            en el cual los únicos campos modificables son: Perfil,
            Dirección
            host, Descripción, Lectura, y Tipo de
            dirección.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_007B10.svg"></p>

        <p class="PARRAFO"><a href="COH_007B.html">Puertos</a> | </span><a
            href="COH_007B1.html">Validaciones
            por puerto</a> | </span><a href="COH_007B3.html">Límite
            de autorizaciones</a>
          |</span>
          <a href="COH_007B5.html">Límite de autorizaciones ContacLess</a>
           | </span><a href="COH_007B4.html">Parámetros
            valida existencia autorización</a> |</span>
          <a href="COH_007B5.html">Límite de autorizaciones ContacLess</a>
        </p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

  </html>