<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">SLI3DSecure</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Mediante este formulario la entidad puede definir las SLI3DSecure, que equivalen al dato
                E-COM-SEC-LVL-IND del Token B0.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, y Adicionar.</p>
            <p class="TITLE"><img src="../img/COH_060B.PNG"></p>

            <p class="PARRAFO"><span class="SUBTITULO"> Adicionar:</span>  Al invocarse la opción Adicionar se despliega
                un nuevo formulario con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/COH_060B1.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Valor</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo alfanumérico de 3 dígitos, obligatorio, en el que se registra el código
                            asignado a cada una de las SLI3DSecure que defina la entidad.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Descripción</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo alfanumérico de 30 posiciones, obligatorio, contiene un breve
                            descriptivo que ilustra el evento ocurrido durante el proceso de validación/verificación de
                            la autorización.</p>
                    </td>
                </tr>

            </table>

            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar: </span> 
                    Si el usuario invoca la opción Actualizar se despliega un nuevo formulario en el cual el único campo
                    modificable es: Descripción.</p>
            <p class="TITLE"><img src="../img/COH_060B2.PNG"></p>
        </div>
    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>