<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">C&oacute;digos de rechazo</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">A trav&eacute;s de esta opci&oacute;n se definen los c&oacute;digos
                de rechazo de los registros que vienen en el cargue de autorizaciones; es
                importante aclarar que no se trata del rechazo de la autorizaci&oacute;n como
                tal, pues para este caso se manejan los <a href="COH_014B.html">C&oacute;digos
                    de respuesta</a>.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar,
                y Adicionar.</p>
            <p class="TITLE"><img src="../img/COF_024B.PNG"></p>

            <p><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca
                la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<span>:</span></p>
            <p class="TITLE"><img src="../img/COF_024B1.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO"><b>C&oacute;digo</b></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            alfanum&eacute;rico de 3 d&iacute;gitos, obligatorio, en el que se
                            registra el c&oacute;digo asignado a cada una de las posibles causas
                            de rechazo de los registros contenidos en la cinta de cargue de autorizaciones.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO"><b>Descripci&oacute;n</b></p>
                    </td>
                    <td>
                        <p class="PARRAFO">En
                            este campo alfanum&eacute;rico de 40 posiciones, obligatorio, se registra
                            el nombre de la causal de rechazo asociada al c&oacute;digo anterior.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
                    Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
                    en el cual el &uacute;nico campo modificable es: Descripci&oacute;n.</span></p>
            <p class="TITLE"><img src="../img/COF_024B2.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>