<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Claves</p>

        <p class="PARRAFO">Esta función registra en el sistema las claves
          necesarias
          en el realce de tarjetas y validación de pin, utilizadas durante los
          procesos de emisión de nuevas tarjetas, renovación y sobreflex.</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_040B.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la opción Adicionar se
          despliega un formulario con los siguientes campos:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_040B1.svg"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Clave</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico, obligatorio, de máximo dos
                dígitos en el que se define cada una de las
                claves de seguridad que hacen parte de la data incluida dentro
                de la banda magnética o chip.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre</p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanumérico, obligatorio, que en máximo
                diez caracteres, contiene la descripción de cada una de
                las claves de seguridad definidas por la entidad.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un nuevo
            formulario
            en el cual el único campo modificable es: Nombre.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/COF_040B2.svg"></p>

        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

    </html>