<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BANKBU®</title>
        <link rel="stylesheet" href="../css/pages.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
    </head>

    <body>

        <header>
            <img class="logo" src="../img/logoBankbu_.PNG"
                alt="Logo de Mi Empresa">
            <div id="menuBtn">
                <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
            </div>
        </header>
        <div id="menuContainer"></div>
        <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

        <section>
            <div>
                <p class="TITLE">Consulta de parámetros</p>

                <p class="PARRAFO">Mediante esta opción, el actor puede
                    consultar los valores de los
                    parámetros cargados mediante el archivo correspondiente, y
                    que van a ser utilizados por el
                    autorizador al momento de evaluar las reglas. </p>
                <p class="PARRAFO">El formulario cuenta con un filtro que le
                    permite al actor consultar todos los
                    parámetros de la tarjeta, o bien un parámetro en particular.
                    El uso del filtro
                    número de tarjeta es obligatorio.</p>

                <p class="TITLE"><img src="../img/COF_034B.PNG"></p>

                <p class="PARRAFO">El formulario por ser de consulta no contiene
                    ninguna opción adicional y no permite adicionar ni
                    actualizar los datos y contiene los siguientes campos: </p>

                <p class="TITLE"><img src="../img/COF_034B1.PNG"></p>

                <table>
                    <tr>
                        <td class="titletable">
                            <p class="SUBTITULO">Nombre</p>
                        </td>
                        <td>
                            <p class="PARRAFO">Campo que muestra el nombre de
                                cada uno de los parámetro o variables
                                existentes en la tabla de parámetros y para el
                                cual se muestra información.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="titletable">
                            <p class="SUBTITULO">Valor</p>
                        </td>
                        <td>
                            <p class="PARRAFO">Este campo despliega el valor que
                                tiene cada uno de los parámetros
                                para la tarjeta consultada.</p>
                        </td>
                    </tr>
                </table>
            </section>
            <script src="../js/menu.js"></script>
        </body>
        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

    </html>