<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Autorizaciones VIP </p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Mediante esta opci&oacute;n, el actor puede consultar aquellas tarjetas a las que por
                cualquier circustancia se les neg&oacute; una autorizaci&oacute;n y que por el tipo de cliente a quien
                pertenece la tarjeta o por pol&iacute;ticas de la entidad, se le debe permitir efectuar la
                transacci&oacute;n.</p>
            <p class="PARRAFO">Debe tenerse en cuenta que si se trata de una autorizaci&oacute;n <a
                        href="COH_035B.html">referida</a>, la soluci&oacute;n se debe dar desde esa opci&oacute;n
                en particular y no mediante autorizaciones VIP. </p>
            <p class="PARRAFO">Al ingresar al formulario se despliega un filtro inicial en el cual el actor debe
                diligenciar de manera obligatoria el n&uacute;mero de la tarjeta a la que se le neg&oacute; la
                autorizaci&oacute;n. </p>

            <p class="TITLE"><img src="../img/COF_036B.PNG"></p>

            <p>Una vez ingresado el n&uacute;mero de la tarjeta, mediante el bot&oacute;n Cargar
                    informaci&oacute;n el sistema busca la informaci&oacute;n de la misma en la tabla de referidos
                y despliega el formulario correspondiente. </p>
            <p>Con excepci&oacute;n del campo 'Observaciones autorizaci&oacute;n' que es el &uacute;nico
                editable por el actor, todos los dem&aacute;s campos se toman de la tabla de referidos donde son
                actualizados mediante el cargue de un archivo de referidos ejecutado desde automatizaci&oacute;n de
                procesos. </p>
            <p>Nota importante: este formulario requiere que exista informaci&oacute;n para la tarjeta en la
                tabla de referidos (CO_REFERRAL); si la tarjeta seleccionada en el filtro no existe en dicha tabla, al
                utilizar el bot&oacute;n Cargar informaci&oacute;n se despliega un mensaje indicando este
                evento al actor y no le permite ingresar al formulario correspondiente. </p>

            <p class="TITLE"><img src="../img/COF_036B1.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">N&uacute;mero de la tarjeta </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Este campo obligatorio muestra el n&uacute;mero de tarjeta a la que pertenece
                            la informaci&oacute;n desplegada.</p>
                    </td>
                </tr>

                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Recomendaci&oacute;n sistema autorizador </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo alfanum&eacute;rico de hasta 400 caracteres, obligatorio, en el cual el
                            usuario del call center registra las observaciones para sustentar el motivo por el cual se
                            neg&oacute; o aprob&oacute; la autorizaci&oacute;n especial al cliente titular de la
                            tarjeta.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">El formulario contiene dos botones mediante los cuales el actor puede
                aprobar o negar la autorizaci&oacute;n vip de acuerdo con las pol&iacute;ticas de la entidad,
                adem&aacute;s del bot&oacute;n Cancelar que le permite regresar al formulario inicial que
                contiene el filtro de consulta.</p>
            
    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>