<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Análisis contable</p>

      <p class="PARRAFO">En este formulario, la entidad puede consultar la información contable generada durante el
        proceso diario y, la manera como se afectó por los diferentes registros. Debe tenerse en consideración, el
        momento de ejecución del proceso que agrupa el movimiento contable, para garantizar que la información
        consultada en este formulario, sea realmente la que corresponda al movimiento procesado.</p>
      <p class="PARRAFO">El formulario contiene cinco enlaces que permiten invocar otros formularios que muestran la <a
          href="CTH_002B.html#BL_CONSOLIDA">Consolidación
          del movimiento</a>, <a href="CTH_002B.html#BL_MAYORIZA">Nivel
          de mayorización 4</a>, <a href="CTH_002B.html#BL_MAYORIZA">Nivel
          de mayorización 3</a>, <a href="CTH_002B.html#BL_MAYORIZA">Nivel
          de mayorización 2</a>, <a href="CTH_002B.html#BL_MAYORIZA">Nivel
          de mayorización 1</a> y Detalle.</p>
      <p class="PARRAFO">Al invocarlo, se muestra en modo consulta o Filtro, y por defecto con la misma fecha de proceso
        o del sistema en el campo Fecha contabilización. Si el usuario activa el botón Buscar, el sistema realiza la
        consulta y en un nuevo formulario muestra los datos obtenidos, incluso si a ese momento no se han generado
        cifras contables, para la Fecha contabilización.</p>
      <p class="PARRAFO">Esta funcionalidad permite consultar la totalidad de las cifras contables del universo de
        tarjetas de crédito para la Fecha contabilización indicada, para una única tarjeta, dato ingresado en el campo
        Número tarjeta, o utilizando uno o varios de los campos provistos, en los que se puede digitar el dato o
        seleccionarlo de la lista de valores adjunta, luego de lo cual basta con activa el botón Buscar. </p>
      <p class="TITLE"><img src="../img/CTF_002E.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">
                Fecha contabilización
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio que por defecto muestra la misma fecha de proceso o del sistema, sin
              embargo, mediante un calendario provisto, permite seleccionar fechas anteriores sobre las que se requiere
              realizar la consulta de las cifras contables. </p>
          </td>
        </tr>
      </table>

      <div class="PARRAFO">
        <p class="TITLE"><img src="../img/CTF_002E1.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código cuenta
                </p>
            </td>
            <td>
              <p class="PARRAFO">
                En este campo se muestra el código y nombre de la cuenta afectada contablemente y, a la cual corresponde
                la información desplegada a su derecha.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Concepto contable
                </p>
            </td>
            <td>
              <p class="PARRAFO">
                De acuerdo con el tipo de movimiento, este campo muestra el código y nombre del concepto contable con el
                cual llegó la información para generar el correspondiente registro a la cuenta.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Identificador contable
                </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo contiene, de acuerdo con el movimiento ingresado, el código y nombre del <a
                  href="NUH_078B.html">identificador contable</a> con el que llegó la información para efectuar los
                respectivos registros a la cuenta.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Movimiento débito

                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el valor total de los registros de naturaleza débito, aplicados a la
                combinatoria: cuenta, moneda, concepto contable e identificador, para el día de proceso correspondiente.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Movimiento crédito

                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el valor total de los registros de naturaleza crédito, aplicados a la
                combinatoria: cuenta, moneda, concepto contable e identificador, para el día de proceso correspondiente.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Total débito por página

                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el monto (sumatoria), de los movimientos de naturaleza débito,
                correspondientes a los registros que se encuentran desplegados en la página actual, que está consultando
                el usuario.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Total crédito por página

                </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo muestra el monto (sumatoria), de los movimientos de naturaleza crédito,
                correspondientes a los registros que se encuentran desplegados en la página actual, que está consultando
                el usuario..</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO">Si el usuario selecciona un registro e invoca la opción Detalle, se despliega un formulario
          con la información completa del registro y en el cual ninguno de sus campos es modificable.</p>
        <p class="TITLE"><img src="../img/CTF_002E6.PNG"></p>
        <p class="PARRAFO">Adicional a los primeros campos ya descritos más arriba, a continuación, se detallan los
          restantes campos, contenidos en el formulario.</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin
                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que muestra el código y nombre del Bin al que pertenecen las TC's, con las que se efectuaron las
                utilizaciones para las que se refleja la información procesada y registrada en esta cuenta contable.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Segmento
                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que muestra el código y nombre del Segmento al que pertenecen las TC's, con las que se efectuaron
                las utilizaciones para las que se refleja la información procesada y registrada en esta cuenta contable.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Grupo de afinidad
                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el código y nombre del Grupo de afinidad al que pertenecen las TC's,
                con las que se efectuaron las utilizaciones para las que se refleja la información procesada y
                registrada en esta cuenta contable.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Sucursal

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que muestra el código y nombre de la <a href="NUH_020B.html">Sucursal</a> a través de la cual se
                efectuaron las utilizaciones para las que se refleja la información procesada y registrada en esta
                cuenta contable.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Oficina de radicación

                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el código y nombre de la <a href="NUH_020B.html">Sucursal</a> a la
                que pertenecen las TC's, con las que se efectuaron las utilizaciones para las que se refleja la
                información procesada y registrada en esta cuenta contable.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Origen

                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que muestra el código y nombre del <a href="NUH_027B.html">origen</a>, por medio
                del cual llegó la información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo cartera

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que muestra el código y nombre del <a href="NUH_015B.html">tipo de cartera</a> asociado a las
                TC's, con las que se efectuaron las utilizaciones para las que se refleja la información procesada y
                registrada en esta cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Transacción interna

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Este campo muestra el código y nombre de la <a href="MEH_003B.html">transacción interna</a>, con la cual
                llegó el movimiento para ser registrado en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Línea de consumo

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que contiene el código y nombre de la línea de crédito, a la cual pertenece la transacción y, con
                la cual llegó la información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Edad mora

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                En este campo se muestra la edad de mora de las TC's, con la cual llegó la información procesada y
                registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Calificación externa

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que indica la calificación externa de las TC's, con la cual llegó la información procesada y
                registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Calificación sistema

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                En este campo se despliega la calificación del sistema asociada a las TC's, y con la cual llegó la
                información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Calificación provisión

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que contiene la calificación para provisión asociada a las TC's, y con la cual llegó la
                información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Identificación tercero

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                En este campo se muestra la identificación del tercero, número de la TC y nombre plástico, (para efectos
                de la interfase contable), con el cual llegó la información procesada y registrada en la cuenta
                contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo en el que se indica la <a href="NUH_033B.html">marca</a> a la que pertenecen las TC's, y con la
                cual llegó la información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo de garantìa

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                En este campo se despliega el tipo de garantìa con el cual llegó la información procesada y registrada
                en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo cuenta

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Campo que muestra, de acuerdo con la información de los establecimientos, el tipo de cuenta con el cual
                llegó la información procesada y registrada en la cuenta contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha contabilización

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Este campo indica en formato YYYY-MM-DD la fecha en la cual se registró la información contable.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modalidad de crédito

                </p>
            </td>
            <td>
              <p class="PARRAFO">
                Muestra de acuerdo con la información procesada y registrada en la cuenta contable, la modalidad de
                crédito con la cual llegó la información.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><a name="BL_CONSOLIDA"></a><span class="SUBTITULO">Consolidación movimiento:</span> Si el usuario activa el enlace, se despliega un nuevo formulario que muestra, únicamente, la sumatoria de los valores débito y crédito, permitiendo de un solo vistazo, validar si la contabilidad para ese día de proceso está cuadrada o no.</p>
        <p class="TITLE"><img src="../img/CTF_002E9.PNG"></p>
        <p class="PARRAFO"><a name="BL_MAYORIZA"></a><span class="SUBTITULO">Nivel '4, 3, 2, 1' de mayorización:</span>
          Si el usuario invoca cualquiera de esos enlaces, se despliega un nuevo formulario que muestra, de acuerdo con
          lo definido por la entidad en <a href="CTH_001B.html">Parámetros contables</a>, las cuentas contables en sus
          diferentes niveles o cantidad de dígitos definidos. Los campos desplegados en cualquiera de estos formularios
          son los mismos, y lo único que cambia es la cantidad de dígitos de la cuenta contable que se muestran al
          usuario, en el mismo formulario, en otras palabras, a diferentes niveles de consolidación o desagregado.</p>

        <p class="PARRAFO">El formulario contiene un filtro que le permite al usuario consultar dentro de cada nivel de mayorización la
          información correspondiente a una cuenta determinada.</p>
        <p class="TITLE"><img src="../img/CTF_002E3.PNG"></p>

        <table>
          <tr>
          <td>
            <p class="TITLE"><img src="../img/CTF_002E7.PNG"></p>
          </td>
          <td>
            <p class="PARRAFO"><span class="SUBTITULO">Actualizar datos:</span> Si producto de la verificación de las
              cifras contables, se detecta, por ejemplo, alguna diferencia causada por una cuenta erróneamente
              parametrizada o no creada, luego de realizar la actividad o modificación correspondiente, le permite a la
              entidad, mediante este botón especial, volver a generar las cifras contables, antes de avanzar en la
              ejecución de los restantes procesos del batch.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="TITLE"><img src="../img/CTF_002E8.PNG"></p>
          </td>
          <td>
            <p class="PARRAFO"><span class="SUBTITULO">Cuadrar saldos:</span> Funcionalidad que permite forzar el cuadre de las cifras contables, a pesar de que no se subsanen o erradiquen las causas de las mismas.</p>
          </td>
        </tr>
        </table>
      </div>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>