<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Homologaci&oacute;n de productos d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">Desde este formulario, se se realiza la homologaci&oacute;n 
              de los diferentes productos d&eacute;bito propios de la entidad con los definidos 
              internamente en <b><span #'font-family:Arial;#:#006666'>BANKBU<sup></sup></span></b> 
              lo que permite asociar las caracter&iacute;sticas particulares definidas por 
              otros sistema del banco para sus diferentes productos d&eacute;bito, con los 
              productos manejados por <b><span #'font-family:Arial;#:#006666'>BANKBU<sup></sup></span></b> 
              para que el sistema pueda interpretarlos. La aplicabilidad o funcionalidad 
              de esta forma cobra importancia cuando la entidad ha definido sus productos 
              por medio de un sistema diferente y desea empezar a utilizar <b><span #'font-family:Arial;#:#006666'>BANKBU<sup></sup></span></b> 
              para el manejo y adiministraci&oacute;n de los mismos, convirti&eacute;ndose 
              la opci&oacute;n en una especie de Traductor de productos. </p>
            <p  class="PARRAFO">Al ingresar a la opci&oacute;n, el formulario 
              inicial muestra lor productos d&eacute;bito definidos en <b><span #'font-family:Arial;#:#006666'>BANKBU<sup></sup></span></b> 
              y que ya se encuentran homologados con los definidos en sistemas diferentes.</p>
            <p class="TITLE"><img src="../img/DBF_003E.PNG"659" height="359"></p>

            <p  class="PARRAFO">El formulario cuenta con las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p  class="PARRAFO"><b ><span class="SUBTITULO">Adicionar</span></b>: 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario 
              con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/DBF_003E1.PNG"438" height="240"></p>
            
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Producto</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores de la que se selecciona el <a href="DBH_018B.html" >producto 
                    d&eacute;bito</a> que se va a homologar.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Clase cuenta</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de 2 d&iacute;gitos, obligatorio, se registra 
                    la clase de cuenta que la entidad desea homologar con el producto seleccionado 
                    y que corresponde a una subclasificaci&oacute;n de cada producto definido 
                    por la misma entidad lo que le confiere ciertas caracter&iacute;sticas 
                    especiales; a manera de ejemplo podr&iacute;amos mencionar Electron 
                    maestro, Visa electron con cuota de manejo, Visa electron 
                    sin cuota de manejo, como clases de cuenta derivadas del Producto 
                    Electron.
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Tipo cuenta</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio tipo combo en el cual se puede seleccionar entre Ahorros, 
                    Corriente o Rotativo el tipo de cuenta a homologar con 
                    el producto d&eacute;bito.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Producto</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de hasta 3 d&iacute;gitos, obligatorio, se 
                    registra el c&oacute;digo con el que la entida identifica su producto 
                    propio que desea homologar.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Edad desde / hasta</span></b></p></td>
                <td><p  class="PARRAFO">Campos 
                    obligatorios que permiten registar el rango de edades de los clientes 
                    a quienes va dirigido el producto que se desea homologar. </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    N&oacute;mina</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio tipo combo se puede seleccionar entre Si 
                    o No el producto a homologar correponde a cuentas de n&oacute;mina.</p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><b ><span class="SUBTITULO">Actualizar</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es el Producto.</p>
            <p class="TITLE"><img src="../img/DBF_003E2.PNG"416" height="240"></p>

            <p  class="PARRAFO"><b ><span class="SUBTITULO">Detalle</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un formulario con los datos completos del registro y en el cual 
              ninguno de sus campos es modificable</p>
            <p class="TITLE"><img src="../img/DBF_003E3.PNG"506" height="241"></p>

            <div>
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img class="TITLE"  src= "../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
            target="_blank">www.OpenCard.com</a></p>



</footer>
</html>