<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Consulta tarjeta débito</p>

        <p class="PARRAFO">Navegando a través de este formulario se puede consultar la información 
          relevante de la tarjeta, relacionada con: bloqueos, movimientos monetarios, novedades, 
          solicitudes y cuentas de depósito asociadas. El formulario, por defecto, muestra lo correspondiente
           a Información básica, además cuenta con varios enlaces: <a href="#DB_ESTADOS">Estados</a> y
           <a href="#DB_ESTADOS">bloqueos</a>,<a href="#DL_MOVIMIENTOS">Movimientos</a>,
           <a href="#DL_NOVEDADES">Novedades</a>,<a href="#BL_SOLICITUDES">Solicitudes</a> y
            <a href="#BL_CUENTAS">Cuentas.</a> </p>

          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E.svg"></p>

          <p class="TITLE">Descripción de campos</p>
          <div>
            <table>
              <tr>
                <td>
                  <p class="SUBTITULO">Nombre </p></td>
                  <td><p class="PARRAFO">Campo
                      que muestra el nombre y apellidos del cliente titular de
                      la tarjeta.</p></td>
                </tr>
                <tr>
                  <td class="titletable">
                    <p class="SUBTITULO">Número Tarjeta</p></td>
                    <td><p class="PARRAFO">Este campo despliega, enmascarado (si aplica), el número de la tarjeta que pertenece al cliente.
                    </p></td>
                  </tr>
                  <tr>
                    <td class="titletable">
                      <p class="SUBTITULO">Fecha Vencimiento</p></td>
                      <td><p class="PARRAFO">Campo que en formato DD-MM-AAAA, muestra la fecha en la cual vence o expira el plástico de la tarjeta.

                      </p></td>
                    </tr>
                    <tr>
                      <td class="titletable">
                        <p class="SUBTITULO">Bin, segmento, grupo
                        </p></td>
                        <td><p class="PARRAFO">Campos en los que se muestra la combinatoria del bin, segmento y grupo de afinidad que conforman el producto al cual pertenece la tarjeta consultada.
                        </p></td>
                      </tr>
                      <tr>
                        <td class="titletable">
                          <p class="SUBTITULO">Tipo Tarjeta
                          </p></td>
                          <td><p class="PARRAFO">Este campo señala si la tarjeta es: Normal principal, extendida, adicional o amparada lo que le confiere características especiales a la misma.  </p></td>
                        </tr>
                      <tr>
                        <td class="titletable">
                          <p class="SUBTITULO">Producto</p></td>
                          <td><p class="PARRAFO">Este campo despliega el nombre del <a href="MEH_002B.html">producto</a> al que pertenece la tarjeta que se está consultando.

                          </p></td>
                        </tr>
                  <tr>
                    <td>
                      <p class="SUBTITULO">Sucursal</p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene la <a href="NUH_020B.html">sucursal</a>
                          de radicación de la tarjeta consultada.</p></td>
                    </tr>
                    <tr>
                      <td>
                        <p class="SUBTITULO">Tarjeta anterior
                        </p></td>
                        <td><p class="PARRAFO">Campo que, si aplica, ilustra el número de la tarjeta anterior vinculada a la cuenta de depósitos del cliente, el cual fue reemplazado por el número actual.
                        </p></td>
                      </tr>
                      <tr>
                        <td class="titletable">
                          <p class="SUBTITULO">Fecha cuota  manejo
                          </p></td>
                          <td><p class="PARRAFO">Campo en el que en formato DD-MM-AAAA, se muestra la fecha, más reciente, en la cual se efectuó el cobro al cliente, por concepto de cuota de manejo, de acuerdo con lo parametrizado para el <a href="MEH_002B.html">producto.</a>
                          </p></td>
                        </tr>
                        <tr>
                          <td class="titletable">
                            <p class="SUBTITULO">Agente</p></td>
                            <td><p class="PARRAFO">Campo que contiene el nombre del <a href="NUH_045B.html">funcionario</a> asignado al cliente.
                            </p></td>
                          </tr>
                        
                              <tr>
                                <td class="titletable"><p
                                    class="SUBTITULO">Ciclo facturación
                                  </p></td>
                                  <td><p class="PARRAFO">Campo que contiene el <a href="CAH_003B.html">ciclo de facturación</a> asociado con la tarjeta y que determina las fechas de corte de la misma.</p></td>
                                  </tr>
                                  <tr>
                                    <td class="titletable"><p
                                        class="SUBTITULO">Motivo Cancelación </p></td>
                                      <td><p class="PARRAFO">Campo que, si aplica, muestra el código del <a href="NUH_009B.html">motivo de devolución del plástico.</a> 
                                      </p></td>
                                    </tr>
                                    <tr>
                                      <td class="titletable"><p
                                          class="SUBTITULO">Causal cancelación
                                        </p></td>
                                        <td><p class="PARRAFO">Campo de salida, contiene información cuando la cancelación del plástico es voluntaria o por decisión del cliente y contiene la causal argumentada por éste.
                                        </p></td>
                                      </tr>
                                      <tr>
                                        <td class="titletable"><p
                                            class="SUBTITULO">Sistema transporte
                                          </p></td>
                                          <td><p class="PARRAFO">Campo en el que, si aplica, se ilustra el código y nombre del sistema de transporte masivo habilitado o asociado a la tarjeta del cliente.
                                          </p></td>
                                        </tr>
                                        <tr>
                                          <td class="titletable"><p
                                              class="SUBTITULO">Serial transporte
                                            </p></td>
                                            <td><p class="PARRAFO">Campo en el que, si aplica, se ilustra el código de la serie, del sistema de transporte masivo, habilitado o asociado a la tarjeta del cliente.
                                            </p></td>
                                          </tr>
                                          <tr>
                                            <td class="titletable"><p
                                                class="SUBTITULO">Contactless</p></td>
                                              <td><p class="PARRAFO">Campo que muestra el tipo de contactless asociado a la tarjeta, que puede corresponder a: Celular SimCard, Celular Micro SD o Tarjeta.

                                                </p></td>
                                            </tr>
                                            <tr>
                                              <td class="titletable"><p
                                                  class="SUBTITULO">Tarjeta chip
                                                </p></td>
                                                <td><p class="PARRAFO">Campo que permite conocer si la tarjeta en poder del cliente corresponde a esa tecnología o no.
                                                </p></td>
                                              </tr>
                                              <tr>
                                                <td class="titletable"><p
                                                    class="SUBTITULO">Tarjeta personalizada
                                                  </p></td>
                                                  <td><p class="PARRAFO">Campo en el que se indica si en el plástico de la tarjeta se incluye o no el nombre del titular de la misma.
                                                  </p></td>
                                                </tr>
                                                <tr>
                                                  <td class="titletable"><p
                                                      class="SUBTITULO">Nombre archivo imagen
                                                    </p></td>
                                                    <td><p
                                                        class="PARRAFO">Adicional a que, en la tarjeta personalizada aparezca el nombre del titular, es posible adicionarle una imagen a la misma con el contenido del archivo aquí identificado.
                                                      </p></td>
                                                  </tr>
                                                  <tr>
                                                    <td class="titletable"><p
                                                        class="SUBTITULO">Identificación empresa
                                                      </p></td>
                                                      <td><p class="PARRAFO">Opcionalmente, dentro del plástico puede incluirse el número de identificación de la empresa a la que pertenece el empleado titular de la tarjeta.
                                                      </p></td>
                                                    </tr>
                                                    <tr>
                                                      <td class="titletable"><p
                                                          class="SUBTITULO">Nombre empresa
                                                        </p></td>
                                                        <td><p
                                                            class="PARRAFO">Al igual que el número de identificación de la empresa es opcional, es factible también, que se muestre el nombre o razón social de la misma.
                                                          </p></td>
                                                      </tr>
                                                      <tr>
                                                        <td
                                                          class="titletable"><p
                                                            class="SUBTITULO">Fecha última novedad
                                                          </p></td>
                                                          <td><p
                                                              class="PARRAFO">Campo en el que en formato DD-MM-AAAA, se muestra la fecha, más reciente, en la cual se efectuó alguna de las novedades o actualizaciones de datos relacionados con la tarjeta.
                                                            </p></td>
                                                        </tr>
                                                        <tr>
                                                          <td
                                                            class="titletable"><p
                                                              class="SUBTITULO">Fecha activación

                                                              </p></td>
                                                            <td><p
                                                                class="PARRAFO">Campo en el que en formato DD-MM-AAAA, se muestra la fecha, en la que se activó la tarjeta que actualmente está en poder del cliente.
                                                              </p></td>
                                                          </tr>
                                                          <tr>
                                                            <td
                                                              class="titletable"><p
                                                                class="SUBTITULO">Fecha manejo anterior

  
                                                                </p></td>
                                                              <td><p
                                                                  class="PARRAFO">Campo en el que en formato DD-MM-AAAA, se muestra la fecha, inmediatamente anterior a la más reciente, en la cual se efectuó el cobro al cliente, por concepto de cuota de manejo.

                                                                </p></td>
                                                            </tr>
                                                            <tr>
                                                              <td
                                                                class="titletable"><p
                                                                  class="SUBTITULO">Valor manejo

    
                                                                  </p></td>
                                                                <td><p
                                                                    class="PARRAFO">Campo que ilustra el monto más recientemente cobrado al cliente por concepto de la cuota de manejo de su tarjeta.

                                                                  </p></td>
                                                              </tr>
                                                        </table>
                                                      </div>

 <p class="PARRAFO"><a
  name="DB_ESTADOS"></a><span
   class="SUBTITULO">Estados y bloqueos:</span></span>
   En dos bloques se muestra la información acerca del bloqueo actual y el que ha tenido la tarjeta, relacionados con el Plástico y, la fecha en la cual estos fueron aplicados o levantados:</p>

<p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E1.svg"></p>

<p class="TITLE">Descripción de campos</p>
<div>
<table>
<tr>
<td>
<p  class="SUBTITULO">Plástico</p></td>
<td><p class="PARRAFO">
  Campo que muestra el mas reciente bloqueo aplicado sobre el plástico propiamente dicho por ejemplo cuando se ha reportado la pérdida o robo de la misma, la cancelación voluntaria o no, bloqueos preventivos entre otros.
</p></td>
</tr>
<tr>
<td class="titletable">
<p class="SUBTITULO">Fecha plástico
</p></td>
<td><p class="PARRAFO">Este campo despliega la fecha en la cual se aplicó el bloqueo a la tarjeta o plástico. Cuando solo existe dato de fecha y el bloqueo se encuentra en blanco, se debe interpretar como la fecha en la que se levantó este tipo de bloqueo.
</p></td>
</tr>
                                                                
</table>
</div>

<p
class="PARRAFO"><a name="DL_MOVIMIENTOS"></a><span class="SUBTITULO">Movimientos:</span></span>
Al activar ese enlace, el sistema muestra los diversos movimientos monetarios que afectan los saldos de las cuentas de depósito asociadas a la tarjeta, desde la que se está consultando:
</p>

<p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E2.svg"></p>

<p class="TITLE">Descripción de campos</p>
<div>
<table>
<tr>
<td class="titletable"><p class="SUBTITULO">Secuencia
</p></td>
<td><p
class="PARRAFO">Campo que muestra el número único del consecutivo asignado de manera automática por el sistema a cada transacción 

</p></td>
</tr>
<tr>
<td>
<p
class="SUBTITULO">Fecha</span>
</p></td>
<td><p class="PARRAFO">Campo que muestra en formato DD-MM-AAAA, la fecha en la cual se registró o ingresó el movimiento monetario correspondiente.
</p></td>
</tr>
<tr>
<td
class="titletable">
<p class="SUBTITULO">No Comprobante
</p></td>
<td><p class="PARRAFO">Campo que muestra el dato del número del comprobante correspondiente a ese movimiento monetario.
</p></td>
</tr>
<tr>
<td class="titletable"><p class="SUBTITULO">Transacción                                                                                           
</p></td>
<td><p class="PARRAFO">Campo que muestra el código de la transacción original que identifica al movimiento monetario.
</p></td>
</tr>
<tr>
<td><span class="SUBTITULO ">Moneda</span></td>
<td><span class="PARRAFO">Campo que muestra tanto el código como el nombre de la moneda en la que se expresa o denomina el movimiento monetario reflejado.

</span></td>
</tr>
<tr>
<td class="titletable"><p class="SUBTITULO">Valor Inicial</p></td>
<td><p class="PARRAFO">Campo que muestra el monto de cada uno de los registros del movimiento monetario reflejado.

</p></td>
</tr>
</table>
</div>

<p class="PARRAFO"><span class="SUBTITULO">Detalle Movimiento:</span>
  Al invocar ese enlace, el sistema despliega el siguiente bloque de datos, el cual contiene una amplia información sobre cada movimiento monetario:</p>
<p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E3.svg"></p>



<p
class="PARRAFO"><a
name="DL_NOVEDADES"></a><span
class="SUBTITULO">Novedades:</span></span>
Conjunto de campos que permiten visualizar la información de las diferentes novedades que le han sido aplicadas a la tarjeta. El formulario dispone del enlace Detalle.</p>
<p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E4.svg"></p>
<p
class="TITLE">Descripción
de
campos</p>
<div>
<table>
  <tr>
    <td>
      <p
        class="SUBTITULO">Tipo Novedad</p></td>
      <td><p
          class="PARRAFO">Campo que muestra la <a href="NUH_017B.html">novedad administrativa</a> que se le aplicó a la tarjeta.</p></td>
    </tr>
    <tr>
      <td><span
          class="SUBTITULO">Clase
          Novedad
        </span></td>
      <td><span
          class="PARRAFO">Este campo indica si la acción ejecutada sobre los datos de la tarjeta, mediante la novedad aplicada se trató de: Adición, Modificación o Eliminación de información.
        </span></td>
    </tr>
    <tr>
      <td
        class="titletable"><p
          class="SUBTITULO">Fecha Ingreso</p></td>
        <td><p
            class="PARRAFO">Campo que muestra en formato DD-MM-AAAA, la fecha en la cual se registró o ingresó la novedad en el sistema.

          </p></td>
      </tr>
      <tr>
        <td
          class="titletable"><p
            class="SUBTITULO">Fecha Aplicación</p></td>
          <td><p
              class="PARRAFO">Este campo despliega en formato DD-MM-AAAA, la fecha en la que efectivamente se aplicó la novedad y se hizo la actualización de datos a la tarjeta.

            </p></td>
        </tr>
        <tr>
          <td
            class="titletable"><p
              class="SUBTITULO">Fecha Expiración</p></td>
            <td><p
                class="PARRAFO">Campo que muestra en formato DD-MM-AAAA, la fecha en la cual será depurado o eliminado del sistema, el registró correspondiente a la novedad aplicada, de acuerdo con lo definido para la misma en la opción novedades administrativas.
  
              </p></td>
          </tr>
          <tr>
            <td
              class="titletable"><p
                class="SUBTITULO">Estado </p></td>
              <td><p
                  class="PARRAFO">Este campo indica si la novedad ya se encuentra Aplicada o está pendiente Por aplicar, lo que determina que, al consultar el detalle de la novedad, se muestren al usuario, los datos nuevos que se están actualizando o los que tenía la tarjeta anteriormente.
    
                </p></td>
            </tr>
            <tr>
              <td
                class="titletable"><p
                  class="SUBTITULO">Indicador </p></td>
                <td><p
                    class="PARRAFO">Campo que muestra el resultado del proceso de aplicación de la novedad, y que puede ser Aplicada (cuando terminó existosamente la actualización de los datos), No aplicar (si se ha determinado que la actualización de los datos no se debe hacer) o Error (cuando durante el proceso de aplicación se ha presentado algún tipo de validación o falla que no ha permitido finalizar exitosamente la acción).
    
                  </p></td>
              </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Al invocar ese enlace, de acuerdo con cada tipo de novedad, el formulario muestra la información completa de la misma. Cuando el estado de la novedad sea 'Por aplicar' el detalle de la novedad mostrará los datos que se están actualizando para la tarjeta; si el estado es 'Aplicada' el detalle desplegará los datos que la tarjeta tenía antes de aplicarle la novedad. </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E5.svg"></p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E6.svg"></p>

      <p class="PARRAFO"><a name="BL_SOLICITUDES"></a> <span class="SUBTITULO">Solicitudes:</span> Conjunto de campos que permite consultar la información de las diferentes solicitudes hechas por el cliente y relacionadas con la tarjeta, permitiéndole conocer el estado y etapa actuales asociados a cada una de ellas. El formulario contiene el enlace Detalle: </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E7.svg"></p>
    
      <p class="TITLE">Descripción De Campos</p>
    

      <table>
        <tr>
          <td>
            <p
              class="SUBTITULO">Secuencia</p></td>
            <td><p
                class="PARRAFO">Campo que muestra el número consecutivo asignado de manera automática por el sistema a cada una de las solicitudes ingresadas.

              </p></td>
          </tr>
          <tr>
            <td><span
                class="SUBTITULO">Tipo
                Solicitud
              </span></td>
            <td><span
                class="PARRAFO">Este campo indica la clase de solicitud efectuada por el cliente y asociada con la secuencia anterior.

              </span></td>
          </tr>
          <tr>
            <td
              class="titletable"><p
                class="SUBTITULO">Fecha Ingreso</p></td>
              <td><p
                  class="PARRAFO">Campo que muestra en formato DD-MM-AAAA, la fecha en la cual se registró o ingresó la novedad en el sistema.
      
                </p></td>
            </tr>
            <tr>
              <td
                class="titletable"><p
                  class="SUBTITULO">Etapa / Estado</p></td>
                <td><p
                    class="PARRAFO">Campo que muestra de acuerdo con lo parametrizado para el tipo de solicitud asociada al producto, el código y nombre de la etapa en la cual se encuentra actualmente dicha solicitud.
                  </p></td>
              </tr>
              <tr>
                <td
                  class="titletable"><p
                    class="SUBTITULO">Anexo</p></td>
                  <td><p
                      class="PARRAFO">Campo que ilustra si para la gestión de la solicitud le fue requerido algún soporte al cliente
                    </p></td>
                </tr>
                <tr>
                  <td
                    class="titletable"><p
                      class="SUBTITULO">Fin Tramite </p></td>
                    <td><p
                        class="PARRAFO">Campo que muestra Si o No, ilustrando si la solicitud ya terminó su trámite o por el contrario continúa aún en proceso.
  
                      </p></td>
                  </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Al invocar este enlace, el sistema despliega un wizard de varios pasos, dependiendo del tipo de solicitud, dentro de los cuales se muestra la información completa de la solicitud.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E8.svg"></p>

            <p class="PARRAFO"><a name="BL_CUENTAS"></a> <span class="SUBTITULO">Cuentas:</span> Al activar ese enlace se despliega un bloque con la relación de las distintas cuentas de depósitos, a las que la tarjeta, desde la cual se está consultando, puede tener acceso y realizar utilizaciones con la misma. El formulario dispone de los enlaces: Cambio categoría cuenta, Eliminar y Adicionar: </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E9.svg"></p>
    
            <table>
              <tr>
                <td>
                  <p
                    class="SUBTITULO">Número cuenta

                  </p></td>
                  <td><p
                      class="PARRAFO">Campo que muestra el número de cada una de las cuentas de depósito asociadas o vinculadas a la tarjeta desde la que se está realizando la consulta.

                    </p></td>
                </tr>
                <tr>
                  <td><span
                      class="SUBTITULO">Tipo
                      Cuenta
                    </span></td>
                  <td><span
                      class="PARRAFO">Este campo indica, para cada registro, si corresponde a una cuenta corriente o a una cuenta de ahorros.

                    </span></td>
                </tr>
                <tr>
                  <td
                    class="titletable"><p
                      class="SUBTITULO">Moneda</p></td>
                    <td><p
                        class="PARRAFO">Campo que muestra el código de la moneda en la que se denomina o expresan los movimientos o saldos de dichas cuentas de depósito.
           
                      </p></td>
                  </tr>
                  <tr>
                    <td
                      class="titletable"><p
                        class="SUBTITULO">Secuencia de cuenta</p></td>
                      <td><p
                          class="PARRAFO">Este campo aplica o tiene relevancia para cuando una misma tarjeta tiene acceso o está vinculada a varias cuentas de depósito, e indica la jerarquía entre ellas, respecto de la manera en la que el sistema debe afectar sus saldos al momento de ingresar una utilización.
            
                        </p></td>
                    </tr>
                    <tr>
                      <td
                        class="titletable"><p
                          class="SUBTITULO">Código estado de cuenta
                        </p></td>
                        <td><p
                            class="PARRAFO">El dato numérico de este campo indica si la cuenta se encuentra: Activa, Inactiva, Embargada, etc.
              
                          </p></td>
                      </tr>
                      <tr>
                        <td
                          class="titletable"><p
                            class="SUBTITULO">Comisión </p></td>
                          <td><p
                              class="PARRAFO">Campo que ilustra el valor porcentual de la comisión pactada por utilización de la tarjeta. 
                
                            </p></td>
                        </tr>
                        <tr>
                          <td
                            class="titletable"><p
                              class="SUBTITULO">Manejo </p></td>
                            <td><p
                                class="PARRAFO">Campo en el que se muestra la periodicidad de cobro de la cuota de manejo.
                
                              </p></td>
                          </tr>
                          <tr>
                            <td
                              class="titletable"><p
                                class="SUBTITULO">Jurídica </p></td>
                              <td><p
                                  class="PARRAFO">Campo que permite identificar con un 1 si la tarjeta es asignada a persona jurídica.
                  
                                </p></td>
                            </tr>
                            <tr>
                              <td
                                class="titletable"><p
                                  class="SUBTITULO">Producto cuenta

                                </p></td>
                                <td><p
                                    class="PARRAFO">Campo en el que se muestra el código asignado a la cuenta en la definición de productos débito.                    
                                  </p></td>
                              </tr>
                              <tr>
                                <td
                                  class="titletable"><p
                                    class="SUBTITULO">Fecha estado de
                                    cuenta 
                                  </p></td>
                                  <td><p
                                      class="PARRAFO">Campo que muestra en formato DD-MM-AAAA, la fecha más reciente en la que se actualizó el dato del campo Código estado de cuenta.
                                    </p></td>
                                </tr>
                  </table>
                  <p class="PARRAFO"><span class="SUBTITULO">Adicionar (- Cuenta):</span> Al invocar ese enlace se muestra el siguiente formulario: </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_001E10.svg"></p>
            <table>
              <tr>
                <td>
                  <p
                    class="SUBTITULO">Cuenta
                  </p></td>
                  <td><p
                      class="PARRAFO">Campo obligatorio que en máximo 19 caracteres permite digitar el número de la nueva cuenta de depósitos a asociar a la tarjeta desde la que se está gestionando esta novedad.

                    </p></td>
                </tr>
                <tr>
                  <td><span
                      class="SUBTITULO">Tipo de a cuenta Debitar
                    </span></td>
                  <td><span
                      class="PARRAFO">Campo que posee lista de valores tipo combo, de la cual se debe seleccionar entre los distintos tipos o clases de cuentas de depósito, a las que se les puede vincular la tarjeta para realizar utilizaciones con la misma. 

                    </span></td>
                </tr>
            </table>

    </div>
  </section>
  <script
    src="../js/menu.js"></script>
</body>
<div
  id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>