<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad adicionar / eliminar cuenta</p>

        <p class="PARRAFO">Mediante esta opción que se
          invoca desde <a href="DBH_020B.html">Generación de novedades
            débito</a> se registra la novedad mediante la cual se asocia una
          nueva
          cuenta a una tarjeta débito o se elimina una cuenta ya existente.</p>
        <p class="PARRAFO">Cuando la tarjeta seleccionada solo tiene
          asociada una cuenta y se intenta eliminar mediante esta novedad, el
          sistema
          valida la información y no permite ejecutar la acción con lo
          que se garantiza que la tarjeta siempre tiene como mínimo una cuenta
          principal asociada.</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_022E.svg"421" height="301"></p>

        <p class="PARRAFO">Eliminación de cuenta:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_022E1.svg"405" height="297"></p>
        <p class="TITLE">Descripción de campos</p>
        <div>
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Cuenta
                    actual</p></td>
                <td><p class="PARRAFO">En
                    este campo de salida se muestra el número de la cuenta
                    principal
                    asociada a la tarjeta actualmente.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p
                    class="SUBTITULO">Categoría</p></td>
                  <td><p class="PARRAFO">Campo
                      tipo combo que indica la categoría correspondiente a la
                      cuenta
                      desplegada en el campo anterior.</p></td>
                </tr>
                <tr>
                  <td class="titletable"><p class="SUBTITULO">Retirar
                        cuenta </p></td>
                    <td><p class="PARRAFO">En
                        este check se marca para indicarle al sistema que la
                        acción
                        a ejecutar mediante la novedad es el retiro o
                        eliminación de
                        la cuenta.</p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Tipo
                          cuenta a debitar</p></td>
                      <td><p class="PARRAFO">Campo
                          obligatorio tipo combo que se habilita solamente si el
                          campo retirar
                          cuenta se encuentra desmarcado y que permite
                          seleccionar entre Ahorros,
                          Corriente o Rotativo el tipo de cuenta a asociar con
                          la tarjeta débito.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Moneda</p></td>
                        <td><p class="PARRAFO">En
                            este campo obligatorio que se habilita solamente si
                            el campo retirar
                            cuenta se encuentra desmarcado y que cuenta con
                            lista de valores,
                            se selecciona la moneda en la que se encuentra
                            denominada la cuenta
                            que se va a asociar a la tarjeta.</p></td>
                      </tr>
                      <tr>
                        <td class="titletable"><p class="SUBTITULO">Número
                              de cuenta</p></td>
                          <td><p class="PARRAFO">Campo
                              obligatorio que funciona de la siguiente manera.
                              Si el campo Retirar
                              cuenta se encuentra marcado, habilita una lista de
                              valores de
                              la cual el usuario selecciona la cuenta que desea
                              eliminar. Cuando
                              el campo Retirar cuenta está desmarcado, es decir,
                              la acción a ejecutar mediante la novedad es
                              adicionar una nueva
                              cuenta, este campo es editable y permite digitar
                              el número
                              de la cuenta a asociar con la tarjeta
                              débito.</p></td>
                        </tr>
                        <tr>
                          <td class="titletable"><p
                              class="SUBTITULO">Fecha
                                radicación</p></td>
                            <td><p class="PARRAFO">En
                                este campo obligatorio se registra en formato
                                YYYY-MM-DD la fecha
                                en la que se ingresa la novedad en el
                                sistema.</p></td>
                          </tr>
                          <tr>
                            <td class="titletable"><p
                                class="SUBTITULO">Sucursal
                                  cuenta </p></td>
                              <td><p class="PARRAFO">Campo
                                  obligatorio que funciona de la siguiente
                                  manera. Si el campo Retirar
                                  cuenta se encuentra marcado, este campo es de
                                  salida y despliega
                                  la sucursal asociada con la cuenta
                                  seleccionada para ser eliminada.
                                  Cuando el campo Retirar cuenta está
                                  desmarcado, es
                                  decir, la acción a ejecutar mediante la
                                  novedad es adicionar
                                  una nueva cuenta, este campo es editable y
                                  permite digitar el código
                                  de la <a href="NUH_020B.html">sucursal</a>
                                  de la entidad a la que pertence la cuenta a
                                  asociar con la tarjeta
                                  débito.</p></td>
                            </tr>
                          </table>
                        </div>

                        <div>
                        </section>
                        <script src="../js/menu.js"></script>
                      </body>
                      <div id="footerContainer"></div>
                      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
                    </html>