<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
    <section>
      <div>

        <p class="TITLE">Histórico tarjetas débito</p>

        <p class="PARRAFO">Através de esta opción se le permite a la entidad
          consultar la información almacenada en la estructura
          BB_TARJETAS_DEBITO_HIST, mediante un filtro por datos de
          identificación o por el número de la tarjeta y de coincidir los
          criterios de búsqueda, retorna la data correspondiente.</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBH_012E.PNG"></p>

        <p class="PARRAFO">A continuación se describen los criterios válidos
    
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo identificación

              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que posee lista de valores con los
                distintos tipos de identificación válidos para la entidad, que
                pueden ser usados como criterio de búsqueda de la solicitud.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número</p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que debe registrarse el número de
                identificación del cliente para el que se realiza la consulta de
                los datos del histórico.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tarjeta</p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que se registra el número de la
                tarjeta a consultar en el histórico, puede o no ingresarse los
                ceros a la izquierda.
              </p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO">En el evento en que los datos de la consulta
          concuerden con los almacenados en la estructura arriba indicada,
          sistema muestra la siguiente información en el bloque inferior del
          formulario:
        </p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número de tarjeta

              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que se muestra el número de la
                tarjeta, parcialmente enmascarado, de cada uno de los registros
                que existan en el histórico, en los casos en que la consulta se
                haya efectuado por los datos de identificación del cliente y el
                mismo posea más de una tarjeta en dicha estructura.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Nombre plástico

              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que se ilustra el nombre del cliente
                como aparece realzado en el plástico que le fue emitido.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha bloqueo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que en formato AAAA-MM-DD, muestra la
                fecha en la que se registró el bloqueo al tarjetahabiente o al
                plástico, si aplica.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha última novedad

              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que en formato AAAA-MM-DD, muestra la
                fecha en la que se registró la más reciente novedad del cliente
                o del plástico, si aplica.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Oficina
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que ilustra la oficina o sucursal de
                radicación de la tarjeta que almacenada en el histórico.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo cancelación

              </p>
            </td>
            <td>
              <p class="PARRAFO">Si a la tarjeta en alguno de los procesos de
                reexpedición o reposición o debido al uso inadecuado de la
                tarjeta le fue cancelada la tarjeta, en ese campo se muestra el
                motivo asociado al evento.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha bloqueo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en que en formato AAAA-MM-DD, muestra la
                fecha en la que se registró el bloqueo al tarjetahabiente o al
                plástico, si aplica.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bloqueo
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que, si aplica, ilustra el bloqueo
                interno que se le asignó al cliente o al plástico almacenado en
                el histórico.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bloqueo Empresarial

              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo que, si aplica, ilustra el bloqueo por
                empresa que se le asignó al cliente o al plástico almacenado en
                el histórico.

              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Serial Transporte

              </p>
            </td>
            <td>
              <p class="PARRAFO">Si el plástico del histórico estuvo habilitado
                para el pago de Transportes masivo, se muestra el dato
                correspondiente al Serial Transporte de dicha tarjeta.

              </p>
            </td>
          </tr>

        </table>
      </div>
    </section>
    <script src="../js/menu.js"></script>
    <div id="footerContainer"></div>
  </body>
  <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>