<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad bloqueo plástico débito</p>

        <p class="PARRAFO">Mediante esta opción que se
          invoca desde <a href="DBH_020B.html">Generación de novedades
            débito</a> se registra la novedad mediante la cual se aplican o
          retiran
          los bloqueos a sobre los plásticos de las tarjetas débito.</p>

        <p class="TITLE"><img src="../img/DBF_027E.PNG"384"></p>

        <p class="TITLE">Descripción de campos</p>
        <div>
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO"><span>Bloqueo
                    actual</p></td>
                <td><p class="PARRAFO">Campo
                    con lista de valores de la que se selecciona la <a
                      href="NUH_017B.html">novedad</a>
                    de productos débito que se le va a aplicar a la tarjeta.
                    Cuando
                    se ingresa al formulario, por defecto trae el bloqueo actual
                    del plástico
                    ingresado y permite si es el caso dejarlo en blanco para
                    indicar que
                    se está levantando el bloqueo a la tarjeta.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span>Fecha
                      bloqueo actual</p></td>
                  <td><p class="PARRAFO">En
                      este campo de salida se muestra en formato YYYY-MM-DD la
                      fecha de
                      la última vez que se le aplicó o retiró un bloqueo
                      a la tarjeta.</p></td>
                </tr>
                <tr>
                  <td class="titletable"><p class="SUBTITULO"><span>Motivo
                        cancelación </p></td>
                    <td><p class="PARRAFO">Cuando
                        el bloqueo actual corresponde a Cancelación voluntaria,
                        este campo se habilita y convierte en obligatorio
                        permitiendo selecciona
                        de la lista de valores el <a
                          href="NUH_009B.html">motivo</a>
                        por el cual el cliente hace la devolución del
                        plástico.</p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO"><span>Fecha
                          radicación</p></td>
                      <td><p class="PARRAFO">En
                          este campo obligatorio se registra en formato
                          YYYY-MM-DD la fecha
                          en la que se ingresa la novedad en el
                          sistema.</p></td>
                    </tr>
                  </table>
                </div>

                <div>
                </section>
                <script src="../js/menu.js"></script>
              </body>
              <div id="footerContainer"></div>
              <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
            </html>