<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div id="layer" >
            <div>
                <div>
                  <p  class="TITLE">Tarjeta d&eacute;bito </p>
                </div>
                <p  ><span class="PARRAFO">En este men&uacute; </span><span class="PARRAFO"> se despliegan todas las opciones que permiten 
                  a la entidad efectuar la parametrizaci&oacute;n requerida para el manejo de 
                  las tarjetas d&eacute;bito y que permite implementar la funcionalidad multicuenta 
                  gracias a la cual es posible asociar a una misma tarjeta varias cuentas de 
                  ahorros o corrientes, permiti</span><span class="PARRAFO">endo categorizarlas como principales o secundarias. 
                    El servicio utiliza o se sirve de algunas funcionalidades del sistema contenidas 
                en el n&uacute;cleo y el servicio de pl&aacute;sticos. </p>
                <p  >El men&uacute; se encuentra estructurado en 
                  6 grupos que contienen las opciones que le permiten al usuario ingresar a 
                cada uno de los diferentes formularios de la siguiente manera:</p>
                <p  ></p>
                <p>Productos: Las opciones aqu&iacute; 
                  contenidas le permiten a la entidad la definici&oacute;n de los bines d&eacute;bito, 
                  los segmentos y grupos de afinidad que van a ser utilizados para la conformaci&oacute;n 
                  de los distintos productos d&eacute;bito a ofrecer a sus clientes. Adicionalmente, 
                  permite hacer la homologaci&oacute;n de productos d&eacute;bito definidos 
                  por la entidad en otros sistemas diferentes, con el fin que puedan ser administrados 
                por <span>BANKBU<sup>&reg;</sup></span>, y contiene la opci&oacute;n en donde se definen los programas comerciales 
                  que se asocian posteriormente a los productos d&eacute;bito y permiten otorgarle 
                  al cliente algunos beneficions adicionales relacionados principalmente con 
                  la disminuci&oacute;n porcentual en el valor de la cuota de manejo por determinada 
                cantidad de periodos.</p>
                <ul style="visibility: hidden; display: none;">
                  <li >
                    <div><a href="DBH_034B.html" >Definici&oacute;n 
                      de bines</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_018B.html" >Definici&oacute;n 
                      de productos</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_003B.html"  > Homologaci&oacute;n 
                      de productos d&eacute;bito</a></div>
                  </li>
                  <li class="PARRAFO">
                    <div><a href="DBH_039B.html"  >Programas comerciales</a></div>
                  </li>
                </ul>
              
                <p >Solicitudes del cliente: 
                  Contiene las opciones en las cuales la entidad parametriza los diferentes 
                  tipos de solicitudes que son aplicables a sus productos d&eacute;bito y adicionalmente 
                  permite el ingreso de las solicitudes de nuevo d&eacute;bito para los clientes 
                  de la entidad de manera individual as&iacute; como la generaci&oacute;n de 
                  solicitudes m&aacute;sivas con destino las sucursales. </p>
                <ul>
                  <li>
                    <div><a href="DBH_019B.html" >Par&aacute;metros de solicitudes 
                    d&eacute;bito </a></div>
                  </li>
                  <li>
                    <div><a href="DBH_019B1.html" >Par&aacute;metros solicitudes por 
                    producto</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_032B.html" >Ingreso de solicitudes</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_040B.html" >Solicitudes por etapa </a></div>
                  </li>
                  <li>
                    <div><a href="DBH_019B.html" ></a><a href="DBH_002B.html" >Solicitudes masivas</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_024B.html" ></a><a href="DBH_041B.html" >Consulta de solicitudes</a></div>
                  </li>
                </ul>
         
                <p class="PARRAFO"><span class="SUBTITULO">Servicio al cliente:</span> Este 
                  bloque del men&uacute; contiene la opci&oacute;n para consulta de clientes 
                  a partir de la cual se pueden consultar los datos de del cliente y la informaci&oacute;n 
                  de todas sus tarjetas d&eacute;bito que posea con la entidad. Adicionalmente, muestra las opciones desde las 
                  cuales se hace el ingreso de las solicitudes de reposici&oacute;n, renovaci&oacute;n 
                  y reexpedici&oacute;n de tarjetas d&eacute;bito, la generaci&oacute;n de las 
                  novedades para modificar informaci&oacute;n de las tarjetas y la administraci&oacute;n 
                  de estas novedades. En este bloque se incluye 
                tambi&eacute;n la renovaci&oacute;n masiva de tarjetas d&eacute;bito.</p>
                <ul style="visibility: hidden; display: none;">
                  <li >
                    <div><a href="DBH_036B.html"  >Consulta de clientes</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_031B.html"  > Actualizaci&oacute;n 
                      de solicitudes</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_020B.html"  >Generaci&oacute;n 
                      de novedades</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_033B.html"  >Administraci&oacute;n 
                      de novedades</a></div>
                  </li>
                  <li>
                    <div><a href="DBH_024B.html" >Renovaci&oacute;n masiva de tarjetas</a></div>
                  </li>
                </ul>

                <p >Transaccionalidad: Este submen&uacute; 
                  contiene todas las opciones que le permiten a la entidad administrar lo relacionado 
                  con el movimiento enviado a pendientes por no haber superado las validaciones 
                  correspondientes, parametrizar las transacciones de empresa que se van a utilizar 
                  para identificar las transacciones hechas con productos d&eacute;bito, definir 
                  los par&aacute;metros que van a permitir conciliar o cruzar la informaci&oacute;n 
                  de las transacciones cargadas contra las autorizaciones, consultar las autorizaciones 
                  otorgadas por utilizaciones de productos d&eacute;bito y la captura de transacciones 
                por parte de las oficinas.</p>
                <ul>
                  <li>
                    <div><a href="DBH_026B.html" >Par&aacute;metros 
                    de conciliaci&oacute;n</a></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><a href="DBH_017B.html" >Transacciones por 
                    entidad</a></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><a href="DBH_037B.html" >Captura movimiento 
                    de oficinas</a></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><span class="PARRAFO"><a href="DBH_043.html" >Consulta global de intercambio</a></span></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><a href="DBH_025B.html" >Consulta de autorizaciones</a></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><span class="PARRAFO"><a href="DBH_042B.html" >Consulta cargue de autorizaciones</a></span></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><a href="DBH_023B.html"  >Pendientes</a></div>
                  </li>
                  <li style="visibility: hidden; display: none;">
                    <div><a href="DBH_023B1.html" >Pendientes retirados</a></div>
                  </li>
                </ul>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>