<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
      <p class="TITLE">Definición de productos </p>

      <p class="PARRAFO">A través de la funcionalidad de este formulario, la entidad puede definir la combinación de: <a href="MEH_001B.html" >bines</a>, <a href="MEH_001B.html"
          >segmentos</a>
        y <a href="MEH_001B.html" >grupos de afinidad</a> que van a conformar los diferentes productos débito a ofrecer a sus clientes. 
      </p>
      <p class="PARRAFO">Al ingresar a la opción, por defecto, se muestran, por bloques, los diferentes productos definidos actualmente, así mismo, se despliega un filtro que permite consultar la información específica para los productos pertenecientes a un bin, segmento o grupo de afinidad en particular. </p>
      
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E.svg" ></p>

      <p class="PARRAFO">El formulario, en la parte superior, contiene los enlaces: <a href="MEH_001B5.html" >Líneas de credito</a>,
        <a href="MEH_002B.html#BL_CUOTAS" >Cuotas</a> y <a href="MEH_002B.html#BL_EVENTOS"
            >Eventos</a>
            y a continuación de estos, los enlaces: Actualizar, Eliminar, Adicionar y Detalle.
      </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
        Al activar ese enlace se despliega un formulario con los
        siguientes campos.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E2.svg"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Bin
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              obligatorio con lista de valores de la cual se selecciona el <a href="DBH_034B.html"
                  >bin</a>
              o prefijo con el cual se va a crear el nuevo producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Producto


              </p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo obligatorio contiene lista de valores de la cual se selecciona
              el producto o <a href="DBH_034B1.html" >segmento</a> que
              va a conformar el nuevo producto. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Grupo de afinidad
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              obligatorio con lista de valores de la cual se selecciona el <a href="DBH_034B2.html" >grupo
                de afinidad</a> que junto con el bin y el segmento van a conformar el
              nuevo producto.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripción</p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo alfanum&egrave;rico de hasta 30 caracteres, obligatorio, permite registrar el nombre o descripción
              del nuevo producto a crear.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Marca
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida que a partir del bin despliega la <a href="NUH_033B.html" >marca o
                  franquicia</a> a la cual pertenece el producto a crear.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código medio de pago
              </p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo de salida muestra el tipo de medio de pago y que para el caso
              es '2 Tarjeta débito'</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Ciclo de facturación
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              obligatorio con lista de valores de la cual se selecciona el <a href="CAH_003B.html" >ciclo
                de facturación</a> que por defecto van a tener todas las tarjetas asociadas
              con el nuevo producto.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Subserie número de tarjeta
              </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo de hasta tres dígitos se registrar un valor fijo que de acuerdo
              con lo definido por la entidad puede o no hacer parte del <a href="NUH_052B.html" >número
                  de la tarjeta</a>. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Emite
                plástico
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida que siempre esta en Si para las tarjetas pertenecientes al producto se debe generar un
              plástico.</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Modelo plástico </td>
          <td>
            <p class="PARRAFO"> Campo obligatorio y contiene una lista de valores de la cual se selecciona el modelo de
              plástico que se va a utilizar durante el proceso de realce de las tarjetas pertenecientes al
              producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Subserie
                número de tarjeta
              </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo que se habilita y convierte en obligatorio cuando se ha marcado
              que el producto si emite plástico, se selecciona de la lista
              de valores el modelo a utilizar durante el proceso de realce de las
              tarjetas. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Proveedor
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              de salida que despliega el código y nombre del proveedor que
              suministra el plástico para el realce de las tarjetas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Programas
                comercials
              </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo con lista de valores se puede seleccionar el <a href="DBH_039B.html" >programa
                  comercial</a> que de acuerdo con sus características se ajuste
              más al nuevo producto para ofrecer al cliente algunos privilegios adicionales.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"> Moneda</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo muestra la moneda del producto débito. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Vigencia
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              numérico de hasta dos dígitos en el que se registra la cantidad de meses
              de vigencia que van a tener las tarjetas pertenecientes al nuevo producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Periodos
                antes del vencimiento
              </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se registra la cantidad de periodos que el sistema debe evaluar
              con relación a la fecha actual de vencimiento de la tarjeta para determinar
              si debe o no hacer renovación automática de la fecha de vencimiento,
              específicamente cuando se están procesando solicitudes de reposición
              o reexpedición.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">Si el usuario lo desea y por comodidad también, es posible
        adicionar inicialmente el producto diligenciando únicamente los campos obligatorios
        del formulario inicial y posteriormente, una vez que el producto haya sido
        creado agregar la información de cuotas y eventos mediante la actualización
        del registro. </p>
      <div class="PARRAFO">

        <div class="PARRAFO">
          <p class="PARRAFO"><a name="BL_CUOTAS"></a><span class="SUBTITULO">Cuotas</span>:</span> 
              </span> 
            si el formulario inicial el usuario invoca el hiperv&igrave;nculo Cuotas
            se despliega un formulario que le permite a la entidad definir los
            parámetros necesarios para el cobro de la cuotas de manejo que se va a
            cobrar para el nuevo producto. Contiene el hipervínculo
            <a href="MEH_002B.html#BL_ORDEN" >Orden aplicación
                cuota</a> que le permite a la entidad definir la manera como el sistema
            debe evaluar aquellos parámetros que pueden afectar el monto a
            cobrar por concepto de la cuota de manejo.
          </p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E3.svg"></p>
          <div class="PARRAFO">
            <p class="TITLE">Descripción de campos</p>
            <table>
              <tr>
                <td class="titletable">
                  <p class="SUBTITULO">Tipo
                      cuota
                    </p>
                </td>
                <td>
                  <p class="PARRAFO">Campo
                    tipo combo obligatorio, en el cual se puede seleccionar Tradicional
                    para indicarle al sistema que debe cobar el monto definido en
                    el campo Cuota.</p>
                </td>
              </tr>
            </table>
          </div>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Valor</p>
              </td>
              <td>
                <p class="PARRAFO">Este
                  campo obligatorio, de hasta 14 enteros y 2 decimales se registra el valor a cobrar
                  por concepto de cuota de manejo para las tarjetas pertenecientes
                  al nuevo producto.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Modalidad


                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo obligatorio
                  tipo combo, que le permite a la entidad seleccionar entre anticipada o vencida la
                  manera como será cobrada la cuota para las tarjetas del nuevo producto.
                </p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Evento
                    inicio
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En
                  este campo obloigatorio tipo combo que solo contiene la opción Entrega
                    plástico se le indica al sistema  el evento que al
                  producirse va a generar el inicio del cobro de la cuota para la
                  tarjeta.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Periodos
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  numérico que admite valores entre 1 y 12, en el que se indica la
                  cantidad de periodos que determina la frecuencia con la cual se
                  va a efectuar el cobro de la cuota para las tarjetas pertenecientes
                  al nuevo producto.
                </p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En
                  este campo con lista de valores se selecciona la <a href="DBH_017B.html" >transacción
                      interna</a> con la cual se va a registrar el cobro de la cuota
                  en caso que se cumplan las condiciones para generar dicha cuota.
                </p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción alterna
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  con lista de valores que permite seleccionar la <a href="DBH_017B.html" >transacción
                      interna</a> que se va a generar para el cobro de la cuota en
                  caso de presentarse consumos en el exterior.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción cargo
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Si
                  la modalidad se ha definido como Vencida y el producto
                  es cancelado o devuelto por el cliente antes de cumplir los periodos
                  para el cobro de la cuota respectiva, en este campo que contiene
                  lista de valores se selecciona la <a href="DBH_017B.html" >transacción
                      interna</a> mediante la cual se le va cargar al cliente el
                  valor proporcional de la cuota liquidada desde la fecha del último
                  cobro hasta el momento de la cancelación.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción alterna cargo
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  con lista de valores que permite seleccionar la <a href="DBH_017B.html" >transacción
                      interna</a> que se va a generar para el cobro proporcional
                  de la cuota vencida cuando la tarjeta sea cancelada antes de cumplirse
                  los periodos para el cobro de la cuota y se hayan presentado consumos
                  en el exterior.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción devolución
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Si
                  la modalidad se ha definido como Anticipada y el producto
                  es cancelado o devuelto por el cliente antes de que se causen los
                  periodos cobrados, en este campo obligatorio que contiene lista de valores, se
                  selecciona la <a href="DBH_017B.html" >transacción
                      interna</a> mediante la cual se le va hacer reintregro o devolución
                  al cliente del valor proporcional de la cuota liquidada desde la
                  fecha de la cancelación hasta el final del periodo ya cobrado.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <p class="SUBTITULO">Transacción alterna devolución
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  con lista de valores que permite seleccionar la <a href="DBH_017B.html" >transacción
                      interna</a> que se va a generar para la devolución proporcional
                  de la cuota anticipada cuando la tarjeta sea cancelada antes de
                  haberse causado los periodos cobrados y se hayan presentado consumos
                  en el exterior.</p>
              </td>
            </tr>

          </table>
          <p class="PARRAFO"><a name="BL_ORDEN"></a><span class="SUBTITULO">Orden
                aplicación de cuotas</span>:</span></span> 
            si desde el formulario de cuotas el usuario invoca el hiperv&igrave;nculo
              Orden aplicación de cu</span>o</span><span
              class="PARRAFO">tas se despliega un formulario
              que le permite a la entidad determinar el orden o jerarquía que
              se tendrá en cuenta para la aplicación de algunos descuentos
              preferenciales y exoneraciones definidos en <span ><A href="MEH_005B.html">Promociones
                    para colocación</A></span> , <span ><A
                    href="MEH_004B.html" >Categorías
                    de clientes</A></span> , <span ><A href="DBH_039B.html"
                    >Programas
                    comerciales</A></span> , <span ><A
                    >Convenios</A></span> 
              o <A href="NUH_085B.html" >Parámetros Interfranquicias</A>
              y que serán evaluados por el sistema al momento de calcular el
              valor a cobrar al cliente por concepto de cuota de manejo tomando en cuenta
              que un mismo cliente y/o producto pueden estar incluidos simultáneamente
              en varias de las opciones mencionadas y por consiguiente tener derecho
              a diferentes privilegios, de acuerdo con lo parametrizado en cada una
              de esas opciones.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E4.svg"></p>

          <p class="TITLE">Descripción de campos</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Tipo
                    de cuota
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio con lista de valores de la cual se selecciona Manejo
                  para indicarle al sistema el tipo de cuota para la que se va a parametrizar
                  el orden de aplicación.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Tipo
                    de orden


                  </p>
              </td>
              <td>
                <p class="PARRAFO">Este
                  campo obligatorio tipo combo permite seleccionar entre El primero
                    o En cascada, la manera como el sistema debe evaluar los diferentes
                  eventos definidos para el cálculo de la cuota.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Primero


                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio con lista de valores de la cual se selecciona entre
                  Interfranquicias, Programa comercial, Programa promoción,
                    Categoría cliente o Convenios el evento que
                  se debe evaluar en primera instancia.
                </p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Seguno
                    / Tercero / Cuarto / Quinto / Sexto


                  </p>
              </td>
              <td>
                <p class="PARRAFO">En
                  estos campos tipo combo no obligatorios y que se habilitan únicamente
                  cuando el tipo orden sea En cascada, se selecciona entre
                  Interfranquicias, Programa comercial, Programa promoción,
                    Categoría cliente o Convenios el orden en el
                  que se debe evaluar cada uno de los eventos seleccionados para efectos
                  de calcular la cuota respectiva.
                </p>
              </td>
            </tr>
          </table>
          <p class="PARRAFO"><a name="BL_EVENTOS"></a><span class="SUBTITULO">Eventos</span>:</span> 
              </span> 
            si desde el formulario inicial el usuario invoca el hiperv&igrave;nculo
              Eventos se despliega un formulario que le permite a la entidad
            definir los parámetros necesarios para los diferentes eventos o tipos
            de solicitud que eventualmente es posible gestionar para el nuevo producto.
          </p>
          <p class="PARRAFO">El formulario se encuentra estructurado en 3 bloques de datos: Reposición,
            Reexpedición y Renovación con los siguientes
            campos.
          </p>

          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E5.svg"></p>

          <div class="PARRAFO">
            <p class="TITLE">Descripción de campos</p>
          </div>
          <table>
            <tr>
              <td>
                <p class="SUBTITULO">Reposición primera vez / Segunda vez / Tercera vez / Mayor a tres veces
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En estos campos numéricos de 14 enteros y 2 decimales, se registran respectivamente
                  los montos que la entidad cobrará al cliente cada vez que se haga una reposición de la tarjeta, acorde
                  con la frecuencia o cantidad de veces que este evento se haya presentado.</p>
              </td>
            </tr>

            <tr>
              <td>
                <p class="SUBTITULO">Transacción asociada
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Si cualquiera de los campos anteriores contiene un valor, este campo se convierte en
                  obligatorio y en él se selecciona de la lista de valores la <a href="DBH_017B.html"
                      >transacción interna</a> que se va a generar cuando se cumplan las condiciones
                  para generar cobro por el evento.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Cambio de nombre / Banda magnética / Deterioro
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En estos campos tipo check se marcan aquellas causales por los cuales la entidad va a
                  generar cobro al cliente en caso de presentarse el evento de reposición del plástico. </p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Calcula fecha de vencimiento
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo tipo check en el que se indica al sistema si dentro del proceso de resposición
                  se debe calcular una nueva fecha de vencimiento para la tarjeta.</p>
              </td>
            </tr>

            <tr>
              <td>
                <p class="SUBTITULO">Genera número de tarjeta
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En este campo se señala si como resultado del evento de reposición se debe generar un
                  nuevo número de tarjeta.</p>
              </td>
            </tr>

            <tr>
              <td>
                <p class="SUBTITULO">Reposición activa
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo tipo check en el que se indica si como resultado de la reposición del plástico
                  este sale sin ningún bloqueo y listo para su uso o si por el contrario debe salir con bloqueo al
                  despacho y esperar el proceso normal establecido por la entidad para el desbloqueo de la tarjeta.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO">Reexpedición Primera vez / Segunda vez / Tercera vez / Mayor a tres veces
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En estos campos numéricos de 14 enteros y 2 decimales, se registran respectivamente
                  los montos que la entidad cobrará al cliente cada vez que se haga una reexpedición de la tarjeta,
                  acorde con la frecuencia o cantidad de veces que este evento se haya presentado.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO">Transacción asociada
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Si cualquiera de los campos anteriores contiene un valor, este campo se convierte en
                  obligatorio y en él se selecciona de la lista de valores la <a href="DBH_017B.html"
                      >transacción interna</a> que se va a generar cuando se cumplan las condiciones
                  para generar cobro por el evento de reexpedición.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Calcula fecha de vencimiento
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo tipo check en el que se indica al sistema si dentro del proceso de reexpedición
                  se debe calcular una nueva fecha de vencimiento para la tarjeta.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Porcentaje cuota


                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  numérico en el que se indica el porcentaje que aplicado sobre el concepto seleccionado en el campo
                  'Base' servirá al sistema para calcular el valor de la cuota a cobrar. Este campo es excluyente con el
                  de 'Cuota' es decir que solo uno de los dos debe ser diligenciado.
                </p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Renovación Primera vez / Segunda vez / Tercera vez / Mayor a tres veces
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En estos campos numéricos de 14 enteros y 2 decimales, se registran respectivamente
                  los montos que la entidad cobrará al cliente cada vez que se haga una renovación de la tarjeta, acorde
                  con la frecuencia o cantidad de veces que este evento se haya presentado.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Transacción asociada
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Si cualquiera de los campos anteriores contiene un valor, este campo se convierte en
                  obligatorio y en él se selecciona de la lista de valores la <a href="DBH_017B.html"
                      >transacción interna</a> que se va a generar cuando se cumplan las condiciones
                  para generar cobro por el evento de renovación.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Genera número de tarjeta
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En este campo se señala si como resultado del evento de renovación se debe generar un
                  nuevo número de tarjeta.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Reposición activa
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo tipo check en el que se indica si como resultado de la renovación de la tarjeta
                  esta sale sin ningún bloqueo y lista para su uso o si por el contrario debe salir con bloqueo al
                  despacho y esperar el proceso normal establecido por la entidad para el desbloqueo de la misma.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Permite renovación masiva
                  </p>
              </td>
              <td>
                <p class="PARRAFO">En este campo tipo check se señala si las tarjetas pertenecientes al producto pueden
                  ser incluidas dentro de los procesos de <a href="CAH_005B.html" >renovación
                      masiva</a> que eventualmente adelanta la entidad.</p>
              </td>
            </tr>
          </table>


          <p class="PARRAFO"><a name="BL_COPIAR"></a><span class="SUBTITULO">Copiar
                productos </span>:</span></span> 
            si desde el formulario inicial el usuario invoca el hipervínculo
            Copiar productos, se despliega un formulario que </span> le
            permite a la entidad copiar y replicar todos los parámetros de
            un producto ya existente a un nuevo producto, agilizando así el
            proceso de creación de nuevos productos.</p>
          <p class="PARRAFO">Después que el produto ha sido
            copiado, el usuario puede modificar los datos y parámetros que
            sea necesario de acuerdo con las características del nuevo producto.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E6.svg" ></p>

          <p class="TITLE">Descripción de campos</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Producto
                    origen
                  </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  de salida en el cual se muestra el bin, producto, grupo de afinidad
                  y descripción del producto origen que se quiere copiar.</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Producto


                  </p>
              </td>
              <td>
                <p class="PARRAFO">Este
                  campo obligatorio con lista de valores permite seleccionar la combinatoria
                  de <a href="DBH_034B.html" >bin</a>, <a href="DBH_034B1.html" >segmento</a>
                  y <a href="DBH_034B2.html" >grupo de afinidad</a> correspondientes
                  al nuevo producto al que se desea replicar la parametrización
                  del producto origen. </p>
              </td>
            </tr>
          </table>
          <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>
            si el usuario selecciona un registro e invoca la opción Actualizar, se
            despliega un formulario en el cual los únicos campos NO modificables son
            el Bin, Producto, Grupo de afinidad, Marca, Emite plástico, Código
              medio pago y Moneda.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E7.svg"></p>

          <p class="PARRAFO">Este formulario, igual que sucede con el de adicionar,
            contiene los hipervinculos <a href="MEH_002B.html#BL_CUOTAS" >Cuotas</a>
            y <a href="MEH_002B.html#BL_EVENTOS" >Eventos</a>
            con los cuales se invocan los formularios que permiten actualizar
            cualquiera de los datos contenidos en estos formulario y cuya descripción
            se señalá anteriormente.</p>
          <p class="PARRAFO"><span class="SUBTITULO">Actualizar
                cuotas</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E8.svg"></p>
        </div>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar
              orden aplicación cuota</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E9.svg"></p>


        <p class="PARRAFO"><span class="SUBTITULO">Actualizar
              eventos</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E10.svg" ></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>
          si el usuario selecciona un registro e invoca la opción Detalle, se despliega
          un formulario en el cual ninguno de sus campos es modificable.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_018E11.svg"></p>


  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>