<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Productos débito</p>

        <p class="PARRAFO">Al invocarse la opción, por defecto, el sistema
          recupera la totalidad de registros de los productos débito
          almacenados, los cuales reflejan datos adicionales a los ingresados en
          <a href="MEH_002B.html">Definición de productos</a> y que
          corresponden a la manera en la que, los bines que conforman los
          productos débito, son reconocidos en el core bancario, además de
          posibilitar el definir periodos de tiempo para campañas comerciales. A
          través de este formulario se le ofrece a la entidad, el poder
          consultar dichos registros, mediante un filtro con cinco criterios
          distintos de búsqueda, dentro de la data almacenada en la base de
          datos. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_003E.svg"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Bin</p></td>
            <td><p class="PARRAFO">
                Campo que permite digitar el Bin (del producto) o seleccionarlo
                de la lista de valores adjunta, para el cual se requiere
                efectuar la consulta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Producto</p></td>
            <td><p class="PARRAFO">Campo que permite digitar el Producto (o
                segmento del producto) o seleccionarlo de la lista de valores
                adjunta, para el cual se requiere efectuar la consulta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Grupo de afinidad

              </p></td>
            <td><p class="PARRAFO">
                Campo que permite digitar el Grupo de afinidad (del producto) o
                seleccionarlo de la lista de valores adjunta, para el cual se
                requiere efectuar la consulta.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                F1 </p></td>
            <td><p class="PARRAFO">Campo que permite digitar ese dato numérico,
                el cual está relacionado con los bines que conforman los
                productos débito y cómo estos son reconocidos en el core
                bancario.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Clase Cuenta</p></td>
            <td><p class="PARRAFO">Campo que permite digitar ese dato
                alfanumérico, el cual está relacionado con los bines que
                conforman los productos débito y cómo estos son reconocidos en
                el core bancario.
              </p></td>
          </tr>
        </table>
        <p class="PARRAFO">El formulario cuenta con los enlaces: Actualizar,
          Eliminar, Adicionar y Detalle.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_003E1.svg"></p>
        <p class="PARRAFO"><span
            class="SUBTITULO">Adicionar</span>:
          Al activar ese enlace se despliega el siguiente formulario:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_003E5.svg"></p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Definición productos

              </p></td>
            <td><p class="PARRAFO">
                Conjunto de campos que disponen de una lista de valores poblada
                en <a href="MEH_002B.html">Definición de productos</a> de la
                cual se debe seleccionar aquella combinatoria de producto débito
                a la que se le va a vincular los datos adicionales relacionados
                con los bines que conforman dichos productos débito y cómo estos
                son reconocidos en el core bancario.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                F1</p></td>
            <td><p class="PARRAFO">Campo obligatorio, alfanumérico de hasta 3
                caracteres, en el cual se debe registrar el dato correspondiente
                y asociado con los bines que conforman los productos débito y
                cómo estos son reconocidos en el core bancario.
              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Clase cuenta

              </p></td>
            <td><p class="PARRAFO">
                Campo obligatorio, alfanumérico de hasta 2 caracteres, en el
                cual se debe registrar el dato correspondiente y asociado con
                los bines que conforman los productos débito y cómo estos son
                reconocidos en el core bancario.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Tipo cuenta </p></td>
            <td><p class="PARRAFO"> Campo obligatorio, alfanumérico de hasta 3
                caracteres, en el cual se debe registrar el dato correspondiente
                y asociado con los bines que conforman los productos débito y
                cómo estos son reconocidos en el core bancario.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Producto</p></td>
            <td><p class="PARRAFO">Campo obligatorio, alfanumérico de hasta 3
                caracteres, en el cual se debe registrar el dato correspondiente
                y asociado con los bines que conforman los productos débito y
                cómo estos son reconocidos en el core bancario.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Edad desde
              </p></td>
            <td><p class="PARRAFO">Campo no obligatorio, numérico de máximo 3
                dígitos, permite definir el límite inferior del rango de edades
                del producto.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Hasta</p></td>
            <td><p class="PARRAFO">Campo no obligatorio, numérico de máximo 3
                dígitos, permite definir el límite superior del rango de edades
                del producto.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Prioridad</p></td>
            <td><p class="PARRAFO">Campo no obligatorio, numérico de máximo 1
                dígito, permite definit la prioridad con la que se ejecuta la
                actividad va desde 1 hasta n.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Nómina</p></td>
            <td><p class="PARRAFO">Campo tipo checkbox, no obligatorio, en el
                evento en que esté marcado, indica que el producto débito
                corresponde a un producto de nómina.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Fecha inicio promoción
              </p></td>
            <td><p class="PARRAFO">Campo no obligatorio que posee funcionalidad
                de un calendario en el que en formato DD-MM-AAAA, permite
                definir la fecha a partir de la cual entra en vigencia la
                promoción dentro de la cual se incluye al producto débito.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Fecha fin promoción
              </p></td>
            <td><p class="PARRAFO">Campo no obligatorio que posee funcionalidad
                de un calendario en el que en formato DD-MM-AAAA, permite
                definir la fecha hasta la cual estará vigente la promoción
                dentro de la cual se incluye al producto débito.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Mes proyección
              </p></td>
            <td><p class="PARRAFO">Campo no obligatorio, numérico de hasta 4
                dígitos, en el que se define la cantidad de periodos en que se
                proyecta el beneficio sobre la cuota de manejo.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Universidad</p></td>
            <td><p class="PARRAFO">Campo no obligatorio, posee lista de valores
                de la que puede seleccionarse la institución universitaria a la
                que está asociado el Bin del producto débito.

              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Cuenta requerida
              </p></td>
            <td><p class="PARRAFO">Campo que posee lista de valores tipo combo,
                de la que puede seleccionarse entre Si / No,

              </p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span
            class="SUBTITULO">Actualizar</span>:
          Al activar ese enlace se despliega el siguiente formulario, en el que
          el único campo no modificable es Definición productos:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_003E2.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
          Al activar ese enlace se despliega el siguiente formulario con los restantes datos almacenados para el registro desde el cual se invoca:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_003E3.svg"></p>

        <div>
        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>