<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Segmentos</p>

      <p class="PARRAFO">Mediante esta opci&oacute;n se parametrizan
        los diferentes segmentos o nichos de mercado que van a ser asociados a los
        bines y que conjuntamente con el grupo de afinidad van a conformar cada uno
        de los <a href="DBH_018B.html">productos d&eacute;bito</a>
        de la entidad.</p>
      <p class="PARRAFO">Al ingresar a la opci&oacute;n se despliega
        un filtro que le permite al actor consultar alg&uacute;n registro espec&iacute;fico
        por el c&oacute;digo del segmento o la descripci&oacute;n del mismo. Por defecto,
        al ingresar al formulario se muestran todos los segmentos parametrizados actualmente
        por la entidad.</p>
      <p class="TITLE"><img src="../img/DBF_034E7.PNG"></p>

      <p class="TITLE"><img src="../img/DBF_034E8.PNG"></p>

      <p class="PARRAFO">El formulario posee los hiperv&iacute;nculos
        <a href="DBH_034B.html"> Definici&oacute;n de bines</a>
        y <a href="DBH_034B2.html">Grupos de Afinidad</a> que
        le permiten a la entidad parametrizar los dem&aacute;s componentes del producto.
        Adicionalmente contiene las opciones Actualizar, Eliminar y Adicionar.
      </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
        si el usuario invoca la opci&oacute;n Adicionar, se despliega un
        nuevo formulario con los siguientes campos.</p>
      <p class="TITLE"><img src="../img/DBF_034E9.PNG"></p>

      <p class="TITLE">Descripci&oacute;n de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                num&eacute;rico de hasta 3 d&iacute;gitos, obligatorio, en el que
                se ingresa el c&oacute;digo de cada uno de los segmentos a parametrizar.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo alfanum&eacute;rico de hasta 30 posiciones, obligatorio, se
                registra la descripci&oacute;n asociada con el segmento a adicionar.</p>
            </td>
          </tr>
        </table>
      </div>

      <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>
        si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar,
        se despliega un formulario en el cual el &uacute;nico campo modificable es
        la Descripci&oacute;n.</p>
      <p class="TITLE"><img src="../img/DBF_034E10.PNG"></p>

      <div>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>