<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Consulta global de intercambio débito </p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Tapa contable:</span> 
                </span> Grupo de campos que ilustran los datos mínimos por cada transacción
                que compone el ítem del movimiento sobre el cual se realice la consulta.</p>
            <p class="PARRAFO">El formulario contiene los siguientes campos, y cuenta en
                la parte superior con un botón para volver al <a href="DBH_043.html">formulario
                    principal</a> de la Consulta global de intercambio.</p>
            <p class="TITLE"><img src="../img/DBF_043B6.PNG" 661"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Transacción
                            interna </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Muestra
                            el código de la transacción interna asociada a la transacción
                            original, de acuerdo con la parametrización realizada en <a
                                href="DBH_017B.html">Transacciones
                                por empresa.</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Número
                            transacciones </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            que ilustra la cantidad de transacciones originales realizadas por cada
                            registro del bloque central en que se encuentra el cursor.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Moneda
                            almacenada</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Indica
                            la moneda en que es guardado el monto por tipo o clase de la transacción,
                            de acuerdo con la parametrización realizada en <a href="DBH_017B.html">Transacciones
                                por empresa.</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Valor</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            que ilustra la sumatoria o valor de la transacción realizada.</p>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO"><a href="DBH_043.html">Formulario principal</a><span style='font-size:10.0pt;font-family:Arial'> |
                    </span><a href="DBH_043B2.html">Movimiento
                    diario</a><span style='font-size:10.0pt;font-family:Arial'>| </span><a
                    href="DBH_043B3.html">Pendientes</a></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>