<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Consulta global de intercambio débito </p>
                    
            <p class="PARRAFO">Mediante esta opción es posible conocer a manera de 
              síntesis y para cada fecha de proceso, el estado del movimiento por 
              origen del mismo.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta 
              con un filtro inicial de búsqueda, necesario para la consulta de la 
              información:</p>
            <p class="TITLE"><img src="../img/DBF_043B1.PNG"></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span >Fecha 
                    proceso </p></td>
                <td><p class="PARRAFO">Despliega 
                    la fecha del sistema en que fue procesado el movimiento. Si se requiere 
                    consultar movimiento de fecha anterior basta con utilizar el filtro 
                    e ingresar la fecha deseada.</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">Al cargar la información a través del botón 
              Buscar, se muestra el siguinte formulario que contiene la opción Transacciones.</p>
            <p class="TITLE"><img src="../img/DBF_043B2.PNG""></p>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Transacciones</span><span class="PARRAFO"><span class="SUBTITULO">:</span>  A través de este botón el sistema muestra un nuevo formulario 
              con las siguientes opciones en la parte superior:</span>  
              <a href="DBH_043B1.html" >Tapa contable</a>, <a href="DBH_043B2.html" >Movimiento 
              diario</a>,<a href="DBH_043B3.html" >Pendientes</a>.</p>
            <p  class="PARRAFO">A través de estas opciones se presenta 
              de manera detallada la desagregación del conjunto de transacciones, 
              las que por efecto de las validaciones toman diferente fin; Exceptuando la 
              Tapa contable y el Movimiento diario, estas opciones sólo 
              se muestran cuando existen transacciones dentro del movimiento, y permiten 
              desplegar formularios adicionales que contienen información detallada 
              de cada una de ellas.</p>
            <p class="TITLE"><img src="../img/DBF_043B3.PNG"></p>

            <p  class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario 
              cuenta con un filtro inicial de búsqueda, necesario para la consulta 
              de la información:</p>
            <p class="TITLE"><img src="../img/DBF_043B4.PNG"></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Transacción</p></td>
                <td><p class="PARRAFO">Campo 
                    en el cual se ingresa el nombre asociado a cada tipo o clase de transacción 
                    contenida dentro del archivo del movimiento. El formulario despliega 
                    la misma clase de transacción por cuantos paquetes la contengan 
                    en una misma fecha de proceso y origen de transacciones.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
                <td><p class="PARRAFO">Contiene 
                    el nombre de la moneda en que se denomina el movimiento consultado.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Número 
                    paquete </p></td>
                <td><p class="PARRAFO">Se 
                    ingresa el número del paquete que identifica el movimiento por 
                    clase o tipo de transacción, lo que facilita su ubicación 
                    en caso de ser necesario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Sucursal</p></td>
                <td><p class="PARRAFO">Se 
                    ingresa el código que identifica la oficina por medio de la que 
                    ingresó el movimiento.</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca 
              la opción Detalle se despliega el siguiente formulario: <span
              > 
             </p>
            <p class="TITLE"><img src="../img/DBF_043B5.PNG"></p>
            
            <p class="PARRAFO"><a href="DBH_043B1.html">Tapa contable</a><span>
               | </span><a href="DBH_043B2.html">Movimiento 
              diario</a> | </span><a href="DBH_043B3.html">Pendientes</a></p>
            
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>