<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td  >
          <div> 
                    <p  class="TITLE">Par&aacute;metros de conciliaci&oacute;n</p>
                  
            <p class="PARRAFO" >Mediante esta opci&oacute;n se efect&uacute;a 
              la parametrizaci&oacute;n por <a href="DBH_018B.html" >producto</a> 
              y <a href="NUH_027B.html" >origen</a>, del plazo y margen de 
              diferencia a tener en cuenta para el proceso de cruce del movimiento contra 
              las <a href="DBH_025B.html" >autorizaciones</a>. Las combinatorias 
              producto/origen no incluidas en esta opci&oacute;n, no permiten ning&uacute;n 
              margen de diferencia en el cruce del movimiento.</span></p>
            
            <p class="TITLE"><img src="../img/DBF_026E.PNG"></p>

            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar.</p>
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> 
              si el usuario invoca la opci&oacute;n Adicionar, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/DBF_026E1.PNG"></p>
            
            <p  class="TITLE">Descripci&oacute;n de campos</p>
              <table>
                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Producto</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      obligatorio con lista de valores de la que se selecciona el <a href="DBH_018B.html" >producto 
                      d&eacute;bito</a> para el que se van a definir los par&aacute;metros 
                      de conciliaci&oacute;n.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"> 
                    <p class="SUBTITULO"><span >Origen</span></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo obligatorio con lista de valores, permite seleccionar el <span class="PARRAFO"><a href="NUH_027B.html" >origen</a></span>  
                      a trav&eacute;s del cual debe ingresar la transacci&oacute;n efectuada 
                      con el producto anterior, para que apliquen los par&aacute;metros 
                      de conciliaci&oacute;n a definir.</p></td>
                </tr>
                <tr> 
                  <td class="titletable" > 
                    <p class="SUBTITULO"><span >Porcentaje</span></p></td>
                  <td><p class="PARRAFO" >Campo 
                      num&eacute;rico de 3 enteros y 2 decimales, obligatorio, en el cual 
                      se define el porcentaje m&aacute;ximo de diferencia que puede existir 
                      entre el movimiento cargado y las autorizaciones registradas para 
                      que &eacute;ste sea aceptado; si el porcentaje de diferencia supera 
                      este valor, el movimiento es marcado y eliminado. </span></p></td>
                </tr>
                <tr> 
                  <td class="titletable" > 
                    <p class="SUBTITULO"><span >Plazo cruce</span></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo indica el n&uacute;mero m&aacute;ximo de d&iacute;as que 
                      el sistema debe esperar desde el momento del ingreso de la transacci&oacute;n 
                      para hacer el cruce de la misma.</p></td>
                </tr>
                <tr> 
                  <td class="titletable" > 
                    <p class="SUBTITULO"><span >Cr. acreedor</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      num&eacute;rico de 4 d&iacute;gitos obligatorio que permite registrar 
                      el n&uacute;mero de d&iacute;as que las transacciones cr&eacute;dito 
                      tienen de plazo para efectuar la conciliaci&oacute;n o cruce del movimiento 
                      asociado a la combinatoria producto/origen seleccionados. Despu&eacute;s 
                      de cumplido este plazo, el movimiento que no haya sido cruzado ser&aacute; 
                      marcado y eliminado</p></td>
                </tr>
                <tr> 
                  <td class="titletable" > 
                    <p class="SUBTITULO"><span >Cr. deudor</span></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo num&eacute;rico de 4 d&iacute;gitos se indica el n&uacute;mero 
                      de d&iacute;as que las transacciones d&eacute;bito tienen de plazo 
                      para efectuar la conciliaci&oacute;n o cruce del movimiento asociado 
                      a la combinatoria producto/origen seleccionados. Despu&eacute;s de 
                      cumplido este plazo, el movimiento que no haya sido cruzado ser&aacute; 
                      marcado y eliminado.
                    </p></td>
                </tr>
              <tr> 
                <td  > 
                  <p class="SUBTITULO"><span >Autorizaci&oacute;n</span></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo en el que se indica Si o No el n&uacute;mero 
                    de autorizaci&oacute;n debe ser tenido en cuenta por el sistema al momento 
                    de hacer el cruce y conciliaci&oacute;n de las transacciones.</p></td>
              </tr>

              <tr> 
                <td  > 
                  <p class="SUBTITULO"><span >Fecha comprobante</span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo se indica Si o No la fecha del 
                    comprobante debe ser tenida en cuenta por el sistema al momento de hacer 
                    el cruce y conciliaci&oacute;n de las transacciones.</p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, 
              se despliega un formulario en el cual los &uacute;nicos campos NO modificable 
              son Producto y Origen.</p>
            <p class="TITLE"><img src="../img/DBF_026E2.PNG"></p>
            
            <div>
            </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>