<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Generación de novedades de tarjetas</p>

        <p class="PARRAFO">Mediante esta opción se habilita a la entidad
          realizar dos novedades de tarjeta débito, Cambio bloqueo (del
          plástico) o el Cambio sucursal. Al ingresar a la opción se muestra un
          formulario que le permite al usuario seleccionar el tipo de novedad y
          el número de la tarjeta a modificar.

        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/DBF_020E.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <div>
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Novedad
                </p></td>
              <td><p class="PARRAFO">Campo obligatorio en el que se puede
                  ingresar o seleccionar uno de los dos registros, de la lista
                  de valores, poblada a partir de la opción <a
                    href="NUH_017B.html">Novedades administrativas</a>
                  a aplicar a la tarjeta débito </p></td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Número
                  de tarjeta</p></td>
              <td><p class="PARRAFO">En este campo alfanumérico de hasta 23
                  posiciones, obligatorio, se digita el número de la tarjeta
                  débito, con o sin los ceros a la izquierda, para la que se
                  desea aplicar el cambio o novedad.</p></td>
            </tr>
          </table>
        </div>
        <p class="PARRAFO">Una vez seleccionada la novedad y el número de
          tarjeta débito, al activar el botón Aplicar, se despliega un nuevo
          formulario, que puede ser <a href="DBH_027B.html">Cambio bloqueo</a> o <a href="DBH_020B1.html">Cambio sucursal</a>.</p>
        </div>
        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>