<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
    <style>
        footer {
            position: fixed;
        }

       
    </style>
</head>

<body>

    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Transaccionabilidad:
            </p>
            <p class="PARRAFO">Conjunto de funcionalidades que permiten el ingreso de movimiento de oficinas así como consultar el resultado del procesamiento de otros orígenes de transacciones y el destino de los mismos.</p>

            <li><a href="INH_004B.html">Captura de Movimientos oficina</a></li>
            <li><a href="INH_004E.html">Supervisor captura movimento oficina</a></li>
            <li><a href="INH_006B.html">Consulta global de intercambio</a></li>         
            <li class="ocultar"><a href="INH_027B.html">Contracargos</a></li>
            <li ><a href="INH_040B.html">Consulta de movimientos</a></li>
            <li><a href="INH_028.html">Canje enviado</a></li>

            <li class="ocultar"><a href="INH_022B.html">Fraudes</a></li>
            <li class="ocultar"><a href="INH_027B.html">Contracargos</a></li>
            <li class="ocultar"><a href="INH_029E.html">Efectos al cobro</a></li>
            <li class="ocultar"><a href="INH_028B.html">Fee Collection</a></li>
        </div>

        <img loading="lazy" rel="preload"  class="ImagenOpencardWeb" src="../img/bankbu-removebg-preview.PNG" alt="Imagen de la empresa">

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>