<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">

    <style>
        footer {
            position: fixed;
        }

        section p {
            width: 625px;
        }
        section div p {
            width: 100%;
        }
        section div p{
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>
    <section>
        <div>
            <p class="TITLE">Solicitudes del cliente
            </p>


            <p>Contiene las opciones que automatizan la totalidad de las labores relacionadas con el tratamiento de una
                solicitud, desde el ingreso hasta su activación. Así mismo, es posible indicar si la solicitud se
                realiza para Solo adicional, Solo titular o Titular con adicionales.
            </p>

            <li><a href="SOH_001B.html">Parámetros de solicitudes</a></li>
            <li><a href="SOH_001B7.html">Parámetros de solicitudes por producto</a></li>
            <li><a href="SOH_003B.html">Ingreso solicitudes - credito nuevo</a></li>
            <li><a href="SOH_006E.html">Ingreso otras solicitudes</a></li>
            <li><a href="SOH_040B.html">Solicitudes por etapa</a></li>
            <li><a href="SOH_022B.html">Consultar solicitudes</a></li>
            <li style="visibility: hidden;display: none;"><a href="SOH_023B.html">Consulta etapas forzadas</a></li>
            <li style="visibility: hidden;display: none;"><a href="SOH_025B.html">Actualizar estadisticas solicitudes</a></li>
            <li style="visibility: hidden;display: none;"><a href="SOH_024B.html">Consultar estadísticas</a></li>
            <li style="visibility: hidden;display: none;"><a href="SOH_029B.html">Tarjetas de emergencia</a></li>

        </div>

        <img class="ImagenBankbu" src="../img/bankbu-removebg-preview.PNG" alt="Imagen de la empresa">



    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>