<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
    <style>
        footer {
            position: fixed;
        }

        .TITLE {
            text-align: left;
            align-items: left;
        }

        section div {
            width: 670px;
        }

        section p {
            width: 625px;
        }

        section h1 {
            cursor: pointer;
        }

        section ul {
            display: none;
        }
        section ul li a:hover {
            color: #F26716
        }
        section p {
            width: 625px;
        }
        section div p{
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE" style="text-align: center;">Autorizaciones
            </p>
            <p class="PARRAFO">Seleccione la opcione que quiere consultar de la sección de autorizaciones</p>
            <li><a href="COH_040B.html">Claves</a></li>
            <li><a href="COH_021B.html">Registro llaves Encripción</a></li>
            <li><a href="COH_042.html">Llaves de encripción tarjeta chip</a></li>

            <div class="ocultar">
            <p style="font-weight:bold;font-size: 24px; text-align: left;cursor: pointer; color:#341C8C;" onclick="toggleList('Parámetrosautorizaciones')" onmouseover="this.style.color='#F26716'" onmouseout="this.style.color='#341C8C'">Parámetros autorizaciones</p>
            <ul id="Parámetrosautorizaciones">

                <li><a href="COH_001B.html">Adquirentes </a></li>
                <li><a href="COH_041B.html">Parámetros de Pin</a></li>
                <li><a href="COH_007B.html">Puertos</a></li>
                <li><a href="COH_002B.html">Tipos de terminal</a></li>
                <li><a href="COH_004B.html">Tipos de mensajes</a></li>
                <li><a href="COH_003B.html">Codigos Terminal</a></li>
                <li><a href="COH_014B.html">Códigos de Respuesta</a></li>
                <li><a href="COH_005E.html">Datos del mensaje</a></li>
                <li><a href="COH_006E.html">Datos por tipo de mensaje</a></li>
                <li><a href="COH_024B.html">Códigos de Rechazo</a></li>
                <li><a href="COH_015B.html">Configuraciones</a></li>
                <li><a href="COH_040B.html">Claves</a></li>
                <li><a href="COH_021B.html">Registro llaves Encripción</a></li>
                <li><a href="COH_016B1.html">Validaciones</a></li>
                <li><a href="COH_016B.html">Procesos a validar</a></li>
            </ul>

            <div>
                <p style="font-weight:bold;font-size: 24px; text-align: left;cursor: pointer; color:#341C8C;" onclick="toggleList('AutorizacionesEmisor')" onmouseover="this.style.color='#F26716'" onmouseout="this.style.color='#341C8C'">Autorizaciones Emisor</p>
                <ul id="AutorizacionesEmisor">
                    <li><a href="COH_009B.html">Registro de Autorizaciones </a></li>
                    <li><a href="COH_011B.html">Registro de Autorizaciones Especiales</a></li>
                    <li><a href="COH_010B.html">Reversión de Autorizaciones</a></li>
                </ul>
            </div>

            <div>
                <p style="font-weight:bold;font-size: 24px; text-align: left;cursor: pointer; color:#341C8C;" onclick="toggleList('Consultas')" onmouseover="this.style.color='#F26716'" onmouseout="this.style.color='#341C8C'">Consultas</p>
                <ul id="Consultas">
                    <li><a href="COH_012B.html">Consulta de Autorizaciones</a></li>
                    <li><a href="COH_013B.html">Consulta de Bitácora Autorizaciones</a></li>
                    <li><a href="COH_020B.html">Consulta Cargue de Autorizaciones MasterCard</a></li>
                    <li><a href="COH_020B1.html">Consulta Cargue de Autorizaciones Visa</a></li>
                    <li><a href="COH_042B.html">Consulta mensajes del sistema</a></li>
                </ul>
            </div>
            <div>
                <p style="font-weight:bold;font-size: 24px; text-align: left;cursor: pointer; color:#341C8C;" onclick="toggleList('3DSecure')" onmouseover="this.style.color='#F26716'" onmouseout="this.style.color='#341C8C'">3DSecure</p>
                <ul id="3DSecure">
                    <li><a href="COH_060B.html">SLI 3DSecure </a></li>
                    <li><a href="COH_061B.html">Version 3DSecure</a></li>
                    <li><a href="COH_062B.html">DTI 3DSecure</a></li>
                    <li><a href="">Validaciones 3DSecure</a></li>
                </ul>
            </div>
        </div>
    </div>
        <img class="ImagenBankbu" src="../img/bankbu-removebg-preview.PNG" alt="Imagen de la empresa">

    </section>
    <script src="../js/menu.js"></script>
    <script src="../js/opciones.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>