<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Informaci&oacute;n de establecimientos 
                      - Marcas</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">Desde este formulario, que se invoca mediante 
              el hiperv&iacute;nculo Marcas contenido en el formulario de <a href="ESH_006B.html" >Informaci&oacute;n 
              de establecimientos</a>, se registran las diferentes marcas habilitadas 
              para el establecimiento y para cada una de ellas se parametrizan las condiciones 
              de liquidaci&oacute;n de la comisi&oacute;n, vinculaci&oacute;n y estado del 
              establecimiento, si es o no sujeto a efectuarle la retenci&oacute;n en la 
              fuente, y de poseer el derecho de cobrar propina, las estipulaciones bajo 
              las que aplican. </p>
            <p class="TITLE"><img src="../img/ESF_006E5.PNG"></p>

            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p  class="PARRAFO"><b ><span class="SUBTITULO">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario 
              con los siguientes campos:</p>
            <p class="TITLE"><img src="../img/ESF_006E6.PNG"></p>
            
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Marca</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona cada una de 
                    las diferentes <a href="NUH_033B.html" >franquicias</a> 
                    autorizadas para el establecimiento y para la cual aplican las dem&aacute;s 
                    condiciones definidas en este formulario. </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    C&oacute;digo m&uacute;ltiple</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo se registra el c&oacute;digo de identificaci&oacute;n del 
                    establecimiento, adicional al c&oacute;digo &uacute;nico, que viaja 
                    en la cinta de cargue de establecimientos.
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    C&oacute;digo interno</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    en el cual se registra el c&oacute;digo que identifica al establecimiento 
                    exclusivamente ante la marca American Express. </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    C&oacute;digo intes</span></b></p></td>
                <td><p  class="PARRAFO">Permite 
                    ingresar el c&oacute;digo que identifica al establecimiento exclusivamente 
                    ante la marca Diners.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Fecha aprobaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    en formato YYYY-DD-MM en el que se registra la fecha de aprobaci&oacute;n 
                    de la solicitud de afiliaci&oacute;n al operador (franquicia) y asignaci&oacute;n 
                    del c&oacute;digo &uacute;nico.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Ultimo mantenimiento</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo en formato YYYY-DD-MM se registra la fecha en la cual se 
                    hizo la &uacute;ltima visita realizada al establecimiento por parte 
                    del operador de la franquicia. Aplica en especial para credibanco - 
                    visa </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Estado</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio tipo combo en el que se selecciona entre Desafiliado, 
                    Inactivo, Activo o Nuevo la condici&oacute;n en que se encuentre 
                    el establecimiento respecto de la marca o franquicia.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Fecha activaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo en formato YYYY-MM-DD, no obligatorio, se registra la fecha 
                    m&aacute;s reciente de la activaci&oacute;n del establecimiento. </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    C&oacute;digo anterior</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 11 d&iacute;gitos, no obligatorio, en el que 
                    se registra el anterior c&oacute;digo asigando al establecimiento, en 
                    caso que lo hubiere, por ejemplo cuando se ha modificado la codificaci&oacute;n.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Seccional</span></b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo alfanum&eacute;rico de dos d&iacute;gitos, no obligatorio, se 
                    utiliza para facilitar un agrupamiento o sectorizaci&oacute;n de los 
                    comercios de una cadena.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Modalidad de servicio</span></b></p></td>
                <td><p  class="PARRAFO">Campo obligatorio
                    tipo combo del cual se puede seleccionar entre Ventas, Avances o Ambos 
                    el indicador del tipo de servicio autorizado al establecimiento.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Marca compartida</span></b></p></td>
                <td><p  class="PARRAFO">Cuando 
                    un establecimiento tiene un producto de marca compartida con la entidad, 
                    en este par&aacute;metro se indica el <a href="MEH_001B.html#BL_GRUPO_AFIN" >grupo 
                    de afinidad</a> asociado a dicho producto y que permite enrutar 
                    la informaci&oacute;n contable que viaja en las interfases.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Forma de pago</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo en el que se puede seleccionar entre Cuenta ahorros, 
                    Cuenta corriente o Cuenta rotativa el tipo de cuenta a la cual 
                    se deben hacer los abonos al establecimiento.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Frecuencia de pago</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo se selecciona entre Diario, Semanal, Quincenal, 
                    Mensual, Otro la frecuencia con la cual se deben hacer los abonos 
                    al establecimiento.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    D&iacute;a de pago</span></b></p></td>
                <td><p  class="PARRAFO">Cuando 
                    en el campo anterior se ha seleccionado Otro, aqu&iacute; se 
                    indica el n&uacute;mero de d&iacute;as que debe transcurrir desde la 
                    fecha de la transacci&oacute;n para hacer el abono a la cuenta del establecimiento.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Abono establecimiento</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio tipo combo se selecciona entre Total 
                    y Parcial para indicar si de las consignaciones realizadas 
                    solamente se aplica o abona a la cuenta de dep&oacute;sitos, el valor 
                    correspondiente a las transacciones de consumo que han superado exitosamente 
                    todas las validaciones (Parcial), o si por el contrario, se le abona 
                    el Total de la mismas y en caso de presentarse inconvenientes se realizar&aacute; 
                    el ajuste a la cuenta por el respectivo monto.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Pseudoc&oacute;digo</span></b></p></td>
                <td><p  class="PARRAFO">Algunos 
                    de los procesadores, canalizan las operaciones de adquirencia de los 
                    establecimientos a trav&eacute;s de un c&oacute;digo (asignado por &eacute;ste) 
                    como mecanismo de seguridad. Este campo permite registrar el c&oacute;digo 
                    perteneciente al establecimiento, el mismo que permite llegar y afectar 
                    la cuenta ya sea corriente o de ahorros de cada comercio.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Oficina</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que contiene lista de valores de la cual se puede seleccionar la <a href="NUH_020B.html" >sucursal</a> 
                    para la cual se desea asociar el c&oacute;digo &uacute;nico de establecimiento 
                    y de esta manera disponer de informaci&oacute;n sobre los avances en 
                    efectivo gestionados es estas.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Derecho propina</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo se selecciona entre Si o No el establecimiento 
                    de acuerdo con el <a href="ESH_002B.html" >tipo de 
                    servicio</a> prestado est&aacute; autorizado para el cobro de propina.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Tolerancia no comisionable</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 18 d&iacute;gitos no obligatorio, en el que se registra 
                    el valor absoluto m&aacute;ximo acordado entre el emisor y el operador 
                    (<a href="NUH_033B.html" >franquicia</a>) en que 
                    puede excederse el monto de comisi&oacute;n cobrado. Si no se define 
                    un valor para el establecimiento, el sistema asigna el valor que por 
                    defecto presente el <a href="ESH_002B.html" >tipo de 
                    servicio</a> o en su ausencia el valor determinado por la franquicia.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Servicio</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona el <a href="ESH_002B.html" >tipo 
                    de servicio</a> correspondiente al nombre del principal servicio 
                    o producto ofrecido por el establecimiento.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Motivo desafiliaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo tipo combo, permite seleccionar el <a href="ESH_004B.html" >motivo 
                    de desafiliaci&oacute;n</a> correspondiente a la raz&oacute;n o 
                    causal por la cual un establecimiento es separado o excluido de la marca 
                    o franquicia, la que tambi&eacute;n puede ser voluntaria.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Fecha desafiliaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    en formato YYYY-MM-DD en el que se registra la fecha en la cual el establecimiento 
                    de desafili&oacute; de la marca.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Terminal POS</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo se indica si el establecimiento posee o no P.O.S. para realizar 
                    o tramitar las transacciones. </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Tarjeta d&eacute;bito local / Cr&eacute;dito / Inteligente / Electron</span></b></p></td>
                <td><p  class="PARRAFO">Cada 
                    uno de estos campos tipo combo, permite seleccionar de manera excluyente 
                    si la comisi&oacute;n que la entidad emisora de la tarjeta le va a cobrar 
                    al establecimiento por el uso de cada tipo de tarjeta corresponde a 
                    un Valor fijo, un Porcentaje sobre el valor de la 
                    transacci&oacute;n o Mixto, es decir, un valor fijo m&aacute;s 
                    un porcentaje adicional.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    % Comisi&oacute;n d&eacute;bito / Cr&eacute;dito / Inteligente / Electron</span></b></p></td>
                <td><p  class="PARRAFO">Si 
                    el tipo comisi&oacute;n para un tipo de tarjeta se ha definido como 
                    Porcentaje o Mixto, en este campo de 3 enteros y 2 
                    decimales se registra la proporci&oacute;n a aplicar sobre la transacci&oacute;n 
                    para determinar el monto de comisi&oacute;n para la entidad.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Valor</span></b></p></td>
                <td><p  class="PARRAFO">Cuando 
                    el tipo comisi&oacute;n se define como Valor o Mixto, 
                    en este campo de 14 enteros y 2 decimales se registra el valor fijo 
                    a cobrar al establecimiento por cada transacci&oacute;n, a modo de comisi&oacute;n 
                    para la entidad.</p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Plazo consignaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de tres d&iacute;gitos no obligatorio, se 
                    registra el n&uacute;mero m&aacute;ximo de d&iacute;as h&aacute;biles 
                    de que dispone el establecimiento para realizar las consignaciones de 
                    los comprobantes manuales o no electr&oacute;nicos. </p></td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    % M&aacute;ximo no comisionable</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 3 enteros y dos decimales, no obligatorio, en el 
                    que se registra el valor porcentual m&aacute;ximo o tope para el cobro 
                    de propina, determinado inicialmente por la franquicia; el valor que 
                    exceda dicho tope, no ser&aacute; considerado como propina y sumar&aacute; 
                    para aumentar la base sobre la cual se cobra la comisi&oacute;n al establecimiento. 
                    Si no se define un valor para el establecimiento, el sistema asigna 
                    el valor que por defecto presente el <a href="ESH_002B.html" >tipo 
                    de servicio</a> o en su ausencia el valor determinado por la franquicia.
                  </p></td>
              </tr>
            </table>



            <p  class="PARRAFO"><b ><span class="SUBTITULO">Actualizar</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es la marca. </p>
            <p class="TITLE"><img src="../img/ESF_006E8.PNG"588" height="539"></p>
            
            <p  class="PARRAFO"><b ><span class="SUBTITULO">Detalle</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un formulario con la informaci&oacute;n completa del registro y 
              en el cual ninguno de sus campos es modificable.</p>
            <p class="TITLE"><img src="../img/ESF_006E10.PNG"670" height="399"></p>
           
            <div>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>