<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Tipos de servicio</p>

      <p class="PARRAFO">A través de esta opción se permite la consulta y mantenimiento de la tabla que contiene, la codificación de los diferentes MCC o tipos de servicio
         que ofrecen los <a href="ESH_006B.html">establecimientos</a>
         vinculados a la entidad financiera y, para cada uno de estos, se definen valores y condiciones específicos. El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar, además el enlace <a href="#Marcas">Marcas</a>, en el cual se definen las condiciones que aplican para cada tipo de servicio.
        </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E.PNG"></p>

     
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span>:</span></span>
        Al activar ese enlace se despliega el siguiente formulario:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E1.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código</p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de 4 dígitos, obligatorio, en el que debe indicarse el dato asignado a cada uno de los tipos de servicio (principal) asociado bien ofrecidos por los establecimientos.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripción</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo alfanumérico de 30 posiciones, obligatorio, se debe registrar el nombre asociado a cada tipo de servicio.
            </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>: <span class="PARRAFO">Al activar ese enlace se despliega un formulario en el cual, el único campo modificable es Descripción:</p>
      <div>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E2.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO"><a name="Marcas"></a> Marcas</span>: Conjunto de datos que permite conocer las marcas o franquicias sobre las que tiene validez o aplica la
           codificación desplegada en el bloque anterior. Contiene los enlaces: Actualizar, Eliminar, Adicionar y Detalle, además, posee un botón que permite regresar a
            la opción <a href="ESH_002B.html">Tipos de servicio.</a></p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E6.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span>:</span></span> Al activar ese enlace se despliega el siguiente formulario:</span></p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E5.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio, en el cual se debe digita el código de cada una de las marcas o si se prefiere se puede seleccionar de la lista de valores la
                <A href="NUH_033B.html">franquicias</A> a la cual pertenece el establecimiento. Una vez digita o seleccionado el sistema despliega el nombre de la marca o franquicia correspondiente.</p>
            </td>
          </tr>
         
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje Rete-fuente</p>
            </td>
            <td background="NUH_055B.html">
              <p class="PARRAFO">Campo que permite registrar el valor porcentual de la tasa a aplicar por retención en la fuente, sobre el resultado del porcentaje base definido en el campo siguiente. Cabe anotar que el sistema busca este parámetro en primer lugar a nivel de <A
                  href="ESH_006E.html#BL_RETE">establecimiento</A>; si no está definido allí, tiene en cuenta el valor aquí registrado, y de no estar aquí, se remite a los <A
                  href="NUH_055B.html">Parámetros operativos</A>; lo mismo aplica para los 3 campos siguientes.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje base Rete-fuente </p>
            </td>
            <td>
              <p class="PARRAFO">Permite definir el valor porcentual a aplicar y calcular sobre los consumos (u otros conceptos asimilables), sobre cuyo resultado se liquidará el impuesto de retención en la fuente.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje Retención Iva </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en el que se registra el valor porcentual de la tasa a aplicar por dicho impuesto, sobre el resultado del porcentaje base retención IVA obtenido.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje base Rete-Iva</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se define el valor porcentual a aplicar y calcular sobre el valor del IVA reportado por los establecimientos en las consignaciones, para establecer la base de cálculo de la Retención a hacer por este concepto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Límite Piso </p>
            </td>
            <td>
              <p class="PARRAFO">En este campo numérico de 18 posiciones, no obligatorio, se registra el valor del límite de piso o valor a partir del cual se requiere solicitar autorización, que regirá por defecto para los establecimientos que perteneciendo a cada tipo de servicio no lo hayan definido para cada uno de éstos.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisión débito</p>
            </td>
            <td>
              <p class="PARRAFO">Opción que permite definir de manera excluyente si la cifra relacionada en el campo Valor comisión débito, ubicado a continuación, corresponde a un porcentaje o un valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor comisión débito</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 18 dígitos no obligatorio, en el que se registra acorde a lo definido en el campo anterior, el valor absoluto o porcentual a descontar a manera de comisión a los establecimientos por transacciones realizadas con productos débito y que aplicará por defecto a los comercios pertenecientes a cada tipo de servicio.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisión crédito </p>
            </td>
            <td>
              <p class="PARRAFO"> 
                Opción que permite definir de manera excluyente si la cifra relacionada en el campo Valor comisión crédito, ubicado a continuación, corresponde a un porcentaje o un valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor comisión crédito</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 18 dígitos no obligatorio, en el que se registra acorde a lo definido en el campo anterior, el valor absoluto o porcentual a descontar a manera de comisión a los establecimientos por transacciones realizadas con tarjetas de crédito y que aplicará por defecto a los comercios pertenecientes a cada tipo de servicio.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisión electron </p>
            </td>
            <td>
              <p class="PARRAFO">Opción que permite definir de manera excluyente si la cifra relacionada en el campo Valor comisión electron, ubicado a continuación, corresponde a un porcentaje o un valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor comisión electron</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 18 dígitos no obligatorio, en el que se registra acorde a lo definido en el campo anterior, el valor absoluto o porcentual a descontar a manera de comisión a los establecimientos por transacciones realizadas con tarjetas electron y que aplicará por defecto a los comercios pertenecientes a cada tipo de servicio.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo comisión visa cash </p>
            </td>
            <td>
              <p class="PARRAFO">Opción que permite definir de manera excluyente si la cifra relacionada en el campo Valor comisión visa cash, ubicado a continuación, corresponde a un porcentaje o un valor absoluto.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor Comision Visa Cash</p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 18 dígitos no obligatorio, en el que se registra acorde a lo definido en el campo anterior, el valor absoluto o porcentual a descontar a manera de comisión a los establecimientos por transacciones realizadas con productos Visa cash y que aplicará por defecto a los comercios pertenecientes a cada tipo de servicio.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">¿Derecho a propina?</p>
            </td>
            <td>
              <p class="PARRAFO">Indicador de si los establecimientos pertenecientes a cada tipo de servicio, tienen o no derecho a la liquidación y cobro de propina. Si este indicador esta inactivo, los campos % máximo no comisionable y Tolerancia no comisionable, se desactivarán.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Porcentaje máximo no comisionable</p>
            </td>
            <td>
              <p class="PARRAFO">En este campo numérico de 9 posiciones, no obligatorio, se registra el valor porcentual máximo o tope para el cobro de propina acordado por la franquicia. Si no se define un valor para el establecimiento, el sistema asigna el valor que por defecto presente el nivel de tipo de servicio o en su ausencia el valor determinado por la franquicia.</a></p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tolerancia no comisionable </p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de 9 posiciones no obligatorio, en el que se registra el valor absoluto máximo acordado entre el emisor y el operador (franquicia) en que puede excederse el monto de comisión cobrado. Si no se define un valor para el establecimiento, el sistema asigna el valor que por defecto presente el nivel de tipo de servicio o en su ausencia el valor determinado por la franquicia.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Permite Ica </p>
            </td>
            <td>
              <p class="PARRAFO">Esta casilla se marca para indicar si para cada tipo de servicio la norma autoriza o no aplicar la retención del impuesto de industria y comercio ICA, en principio se eximen aquellos relacionados con el expendio de gasolina. Acorde con la manera de proceder de cada franquicia respecto del control de la información sobre los establecimientos, debe tenerse cuidado respecto de la marcación de este indicador.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Aerolínea</p>
            </td>
            <td>
              <p class="PARRAFO">Esta casilla se marca para indicar si el establecimiento corresponde a una aerolínea. </p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>: <span class="PARRAFO">Al invocar ese enlace se despliega un formulario en el cual el único campos no modificable es Marca: </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E4.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario invoca la opción Detalle se despliega el siguiente formulario:

          </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ESF_002E7.PNG"></p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>