<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Atributos de mercanc&iacute;as</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Esta opci&oacute;n est&aacute; dise&ntilde;ada para aquellas
        entidades que poseen y administran sus propios comercios y tarjetas de cr&eacute;dito,
        como pueden ser eventualmente las grandes cadenas de almacenes; su funcionalidad
        radica en permitir la definici&oacute;n de agrupaciones de mercanc&iacute;as
        con base en sus caracter&iacute;sticas, cualidades o cualquier otra especificaci&oacute;n
        que sea com&uacute;n a todas ellas, informaci&oacute;n que puede ser utilizada
        al momento de definir las <a href="ESH_024B.html" >estrategias de mercadeo</a>
        a seguir.</p>
      <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar
        y Adicionar.</p>
      <p class="TITLE"><img src="../img/ESF_022B.PNG"></p>

      <p><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a trav&eacute;s
        de las siguientes opciones: </p>
      <p class="TITLE"><img src="../img/ESF_022B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Atributo</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de m&aacute;ximo 3 posiciones, a trav&eacute;s del
              cual se consulta un Atributo espec&iacute;fico.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Depende
                  de </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de m&aacute;ximo 3 posiciones, a trav&eacute;s del
              cual se consulta un Atributo del cual depende otro.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opci&oacute;n Adicionar se
        despliega un formulario con los siguientes campos<span>:</span> 
      </p>
      <p class="TITLE"><img src="../img/ESF_022B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Atributo</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de m&aacute;ximo 3 posiciones, obligatorio, en el
              cual se registra el c&oacute;digo del grupo o atributo definido.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Descripci&oacute;n</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de m&aacute;ximo 60 posiciones, obligatorio, en
              el que se registra el nombre o descriptivo del atributo asociado al
              c&oacute;digo anterior.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Depende
                  de </span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Lista
              de valores de m&aacute;ximo 3 posiciones, a trav&eacute;s del cual se
              relaciona un Atributo para que dependa de otro.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
          Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
          en el cual los &uacute;nicos campos modificables son: Descripci&oacute;n y
          depende de.</span></p>
      <p class="TITLE"><img src="../img/ESF_022B3.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>