<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Validaciones cargue establecimientos</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n la entidad define los conceptos
                que se validar&aacute;n en el proceso de cargue
                y actualizaci&oacute;n de los archivos de los establecimientos de acuerdo
                con la franquicia a la cual pertenecen &eacute;stos.</p>
            <p class="PARRAFO">El formulario contiene la opci&oacute;n Validaciones.
                Muestra la descripci&oacute;n de cada marca o <a href="NUH_033B.html">franquicia</a>
                sobre la cual se va a efectuar la validaci&oacute;n del cargue. </p>
            <p class="TITLE"><img src="../img/ESF_017B.PNG"></p>

            <p class="PARRAFO"><span class="SUBTITULO">Validaciones:</span> 
                Al invocar el formulario de Validaciones, se despliega una nueva pantalla
                con las opciones Eliminar y Adicionar.</p>
            <p class="TITLE"><img src="../img/ESF_017B1.PNG"></p>

            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> 
                    Si el usuario invoca la opci&oacute;n Adicionar</span><span class="PARRAFO">
                    se despliega un nuevo formulario con este campo.</span></p>
            <p class="TITLE"><img src="../img/ESF_017B2.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">C&oacute;digo</span></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            a trav&eacute;s del cual se ingresa el concepto que se validar&aacute;
                            en el cargue del archivo de establecimientos; en caso de necesitar agregar
                            otro par&aacute;metro a validar, cuenta con una la lista de valores
                            de la que se selecciona la opci&oacute;n correspondiente.</p>
                    </td>
                </tr>
            </table>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>