<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Mercancías</p>
                    
            <p class="PARRAFO">Esta opción está dise&ntilde;ada para aquellas 
              entidades que poseen y administran sus propios comercios y tarjetas de crédito, 
              como pueden ser eventualmente las grandes cadenas de almacenes. Mediante esta 
              función se determinan de manera precisa las diferentes mercancías 
              que van a ser incluidas en los programas de promociones dise&ntilde;ados y 
              mercancías que están asociadas con los <a href="ESH_022B.html">atributos</a> 
              definidos. Cuenta con un máximo de tres niveles para las jerarquías 
              o categorías de mercancías establecido.</p>
            <p class="PARRAFO">El formulario contiene los enlaces: Detalle y Mercancías.</p>
            <p class="TITLE"><img src="../img/ESF_023B.PNG"470" height="377"></p>
            <p  class="PARRAFO"><span class="SUBTITULO">Mercancías:</span>  
              Si el usuario invoca esta opción, se despliega un formulario con las 
              opciones <span >Actualizar, 
              Eliminar, y Adicionar.</span>  Asi mismo cuenta con un botón para regresar a la opción anterior. </p>
            <p class="TITLE"><img src="../img/ESF_023B1.PNG"598" height="257"></p>
            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si 
              el usuario invoca esta opción, se despliega un formulario con los siguientes 
            campos: </p>
            <p class="TITLE"><img src="../img/ESF_023B2.PNG"308" ></p>

            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span >Código 
                    artículo </p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico de máximo 30 posiciones, obligatorio, en 
                    el cual se registra la identificación de cada uno de los artículos 
                    definidos.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span >Descripció 
                    artículo</p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico de máximo 60 posiciones, obligatorio, en 
                    el que se registra el nombre o descriptivo del artículo asociado 
                    al código anterior.</p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
               Al activar ese enlace  se despliega un formulario 
              en el cual el único campo modificable es: Descripción artículo.</p>
            <p class="TITLE"><img src="../img/ESF_023B3.PNG"308" ></p>
           
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>