<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Par&aacute;metros centrales</p>
                  
            <p class="PARRAFO" >Mediante este formulario se habilita 
              el mantenimiento y consulta de la tabla que contiene la parametrizaci&oacute;n 
              requerida por el sistema, para el env&iacute;o de la informaci&oacute;n respecto 
              de las obligaciones del cliente y su comportamiento crediticio a los entes 
              de control y centrales de riesgo, a trav&eacute;s de la interface correspondiente.
              </span></p>
            <p class="TITLE"><img src="../img/IFF_035E.PNG"684" height="519"></p>

            <p  class="PARRAFO"><span class="PARRAFO">El formulario contiene 
              las opciones Actualizar, Eliminar y Adicionar. Cuenta tambi&eacute;n con los 
              hiperv&iacute;nculos <a href="IFH_035B.html#BL_NO_REPORTAR" >No 
              reportar</a> y </span><a href="IFH_035B.html#BL_DATA"><span >Datacr&eacute;dito</span></a></p>
            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Adicionar</span>:</span></span><span > 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario. 
              </span></p>

            <p class="TITLE"><img src="../img/IFF_035E1.PNG"368" height="283"></p>
            
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Categor&iacute;a 
                    cliente </span></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona la <a href="MEH_004B.html" >Categor&iacute;a</a> 
                    asociada a los clientes cuya informaci&oacute;n ser&aacute; enviada 
                    a la central de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Inicio 
                    antiguedad </span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de 3 posiciones, obligatorio, se registra 
                    la cantidad de periodos (expresados en meses) deben transcurrir despu&eacute;s 
                    de la activaci&oacute;n, para enviar la informaci&oacute;n del cliente 
                    en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Fin 
                    antiguedad </span></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 3 posiciones, obligatorio, en el cual se registra 
                    hasta cu&aacute;ntos per&iacute;odos de activaci&oacute;n (expresado 
                    en meses) se toma el rango para enviar la informaci&oacute;n del cliente 
                    en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Mora 
                    inicial </span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de 2 posiciones, obligatorio, se indica a 
                    partir de cu&aacute;ntos per&iacute;odos de mora (expresados en meses) 
                    se debe enviar la informaci&oacute;n del cliente en la interface de 
                    centrales de riesgo. </p>
                </td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Mora 
                    final </span></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 2 posiciones, obligatorio, en el que se registra 
                    hasta que altura de mora (expresada en meses) se debe enviar la informaci&oacute;n 
                    del cliente en la interface de centrales de riesgo. </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Inicio 
                    cupo</span></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 14 enteros y 2 decimales, obligatorio, en el cual 
                    se indica el cupo total asignado al cliente a partir del cual se debe 
                    enviar la informaci&oacute;n en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Fin 
                    cupo </span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo num&eacute;rico de 14 enteros y 2 decimales, obligatorio, 
                    se registra el rango final del cupo total asignado al cliente que se 
                    debe tener en cuenta para enviar la informaci&oacute;n en la interface 
                    de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Valor 
                    mora </span></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio de 14 enteros y 2 decimales en el que se registra el monto 
                    que debe tener el saldo en mora del cliente a partir del cual se env&iacute;a 
                    la informaci&oacute;n en la interface de centrales de riesgo.
                  </p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
              Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es la Categor&iacute;a del cliente.</span></p>

            <p class="TITLE"><img src="../img/IFF_035E2.PNG"357" height="279"></p>
            
            <div> 
              <p  class="PARRAFO"><a name="BL_NO_REPORTAR"><span class="SUBTITULO"><span >No 
                reportar:</span></span><span > 
                Si el usuario invoca el hiperv&iacute;nculo 'No reportar', se despliega 
                un nuevo formulario con el mismo nombre y en el que se registran las caracter&iacute;sticas 
                que el sistema debe tener en cuenta para no enviar informaci&oacute;n en 
                la interface de centrales de riesgo de acuerdo con lo definido para cada 
                producto.</span></p>
  
              <p class="TITLE"><img src="../img/IFF_035E3.PNG"687" height="489"></p>
              
              <p  class="PARRAFO">El formulario solo contiene la opci&oacute;n 
                Actualizar.</p>
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
                si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                se despliega un formulario en el cual el &uacute;nico campo modificable 
                es No reporte C/R.</span></p>
  
              <p class="TITLE"><img src="../img/IFF_035E4.PNG"293" ></p>
              
              <p  class="TITLE">Descripci&oacute;n de campos</p>
              <table>
                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Bin 
                      / Producto / Grupo de afinidad</span></p></td>
                  <td><p  class="PARRAFO">Campos 
                      de salida en los que se muestra la combinatoria correspondiente al 
                      <a href="MEH_002B.html" > producto</a> para 
                      el cual se est&aacute; parametrizando la condici&oacute;n de no reporte 
                      a centrales de riesgo.</p></td>
                </tr>

                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Descripci&oacute;n</span></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo de salida se despliega la descripci&oacute;n del producto 
                      anterior. </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >No 
                      reporte C/R</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      tipo combo en el cual se puede seleccionar entre Principal, Extendida, 
                      Amparada, Extendida/Amparada o Todas el tipo de tarjetas que 
                      no viajan en la interfase correspondiente. As&iacute;, cuando se selecciona 
                      la opci&oacute;n Todas, lo que se le est&aacute; indicando 
                      al sistema es que no env&iacute;a ninguna de las tarjetas pertenecientes 
                      a ese producto.
                    </p></td>
                </tr>
              </table>
  
              <p  class="PARRAFO"><a name="BL_DATA"><span class="SUBTITULO"><span >Datacr&eacute;dito:</span></span><span > 
                si el usuario invoca el hiperv&iacute;nculo Datacr&eacute;dito se despliega 
                un formulario con el mismo nombre y en el cual la entidad determina, por 
                producto, las condiciones de altura y saldos de capital en mora que deben 
                reflejar las obligaciones a reportar a Datacr&eacute;dito a trav&eacute;s 
                de la interface correspondiente.</span></p>
  
              <p class="TITLE"><img src="../img/IFF_035E5.PNG"684" height="334"></p>
              
              <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
                Eliminar y Adicionar. </p>
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Adicionar</span>:</span></span><span > 
                Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span></p>
  
              <p class="TITLE"><img src="../img/IFF_035E6.PNG"461" ></p>
              
              <p  class="TITLE">Descripci&oacute;n de campos</p>
              <table>
                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Producto</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      obligatorio con lista de valores de la que se debe selecciona el <a href="MEH_002B.html" >producto</a> 
                      para el cual se va a definir la manera como viaja la informaci&oacute;n 
                      en la interfase.
                    </p></td>
                </tr>

                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Edad 
                      mora incial</span></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo num&eacute;rico de 5 d&iacute;gitos, obligatorio, debe 
                      indicarse la edad de mora inicial (expresada en n&uacute;mero de periodos) 
                      a partir de la cual se reporta a Datacr&eacute;dito las obligaciones 
                      identificadas con el producto y cuyo monto est&eacute; incluido dentro 
                      del rango se&ntilde;alado.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Edad 
                      mora final</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      num&eacute;rico de 5 d&iacute;gitos, obligatorio, en el que debe indicarse 
                      la edad de mora final (expresada en n&uacute;mero de periodos) hasta 
                      la cual se reporta a Datacr&eacute;dito las obligaciones identificadas 
                      con el producto y cuyo monto est&eacute; incluido dentro del rango 
                      se&ntilde;alado.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Saldo 
                      mora inicial</span></p></td>
                  <td><p  class="PARRAFO">Campo 
                      num&eacute;rico de 14 enteros y 2 decimales, obligatorio, en el que 
                      se registra el monto que como m&iacute;nimo deben tener las obligaciones, 
                      del producto, por concepto de saldo en mora para ser reportadas a 
                      Datacr&eacute;dito.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Saldo 
                      mora final</span></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo num&eacute;rico de 12 enteros y 2 decimales, obligatorio, 
                      se indica el monto m&aacute;ximo que pueden tener las obligaciones, 
                      del producto, por concepto de saldo en mora para ser reportadas a 
                      Datacr&eacute;dito.</p></td>
                </tr>
              </table>
  
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
                si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                se despliega un formulario en el cual el &uacute;nico campo NO modificable 
                es el Producto.</span></p>
  
              <p class="TITLE"><img src="../img/IFF_035E7.PNG"446" ></p>
              
              <p class="PARRAFO"><span class="SUBTITULO"> 
                </span></p>s="PARRAFO"></p>
            <div>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>