<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.svg" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Parámetros centrales</p>
                  
            <p class="PARRAFO" >Mediante este formulario se habilita 
              el mantenimiento y consulta de la tabla que contiene la parametrización 
              requerida por el sistema, para el envío de la información respecto 
              de las obligaciones del cliente y su comportamiento crediticio a los entes 
              de control y centrales de riesgo, a través de la interface correspondiente.
              </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E.svg"></p>

            <p  class="PARRAFO"><span class="PARRAFO">El formulario contiene 
              las opciones Actualizar, Eliminar y Adicionar. Cuenta también con los 
              hipervínculos <a href="IFH_035B.html#BL_NO_REPORTAR" >No 
              reportar</a> y </span><a href="IFH_035B.html#BL_DATA"><span >Datacrédito</span></a></p>
            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Adicionar</span>:</span></span><span > 
              Al activar ese enlace se despliega un formulario. 
              </p>

            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E1.svg"></p>
            
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Categoría 
                    cliente </p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona la <a href="MEH_004B.html" >Categoría</a> 
                    asociada a los clientes cuya información será enviada 
                    a la central de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Inicio 
                    antiguedad </p></td>
                <td><p  class="PARRAFO">En 
                    este campo numérico de 3 posiciones, obligatorio, se registra 
                    la cantidad de periodos (expresados en meses) deben transcurrir después 
                    de la activación, para enviar la información del cliente 
                    en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Fin 
                    antiguedad </p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de 3 posiciones, obligatorio, en el cual se registra 
                    hasta cuántos períodos de activación (expresado 
                    en meses) se toma el rango para enviar la información del cliente 
                    en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Mora 
                    inicial </p></td>
                <td><p  class="PARRAFO">En 
                    este campo numérico de 2 posiciones, obligatorio, se indica a 
                    partir de cuántos períodos de mora (expresados en meses) 
                    se debe enviar la información del cliente en la interface de 
                    centrales de riesgo. </p>
                </td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Mora 
                    final </p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de 2 posiciones, obligatorio, en el que se registra 
                    hasta que altura de mora (expresada en meses) se debe enviar la información 
                    del cliente en la interface de centrales de riesgo. </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Inicio 
                    cupo</p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de 14 enteros y 2 decimales, obligatorio, en el cual 
                    se indica el cupo total asignado al cliente a partir del cual se debe 
                    enviar la información en la interface de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Fin 
                    cupo </p></td>
                <td><p  class="PARRAFO">En 
                    este campo numérico de 14 enteros y 2 decimales, obligatorio, 
                    se registra el rango final del cupo total asignado al cliente que se 
                    debe tener en cuenta para enviar la información en la interface 
                    de centrales de riesgo.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Valor 
                    mora </p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio de 14 enteros y 2 decimales en el que se registra el monto 
                    que debe tener el saldo en mora del cliente a partir del cual se envía 
                    la información en la interface de centrales de riesgo.
                  </p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
              Si el usuario selecciona un registro e invoca la opción Actualizar 
              se despliega un formulario en el cual el único campo NO modificable 
              es la Categoría del cliente.</p>

            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E2.svg"357" height="279"></p>
            
            <div> 
              <p  class="PARRAFO"><a name="BL_NO_REPORTAR"><span class="SUBTITULO"><span >No 
                reportar:</span></span><span > 
                Si el usuario invoca el hipervínculo 'No reportar', se despliega 
                un nuevo formulario con el mismo nombre y en el que se registran las características 
                que el sistema debe tener en cuenta para no enviar información en 
                la interface de centrales de riesgo de acuerdo con lo definido para cada 
                producto.</p>
  
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E3.svg"687" height="489"></p>
              
              <p  class="PARRAFO">El formulario solo contiene la opción 
                Actualizar.</p>
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
                si el usuario selecciona un registro e invoca la opción Actualizar 
                se despliega un formulario en el cual el único campo modificable 
                es No reporte C/R.</p>
  
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E4.svg"293" ></p>
              
              <p  class="TITLE">Descripción de campos</p>
              <table>
                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Bin 
                      / Producto / Grupo de afinidad</p></td>
                  <td><p  class="PARRAFO">Campos 
                      de salida en los que se muestra la combinatoria correspondiente al 
                      <a href="MEH_002B.html" > producto</a> para 
                      el cual se está parametrizando la condición de no reporte 
                      a centrales de riesgo.</p></td>
                </tr>

                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Descripción</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo de salida se despliega la descripción del producto 
                      anterior. </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >No 
                      reporte C/R</p></td>
                  <td><p  class="PARRAFO">Campo 
                      tipo combo en el cual se puede seleccionar entre Principal, Extendida, 
                      Amparada, Extendida/Amparada o Todas el tipo de tarjetas que 
                      no viajan en la interfase correspondiente. Así, cuando se selecciona 
                      la opción Todas, lo que se le está indicando 
                      al sistema es que no envía ninguna de las tarjetas pertenecientes 
                      a ese producto.
                    </p></td>
                </tr>
              </table>
  
              <p  class="PARRAFO"><a name="BL_DATA"><span class="SUBTITULO"><span >Datacrédito:</span></span><span > 
                si el usuario invoca el hipervínculo Datacrédito se despliega 
                un formulario con el mismo nombre y en el cual la entidad determina, por 
                producto, las condiciones de altura y saldos de capital en mora que deben 
                reflejar las obligaciones a reportar a Datacrédito a través 
                de la interface correspondiente.</p>
  
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E5.svg"684" height="334"></p>
              
              <p  class="PARRAFO">El formulario contiene los enlaces: Actualizar, 
                Eliminar y Adicionar. </p>
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Adicionar</span>:</span></span><span > 
                Al activar ese enlace se despliega un formulario.</p>
  
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E6.svg"461" ></p>
              
              <p  class="TITLE">Descripción de campos</p>
              <table>
                <tr> 
                  <td class="titletable"  ><p class="SUBTITULO"><span >Producto</p></td>
                  <td><p  class="PARRAFO">Campo 
                      obligatorio con lista de valores de la que se debe selecciona el <a href="MEH_002B.html" >producto</a> 
                      para el cual se va a definir la manera como viaja la información 
                      en la interfase.
                    </p></td>
                </tr>

                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Edad 
                      mora incial</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo numérico de 5 dígitos, obligatorio, debe 
                      indicarse la edad de mora inicial (expresada en número de periodos) 
                      a partir de la cual se reporta a Datacrédito las obligaciones 
                      identificadas con el producto y cuyo monto esté incluido dentro 
                      del rango se&ntilde;alado.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Edad 
                      mora final</p></td>
                  <td><p  class="PARRAFO">Campo 
                      numérico de 5 dígitos, obligatorio, en el que debe indicarse 
                      la edad de mora final (expresada en número de periodos) hasta 
                      la cual se reporta a Datacrédito las obligaciones identificadas 
                      con el producto y cuyo monto esté incluido dentro del rango 
                      se&ntilde;alado.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Saldo 
                      mora inicial</p></td>
                  <td><p  class="PARRAFO">Campo 
                      numérico de 14 enteros y 2 decimales, obligatorio, en el que 
                      se registra el monto que como mínimo deben tener las obligaciones, 
                      del producto, por concepto de saldo en mora para ser reportadas a 
                      Datacrédito.
                    </p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Saldo 
                      mora final</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo numérico de 12 enteros y 2 decimales, obligatorio, 
                      se indica el monto máximo que pueden tener las obligaciones, 
                      del producto, por concepto de saldo en mora para ser reportadas a 
                      Datacrédito.</p></td>
                </tr>
              </table>
  
              <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
                si el usuario selecciona un registro e invoca la opción Actualizar 
                se despliega un formulario en el cual el único campo NO modificable 
                es el Producto.</p>
  
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/IFF_035E7.svg"446" ></p>
              
              <p class="PARRAFO"><span class="SUBTITULO"> 
                </p>s="PARRAFO"></p>
            <div>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>