<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        
                <p class="TITLE">Fraudes</p>
              
        <p class="PARRAFO">Mediante esta forma o pantalla se permite la
          gestión,
          desde su inicio hasta el final, del proceso mediante el que la entidad
          interactúa
          con la compa&ntilde;ía de seguros que ampara los fraudes
          cometidos
          contra los tarjetahabientes. A esta forma o pantalla arriban las
          transacciones
          realizadas con plásticos que han sido reportados como
          extraviados o
          hurtados, al igual que transacciones que se encuentran en etapas o
          instancias
          tales como <a href="INH_008B.html">movimiento pendiente</a> o <a
            href="INH_029B.html">efectos
            al cobro</a>, con el fin de procurar una &quot;solución&quot;
          a las
          mismas.</p>
        <p class="PARRAFO">El formulario contiene las opciones
          Actualizar y Detalle. Adicionalmente cuenta con un filtro de
          búsqueda.</p>
        <p class="TITLE"><img src="../img/INF_022B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El formulario cuenta con un
          filtro
          inicial de búsqueda, necesario para la consulta de la
          información:</p>
        <p class="TITLE"><img src="../img/INF_022B1.PNG"></p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                tarjeta </p></td>
            <td><p class="PARRAFO">Permite
                ingresar el número por el cual se desea realizar la
                búsqueda
                del fraude.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Origen</p></td>
            <td><p class="PARRAFO">Campo
                numérico de 3 dígitos con lista de valores que
                muestra
                los orígenes de transacciones definidos por la entidad,
                tanto
                externos (<a href="NUH_033B.html">franquicias</a>, <a
                  href="NUH_054B.html">compensadores</a>),
                como locales, internacionales, internos.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                original </p></td>
            <td><p class="PARRAFO">Despliega
                el código de la transacción a gestionar como
                fraudulenta,
                proveniente de otras instancias o etapas dentro del proceso de
                las transacciones.
                La codificación es determinada por las franquicias y
                parametrizada
                mediante la opción <a
                  href="NUH_027B.html">Orígenes de
                  transacciones</a> del grupo de Tablas reservadas del
                Núcleo.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Estado
                comprobante </p></td>
            <td><p class="PARRAFO">Campo
                que muestra la condición en que se encuentra actualmente
                el comprobante
                y que puede ser Contracargos, Cargo al cliente, Pagado por la
                compa&ntilde;ía
                de seguros, Negado por la compa&ntilde;ía de seguros,
                Comprobante
                castigado o Enviado a la compa&ntilde;ía de
                seguros.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                comprobante</p></td>
            <td><p class="PARRAFO">Muestra
                la fecha física del comprobante de consumo o
                utilización
                fraudulento en formato YYYY-MM-AA.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Si el usuario invoca la opción Actualizar se despliega un
            nuevo formulario
            en el cual los únicos campos modificables son: Nombre,
            Descripción,
            Rutina, y Motivos de negación.</p>
        <p class="TITLE"><img src="../img/INF_022B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                registro </p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Terminal
                servicio </p></td>
            <td><p class="PARRAFO">En este campo se captura el código de la terminal por
                la cual llegó la autorización y sobre la cual se
                desea hacer la consulta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Origen</p></td>
            <td><p class="PARRAFO">En este campo el origen por la cual llegó la
                autorización y sobre la cual se desea hacer la
                consulta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                origen </p></td>
            <td><p class="PARRAFO">Despliega
                el código de la transacción a gestionar como
                fraudulenta,
                proveniente de otras instancias o etapas dentro del proceso de
                las transacciones.
                La codificación es determinada por las franquicias y
                parametrizada
                mediante la opción <a
                  href="NUH_027B.html">Orígenes de
                  transacciones</a>.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                - Hora transacción</p></td>
            <td><p class="PARRAFO">Muestra la información de la fecha y
                la hora en la cual se realizó la transacción del
                fraude. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                interna </p></td>
            <td><p class="PARRAFO">Muestra el nombre de la transacción
                interna asociado en la opción <a
                  href="MEH_003B.html">Transacciones por empresa</a>.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Nivel
                activado TH</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Marca</p></td>
            <td><p class="PARRAFO">Muestra la marca de la tarjeta a la cual
                pertenece la transacción del fraude. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Elimina
                flag duplicado</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                moneda patrón</p></td>
            <td><p class="PARRAFO">Muestra el dato equivalente al valor de la
                transacción en la moneda patrón del
                sistema.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador
                terminal adquirente</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                tarjeta </p></td>
            <td><p class="PARRAFO">Rese&ntilde;a
                el número de la tarjeta asociado inicialmente a la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código
                subfraude </p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tarjeta
                aplicar </p></td>
            <td><p class="PARRAFO">tarjeta que se puede modificar y a la cual se
                le puede aplicar la trx </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Boleta
                de ruta</p></td>
            <td><p class="PARRAFO">Corresponde
                al número consecutivo de los comprobantes de control
                permitidos
                por cada oficina en la captura del movimiento, producto de la
                operación
                diaria.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Estado
                comprobante </p></td>
            <td><p class="PARRAFO">Campo
                que muestra la condición en que se encuentra actualmente
                el comprobante
                y que puede ser Contracargos, Cargo al cliente, Pagado por la
                compa&ntilde;ía
                de seguros, Negado por la compa&ntilde;ía de seguros,
                Comprobante
                castigado o Enviado a la compa&ntilde;ía de
                seguros.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código
                respuesta </p></td>
            <td><p class="PARRAFO">Muestra el código de la autorizacion
                asignada a la transacción del fraude.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                paquete </p></td>
            <td><p class="PARRAFO">Indica el número utilizado por las
                entidades para identificar el orden de ingreso o captura de
                varios paquetes de movimiento dentro del sistema.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código
                actividad comercial</p></td>
            <td><p class="PARRAFO">Indica el código de la actividad a la
                cual pertenece el establecimiento en el cual se efectuó
                la transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                tarjeta </p></td>
            <td><p class="PARRAFO">Muestra si la transacción fue
                realizada con tarjeta Principal, Extendida, Amparada, o
                Adicional. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador
                contracargo </p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                moneda local</p></td>
            <td><p class="PARRAFO">Muestra el nombre de la <a
                  href="NUH_005B.html">moneda</a> oficial del país al
                cual pertenece la entidad emisora de la tarjeta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Modo
                entrada POS</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                compra </p></td>
            <td><p class="PARRAFO">Muestra
                el monto de la transacción de utilización o
                consumo sin
                incluir el monto de la propina concedida por el
                tarjetahabiente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Secuencia
                recepción </p></td>
            <td><p class="PARRAFO">Número utilizado por las entidades para identificar el
                orden de ingreso de movimiento de varios orígenes dentro
                del sistema.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                propina </p></td>
            <td><p class="PARRAFO">Refleja
                el monto de la propina otorgada por el cliente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Secuencia
                entrada de datos</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                intercambio </p></td>
            <td><p class="PARRAFO">Muestra
                el valor neto de la transacción, esto es, valor del
                consumo o
                utilización más valor propina, más valor
                IVA menos
                valor descuento.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código
                fraude </p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                descuento </p></td>
            <td><p class="PARRAFO">Contiene
                el valor deducido al establecimiento al liquidarle la
                comisión
                o descuento sobre el valor del consumo realizado por el
                cliente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador
                comercio electrónico</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                IVA </p></td>
            <td><p class="PARRAFO">Refleja
                el valor cancelado por el cliente por dicho concepto.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Elige
                seguro falsificado</p></td>
            <td><p class="PARRAFO">(Pdte documentación) / nr</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                total </p></td>
            <td><p class="PARRAFO">Despliega
                la sumatoria del valor de la compra más el valor de la
                propina,
                más el valor del IVA.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador
                presencia TH</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
            <td><p class="PARRAFO">Se&ntilde;ala el nombre oficial de la <a
                  href="NUH_005B.html">moneda</a> en que se efectuó la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador
                CVC inválido</p></td>
            <td><p class="PARRAFO">(Pdte documentación)</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Causal
                almacenada </p></td>
            <td><p class="PARRAFO">Se&ntilde;ala
                tanto el código como el motivo o razón por el que
                la transacción
                fue enviada a fraudes.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Indicador Emv </p></td>
            <td><p class="PARRAFO"> Sigla que hace referencia a Europa,
                MasterCard y Visa. , corresponde al modo de ingreso de la
                transacción, tarjetas con chip EMV. </p></td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/INF_022B3.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                comprobante </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Despliega el número del comprobante,
                para las transacciones que lo contengan y usualmente equivale al
                número físico del documento.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin
                destino </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Se&ntilde;ala
                el prefijo o bin centro de proceso de la entidad emisora del
                plástico.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin
                fuente </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene el bin centro de proceso que
                identifica a una entidad dentro de cada entidad
                compensadora.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin
                receptor </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene
                el prefijo o bin centro de proceso de la entidad a través
                de
                la que ingresa la transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                lote </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Registra el número asignado al grupo
                de transacciones similares, con el ánimo de
                identificarlos físicamente y dentro del sistema.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Dígito
                de chequeo</p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene el último número que
                compone la referencia universal, obtenido mediante algoritmos y
                que permite verificar la validez de dicha referencia.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Secuencia
                lote </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene el número consecutivo
                asignado por el sistema a cada transacción facilitando su
                identificación dentro del mismo.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                captura </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Se&ntilde;ala
                el código definido por la franquicia que identifica la
                manera
                como ingresó, por medio de su red, la transacción
                al sistema.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Autorización</p></td>
            <td class="PARRAFO"><p class="PARRAFO">Muestra
                el número de la autorización asignado a la
                transacción
                por el procesador o la entidad.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Motivo
                devolución </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Despliega la descripción del motivo
                por el cual una transacción es rechazada o devuelta, con
                base en la definición de motivos hecha por las
                franquicias.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                anterior</p></td>
            <td class="PARRAFO"><p class="PARRAFO">(Pdte documentación) /
                nr</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Origen
                inmediato </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Aplica
                para las transacciones que al ingresar al sistema no pasaron
                directamente
                al movimiento diario, esto es, que han transitado por otras
                etapas o
                destinos del movimiento, y permite identificar la procedencia de
                las
                mismas.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Referencia
                universal </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Número construido y validado por el
                sistema tanto para el canje enviado como para el recibido,
                identifica de manera exclusiva a cada transacción dentro
                de todo el universo transaccional.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Entidad
                origen </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Despliega el nombre de la
                entidad asociado al bin fuente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Sucursal
                adquirente </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Código que permite
                identificar la sucursal de la entidad receptora del
                movimiento.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Entidad
                destino </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Corresponde al código de
                compensación que identifica a la entidad emisora del
                plástico, dentro del sistema financiero local.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                terminal </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Para las transacciones de
                avance, este campo muestra el número de la terminal
                ó número de identificación del cajero en el
                cual se llevó a cabo la transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Plazo</p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene
                el número de periodos de 30 días, solicitado por
                el cliente
                o asignado por defecto, para el pago de la transacción de
                consumo
                o utilización.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Identificación
                red </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Número que permite detectar a
                través de cual de las diferentes redes se realizó
                la transacción.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Descripción
                mercancía </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Este
                campo puede mostrar información relativa al <a
                  href="ESH_023B.html">artículo</a>
                adquirido mediante la transacción considerada
                fraudulenta, cuando
                esta mercancía en particular hace parte de una <a
                  href="ESH_024B.html">promoción
                  especial</a>.</p></td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/INF_022B4.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Entidad</p></td>
            <td><p class="PARRAFO">Nombre
                de la entidad financiera asociada a la cuenta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                cuenta</p></td>
            <td><p class="PARRAFO">Despliega la clase de cuenta a la cual pertenece el
                movimiento y que puede ser Corriente, Rotativo o Ahorros.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Origen
                pago </p></td>
            <td><p class="PARRAFO">Aplica para los pagos de tarjetas extendidas
                tales como las empresariales ingresados al sistema mediante la
                captura de oficinas, despliega por defecto Tarjeta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Identificación
                origen </p></td>
            <td><p class="PARRAFO">Despliega el número de la tarjeta principal o la
                empresarial bajo la que se encuentra una o más tarjetas
                extendidas a las que se les aplicará el pago.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Destino
                pago </p></td>
            <td><p class="PARRAFO">Si el pago fue dirigido a una Línea,
                Tarjeta o Transacción, despliega dicho valor. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Identificación
                destino </p></td>
            <td><p class="PARRAFO">Contiene el número asociado a la
                línea de crédito, a la tarjeta o a la
                transacción hacia la que se dirige el pago.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Forma
                pago </p></td>
            <td><p class="PARRAFO">Indica si el pago se realizó en
                efectivo o en cheque.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Enviado
                al seguro</p></td>
            <td><p class="PARRAFO">Campo que al estar se&ntilde;alado indica que
                la transacción efectivamente fue presentada la
                reclamación ante la compa&ntilde;ía de
                seguros.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                envío </p></td>
            <td><p class="PARRAFO">ampo con formato YYYY-MM-DD que muestra la
                fecha en que se envió a la compa&ntilde;ía de
                seguros la transacción fraudulenta.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                respuesta seguro</p></td>
            <td><p class="PARRAFO">Campo con formato YYYY-MM-DD que indica la
                fecha en que la compa&ntilde;ía de seguros emitió
                respuesta a la solicitud presentada.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                reconocido </p></td>
            <td><p class="PARRAFO">Despliega el monto efectivamente cubierto o
                reconocido por la compa&ntilde;ía de seguros para
                cancelar los saldos vigentes por la transacción que
                motiva el pago.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                fondo </p></td>
            <td><p class="PARRAFO">Despliega el valor asumido o reconocido por
                la Entidad, deducido del fondo que ella tiene destinado para los
                diferentes casos de fraudes. </p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                deducible </p></td>
            <td><p class="PARRAFO">Contiene el valor deducido al establecimiento
                al liquidarle la comisión o descuento sobre el valor del
                consumo realizado por el cliente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                de envíos</p></td>
            <td><p class="PARRAFO">Contiene la cantidad de veces que se ha
                presentado o enviado la misma transacción ante la
                compa&ntilde;ía de seguros.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Observaciones</p></td>
            <td><p class="PARRAFO">Campo que contiene la bitácora o descripción de
                los detalles que ilustran el proceso sufrido por el
                trámite de reclamación.</p> </td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/INF_022B6.PNG"></p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Establecimiento</p></td>
            <td><p class="PARRAFO">Campos
                que ilustran tanto el código único como el nombre
                comercial
                que identifica el establecimiento en que se realizó la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Pa&igrave;s
                establecimiento </p></td>
            <td><p class="PARRAFO">Muestra la descipcion completa del
                país donde se ubica el establecimiento en que se
                realizó la transacción.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                servicio </p></td>
            <td><p class="PARRAFO">Despliega
                tanto el código como el nombre del principal <a
                  href="ESH_002B.html">servicio</a>
                ofrecido por el establecimiento de comercio.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código
                postal</p></td>
            <td><p class="PARRAFO">Indica el código de la zona postal del
                municipio o ciudad donde se ubica el establecimiento.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Ciudad</p></td>
            <td><p class="PARRAFO">Despliega el nombre del municipio o ciudad
                donde se ubica el establecimiento en que se realizó la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Estado</p></td>
            <td><p class="PARRAFO">Campo
                que muestra la condición en que se encuentra actualmente
                el comprobante
                y que puede ser Contracargos, Cargo al cliente, Pagado por la
                compa&ntilde;ía
                de seguros, Negado por la compa&ntilde;ía de seguros,
                Comprobante
                castigado o Enviado a la compa&ntilde;ía de
                seguros.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Porcentaje
                descuento </p></td>
            <td><p class="PARRAFO">Rese&ntilde;a
                el valor del porcentaje aplicado a la compra o consumo
                fraudulento realizados
                en ese establecimiento a manera de comisión o
                descuento.</p></td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/INF_022B7.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                consignación </p></td>
            <td><p class="PARRAFO">Contiene
                la fecha en formato YYYY-MM-AA en que el establecimiento
                realizó
                la consignación del movimiento dentro del que se
                encuentra la
                transacción en disputa y aclaración.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                solución </p></td>
            <td><p class="PARRAFO">Muestra
                la fecha en formato YYYY-MM-AA en que efectivamente se da una
                solución
                definitiva al comprobante.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                proceso </p></td>
            <td><p class="PARRAFO">Indica la fecha en que fue procesado el movimiento dentro del
                que aparece la transacción.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                contabilización </p></td>
            <td><p class="PARRAFO">Contiene
                la fecha en formato YYYY-MM-AA en la cual se afectó
                contablemente
                el saldo del tarjetahabiente, usualmente es la misma fecha de
                proceso
                o canje.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                comprobante </p></td>
            <td><p class="PARRAFO">Muestra
                la fecha física del comprobante de consumo o
                utilización
                fraudulento en formato YYYY-MM-AA.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                canje</p></td>
            <td><p class="PARRAFO">Se&ntilde;ala la fecha en que es reportado el movimiento por
                medio del archivo de canje, generado desde y hacia las entidades
                emisoras, mediado éste por el <a
                  href="NUH_054B.html">compensador</a> correspondiente.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Localización:</span> El formulario
          cuenta con un globo de localización que conduce a la siguiente
          información:
          </p>
        <p class="TITLE"><img src="../img/INF_022B8.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                iva </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Contiene el monto pagado por
                el cliente por concepto de dicho impuesto, si aplica.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                reteiva </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Campo que despliega el monto
                retenido por la entidad por este concepto para la
                transacción en fraude, lo que no aplica para los
                establecimientos que son autorretenedores.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                retefuente </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Indica el monto descontado o
                valor en que es disminuida la consignación por concepto
                de la retención en la fuente liquidada sobre la base de
                retención calculada para los consumos, lo que no aplica
                para los establecimientos que son autorretenedores.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                reteica </p></td>
            <td class="PARRAFO"><p class="PARRAFO">Indica el monto descontado o valor en que es
                disminuida la consignación por concepto de la
                retención por concepto del impuesto de industria y
                comercio liquidado sobre la base de retención calculada
                sobre los consumos, lo que no aplica para los establecimientos
                que son autorretenedores.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                base reintegro iva</p></td>
            <td class="PARRAFO"><p class="PARRAFO">Este campo despliega el valor
                que sirve como base para el calculo del reintegro de los 2
                puntos de IVA sobre compras y que corresponde al valor de los
                bienes y/o servicios gravados con una tarifa del 16%; a partir
                del 2005 también quedarán incluidos aquellos que
                estén gravados con un IVA del 10%.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario invoca
          la opción Detalle se despliega el siguiente
          formulario:</p>
        <p class="TITLE"><img src="../img/INF_022B9.PNG"></p>

        <p class="PARRAFO">Adicionalmente, el formulario cuenta con botones en la parte inferior
          izquierda,
          a través de los cuales se pueden tomar acciones de acuerdo a la
          solución
          dada a la transacción en fraude.</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Aplicar%20mvto.PNG"></p></td>
            <td><p class="PARRAFO">Aplicar
                movimiento, consiste en cargarle al cliente el comprobante para
                generar el pago al establecimiento.</p></td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Enviar%20a%20castigo.PNG"></p></td>
            <td><p class="PARRAFO">Enviar
                a <a href="CAH_008B.html">castigo</a>, una de las formas de
                finiquitar
                el proceso de comprobantes fraudulentos, consistente en desistir
                de
                su reclamación y afectar las utilidades de la
                entidad.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Enviar%20a%20contracargos.PNG"41"></p></td>
            <td><p class="PARRAFO">Enviar
                a <a href="INH_027B.html">Contracargos</a>, si es dable iniciar
                el proceso de intercambio.</p></td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Enviar%20a%20seguro.PNG"></p></td>
            <td class="PARRAFO">Enviado
              a seguro, una de las etapas dentro de la gestión destinada
              a obtener el reconocimiento o pago por parte de la
              compa&ntilde;ía
              de seguros.</td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Negado%20x%20seguro.PNG"></p></td>
            <td class="PARRAFO">Negado
              por el seguro, ocurre cuando el comprobante no cumple bien sea con
              los requisitos como con las condiciones para ser pagado. Es
              posible ajustar
              la información y presentarla nuevamente.</td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO"><img
                  src="../img/INF_022B%20-%20Pagado%20x%20seguro.PNG"></p></td>
            <td class="PARRAFO">Pagado
              por el seguro, ocurre cuando la compa&ntilde;ía de seguros
              determina que el comprobante cumple con los requisitos y
              condiciones para
              ser cubierto por la póliza.</td>
          </tr>
        </table>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>