<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Par&aacute;metros de compensadores</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO">En este formulario 
              </span> la entidad puede efectuar el mantenimiento y consulta de la tabla que 
              contiene la parametrizaci&oacute;n de las condiciones de interacci&oacute;n 
              de la entidad respecto del(os) <a href="NUH_054B.html" >procesador(es)</a> 
              del movimiento generado desde y hacia la entidad. </p>
            <p  class="PARRAFO">El formulario cuenta con dos hiperv&iacute;nculos, 
              <a href="INH_012B.html#BL_AGRUPACION" > Agrupaci&oacute;n</a> 
              y <a href="INH_012B.html#BL_INTERCAMBIO" >Conceptos enviados 
              a intercambio</a> en los cuales se parametrizan las condiciones que el 
              sistema debe evaluar para determinar el destino del movimiento propio de la 
              entidad.</p>
            <p class="TITLE"><img src="../img/INF_012E.PNG"566" height="522"></p>
            <p  class="PARRAFO"></p>
            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle. </p>
            <p  class="PARRAFO"><span class="SUBTITULO"><b ><span #'font-family:Arial;
              '>Adicionar</span></b><span >:</span></span><span > 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario 
              con los siguientes campos:</span></p>
            <p class="TITLE"><img src="../img/INF_012E1.PNG"747" ></p>

            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Compensador</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio tipo combo en el cual se selecciona el <a href="NUH_054B.html" >compensador</a> 
                    para el cual se est&aacute;n definiendo las condiciones de operaci&oacute;n</p>
                </td>
              </tr>

              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Destino movimiento propio</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo, obligatorio, se selecciona entre Movimiento 
                    diario e Intercambio el destino del movimiento propio 
                    de la entidad. Diario, indica que el movimiento de sus tarjeta 
                    habientes propios lo procesa directamente la entidad, mientras que intercambio 
                    le indica al sistema que se debe enviar el movimiento al compensador 
                    quien lo reprocesa y se lo devuelve a la entidad.
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Archivo de intercambio</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, obligatorio, dentro del que se 
                    registra el nombre del archivo que contiene el movimiento<b><span >.</span></b></p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span > 
                    Bin destino tarjeta internacional</span></b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo contiene lista de valores de la que debe seleccionarse el <a href="MEH_001B.html" >prefijo</a> 
                    que centraliza el movimiento generado en el exterior por los tarjetahabientes 
                    propios; cuando el compensador es Visa este campo se convierte en obligatorio. 
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Bin 
                    centro de proceso</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio que contiene lista de valores de la cual se selecciona que 
                    debe seleccionarse el <a href="MEH_001B.html" >prefijo</a> 
                    que identifica a la entidad ante el procesador, usualmente corresponde 
                    al bin de producto Cl&aacute;sica.
                   
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Participa 
                    conciliaci&oacute;n </span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo, obligatorio, se selecciona entre Si o No el movimiento 
                    propio participa en la conciliaci&oacute;n entre el canje enviado y 
                    recibido.</p>
                </td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Valida 
                    compra </span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo donde se puede seleccionar entre Si o No el movimiento de 
                    compras debe ser validado desde el momento de la captura o se omite; 
                    esto se define con base en la forma de operar de algunos compensadores 
                    a los cuales se env&iacute;a el movimiento sin validar y &eacute;ste 
                    lo regresa a la entidad ya validado en el proceso de compensaci&oacute;n. 
                   
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >C&oacute;digo 
                    identificaci&oacute;n adquirente / emisor</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 11 posiciones, no obligatorio, se 
                    registra el c&oacute;digo asignado por American Express para identificar 
                    a la entidad como emisor y/o adquirente.
                  </p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >C&oacute;digo 
                    procesador adquirente / emisor</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico, no obligatorio, de 11 posiciones en el que se registra 
                    el c&oacute;digo asignado por American Express para identificar a los 
                    diferentes actores que participan en el proceso de Intercambio.
                  </p></td>
              </tr>
            </table>

            <p class="PARRAFO"><b ><span class="SUBTITULO">Actualizar</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual los &uacute;nico campo NO modificable 
              es el Compensador. Si el destino del movimiento es 'Intercambio' y en en el 
              formulario<a href="INH_012B.html#BL_AGRUPACION" >Agrupaci&oacute;n</a> 
              se ha parametrizado alg&uacute;n valor para el compensador, el campo no permite 
              ser modificado, hasta tanto se eliminen los registros asociados.</p>
            <p class="TITLE"><img src="../img/INF_012E2.PNG"749" ></p>
            
            <p class="PARRAFO"><b ><span class="SUBTITULO">Detalle</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un formulario con toda la informaci&oacute;n del registro y en el 
              cual ninguno de sus campos es modificable.</p>
            <p class="TITLE"><img src="../img/INF_012E3.PNG"477" height="125"></p>
            
            
            <p  class="PARRAFO"><a name="BL_AGRUPACION"></a><span class="SUBTITULO"><span >
            Agrupaci&oacute;n</b>:</span></span><span > 
              si el actor invoca el hiperv&iacute;nculo del mismo nombre, se despliega un 
              formulario en el cual la entidad puede parametrizar los templates que permiten 
              identificar los bines a los cuales deben pertenecer las tarjetas para que 
              su movimiento sea dirigido al destino seleccionado.</span></p>
            <p class="TITLE"><img src="../img/INF_012E4.PNG"541" height="387"></p>
            
            <p  class="PARRAFO">El formulario contiene las opciones Eliminar 
              y Adicionar </p>
            <p  class="PARRAFO"><span class="SUBTITULO"><b ><span #'font-family:Arial;
              '>Adicionar</span></b><span >:</span></span><span > 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario 
              con un &uacute;nico campo:</span></p>
            <p class="TITLE"><img src="../img/INF_012E5.PNG"169" ></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    Template fijo</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 8 posiciones, obligatorio, dentro del que se 
                    registra el comod&iacute;n que permite filtrar el n&uacute;mero de la 
                    tarjeta, mediante la que se realiza la transacci&oacute;n y en combinaci&oacute;n 
                    con el bin o prefijo y el compensador dirigen el movimiento propio como 
                    se se&ntilde;ala. Se puede ingresar bien sea el n&uacute;mero completo 
                    del bin o los primeros d&iacute;gitos por los cuales debe empezar el 
                    bin, seguido del s&iacute;mbolo '%'
                  </p></td>
              </tr>
            </table>
            
          
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>