<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Contracargos</p>
              
        <p class="PARRAFO"><span class="SUBTITULO"><a
              name="ingresar"></a>Ingresar:</span> El formulario inicial consta
          de
          dos campos que permiten ingresar los datos principales de la
          transacción a autorizar. El botón
          salvar sólo se habilita una vez éstos hayan sido
          ingresados. </p>
        <p class="PARRAFO">El formulario cuenta con las opciones Número tarjeta y
          Referencia universal, y permite ir a la <a
            href="INH_027B.html">opción anterior</a> a través del
          botón Cancelar.</p>
        <p class="TITLE"><img src="../img/../img/../img/INF_027B9.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número
                tarjeta </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                en el que se ingresa el número de la tarjeta asociado a
                la transacción
                en disputa para su búsqueda</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Referencia
                universal </p>
            </td>
            <td>
              <p class="PARRAFO">Se ingresa el número
                dado por el sistema tanto para el canje enviado como
                para el recibido, que identifica de manera exclusiva a cada
                transacción
                dentro de todo el universo transaccional.</p>
            </td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/LINEA.GIF"></p>

        <p class="PARRAFO"><span class="SUBTITULO"><a name="datos"></a>Datos
            complementarios:</span> Grupo de datos
          desplegados que ilustran suficientemente la información
          básica de una transacción en
          disputa. A pesar de disponer de la misma información, los
          únicos campos que no son comunes entre
          los roles de emisor y adquirente son "Origen inmediato y Origen" que
          sólo aplican para el primero de
          estos. </p>
        <p class="TITLE"><img src="../img/INF_027B10.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Localización:</span> El formulario
          cuenta con un globo de localización
          que muestra los siguientes
          datos:</p>
        <p class="TITLE"><img src="../img/INF_027B11.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO"><a name="notas"></a>Adicionar notas
            débito:</span> A través de esta
          opción el sistema permite grabar cargos a las tarjetas
          crédito que lo requieran, de acuerdo a los
          procesos de contracargos.</p>
        <p class="TITLE"><img src="../img/INF_027B14.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número tarjeta</p>
            </td>
            <td>
              <p class="PARRAFO">Muestra el número de la tarjeta asociado a la
                transacción en disputa.</p>
            </td>
          </tr>
        </table>
        <p class="TITLE"><img src="../img/INF_027B15.PNG"></p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Marca </p>
            </td>
            <td>
              <p class="PARRAFO">Se
                ingresa el código de la <a
                  href="NUH_033B.html">franquicia</a> a la que pertenece el
                plástico mediante el que se realizó
                la transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Transacción origen </p>
            </td>
            <td>
              <p class="PARRAFO">Lista de valores que despliega
                tanto el código como el nombre asociado a cada tipo o
                clase de
                transacción enviada o recibida dentro del proceso de
                intercambio,
                con base en la codificación determinada por las
                franquicias y
                parametrizada mediante la opción <a
                  href="NUH_027B.html">Orígenes
                  de transacciones</a> del grupo de Tablas reservadas del
                Núcleo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Establecimiento</p>
            </td>
            <td>
              <p class="PARRAFO">Campo opcional en el que se debe ingresar el
                código del establecimiento
                involucrado en la nora débito. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha vencimiento </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                con formato YYYY-MM-DD en el que se ingresa la fecha en la cual
                se
                vence el plazo definido de la nora débito. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo de captura </p>
            </td>
            <td>
              <p class="PARRAFO">Se&ntilde;ala
                el nombre asociado al código definido por la franquicia
                que identifica
                la manera como ingresó, por medio de su red, la
                transacción
                al sistema (POS, ATM&#8217;s, oficinas, etc.).</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha comprobante </p>
            </td>
            <td>
              <p class="PARRAFO">Muestra
                la fecha física del comprobante de consumo o
                utilización
                en formato YYYY-MM-DD.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha contabilización</p>
            </td>
            <td>
              <p class="PARRAFO">Corresponde
                a la fecha de contabilización del movimiento, la cual
                regularmente,
                corresponde a la fecha de proceso, sin embargo cualquier
                registro podría
                llegar con una fecha diferente de contabilización, por
                tal razón
                se muestra esta información en este campo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número autorización </p>
            </td>
            <td>
              <p class="PARRAFO">En este campo se ingresa el Número de
                autorización dado por el sistema.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin receptor </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio en el cual se ingresa
                el prefijo o bin centro de proceso de la entidad a través
                de
                la que ingresa la transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin destino </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio en el cual se ingresa el
                prefijo o bin centro de proceso de la entidad
                emisora del plástico.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Origen inmediato </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo se muestra por defecto como 'CO',
                indicando que proviene del origen de
                Contracargos. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Origen</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que despliega por defecto el código '2', que indica que
                proviene de un Proceso interno.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número boleta de ruta </p>
            </td>
            <td>
              <p class="PARRAFO">Campo opcional en el cual se ingresa este
                número asignado por el sistema. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Identificación red </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio en el cual se indica el
                código de la red a través de la
                cual ingresó
                la transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número comprobante </p>
            </td>
            <td>
              <p class="PARRAFO">Se ingresa
                el número del voucher asociado a la transacción en
                disputa.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor compra </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio de 14 dígitos y dos
                decimales en el cual se ingresa este valor
                para realizar el ajuste. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor total </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio de 14 dígitos y dos
                decimales en el cual se ingresa este valor
                para realizar el ajuste.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Valor de intercambio y % deescuento emisor
              </p>
            </td>
            <td>
              <p class="PARRAFO">Campo opcional de dos dígitos y dos
                decimales en el cual se ingresa este valor en
                caso de que aplique. </p>
            </td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/LINEA.GIF"></p>

        <p class="PARRAFO"><span class="SUBTITULO"><a name="asociadas"></a>Transacciones
            asociadas: </span> Corresponde a las diversas
          transacciones que pueden darse dentro del proceso de intercambio. El
          formulario permite el ingreso de
          transacciones, más no el borrado de aquellas recibidas o
          enviadas por la otra entidad involucrada. Cuenta
          con las opciones Detalle e Ingresar. </p>
        <p class="TITLE"><img src="../img/INF_027B16.PNG" 782"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Ingresar:</span> La opción muestra un
          formulario wizard con dos pasos:
          Transacción asociada y Resumen.</p>
        <p class="PARRAFO">El formulario Transacción asociada despliega los siguientes
          campos: </p>

        <p class="TITLE"><img src="../img/INF_027B17.PNG" 763" height="337"></p>
        <table width=545>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Transacción origen </p>
            </td>
            <td>
              <p class="PARRAFO">Lista de valores que despliega
                tanto el código como el nombre asociado a cada tipo o
                clase de
                transacción enviada o recibida dentro del proceso de
                intercambio,
                con base en la codificación determinada por las
                franquicias y
                parametrizada mediante la opción <a
                  href="NUH_027B.html">Orígenes
                  de transacciones</a> del grupo de Tablas reservadas del
                Núcleo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo cobro </p>
            </td>
            <td>
              <p class="PARRAFO">Contiene tanto el código como el nombre asociado a las
                transacciones de notas débito o
                crédito generadas como resultado del proceso de
                intercambio, y que ilustran la motivación de
                esos cargos o abonos interentidades.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo devolución </p>
            </td>
            <td>
              <p class="PARRAFO">Lista de valores que permite ingresar tanto el
                código como la descripción o
                nombre de la causa o motivo por la que la transacción fue
                devuelta por la entidad emisora del
                plástico asociado a la misma.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin fuente </p>
            </td>
            <td>
              <p class="PARRAFO">Campos que ilustran tanto el prefijo o bin centro de proceso de
                la entidad a través de la que
                ingresa la transacción como el de la entidad emisora del
                plástico, lo que facilita la
                interpretación de la dirección de cada
                transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin destino </p>
            </td>
            <td>
              <p class="PARRAFO">Campos que ilustran tanto el prefijo o bin
                centro de proceso de la entidad a
                través de la que ingresa la transacción como el de
                la entidad emisora del plástico,
                lo que facilita la interpretación de la dirección
                de cada transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha canje </p>
            </td>
            <td>
              <p class="PARRAFO">Despliega la fecha en formato YYYY-MM-DD en que ingresó
                la transacción asociada al proceso
                de intercambio a través del canje.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha proceso </p>
            </td>
            <td>
              <p class="PARRAFO">Despliega la fecha en formato YYYY-MM-DD en que fue procesado
                el movimiento que contiene la
                transacción relacionada con el proceso de
                intercambio.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Resumen:</span> Si el usuario invoca
          la opción Resumen se despliega el siguiente formulario:

          </p>

        <p class="TITLE"><img src="../img/INF_027B18.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

  </html>