<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div  #"position:absolute; left:181px; top:247px; width:735px; height:1361px; z-index:2"> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Dep&oacute;sitos electr&oacute;nicos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Este formulario contiene el movimiento  con concepto 
              de Dep&oacute;sitos electr&oacute;nicos, provenientes 
              del cargue de archivos de dep&oacute;sitos electr&oacute;nicos Visa, Mastercard y Movimiento de oficinas, que originan abonos a los establecimientos, adicionalmente muestra el Detalle de cada uno..</p>
            <p class="PARRAFO">El formulario contiene la opci&oacute;n de comprobantes.</p>
            <p class="TITLE"><img src="../img/INH_007B5.PNG"740" height="228"></p>
            <p><span class="SUBTITULO">Detalle:</span>  Si el usuario 
            invoca la opci&oacute;n Detalle, se despliega un formulario que contiene los datos de recepci&oacute;n, otros y fechas, totales le&iacute;dos, totales procesados, otros valores y establecimiento. Cuenta con  boton de localizaci&oacute;n. </p>
            <p class="TITLE"><img src="../img/INH_007B7.PNG"718" height="416"></p>
            <p class="TITLE"><img src="../img/INH_007B8.PNG"718" ></p>
            <p>Localizaci&oacute;n: Adicionalmente, cuenta con un globo de   localizaci&oacute;n que muestra los siguientes campos:</p>
            <p class="TITLE"><img src="../img/INH_007B9.PNG"718" ></p>
            <p>Comprobantes: Este formulario muestra los comprobantes que conponen el dep&oacute;sito con los datos de fecha de comprobante, n&uacute;mero de comprobante, n&uacute;mero de tarjeta, moneda y valor del comprobante, a su vez se puede consultar el detalle del comprobante.</p>
           <p class="TITLE"><img src="../img/INH_007B6.PNG"740" height="228"></p>
            <p><span class="SUBTITULO">Detalle:</span>  Si el usuario 
            invoca la opci&oacute;n Detalle, se despliega un formulario que contiene los datos de informaci&oacute;n general, recepci&oacute;n, valor, datos de transacci&oacute;n y establecimiento. Cuenta con  boton de localizaci&oacute;n. </p>
            
            <p class="TITLE"><img src="../img/INH_007B10.PNG"718" height="401"></p>
            <p class="TITLE"><img src="../img/INH_007B11.PNG"718" height="136"></p>
            
            <p class="SUBTITULO"><a name="Localizacion"></a>Datos de localizaci&oacute;n: 
              <span class="PARRAFO">A trav&eacute;s del globo ubicado en la parte superior 
              derecha, se llega a esta opci&oacute;n que contiene los siguientes campos.</span></p>
            <p class="TITLE"><img src="../img/INH_007B16.PNG"263" ></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    iva </p></td>
                <td><p class="PARRAFO">Refleja 
                    el valor cobrado al cliente por concepto de impuesto al valor agregado.</p></td>
              </tr>
              
              <tr>
                <td class="titletable"><p class="SUBTITULO">Valor 
                  base reintegro iva</p></td>
                <td><p class="PARRAFO">Este 
                  campo despliega el valor que sirve como base para el c&aacute;lculo 
                  del reintegro de los 2 puntos de IVA sobre compras y que corresponde 
                  al valor de los bienes y/o servicios gravados con una tarifa del 16%; 
                  a partir del 2005 tambi&eacute;n quedaron incluidos aquellos que est&eacute;n 
                  gravados con un IVA del 10%.</p></td>
              </tr>
              <tr>
                <td class="titletable"><span class="SUBTITULO">Valor 
                retenci&oacute;n iva </span></td>
                <td>Campo 
                    que despliega el monto retenido por la entidad adquirente por dicho 
                    concepto acorde con los par&aacute;metros correspondientes (%base retenci&oacute;n 
                    y %rete-iva) definidos en <a href="ESH_006B.html">Informaci&oacute;n 
                de establecimientos</a>, o en <a href="ESH_002B.html">Tipos de servicio</a> o en <a href="NUH_055B.html">Par&aacute;metros operativos</a>.</td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    retenci&oacute;n fuente </p></td>
                <td><p class="PARRAFO">Contiene 
                    alg&uacute;n valor si el <a href="ESH_006B.html">establecimiento</a> 
                    en que se realiz&oacute; la transacci&oacute;n es sujeto a aplicarle 
                    la retenci&oacute;n en la fuente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    retenci&oacute;n ica </p></td>
                <td><p class="PARRAFO">Contiene 
                    alg&uacute;n valor si el <a href="ESH_006B.html">establecimiento</a> 
                    en que se realiz&oacute; la transacci&oacute;n es sujeto a aplicarle 
                    la retenci&oacute;n sobre el impuesto de industria y comercio ICA.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    iva procesado </p></td>
                <td><p class="PARRAFO">Este 
                    campo despliega el valor total cobrado por concepto  del IVA sobre compras.</p></td>
              </tr>
            </table>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>