<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        
                <p class="TITLE style6">Parametrización código
                  establecimiento</p>
              </div></td>
          </tr>

        </table>
        <p class="PARRAFO">Mediante este formulario se establecen los campos que harán
          parte del código del establecimiento. </p>
        <p class="PARRAFO">El formulario contiene inicialmente la opción Adicionar, y una
          vez haya sido grabado un registro, se mostrarán las opciones
          Actualizar y Eliminar</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_018i.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span></span> Si el
            usuario invoca la opción Adicionar se despliega un nuevo
            formulario.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_018i1.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Longitud establecimiento
              </p></td>
            <td><p class="PARRAFO">Campo numérico obligatorio de 2 dígitos que
                permite establecer la longitud total del establecimiento a
                afiliar. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Longitud oficina
              </p></td>
            <td><p class="PARRAFO">Campo numérico opcional de 2 dígitos en el que
                se establece la longitud de la oficina que estará
                incluida dentro del código del establecimiento.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Posición oficina
              </p></td>
            <td><p class="PARRAFO">Campo numérico de 2 dígitos en el que se
                establece la posición desde la cual se incluirá el
                código de la oficina. Este campo se hace obligatorio una
                vez se haya diligenciado la Longitud oficina.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Longitud secuencia</p>
            </td>
            <td><p class="PARRAFO">Campo numérico obligatorio de 2 dígitos en el
                que se establece la longitud de la secuencia que estará
                incluida dentro del código del establecimiento.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Posición
                secuencia </p></td>
            <td><p class="PARRAFO">Campo numérico obligatorio de 2 dígitos en el
                que se establece la posición desde la cual se
                incluirá la secuencia del establecimiento. </p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Módulo
                dígito de chequeo </p></td>
            <td><p class="PARRAFO">Lista de valores obligatoria que permite selccionar entre las
                opciones '10' y '11'. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Posición
                dígito de chequeo </p></td>
            <td><p class="PARRAFO">Campo numérico obligatorio de 2 dígitos en el
                que se establece la posición desde la cual se
                incluirá el Dígito de chequeo.</p></td>
          </tr>
        </table>
        <p class="PARRAFO"><span
            class="SUBTITULO">Actualizar:</span></span> Si el
            usuario invoca la opción Actualizar se despliega un nuevo
            formulario
            en el cual </span>todos los </span>campos
          </span></span><span class="style7">son
            modificables</span></span><span class="PARRAFO style1">.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_018i2.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>
  </body>
  <div id="footerContainer"></div>
  <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>