<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Traductor de transacciones</p>

        <p class="PARRAFO">A través de esta opción se permite la consulta y
          mantenimiento de la tabla, en la que se relacionan las diversas
          fuentes u <a
            href="NUH_027B.html">orígenes
            de transacciones</a> y sus transacciones originales con las <a
            href="MEH_003B.html">transacciones
            por empresa</a>. Esta parametrización permite realizar un filtro a
          las transacciones originales logrando una óptima identificación y
          equivalencia con las transacciones internas, lo que posibilita un
          nivel enorme de diferenciación. El formulario inicial contiene un
          único enlace: Traductor de transacciones.</p>

        <p class="TITLE"><img src="../img/INF_031B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Traductor de
            transacciones:</span> Este formulario tiene un
          conjunto de campos mediante los cuales se relacionan o interconectan
          las transacciones originales con las transacciones internas; se
          convierte en un filtro que selecciona alguna(s) característica(s) de
          las transacciones originales y le asocia una transacción interna
          diferente acorde con la parametrización que de estas últimas haya
          definido la entidad en <a href="MEH_003B.html">Transacciones por
            empresa</a>, y permite así, identificar clara y plenamente, una
          transacción original por parte de la entidad y trasladar, si es el
          caso, la misma información al extracto del cliente. El formulario
          contiene los enlaces: Actualizar, Eliminar, Adicionar y Detalle.
        </p>

        <p class="TITLE"><img src="../img/INF_031B1.PNG"></p>
        <p class="PARRAFO">Adicionalmente, cuenta con un filtro de búsqueda con
          los siguientes campos:</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                origen</p></td>
            <td><p class="PARRAFO">Campo
                que posee lista de valores poblada mediante la opción <a
                  href="NUH_027B.html">Orígenes
                  de transacciones</a> , de la que se debe seleccionar la
                transacción original por la que se desea realizar la
                consulta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                interna
              </p></td>
            <td><p class="PARRAFO">Campo
                que posee lista de valores poblada mediante la opción <a
                  href="MEH_003B.html">transacciones
                  por empresa</a>, de la que se debe seleccionar la
                transacción interna por la que se desea realizar la
                consulta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
            <td><p class="PARRAFO">Campo que posee lista de valores de la cual
                se puede seleccionar o no el código de la <a
                  href="NUH_005B.html">Moneda</a> asociada a la transacción y
                efectuar un filtro por este concepto.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Plazo</p></td>
            <td><p class="PARRAFO">
                Campo numérico de 3 dígitos, no obligatorio, en el que se
                registra el número de periodos (de 30 días), como criterio por
                el que se desea realizar la consulta.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar
          ese enlace se despliega un formulario con los siguientes campos:</p>
        <p class="TITLE"><img src="../img/INF_031B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                origen</p></td>
            <td><p class="PARRAFO">Campo
                que posee lista de valores poblada mediante la opción<a
                  href="NUH_027B.html"> Orígenes
                  de transacciones</a> de la que se debe seleccionar la
                transacción original a parametrizar y enlazar con una
                transacción interna, una vez seleccionado el código, se muestra
                el nombre de la transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Transacción
                interna
              </p></td>
            <td><p class="PARRAFO">Campo
                que posee lista de valores poblada mediante la opción <a
                  href="MEH_003B.html">transacciones
                  internas por empresa</a> y cuya Naturaleza y Concepto
                coincidan con
                las parametrizadas en<a href="NUH_027B.html"> Orígenes
                  de transacciones</a> , de la que se debe seleccionar la
                transacción interna a enlazar con la transacción original, una
                vez seleccionado el código, se muestra el nombre de la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                inicial</p></td>
            <td><p class="PARRAFO">
                Campo numérico de 16 dígitos incluidos 2 decimales, obligatorio,
                en el que la entidad determina el valor mínimo de un rango, si
                desea parametrizar la transacción original de esa manera, o en
                su defecto asignar el valor mínimo permitido de 0.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Valor
                final</p></td>
            <td><p class="PARRAFO">
                Campo numérico de 16 dígitos incluidos 2 decimales, obligatorio,
                en el que la entidad determina el valor máximo de un rango, si
                desea parametrizar la transacción original de esa manera, o en
                su defecto asignar el valor máximo permitido.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
            <td><p class="PARRAFO">
                Campo no obligatorio, que posee lista de valores de la cual se
                puede seleccionar el código de la <a
                  href="NUH_005B.html">Moneda</a> asociada a la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Servicio</p></td>
            <td><p class="PARRAFO">Campo no obligatorio que posee lista de
                valores poblada mediante la opción <a
                  href="ESH_002B.html">Tipos
                  de servicios</a> , de la cual se puede seleccionar el código
                del servicio asociado al establecimiento en que se realiza la
                transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Motivo
                devolución</p></td>
            <td><p class="PARRAFO">Campo no obligatorio que posee lista de
                valores poblada mediante la opción<a
                  href="NUH_027B.html"> Orígenes
                  de transacciones</a>, de la que se puede seleccionar el código
                del motivo de devolución, acorde con la etapa en que se
                encuentre la transacción original involucrada en proceso de
                intercambio o de comprobantes de buena fe.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Sub-transacciones/Red</p></td>
            <td><p class="PARRAFO">Campo no obligatorio que posee lista de
                valores poblada mediante la opción Sub
                transacciones/identificador Red, de la cual se puede seleccionar
                el código asociado a cada red de cajeros u otros medios para
                realizar transacciones tales como audio.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo
                captura</p></td>
            <td><p class="PARRAFO">Campo no obligatorio, posee lista de valores
                tipo combo, de la cual se puede seleccionar entre: Sin definir,
                Manual, POS, Cajeros ATM, Convenios, Oficinas MC, POS MasterCard
                o ATM MasterCard, el medio a través del que ingresa la
                transacción al sistema.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Establecimiento</p></td>
            <td><p class="PARRAFO">
                Campo no obligatorio que posee lista de valores poblada mediante
                la opción <a href="ESH_006B.html">Información de
                  establecimientos</a>, de
                la que se puede seleccionar un establecimiento en particular, en
                el que se realiza la transacción.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Plazo</p></td>
            <td><p class="PARRAFO">Campo numérico de 3 dígitos, no obligatorio,
                en el que se digita el número de periodos (de 30 días) asignado
                por la entidad como plazo por defecto determinado en
                <a href="MEH_003B.html">Transacciones por empresa</a>, en que
                puede ser diferido el pago de
                las utilizaciones de naturaleza débito, efectuadas por el
                cliente.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin
                propio</p></td>
            <td><p class="PARRAFO">
                Campo obligatorio, se habilita cuando los demás campos
                obligatorios ya se han diligenciado, posee con lista de valores
                de la que selecciona entre Si o No, para la relación de
                Transacción original y Transacción interna, se parametriza para
                las utilizaciones efectuadas con tarjetas cuyo bin pertenece a
                la entidad; cuando se escoge la opción Si, se despliegan tres
                campos adicionales, de los cuales se selecciona por medio de
                listas de valores poblados mediante la opción <a
                  href="MEH_002B.html">Definición
                  productos</a>, los
                códigos que identifica el BIN, el Segmento y el Grupo de
                afinidad correspondientes.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Al activar ese enlace se despliega el siguiente formulario en el
            cual todos los campos son modificables:</p>
          <p class="TITLE"><img src="../img/INF_031B3.PNG"></p>

          <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si
            el usuario invoca la opción Detalle se despliega el siguiente
            formulario:
          </p>
          <p class="TITLE"><img src="../img/INF_031B4.PNG">
          </p>

        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>