<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Rechazo cargue - Consulta global de intercambi</p>
                    
            <p class="PARRAFO">Mediante esta opción se posibilita la consulta de los registros de transacciones que no fueron leídos del archivo que contenía el movimiento dentro del que viajaban dichos registros. El formulario cuenta en la parte superior con un botón para volver al <a href="INH_006B.html" >formulario principal</a> de la Consulta 
              global de intercambio.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_006B11.PNG"></p>
           
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Secuencia</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el número con el que se identifica el cargue 
                    de archivos o integración del movimiento ingresado por un mismo 
                    origen para una misma fecha de proceso.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Registro</p></td>
                <td><p class="PARRAFO">Muestra la cadena de caracteres que conforman el registro físico no leído.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Error</p></td>
                <td><p class="PARRAFO">Muestra el código de error asociado al registro rechazado.</p></td>
              </tr>
             
            </table>
            
            

          
            <p class="PARRAFO"> <a href="INH_006B10.html">Movimiento rechazado día anterior</a> |
              <a href="INH_006B1.html">Tapa contable</a> |
              <a href="INH_006B6.html">Contracargos</a> |
              <a href="INH_006B4.html">Fraudes</a> |     
              <a href="INH_006B2.html">Movimiento débito</a> |
              <a href="INH_006B7.html">Intercambio</a> |
              <a href="INH_006B5.html">Pendientes débito</a> |
              <a href="INH_006B9.html">Rechazo cargue convenios</a>  </p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>