<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div  ">
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE style6">Condiciones de afiliaci&oacute;n</p>
                    </div></td>
              </tr>

            </table>
            <p>Por medio de esta opcion la entidad define   las condiciones establecidas para los diferentes ti&oacute;s de establecimientos.</p>
            <p>El formulario contiene las opciones Actualizar, Eliminar, 
            y Adicionar. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
            <p class="TITLE"><img src="../img/INF_018B1.PNG"742" height="252"></p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a trav&eacute;s 
            de las siguientes opciones:</p>
            <p  class="center"><img src="../img/INF_018B.PNG"311" ></p>
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span >C&oacute;digo</span></p></td>
                <td><p>Campo alfanum&eacute;rico de m&aacute;ximo 6 caracteres, en el que   se registra el c&oacute;digo asignado a cada uno de las condiciones. </p>      
                </td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO"><b><span >Descripci&oacute;n</span></b></p></td>
                <td><p>Este campo alfanum&eacute;rico de 30 posiciones,   permite ingresar el nombre de la condici&oacute;n. </p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO"><b><span >Periodo a evaluar </span></b></p></td>
                <td><p>Lista de valores que permite seleccionar una de las siguientes opciones: A&ntilde;o, Semestre, Trimestre, Bimestre, y Mes. </p></td>
              </tr>
            </table>
            <p><span class="SUBTITULO"><span >Adicionar</b>:</span></span><span > Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span></p>
            <p class="TITLE"><img src="../img/INF_018B2.PNG"422" height="246"></p>
            
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span >C&oacute;digo</span>  de afiliaci&oacute;n </p></td>
                <td><p>Campo alfanum&eacute;rico de m&aacute;ximo 6 caracteres, en el que   se registra el c&oacute;digo asignado a cada uno de las condiciones. </p></td>
              </tr>

              <tr>
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Descripci&oacute;n</span></b></p></td>
                <td><p>Este campo alfanum&eacute;rico de 30 posiciones,   permite ingresar el nombre de la condici&oacute;n. </p></td>
              </tr>

              <tr>
                <td class="titletable"  ><p class="SUBTITULO">Monto m&iacute;nimo </p></td>
                <td><p>Para 
                    este campo el sistema admite cualquier dato num&eacute;rico de m&aacute;ximo 
                    14 d&iacute;gitos, 12 enteros y dos decimales.</p>      </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Monto m&aacute;ximo </p></td>
                <td><p>Para 
                    este campo el sistema admite cualquier dato num&eacute;rico de m&aacute;ximo 
                    14 d&iacute;gitos, 12 enteros y dos decimales. El monto m&aacute;ximo debe ser mayor al monto m&iacute;nimo..</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Monto de penalizaci&oacute;n </p></td>
                <td><p>Para 
                    este campo el sistema admite cualquier dato num&eacute;rico de m&aacute;ximo 
                    14 d&iacute;gitos, 12 enteros y dos decimales.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">M&aacute;ximo n&uacute;mero de insatisfacci&oacute;n </p></td>
                <td><p>Lista 
                    de valores que permite ingresar cualquier valor num&eacute;rico de m&aacute;ximo 
                    3 d&iacute;gitos.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Periodo a evaluar </p></td>
                <td><p>Lista de valores que permite seleccionar una de las siguientes opciones: A&ntilde;o, Semestre, Trimestre, Bimestre, y Mes. </p></td>
              </tr>
            </table>
            <p class="PARRAFO" ><span class="SUBTITULO"><span >Actualizar</b>:</span></span><span > Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual </span><span >los </span><span > &uacute;nicos campos </span></span><span class="style7"><span >modificables</span></span><span class="PARRAFO"><span >son:</span>  Descripci&oacute;n, Monto m&iacute;nimo, Monto m&aacute;ximo, Monto de penalizaci&oacute;n, M&aacute;ximo n&uacute;mero de insatisfacci&oacute;n, y Periodo a evaluar. </span></p>
            <p class="TITLE"><img src="../img/INF_018B3.PNG"422" height="246"></p>
            
            <p><span class="SUBTITULO"><span >Detalle</b></span><span >:</span></span><span > Si el usuario invoca la opci&oacute;n </span><span >Detalle</span><span > se despliega </span><span >el siguiente</span><span > formulario</span> .</p>
            <p class="TITLE"><img src="../img/AEF_002B4.PNG"727" ></p>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img class="TITLE"  src= "../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
            target="_blank">www.OpenCard.com</a></p>



</footer>
</html>