<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Contracargos</p>
              

        <p class="PARRAFO"><span class="SUBTITULO"><a name="asociadas"></a>Transacciones
            asociadas: </span> Corresponde a las diversas
          transacciones que pueden darse dentro del proceso de intercambio. El
          formulario permite el ingreso de
          transacciones, más no el borrado de aquellas recibidas o
          enviadas por la otra entidad involucrada. Cuenta
          con las opciones Detalle e Ingresar. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_027B16.PNG" ></p>

        <p class="PARRAFO"><span class="SUBTITULO">Ingresar:</span> La opción muestra un
          formulario wizard con dos pasos:
          Transacción asociada y Resumen.</p>
        <p class="PARRAFO">El formulario Transacción asociada despliega los siguientes
          campos: </p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_027B17.PNG"></p>
        <table width=545>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Transacción origen </p>
            </td>
            <td>
              <p class="PARRAFO">Lista de valores que despliega
                tanto el código como el nombre asociado a cada tipo o
                clase de
                transacción enviada o recibida dentro del proceso de
                intercambio,
                con base en la codificación determinada por las
                franquicias y
                parametrizada mediante la opción <a
                  href="NUH_027B.html">Orígenes
                  de transacciones</a> del grupo de Tablas reservadas del
                Núcleo.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo cobro </p>
            </td>
            <td>
              <p class="PARRAFO">Contiene tanto el código como el nombre asociado a las
                transacciones de notas débito o
                crédito generadas como resultado del proceso de
                intercambio, y que ilustran la motivación de
                esos cargos o abonos interentidades.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Motivo devolución </p>
            </td>
            <td>
              <p class="PARRAFO">Lista de valores que permite ingresar tanto el
                código como la descripción o
                nombre de la causa o motivo por la que la transacción fue
                devuelta por la entidad emisora del
                plástico asociado a la misma.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin fuente </p>
            </td>
            <td>
              <p class="PARRAFO">Campos que ilustran tanto el prefijo o bin centro de proceso de
                la entidad a través de la que
                ingresa la transacción como el de la entidad emisora del
                plástico, lo que facilita la
                interpretación de la dirección de cada
                transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin destino </p>
            </td>
            <td>
              <p class="PARRAFO">Campos que ilustran tanto el prefijo o bin
                centro de proceso de la entidad a
                través de la que ingresa la transacción como el de
                la entidad emisora del plástico,
                lo que facilita la interpretación de la dirección
                de cada transacción.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha canje </p>
            </td>
            <td>
              <p class="PARRAFO">Despliega la fecha en formato YYYY-MM-DD en que ingresó
                la transacción asociada al proceso
                de intercambio a través del canje.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha proceso </p>
            </td>
            <td>
              <p class="PARRAFO">Despliega la fecha en formato YYYY-MM-DD en que fue procesado
                el movimiento que contiene la
                transacción relacionada con el proceso de
                intercambio.</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Resumen:</span> Si el usuario invoca
          la opción Resumen se despliega el siguiente formulario:

          </p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_027B18.PNG"></p>

      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

  </html>