<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Motivos devoluci&oacute;n cheques</p>
                  
            <p class="PARRAFO" >Mediante esta opci&oacute;n se permite 
              dar mantenimiento a una tabla con los diferentes conceptos por los cuales 
              las entidades financieras no efect&uacute;an el pago de un cheque; adicionalmente 
              le permite a la entidad asociarle a cada concepto un valor porcentual a liquidar 
              y cobrar al tarjetahabiente a manera de sanci&oacute;n o multa a ra&iacute;z 
              de la devoluci&oacute;n del cheque mediante el que se realiz&oacute; el pago.
              </span></p>
            <p class="TITLE"><img src="../img/INF_002E.PNG"758" height="471"></p>
            
            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar. </p>
            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span>:</span></span><span > 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span></p>
            <p class="TITLE"><img src="../img/INF_002E1.PNG"325" ></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >C&oacute;digo</span></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de 3 d&iacute;gitos, obligatorio, asignado a cada uno 
                    de las diferentes causales o motivos argumentados por las entidades 
                    financieras por las cuales son devueltos o no pagados los cheques.</p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO"><span >Descripci&oacute;n</span></p></td>
                <td><p  class="PARRAFO">Campo 
                  alfanum&eacute;rico de 30 posiciones, obligatorio, en el cual se registra 
                  el nombre de las causales o motivos de devoluci&oacute;n asociados al 
                  c&oacute;digo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Tipo de Sanci&oacute;n </span></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio, en el cual se registra 
                    la sanci&oacute;n se va aplicar que bien puede ser de valor o porcentaje.</p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO"><span >Porcentaje 
                  persona natural </span></p></td>
                <td><p  class="PARRAFO">Campo 
                  num&eacute;rico de 17 d&iacute;gitos incluidos 2 decimales, obligatorio 
                  en el que la entidad se&ntilde;ala el valor porcentual o el valor en cifra a aplicar como 
                  sanci&oacute;n en caso de salir impagado el cheque recibido del cliente. </p></td>
              </tr>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><span >Porcentaje 
                    persona juridica </span></p></td>
                <td><p  class="PARRAFO">Campo 
                  num&eacute;rico de 17 d&iacute;gitos incluidos 2 decimales, obligatorio 
                  en el que la entidad se&ntilde;ala el valor porcentual o el valor en cifra a aplicar como 
                  sanci&oacute;n en caso de salir impagado el cheque recibido del cliente. </p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">A</span></span><span ><span class="SUBTITULO"><span >dicionar</span></span></span><span >:</span></span><span > 
              Si el usuario selecciona un registro invoca la opci&oacute;n Actualizar se 
              despliega un formulario en el cual los campos modificables son Descripci&oacute;n 
              y Porcentaje sanci&oacute;n.</span></p>
            <p class="TITLE"><img src="../img/INF_002E2.PNG"322" ></p>
            <div>
          <p class="PARRAFO"><span class="SUBTITULO"> 
                </span></p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>