<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Par&aacute;metros de captura por marca</p>
                  </div></td>
              </tr>
            </table>
            <p class="PARRAFO" >La funcionalidad a continuaci&oacute;n 
              descrita, permite a la entidad determinar las validaciones iniciales que se 
              deben hacer para cada una de las </span><span class="PARRAFO"><a href="NUH_033B.html" >franquicias</a> 
              al momento de efectuar <a href="INH_004B.html" >captura 
              manual de movimiento</a>
              </span></p>
            <p class="TITLE"><img src="../img/INF_003E.PNG"480" ></p>

            <p  class="PARRAFO">El formulario contiene la opci&oacute;n Par&aacute;metros 
              de captura desde la cual se invoca el formulario en el cual se encuentran 
              las diferentes validaci&oacute;nes a efectuar en el momento de la captura, 
              para la marca seleccionada por el usuario.</p>
            <p class="TITLE"><img src="../img/INF_003E1.PNG"562" height="258"></p>
            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar</p>
            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Adicionar</span></b>:</span></span><span > 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario. 
              </span></p>
            <p class="TITLE"><img src="../img/INF_003E2.PNG"373" height="106"></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span > 
                    C&oacute;digo de validaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo en el cual se seleccionan los <a href="NUH_050B.html" >par&aacute;metros 
                    de captura</a> que se van a aplicar para la marca.</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Validar</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo se selecciona entre Si o NO se debe hacer 
                    la validaci&oacute;n para el par&aacute;metro de captura correspondiente</p></td>
              </tr>

              <tr> 
                <td class="titletable"  ><p class="SUBTITULO"><b><span >Nivel</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo con las opciones Error o Mensaje para indicar 
                    la respuesta a la aplicaci&oacute;n de la validaci&oacute;n efectuada; 
                    cuando se escoge la primera opci&oacute;n el procedimiento de validaci&oacute;n 
                    se detiene, mientras que en el segundo caso solamente despliega un mensaje 
                    indicando la falla del mismo.</p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="SUBTITULO"><span ><span class="SUBTITULO">Actualizar</span></b>:</span></span><span > 
              Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual los campos modificables son Validar 
              y Nivel. </span></p>
            <p class="TITLE"><img src="../img/INF_003E3.PNG"373" height="106"></p>
            <div>
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>