<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div  #"position:absolute; left:181px; top:247px; width:735px; height:1361px; z-index:2"> 
            
                    <p  class="TITLE">Depósitos electrónicos</p>
                    
            <p class="PARRAFO">Este formulario contiene el movimiento  con concepto 
              de Depósitos electrónicos, provenientes 
              del cargue de archivos de depósitos electrónicos Visa, Mastercard y Movimiento de oficinas, que originan abonos a los establecimientos, adicionalmente muestra el Detalle de cada uno.</p>
            <p class="PARRAFO">El formulario contiene la opción de comprobantes.</p>
            <p class="TITLE"><img src="../img/INH_007B5.PNG"740" height="228"></p>
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario 
            invoca la opción Detalle, se despliega un formulario que contiene los datos de recepción, otros y fechas, totales leídos, totales procesados, otros valores y establecimiento. Cuenta con  boton de localización. </p>
            <p class="TITLE"><img src="../img/INH_007B7.PNG"718" height="416"></p>
            <p class="TITLE"><img src="../img/INH_007B8.PNG"718" ></p>
            <p class="PARRAFO">Localización: Adicionalmente, cuenta con un globo de   localización que muestra los siguientes campos:</p>
            <p class="TITLE"><img src="../img/INH_007B9.PNG"718" ></p>
            <p class="PARRAFO">Comprobantes: Este formulario muestra los comprobantes que conponen el depósito con los datos de fecha de comprobante, número de comprobante, número de tarjeta, moneda y valor del comprobante, a su vez se puede consultar el detalle del comprobante.</p>
           <p class="TITLE"><img src="../img/INH_007B6.PNG"740" height="228"></p>
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario 
            invoca la opción Detalle, se despliega un formulario que contiene los datos de información general, recepción, valor, datos de transacción y establecimiento. Cuenta con  boton de localización. </p>
            
            <p class="TITLE"><img src="../img/INH_007B10.PNG"718" height="401"></p>
            <p class="TITLE"><img src="../img/INH_007B11.PNG"718" height="136"></p>
            
            <p class="SUBTITULO"><a name="Localizacion"></a>Datos de localización: 
              <span class="PARRAFO">A través del globo ubicado en la parte superior 
              derecha, se llega a esta opción que contiene los siguientes campos.</p>
            <p class="TITLE"><img src="../img/INH_007B16.PNG"263" ></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    iva </p></td>
                <td><p class="PARRAFO">Refleja 
                    el valor cobrado al cliente por concepto de impuesto al valor agregado.</p></td>
              </tr>
              
              <tr>
                <td class="titletable"><p class="SUBTITULO">Valor 
                  base reintegro iva</p></td>
                <td><p class="PARRAFO">Este 
                  campo despliega el valor que sirve como base para el cálculo 
                  del reintegro de los 2 puntos de IVA sobre compras y que corresponde 
                  al valor de los bienes y/o servicios gravados con una tarifa del 16%; 
                  a partir del 2005 también quedaron incluidos aquellos que estén 
                  gravados con un IVA del 10%.</p></td>
              </tr>
              <tr>
                <td class="titletable"><span class="SUBTITULO">Valor 
                retención iva </span></td>
                <td>Campo 
                    que despliega el monto retenido por la entidad adquirente por dicho 
                    concepto acorde con los parámetros correspondientes (%base retención 
                    y %rete-iva) definidos en <a href="ESH_006B.html">Información 
                de establecimientos</a>, o en <a href="ESH_002B.html">Tipos de servicio</a> o en <a href="NUH_055B.html">Parámetros operativos</a>.</td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    retención fuente </p></td>
                <td><p class="PARRAFO">Contiene 
                    algún valor si el <a href="ESH_006B.html">establecimiento</a> 
                    en que se realizó la transacción es sujeto a aplicarle 
                    la retención en la fuente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    retención ica </p></td>
                <td><p class="PARRAFO">Contiene 
                    algún valor si el <a href="ESH_006B.html">establecimiento</a> 
                    en que se realizó la transacción es sujeto a aplicarle 
                    la retención sobre el impuesto de industria y comercio ICA.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Valor 
                    iva procesado </p></td>
                <td><p class="PARRAFO">Este 
                    campo despliega el valor total cobrado por concepto  del IVA sobre compras.</p></td>
              </tr>
            </table>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>