<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>

    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Movimiento rechazado día anterior - Consulta global de
          intercambio</p>

        <p class="PARRAFO"><span class="PARRAFO">Los registros contenidos en
            este formulario, corresponden a las distintas transacciones que
            fueron remitidas al procesador mediante el Canje enviado del día
            hábil inmediatamente anterior, para de ser posible corregir la(s)
            inconsistencia(s) presentada(s) y enviarse nuevamente a proceso. El
            formulario contiene los siguientes enlaces: <a href="INH_006B10.html">Movimiento rechazado día anterior</a>,
            <a href="INH_006B2.html"> Movimiento débito</a>,
            <a href="INH_006B1.html"> Tapa contable</a>,
            <a href="INH_006B6.html"> Contracargos</a>,
            <a href="INH_006B4.html"> Fraudes</a>,    
            <a href="INH_006B5.html"> Pendientes débito</a>,
            <a href="INH_006B3.html"> Rechazo cargue</a>,
            <a href="INH_006B9.html"> Intercambio</a>,
            <a href="INH_006B9.html"> Rechazo cargue convenios</a>.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/INF_006B3.svg"></p>

          <br><br><br><br><br><br><br>
         
          <p class="PARRAFO"> <a href="INH_006B10.html">Movimiento rechazado día anterior</a> |
            <a href="INH_006B2.html">Movimiento débito</a> |
            <a href="INH_006B6.html">Contracargos</a> |
            <a href="INH_006B1.html"> Tapa contable</a> |
            <a href="INH_006B4.html">Fraudes</a> |     
            <a href="INH_006B5.html">Pendientes débito</a> |
            <a href="INH_006B3.html">Rechazo cargue</a> |
            <a href="INH_006B9.html">Intercambio</a> |
            <a href="INH_006B9.html">Rechazo cargue convenios</a>  </p>

          </section>
          <script src="../js/menu.js"></script>
        </body>
        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </html>