<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Consulta global de intercambio</p>

      <p class="PARRAFO">Mediante esta opci&oacute;n es posible conocer a manera de
        s&iacute;ntesis y para cada fecha de proceso, el estado del movimiento por
        origen del mismo.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial de b&uacute;squeda, necesario para la consulta de la
        informaci&oacute;n:</p>
      <p class="TITLE"><img src="../img/INF_006B.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha
                  proceso </span></p>
          </td>
          <td>
            <p class="PARRAFO">Por defecto se muestra la fecha de proceso o del sistema.
              Si se requiere consultar movimiento de fecha anterior basta con utilizar el filtro
              seleccionar la fecha deseada.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">Al cargar la información a través del botón Buscar, se muestra el siguiente
         formulario que contiene las opciones: Transacciones | 
         <a href="INH_006B10.html" >Movimiento rechazado d&iacute;a anterior</a>| Borrar cargue | Ver errores.</p>
      <p class="TITLE"><img src="../img/INF_006B1.PNG"></p>

      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Transacciones:</span> 
          A trav&eacute;s de este bot&oacute;n el sistema muestra un nuevo formulario
          con las siguientes opciones en la parte superior:</span> 
        
          <a href="INH_006B1.html" >Tapa contable</a>, <a href="INH_006B2.html" >Movimiento
            diario</a>, <a href="INH_006B3.html" >Rechazo cargue</a>, <a href="INH_006B4.html"
            >Fraudes</a>,
          <a href="INH_006B5.html" >Pendientes</a>, <a href="INH_006B6.html"
            >Contracargos</a>,
          <a href="INH_006B7.html" >Intercambio</a>, <a href="INH_006B8.html" >Efectos
            al cobro</a>, <a href="INH_006B9.html" >Rechazo cargue convenios</a>.
        
      </p>
      <p class="PARRAFO">A trav&eacute;s de estas opciones se presenta
        de manera detallada la desagregaci&oacute;n del conjunto de transacciones,
        las que por efecto de las validaciones toman diferente fin; Exceptuando la
        Tapa contable y el Movimiento diario, estas opciones s&oacute;lo
        se muestran cuando existen transacciones dentro del movimiento, y permiten
        desplegar formularios adicionales que contienen informaci&oacute;n detallada
        de cada una de ellas.
      </p>
      <p class="TITLE"><img src="../img/INF_006B3.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario
        cuenta con un filtro inicial de b&uacute;squeda, necesario para la consulta
        de la informaci&oacute;n:</p>
      <p class="TITLE"><img src="../img/INF_006B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              en el cual se ingresa el nombre asociado a cada tipo o clase de transacci&oacute;n
              contenida dentro del archivo del movimiento. El formulario despliega
              la misma clase de transacci&oacute;n por cuantos paquetes la contengan
              en una misma fecha de proceso y origen de transacciones.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Moneda</p>
          </td>
          <td>
            <p class="PARRAFO">Contiene
              el nombre de la moneda en que se denomina el movimiento consultado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero
              paquete </p>
          </td>
          <td>
            <p class="PARRAFO">Se
              ingresa el n&uacute;mero del paquete que identifica el movimiento por
              clase o tipo de transacci&oacute;n, lo que facilita su ubicaci&oacute;n
              en caso de ser necesario.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sucursal</p>
          </td>
          <td>
            <p class="PARRAFO">Se
              ingresa el c&oacute;digo que identifica la oficina por medio de la que
              ingres&oacute; el movimiento.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario: </p>
      <p class="TITLE"><img src="../img/INF_006B3.1.PNG"></p>
      <p class="PARRAFO"><span class="SUBTITULO">Borrar cargue:</span>  Este enlace permite eliminar los registros que han 
        ingresado al sistema en la fecha de proceso, mediante el cargue de archivos, siempre 
        y cuando no se hayan ejecutado aún los procesos que aplican dicho movimiento.</p>

        <p class="PARRAFO"><span class="SUBTITULO">Ver errores:</span>  La funcionalidad de este enlace permite 
          visualizar los registros completos de aquellos orígenes para los cuales su movimiento proviene de cargue de archivos,
           los que, al surtir las validaciones, presentan inconsistencias o datos errados que impiden que los registros puedan 
           ser procesados, identificando la causa del error.</p>

<p class="PARRAFO"><span class="SUBTITULO">Transacciones:</span>  A través de este enlace, el sistema muestra un nuevo formulario con los siguientes enlaces 
  en la parte superior:<a href="INH_006B1.html"> Tapa contable</a>,<a href="INH_006B2.html"> Movimiento diario</a>,<a href="INH_006B3.html"> Rechazo cargue</a>,<a href="INH_006B4.html"> Fraudes</a>,<a href="INH_006B5.html"> Pendientes</a>,<a href="INH_006B6.html"> Contracargos</a>,<a href="INH_006B7.html"> Intercambio</a>, 
 <a href="INH_006B8.html"> Efectos al cobro</a>,<a href="INH_006B9.html"> Rechazo cargue convenios</a>, los cuales se muestran o no dinámicamente, dependiendo de las validaciones 
  que realice el sistema, permitiendo conocer así el destino del movimiento ingresado, por cada origen.</p>

      <p><a href="INH_006B1.html" >Tapa contable</a> | </span><a href="INH_006B2.html"
          >Movimiento
          diario</a> | </span><a href="INH_006B3.html" >Rechazo
          cargue</a> | </span><a href="INH_006B4.html" >Fraudes</a> | </span><a
          href="INH_006B5.html" >Pendientes</a>
            | </span><a href="INH_006B7.html" >Intercambio</a> | </span><a
          href="INH_006B8.html" >Efectos
          al cobro</a> | </span><a href="INH_006B9.html" >Rechazo
          cargue convenios</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>