<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Consulta de movimientos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Rechazo cargue:</span>  
              </span> Mediante esta opci&oacute;n se posibilita la consulta de los registros 
              de transacciones que no fueron le&iacute;dos del archivo que conten&iacute;a 
              el movimiento dentro del que viajaban dichos registros.</p>
            <p class="PARRAFO">El formulario cuenta con la opci&oacute;n Detalle, sumado 
              a las siguientes opciones<span class="PARRAFO">:</span>  
              <a href="INH_040B1.html">Movimiento diario</a>, <a href="INH_040B2.html">Fraudes</a>, 
              <a href="INH_006B5.html"></a><a href="INH_040B3.html">Pendientes</a>, <a href="INH_006B6.html"></a><a href="INH_040B5.html">Contracargos</a>, 
              <a href="INH_040B6.html">Efectos al cobro</a>, <a href="INH_006B9.html"></a><a href="INH_040B7.html">Intercambio</a>, 
              <a href="INH_040B8.html">Rechazo cargue convenios</a>, y <a href="INH_040B.html">Ver 
              par&aacute;metros</a>.</p>
            <p class="TITLE"><img src="../img/INF_040B4.PNG"798" height="510"></p>
           
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Secuencia</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el n&uacute;mero con el que se identifica el cargue 
                    de archivos o integraci&oacute;n del movimiento ingresado por un mismo 
                    origen para una misma fecha de proceso.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Sucursal</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que despliega el c&oacute;digo que identifica la oficina por 
                    medio de la que ingres&oacute; el movimiento</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
                <td><p class="PARRAFO">Despliega 
                    la abreviatura definida por la franquicia que identifica la <a href="NUH_005B.html">Moneda 
                    </a>original de la transacci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"> 
                  <p class="SUBTITULO">Registro</p></td>
                <td><p class="PARRAFO">Muestra 
                    la cadena de caracteres que conforman el registro f&iacute;sico no le&iacute;do.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Error</p></td>
                <td><p class="PARRAFO">Muestra 
                    el c&oacute;digo de error asociado al registro rechazado.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Estado</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra con un Por Procesar que el registro se arregl&oacute; 
                    y est&aacute; pendiente de proceso o Rechazado cuando el registro fue 
                    rechazado nuevamente por la validaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">N&uacute;mero 
                    paquete </p></td>
                <td><p class="PARRAFO">Campo 
                    que ilustra el n&uacute;mero del paquete que identifica el movimiento 
                    por clase o tipo de transacci&oacute;n, lo que facilita su ubicaci&oacute;n 
                    en caso de ser necesario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Secuencia 
                    recepci&oacute;n </p>
                  </td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el n&uacute;mero con el que se identifica el cargue 
                    de archivos o integraci&oacute;n del movimiento ingresado por un mismo 
                    origen para una misma fecha de proceso.</p></td>
              </tr>
            </table>
            <p><a href="INH_040B1.html">Movimiento 
              diario</a><b><span > 
              | </span></b><a href="INH_006B3.html"></a><a href="INH_040B2.html">Fraudes</a><span
              ><b> | </b></span><a href="INH_006B5.html"></a><a href="INH_040B3.html">Pendientes</a> 
              <span
              ><b>| </b></span><span
              ></span>  <a href="INH_040B5.html">Contracargos</a>
            <a href="INH_040B6.html">Efectos 
              al cobro</a><span
              ><b> | </b></span><a href="INH_006B9.html"></a><a href="INH_040B7.html">Intercambio</a><span
              ><b> | </b></span><a href="INH_040B8.html">Rechazo 
              cargue convenios</a><span
              ><b> | </b></span>  <a href="INH_040B5.html"></a> 
              <a href="INH_040B.html">Ver par&aacute;metros</a></p>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>