<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Consulta global de intercambio </p>
            </div>
          </td>
        </tr>
      </table>
      <p><span class="SUBTITULO">Movimiento diario</span> : En este formulario aparecen registradas todas las
        transacciones que han superado exitosamente las validaciones del sistema.</p>
      <p>El formulario contiene las opciones <A href="#Afectado_por" title="Afectado_por" target="_self"
          >Afectado por</A>, <A href="#Afecta_a" title="Afecta a" target="_self" >Afecta
          a</A>, y el Detalle. Adicionalmente, cuenta en la parte superior con un bot&oacute;n para volver al <A
          href="INH_006B.html" >formulario principal</A> de la Consulta global de intercambio.</p>
      
      <p class="TITLE"><img src="../img/INF_006B5.PNG" ></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripci&oacute;n extracto</p>
          </td>
          <td>
            <p>Despliega el nombre con el que aparecer&aacute; la transacci&oacute;n en el extracto del cliente y
              corresponde al nombre de la transacci&oacute;n interna definido en la opci&oacute;n <A
                href="MEH_003B.html" >Transacciones por empresa</A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha
              comprobante </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              con formato YYYY-MM-DD ilustra la fecha f&iacute;sica del comprobante
              de venta.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Plazo</p>
            
          </td>
          <td>
            <p>Contiene el n&uacute;mero de periodos de 30 d&iacute;as, solicitado por el cliente o asignado por
              defecto, para el pago de la transacci&oacute;n de consumo o utilizaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Moneda</p>
          </td>
          <td>
            <p class="PARRAFO">Despliega
              la abreviatura definida por la franquicia que identifica la <a href="NUH_005B.html"
                >Moneda</a> original de la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor
              total </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene el monto global de la transacci&oacute;n, incluido el valor
              de propina concedida.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Inter&eacute;s</p>
            
          </td>
          <td>
            <p>Contiene la tasa de inter&eacute;s corriente original asociada al indicador econ&oacute;mico que aplica
              para la transacci&oacute;n.</p>
            
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero
              tarjeta</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene bien sea el n&uacute;mero de la tarjeta a afectar con la
              transacci&oacute;n o el n&uacute;mero de identificaci&oacute;n del cliente.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente
        formulario, con un wizard de cuatro pasos. </p>

      <p class="TITLE"><img src="../img/INF_006B10.PNG" 693" height="652"></p>
      <p class="TITLE"><img src="../img/INF_006B101.PNG" 693" height="663"></p>
      <p class="TITLE"><img src="../img/INF_006B102.PNG" 693" height="431"></p>
      <p class="TITLE"><img src="../img/INF_006B103.PNG" 693" height="507"></p>

      <p><span class="SUBTITULO"><A name="Afectado_por"></A>Afectado por</span> : Aplica para las transacciones de
        consumo y permite visualizar los diferentes pagos que han disminuido o cancelado los diferentes saldos
        presentados por la transacci&oacute;n consultada.</p>

      <p class="TITLE"><img src="../img/INF_006B6.PNG" 453" ></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha</p>  
          </td>
          <td>
            <p>Contiene la fecha en se aplicaron cada una de las diferentes transacciones de pago.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Secuencia</p>
          </td>
          <td>
            <p>Muestra el n&uacute;mero asignado por el sistema a cada transacci&oacute;n de pago y que la identifica de
              manera exclusiva dentro del sistema.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital</p>
          </td>
          <td>
            <p>Valor que consolida los montos contenidos dentro del bloque Capital y cubiertos por cada uno de los pagos
              realizados.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Inter&eacute;s</p>
          </td>
          <td>
            <p>Corresponde al valor que consolida los montos contenidos dentro del bloque Intereses y cubiertos por cada
              uno de los pagos efectuados.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente
        formulario:</p>

      <p class="TITLE"><img src="../img/INF_006B7.PNG"></p>

      <table>
        <tr>
          <td class="titletable"><span class="SUBTITULO">Origen</span>  
        
          </td>
          <td>
            <p>Despliega el nombre de la fuente y origen del movimiento a trav&eacute;s del que ingresa la
              transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso</p>
          </td>
          <td>
            <p>Contiene la fecha en se aplicaron cada una de las diferentes transacciones de pago.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n</p>
          </td>
          <td>
            <p>Muestra el nombre de la transacci&oacute;n interna asociado en la opci&oacute;n <A href="MEH_003B.html"
                >Transacciones por empresa</A>.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Capital:</span>  Desglosa para cada concepto, el valor del capital que est&aacute;
        siendo cubiertos por cada uno de los pagos realizados.</p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Facturado</p>
          </td>
          <td>
            <p>Muestra la porci&oacute;n del diferido de la transacci&oacute;n que ha sido cubierta mediante cada uno de
              los pagos efectuados.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital no facturado</p>
          </td>
          <td>
            <p>Indica el valor que ha sido cubierto por cada uno de los pagos, correspondiente al saldo de capital de la
              transacci&oacute;n que se encuentra pendiente por cancelar o diferir.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mora total </p>
          </td>
          <td>
            <p>Campo que contiene el monto acumulado de los diferidos de la transacci&oacute;n de faturaciones
              anteriores no cubiertos y que han sido cancelados por cada uno de los pagos efectuados. Este campo agrupa
              los capitales mostrados por altura dentro del bloque Capital en mora.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Inter&eacute;s:</span>  Desglosa por cada concepto, el valor de los intereses que
        est&aacute;n siendo cubiertos por cada uno de los pagos realizados.</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Corriente</p>
          </td>
          <td>
            <p>Campo que muestra el valor cubierto por cada uno de los pagos y correspondiente al monto resultante de la
              liquidaci&oacute;n del beneficio esperado por la entidad sobre el saldo del capital vigente de la
              transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mora</p>
          </td>
          <td>
            <p>Indica el valor cubierto por cada uno de los pagos y correspondiente al monto resultante de la
              liquidaci&oacute;n del beneficio adicional esperado por la entidad sobre el saldo del capital que se
              encontraba en mora de la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Extracontable</p>
          </td>
          <td>
            <p>Se&ntilde;ala el valor cubierto por cada uno de los pagos y correspondiente al monto resultante de la
              liquidaci&oacute;n del beneficio esperado por la entidad sobre el saldo del capital de la
              transacci&oacute;n cuya altura de mora superaba los 90 d&iacute;as.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Capital en mora:</span>  Grupo de campos que permiten visualizar la
        descomposici&oacute;n del capital en los doce &uacute;ltimos periodos cubiertos o cancelados por cada uno de los
        pagos realizados.</p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mes 1 ...12</p>
          </td>
          <td>
            <p>Estos campos contienen la porci&oacute;n del saldo por capital de la transacci&oacute;n acorde a la
              altura de mora o facturaciones que hayan tenido lugar y cuyos pagos m&iacute;nimos no hayan ocurrido,
              valores que est&aacute;n siendo cubiertos por cada uno de los pagos realizados.</p>
          </td>
        </tr>
      </table>




      <p><span class="SUBTITULO"><A id="Afecta_a" name="Afecta_a"></A>Afecta a:</span>  Permite visualizar la incidencia
        de una transacci&oacute;n de pago sobre las transacciones de consumo realizadas por el cliente.</p>


      <p class="TITLE"><img src="../img/INF_006B8.PNG" 453" ></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha</p>
          </td>
          <td>
            <p>Contiene la fecha en se aplicaron cada una de las diferentes transacciones de pago.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Secuencia</p>
          </td>
          <td>
            <p>Muestra el n&uacute;mero asignado por el sistema a cada transacci&oacute;n de pago y que la identifica de
              manera exclusiva dentro del sistema.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital</p>
          </td>
          <td>
            <p>Valor que consolida los montos contenidos dentro del bloque Capital y cubiertos por cada uno de los pagos
              realizados.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Inter&eacute;s</p>
          </td>
          <td>
            <p>Corresponde al valor que consolida los montos contenidos dentro del bloque Intereses y cubiertos por cada
              uno de los pagos efectuados.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente
        formulario:</p>

      <p class="TITLE"><img src="../img/INF_006B9.PNG" 692" ></p>



      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Origen</p>
          </td>
          <td>
            <p>Despliega el nombre de la fuente y origen del movimiento a trav&eacute;s del que ingresa la
              transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso</p>
          </td>
          <td>
            <p>Contiene la fecha en se aplicaron cada una de las diferentes transacciones de pago.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n</p>
          </td>
          <td>
            <p>Muestra el nombre de la transacci&oacute;n interna asociado en la opci&oacute;n <A href="MEH_003B.html"
                >Transacciones por empresa</A>.</p>
          </td>
        </tr>
      </table>





      <p><span class="SUBTITULO">Capital:</span>  Desglosa para cada concepto, el valor del capital que est&aacute;
        siendo cubiertos por cada uno de los pagos realizados.</p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Facturado</p>
          </td>
          <td>
            <p>Muestra la porci&oacute;n del diferido, de cada una de las transacciones de consumo involucradas, que ha
              sido cubierta mediante el pago efectuado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Capital no facturado</p>
          </td>
          <td>
            <p>Contiene el valor que ha sido cubierto por el pago, correspondiente al saldo de capital de cada una de
              las transacciones, que se encuentra pendiente por cancelar o diferir.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mora total </p>
          </td>
          <td>
            <p>Indica el monto acumulado, para cada una de las transacciones de consumo, de los diferidos de
              facturaciones anteriores no cubiertos y que han sido cancelados por el pago efectuado. Este campo agrupa
              los capitales mostrado por altura dentro del bloque Capital en mora.</p>
          </td>
        </tr>
      </table>







      <p><span class="SUBTITULO">Inter&eacute;s: </span> Desglosa para cada concepto, el valor de los intereses
        correspondientes a cada una de las transacciones, que est&aacute; siendo cubierto por el pago realizado.</p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Corriente</p>
          </td>
          <td>
            <p>Muestra el valor cubierto por el pago, correspondiente al monto resultante de la liquidaci&oacute;n del
              beneficio esperado por la entidad sobre el saldo del capital vigente de cada una de las transacciones.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mora</p>
          </td>
          <td>
            <p>Campo que despliega el valor cubierto por el pago, correspondiente al monto resultante de la
              liquidaci&oacute;n del beneficio adicional esperado por la entidad sobre el saldo del capital que se
              encontraba en mora de cada una de las transacciones.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Extracontable</p>
          </td>
          <td>
            <p>Contiene el valor cubierto por el pago, correspondiente al monto resultante de la liquidaci&oacute;n del
              beneficio esperado por la entidad sobre el saldo del capital de cada una de las transacciones cuya altura
              de mora superaba los 90 d&iacute;as.</p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Capital en mora:</span>  Grupo de campos que permiten visualizar la
        descomposici&oacute;n del capital en los doce &uacute;ltimos periodos cubiertos o cancelados por cada uno de los
        pagos realizados.</p>



      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Mes 1 ...12</p>
          </td>
          <td>
            <p>Estos campos contienen la porci&oacute;n del saldo por capital de cada una de las transacciones acorde a
              la altura de mora o facturaciones que hayan tenido lugar y cuyos pagos m&iacute;nimos no hayan ocurrido,
              valores que est&aacute;n siendo cubiertos por el pago realizado</p>
          </td>
        </tr>
      </table>


      <p><A href="INH_006B.html" >Formulario principal</A> |<A href="INH_006B1.html"
          >Tapa contable</A> |<A href="INH_006B3.html" >Rechazo cargue</A> |
       <A href="INH_006B4.html" >Fraudes</A> |<A href="INH_006B5.html"
          >Pendientes</A>
      <A href="INH_006B6.html" >Contracargos</A> |<A href="INH_006B7.html"
          >Intercambio</A> |<A href="INH_006B8.html" >Efectos al cobro</A> |
       <A href="INH_006B9.html" >Rechazo cargue convenios</A></p>


  </section>
  <script src="../js/menu.js"></script>
</body>
<footer>
  <div>
    <img class="TITLE" src="../img/logo.PNG">
  </div>
  <p>OpenCard SAS</p>
  <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
  <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>



</footer>
</html>