<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Segmentaci&oacute;n de tarjetas</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Lista de resultados: </span> Esta opci&oacute;n, adem&aacute;s de
        mostrar el resultado de la segmentaci&oacute;n obtenido con base en los criterios de evaluaci&oacute;n
        seleccionados, ofrece funcionalidades adicionales que permiten Eliminar un cliente de la lista, y
        efectuar Variaci&oacute;n del extracupo.</p>
      <p class="PARRAFO">El formulario contiene la opci&oacute;n Eliminar, <a href="#Resultados">Resultados</a>, y dos
        enlaces en la parte superior para regresar a la opci&oacute;n <a href="MEH_017B.html">Segmentaci&oacute;n de
          tarjetas</a> o ir a la opci&oacute;n <a href="MEH_017B2.html">Extracupo</a>.
      <p class="TITLE"><img src="../img/MEF_017B7b.PNG">
      <p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial, que puede ser utilizado para agilizar la b&uacute;squeda
        de un Criterio.</p>
      <p class="TITLE"><img src="../img/MEF_017B7a.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b><span>Nombre
                  lista</span></b></p>
          </td>
          <td>
            <p class="PARRAFO">Si
              el usuario invoca el filtro, el sistema le debe permitir ingresar cualquier
              valor alfanum&eacute;rico de m&aacute;ximo 30 caracteres.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO"><a name="Resultados"></a>Resultados:</span>  Este formulario
        muestra el resultado de la segmentaci&oacute;n obtenido con base en los criterios
        de evaluaci&oacute;n seleccionados.
      </p>
      <p class="PARRAFO">El formulario contiene la opci&oacute;n Eliminar, y un bot&oacute;n
        en la parte superior para regresar al formulario principal.
      <p class="TITLE"><img src="../img/MEF_017B7.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><img src="../img/MEF_017B7c.PNG"></p>
          </td>
          <td>
            <p class="PARRAFO">Eliminar selecci&oacute;n: A trav&eacute;s de este bot&oacute;n el sistema
              permite eliminar los resultados generados en el momento de aplicar la lista.</p>
          </td>
        </tr>
      </table>
      <p><a href="MEH_017B.html">Segmentaci&oacute;n de tarjetas</a><span><b> | </b></span><a href="MEH_017B3.html">
          Adicionar</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<footer>
  <div>
    <img class="TITLE" src="../img/logo.PNG">
  </div>
  <p>OpenCard SAS</p>
  <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
  <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>

</footer>

</html>