<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
 <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Movimiento aplicado a convenios</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Mediante esta opci&oacute;n se facilita la consulta de los diferentes movimientos que afectan
        las cuentas de los convenios, grupos de afinidad o a la de las empresas con las que se han celebrado acuerdos
        comerciales.</p>
      <p class="PARRAFO">El formulario muestra los campos por los cual se podr&aacute; fitrar la informaci&oacute;n de
        convenios a consultar. Esta iinformaci&oacute;n se puede consultar a trav&eacute;s de las opciones Detalle
        movimiento convenio, Detalle movimiento grupos de afinidad, y Detalle movimiento clientes.</p>
      <p class="TITLE"><img src="../img/MEF_031B.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso desde </p>
          </td>
          <td>
            <p class="PARRAFO">En este campo obligatorio en formato YYYY-MM-DD, se ingresa la fecha inicial que delimita
              el periodo para el cual se desea consultar el movimiento aplicado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso hasta </p>
          </td>
          <td>
            <p class="PARRAFO">En este campo obligatorio, en formato YYYY-MM-DD se ingresa la fecha final que delimita
              el periodo para el cual se desea consultar el movimiento aplicado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Esquema de puntos </p>
          </td>
          <td>
            <p class="PARRAFO">Campo con lista de valores de la cual se selecciona el Esquema de puntajes, para
              el cual se requiere consultar el movimiento aplicado, teniendo en cuenta que los programas de puntos han
              sido asociados a los convenios, en la opci&oacute;n <A href="MEH_009B.html">Definici&oacute;n
                  convenios</A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Grupo de afinidad </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores poblada previamente en la opci&oacute;n <a
                  href="MEH_001B2.html">Grupos de afinidad</a><A href="MEH_001E.html#BL_GRUPOAFINIDAD"></A> de la
              Definici&oacute;n de bines, de la cual se
              selecciona el grupo para el cual se pretende conocer el movimiento aplicado en el periodo que se consulta.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sucursal</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo cuenta con lista de valores adjunta, que despliega las oficinas asociadas al
              grupo de afinidad seleccionado en el campo anterior. El campo &uacute;nicamente aplica cuando se
              define previamente un Grupo de afinidad, y &eacute;ste tiene asociada(s) sucursal(es).
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Convenio</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se selecciona, de la lista de valores adjunta, el convenio para el cual se
              espera conocer el movimiento aplicado, en el periodo que se est&aacute; consultando.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de identificaci&oacute;n </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que permite seleccionar el tipo de documento a introducir para efectuar la
              consulta.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero identificaci&oacute;n </p>
          </td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de diecis&eacute;is d&iacute;gitos en el cual se registra el
              n&uacute;mero asociado al tipo de documento elegido en el campo anterior.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle movimiento convenio:</span>  Si el usuario invoca esta
        opci&oacute;n se despliega un formulario con el movimiento de convenios que coincida con el filtro realizado.
      </p>
      <p class="TITLE"><img src="../img/MEF_031B1.PNG"></p>


      <p><span class=" SUBTITULO">Detalle: </span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el
        siguiente formulario: <span>

        </span></p>

      <p class="TITLE"><img src="../img/MEF_031B2.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que muestra la fecha en la cual fue aplicado el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n </p>
          </td>
          <td>
            <p>Contiene el nombre de la transacci&oacute;n aplicada al convenio, grupo de afinidad, o empresa.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor</p>
          </td>
          <td>
            <p>Indica el monto de la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Convenio</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Convenio al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Esquema de puntos </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Grupo afinidad al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tercero </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre de la Empresa a la cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">identificador de movimiento </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que identifica la procedencia del movimiento aplicado. Los valores posibles
              son: <em class="PARRAFO">Programa de fidelidad convenio, Programa de fidelidad grupo de afinidad, Programa
                de fidelidad empresa, Pago comisi&oacute;n venta tarjeta, Costo reposici&oacute;n convenio, Costo
                renovaci&oacute;n convenio, Costo cambio de producto convenio, Costo reexpedici&oacute;n convenio, y
                Comisi&oacute;n colocaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de cuenta / N&uacute;mero de cuenta </p>
          </td>
          <td>
            <p class="PARRAFO">Dupla de campos que contienen el tipo y n&uacute;mero de la cuenta asociada al sujeto
              afectado por el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tarjeta </p>
          </td>
          <td>
            <p>Campo que registra el n&uacute;mero de la tarjeta utilizada para efectuar la transacci&oacute;n.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO">Detalle movimiento grupos de afinidad:</span>  Si el usuario invoca esta
        opci&oacute;n se despliega un formulario con el movimiento de convenios que coincida con el filtro realizado.
      </p>
      <p class="TITLE"><img src="../img/MEF_031B3.PNG"></p>


      <p><span class="SUBTITULO">Detalle: </span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente
        formulario: </p>

      <p><span>

        </span><img src="../img/MEF_031B4.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que muestra la fecha en la cual fue aplicado el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n </p>
          </td>
          <td>
            <p>Contiene el nombre de la transacci&oacute;n aplicada al convenio, grupo de afinidad, o empresa.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor</p>
          </td>
          <td>
            <p>Indica el monto de la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Grupo de afinidad </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Grupo de afinidad al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Esquema de puntos </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Grupo afinidad al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Oficina grupo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre de la oficina a la cual pertenece el Grupo afinidad al cual le fue
              aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tercero </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre de la Empresa a la cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">identificador de movimiento </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que identifica la procedencia del movimiento aplicado. Los valores posibles
              son: <em class="PARRAFO">Programa de fidelidad convenio, Programa de fidelidad grupo de afinidad, Programa
                de fidelidad empresa, Pago comisi&oacute;n venta tarjeta, Costo reposici&oacute;n convenio, Costo
                renovaci&oacute;n convenio, Costo cambio de producto convenio, Costo reexpedici&oacute;n convenio, y
                Comisi&oacute;n colocaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de cuenta / N&uacute;mero de cuenta </p>
          </td>
          <td>
            <p class="PARRAFO">Dupla de campos que contienen el tipo y n&uacute;mero de la cuenta asociada al sujeto
              afectado por el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tarjeta </p>
          </td>
          <td>
            <p>Campo que registra el n&uacute;mero de la tarjeta utilizada para efectuar la transacci&oacute;n.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle movimiento clientes:</span>  Si el usuario invoca esta
        opci&oacute;n se despliega un formulario con el movimiento de convenios que coincida con el filtro realizado.
      </p>
      <p class="TITLE"><img src="../img/MEF_031B5.PNG"></p>


      <p><span class="SUBTITULO">Detalle: </span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente
        formulario: </p>

      <p><span>

        </span><img src="../img/MEF_031B6.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha de proceso </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que muestra la fecha en la cual fue aplicado el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n </p>
          </td>
          <td>
            <p>Contiene el nombre de la transacci&oacute;n aplicada al convenio, grupo de afinidad, o empresa.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Valor</p>
          </td>
          <td>
            <p>Indica el monto de la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cliente</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Cliente al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Esquema de puntos </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre del Grupo afinidad al cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tercero </p>
          </td>
          <td>
            <p class="PARRAFO">Indica el nombre de la Empresa a la cual le fue aplicada la transacci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">identificador de movimiento </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que identifica la procedencia del movimiento aplicado. Los valores posibles
              son: <em class="PARRAFO">Programa de fidelidad convenio, Programa de fidelidad grupo de afinidad, Programa
                de fidelidad empresa, Pago comisi&oacute;n venta tarjeta, Costo reposici&oacute;n convenio, Costo
                renovaci&oacute;n convenio, Costo cambio de producto convenio, Costo reexpedici&oacute;n convenio, y
                Comisi&oacute;n colocaci&oacute;n.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo de cuenta / N&uacute;mero de cuenta </p>
          </td>
          <td>
            <p class="PARRAFO">Dupla de campos que contienen el tipo y n&uacute;mero de la cuenta asociada al sujeto
              afectado por el movimiento.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">N&uacute;mero de tarjeta </p>
          </td>
          <td>
            <p>Campo que registra el n&uacute;mero de la tarjeta utilizada para efectuar la transacci&oacute;n.</p>
          </td>
        </tr>
      </table>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>