<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>  <section>
    <center>
      <div>
        <table>

          <p class="TITLE">Definici&oacute;n de productos - L&iacute;neas de cr&eacute;dito</p>

        </table>

        <p class="PARRAFO">Esta opci&oacute;n que se invoca desde el formulario <a href="MEH_002B.html"
              >Definici&oacute;n de productos</a>, le permite a la entidad adicionar o modificar la
          informaci&oacute;n correspondiente a las l&iacute;neas de cr&eacute;dito del producto y las transacciones
          asociadas con cada una de ellas.</p>
        <p class="TITLE"><img src="../img/MEF_002E18.PNG"></p>

        <p class="PARRAFO">Esta opci&oacute;n tiene un hiperv&iacute;nculo <a href="MEH_002B1.html#BL_TRX_ASOCIADA"
              >Transacciones asociadas a la l&iacute;nea</a> y un bot&oacute;n especial para <a
              href="MEH_002B1.html#BL_ASOCIAR" >Asociar todas las transacciones</a>.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, Adicionar y Detalle.</p>

        <p class="PARRAFO"><b><span class="SUBTITULO">Adicionar:</span></b> si el usuario invoca la opci&oacute;n
          Adicionar se despliega un nuevo formulario con los siguientes campos.</p>

        <p class="TITLE"><img src="../img/MEF_002E19.PNG"></p>

        <div class="PARRAFO">
          <p class="TITLE">Descripci&oacute;n de campos</p>
          <table '>
                    <tr> 
                      <td class="titletable" ><p class="SUBTITULO"><b>L&iacute;nea de cr&eacute;dito
                          </b></p></td>
                      <td><p  class="PARRAFO">Campo 
                          obligatorio con lista de valores de la cual se puede seleccionar la <a href="MEH_001B4.html" >l&iacute;nea de cr&eacute;dito</a> principal del producto.
                        </p></td>
                    </tr>
                    <tr> 
                      <td class="titletable" ><p class="SUBTITULO"><b>Moneda
                         
                         
                          </b></p></td>
                      <td><p  class="PARRAFO">Este 
                      campo obligatorio contiene lista de valores de la cual se selecciona la moneda en la cual se encuentra denominada la l&iacute;nea de cr&eacute;dito a adicionar al nuevo producto.</p></td>
                    </tr>

                    <tr> 
                      <td class="titletable" ><p class="SUBTITULO"><b>Modo de uso
                         
                         
                          </b></p></td>
                      <td><p  class="PARRAFO">Campo obligatorio tipo combo con las opciones Dependiente, Independiente, Especial y Principal para seleccionar el tipo de linea a asociar con el producto</p></td>
                    </tr>

                    <tr> 
                      <td class="titletable" ><p class="SUBTITULO"><b>Tipo cartera
                         
                          </b></p></td>
                      <td><p  class="PARRAFO">Este campo obligatorio contiene lista de valores de donde se puede seleccionar el <a href="NUH_015B.html" >tipo de cartera</a> al cual corresponde la l&iacute;nea de cr&eacute;dito asociada al nuevo producto, de acuerdo con las normas expedidas por el ente u organismo regulador.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>N&uacute;mero de utilizaciones
                               
                      </b></p></td>
                      <td><p  class="PARRAFO"><p>Campo no obligatorio en el cual se registra el n&uacute;mero de veces   que la entidad permite utilizar la l&iacute;nea de cr&eacute;dito, en el   lapso de tiempo espec&iacute;fico definido en el siguiente campo.</p>
                      </td></p>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Periodo utilizaciones
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">En este campo num&eacute;rico no obligatorio se registra el n&uacute;mero de periodos o facturaciones que se deben tener en cuenta al momento de validar el n&uacute;mero de utilizaciones autorizadas por la entidad para la l&iacute;nea de cr&eacute;dito asociada al nuevo producto.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Prioridad aplicaci&oacute;n de pagos
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">Campo num&eacute;rico no obligatorio en el que se determina el orden o jerarqu&iacute;a asignado a la l&iacute;nea de cr&eacute;dito en caso de ser requerido de acuerdo con lo parametrizado por la entidad  en la opci&oacute;n <a href="CAH_007B.html" >Prioridad aplicaci&oacute;n de pagos</a>.</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>% Sobrecupo autorizado
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">Este campo no obligatorio  permite registrar el porcentaje calculado sobre el cupo de la l&iacute;nea asociada al nuevo producto, en que pueden excederse los   consumos o utilizaciones efectuados. Es excluyente con el campo Valor sobrecupo autorizado</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Valor sobrecupo autorizado
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">Campo mutuamente excluyente con el anterior y en el cual se indica el valor m&aacute;ximo en que pueden excederse los consumos o utilizaciones efectuados para la l&iacute;nea. Es un campo num&eacute;rico de hasta 14 enteros y 2 decimales.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Cupo en m&uacute;ltiplos de
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">En  este campo obligatorio tipo combo se indica la manera como se   calcular&aacute; y otorgar&aacute; el cupo para la l&iacute;nea en el proceso de solicitud o asignaci&oacute;n de los cupos para la misma. Al momento de asignarle valor a este campo se debe tener en cuenta la   moneda en la cual est&aacute; expresada la l&iacute;nea asociada al al nuevo producto    por cuanto no es lo mismo asignarle y/o aumentarle a un cupo $10.000.00 que   U$10.000.00.</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Ajuste cupos
                      </b></p></td>
                      <td><p  class="PARRAFO">Campo obligatorio tipo combo en el cual se selecciona entre Truncar o Redondear, la manera en que el sistema debe hacer el ajuste de los cupos solicitados / asignados de acuerdo con el m&uacute;ltiplo indicado en el campo anterior.que indica la calificaci&oacute;n externa de la tarjeta con la cual lleg&oacute; la informaci&oacute;n procesada y registrada en la cuenta contable.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Cupo m&aacute;ximo
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">En este campo obligatorio de hasta 14 enteros y 2 decimales se registra el monto m&aacute;ximo que se le puede asignar como cupo a la l&iacute;nea asociada al nuevo producto.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Cobertura
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">Campo obligatorio tipo combo en el cual se selecciona entre Local o Internacional el uso permitido para la l&iacute;nea de cr&eacute;dito asociada al nuevo producto.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Reporta compensador
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">En este campo obligatorio tipo check se  indica si dentro de los   archivos de refresco enviados a las <A href="NUH_033B.html" >franquicias</A> o <A href="NUH_054B.html" >compensadores</A> se incluye o no el disponible de la   l&iacute;nea; cuando no est&aacute; marcado, significa que la entidad autoriza directamente las   transacciones asociadas a la l&iacute;nea de cr&eacute;dito.</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="titletable" ><p class="SUBTITULO"><b>Transacci&oacute;n afecta extracupo
                               
                      </b></p></td>
                      <td><p  class="PARRAFO">Campo obligatorio que  indica si las transacciones asociadas a la l&iacute;nea de cr&eacute;dito afectan el <a href="SCH_031B.html" >extracupo</a> de la tarjeta.</p></td>
                    </tr>
                  </table>
                  <p  class="PARRAFO">    
                  <p><b ><span class="SUBTITULO">Actualizar:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, se despliega un formulario en el cual los &uacute;nicos campos NO modificables son L&iacute;nea de cr&eacute;dito , Moneda y Modo de uso.</p>
                  <p class="TITLE"><img src="../img/MEF_002E20.PNG"></p>
                  <p  class="PARRAFO">
                  <p><b ><span class="SUBTITULO">Detalle:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Detalle, se despliega un formulario con toda la informaci&oacute;n del registro y en el cual ninguno de sus campos es modificable.</p>
                  <p class="TITLE"><img src="../img/MEF_002E21.PNG"></p>
                 
                  <div  class="PARRAFO">
                    <p class="PARRAFO" ><a name="BL_TRX_ASOCIADA"></a><span class="SUBTITULO"><span 
        ><b >Transacciones asociadas a la l&iacute;nea</b></span><span 
        >:</span></span><span 
        > si el usuario selecciona una l&iacute;nea de cr&eacute;dito e invoca este hiperv&iacute;nulo,  se despliega un nuevo formulario en el cual la entidad puede determinar las transacciones que se permite efectuar para cada una de las l&iacute;neas asociadas al producto.</p>
                    
                    <p class="TITLE"><img src="../img/MEF_002E22.PNG"></p>
        
                    <p  class="PARRAFO">El formulario contiene las opciones Eliminar y Adicionar.</p>
                    <p  class="PARRAFO"><b><span class="SUBTITULO">Adicionar:</span></b> si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
                    <p class="TITLE"><img src="../img/MEF_002E23.PNG"></p>
                    
                    <div  class="PARRAFO">
                      <p  class="TITLE">Descripción de campos</p>
                      <table '>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO"><b>Transacci&oacute;n interna
                  </b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio con lista de valores de la cual se puede seleccionar la <a href="MEH_003B.html"
                      >transacci&oacute;n interna</a> que va a ser asociada con la l&iacute;nea de
                  cr&eacute;dito. Desde el punto de vista pr&aacute;ctico, son las transacciones que est&aacute;n
                  permitidas o autorizadas por la entidad para la l&iacute;nea de cr&eacute;dito asociada con el nuevo
                  producto.</p>
              </td>
            </tr>
          </table>
          
        </div>
        <p class="TITLE">Botones especiales</p>
        <p class="PARRAFO"><a name="BL_ASOCIAR"></a><span class="SUBTITULO"><span><b>Asociar</b></span><span> todas
              l</span><span>as transacciones</span><span>:</span></span>  si el usuario selecciona una
          l&iacute;nea de cr&eacute;dito y utiliza este bot&oacute;n especial, el sistema asociar&aacute; a la
          l&iacute;nea de cr&eacute;dito todas las <a href="MEH_003B.html" >transacciones
              internas</a> existentes en la base de datos y que actualmente no se encuentren asociadas a ninguna de
          las otras l&iacute;neas que tenga el producto. Una vez ejecutado este proceso, el sistema no permite hacer la
          reversi&oacute;n autom&aacute;tica y en grupo de dichas transacciones y en caso de errores, la
          depuraci&oacute;n debe hacerse manualmente seleccionando una a una las diferentes transacciones asociadas y
          borrarlas mediante la opci&oacute;n Eliminar.
        </p>
        <p class="TITLE"><img src="../img/ASOCIAR TRX.PNG"></p>
      </div>
    </center>
  </section>
  <script src="../js/menu.js"></script>

  <footer>
    <div>
      <img class="TITLE" src="../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°, Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>

  </footer>
</body>

</html>