<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Premios puntajes</p>

      <p>Mediante esta función se pueden definir los incentivos o premios a los cuales el cliente se hace acreedor, al acumular puntos por los consumos efectuados por este, en los establecimientos que pertenecen a cualquiera de los distintos <a href="MEH_006B.html">esquemas
          de puntaje</a> definidos por la entidad. Dichos premios pueden estar representados en:  electrodomésticos, pasajes aéreos, beneficios o abonos a sus tarjetas, entre otros.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta con un filtro inicial de búsqueda:</p>
        <p class="TITLE"><img src="../img/MEF_013B4.PNG"></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">C&oacute;digo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo 7 dígitos, mediante el cual, digitando el código del premio, se puede realizar la consulta.</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Descripci&oacute;n</td>
          <td>
            <p class="PARRAFO">	
              Campo alfanumérico de hasta 60 posiciones, mediante el cual, digitando el nombre del premio o parte de él, se puede realizar la consulta.</p>
          </td>
        </tr>
      </table>

      <p class="TITLE"><img src="../img/MEF_013B.PNG"></p>

      <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar,
        Adicionar y Detalle.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si
        el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con
        los siguientes campos:</span> 
      </p>
      <p class="TITLE"><img src="../img/MEF_013B1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">C&oacute;digo</span></span></p>
          </td>
          <td>
            <p>Campo num&eacute;rico de m&aacute;ximo 7 d&iacute;gitos, obligatorio, en el que se registra el
              c&oacute;digo asignado a cada uno de los premios que puede obtener el cliente, y el que servir&aacute; de
              referencia para que la entidad pueda ejercer control sobre las existencias de los mismos.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripci&oacute;n</span></p>
          </td>
          <td>
            <p class="PARRAFO">Una vez registrado el c&oacute;digo del premio, en este campo alfanum&eacute;rico de
              hasta 60 posiciones, obligatorio, se registra el nombre o descriptivo asociado a cada c&oacute;digo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Saldo inventario </span></span></p>
          </td>
          <td>
            <p>Campo en cual se registra la cantidad de unidades disponibles por clase de premio. Este campo luego de
              ser parametrizado, se actualiza tanto por la <A href="MEH_014B.html">redenci&oacute;n de
                  premios</A> hechas por los clientes como cuando &eacute;stos son <A
                  href="MEH_015B.html">reversados</A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cantidad de reorden </span></span></p>
          </td>
          <td>
            <p>En este campo num&eacute;rico de 10 d&iacute;gitos, no obligatorio, se define el saldo m&iacute;nimo de
              unidades que la entidad desea tener disponibles para ser entregadas a los clientes, con el fin de asegurar
              las existencias suficientes para cumplir la demanda de los mismos. De acuerdo con la cantidad expresada en
              este campo la entidad podr&aacute; realizar un nuevo pedido de &eacute;stos si as&iacute; lo requiere para
              lo cual el sistema generar&aacute; un mensaje de advertencia en la opci&oacute;n <A
                  href="MEH_014B.html">redenci&oacute;n premios</A> cuando el saldo de unidades ha alcanzado el
              valor registrado en este campo o incluso si es inferior.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Puntos requeridos </span></span></p>
          </td>
          <td>
            <p>Campo num&eacute;rico de 7 d&iacute;gitos, obligatorio, en el que se registra la cantidad de puntos que
              necesita un cliente para poder hacerse acreedor a cada premio parametrizado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Plan millas </span></span></p>
          </td>
          <td>
            <p>En este campo se define si el premio previamente registrado corresponde a millas o no, lo que determina
              que &eacute;stas se puedean revertir a trav&eacute;s de la opci&oacute;n <A
                  href="MEH_015B.html">Reversi&oacute;n premios</A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Referencia millas </span></span></p>
          </td>
          <td>
            <p>En este campo la entidad inscribe las caracter&iacute;sticas propias del premio que se ha registrado
              previamente tales como c&oacute;digo de referencia, serie o cualquier dato que identifique dicho producto.
            </p>
          </td>
        </tr>
      </table>

      <p><span class="SUBTITULO">Actualizar:</span>  Si el usuario
        invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual
        los &uacute;nicos campos modificables son los siguientes:</p>
      <p class="TITLE"><img src="../img/MEF_013B2.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca
        la opci&oacute;n Detalle se despliega el siguiente formulario.

        </span></p>
      <p class="TITLE"><img src="../img/MEF_013B3.PNG"></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>