<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script> <section>

      <div>
        <p class="TITLE">Definición de productos - Líneas de crédito</p>
        <p class="PARRAFO">Esta opción que se invoca desde el formulario <a
            href="MEH_002B.html">Definición de productos</a>, le permite a la
          entidad adicionar o modificar la
          información correspondiente a las líneas de crédito del producto y las
          transacciones
          asociadas con cada una de ellas.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E18.svg"></p>

        <p class="PARRAFO">Esta opción tiene un hipervínculo <a
            href="MEH_002B1.html#BL_TRX_ASOCIADA">Transacciones asociadas a la
            línea</a> y un botón especial para <a
            href="MEH_002B1.html#BL_ASOCIAR">Asociar todas las
            transacciones</a>.</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
          Eliminar, Adicionar y Detalle.</p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> si el
          usuario invoca la opción
          Adicionar se despliega un formulario con los siguientes campos.</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E19.svg"></p>

        <div class="PARRAFO">
          <p class="TITLE">Descripción de campos</p>
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Línea de crédito
                </p></td>
              <td><p class="PARRAFO">Campo
                  obligatorio con lista de valores de la cual se puede
                  seleccionar la <a href="MEH_001B4.html">línea de crédito</a>
                  principal del producto.
                </p></td>
            </tr>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Moneda

                </p></td>
              <td><p class="PARRAFO">Este
                  campo obligatorio contiene lista de valores de la cual se
                  selecciona la moneda en la cual se encuentra denominada la
                  línea de crédito a adicionar al nuevo producto.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Modo de uso

                </p></td>
              <td><p class="PARRAFO">Campo obligatorio tipo combo con las
                  opciones Dependiente, Independiente, Especial y Principal para
                  seleccionar el tipo de linea a asociar con el
                  producto</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Tipo cartera

                </p></td>
              <td><p class="PARRAFO">Este campo obligatorio contiene lista de
                  valores de donde se puede seleccionar el <a
                    href="NUH_015B.html">tipo de cartera</a> al cual corresponde
                  la línea de crédito asociada al nuevo producto, de acuerdo con
                  las normas expedidas por el ente u organismo
                  regulador.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Número de
                  utilizaciones

                </p></td>
              <td><p class="PARRAFO"><p class="PARRAFO">Campo no obligatorio en
                    el cual se registra el número de veces que la entidad
                    permite utilizar la línea de crédito, en el lapso de tiempo
                    específico definido en el siguiente campo.</p>
                </td></p>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Periodo utilizaciones

                </p></td>
              <td><p class="PARRAFO">En este campo numérico no obligatorio se
                  registra el número de periodos o facturaciones que se deben
                  tener en cuenta al momento de validar el número de
                  utilizaciones autorizadas por la entidad para la línea de
                  crédito asociada al nuevo producto.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Prioridad aplicación
                  de pagos

                </p></td>
              <td><p class="PARRAFO">Campo numérico no obligatorio en el que se
                  determina el orden o jerarquía asignado a la línea de crédito
                  en caso de ser requerido de acuerdo con lo parametrizado por
                  la entidad en la opción <a href="CAH_007B.html">Prioridad
                    aplicación de pagos</a>.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">% Sobrecupo autorizado

                </p></td>
              <td><p class="PARRAFO">Este campo no obligatorio permite registrar
                  el porcentaje calculado sobre el cupo de la línea asociada al
                  nuevo producto, en que pueden excederse los consumos o
                  utilizaciones efectuados. Es excluyente con el campo Valor
                  sobrecupo autorizado</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Valor sobrecupo
                  autorizado

                </p></td>
              <td><p class="PARRAFO">Campo mutuamente excluyente con el anterior
                  y en el cual se indica el valor máximo en que pueden excederse
                  los consumos o utilizaciones efectuados para la línea. Es un
                  campo numérico de hasta 14 enteros y 2 decimales.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Cupo en múltiplos de

                </p></td>
              <td><p class="PARRAFO">En este campo obligatorio tipo combo se
                  indica la manera como se calculará y otorgará el cupo para la
                  línea en el proceso de solicitud o asignación de los cupos
                  para la misma. Al momento de asignarle valor a este campo se
                  debe tener en cuenta la moneda en la cual está expresada la
                  línea asociada al al nuevo producto por cuanto no es lo mismo
                  asignarle y/o aumentarle a un cupo $10.000.00 que
                  U$10.000.00.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Ajuste cupos
                </p></td>
              <td><p class="PARRAFO">Campo obligatorio tipo combo en el cual se
                  selecciona entre Truncar o Redondear, la manera en que el
                  sistema debe hacer el ajuste de los cupos solicitados /
                  asignados de acuerdo con el múltiplo indicado en el campo
                  anterior.que indica la calificación externa de la tarjeta con
                  la cual llegó la información procesada y registrada en la
                  cuenta contable.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Cupo máximo

                </p></td>
              <td><p class="PARRAFO">En este campo obligatorio de hasta 14
                  enteros y 2 decimales se registra el monto máximo que se le
                  puede asignar como cupo a la línea asociada al nuevo
                  producto.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Cobertura

                </p></td>
              <td><p class="PARRAFO">Campo obligatorio tipo combo en el cual se
                  selecciona entre Local o Internacional el uso permitido para
                  la línea de crédito asociada al nuevo producto.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Reporta compensador

                </p></td>
              <td><p class="PARRAFO">En este campo obligatorio tipo check se
                  indica si dentro de los archivos de refresco enviados a las <a
                    href="NUH_033B.html">franquicias</a> o <a
                    href="NUH_054B.html">compensadores</a> se incluye o no el
                  disponible de la línea; cuando no está marcado, significa que
                  la entidad autoriza directamente las transacciones asociadas a
                  la línea de crédito.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Transacción afecta
                  extracupo

                </p></td>
              <td><p class="PARRAFO">Campo obligatorio que indica si las
                  transacciones asociadas a la línea de crédito afectan el <a
                    href="SCH_031B.html">extracupo</a> de la tarjeta.</p></td>
            </tr>
          </table>
          <p class="PARRAFO">
            <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> si el
              usuario selecciona un registro e invoca la opción Actualizar, se
              despliega un formulario en el cual los únicos campos NO
              modificables son Línea de crédito , Moneda y Modo de uso.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E20.svg"></p>
            <p class="PARRAFO">
              <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> si el
                usuario selecciona un registro e invoca la opción Detalle, se
                despliega un formulario con toda la información del registro y
                en el cual ninguno de sus campos es modificable.</p>
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E21.svg"></p>

              <div class="PARRAFO">
                <p class="PARRAFO"><a name="BL_TRX_ASOCIADA"></a><span
                    class="SUBTITULO">Transacciones asociadas a la
                      línea</span>:</span></span> si el usuario
                    selecciona una línea de crédito e invoca este hipervínulo,
                    se despliega un formulario en el cual la entidad puede
                    determinar las transacciones que se permite efectuar para
                    cada una de las líneas asociadas al producto.</p>

                  <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E22.svg"></p>

                  <p class="PARRAFO">El formulario contiene los enlaces:
                    Eliminar y Adicionar.</p>
                  <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
                    Al activar ese enlace se despliega un formulario con los
                    siguientes campos.</p>
                  <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_002E23.svg"></p>

                  <div class="PARRAFO">
                    <p class="TITLE">Descripción de campos</p>
                    <table>
                      <tr>
                        <td class="titletable">
                          <p class="SUBTITULO">Transacción interna
                          </p>
                        </td>
                        <td>
                          <p class="PARRAFO">Campo
                            obligatorio con lista de valores de la cual se puede
                            seleccionar la <a href="MEH_003B.html">transacción
                              interna</a> que va a ser asociada con la línea de
                            crédito. Desde el punto de vista práctico, son las
                            transacciones que están
                            permitidas o autorizadas por la entidad para la
                            línea de crédito asociada con el nuevo
                            producto.</p>
                        </td>
                      </tr>
                    </table>

                  </div>
                  <p class="TITLE">Botones especiales</p>
                  <p class="PARRAFO"><a name="BL_ASOCIAR"></a><span
                      class="SUBTITULO">Asociar</span> todas
                    l</span>as transacciones</span>:</span></span> si el usuario
            selecciona una
            línea de crédito y utiliza este botón especial, el sistema asociará
            a la
            línea de crédito todas las <a href="MEH_003B.html">transacciones
              internas</a> existentes en la base de datos y que actualmente no
            se encuentren asociadas a ninguna de
            las otras líneas que tenga el producto. Una vez ejecutado este
            proceso, el sistema no permite hacer la
            reversión automática y en grupo de dichas transacciones y en caso de
            errores, la
            depuración debe hacerse manualmente seleccionando una a una las
            diferentes transacciones asociadas y
            borrarlas mediante la opción Eliminar.
          </p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/ASOCIAR TRX.svg"></p>
        </div>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>