<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Definici&oacute;n de productos - Par&aacute;metros de excepci&oacute;n</p>
                        </div>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO">Esta opci&oacute;n que se invoca desde el formulario <a href="MEH_002B.html"
                        >Definici&oacute;n de productos</a> se habilita &uacute;nicamente cuando en en
                el formulario <A href="NUH_055B.html" >par&aacute;metros operativos</A> en el
                campo Excepci&oacute;n geogr&aacute;fica se encuentra seleccionada una opci&oacute;n diferente
                a No aplica y le permite a la entidad parametrizar aquellas ubicaciones geogr&aacute;ficas para
                las cuales aplican condiciones especiales en los procesos de liquidaci&oacute;n de intereses. </p>
            <p class="TITLE"><img src="../img/MEF_002E38.PNG" 554"></p>

            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar y Adicionar.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> si el usuario invoca la opci&oacute;n
                Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/MEF_002E39.PNG" 484" height="111"></p>

            <div class="PARRAFO">
                <p class="TITLE">Descripci&oacute;n de campos</p>
                <table>
                    <tr>
                        <td class="titletable">
                            <p class="SUBTITULO">Estado
                                </p>
                        </td>
                        <td>
                            <p class="PARRAFO">Campo
                                obligatorio con lista de valores de la cual se selecciona el estado o ubicaci&oacute;n
                                geogr&aacute;fica para la cual aplican las condiciones de excepci&oacute;n que se van a
                                definir.</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="titletable">
                            <p class="SUBTITULO">M&eacute;todo calcular inter&eacute;s


                                </p>
                        </td>
                        <td>
                            <p class="PARRAFO">Este
                                campo obligatorio tipo combo permite seleccionar entre SPDIC (Saldo Promedio
                                Diario Incluye Compras) y SPDEC (Saldo Promedio Diario Excluye Compras) la
                                forma como se debe liquidar el inter&eacute;s para el estado se&ntilde;alado en el campo
                                anterior.</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="titletable">
                            <p class="SUBTITULO">Indicador econ&oacute;mico


                                </p>
                        </td>
                        <td>
                            <p class="PARRAFO">Campo obligatorio con lista de valores de la cual se selecciona el <a
                                        href="NUH_043B.html" >Indicador econ&oacute;mico</a> a
                                utilizar para liquidar el inter&eacute;s correspondiente.</p>
                        </td>
                    </tr>
                </table>
                <p class="PARRAFO">
                <p><span class="SUBTITULO">Actualizar:</span> si el usuario selecciona un registro e invoca la
                    opci&oacute;n Actualizar, se despliega un formulario en el cual los campos modificables son
                    M&eacute;todo calcular inter&eacute;s e Indicador econ&oacute;mico.</p>
                <p class="TITLE"><img src="../img/MEF_002E40.PNG" 465" height="113"></p>
                <p class="PARRAFO">
    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>