<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Definición de bines</p>

        <p class="PARRAFO"><span class="SUBTITULO">Segmentos:</span> Segundo nivel de la
          parametrización
          en el que se relacionan las diferentes porciones o nichos de mercado
          en que
          clasifica o agrupa a sus clientes la entidad financiera o
          comercial.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar,
          y Adicionar. Adicionalmente, se puede regresar a la opción <a
            href="MEH_001B.html" target="_self">Definición
            de Bines</a>, <a href="MEH_001B2.html" target="_self">Grupos de
            afinidad</a> a través del botón volver de la parte
          superior
          izquierda.</p>
        <p class="TITLE"><img src="../img/MEF_001E5.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si
          el usuario invoca la opción Adicionar se despliega un
          formulario con
          los siguientes campos<span>:</p>
        <p class="TITLE"><img src="../img/MEF_001E6.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Código</p></td>
            <td><p class="PARRAFO">Campo
                numérico de tres dígitos, obligatorio, que
                corresponde
                al código asignado a cada una de las porciones o
                nichos.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Descripción</p></td>
            <td><p class="PARRAFO">En
                este campo alfanumérico de 30 posiciones, obligatorio, se
                registra
                el nombre asociado al código de cada porción o
                nicho.</p></td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Si el usuario invoca la opción Actualizar se despliega un
            nuevo formulario
            en el cual el único campo modificable es: </span>
          Descripción.</p>
        <p class="TITLE"><img src="../img/MEF_001E7.PNG"></p>

        <p class="PARRAFO"><a href="MEH_001B.html" target="_self">Volver a Definición
            de Bines</a><span> | </span><a href="MEH_001B2.html"
            target="_self">Grupos
            de afinidad</a><span> | </span><a href="MEH_001B3.html"
            target="_self">Cuentas
            de depósito por bin</a></p>
        <p class="PARRAFO"></p>
      </section>
      <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </html>