<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Definici&oacute;n de productos - Par&aacute;metros especiales de mora</p>
                  </div></td>
              </tr>
            </table>
            
            <p  class="PARRAFO">Esta opci&oacute;n que se invoca desde el formulario <a href="MEH_002B.html" >Definici&oacute;n de productos</a>, le permite a la entidad  asociar el c&oacute;digo de bloqueo que va a afectar a las tarjetas   internacionales pertenecientes al producto que se est&aacute; parametrizando, de acuerdo con la altura de mora y el monto de la   misma. </p>
           <p class="TITLE"><img src="../img/MEF_002E29.PNG"634" height="364"></p>

            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, Adicionar y Detalle.</p>
            <p  class="PARRAFO"><b ><span class="SUBTITULO">Adicionar:</span></b> si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/MEF_002E30.PNG"405" height="319"></p>

            <div  class="PARRAFO">
              <p  class="TITLE">Descripci&oacute;n de campos</p>
              <table>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Rango inicial antiguedad
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                  num&eacute;rico de hasta 3 d&iacute;gitos, obligatorio, en el cual se registra la antiguedad m&iacute;nima expresada en a&ntilde;os que debe tener la tarjeta para poder ser afectada con determinado bloqueo.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Rango final antiguedad
                     
                     
                      </b></p></td>
                  <td><p  class="PARRAFO">Este 
                  campo num&eacute;rico de 3 d&iacute;gitos, obligatorio, permite indicar la antiguedad m&aacute;xima expresada en a&ntilde;os que debe tener la tarjeta para poder ser afectada con el bloqueo. </p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Periodo inicial mora
                     
                     
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo obligatorio de hasta 2 enteros en el que se registra la altura de mora m&iacute;nima que debe tener la tarjeta para poder ser afectada con determinado bloqueo.</p></td>
                </tr>
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Periodo final mora
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">En este campo de 2 d&iacute;gitos, obligatorio, se indica la altura m&aacute;xima de mora que puede presentar la tarjeta para que se le pueda aplicar el bloqueo.</p></td>
                </tr>
   
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Monto m&iacute;nimo mora
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">Campo obligatorio de 14 enteros y 2 decimales en el que se registra el monto m&iacute;nimo del capital en mora que debe presentar la tarjeta para poder ser afectada con el bloqueo.</p></td>
                </tr>
   
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Monto m&aacute;ximo mora
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">En este campo obligatorio de 14 enteros y 2 decimales, se indica el monto m&aacute;ximo de capital en mora que puede tener la tarjeta para que se le pueda explicar el bloqueo.</p></td>
                </tr>
   
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Rango inicial cupo
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">Campo obligatorio de 14 enteros y 2 decimales en el que se registra el monto m&iacute;nimo que debe tener asignado como cupo la tarjeta para poder ser afectada con el bloqueo.</p></td>
                </tr>
   
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Rango final cupo
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">En este campo obligatorio de 14 enteros y 2 decimales  se indica  el monto m&aacute;ximo que puede tener como cupo asignado la tarjeta para que se le pueda aplicar el bloqueo.</p></td>
                </tr>
   
                <tr>
                  <td class="titletable" ><p class="SUBTITULO"><b>Bloqueo
                           
                           
                  </b></p></td>
                  <td><p  class="PARRAFO">Campo obligatorio con lista de valores, de la cual se selecciona el <a href="CAH_002B.html" >bloqueo</a> que se le va a aplicar a la tarjeta cuando cumpla todas las dem&aacute;s condiciones indicadas en los campos anteriores.</p></td>
                </tr>
              </table>
              <p  class="PARRAFO">    
              <p><b ><span class="SUBTITULO">Actualizar:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, se despliega un formulario en el cual el &uacute;nico campo modificable es el Bloqueo.</p>
              <p class="TITLE"><img src="../img/MEF_002E31.PNG"405" height="319"></p>
              <p  class="PARRAFO">    
              <p  class="PARRAFO"><b ><span class="SUBTITULO">Detalle:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Detalle, se despliega un formulario con toda la informaci&oacute;n del registro y en el cual ninguno de los campos es modificable.<div  class="PARRAFO">
                <p class="TITLE"><img src="../img/MEF_002E32.PNG"380" ></p>
              </div>
            </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>