<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Esquemas de puntajes - Par&aacute;metros
                  adicionales II </p>
              
        <p><span class="SUBTITULO">Parametros adicionales :</span> En este
          espacio la entidad define, de una
          parte, los lineamientos especiales correspondientes al mecanismo de
          redenci&oacute;n de puntos y, de otro lado,
          la secuencia y condiciones de orden y si aplica o no la fuente de
          generaci&oacute;n de los puntos. Es importante
          tener en cuenta que la relaci&oacute;n esquema puntajes/mecanismo de
          redenci&oacute;n es uno a uno, o en otras
          palabras, es posible asociar un &uacute;nico mecanismo de
          redenci&oacute;n por esquema.</p>
        <p>A trav&eacute;s de los botones Salvar o Cancelar, se regresa al
          formulario principal de <a
            href="MEH_006B.html">Esquemas de puntajes</a>. </p>
        <p class="TITLE"><img src="../img/MEF_006B6.PNG"></p>

        <p>Redenci&oacute;nCampos que contienen los par&aacute;metros para
          identificar la manera como
          se har&aacute;n efectivos los puntos obtenidos por los clientes y la
          frecuencia de ejecuci&oacute;n.</p>

        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Mecanismo</span></span></p>
          </td>
          <td>
            <p class="PARRAFO">Determina la manera mediante la cual se
              har&aacute;n efectivos los puntos acumulados de que disponga el
              cliente a la fecha del corte, y que pueden ser redimidos de tres
              maneras: Abono, premio o
              interfaz. El mecanismo de abono se refiere a la
              transformaci&oacute;n de los puntos
              acumulados, mediante la aplicaci&oacute;n de un factor de
              conversi&oacute;n definido en el campo
              siguiente, en una transacci&oacute;n de pago que se
              aplicar&aacute; al cliente en el proceso diario del
              d&iacute;a h&aacute;bil siguiente. </p>
            <p>El mecanismo de premio permite <a
                href="MEH_014B.html">redimir</a> los puntos
              acumulados mediante la entrega al cliente de cualesquiera de los
              art&iacute;culos definidos en la
              opci&oacute;n <a href="MEH_013B.html">Premios puntaje</a> de este
              m&oacute;dulo, siempre que el
              cliente disponga de la cantidad de puntos requeridos para hacer
              efectivo dicho premio. </p>
            <p>El mecanismo de interface se refiere a las millas a que puede
              tener derecho el cliente siempre y
              cuando el esquema al que pertenezca tenga definido este mecanismo
              de acumulaci&oacute;n y disponga de la
              cantidad de puntos requerida para hacer efectivo el premio, acorde
              con lo indicado en la opci&oacute;n
              <a href="MEH_013B.html">Premios puntaje</a> de este m&oacute;dulo.
              La interface en
              cuesti&oacute;n corresponde a un archivo plano con la
              informaci&oacute;n suficiente y necesaria para poder
              administrar, a trav&eacute;s de un tercero (si es del caso), la
              redenci&oacute;n de los puntos mediante
              &eacute;ste mecanismo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Moneda abono </p>
          </td>
          <td>
            <p class="PARRAFO">Campo con lista de valores de la que se debe
              seleccionar el c&oacute;digo de la <a
                href="NUH_005B.html">Moneda</a> en la cual se convertir&aacute;
              la transacci&oacute;n de pago
              cuando el mecanismo de redenci&oacute;n corresponda a abono,
              permitiendo de esta manera definir
              una moneda diferente a la se&ntilde;alada como referencia para la
              administraci&oacute;n de los puntos
              (metas).</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Interfaz</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee una lista de valores poblada de
              acuerdo a las necesidades de la entidad,<a
                href="IFH_002B.html"></a> desde la cual se debe seleccionar la
              interface asociada que genera el
              archivo plano con la informaci&oacute;n requerida para la
              redenci&oacute;n de los puntos en millas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Factor conversi&oacute;n puntos/valor </p>
          </td>
          <td>
            <p class="PARRAFO">Una vez el mecanismo de redenci&oacute;n
              seleccionado corresponda a abono, en este campo se
              determina el valor de cada unidad monetaria a la cual se van a
              convertir los puntos acumulados, en otras
              palabras, se multiplica el n&uacute;mero de puntos disponibles a
              redimir por el valor aqu&iacute; indicado
              y ese ser&aacute; el monto m&aacute;ximo del abono a aplicar al
              cliente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacci&oacute;n interna </p>
          </td>
          <td>
            <p class="PARRAFO">Este campo contiene una lista de valores poblada
              a trav&eacute;s de la opci&oacute;n <a
                href="MEH_003B.html">Transacciones por empresa</a> del
              m&oacute;dulo de Mercadeo, de la cual se
              debe seleccionar el c&oacute;digo de la transacci&oacute;n con la
              cual se identificar&aacute; el concepto
              de aplicaci&oacute;n de pago al cliente, cuando el mecanismo de
              redenci&oacute;n corresponda a
              abono.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Periodicidad</p>
          </td>
          <td>
            <p class="PARRAFO">Determina la frecuencia o el n&uacute;mero de
              per&iacute;odos (expresado en meses) en los cuales se
              realiza el proceso de liquidaci&oacute;n de puntos para
              convertirlos en transacci&oacute;n de pago
              aplicable al cliente, cuando el mecanismo de redenci&oacute;n
              corresponda a abono o interface. El sistema
              eval&uacute;a &eacute;ste par&aacute;metro al momento de ordenarse
              la <a
                href="OPH_002B.html">ejecuci&oacute;n del proceso</a>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Puntos m&iacute;nimos redenci&oacute;n</p>
          </td>
          <td>
            <p class="PARRAFO">Determina la cantidad de puntos minimos para ser
              redimibles segun catalogo de premios. </p>
          </td>
        </tr>
      </table>
    </section>
    <script src="../js/menu.js"></script>
  </body>
  <div id="footerContainer"></div>
  <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>