<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
                     <p class="TITLE">Tarjetas restringidas</p>
                    
            <p class="PARRAFO"><span class="SUBTITULO">Mediante esta funcionalidad la entidad puede restringir, por Bin, rangos de números de tarjetas de esos
                 Bines para que el sistema, al momento de asignar nuevos números de tarjetas, excluya dichos rangos. Además de: Actualizar, Eliminar y Adicionar,
                  el formulario cuenta con otros tres enlaces:<a href="MEH_001B.html">Definición de Bines, </a>
                  <a href="MEH_001B1.html">Segmentos, </a><a
                  href="MEH_001B2.html">Grupos de
                  Afinidad</a>. </p>
            <p class="PARRAFO">El formulario contiene los enlaces: Eliminar y Adicionar.
                Adicionalmente, se puede regresar a la opción <a href="MEH_001B.html"
                    target="_self">Definición
                    de Bines</a> a través del botón volver de la parte superior
                izquierda.</p>
            <p class="TITLE"><img src="../img/MEF_001E15.PNG"></p>
            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace
                se despliega un formulario con los siguientes campos:</span> 
            </p>
            <p class="TITLE"><img src="../img/MEF_001E16.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Tipo
                                    de cuenta</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Lista de valores que contiene tres opciones: Cuenta de ahorros, Cuenta
                            corriente, y Rotativo. </p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Código
                                    cuenta </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Lista de valores con campo alfanumérico de dos caracteres, en el cual
                            se digita el código para asignar a la nueva cuenta, definida en la opción <a
                                href="MEH_000B.html">Tipos de cuenta</a>.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><a href="MEH_001B.html" target="_self">Volver a Definición
                    de Bines</a> | </span><a href="MEH_001B1.html">Segmentos</a>
                        | </span><a href="MEH_001B2.html">Grupos de afinidad</a></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>