<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Segmentación de tarjetas</p>

      <p class="PARRAFO">Esta opción facilita a la entidad el obtener información
        específica sobre los clientes y sus respectivos productos, mediante
        la creación de conjuntos de datos interrelacionados, para lo cual solo
        se necesita seleccionar los criterios requeridos. Dado el carácter reservado que algunas
        de las consultas realizadas pueda tener, la forma o pantalla permite al usuario
        que la genera, restringir el acceso a la misma.</p>
      <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  El formulario cuenta
        con un filtro inicial, que puede ser utilizado para agilizar la búsqueda
        de un Criterio.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_017B1a.svg"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Nombre
                  criterio </p>
          </td>
          <td>
            <p class="PARRAFO">Si
              el usuario invoca el filtro, el sistema le debe permitir ingresar cualquier
              valor alfanumérico de máximo 30 caracteres.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar,
        Adicionar, y Detalle. Adicionalmente, cuenta en la parte superior con las
        opciones <a href="MEH_017B1.html">Lista de resultados</a> y <a href="MEH_017B3.html">Adicionar</a>.
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_017B.svg"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca
        esta opción, se despliega un formulario con los siguientes campos,
          a través del cual se ingresa un nuevo Criterio.</span> 
      </p>
      <p class="PARRAFO"><span class="SUBTITULO">Criterios:</span>  Mediante la combinatoria
        de este conjunto de campos la entidad define las condiciones que requiera
        para suplir sus necesidades de información. Los campos son de libre
        elección por parte de la entidad y por lo tanto no se requiere marcar
        todos los criterios para que la información sea suministrada, a excepción
        del campo Nombre de criterio, puesto que éste será
        el que permita identificar una consulta específica de las otras; debe
        tenerse presente que todos los campos permiten indicar si el resultado de
        la segmentación debe mostrar las tarjetas (productos) cuya característica
        sea igual (=) ó diferente (!=) al valor especificado por la entidad
        para cada criterio seleccionado, es decir, si deben ser incluídas o
        excluídas de la lista correspondiente.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_017B1.svg"></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Criterio</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio en el que la
              entidad debe definir el nombre con el cual identificará dicha
              información cada vez que genere la consulta si así lo
              requiere.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sexo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              en el cual la entidad selecciona a través de la lista de valores
              adjunta el género de los clientes (Masculino o Femenino) al que
              deben estar asociadas las tarjetas sobre las cuales desea generar la
              información.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo
              identificación </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene una lista de valores de los cuales la entidad escoge sobre
              cuál de ellos desea realizar la consulta. Una Vez seleccionado
              el tipo de documento el campo permite, aunque no lo requiere, que se
              le asigne un valor determinado, para generar la información deseada.
              Si no se asigna ningún valor la información obtenida corresponderá
              a todas las tarjetas pertenecientes a clientes cuya identificación
              sea igual o diferente al tipo de identificación seleccionado
              más las demás variables, si las hay.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
              identificación </p>
          </td>
          <td>
            <p class="PARRAFO">Se
              define el número de identificación del cliente que se
              quiere consultar o en su defecto excluir de la selección.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Estado
              civil </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se selecciona de la lista de valores adjunta el estado civil
              actual del cliente (Viudo, Soltero, Religioso, Divorciado, Casado u
              Otro) al que deben estar asociadas las tarjetas a incluír o excluir
              de la segmentación.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sucursal</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              en el cual la entidad selecciona de una lista de valores la <a href="NUH_020B.html">sucursal</a>
              a la que deben pertenecer las tarjetas para ser incluídas o excluídas
              de la lista.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo
              de tarjeta</p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo permite mediante una lista de valores adjunta seleccionar la clase
              a la cual debe pertenecer la tarjeta (Extendida, Adicional o Principal)
              para ser incluída o excluída de la segmentación.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Bin</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              con lista de valores de la cual se selecciona el <a href="MEH_001B.html">Bin</a>
              al que debe pertenecer la tarjeta para ser incluída o excluída
              de la lista; este criterio puede combinarse con el Segmento y Grupo
              de Afinidad, que son los otros dos componentes del producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Producto</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              con lista de valores de la cual se selecciona el <a href="MEH_001B1.html">Segmento</a>
              al que debe pertenecer la tarjeta para ser incluída o excluída
              de la lista; este criterio puede combinarse con el Bin y Grupo de Afinidad,
              que son los otros dos componentes del producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Grupo
              de afinidad</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              con lista de valores de la cual se selecciona el <a href="MEH_001B2.html">Grupo
                de Afinidad</a> al que debe pertenecer la tarjeta para ser incluída
              o excluída de la lista; este criterio puede combinarse con el
              Bin y Segmento, que son los otros dos componentes del producto.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Bloqueo
              saldo / sobrecupo / reestruturación / plástico.</p>
          </td>
          <td>
            <p class="PARRAFO">De
              acuerdo con los bloqueos aplicables a los productos, la entidad selecciona
              de la lista de valores contenida en cada uno, aquellos sobre los cuáles
              desea generar la información, es decir, la característica
              que deben tener las tarjetas en relación con cada tipo de bloqueo,
              para ser incluídas o excluídas de la lista. Dichos bloqueos
              se encuentran previamente definidos en la opción <a href="CAH_002B.html">estados
                y bloqueos</a>, del Núcleo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha
              vencimiento / hasta</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo la entidad establece un rango de fechas, en formato YYYYMM,
              de acuerdo con la fecha de vencimiento que deben tener los productos
              para ser incluídos o excluídos de la lista.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
              tarjeta </p>
          </td>
          <td>
            <p class="PARRAFO">La
              entidad puede en un momento dado requerir información de un producto
              específico, por lo tanto, en este campo se capturará el
              número de la tarjeta sobre el cual se requiere generar la información,
              o en su defecto todos los productos diferentes al registrado.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Ubicación</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene una lista de valores poblada previamente en la opción
              <a href="NUH_003B.html">información geopolítica</a> de
              las tablas corporativas del módulo núcleo, de la cual
              la entidad podrá definir la manera de generar la información
              de acuerdo con la ubicación geográfica de la dirección
              de correspondencia del cliente.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cupo
              asignado </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se indica un valor como punto de referencia y permite especificar
              si la condición a cumplir para ser incluído o excluído
              de la lista de segmentación es que el cupo de la tarjeta sea
              igual, diferente, menor o mayor al registrado en este
              campo.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Saldo
              actual </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se indica un valor como punto de referencia y permite especificar
              si la condición a cumplir para ser incluído o excluído
              de la lista de segmentación, es que el saldo actual de la tarjeta
              sea igual, diferente, menor o mayor al registrado
              en este campo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Edad</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              en el que se indica una valor de referencia y permite especificar si
              la condición a cumplir para ser incluído o excluído
              de la lista de segmentación es que la edad del cliente asociado
              a la tarjeta sea igual, diferente, menor o mayor a
              la registrada en este campo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Edad
              mora </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se indica un valor como punto de referencia y permite especificar
              si la condición a cumplir para ser incluído o excluído
              de la lista de segmentación, es que la edad de mora de la tarjeta
              sea igual, diferente, menor o mayor a la registrada
              en este campo.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Antig&uuml;edad</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se indica un valor como punto de referencia y permite especificar
              si la condición a cumplir para ser incluído o excluído
              de la lista de segmentación, es que la antiguedad de la tarjeta
              (expresada en periodos) sea igual, diferente, menor o mayor
              a la registrada en este campo.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
          Si el usuario invoca esta opción, se despliega un formulario
          en el cual todos los campos son modificables, exceptuando el Criterio.
          Una vez definidos los criterios sobre los cuales se evaluará la información,
          la entidad puede en un momento determinado adicionar nuevos criterios y luego,
          los datos obtenidos se reflejarán en la carpeta de resultados junto
          con la información presentada antes de dicha adición. </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_017B2.svg"></p>
      <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opción
        Detalle se despliega el siguiente formulario: </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_017B3.svg"></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><img loading="lazy" rel="preload"  src="../img/MEF_017B4.svg"></p>
          </td>
          <td>
            <p class="PARRAFO"><span class="SUBTITULO">Aplicar:</span> 
              Una vez definidos los criterios sobre los cuales se evaluará
              la información se debe accionar este botón. Posteriormente,
              los datos obtenidos se reflejarán en el formualrio Resultados.
              Cada criterio de consulta queda guardado incluyendo sus parámetros,
              para que el usuario los pueda consultar, modificar o eliminar.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><a href="MEH_017B1.html">Lista de resultados</a> | </span><a href="MEH_017B3.html">
          Adicionar</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>