<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Definición de convenios</p>

      <p class="PARRAFO"><span class="SUBTITULO">Establecimientos: </span> Dentro de esta opción deben
        relacionarse los diferentes comercios que estén vinculados al convenio.</p>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar. Adicionalmente, cuenta con un botón en la parte superior para regresar al <a
          href="MEH_009B.html">formulario principal</a>.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E9.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se
        despliega un formulario con los siguientes campos:</span> 
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E10.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Establecimiento</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores solo con los <A
                  href="ESH_006B.html">establecimientos</A> que tengan parametrizada la marca Convenios. En
              éste se definirán aquellos establecimientos que hacen parte del convenio, y especialmente
              aquel que lo identifique. Debe tenerse presente que al momento de definir el establecimiento que va a
              identificar al convenio, en la opción Cuentas de Depósito debe registrarse el mismo
              tipo y número de cuenta que se indicó en el campo Cuenta a acreditar de la
              información principal del convenio.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Marca</p>
          </td>
          <td>
            <p class="PARRAFO">Campo de salida que siempre equivaldrá a la marca 8 Convenios.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Consolidador</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se indica el establecimiento en cuya cuenta se depositarán los
              beneficios obtenidos por todos los establecimientos del convenio.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
           Al activar ese enlace  se despliega un formulario
          en el cual lo único modificable es el campo Consolidador:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E11.PNG"></p>

      <p class="PARRAFO"><a href="MEH_009B1.html">Convenio tipo empresa</a> | </span><a href="MEH_009B2.html">Convenio tipo
          establecimiento</a></p>
      <p class="PARRAFO"><a href="MEH_009B3.html">Agentes</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>