<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Definici&oacute;n de productos - Copia productos</p>


      <p class="PARRAFO">Esta opci&oacute;n que se invoca desde el formulario <a href="MEH_002B.html"
            >Definici&oacute;n de productos</a> le permite a la entidad copiar y replicar todos los
        par&aacute;metros de un producto ya existente a un nuevo producto, agilizando as&iacute; el proceso de
        creaci&oacute;n de nuevos productos.</p>
      <p class="PARRAFO">Despu&eacute;s que el produto ha sido copiado, el usuario puede modificar los datos y
        par&aacute;metros que sea necesario de acuerdo con las caracter&iacute;sticas del nuevo producto.</p>
      <p class="PARRAFO">Una vez que el usuario selecciona un registro desde <a href="MEH_002B.html"
            >Definici&oacute;n de productos</a> e invoca el hiperv&iacute;nculo copia productos, se
        despliega un nuevo formulario con los siguientes campos.</p>
      <p class="TITLE"><img src="../img/MEF_002E45.PNG" 389" height="232"></p>

      <div class="PARRAFO">
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Producto origen
                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                de salida en el cual se muestra el bin, producto, grupo de afinidad y descripci&oacute;n del producto
                origen que se quiere copiar.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Bin


                </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo obligatorio contiene lista de valores de la que se selecciona el <a href="MEH_001B.html"
                    >bin</a> que conforma el nuevo producto al que se desea replicar la
                parametrizaci&oacute;n del producto origen.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Producto


                </p>
            </td>
            <td>
              <p class="PARRAFO">Campo obligatorio con lista de valores de la que se selecciona el <a
                    href="MEH_001B.html" >producto (segmento)</a> que conforma el nuevo producto al
                que se desea replicar la parametrizaci&oacute;n del producto origen.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Grupo de afinidad


                </p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo obligatorio contiene lista de valores de la que se selecciona el <a href="MEH_001B.html"
                    >grupo de afinidad</a> que conjuntamente con el bin y el producto seleccionados en
                los campos anteriores conforma el nuevo producto al que se desea replicar la parametrizaci&oacute;n del
                producto origen.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO">

        <p class="PARRAFO">
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>