<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpencardWeb®</title>

        <link rel="stylesheet" href="../css/pages.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
    </head>

    <body>

        <header>
            <img class="logo" src="../img/logoBankbu_.PNG"
                alt="Logo de Mi Empresa">
            <div id="menuBtn">
                <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
            </div>
        </header>
        <div id="menuContainer"></div>
        <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

        <section>
            <div>
                <p class="TITLE">Origenes restringidos</p>

                <p class="PARRAFO">Campo en el que se parametriza uno o varios
                    orígenes de
                    transacciones, que no harán parte del esquema de
                    puntajes.</p>
                <p class="PARRAFO">Mediante el botón ubicado en la parte
                    superior izquierda se puede regresar al formulario principal
                    de <a href="MEH_006B.html">Esquemas de puntajes</a>.</p>
                <p class="PARRAFO">El formulario contiene los enlaces: Eliminar
                    y Adicionar.</p>
                <p class="TITLE"><img src="../img/MEF_006B51.PNG"></p>
                <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> El
                    formulario cuenta con un filtro inicial de búsqueda:</p>
                <p class="TITLE"><img src="../img/MEF_006B52.PNG"></p>
                <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si
                    el usuario invoca el enlace se despliega un formulario con
                    los siguientes campos:</span>
            </p>
            <p class="TITLE"><img src="../img/MEF_006B29.PNG"></p>
            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Orígen</p>
                    </td>
                    <td class="PARRAFO">
                        <p class="PARRAFO">Campo que dispone de una lista de
                            valores poblada en
                            <a href="NUH_027B.html">Origen de transacciones</a>,
                            de la cual se debe seleccionar cada uno de los
                            orígenes de movimiento que se desea excluir del
                            Esquema de puntajes.
                        </p>
                    </td>
                </tr>
            </table>
        </section>
        <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>