<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            
            <p class="TITLE">Definición de convenios</p>
                     
            <p class="PARRAFO">A través de esta pantalla se permite la consulta y/o mantenimiento de los diferentes convenios
                celebrados entre la entidad y una empresa, o entre la entidad y los comercios o establecimientos, o con
                los Grupos de afinidad. Esta funcionalidad permite definir metas de ventas a los establecimientos
                que hagan parte de los <A href="MEH_009B5.html">Grupos establecimientos</A> y los
                beneficios tanto para éstos como para los tarjetahabientes que realicen consumos en esos
                comercios de acuerdo con lo parametrizado. Los convenios se relacionan tanto con un <A
                        href="MEH_006B.html">Esquema de puntaje</A> como con los <A
                        href="MEH_002B.html">productos</A> de la entidad.</p>
            <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar,
                Adicionar, Detalle, y un filtro de búsqueda. Adicionalmente, muestra otras opciones que dependen
                del Tipo de convenio del registro seleccionado. Para los <a href="MEH_009B1.html">Convenios
                    tipo Empresa</a>, se mostrarán las opciones <a href="MEH_009B3.html">Agentes</a> y <a
                    href="MEH_009B4.html">Establecimientos</a>. Mientras que para los <a href="MEH_009B2.html">Convenios
                    tipo Establecimiento</a> se muestran las opciones <a href="MEH_009B5.html">Grupos
                    establecimientos</a>, <a href="MEH_009B6.html">Establecimientos</a>, <a href="MEH_009B7.html">Tipo
                    de servicio</a>, y
                <a href="MEH_009B8.html">Abonos</a>.
            </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E.svg"></p>

            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a través
                de las siguientes opciones: </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E1.svg"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Convenio</span></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Lista de valores que permite filtrar por el Convenio que el usuario desee.
                            Muestra todos aquellos que han sido grabados en esta misma opción. </p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Tipo convenio </span></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Lista de valores tipo combo que permite filtrar entre las dos opciones de
                            tipos de convenios: Empresa y Establecimiento. </p>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace
                se despliega un primer formulario con el siguiente campo, en el cual el usuario determinará si el
                nuevo Convenio es de tipo Empresa o Establecimiento. </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E2.svg"></p>

            <p class="PARRAFO">De acuerdo a la opción seleccionada en esta lista de valores, el sistema despliega un wizard
                diferente.</p>

            <p class="PARRAFO"><a href="MEH_009B1.html">Convenio tipo empresa</a> | </span><a
                    href="MEH_009B2.html">Convenio tipo establecimiento</a></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>