<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpencardWeb®</title>
        <link rel="stylesheet" href="../css/pages.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
        <style>
        footer {
            position: fixed;
        }

        section p {
            width: 625px;
        }

        section div p {
            width: 100%;
            max-width: 100%;
        }
    </style>
    </head>

    <body>

        <header>
            <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp"
                alt="Logo de Mi Empresa">
            <div id="menuBtn">
                <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
            </div>
        </header>
        <div id="menuContainer"></div>
        <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

        <section>
            <div>
                <p class="TITLE">Lealtad
                </p>

                <p class="PARRAFO">Mediante este módulo, se habilita la
                    definición de múltiples planes de lealtad o <a
                        href="MEH_006B.html">esquemas
                        de puntaje</a> que pueden operar en forma simultánea
                    generando puntos a clientes y tarjetas, los
                    cuales son
                    posteriormente <a href="MEH_014B.html">redimidos</a> por la
                    entidad o directamente por el cliente para
                    convertirlos en <a href="MEH_013B.html">premios,</a>
                    millas o abonos en efectivo a sus cuentas (tarjetas); si por
                    causa de algún defecto de los premios o las
                    mercancías estos son devueltos a la entidad, se dispone de
                    la opción <a href="MEH_015B.html">Reversión
                        premios</a> para tal
                    registrar este hecho.
                </p>
                <li class="ocultar"><a
                        href="MEH_013B.html">Premios puntaje</a></li>
                <li class="ocultar"><a
                        href="MEH_006B.html">Esquemas de puntaje</a></li>
                <li class="ocultar"><a
                        href="MEH_011B.html">Comportamiento esquemas de
                        puntaje</a></li>
                <li class="ocultar"><a
                        href="SCH_065B.html">Puntajes por tarjeta</a></li>
                <li class="ocultar"><a
                        href="MEH_014B.html">Redención de premios</a></li>
                <li class="ocultar"><a
                        href="MEH_015B.html">Reversión de premios</a></li>

            </div>

            <img loading="lazy" rel="preload"  class="ImagenOpencardWeb" src="../img/bankbu-removebg-preview.PNG"
                alt="Imagen de la empresa">

        </section>
        <script src="../js/menu.js"></script>
    </body>
    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>