<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Definici&oacute;n de bines</p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta opci&oacute;n se permite parametrizar todas las caracter&iacute;sticas 
              que definen cada uno de los <a href="MEH_002B.html" >productos</a> y l&iacute;neas 
              de cr&eacute;dito ofrecidos por la entidad financiera o comercial, incluso 
              los de marca privada. Un producto se constituye por la relaci&oacute;n Bin-Segmento-Grupo 
              de Afinidad y a cada uno de estos se le puede o no asociar la(s) l&iacute;neas 
              de cr&eacute;dito, a trav&eacute;s de la opci&oacute;n <a href="MEH_002B.html" > productos</a>, 
              acorde a las pol&iacute;ticas de la entidad financiera o comercial. Cuando 
              se invoca desde el m&oacute;dulo de Tarjeta D&eacute;bito no se despliega 
              el tab Lineas de Cr&eacute;dito por cuanto este concepto no aplica para este 
              tipo de producto; puede invocarse tambi&eacute;n desde el m&oacute;dulo Medios 
              de pago.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle. Adicionalmente, cuenta con los v&iacute;nculos para ir 
              a <a href="MEH_001B1.html" target="_self" >Segmentos</a>, <a href="MEH_001B2.html" >Grupos 
              de afinidad</a><b></b>, 
              y <a href="MEH_001B3.html" >Cuentas de dep&oacute;sito por bin</a>.</p>
            <p class="TITLE"><img src="../img/MEF_001E.PNG"760" height="493"></p>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Definici&oacute;n de 
              bines:</span><span class="PARRAFO"> En este opci&oacute;n se ingresan manualmente 
              todos y cada uno de los prefijos o bines utilizados por la entidad bas&aacute;ndose 
              en la informaci&oacute;n contenida en la pantalla </span><a href="NUH_026B.html" >Bines 
              nacionales</a> de l<span class="PARRAFO">as Tablas corporativas del N&uacute;cleo, 
              a excepci&oacute;n, entre otros datos de los campos Longitud secuencia y Ultima 
              secuencia. Los campos precedidos de la palabra Seguro y que s&oacute;lo se 
              despliegan cuando la forma es invocada desde el m&oacute;dulo de Mercadeo, 
              son utilizados en la Web para generar cartas de presentaci&oacute;n de los 
              clientes ante autoridades diplom&aacute;ticas, principalmente. Dependiendo 
              de la opci&oacute;n desde donde sea invocada despliega los bines correspondientes 
              a las tarjetas de cr&eacute;dito o d&eacute;bito u Otros Medios de Pago ingresados 
              previamente en el sistema.</span></p>
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<span 
        >:</span></p>
            <p class="TITLE"><img src="../img/MEF_001E1.PNG"765" height="421"></p>
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Bin</span></b></p></td>
                <td><p class="PARRAFO">En 
                    estos dos campos se deben ingresar respectivamente el C&oacute;digo 
                    y la Descripci&oacute;n del nuevo Bin.</p>
                  <p class="PARRAFO">C&oacute;digo: En este campo la entidad identifica 
                    la clase de bin con los cuales ser&aacute; posible operar con la franquicia 
                    correspondiente.</p>
                  <p>Descripci&oacute;n: Campo en el que se registra el nombre o descriptivo 
                    asociado al BIN.</p>
                </td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Longitud 
                    bin </span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de un d&iacute;gito, obligatorio, en el cual se registra 
                    la cantidad de d&iacute;gitos que hacen parte del n&uacute;mero de la 
                    tarjeta y que identifican a cada uno de los bines.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Franquicia</span></b></p></td>
                <td><p class="PARRAFO">En 
                    este campo obligatorio, se selecciona de la lista de valores la marca 
                    o <a href="NUH_033B.html" >Franquicias</a> a la cual se asocia el c&oacute;digo 
                    o prefijo.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Tipo 
                    de bin</span></b></p></td>
                <td><p class="PARRAFO">Este 
                    campo obligatorio posee lista de valores adjunta de la cual se selecciona 
                    la caracter&iacute;stica de operaci&oacute;n del bin y que dependiendo 
                    del m&oacute;dulo desde el cual es invocada la opci&oacute;n puede presentar 
                    los siguientes valores: si se hace desde el m&oacute;dulo de Mercadeo 
                    permite seleccionar entre Cr&eacute;dito o Cr&eacute;dito Propio; cuando 
                    se invoca desde el m&oacute;dulo de Tarjeta D&eacute;bito los posibles 
                    valores son Electron, D&eacute;bito o D&eacute;bito Propio; finalmente, 
                    si el llamado de esta opci&oacute;n se hace desde el m&oacute;dulo Medios 
                    de Pago los valores que permite seleccionar son Virtual, Prepago, Regalo 
                    o Visa Pagos.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Longitud 
                    tarjeta </span></b></p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de dos d&iacute;gitos, obligatorio, se registra 
                    la cantidad total de d&iacute;gitos que componen el n&uacute;mero de 
                    la tarjeta.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Longitud 
                    secuencia </span></b></p></td>
                <td><p class="PARRAFO">Este 
                    campo num&eacute;rico de dos d&iacute;gitos, obligatorio, permite registrar 
                    el n&uacute;mero de d&iacute;gitos que hacen parte de la tarjeta y que 
                    corresponden a la secuencia de emisi&oacute;n de cada una de ellas. 
                    Es necesario tener en cuenta que la sumatoria de la longitud de la secuencia, 
                    el bin, la subserie, el c&oacute;digo oficina y el d&iacute;gito de 
                    chequeo debe ser igual a la Longitud de la Tarjeta; por lo anterior 
                    si la entidad desea que en el n&uacute;mero de la tarjeta se incluyan 
                    la subserie o el c&oacute;digo de oficina, la longitud de estos datos 
                    se debe considerar al momento de determinar la longitud de la secuencia.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >D&iacute;gito 
                    de chequeo</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    obligatorio, en el que se selecciona de la lista de valores adjunta 
                    la rutina que calcula el &uacute;ltimo d&iacute;gito de la tarjeta o 
                    de verificaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Comod&iacute;n</span></b></p></td>
                <td><p class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 23 d&iacute;gitos, obligatorio, se 
                    registra un n&uacute;mero gen&eacute;rico que permite la captura de 
                    movimiento cuando el n&uacute;mero de la tarjeta no es legible en los 
                    comprobantes manuales.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Realce</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la cual se selecciona entre Local 
                    o Franquicia, lo que implica si el realce de los pl&aacute;sticos lo 
                    lleva a cabo la entidad con sus proveedores o directamente la franquicia.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >C&oacute;digo 
                    bin </span></b></p></td>
                <td><p class="PARRAFO">En 
                    este campo se registra el c&oacute;digo del prefijo (BIN), utilizado 
                    por algunas entidades para poder diferenciar los registros correspondientes 
                    en el archivo de D&eacute;bitos autom&aacute;ticos.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Administraci&oacute;n 
                    de puntos</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    que aplica cuando existen esquemas de puntaje en la entidad, y permite 
                    indicar si la administraci&oacute;n de dichos puntos est&aacute; a cargo 
                    del sistema o es la franquicia quien se encarga de ello, como es el 
                    caso del producto Platinum; en caso de no existir programas de puntajes 
                    o millas para el producto, la opci&oacute;n a elegir debe ser No se 
                    manejan puntos.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Aplica 
                    honorarios </span></b></p></td>
                <td><p class="PARRAFO">En 
                    este campo la entidad define, por producto, si dentro de los saldos 
                    adeudados por el cliente, se le incluye lo correspondiente a Honorarios 
                    de abogado cuando la obligaci&oacute;n ha estado o se encuentra actualmente 
                    en cobro prejur&iacute;dico o jur&iacute;dico.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Clase 
                    prefijo </span></b></p></td>
                <td><p class="PARRAFO">Este 
                    campo posee lista de valores poblada a trav&eacute;s de la opci&oacute;n <a href="NUH_033B.html" >Franquicias</a>, de la que puede seleccionarse 
                    la clase de prefijo a la que corresponde el bin que se ha definido.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >&Uacute;ltima 
                    secuencia </span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    de salida en el que se refleja el &uacute;ltimo n&uacute;mero de tarjeta 
                    asignado para ese bin, facilitando el control de inventarios.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >N&uacute;mero 
                    tarjeta emergencia</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    que permite definir la cantidad de tarjetas que la entidad se reserva 
                    o requiere mantener como stock, por cada producto, para ser utilizadas 
                    en el exterior con caracter&iacute;sticas propias de <a href="SOH_029B.html" >tarjetas 
                    de emergencia</a>.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Seguro 
                    extrav&iacute;o/robo </span></b></p></td>
                <td><p class="PARRAFO">S&oacute;lo 
                    aplica y se despliega cuando la opci&oacute;n es invocada desde el m&oacute;dulo 
                    de Mercadeo. Campo num&eacute;rico de 12 enteros y 2 decimales, no obligatorio, 
                    en el que la entidad puede relacionar el valor m&aacute;ximo en US$ 
                    D&oacute;lares por el cual se encuentra amparado el titular de la tarjeta 
                    que pertenece a &eacute;ste Bin, mediante la p&oacute;liza de seguro 
                    de asistencia al viajero en casos de robo o extrav&iacute;o del pl&aacute;stico, 
                    permiti&eacute;ndole el acceso a las Centrales de Alarma correspondientes.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Seguro 
                    renta/auto</span></b></p></td>
                <td><p class="PARRAFO">Se 
                    despliega y aplica &uacute;nicamente cuando la opci&oacute;n es invocada 
                    desde el m&oacute;dulo de Mercadeo. Campo num&eacute;rico de 12 enteros 
                    y 2 decimales, no obligatorio, en el que la entidad puede relacionar 
                    el valor m&aacute;ximo en US$ D&oacute;lares por el cual se encuentra 
                    amparado el titular de la tarjeta que pertenece a &eacute;ste Bin, mediante 
                    la p&oacute;liza de seguro de asistencia internacional al viajero en 
                    casos de siniestros derivados de la renta de autos en el extranjero 
                    (solo si el pago se efect&uacute;a con la tarjeta de cr&eacute;dito 
                    Master Card).</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Seguro 
                    accidentes/tr&aacute;nsito</span></b></p></td>
                <td><p class="PARRAFO">S&oacute;lo 
                    aplica y se despliega cuando la opci&oacute;n es invocada desde el m&oacute;dulo 
                    de Mercadeo. Campo num&eacute;rico de 12 enteros y 2 decimales, no obligatorio, 
                    en el que la entidad puede relacionar el valor m&aacute;ximo en US$ 
                    D&oacute;lares por el cual se encuentran amparados el titular de la 
                    tarjeta que pertenece a &eacute;ste Bin, su c&oacute;nyuge e hijos menores 
                    de 23 a&ntilde;os, en Colombia y en el exterior bien sea que viajen 
                    juntos o separados (v&iacute;a a&eacute;rea, mar&iacute;tima o terrestre), 
                    mediante la p&oacute;liza de seguro de asistencia al viajero en casos 
                    de siniestros derivados de accidentes de tr&aacute;nsito (solo si la 
                    totalidad del pago de los tiquetes se efect&uacute;a con la tarjeta 
                    de cr&eacute;dito Master Card).</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Seguro 
                    m&eacute;dico/familia</span></b></p></td>
                <td><p class="PARRAFO">Se 
                    despliega y aplica &uacute;nicamente cuando la opci&oacute;n es invocada 
                    desde el m&oacute;dulo de Mercadeo. Campo num&eacute;rico de 12 enteros 
                    y 2 decimales, no obligatorio, en el que la entidad puede relacionar 
                    el valor m&aacute;ximo en US$ D&oacute;lares por el cual se encuentran 
                    amparados los hijos menores de 23 a&ntilde;os y padres que dependan 
                    econ&oacute;micamente del titular de la tarjeta que pertenece a &eacute;ste 
                    Bin (solo aplica para tarjetas de cr&eacute;dito Visa), en Colombia 
                    y en el exterior viajando juntos o separados, mediante la p&oacute;liza 
                    de seguro de asistencia m&eacute;dica en viajes.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Seguro 
                    m&eacute;dico/titular</span></b></p></td>
                <td><p class="PARRAFO">S&oacute;lo 
                    aplica y se despliega cuando la opci&oacute;n es invocada desde el m&oacute;dulo 
                    de Mercadeo. Campo num&eacute;rico de 12 enteros y 2 decimales, no obligatorio, 
                    en el que la entidad puede relacionar el valor m&aacute;ximo en US$ 
                    D&oacute;lares por el cual se encuentra amparado el titular de la tarjeta 
                    que pertenece a &eacute;ste Bin (solo aplica para tarjetas de cr&eacute;dito 
                    Visa), en Colombia y en el exterior, mediante la p&oacute;liza de seguro 
                    de asistencia m&eacute;dica en viajes.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Seguro 
                    farmec&eacute;utico</span></b></p></td>
                <td><p class="PARRAFO">Se 
                    despliega y aplica &uacute;nicamente cuando la opci&oacute;n es invocada 
                    desde el m&oacute;dulo de Mercadeo. Campo num&eacute;rico de 12 enteros 
                    y 2 decimales, no obligatorio, en el que la entidad puede relacionar 
                    el valor m&aacute;ximo en US$ D&oacute;lares por el cual se encuentran 
                    amparados por gastos farmac&eacute;uticos el titular de la tarjeta que 
                    pertenece a &eacute;ste Bin (solo aplica para tarjetas de cr&eacute;dito 
                    Visa), los hijos menores de 23 a&ntilde;os y padres que dependan econ&oacute;micamente 
                    del mismo, en el exterior viajando juntos o separados, mediante la p&oacute;liza 
                    de seguro de asistencia m&eacute;dica en viajes.</p></td>
              </tr>
            </table>
            <p  class="PARRAFO">Adicionalmente, este formulario cuenta con 
              un globo de localizaci&oacute;n que mostrar&aacute; el siguiente campo:</p>
            <p class="TITLE"><img src="../img/MEF_001E3.PNG"197" ></p>
            
            <table width=758  >
              <tr> 
                <td class="titletable" ><p class="SUBTITULO">Genera 
                    archivo DIAN</p></td>
                <td><p class="PARRAFO">Campo 
                    que posee lista de valores que permite seleccionar si para este BIN 
                    se genera o no archivo para la DIAN. Con el fin de obtener los correspondientes 
                    reintegros de IVA.</p></td>
              </tr>
            </table>
            
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: </span>  Descripci&oacute;n 
              del Bin, Franquicia, Tipo de bin, Longitud tarjeta, Longitud secuencia, D&iacute;gito 
              de chequeo, Comod&iacute;n, Realce, C&oacute;digo bin, Administraci&oacute;n 
              de puntos, Aplica honorarios, Clase prefijo, N&uacute;mero tarjeta emergencia, 
              Seguro extrav&iacute;o/robo, Seguro renta/auto, Seguro accidentes/tr&aacute;nsito, 
              Seguro m&eacute;dico/familia, Seguro m&eacute;dico/titular, y Seguro farmec&eacute;utico.</p>
            <p  class="PARRAFO">Adicionalmente, este formulario tambi&eacute;n 
              cuenta con un globo de localizaci&oacute;n que mostrar&aacute; el campo Genera 
              archivo DIAN para modificar.</p>
            <p class="TITLE"><img src="../img/MEF_001E2.PNG"></p>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si 
              el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: 
              </p>
            <p class="TITLE"><img src="../img/MEF_001E4.PNG"></p>
            
            <p><a href="MEH_001B1.html">Segmentos</a><span
              ><b> | </b></span><a href="MEH_001B2.html">Grupos 
              de afinidad</a><b><span > |</span></b><a href="MEH_001B3.html">Cuentas 
              de dep&oacute;sito por bin</a></p>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img class="TITLE"  src= "../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
            target="_blank">www.OpenCard.com</a></p>



</footer>
</html>