<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>

  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Definición de convenios</p>

      <p class="PARRAFO"><span class="SUBTITULO">Grupos establecimientos: </span> Espacio destinado para registrar tanto
        los distintos <A href="ESH_001B.html">grupos</A> de establecimientos como las clases de <A
            href="MEH_002B.html">productos</A> que conformarán el convenio, y en los que al realizar el
        cliente determinadas <A href="MEH_003B.html">transacciones</A>, éstas servirán de base
        para el cálculo del logro de la meta por establecimiento.</p>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar. Adicionalmente, cuenta con un botón en la parte superior para regresar al <a
          href="MEH_009B.html">formulario principal</a>.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E12.svg"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se
        despliega un formulario con los siguientes campos:</span> 
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E13.svg"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Establecimiento</p>
          </td>
          <td>
            <p class="PARRAFO">Campo con lista de valores de la cual debe seleccionarse el o los diferentes <A
                  href="ESH_001B.html">Grupos</A> de establecimientos dentro de los que se encuentran los comercios
              que hacen parte del programa convenio. Si llegase a requerirse algún tipo de exclusividad, debe
              crearse un grupo y asociarlo a los establecimientos que hagan parte del convenio, a través de la
              opción <A href="MEH_003B.html">Información de establecimientos</A>.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Producto</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo con lista de valores permite seleccionar el <A
                  href="MEH_002B.html">Producto</A> (Bin, segmento y grupo de afinidad) perteneciente al convenio y
              para el cual aplicarán los beneficios por consumos en los establecimientos que hagan parte del
              programa convenio, acorde con las condiciones establecidas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Transacción</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores poblada mediante la opción <A
                  href="MEH_003B.html">Transacciones por empresa</A> del módulo de Mercadeo del que deben
              seleccionarse las diferentes transacciones que servirán de base para compensar tanto a los clientes
              como a los comercios por cumplir la meta de ventas fijadas en el programa convenio.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">% Financiación </p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se define el valor preferencial de la tasa de financiación que se
              aplicará al cliente que pertenece a un convenio por su primera utilización
              (transacción) y ésta haya sido realizada en el grupo de establecimientos definida con
              anterioridad.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
           Al activar ese enlace  se despliega un formulario
          en el cual el único campo modificable es: % Financiación.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/MEF_009E14.svg"></p>

      <p class="PARRAFO"><a href="MEH_009B1.html">Convenio tipo empresa</a> | </span><a href="MEH_009B2.html">Convenio tipo
          establecimiento</a></p>
      <p class="PARRAFO"><a href="MEH_009B6.html">Establecimientos</a> | </span><a href="MEH_009B7.html">Tipos de
          servicio</a>
            | </span><a href="MEH_009B8.html">Abonos</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>