<nav>
    <ul>
        <li>
            <a href="../index.html" class="main-optionINICIO">INICIO</a>
        </li>
        <li>
            <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
        </li>
        <li><a href="#" class="main-option">NUCLEO ▼</a>
            <ul>
                <li><a href="NUH_000B.html">Config. Sistema</a></li>
                <li><a href="NUH_00B_N2.html">Config. Parametros</a></li>
                <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="main-option">EMISOR ▼</a>
            <ul>
                <li><a href="EMH_000B.html">Productos</a></li>
                <li><a href="EMH_000Bsoli.html">Solicitudes del Cliente</a></li>
                <li style="visibility: hidden; display: none;"><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                <li><a href="#" class="sub-option">▶ Servicio al Cliente</a>
                <ul class="subsubmenu">
                    <a href="SCH_001B.html">Consulta Clientes</a>
                </ul></li>
                <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                <li><a href="#" class="sub-option">▶ Transaccionabilidad</a>
                    <ul class="subsubmenu">
                        <a href="INH_004B.html">Cap.Movimientos oficina</a>
                        <a href="INH_006B.html">Consulta global </a>
                        <a href="INH_027B.html">Contracargos</a>
                    </ul></li>
                <li><a href="#" class="sub-option" >▶ Autorizaciones</a>
                    <ul class="subsubmenu">
                        <a href="COH_021B.html">Parametros Autorizacion</a>
                    </ul></li></li>
                <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                <li style="visibility: hidden; display: none;"><a href="EMH_000Brecla.html">Reclamos</a></li>
                <li style="visibility: hidden; display: none;"><a href="MEH_032B.html">Lealtad</a></li>
                <li style="visibility: hidden; display: none;"><a href="COH_064B.html">Cobranzas</a></li>
                <li><a href="DBH_000B.html" >Debito</a>
            </li>
            </ul>
        <li>
            <a href="#" class="main-option">ADQUIRIENTE ▼</a>
            <ul>
                <li><a href="ACH_000B.html">Establecimientos</a></li>
                <li><a href="#" class="sub-option" >▶ Transaccionabilidad</a>
                    <ul class="subsubmenu">
                        <a href="INH_006B.html" >Consulta global</a>
                    </ul></li>
            </li>
                <li><a href="ACH_002B.html">Tesoreria</a></li>
                <li><a href="ACH_003B.html">Pendientes</a></li>
            </ul>
        </li>
        <li style="visibility: hidden">
            <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
        </li>
    </ul>
</nav>