<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Movimiento aplicado a convenios</p>
                    
            <p class="PARRAFO">Mediante esta opci&oacute;n se facilita la consulta de   los diferentes movimientos que afectan las cuentas de los convenios, grupos de   afinidad o a la de las empresas con las que se han celebrado acuerdos   comerciales.</p>
            <p class="PARRAFO">El formulario muestra los campos por los cual se podr&aacute; fitrar la informaci&oacute;n de convenios a consultar. Esta informaci&oacute;n se puede consultar a trav&eacute;s de las opciones Detalle movimiento convenio, Detalle movimiento grupos de afinidad, y Detalle movimiento clientes.</p>
            <p class="TITLE"><img src="../img/MEF_031B.PNG"693" height="239"></p>
            
            <table>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Fecha de proceso desde </p></td>
                <td><p class="PARRAFO">En este campo en formato YYYY-MM-DD se   ingresa la fecha inicial  que delimita el periodo   para el cual se desea consultar el movimiento aplicado.</p>      </td>
              </tr>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Fecha de proceso hasta </p></td>
                <td><p class="PARRAFO">En este campo en formato YYYY-MM-DD se   ingresa la fecha final  que delimita el periodo   para el cual se desea consultar el movimiento aplicado.</p>      </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Esquema de puntos </p></td>
                <td><p class="PARRAFO">Campo con lista de valores de la cual se   selecciona el <A href="MEH_006E.html">Esquema de puntajes</A>, para el   cual se requiere consultar el movimiento aplicado, teniendo en cuenta que los   programas de puntos han sido asociados a los convenios, en la opci&oacute;n <A href="MEH_009E.html">Definici&oacute;n convenios</A>.</p>      
                </td>
              </tr>
            </table>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<span 
        >:</span></p>
            <p class="TITLE"><img src="../img/NUF_003B2.PNG"393" height="436"></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >C&oacute;digo</span></p></td>
                <td><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que contiene 
                    el c&oacute;digo asignado a cada pa&iacute;s y el cual lo identifica 
                    a nivel internacional dentro del sistema de tarjeta de cr&eacute;dito.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Nombre</span></p></td>
                <td><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 35 posiciones, obligatorio, en el cual se registra 
                    el nombre oficial de cada pa&iacute;s asociado al respectivo c&oacute;digo.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >C&oacute;digo 
                    telef&oacute;nico
                    </span></p></td>
                <td><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de cuatro posiciones, no obligatorio, en el cual 
                    se registra el c&oacute;digo telef&oacute;nico asignado a cada pa&iacute;s. 
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Moneda</span><span 
        >
                    </span></p></td>
                <td><p class="PARRAFO">Campo 
                    no obligatorio, con lista de valores de la cual se selecciona la Moneda 
                    emitida por el Banco Central del pa&iacute;s en que resida la aplicaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Reguladora</span></p></td>
                <td><p class="PARRAFO">En 
                    este campo no obligatorio, se selecciona de la lista de valores la Moneda 
                    patr&oacute;n, es decir, aquella en la cual se realizan las transacciones 
                    econ&oacute;micas, permitiendo adem&aacute;s manejar por defecto, todas 
                    las cifras existentes dentro del sistema.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Indizadora</span></p></td>
                <td><p class="PARRAFO">Este 
                    campo dise&ntilde;ado para un uso futuro, contiene lista de valores 
                    de la que se puede seleccionar la moneda puente, o que se va a utilizar 
                    para realizar las conversiones requeridas.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Nivel 
                    </span></p></td>
                <td><p class="PARRAFO">Campo 
                    con lista de valores de la cual se selecciona entre Pa&iacute;s, Departamento, 
                    Municipio y Otro el nivel en el cual se realizar&aacute; la validaci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Zona 
                    postal</span></p></td>
                <td><p class="PARRAFO">En 
                    este campo no obligatorio, se se&ntilde;ala si la zona postal se valida 
                    o no para el pa&iacute;s sobre el que se ubica el cursor. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Posici&oacute;n 
                    inicial</span></p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de 2 d&iacute;gitos, obligatorio, que indica la posici&oacute;n 
                    a partir de la que debe aparecer el dato de la zona postal dentro del 
                    registro o cadena de caracteres, cuando se deba validar. </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Longitud</span></p></td>
                <td><p class="PARRAFO">En 
                    este campo num&eacute;rico de 2 d&iacute;gitos, obligatorio, se registra 
                    la cantidad o n&uacute;mero de posiciones que ocupar&aacute; el dato 
                    de la zona postal dentro del registro o cadena de caracteres.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Regi&oacute;n 
                    internacional </p></td>
                <td><p class="PARRAFO">Campo 
                    num&eacute;rico de 3 d&iacute;gitos, no obligatorio, permite asociar 
                    un c&oacute;digo para agrupar varios pa&iacute;ses acorde con las necesidades 
                    de determinadas franquicias.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Pa&iacute;s 
                    internacional</span></p></td>
                <td><p class="PARRAFO">Este 
                    campo num&eacute;rico de 3 d&iacute;gitos, no obligatorio, permite asociar 
                    un c&oacute;digo de pa&iacute;s diferente al utilizado tanto por Visa 
                    como por Master Card, acorde con las necesidades de determinadas franquicias.</p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Nombre, C&oacute;digo 
              tel&eacute;fono, Moneda, Reguladora, Indizadora, Nivel, Zona postal, Posici&oacute;n 
              inicial, Longitud, Regi&oacute;n internacional, y Pa&iacute;s internacional.</span></p>
            <p class="TITLE"><img src="../img/NUF_003B3.PNG"392" height="435"></p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              
        >
              
            </span></p>
            <p class="TITLE"><img src="../img/NUF_003B15.PNG"749" ></p>
            
            <p><a href="NUH_003B1.html">Departamentos</a><span
              > | </span><a href="NUH_003B2.html">Municipios</a><span > 
              | </span><a href="NUH_003B3.html">Otros</a><span
              > | </span><a href="NUH_003B4.html">Zona 
              postal</a></p>
            
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>