<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Funcionarios</p>
                  
            <p  class="PARRAFO">Mediante esta función se habilita 
              la consulta y mantenimiento de la tabla en la cual la entidad financiera almacena 
              los principales datos básicos de todos sus colaboradores, sean o no 
              empleados directos o personal de apoyo que estén relacionados con el 
              giro del negocio de tarjetas de crédito. La posibilidad de asociar 
              agentes externos de varias empresas está condicionada a que la entidad 
              disponga del módulo <span >Agentes y promotores</span>  puesto que allí reside la tabla correspondiente de Empresas externas.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E.PNG"688" height="665"></p>
            
            <p  class="PARRAFO">El 
              formulario contiene los enlaces: Actualizar, Eliminar, Adicionar y Detalle. 
              Adicionalmente, cuenta con un filtro de búsqueda.</p>
            <p  class="PARRAFO">
                <span class="SUBTITULO">
                         Filtro:	</span><span 
        > Se pueden 
              realizar consultas a través de las siguientes opciones: </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E1.PNG" height="132"></p>

            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Código</p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de cinco posiciones, obligatorio, en el cual se registra 
                    el código que identifica a cada funcionario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Nombre</p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanumérico de 30 posiciones, obligatorio, se registra 
                    el nombre del funcionario asociado a cada código.</p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="SUBTITULO"><span            '>Adicionar</span><span 
        >:</span><span 
        ></span></span><span 
        > Si el 
              usuario invoca la opción Adicionar se despliega un formulario con los 
              siguientes bloques:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E2.PNG"355" height="117"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Código</p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de cinco posiciones, obligatorio, en el cual se registra 
                    el código que identifica a cada funcionario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Nombre</p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanumérico de 30 posiciones, obligatorio, se registra 
                    el nombre del funcionario asociado a cada código.</p></td>
              </tr>
            </table>
            
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E3.PNG"739" height="684"></p>
            
            <div>
              <table>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span style'font-family'>Género</p></td>
                  <td><p  class="PARRAFO">Campo 
                      que posee lista de valores adjunta de la que se debe seleccionar entre 
                      Femenino o Masculino según corresponda, puesto que con base 
                      en este dato el sistema realiza una validación del número 
                      del documento de identificación del funcionario. Este campo 
                      es obligatorio únicamente cuando el tipo de persona es natural.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Cargo</p></td>
                  <td><p  class="PARRAFO">Campo 
                      no obligatorio, que posee lista de valores, de la que se debe seleccionar 
                      el <span >cargo</span>  desempe&ntilde;ado por el funcionario.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Tipo 
                      de documento</span><span
              ></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo cuenta con lista de valores de la que se selecciona el tipo 
                      de <span >documento de identificación</span>  
                      del funcionario, desplegándose la abreviatura del mismo.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Agente 
                      que depende</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo no obligatorio, contiene lista de valores poblada a partir de 
                      esta misma tabla, de la cual se puede seleccionar el superior del 
                      cual depende el funcionario, acorde con las relaciones jerárquicas 
                      ascendentes que pueden darse entre los mismos. Al ingresar el código 
                      de agente depende se debe tener en cuenta que dicho agente debe tener 
                      un nivel de estructura estrictamente menor al agente de quien va depender.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Identificación</p></td>
                  <td><p  class="PARRAFO">Campo 
                      numérico de 16 posiciones, obligatorio, dentro del cual se 
                      registra el número del documento que identifica al funcionario.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Nivel 
                      de estructura</span><span
              ></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que posee lista de valores adjunta que permite asociar a cada funcionario 
                      un valor numérico de cero a cinco, para facilitar el control 
                      de la jerarquía (responsabilidad) entre ellos. Sólo 
                      se habilita cuando exista una relación de dependencia y se 
                      haya diligenciado el campo anterior.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Teléfono</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo alfanumérico de 15 posiciones, no obligatorio, permite 
                      registrar los números telefónicos en que puede ser contactado 
                      el funcionario.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Sueldo</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo numérico de hasta 10 dígitos, no obligatorio 
                      y de carácter simplemente informativo, se puede ingresar el 
                      valor del sueldo básico mensual percibido por el funcionario.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Extensión</span><span
              ></p></td>
                  <td><p  class="PARRAFO">Campo 
                      alfanumérico de 5 posiciones, no obligatorio, en el cual se 
                      registra, si existe, el número de la extensión en que 
                      puede ubicarse al funcionario.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Agente 
                      reemplazo </p></td>
                  <td><p  class="PARRAFO">Campo 
                      no obligatorio, que posee lista de valores, poblada a partir de esta 
                      misma tabla, invocando los nombres de los demás funcionarios, 
                      permite establecer relaciones jerárquicas descendentes entre 
                      los mismos, el sistema asigna el código correspondiente, desplegando 
                      el nombre a éste asociado.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Celular</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo alfanumérico de 15 posiciones, no obligatorio, permite 
                      registrar el número del teléfono celular del funcionario, 
                      en caso que lo hubiere. Esta información cobra especial importancia 
                      en el caso de los funcionarios internos que atienden fraudes y deben 
                      ser informados oportunamente de los posibles fraudes detectados por 
                      los <span >procesos de alertas.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Sucursal</span><span
              ></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo que cuenta con lista de valores, poblada en la opción 
                      <span >Estructura orgánica</span>  dentro del 
                      grupo de Tablas de la entidad financiera, permite seleccionar la sucursal 
                      o dependencia a la que está asociado un funcionario, o bien, 
                      se puede digitar el código de la misma.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Estado</p></td>
                  <td><p  class="PARRAFO">Campo 
                      que posee lista de valores adjunta de la que se debe seleccionar si 
                      el funcionario está Activo, Inactivo, Retirado o Suspendido.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Usuario</p></td>
                  <td><p  class="PARRAFO">Campo 
                      no obligatorio, que posee lista de valores de la que se puede seleccionar 
                      el usuario asignado al funcionario, y que le permite acceder o ingresar 
                      a la base de datos.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Tipo 
                      de funcionario</span>
                      </p></td>
                  <td><p  class="PARRAFO">Este 
                      campo cuenta con lista de valores adjunta de la que se debe seleccionar 
                      entre Interno o Externo la condición del vínculo del 
                      funcionario con la entidad financiera.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Perfil</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo obligatorio, posee lista de valores con los <span >Perfiles 
                      de promotor </span> de la que se selecciona el perfil al que pertenece 
                      el agente.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Fecha 
                      de ingreso</p></td>
                  <td><p  class="PARRAFO">Campo 
                      en formato YYYY-MM-DD, obligatorio, en el cual se registra la fecha 
                      de ingreso del funcionario.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Grupo 
                      de afinidad</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo que cuenta con lista de valores, poblada en la opción 
                      Estructura orgánica dentro del grupo de Tablas de la entidad 
                      financiera, permite seleccionar la sucursal o dependencia a la que 
                      está asociado un grupo de afinidad.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >Fecha 
                      de retiro</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo en formato YYYY-MM-DD, no obligatorio, se registra la fecha 
                      de retiro del funcionario.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Sucursal 
                      grupo de afinidad</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo alfanumérico de 80 posiciones, obligatorio, se registra 
                      el nombre asociado al código de cada categoría.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Empresa 
                      externa </span>
                      </p></td>
                  <td><p  class="PARRAFO">Campo 
                      no obligatorio, posee lista de valores de la que se selecciona la 
                      organización a la que pertenece el agente.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Tipo 
                      de cuenta</p></td>
                  <td><p  class="PARRAFO">Si 
                      las comisiones que devengue el funcionario le deben ser abonadas en 
                      una cuenta Corriente Rotativo o de Ahorro, en este campo se selecciona 
                      el tipo o clase de cuenta a afectar.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Dirección</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo alfanumérico de 40 dígitos, no obligatorio, 
                      se ingresan los datos de la ubicación (nomenclatura) de la 
                      sede principal de la empresa para la que labora el agente externo.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Número 
                      cuenta</p>        </td>
                  <td><p  class="PARRAFO">Una 
                      vez seleccionado el tipo de cuenta debe registrarse en este campo 
                      el número de la cuenta a afectar.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO">Fax</p></td>
                  <td><p  class="PARRAFO">Campo 
                      alfanumérico de 20 posiciones, no obligatorio, dentro del que 
                      se digita el número(s) del fax de la empresa externa.</p></td>
                </tr>
                <tr> 
                  <td><p class="SUBTITULO"><span 
        >Puede 
                      reestructurar directamente</p></td>
                  <td><p  class="PARRAFO">Campo 
                      no obligatorio, permite determinar o se&ntilde;alar para cada funcionario 
                      si posee o no el atributo de realizar o gestionar reestructuración 
                      de obligaciones sin que las mismas cumplan con los <span >parámetros</span>  
                      establecidos para ese evento.</p></td>
                </tr>
                <tr> 
                  <td  class="titletable" ><p class="SUBTITULO"><span 
        >E-mail</p></td>
                  <td><p  class="PARRAFO">Este 
                      campo alfanumérico de 30 posiciones, no obligatorio, permite 
                      registrar la dirección electrónica del funcionario, 
                      bien sea Interno o Externo a la entidad, información que es 
                      supremamente útil y necesaria en casos como el de los funcionarios 
                      que atienden fraudes y deben ser <span >informados</span>  
                      oportunamente de los posibles fraudes detectados por los <span >procesos 
                      de alertas</span>.</p></td>
                </tr>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span 
        >Pagar 
                      a la empresa</p></td>
                  <td><p  class="PARRAFO">En 
                      este campo no obligatorio, que se activa únicamente para los 
                      agentes externos, se indica de manera individual si las comisiones 
                      y demás valores devengados por éstos deben ser cancelados 
                      directamente a la empresa para la que laboran o en su defecto a ellos 
                      mismos.</p></td>
                </tr>
              </table>
              .
              <p class="PARRAFO"><span class="SUBTITULO">
              Actualizar</span>: 
                 Al activar ese enlace  se despliega un formulario 
                en el cual los únicos campos modificables son: Nombre, Género, 
                Cargo, Tipo de documento, Agente que depende, Identificación, Nivel 
                de estructura, Teléfono, Sueldo, Extensión, Agente reemplazo, 
                Celular, Sucursal, estado, Usuario, Tipo de funcionario, Perfil, Fecha de 
                ingreso, Grupo de afinidad, Fecha de retiro, Sucursal grupo de afinidad, 
                Empresa externa, Tipo de cuenta, Dirección, Número de cuenta, 
                Fax, Puede reestructurar directamente, E-mail, y Pagar a la empresa.</p>
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E6.PNG"763" height="997"></p>
              <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>
                <span 
        > Si el usuario invoca la opción Detalle se despliega el siguiente 
                formulario:</span><span
              
        >
                
                </p>
             <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_045E7.PNG"782" height="381"></p>
              .
        </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>