<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Identificadores contables</p>

      <p class="PARRAFO">Desde este formulario, se habilita la consulta
        y mantenimiento de una tabla en la cual se almacena la información
        de los identificadores que permiten clasificar el movimiento generado en la
        operación diaria de la entidad y le permiten a esta asociar dicho movimiento
        a cuentas contables diferentes según corresponda.</p>
      <p class="TITLE"><img src="../img/NUF_078E.PNG" ></p>
      <p class="PARRAFO">El formulario cuenta con un filtro que permite
        efectuar consultar por el identificador y/o la descripción del mismo.</p>
      <p class="TITLE"><img src="../img/NUF_078E1.PNG" ></p>

      <p class="PARRAFO">El formulario contiene las opciones Actualizar,
        Eliminar y Adicionar</p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
        si el usuario invoca la opción Adicionar se despliega un nuevo formulario
        con los siguientes campos:</p>
      <p class="TITLE"><img src="../img/NUF_078E2.PNG" 352"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"> Identificador</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico de 3 dígitos, obligatorio, reservado a funcionarios
              de OpenCard y en en el que se registra la combinación de caracteres
              que van a permitir diferenciar el movimiento a partir del evento que
              lo genera.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">
                  Descripción</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico, obligatorio, en el que se registra una breve descripción
              del identificador.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">
                  Código</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo no obligatorio y parametrizado por la entidad, se homologa
              el identificador contable dado por OpenCard con un código manejado
              por la entidad, para que dicho identificador sea reconocido en la interfase
              contable en el momento de su generación.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">
                  Orígen</span>es</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              no obligatorio que contiene lista de valores de la cual se puede seleccionar
              el <a href="NUH_027B.html" >origen</a> primario
              de movimeinto que se desea asociar con determinado identificador contable.
              Su diligenciamiento está reservado a funcionarios de OpenCard.
            </p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:
        si el usuario selecciona un registro e invoca la opción Actualizar
        se despliega un formulario en el cual los campos modificables son Descripción, Código y
        Orígenes. </p>
      <p class="TITLE"><img src="../img/NUF_078E3.PNG" 345"></p>

      <div>
  </section>
  <script src="../js/menu.js"></script>

  <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>