<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Parámetros Grupos Entrada y Salida </p>
                  
            <p class="PARRAFO" >Este  formulario le permite a la entidad  consolidar o agrupar programas cuya funcionalidad es afin en cuanto a que o bien requieren el ingreso de archivos para procesar o bien, generan archivos de salida, acorde al protocolo de transferencia de archivos a utilizar, FTP o SSH, dichos grupos pueden ser   básicos de   entrada o de salidad, con o sin encripción, adicionalmente, ésta clasificación constituye la base y es obligatoria para poder establecer cuales archivos son de salida y cuales de entrada y con ello definir las llaves que usaran para cifrar y descifrar, ver  </span><a href="NUH_124E.html"><span >asociación con las llaves de encripción</span></a><span class="PARRAFO"> y con el tipo de protocolo. </p>
            <p class="PARRAFO" >El formulario contiene los enlaces Actualizar, Eliminar, Adicionar y Detalle. </p>
            <p class="TITLE"><img src="../img/NUF_121E1.PNG"></p>
           
            <p class="PARRAFO" >Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</p>
            <p class="TITLE"><img src="../img/NUF_121E2.PNG"></p>
           
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr>
                <td class="titletable" ><p class="SUBTITULO">Tipo de Grupo
                </p></td>
                <td><p  class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo,  con los valores  Entrada o Salida de la que la entidad debe seleccionar, para el grupo a crear, a cual de ellas corresponde.</p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Nombre Grupo</td>
                <td><p class="PARRAFO">Campo alfanumérico de 30 posiciones, obligatorio, en el que debe indicarse, de la manera más concreta, la manera en que se identifica un grupo de procesos y que lo diferencia de otros grupos. </p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Descripción</td>
                <td><p  class="PARRAFO">Campo alfanumérico de 300 posiciones, no obligatorio, en el que la entidad, si lo desea, puede almacenar información adicional sobre el grupo que se se adiciona o modifica. Una vez finalizada la captura de los datos, basta con activar el botón Salvar, para que la misma sea almacenada en la base de datos. </p></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO"> Actualizar:</span>  Si el usuario selecciona un registro e invoca la opciónActualizarse despliega un formulario en el cual el único campoNOmodificable es Tipo de grupo.</p>
            <p class="TITLE"><img src="../img/NUF_121E3.PNG" ></p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Detalle: </span>  si el usuario selecciona un registro e invoca la opción Detalle se despliega un formulario con toda la información del registro y en el cual ninguno de sus campos es modificable.</p>
            <p class="TITLE"><img src="../img/NUF_121E4.PNG"></p>
            
            <div>
              
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>