<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Grupos metas oficina</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Oficinas: </span> Conjunto de campos que permiten indicar cuál o
                cuáles son las oficinas que constituyen cada uno de los grupos a los que se les fijan las metas.
            </p>
            <p class="PARRAFO">El formulario contiene los enlaces: Eliminar
                y Adicionar. Adicionalmente, cuenta con un botón en la parte superior para regresar a la
                opción anterior: <a href="NUH_082B1.html">Fecha vigencia</a><a href="NUH_082B.html"></a>.</p>
            <p class="TITLE"><img src="../img/NUF_082B7.PNG" 519" height="462"></p>

            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace
                se despliega un formulario con los siguientes campos:</span> 
            </p>
            <p class="TITLE"><img src="../img/NUF_082B8.PNG" 354"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Código oficina </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo con lista de valores poblada a través de la opción <a
                                href="NUH_020B.html">Estructura organizacional</a> de la que debe seleccionarse cada una
                            de las oficinas que hacen parte de los diferentes grupos de metas.</p>
                    </td>
                </tr>
            </table>
           
            <p class="PARRAFO"><a href="NUH_082B.html">Grupos metas oficina</a><a href="NUH_082B1.html"></a> | </span><a
                    href="NUH_082B1.html">Fecha vigencia</a><a href="NUH_082B2.html"></a></p>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>