<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  <style>
    section div table {

      border-spacing: 10px;
      /* Ajusta el valor según desees */

    }
  </style>
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>

    <div>

      <p class="TITLE">
        Actividades Economicas </p>
      <p class="PARRAFO">Mediante esta función, se habilita la consulta (mediante un filtro) y mantenimiento de la estructura,
         en la cual se almacenan las descripciones de las diferentes actividades económicas, que pueden ser desempeñadas por los clientes,
          y que se asocian a él dentro del proceso de ingreso de la solicitud; esta estructura se encuentra poblada, inicialmente, con la
           clasificación del Código Internacional Industrial Uniforme (C.I.I.U.), elaborada por las Naciones Unidas, que se desagrega o
            descompone en cuatro niveles. El formulario cuenta con los enlaces: División de la parte superior, así como, Actualizar,
             Eliminar y Adicionar.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E.svg"></p>

      <p class="PARRAFO">
          Sumado
          al vínculo División de la parte superior, el formulario contiene
          las opciones Actualizar, Eliminar y Adicionar.
        </span></p>
      <p class="PARRAFO">
      <span class="SUBTITULO">Adicionar</span>: Al activar ese enlace se despliega el siguiente formulario:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E1.svg"></p>
            <div> 
              <table>
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><span >Categoría</span>
        </span>
      </p>
      </td>
      <td>
        <p class="PARRAFO">	
          Campo alfanumérico de dos dígitos, obligatorio, que corresponde al código asignado a cada una de las categorías del código C.I.I.U.</p>
      </td>
      </tr>
      <tr>
        <td class="titletable">
          <p class="SUBTITULO">Nombre</span></p>
        </td>
        <td>
          <p class="PARRAFO">	
            En este campo alfanumérico de 80 posiciones, obligatorio, se registra el nombre asociado al código de cada categoría.</p>
        </td>
      </tr>
      <tr>
        <td class="titletable">
          <p class="SUBTITULO"><span >Abreviatura</span>

            </span></p>
        </td>
        <td>
          <p class="PARRAFO">	
            Campo alfanumérico de 10 posiciones, no obligatorio, en el cual se condensa el nombre asociado al código de cada categoría, para ser utilizado en los reportes o consultas donde sea necesario.</p>
        </td>
      </tr>
      </table>
    </div>
    <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
      Al activar ese enlace se despliega un formulario en el cual, los únicos campos modificables son: Nombre y Abreviatura:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E2.svg"></p>
            
            <p  class="TITLE"><span >División</span></p>
            <p  class="PARRAFO">Al invocar la vínculo División, 
              el sistema muestra el siguiente formulario:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E3.svg"></p>
            
            <p  class="PARRAFO">Son el segundo nivel de la clasificación del C.I.I.U. correspondiente a las divisiones que conforman cada categoría. En la parte superior del bloque aparece un campo que identifica la categoría a la que pertenece la división. Además del enlace Grupo de la parte superior, el formulario contiene los enlaces: Actualizar, Eliminar y Adicionar.</p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span>: Al activar ese enlace se despliega el siguiente formulario:</span>

      </span></p>
    <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E4.svg"></p>

    <table>
      <tr>
        <td class="titletable">
          <p class="SUBTITULO">División</p>
        </td>
        <td>
          <p class="PARRAFO">Campo alfanumérico de dos dígitos, obligatorio,
            que corresponde al código asignado a cada una de las divisiones.</p>
        </td>
      </tr>
      <tr>
        <td class="titletable">
          <p class="SUBTITULO">Nombre</p>
        </td>
        <td>
          <p class="PARRAFO">En
            este campo alfanumérico de 80 posiciones, obligatorio, se registra
            el nombre asociado al código de cada división.</p>
        </td>
      </tr>
      <tr>
        <td class="titletable">
          <p class="SUBTITULO">Abreviatura</p>
        </td>
        <td>
          <p class="PARRAFO">Campo
            alfanumérico de 10 posiciones, en el cual se condensa el nombre
            asociado al código de cada división, para ser utilizado
            en los reportes o consultas donde sea necesario.</p>
        </td>
      </tr>
    </table>
    <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>: 
      Al activar ese enlace se despliega un formulario en el cual, los únicos campos modificables son: Nombre y Abreviatura:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E5.svg"></p>
            
            <p  class="TITLE"><span >Grupos</span></p>
            <p  class="PARRAFO">Al invocar ese enlace, el sistema muestra el siguiente formulario:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E6.svg"></p>
            
            <p  class="PARRAFO">Son el tercer nivel de la clasificación del C.I.I.U. correspondiente a los grupos que conforman cada división. En la parte superior del bloque aparece un campo que identifica la categoría y la división a la que pertenece el grupo. Adicional al enlace Clase de la parte superior, el formulario cuenta con los enlaces: Actualizar, Eliminar y Adicionar.</p>
           
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar</span>: Al activar ese enlace se despliega el siguiente formulario:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"   src="../img/NUF_032E7.svg"> 
              </span></p>
            
            <table>
              <tr>
            <td class="titletable">
              <p class="SUBTITULO">Grupo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de dos dígitos, obligatorio, que corresponde
                al código asignado a cada uno de los grupos.</p>
            </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO">Nombre</p>
              </td>
              <td>
                <p class="PARRAFO">En
                  este campo alfanumérico de 80 posiciones, obligatorio, se registra
                  el nombre asociado al código de cada grupo.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO">Abreviatura</p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  alfanumérico de 10 posiciones, no obligatorio, en el cual se
                  condensa el nombre asociado al código de cada grupo, para ser
                  utilizado en los reportes o consultas donde sea necesario.</p>
              </td>
            </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>: 
              Al activar ese enlace se despliega un formulario en el cual, los únicos campos modificables son: Nombre y Abreviatura:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E8.svg"></p>
            
            <p  class="TITLE"><span >Clases</span></p>
            <p  class="PARRAFO">Al invocar ese enlace, el sistema muestra el siguiente formulario:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E9.svg"></p>
            
            <p  class="PARRAFO">Son el cuarto y último nivel de la clasificación del C.I.I.U. correspondiente a las clases que conforman cada grupo. En la parte superior del bloque aparece un campo que identifica la categoría, división y grupo a los que pertenece la clase. </p>
            <p  class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar.</span></p>
            <p  class="PARRAFO"><span class="SUBTITULO" >Adicionar</span>: Al activar ese enlace se despliega el siguiente formulario:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E10.svg"></p>
            
            <table>
              <tr>
                    <td>
                      <p class="SUBTITULO">Clase</p>
                    </td>
                    <td>
                      <p class="PARRAFO">Campo
                        alfanumérico de dos dígitos, obligatorio, que corresponde
                        al código asignado a cada una de las clases.</p>
                    </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="SUBTITULO">Nombre</p>
                      </td>
                      <td>
                        <p class="PARRAFO">En
                          este campo alfanumérico de 80 posiciones, obligatorio, se registra
                          el nombre asociado al código de cada clase.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="SUBTITULO">Abreviatura</p>
                      </td>
                      <td>
                        <p class="PARRAFO">Campo
                          alfanumérico de 10 posiciones, no obligatorio, en el cual se
                          condensa el nombre asociado al código de cada clase, para ser
                          utilizado en los reportes o consultas donde sea necesario.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="SUBTITULO">Niega
                          solicitud</p>
                      </td>
                      <td>
                        <p class="PARRAFO">	
                          En este campo la entidad señala todas y cada una de las actividades económicas para las cuales se abstiene de otorgarles crédito, información que será tomada en cuenta en el proceso de Solicitudes.</p>
                      </td>
                    </tr>
                    </table>
                    <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>: 
                      Al activar ese enlace se despliega un formulario en el cual, los únicos campos modificables son: Nombre y Abreviatura:</span></p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_032E11.svg"></p>
            
            </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>