<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        
            <div>
                <p class="TITLE">Botones seguros </p>
                                
                <p class="PARRAFO">Mediante esta opción se permite la consulta y mantenimiento de la tabla en la que se registran los botones especiales contenidos dentro
                     de algunos formularios del sistema. A estos botones se les puede restringir el acceso a un rol en particular desde la opción <a href="NUH_014B.html"
                        >Roles y restricción</a>. Además de contar con un filtro de búsqueda, el formulario dispone de los enlaces: Actualizar, Eliminar y Adicionar.

                    </p>
                <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_034B.PNG"></p>
               <P class="PARRAFO"> El formulario cuenta con esa funcionalidad de búsqueda, necesaria para la consulta de la información:</p>
                <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_034B1.PNG"></p>
               
                <table>
                    <tr>
                        <td>
                            <p class="SUBTITULO">Botón seguro </p>

                        </td>
                        <td>
                            <p class="PARRAFO">Campo que posee lista de valores adjunta de la que se puede seleccionar o buscar, el botón seguro que se quiere consultar.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">Caso de uso </p>
                        </td>
                        <td>
                            <p class="PARRAFO">Campo que permite ingresar hasta 100 caracteres alfanuméricos, en el que se digita total o parcialmente, el caso de uso para el que se requiere consultar, permite realizar la búsqueda utilizando el símbolo %.

                            </p>
                        </td>
                    </tr>
                </table>
                
                <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se despliega un formulario con los siguientes campos:</span> 
                </p>
                <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_034B2.PNG"></p>
                
                <table>
                    <tr>
                        <td>
                            <p class="SUBTITULO">Botón
                                            seguro </span></p>
                        </td>
                        <td>
                            <p class="PARRAFO">En este campo de 40 caracteres, obligatorio, se debe ingresar el nombre exacto del botón seguro, tal como se encuentra definido en el código de la JSP.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                Descripción</span></p>
                        </td>
                        <td>
                            <p class="PARRAFO">En este campo de 30 caracteres, no obligatorio, se puede ingresar una breve descripción de la funcionalidad del botón grabado.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">Caso de uso
                                        </span></p>
                        </td>
                        <td>
                            <p class="PARRAFO">Campo alfanumérico de 100 caracteres, obligatorio, en el cual se debe ingresar el caso de uso al cual pertenece el botón adicionado o actualizado.

                            </p>
                        </td>
                    </tr>
                </table>
                
                <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
                    Al activar ese enlace se despliega un formulario en el cual los únicos campos modificables son: Descripción y Caso de uso. </span> 
                </p>
                <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/WWW_005.PNG"></p>
            </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>