<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Profesiones</p>

      <p class="PARRAFO">Mediante esta funci&oacute;n se habilita
        la consulta y mantenimiento de la tabla en la cual se almacenan, a tres niveles,
        las diferentes profesiones desempe&ntilde;adas tanto por los tarjetahabientes
        como por los funcionarios usuarios del Sistema, con base en la codificaci&oacute;n
        establecida por el ICFES. La clasificaci&oacute;n se hace en tres categor&iacute;as,
        siendo el nivel la primera de ellas y presenta las carreras agrupadas en niveles
        de formaci&oacute;n: T&eacute;cnica profesional, Tecnol&oacute;gica, Universitaria
        u otros que la entidad considere. Le siguen en orden la categor&iacute;a del
        <a href="NUH_030B.html#BL_AREA"> &aacute;rea</a> de
        conocimiento y finalmente la <a href="NUH_030B.html#BL_PROFESION">profesi&oacute;n</a>.
        El formulario cuenta con una opci&oacute;n de Filtro de B&uacute;squeda por C&oacute;digo y Nombre.
        </span>
      </p>
      <p class="TITLE"><img src="../img/NUF_030E.PNG"></p>
      <p class="PARRAFO">El formulario contiene las opciones Actualizar,
        Eliminar y Adicionar. Cuenta tambi&eacute;n con el hiperv&iacute;nculo Areas.</p>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Adicionar</span>:</span></span>
          Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.
        </span>
      </p>
      <p class="TITLE"><img src="../img/NUF_030E1.PNG"></p>
      <p class="TITLE">Descripci&oacute;n de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">C&oacute;digo</span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de dos d&iacute;gitos, obligatorio, que contiene
              el c&oacute;digo asignado a cada uno de los niveles definidos por la
              entidad.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripci&oacute;n</span></p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo alfanum&eacute;rico de 80 posiciones, obligatorio, se registra
              el nombre del nivel asociado a cada c&oacute;digo.
            </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Actualizar</span>:</span></span>
          Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
          en el cual el &uacute;nico campo modificable es Descripci&oacute;n.</span>
      </p>
      <p class="TITLE"><img src="../img/NUF_030E2.PNG"></p>

      <div>
        <p class="PARRAFO"><a name="BL_AREA"></a><span class="SUBTITULO">Areas:</span></span>
            Si el usuario invoca la opci&oacute;n Areas, se despliega un nuevo formulario
            con el mismo nombre y que corresponde a la segunda categor&iacute;a de la
            clasificaci&oacute;n. Permite indicar el &aacute;rea de conocimiento a la
            que pertenece cada carrera.</span> El formulario cuenta con una opci&oacute;n de Filtro de
          B&uacute;squeda por C&oacute;digo y Nombre. </p>
        <p class="TITLE"><img src="../img/NUF_030E3.PNG" 740" height="477"></p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar y Adicionar. Cuenta tambi&eacute;n con el hiperv&iacute;nculo Profesiones.</p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span>
        </p>
        <p class="TITLE"><img src="../img/NUF_030E4.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de dos d&iacute;gitos, obligatorio, que contiene
                el c&oacute;digo asignado a cada &aacute;rea de conocimiento.

              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanum&eacute;rico de 80 posiciones, obligatorio, se registra
                el nombre del &aacute;rea de conocimiento asociado a cada c&oacute;digo.

              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:</span>
          </span>
            Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar
            se despliega un formulario en el cual el &uacute;nico campo modificable
            es Descripci&oacute;n.</span>
        </p>
        <p class="TITLE"><img src="../img/NUF_030E5.PNG"></p>

        <p class="PARRAFO"><a name="BL_PROFESION"></a><span
            class="SUBTITULO">Profesiones:</span></span>
            Si el usuario invoca la opci&oacute;n Profesiones, se despliega un nuevo
            formulario con el mismo nombre y que corresponde a la tercera categor&iacute;a
            la clasificaci&oacute;n. Permite indicar el nombre oficial de las diferentes
            carreras dentro de cada &aacute;rea del conocimiento y nivel.</span> El formulario cuenta con una
          opci&oacute;n de Filtro de B&uacute;squeda por C&oacute;digo y Nombre. </p>
        <p class="TITLE"><img src="../img/NUF_030E6.PNG"></p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar y Adicionar. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span>
        </p>
        <p class="TITLE"><img src="../img/NUF_030E7.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que contiene
                el c&oacute;digo asignado a cada profesi&oacute;n.

              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanum&eacute;rico de 80 posiciones, obligatorio, se registra
                el nombre de la profesi&oacute;n asociada a cada c&oacute;digo.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Actualizar</span>:</span></span>
            Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar
            se despliega un formulario en el cual el &uacute;nico campo modificable
            es Descripci&oacute;n.</span>
        </p>
        <p class="TITLE"><img src="../img/NUF_030E8.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">
            </span></p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>