<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Par&aacute;metros Llaves de cifrado PGP</p>
                  
            <p class="PARRAFO" >El proceso de encripci&oacute;n / desencripci&oacute;n de archivos cifrados con PGP (Pretty  Good Privacy - Privacidad  bastante buena), requiere que quien encripta, mediante el sistema operativo,  genere un juego de archivos conocidos como llave p&uacute;blica y llave privada, los cuales son indispensables para la desencripci&oacute;n de los archivos que viajan cifrados. El aplicativo, a trav&eacute;s de este  formulario le permite a la entidad  definir los datos esenciales para dicho prop&oacute;sito ya que parte de &eacute;stos sos utilizados en la </span><a href="NUH_124E.html"><span >asociaci&oacute;n con las llaves de encripci&oacute;n</span></a><span class="PARRAFO">. </p>
            <p  class="PARRAFO">El formulario contiene los enlaces Actualizar, Eliminar, Adicionar,  Detalle y Descargar Llave. </p>
            <p class="TITLE"><img src="../img/NUF_122E1.PNG"659" ></p>
           
            <p class="PARRAFO" >Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</p>
            <p class="TITLE"><img src="../img/NUF_122E2.PNG"395" height="363"></p>
           
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr>
                <td class="titletable" ><p class="SUBTITULO">Nombre Llave
                </p></td>
                <td><p  class="PARRAFO">Campo alfanum&eacute;rico de 30 posiciones, obligatorio, en el que la entidad registra el nombre con el que va a identificar cada una de las llaves creadas para cifras y descifrar los archivos encriptados.</p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Ruta archivo llave</td>
                <td><p class="PARRAFO">Campo no digitable que posee bot&oacute;n especial Examinar, mediante el cual permite navegar hasta encontrar el archivo de una llave p&uacute;blica espec&iacute;fica, diferente al actualmente en uso. </p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Frase Secreta</td>
                <td><p  class="PARRAFO">Campo alfanum&eacute;rico de 100 posiciones, obligatorio, en el que la entidad almacena la contrase&ntilde;a requerida para descifrar los archivos que llegan cifrados. </td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Correo Electr&oacute;nico</td>
                <td><p class="PARRAFO">Campo alfanum&eacute;rico de 100 posiciones, obligatorio, en el que la entidad almacena, en formato de direcci&oacute;n electr&oacute;nica, un nombre alternativo con el que pueden cifrarse los archivos. </p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Descripci&oacute;n</td>
                <td><p class="PARRAFO">Campo alfanum&eacute;rico de 40 posiciones, obligatorio, en el que debe registrarse una breve sintesis de la raz&oacute;n de ser de cada una de las llaves parametrizadas. </p></td>
              </tr>
              <tr>
                <td class="SUBTITULO" >Fecha Vencimiento Llave</td>
                <td  class="PARRAFO" ><p>Campo que posee funcionalidad de calendario, esto es, se despliega un calendario mediante el cual se puede seleccionar la fecha hasta la cual, por pol&iacute;ticas de seguridad, ser&aacute; v&aacute;lida la llave parametrizada y aunque si bien este campo puede ser nulo indicando que no expira, en caso de tener valor, los archivos que intenten ser desencriptados en un fecha posterior a la aqu&iacute; indicada, el sistema no va a permitirlo.</p></td>
              </tr>
            </table>
            <p class="PARRAFO" ><span class="SUBTITULO"> Actualizar:</span>  Si el usuario selecciona un registro e invoca la opci&oacute;nActualizarse despliega un formulario en el cual el &uacute;nico campoNOmodificable es Nombre Llave.</p>
            <p class="TITLE"><img src="../img/NUF_122E3.PNG"></p>
           
            <p class="PARRAFO"><span class="SUBTITULO"> Detalle:</span>  si el usuario selecciona un registro e invoca la opci&oacute;nDetallese despliega un formulario con toda la informaci&oacute;n del registro y en el cual ninguno de sus campos es modificable.</p>
            <p class="TITLE"><img src="../img/NUF_122E4.PNG"></p>
            
            <p class="PARRAFO"><span class="SUBTITULO">Descargar Llave:</span>  si el usuario activa &eacute;ste hiperv&iacute;nculo el sistema descarga, localmente, el archivo indicado en el campo Ruta archivo llave, arriba descrito.</p>
            <div>
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>