<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Franquicias</p>         
            <p class="PARRAFO"><span class="SUBTITULO">Parámetros acciones para el exception file: </span> Mediante esta
                función se habilita el mantenimiento y consulta de la tabla que contiene la
                parametrización requerida por el sistema, para la generación del archivo exception file a
                enviarse a las franquicias, con las novedades (robos, bloqueos, etc) de las tarjetas y de esa manera
                mantener actualizado, a nivel internacional, el archivo de Excepción de cada entidad financiera,
                permitiendo a cada emisor dar una predeterminada respuesta de autorización.</p>
            <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar,
                y Adicionar. Adicionalmente, cuenta con un botón en la parte superior para regresar al formulario
                principal de <a href="NUH_033B.html" >Franquicias</a>.</p>
            <p class="TITLE"><img src="../img/NUF_033B13.PNG"></p>

            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se despliega el siguiente formulario:</p>
            <p class="TITLE"><img src="../img/NUF_033B14.PNG"></p>
            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Código</p>
                    </td>
                    <td class="PARRAFO">
                        <p class="PARRAFO">Campo alfanumérico, obligatorio, en el que se registra el código mediante el
                            cual cada franquicia identifica las causales o acciones por las que se genera la novedad a
                            ser reportada.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Descripción</span></p>
                    </td>
                    <td class="PARRAFO">
                        <p class="PARRAFO">Campo alfanumérico de 30 dígitos, obligatorio, en el que se registra el
                            descriptivo asociado a cada código de acción.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
                Al activar ese enlace se despliega un formulario en el cual el único campo modificable es la Descripción:</p>
            <p class="TITLE"><img src="../img/NUF_033B15.PNG"></p>

            <p class="PARRAFO"><a href="NUH_033B.html">Franquicias</a><a href="NUH_003B1.html"></a><span
                > | </span><a href="NUH_033B3.html">Parámetros operativos</a></a><span
                > | </span><a href="NUH_033B1.html">Clases de prefijos</a><a href="NUH_033B2.html"></a><a href="NUH_003B2.html"></a><span > 
                | </span><a href="NUH_033B4.html">Parámetros acciones para el exception file</a><span
                > | </span><a href="NUH_033B2.html"></a><a href="NUH_033B3.html"></a><a href="NUH_003B3.html"></a>
              <a href="NUH_033B4.html"></a><a href="NUH_033B5.html"></a><a href="NUH_033B1.html"></a><a href="NUH_003B1.html"></a><a href="NUH_033B5.html">Parámetros acciones por bloqueos</a><a href="NUH_033B2.html"></a><a href="NUH_003B2.html"></a><span > | </span><a href="NUH_033B6.html">Parámetros regiones para el exception file</a></p>
        </div>
    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>