<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Entidades territoriales</p>
                       
            <p class="PARRAFO"><span class="SUBTITULO">Otros:</span>  Cuarto y último nivel de la división política, en la parte superior aparecen tanto el país como el departamento (estado o provincia) y municipio (cantón) a los que pertenecen; presenta un campo en el que aparece el país, departamento (estado o provincia) y municipio (cantón) a los que pertenecen. El formulario contiene los enlaces: Actualizar, Eliminar, y Adicionar. Adicionalmente, se puede regresar a la opción <a
                    href="NUH_003B2.html">Municipios</a>
                a través del botón volver de la parte superior izquierda.</p>
            <p class="TITLE"><img src="../img/NUF_003B10.PNG"></p>

            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opción Adicionar
                se despliega un formulario con los siguientes campos:</span> 
            </p>
            <p class="TITLE"><img src="../img/NUF_003B11.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Otro</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            alfanumérico de cinco dígitos, obligatorio, que contiene
                            el código asignado a cada inspección de policía,
                            corregimiento o zona rural (parroquia).</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Nombre</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            alfanumérico de 35 posiciones, obligatorio, en el cual se registra
                            el nombre de la inspección de policía, corregimiento o
                            zona rural (parroquia) asociado al respectivo código.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Tipo
                                    entidad </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            que posee lista de valores adjunta de la que debe seleccionarse la categoría
                            que mejor se asimile al nivel de la división geopolítica
                            registrada.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
                    Si el usuario invoca la opción Actualizar se despliega un nuevo formulario
                    en el cual los únicos campos modificables son: Nombre, y Tipo Entidad.</p>
            <p class="TITLE"><img src="../img/NUF_003B12.PNG" 337" height="122"></p>

            <p class="PARRAFO"><span class="PARRAFO"><a href="NUH_003B.html">Países</a>
                        | </span></span>  <span class="PARRAFO"><a href="NUH_003B1.html">Departamentos</a>
                    |</span>  <a href="NUH_003B2.html">Municipios</a> |
                </span><a href="NUH_003B4.html"><span class="PARRAFO"></span> 
                    Zona postal</a></p>

    </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>