<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Tipos documento identificación</p>

        <p class="PARRAFO">Mediante esta función, se habilita la consulta y
          mantenimiento de la estructura en la cual se almacenan los códigos y
          nombres, de los diferentes tipos de documentos de identificación
          estandarizados en la mayoría de las entidades financieras; la forma
          permite asociarle a cada uno, la clase de persona a la que
          corresponde, el código interno con que lo identifica el aplicativo, y
          si aplica, el programa que los valida.</p>
        <p class="TITLE"><img src="../img/NUF_008E.PNG"></p>
        <p class="PARRAFO">El
          formulario contiene las opciones Actualizar, Eliminar, y
          Adicionar.</p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la opción Adicionar se
          despliega un formulario con los siguientes campos:</span>
      </p>
      <p class="TITLE"><img src="../img/NUF_008E1.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código</p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de dos dígitos, obligatorio, que
              corresponde al
              código asignado a cada uno de los tipos de documentos de
              identificación.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Nombre</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo alfanumérico de 30 posiciones,
              obligatorio, se registra el nombre
              asociado al código anterior.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código interno </p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores que permite
              asociar cualesquiera tipo de documento
              definido en esta pantalla, con uno en particular relacionado con
              la programación interna del
              aplicativo, es decir, con el cual el programa lo reconocerá. Los
              posibles valores a elegir son:
              Cédula, Nit, Tarjeta identidad, Cédula extranjería, pasaporte,
              Seguro
              social, Fidecomiso, Sociedad extranjera sin nit, Nit extranjería,
              y Otro.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Abreviatura</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo alfanumérico de 5 posiciones,
              obligatorio, se registra el
              mnemónico o representación del nombre asociado al código de cada
              tipo de documento,
              utilizado para reportes impresos o consultas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Naturaleza</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que contiene lista de valores de la cual se
              selecciona entre Natural o
              Jurídica la clase de persona asociada a cada tipo de documento de
              identificación.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Programa validador </p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se selecciona de la lista de
              valores adjunta, siempre y cuando aplique, el
              procedimiento que valida el dígito de chequeo del NIT o los rangos
              de tipo de documento de
              identificación según el sexo del cliente. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span
            class="SUBTITULO">Actualizar:</span> Si el usuario invoca la
          opción Actualizar se despliega un nuevo formulario
          en el cual los únicos campos modificables son: Nombre, Abreviatura,
          Naturaleza, y Programa validador.
        </span></p>
      <p class="TITLE"><img src="../img/NUF_008E2.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>
  </body>
  <div id="footerContainer"></div>
  <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>