<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Mensajes del extracto</p>

        <p class="PARRAFO">Mediante esta función se habilita la consulta y mantenimiento
          de la tabla que contiene la información que la entidad desea
          trasmitirle a sus clientes. Existe una jerarquía de los tipos
          de mensaje, el sistema despliega primero los asociados a los <span><a
              href="CAH_002B.html">bloqueos</a>,</span> luego los generados por
          la <a href="MEH_012B.html">segmentación de clientes</a> y
          finalmente los relacionados con los <a
            href="MEH_002B.html">productos</a>. La forma ofrece tres
          líneas por cada clase de mensaje, espacio del que se dispone
          pero es necesario optimizar y adecuar el tipo y tama&ntilde;o de letra
          con la cantidad de caracteres a utilizar.</p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar, Adicionar y Detalle.</p>
        <p class="TITLE"><img src="../img/NUF_062B.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la opción Adicionar se despliega un formulario
          con los siguientes campos<span>:</p>
        <p class="TITLE"><img src="../img/NUF_062B1.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Código</p></td>
            <td><p class="PARRAFO">Campo numérico de 4 dígitos,
                obligatorio, que contiene el número que identifica a cada
                clase de mensaje que aparece dentro del extracto del
                cliente.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO">Descripción</p></td>
            <td><p class="PARRAFO">En este campo alfanumérico de 30
                dígitos, se registra el nombre asociado al código
                de cada mensaje.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
            <td><p class="PARRAFO">Campo obligatorio que posee lista de valores
                de la que debe seleccionarse la <a
                  href="NUH_005B.html">Moneda</a> en que se expresan los valores
                del extracto al que se le asocia el correspondiente mensaje.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Tipo</p></td>
            <td><p class="PARRAFO">En este campo obligatorio se debe seleccionar
                de la lista de valores adjunta de la cual se debe seleccionar
                entre Financiero, Comercial, General o Bloqueo el tipo de
                mensaje.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Línea 1 </p>
            </td>
            <td><p class="PARRAFO">Campo alfanumérico de 240
                dígitos, no obligatorio, dentro del que se registra el
                contenido de cada una de las líneas que para un mismo
                tipo de mensaje contendrá el extracto.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Línea 2 </p></td>
            <td><p class="PARRAFO">Campo alfanumérico de 240
                dígitos, no obligatorio, dentro del que se registra el
                contenido de cada una de las líneas que para un mismo
                tipo de mensaje contendrá el extracto.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Línea 3 </p></td>
            <td><p class="PARRAFO">Campo alfanumérico de 240
                dígitos, no obligatorio, dentro del que se registra el
                contenido de cada una de las líneas que para un mismo
                tipo de mensaje contendrá el extracto.</p></td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un formulario
            en el cual los únicos campos modificables son:
            Descripción, Tipo, Línea 1, Línea 2, y
            Línea 3. </p>
        <p class="TITLE"><img src="../img/NUF_062B2.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario
          invoca la opción Detalle se despliega el siguiente formulario:
          <span>

          </p>
        <p class="TITLE"><img src="../img/NUF_062B3.PNG"></p>
      </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>