<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Plantilla</p>

      <p class="PARRAFO">La funcionalidad ofrecida por el sistema a través de éstos formularios, le
        permite a la entidad definir los moldes o patrones mediante los cuales el usuario final puede observar e
        interactuar con los datos de las diferentes transacciones de Contracargos.</p>
      <p class="PARRAFO">El formulario contiene los enlaces Eliminar y Adicionar, así mismo, en
        la parte superior, se cuenta con el enlace Tcr. </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E.PNG"></p>

      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</span> 
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E1.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Nombre plantilla
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 20 caracteres, obligatorio, en los que debe indicarse la
              denominación con la que se va a identificar cada una de las diferentes plantillas, usualmente
              corresponden al mismo estándar de las franquicias, precedido de las letras TC</span>  y
              seguido por el símbolo underscore, barra al piso (_) y, a continuación el código del
              origen.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Una vez indicado el nombre de la plantilla, se deben incluir los campos (Tcr) y si aplica, los
        subcampos que componen la información a ser desplegada; al activar el enlace Tcr, el sistema abre el
        siguiente formulario:</p>
      <p class="PARRAFO">El formulario contiene los enlaces Eliminar y Adicionar, así mismo, en
        la parte superior, se cuenta con el enlace Campos. </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E2.PNG"></p>
      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</span> 
      </p>

      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E3.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo
              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo dos dígitos, obligatorio, en el que debe
              indicarse el código que identifica a cada uno de los posibles tipos de TCR</span>  que
              componen el registro TC</span>. </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Columna TCR </p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 60 posiciones, obligatorio, que debe contener el prefijo TCR
              seguido del indicador de la correspondiente columna que desee mostrarse al usuario final. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">A su vez los campos (Tcr) estan compuestos por campos y ocasionalmente por subcampos, al
        activar el enlace Campos, el sistema abre el siguiente formulario.</p>
      <p class="PARRAFO">El formulario contiene los enlaces Actualizar, Eliminar, Adicionar y
        Detalle, así mismo, en la parte superior, se cuenta con el enlace Sub Campos. </span> 
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E4.PNG"></p>
      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario, el cual
        aplica tanto para los Campos como para los Sub campos:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_115E5.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Orden

              </p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo tres dígitos, obligatorio, en el que debe
              indicarse el número que determina la posición o ubicación en la que se
              encontrará la data de cada uno de los Campos / Sub campos  . </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Atributo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse el atributo al
              cual corresponde acorde con los manuales de las franquicias.</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Mensaje</td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 90 posiciones, obligatorio, que debe contener el nombre o descriptivo
              apropiado para que el usuario final comprenda a lo que hace referencia el contenido del campo / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Editable</td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Si o
              No, ésto es, si la data del campo <span class="PARRAFO" style"padding:3.0pt 3.0pt 3.0pt
                3.0pt"> / sub campo</span> puede o no ser editada por el usuario final.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Tama&ntilde;o</td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo tres dígitos, obligatorio, en el que debe indicarse la
              longitud límite de caracteres que puede contener la data de cada uno de los Campos /sub
              campo .
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Obligatorio</td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Si o
              No, ésto es, si la data del campo / sub campo es o no mandatoria.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Tipo de Dato </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Entero, Decimal,
                Lista, Texto, Fecha texto  o Fecha, ésto es, identificar la clase de data del campo
              / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Dominio</td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 90 posiciones, obligatorio, que debe contener
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Formato</td>
          <td>
            <p class="PARRAFO">Campo alfanumérico de 60 posiciones, no obligatorio, en el que de ser necesario, se debe ilustrar
              la forma que debe tener o como debe mostrarse el dato de cada campo / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Posición Inicial </td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo cinco dígitos, no obligatorio, en el que, de aplicar, le
              indica al usuario, la posición de la trama a partir de la cual se ubica el dato de cada uno de los
              campos o / sub campos.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Posición Final </td>
          <td>
            <p class="PARRAFO">Campo numérico de máximo cinco dígitos, no obligatorio, en el que, de aplicar, le
              indica al usuario, la posición de la trama en la que finaliza el dato de cada uno de los campos /
              sub campos</p>
          </td>
        </tr>
      </table>
      <div>
  </section>
  <script src="../js/menu.js"></script>

  <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>