<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
      <p class="TITLE">Entidades territoriales</p>

      <p class="PARRAFO"><span class="SUBTITULO">Departamentos:</span>  Segundo nivel de la división política, en la parte superior aparece el país al que pertenece. El formulario contiene los enlaces:  Actualizar, Eliminar, y Adicionar. Adicionalmente, cuenta con el enlace <a href="NUH_003B2.html"
          >Municipios</a>, y se puede regresar
        a la opción principal <a href="NUH_003B.html" >Paises</a> a través
        del botón volver de la parte superior izquierda.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_003B4.PNG"></p>

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se
        despliega un formulario con los siguientes campos:</span> 
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_003B5.PNG"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico de tres dígitos, obligatorio, que contiene
              el código asignado a cada departamento (estado o provincia).</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Nombre</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo alfanumérico de 35 posiciones, obligatorio, se registra
              el nombre del departamento (estado o provincia) asociado al código
              anterior.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Abreviatura
            </p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              que contiene el mnemónico o nombre abreviado del departamento,
              dato que puede ser desplegado por el sistema en las consultas o reportes.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Número
                  identificación </p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo alfanumérico de tres dígitos, opcional, contiene
              el código asignado a cada departamento (estado o provincia) por
              la entidad encargada del registro civil y que permite la verificación
              de un documento de acuerdo a dicha codificación.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
           Al activar ese enlace  se despliega un formulario
          en el cual los únicos campos modificables son: Nombre, Abreviatura,
          y Número identificación.</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_003B6.PNG"></p>

      <p class="PARRAFO"><span class="PARRAFO"><a href="NUH_003B.html">Países</a>
              | </span></span><span class="PARRAFO"><a href="NUH_003B2.html">Municipios</a>
              |</span><a href="NUH_003B3.html">Otros</a> |
          </span><a href="NUH_003B4.html"><span class="PARRAFO"></span> 
          Zona postal</a></p>

  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>