<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
      <p class="TITLE">Marcas de vehículos</p>

      <p class="PARRAFO">Mediante esta función se habilita
        la consulta y mantenimiento de la tabla en la cual se almacenan las diferentes
        marcas de vehículos existentes en el mercado, con base en la codificación
        establecida por Fasecolda. La clasificación se hace en tres niveles,
        siendo la marca al primero de ellos y que corresponde al nombre genérico
        de fábrica de los vehículos. El segundo nivel corresponde a
        la <a href="NUH_013B.html#BL_CLASES">Clase de vehículo</a>
        y el tercer nivel al <a href="NUH_013B.html#BL_TIPOS">tipo</a>.
        </p>
      <p class="TITLE"><img src="../img/NUF_013E.PNG"></p>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar. Cuenta también con el hipervínculo Clases
        de vehículo.</p>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Adicionar</span>:</span></span>
          Al activar ese enlace se despliega un formulario.
        </span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_013E1.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico de tres dígitos, obligatorio, que contiene
              el código asignado a cada marca de vehículo.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripción</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo alfanumérico de 20 posiciones, obligatorio, se registra
              el nombre de la marca del vehículo asociada a cada código.

            </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Actualizar</span>:</span></span>
           Al activar ese enlace  se despliega un formulario
          en el cual el único campo modificable es Descripción.</span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_013E2.PNG"></p>

      <div>
        <p class="PARRAFO"><a name="BL_CLASES"></a><span class="SUBTITULO">Clases
                de vehículos:</span></span>
            Si el usuario invoca la opción Clases de vehículos, se despliega
            un nuevo formulario con el mismo nombre y que corresponde al segundo nivel
            de la clasificación. Permite indicar la característica de
            los vehículos (automóvil, camioneta, pick up, campero, etc).</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E3.PNG"></p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar. Cuenta también con el hipervínculo Tipos
          de vehículos.</p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Al activar ese enlace se despliega un formulario.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E4.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de tres dígitos, obligatorio, que contiene
                el código asignado a cada clase de vehículo.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 20 posiciones, obligatorio, se registra
                la clase del vehículo asociada a cada código.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:</span> 
            </span>
            Si el usuario selecciona un registro e invoca la opción Actualizar
            se despliega un formulario en el cual el único campo modificable
            es Descripción.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E5.PNG"></p>

        <p class="PARRAFO"><a name="BL_TIPOS"></a><span class="SUBTITULO">Tipos
                de vehículos:</span></span>
            Si el usuario invoca la opción Tipos de vehículos, se despliega
            un nuevo formulario con el mismo nombre y que corresponde al tercer nivel
            de la clasificación. Permite indicar el nombre de las diferentes
            líneas de vehículos dentro de cada clase y marca.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E6.PNG"></p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Al activar ese enlace se despliega un formulario.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E7.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de tres dígitos, obligatorio, que contiene
                el código asignado a cada tipo de vehículo.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 20 posiciones, obligatorio, se registra
                el tipo del vehículo asociado a cada código.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Actualizar</span>:</span></span>
            Si el usuario selecciona un registro e invoca la opción Actualizar
            se despliega un formulario en el cual el único campo modificable
            es Descripción.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E8.PNG" 231"></p>
        <p class="PARRAFO"><span class="SUBTITULO">
            </p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>