<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
        <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
    </div>
</header>
  <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>

    <div>
      <table>
        <tr>
          <td>
            <p class="TITLE">Introducción</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="PARRAFO">El objetivo de este manual es presentar al usuario el Sistema<span
                  style="font-family:Arial;color:#006666"> BANKBU</span>
              de la compañía OpenCard SAS Su contenido le permitirá aprender y entender cómo interactuar con el
              Sistema, cómo navegar
              a través de él por las diferentes opciones, sus componentes, el propósito de cada uno de los formularios
              desplegados y una descripción de la
              información allí contenida.</p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <p class="TITLE"><img src="../img/BotAyuda.PNG"></p>
          </td>
          <td>
            <p class="PARRAFO"><span style="color:#99CC00">Ayuda</p>
          </td>
          <td>
            <p class="PARRAFO">El contenido de esta ayuda puede ser consultado oprimiendo el botón <img
                style="margin-left: -10px;" src="../img/BAyudaPequeño.PNG">, que se encuentra en la parte superior del
              área de trabajo de la
              pantalla.
            </p>
          </td>
        </tr>
      </table>



      <table>
        <tr>
          <td>
            <p class="PARRAFO">Cada uno de los roles y las opciones que los conforman se explican de manera
                individual. Dentro de cada rol se describe el propósito u objetivo
                global del mismo y se
                esquematiza su contenido, pormenorizando después cada una de sus secciones en las cuales se explican los
                formularios que lo
                componen, su finalidad dentro del contexto del rol, las características de cada uno de los campos
                desplegados y las diferentes
                opciones disponibles. En esta sección se explican en detalle los
                siguientes tópicos:

              </p>
            <p style="text-align:center"><a href="#ITH_001">Cómo ingresar al
                  sistema</span></a> | <a href="#ITH_002">Ventana principal del sistema</span></a>
              | <a href="#ITH_003">Navegación</span></a> | </p>
            <p style="text-align:center"><a href="#ITH_004">Filtros y listas de
                  valores</span></a> | <a href="#ITH_005">Wizards</span></a> | <a href="#ITH_006">
                Localización</span></a> | </p>
            <p style="text-align:center"><a href="#ITH_007">Mensajes e indicaciones
                  del Sistema</span></a></p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="TITLE">
            <img src="../img/LINEA.GIF"></p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <p class="PARRAFO"><a name="ITH_001"><span class="SUBTITULO">Cómo ingresar al Sistema</span></a>:
              Se abre una sesión del navegador (preferiblemente internet explorer v.6.0 o superior) y se ingresa
                la dirección de acceso configurada al momento de instalar la aplicación.</span>
            </p>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            <p class="TITLE"><img src="../img/LOGIN.PNG"></p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <p class="PARRAFO">Una vez ingresada la dirección y localizada la página, se despliega un formulario
              inicial en
              el cual el sistema solicita el </span><a href="NUH_010B.html"><i>usuario</span>
                </i></a><a href="NUH_010E.html"></a> y la contraseña solicitados, que el administrador de la
                instalación asigna a cada uno de los </span><a
                href="NUH_045B.html"><i>funcionarios</span></i></span></a> de la entidad, quienes
                están
                asociados a un perfil que establece sus atribuciones sobre cada uno de los roles y opciones del sistema;
                una vez digitada
                la información solicitada, el usuario obtiene el acceso al aplicativo. Cuando el usuario normalmente
                accede a una base de
                datos específica y predeterminada se selecciona la casilla <i>Escoger corporación habitual</i>, aunque
                si lo requiere y
                está autorizado para ello, puede conectarse a otra Base de Datos diferente, digitando el nombre de
                usuario, la clave y
                el nombre de la base a la cual desea ingresar.</p>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            <p class="PARRAFO"><a name="ITH_002"><span
                        class="SUBTITULO">Ventana principal del sistema</span></span>.</a>
              Después de que el sistema valida correctamente el usuario y claves ingresados, se abre la ventana
                principal del mismo, la cual contiene los menús y el área de trabajo dentro de la cual se despliegan
                todas las opciones y formularios como se indica a continuación.</span>
            </p>
          </td>
        </tr>
      </table>
      
      <table>
        <tr>
          <td>
            <p class="TITLE"><img src="../img/VENTANAPRAL.PNG"></p>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Menú de roles</p>
          </td>
          <td>
            <p class="PARRAFO">Contiene los diferentes roles para los cuales está diseñado <span
                class="SUBTITULO">BANKBU</span>
              y que puede ser núcleo, emisor, adquirente o tarjeta débito. En caso de existir personalizaciones
              para el cliente, se
              podrá mostrar un rol adicional denominado 'Cliente' en el cual se desplegarán las
              respectivas opciones.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Menú Opciones</p>
          </td>
          <td>
            <p class="PARRAFO">Dependiendo del Rol seleccionado se
              muestran opciones diferentes en este menú, las cuales permiten el acceso a
              las funciones del aplicativo de acuerdo con la atribuciones y restricciones
              de cada perfil.Se activan al hacer
              click con el mouse sobre cualquiera de ellas.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="PARRAFO"><span class="SUBTITULO">Enlaces y ayuda </p>
          </td>
          <td>
            <p class="PARRAFO">Por medio de estos botones el usuario puede tener acceso a la página web de Open
              Card S.A.
              , los esquemas de procesos y la ayuda en línea del aplicativo.<a href="NUH_010B.html"></a></p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Auditoria</p>
          </td>
          <td>
            <p class="PARRAFO">Corresponde al botón con una lupa. Al ubicarse sobre cualquiera de los registros
              contenidos en un formulario, marcarlo e invocar el botón de auditoria, se depliega una nueva
              ventana del browser que contiene un formulario con la información de los datos relativos a la
              creación y última
              modificación del registro así: usuario, fecha, dispositivo y objeto.
            </p>
          </td>
        </tr>

        <tr>
          <td>
          </td>
      </table>

      <p class="TITLE"><img src="../img/AUDITORIA.PNG" 308" height="333"></p>
      <table>
        <tr>
          <td class="titletable">
            <p class="PARRAFO"><span class="SUBTITULO">Salir</p>
          </td>
          <td>
            <p class="PARRAFO">Corresponde al último botón que se muestra en el área superior del
              formulario de entrada y permite al actor salir del aplicativo cerrando la sesión. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="PARRAFO"><span class="SUBTITULO">Usuario</p>
          </td>
          <td>
            <p class="PARRAFO">En esta sección de la ventana principal se
              despliega el nombre del <a href="NUH_010B.html">usuario</a><a href="../img/NUH_010B.html"></a>
              con el cual se inició la sesión del aplicativo <a href="../img/NUH_010B.html"
                class="TITLE"></a></p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="PARRAFO"><span class="SUBTITULO">Fecha</p>
          </td>
          <td>
            <p class="PARRAFO"> Muestra en formato yyyy-mm-dd la fecha
              actual de proceso del sistema. Este formato de fecha es el estandar del
              aplicativo</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Area de
              trabajo</p>
          </td>
          <td>
            <p class="PARRAFO">Esta es la parte central de la ventana principal
              del Sistema.Es un espacio
              virtualmente infinito para despliegue simultáneo de múltiples pantallas del
              sistema.En el evento en que la
              cantidad de pantallas abiertas supere la capacidad física de la pantalla del
              monitor, se despliegan barras de desplazamiento, vertical y horizontal.</p>
          </td>
        </tr>
      </table>


      <table>
        <tr>
          <td>

            <p class="TITLE"><img src="../img/LINEA.GIF">
            </p>
          </td>
        </tr>
        <table>
          <tr>
            <td>
              <p class="PARRAFO"><a name="ITH_003"><span style="mso-bookmark:ITH_002"><span
                          class="SUBTITULO">Navegación:</span></span></a>
                Después que se está en la página principal del aplicativo, el usuario puede comenzar a navegar a
                  través de las diferentes opciones.</span><span
                    style="font-size:13.5pt;font-family:Arial;color:#006666">

                  </span>
              </p>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td><span class="SUBTITULO">Despliegue
                  del menú</span></td>
            <td>
              <p class=PARRAFO>Una vez que el usuario ha seleccionado un
                rol y se despliegan el menú correspondiente, al ubicarse sobre cualquiera de
                ellos y hacer clic en el &lsquo;+&rsquo; se desplegará el menú que muestra todas las
                opciones
                contenidas y a las cuales puede ingresar el usuario. Cuando el menú se
                encuentra desplegado y no alcanza a visualizarse completamente en la
                pantalla, se habilita un scroll a la derecha del mismo con el fin de
                permitirle al usuario desplazarse a través del menú.</span>
            </td>
            </p>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO"></p>
            </td>
            <td>
              <p  class="TITLE"'><img src="../img/DESPLIEGUE_MENU.PNG"></p></td>
           </tr>
          </table>

          
     
          
          <table>
            <tr>
                <td  class="titletable">
                    <p class="PARRAFO"><span class="SUBTITULO">Ingresar a una opción</p>
                </td>
                <td  >
                    <p class="PARRAFO"><span >El usuario puede ubicarse con el puntero del Mouse sobre cualquiera de las opciones desplegadas en el menú y con un clic izquierdo invocar el llamado del formulario correspondiente.</p>
                    <p  ><img src="../img/NUF_012E.PNG"605" height="592"></p>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td  >
                    <p class="PARRAFO"><span >Si existen registros para mostrar en el formulario, estos se muestran en el mismo o en caso contrario el formulario se despliega con todos sus campos en blanco.</p>
                    <p class="PARRAFO"><span >Cuando el tamaño del formulario es largo o la cantidad de registros por página es mayor, se habilitan scrolls horizontales y verticales que le permiten al usuario desplazarse por la pantalla y ver el contenido completo del formulario.</p>
                    <p class="PARRAFO"><span >Los formulario se encuentran estructurados de la siguiente manera: título, opciones para actualizar, eliminar, adicionar y detalle según aplique, flechas de navegación entre páginas, cantidad de registros por bloque, total de registros y número de página en la cual se encuentra el usuario.</p>
                </td>
            </tr>
            <tr>
                <td class="titletable" >
                    <p class="PARRAFO"><span class="SUBTITULO">Navegación entre páginas</p>
                </td>
                <td>
                    <p class="PARRAFO"><span >Estas flechas ubicadas antes del campo de registros le permiten al usuario avanzar o retroceder una página, ir a la última página o regresar a la primera página. Esta funcionalidad se complementa con la cantidad de registros que el usuario desea desplegar en cada página y que se ingresan en el recuadro del campo Bloque de registros y después de utilizar la tecla tabulador el sistema repagina nuevamente el formulario para mostrar la cantidad de registros seleccionados. Admite como máximo 100.</p>
                    <p class="PARRAFO"><span >A medida que el usuario se desplaza por entre los bloques de registros con esta opción, en la parte derecha del formulario se va actualizando el número de página actual. En este campo, el usuario también puede acceder directamente a cualquiera de las páginas ubicándose con el puntero del Mouse sobre la misma y dando clic.</p>
                </td>
            </tr>        
          </table >
    
                      <p class="PARRAFO"><a name="ITH_008"><span class="SUBTITULO">Botones especiales</span></a></p>

                      <p class="PARRAFO">En algunos casos, los formularios cuentan con botones especiales que por lo general indican la 
                        ejecución de procesos específicos desde el formulario. Estos botones se ubican en la parte inferior del formulario.
                      </p>

                  <p  class="TITLE"><img src="../img/BOTONES.PNG"alt="Botones Especiales"></p>

                      <p class="PARRAFO"><span class="SUBTITULO">Desplazarse entre bloques de datos</p>

                      <p class="PARRAFO"><span >Dependiendo de la cantidad de información que el formulario contenga, es posible que éste se encuentre dividido en bloques de datos para facilitarle al usuario su consulta o diligenciamiento. En estos casos, el formulario cuenta en la parte superior con un conjunto de hipervínculos que le permiten ir directamente a cada uno de los bloques, y en cada bloque, en la parte izquierda cuentan con una flecha que le permite al actor regresar al primer campo del formulario.</p>
 
                      <p  style="text-align:center"><span > 
                      <img class="TITLE"  src= "../img/FLECHAS_BLOQUES.PNG"657" height="419" alt="Flechas Bloques"></p>
                  </td>
              </tr>
          </table>
        
          <table>
           <tr>
            <td>
            <p class="TITLE"><img src="../img/LINEA.GIF"></p>
          </td>
           </tr>
           <tr>
            <td>
                <p class="PARRAFO"><a name="ITH_004"><span ><span class="SUBTITULO">Filtros y listas de valores.</span></span></a><span > Algunas de las opciones y todas las listas de valores cuentan con filtros que permiten buscar información específica requerida por el usuario.</p>
            </td>
        </tr>        
          </table>
          
     
          
          <table>
            <tr>
                <td class="titletable">
                    <p class="PARRAFO"><span class="SUBTITULO">Filtros</p>
                </td>
                <td  >
                    <p class="PARRAFO"><span >Al ingresar al formulario,
                    en la parte superior el actor puede encontrar que existen campos en blanco acompañados
                    de un botón “Buscar”. Estos corresponden a los filtros proporcionados por el
                    sistema en algunos formularios para facilitar la visualización de datos específicos.</p>
                    <p class="MsoNormal"></p>
                    <p class="PARRAFO"><span >Si al invocar una opción,
                    lo único que se despliega en el formulario es el filtro, indica que se debe
                    seleccionar primero los criterios de los registros que el usuario desea
                    consultar para que sean traídos en el formulario.</p>
                    <p class="MsoNormal"><img class="TITLE"  src= "../img/FILTROS.PNG"></p>
    
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <p class="MsoNormal"><span >En otros casos, el
                    formulario por defecto trae todos los registros que contenga y mediante el
                    botón “Ir a filtro” habilita el filtro y le permite al usuario ser más específico
                    en los registros a consultar
                    </span> .</p>
                </td>
            </tr>
        </table>
        
           <tr>
            <td> 
            </td>
            
                <td> 
                  <p class=TITLE ><img src="../img/FILTROS_1.PNG"719" height="598"></p>
                  <p   
        > 
                    
                    </p>
              </td>
           </tr>
           <tr style' mso-yfti-irow:3'>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Listas de valores</p>
            </td>
            <td>
              <p class="PARRAFO">Cuando en un formulario al
                  lado de cualquiera de sus campos se muestra una lupa, indica que este campo
                  contiene una lista de valores de la cual se pueden seleccionar los datos a
                  ingresar en el mismo.</p>

            </td>
          </tr>
          <tr>
            <td>
            </td>
            
            <td>
              <p class="TITLE"><img src="../img/LISTA_VALORES.PNG">

                </p>

            </td>
          </tr>
          <tr>
            <td>
            </td>
          <tr>
            <td>
              <p class="PARRAFO">
                Estas listas cuentan con sus propios filtros que en el caso de los
                  códigos buscan el valor exacto digitado por el usuario, y en el caso de las descripciones permiten
                  búsquedas utilizando el símbolo '%' así: si se digita una palabra clave seguida de este símbolo, el
                  sistema traerá en caso de existir los registros que comiencen por dicha palabra. </span>
                

                </span>
              </p>

              <p class="PARRAFO">Si el símbolo se coloca al comienzo seguido de la palabra clave,
                  el sistema buscará solo los registros que terminen en esa palabra.</p>

              <p class="PARRAFO">Si la palabra clave se encierra en medio de estos dos símbolos, el
                  sistema buscará todos los registros que coincidan sin importar la ubicación de la misma dentro del
                  texto.</p>

              <p class="PARRAFO">Es importante tener en cuenta que esta búsqueda diferencia entre
                  mayúsculas y minúsculas al momento de efectuar la consulta.</p>

            </td>
          </tr>
          <tr>
            <td>
              <p class="TITLE"><img src='../img/LINEA.GIF'></p>

            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO">
              <p class="PARRAFO"><a name=' ITH_005'><span class="SUBTITULO">Wizards:</a></span></span>
                Para algunos de las opciones invocadas por el usuario (especialmente
                  cuando se utiliza la funcionalidad “Adicionar”), el sistema despliega un tipo especial de formulario
                  denominado wizard y que se compone de varios formularios que deben ser diligenciados en secuencia.
                  Indican al usuario la cantidad de páginas o pasos totales que contiene y en cual paso se encuentra
                  ubicado actualmente.</span>
                

                </span>
              </p>

            </td>
          </tr>
          <tr>
            <td>
              <p class="TITLE"><img class="TITLE" src="../img/WIZARD.PNG">
              </p>
            </td>

          </tr>
          <tr>
            <td>
              <p class="PARRAFO">Estos wizard contienen sus propios botones de navegación que permiten
                retroceder a la página anterior, avanzar a la siguiente, cancelar la acción y
                salir del formulario o finalizar la acción y grabar el registro en la base de
                datos</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="TITLE"><img src="../img/BOTONES_WIZARD.PNG"></p>
            </td>

          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Carrito de compras: </span></span>es un tipo
                    especial de wizard en el cual el usuario va adicionando uno a uno los
                    registros que quiere guardar en la base de datos y esta información va siendo
                    almacenada temporalmente de manera similar a un carrito de compras y al final
                    el actor tiene la opción de grabar todos los datos cargados, descartar
                    algunos o adicionar nuevos. </span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="TITLE"><img src="../img/CARRITO.PNG" 592" height="456">
                </span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO">Al final del proceso el usuario elimina o adiciona registros y los
                    guarda en la base de datos</span></span>

                    </span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="TITLE"><img class="TITLE" src="../img/CARRITO_1.PNG">
                </span></p>
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Adición, actualización y detalle de los registros</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO">Cuando el usuario ingresa a un formulario desde el menú, por lo
                    general encuentra las opciones Adicionar, Actualizar y Detalle. A continuación
                    se explica de manera breve el modo de operación de cada una de
                    ellas.</span></span></p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="titletable">
              <p class="PARRAFO"><span class="SUBTITULO"'>Adicionar</p></td>
                <td  >
                      <p class="PARRAFO">Cuando el usuario invoca la funcionalidad
                          - Adicionar- se despliega un formulario con todos sus campos en blanco
                          que le permite ingresar y guardar en la base de datos nuevos registros.
                          En el formulario se despliegan algunos campos marcados con un asterisco
                          que le indican al usuario que su diligenciamiento es obligatorio para
                          poder guardar el registro en la base.</span>   
                      </p>
                      <p class="TITLE"><img  src="../img/ADICIONAR.PNG">   
                      </p> 
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span >
                    </p>
              </td>
              <td>
                <p class="PARRAFO">El formulario adicionar cuenta con
                    dos botones Salvar (Guardar) y Cancelar que le permiten respectivamente
                    crear el registro en la base de datos o salir sin efectuar ninguna acción.      
                  </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>
                    </p>
              </td>
              <td>
                <p class="PARRAFO">Cuando el usuario selecciona un registro
                    ya existente en la base y utiliza la funcionalidad -Actualizar-, se
                    despliega un formulario que contiene los datos actuales del registro
                    y le permite modificar algunos de ellos. Los campos modificables se
                    muestran en fondo amarillo claro y se encuentran habilitados para que
                    el usuario efectúe los cambios requeridos. </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO">
                      
                    </p>
              </td>
              <td>
                <p class="TITLE">
                    <img class="TITLE" src="../img/ACTUALIZAR.PNG" 527" height="522">
                    
                  </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span >
                    
                    </p>
              </td>
              <td>
                <p class="PARRAFO">Al igual que la opción actualizar,
                    contiene los botones Salvar y Cancelar que permiten guardar los cambios
                    hechos o cancelar la acción y no modificar el registro.</p>   
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>
                      
                    </p>
              </td>
              <td>
                <p class="PARRAFO">Cuando el formulario no puede mostrar
                    la totalidad de los campos que contiene cada registro, se incluye la
                    opción -Detalle- desde la cual el usuario invoca un formulario que le
                    muestra la información completa del registro seleccionado. Este formulario
                    es solo de consulta y no permite modificar ningún dato.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span >
                     
                    </p>
              </td>
              <td>
                <p class="TITLE"><img src="../img/DETALLE.PNG" 644" >
                    
                  </p> 
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span >
                     
                    </p>
              </td>
              <td>
                <p class="PARRAFO">A diferencia del adicionar y actualizar,
                    este formulario no contiene botones y la manera de salir es haciendo
                    clic sobre la flecha ubicada en el borde superior izquierdo.</p>
              </td>
            </tr>
          
          </table>

          <table>
            <tr>
              <td class="titletable"> 
                <p  >
                <p class="PARRAFO">
                  <a name="ITH_006"><span class="PARRAFO"></a><span ><span
                        class="SUBTITULO">Localización</span></span>.
                    En algunos formularios, el sistema despliega en la parte superior del
                    mismo un globo terráqueo girando sobre si mismo que le indica al
                    usuario que puede invocar nuevos formularios desde allí, los cuales se mostrarán en
                    una nueva ventana del browser, siempre
                    y cuando para la ubicación actual registrada (el país que
                    se le haya configurado como ubicación al momento de hacer la instalación)
                    existan dichos formularios. En caso de no existir formularios a desplegar
                    el sistema no ejecutará ninguna acción al utilizar esta
                    funcionalidad. </span> 
                <p class="PARRAFO">
              </td>
            </tr>

            <tr>
              <td class="TITLE"><img src="../img/LOCALIZACION.PNG" >
              </td>
            </tr>
            <tr>
              <td>
                
              </table>
            
                <p class="PARRAFO"><a name="ITH_007"></a><span class="SUBTITULO">Mensajes e indicaciones del
                            sistema.</span>
                  El Sistema intercambia información con
                    el usuario mediante mensajes que se despliegan de diferente manera.
                    Existen varios tipos de mensajes que pueden
                    ser informativos, de advertencia, de notificación, de error como se explica
                    a continuación </p>
                 
         

          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Mensajes Informativos</p>
            </td>
            <td>
              <p class="PARRAFO">Informan sobre procedimientos errados
                  o acciones inconclusas o no permitidas entre otros, y generalmente se
                  muestran dentro del mismo formulario debajo o al lado de los campos en
                  los cuales se presentan inconsistencias al momento de hacer validaciones
                  para guardar el registro</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="TITLE"><img src="../img/INFORMATIVO.PNG" 302" ></div>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <p class="PARRAFO">
            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Mensajes de Advertencia</p>
            </td>
            <td>
              <p class="PARRAFO">Requieren que el usuario decida frente
                  a un proceso o acción inconclusa, o ante la ejecución de acciones que
                  tienen consecuencias irreversibles, presentándole generalmente las opciones
                  de respuesta aceptar o cancelar. </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Mensajes de Notificación</p>
            </td>
            <td>
              <p class="PARRAFO">Indican al usuario la culminación
                  de un proceso y usualmente solo le muestran la opción ' Aceptar' por ser el final de un proceso.
                    </p>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <p class="PARRAFO"><span class="SUBTITULO">Mensajes de Error</p>
            </td>
            <td>
              <p class="PARRAFO">Estos mensajes normalmente se presentan
                  durante la adición o actualización de un registro o en la
                  ejecución de algún proceso y muestran al usuario un triángulo
                  rojo en la parte superior derecha el formulario, en el cual al ubicarse
                  con el mouse y dar clic izquierdo despliegan una nueva ventana del browser en donde se muetra el
                  formulario que contiene
                  la información del error.</p>
              <p class="PARRAFO">Su presentación es similar a los mensajes
                  de advertencia salvo que, solo brindan la opción de 'Aceptar' muestra
                  el texto descriptivo del error y por lo general el código del error
                  generado.</p>
            </td>
          </tr>
          <tr>

            <td>
              <div class="TITLE"><img src="../img/ERROR.PNG"></div>
            </td>
          </tr>
          <tr>

            <td>
              <div>
                <p class="TITLE"><img src="../img/ERROR1.PNG"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td><span class="SUBTITULO">Proceso
                  en ejecución</span></td>
            <td class="PARRAFO">
              <p class="PARRAFO">Cuando
                se ejecuta algún proceso desde el formulario por lo general mediante
                el uso de alguno de los <span class="Marca"><a href="#ITH_008">
                    botones
                    especiales
                  </a></span> (ej. aplicar un registro pendiente o avanzar
                de etapa una solicitud) el sistema despliega en el formulario un indicador
                que le muestra al usuario que se está ejecutando el proceso.
            </td>
            </p>
          </tr>
          <tr>
            <td>
            <td>
            <td>
              <div>
                <p class="TITLE"><img src="../img/EJECUTA_PROCESO.PNG"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td><span class="SUBTITULO">Consulta
                  en ejecución</span></td>
            <td>
              <p class="PARRAFO">Algo
                  similar a lo anterior ocurre cuando desde una lista de valores el usuario
                  utiliza alguno de los filtros contenidos en ella para efectuar una búsqueda
                  específica. Dentro del formulario se muestra un indicador (ver recuadro
                  rojo) que le se&ntilde;ala al usuario que el aplicativo se encuentra ejectuando
                  la consulta en la base para mostrarle los datos solicitados.</span>
            </td>
            </p>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <p class="TITLE"><img src="../img/INDICADOR_LISTA.PNG" 382" height="335">
            </td>
          </tr>

        </table>
    </div>

  </section>
  <script src="../js/menu.js"></script>

  <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>