<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Definición de entidades </p>

        <p class="PARRAFO">Mediante esta función se habilita la consulta y/o
          mantenimiento de la tabla en la cual se almacena toda
          la información relacionada con el licenciamiento corporativo de
          la aplicación
          Administración de Tarjetas de Crédito OpenCard&reg;.</p>
        <p class="PARRAFO">El formulario contiene la opcion <a
            href="#Administracion">Configuración sistema</a>.
          Adicionalmente cuenta con un filtro de búsqueda.</p>
        <p class="TITLE"><img src="../img/NUF_076E.PNG"></p>
        <p class="PARRAFO"><span class="TITLE">Filtro:</span> Se pueden realizar
            consultas a través
            de las siguientes opciones:</p>

          <p class="TITLE"><img src="../img/NUF_076E1.PNG"></p>

          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO"><span>Código de entidad </p>
              </td>
              <td>
                <p class="PARRAFO">Campo en el que se registra el código
                  y nombre de cada corporación o
                  entidad financiera licenciada</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO"><span>Nombre de la entidad
                  </span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo alfanumérico, en el que se
                registra el nombre con el que se encuentra
                radicada la corporación o entidad financiera licenciada,
                ante la Cámara de Comercio o quien
                haga sus veces</p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><strong class="TITLE">Actualizar:</strong> Si el usuario
            invoca la opción Actualizar se
            despliega un nuevo formulario
            en el cual todos los campos son modificables a excepción de
            la Fecha sistema.</p>
          <p class="TITLE"><img src="../img/NUF_076E2.PNG"></p>
          <p class="TITLE">Información basica:</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Código de la entidad </p>
              </td>
              <td>
                <p class="PARRAFO">Campo obligatorios en los que se registra el
                  código y nombre de cada
                  corporación o entidad financiera licenciada.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Nombre de la entidad </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 20 posiciones,
                  obligatorio, en el que se registra el nombre
                  con el que se encuentra radicada la corporación o
                  entidad financiera licenciada, ante la
                  Cámara de Comercio o quien haga sus veces.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Nombre comercial </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 20 posiciones,
                  obligatorio, en el que se registra el nombre
                  comercial con el que se encuentra radicada la
                  corporación o entidad financiera licenciada, ante la
                  Cámara de Comercio o quien haga sus veces.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Sucursal centralizada </p>
              </td>
              <td>
                <p class="PARRAFO">Campo que contiene lista de valores poblada
                  en la opción <a
                    href="NUH_020B.html">Estructura orgánica</a> de las
                  Tablas de la entidad financiera, de la
                  que puede seleccionarse el código de la dependencia
                  centralizadora tanto del movimiento operativo
                  como contable de cada corporación o entidad financiera
                  licenciada.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Entidad financiera </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 3 posiciones que
                  contiene los códigos
                  correspondientes a cada entidad financiera de acuerdo con los
                  valores asignados en la opción <a
                    href="NUH_019B.html">Entidades Financieras</a>; en el campo
                  de salida ubicado a la derecha
                  aparece el nombre de la entidad asociado al código
                  seleccionado.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Moneda</p>
              </td>
              <td>
                <p class="PARRAFO">En este campo se selecciona de la lista de
                  valores el código de la <a
                    href="NUH_005B.html">moneda</a> oficial o defecto para cada
                  corporación o entidad
                  financiera licenciada.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Persona contacto </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 30
                  dígitos, obligatorio, contiene el nombre de la
                  persona responsable o indicada del área de
                  producción de Tarjeta de crédito o
                  Crédito rotativo, a quien, en caso de ser necesario, se
                  puede contactar en primera instancia.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Correo contacto </p>
              </td>
              <td>
                <p class="PARRAFO">En este campo alfanumérico de 30
                  dígitos, no obligatorio, se registra la
                  dirección de correo electrónico del responsable
                  del área de producción
                  (contacto).</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Dirección contacto </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 40
                  dígitos, no obligatorio, contiene la
                  dirección para correspondencia con el área de
                  producción o la sede de la
                  corporación o entidad financiera.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Telefono contacto </p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanumérico de 20
                  dígitos, no obligatorio, contiene el número
                  telefónico del área de producción o sede
                  de la entidad financiera.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Ubicación</p>
              </td>
              <td>
                <p class="PARRAFO">Campo que posee lista de valores poblada en
                  la opción <a
                    href="NUH_003B.html#BL_MUNICIPIOS">Información
                    geopolítica</a> del Núcleo,
                  de la que puede seleccionarse o no, la ciudad (municipio)
                  donde de ubica el área de
                  producción o sede de la corporación o entidad
                  financiera.</p>
              </td>
            </tr>
          </table>
          <p class="TITLE">Información de licencia:</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Corporación</p>
              </td>
              <td>
                <p class="PARRAFO">Campo sobre el que se marca si la entidad
                  financiera descrita en el bloque de
                  Información general corresponde a la corporación
                  o no.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Código interno </p>
              </td>
              <td>
                <p class="PARRAFO">En este campo numérico de 2
                  dígitos, no obligatorio, de uso exclusivo para
                  OpenCard, se registra el código asignado a la
                  corporación.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Empresa depende de </p>
              </td>
              <td>
                <p class="PARRAFO">Campo que contiene lista de valores poblada a
                  través de esta misma pantalla de la
                  que se selecciona o no la corporación de la cual
                  depende la entidad financiera.</p>
              </td>
            </tr>
          </table>
          <p class="TITLE">Otra información:</p>
          <table>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Fecha sistema </p>
              </td>
              <td>
                <p class="PARRAFO">Campo en formato fecha DD/MM/YYYY que corresponde a la fecha
                  vigente para la ejecución de
                  procesos.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Sabados</p>
              </td>
              <td>
                <p class="PARRAFO">Campo con lista de valores de la que se
                  selecciona si para la entidad el día
                  sábado es Laborable o No laborable.</p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Domingos</p>
              </td>
              <td>
                <p class="PARRAFO">En este campo se selecciona de la lista de
                  valores, si para la entidad el día
                  domingo es Laborable o No laborable.</p>
              </td>
            </tr>
          </table>
          <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
            usuario invoca la opción Adicionar se
            despliega un formulario con los siguientes campos:</span>
        </p>
        <p class="TITLE"><img src="../img/NUF_076E3.PNG" height="551"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario invoca la
          opción Detalle se despliega el siguiente
          formulario:

        </p>
      <p class="TITLE"><img src="../img/NUF_076E4.PNG" 768" height="411"></p>

      <p class="PARRAFO"><span class="TITLE"><a name="Administracion"></a>Configuración
          sistema </p>
      <p class="PARRAFO">A través de esta pantalla se permite la consulta
        y mantenimiento de la tabla en la que
        se registran las características, básicamente
        técnicas, relacionadas con la manera en que
        se ha conformado el sistema operativo sobre el que funciona la base de
        datos.</p>
      <p class="PARRAFO">El formulario contiene la opcion <a
          href="#Administracion">Adicionar</a>.</p>
      <p class="TITLE"><img src="../img/NUF_076E5.PNG" 557" height="776"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Sistema operativo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores adjunta de la
              cual es posible seleccionar entre
              Win.N.T, Unix u Otro, el sistema operativo sobre el que se
              interactúa con la base
              de datos correspondiente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Comando export</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se almacena el comando del motor de
              la base de datos utilizado para
              efectuar la funcionalidad que genera ,a manera de salidas del
              sistema, archivos tipo exports.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Comando import</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se almacena el comando del motor
              de la base utilizado para efectuar la
              funcionalidad que integra los archivos tipo imports.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Instancia base de datos</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo identifica el SID (System
              Identification Database) de la base de datos
              asociada o utilizada por el Sistema OpenCard&reg; cada vez que un
              usuario se conecta por medio del mismo.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tablespace tablas backups</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se registra el nombre que
              identifica el espacio reservado en la base de
              datos, en el que se almacenan &lsquo;transitoriamente&rsquo; los
              backups hasta que dicho proceso es
              ejecutado nuevamente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tablespace índices backups</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se registra el nombre que
              identifica el espacio reservado en la base de
              datos, en el que se ejecuta de manera lógica esta
              funcionalidad de la herramienta del motor de la
              base de datos, tendiente a optimizar la restauración de la
              información contenida en los
              backups.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">URL</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se registra la ubicación y
              ruta para acceder vía internet a
              los archivos almacenados en el servidor de la Base de Datos de la
              entidad.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Puerto</p>
          </td>
          <td>
            <p class="PARRAFO">En este campo se registra de ser necesario, la
              dirección o nombre del puerto a
              utilizar para la comunicación.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Servidor reportes</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que identifica el nombre del servidor al
              cual se debe conectar para la
              generación de los reportes.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Formato reportes</p>
          </td>
          <td>
            <p class="PARRAFO">Este campo especifica mediante las siglas de
              extensión de archivo el formato a
              utilizar para los reportes generados.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Propietario base</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que registra el nombre que identifica al
              propietario del esquema de la base de
              datos a la que pertenecen las tablas seleccionadas.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Configuración reportes</p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanum&egrave;rico de 16 posiciones, en el
              que se ingresa el identificador del
              informe de configuración.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Puerto servidor correo saliente</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el puerto de comunicacion con el servidor
              de correo saliente.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Ruta monedero emails</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el path donde se encuentra ubicada la WALLET para
              funcionamiento de los emails que requieren
              autenticacion TLS.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Password monedero correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el password que permite abrir la WALLET
              para funcionamiento de los emails que
              requieren autenticacion TLS.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Password cuenta de correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el password de la cuenta de correo fuente
              desde donde se van a generar los emails
              de operaciones y solo aplica cuando el servidor de correos
              requiere autenticacion TLS.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Versión oracle</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la version de oracle del motor de la base
              de datos.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Servidor correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la direccion IP del servidor de correo desde donde se van
              a enviar los emails.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Dominio correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el dominio a que pertenece la cuenta de
              correo desde donde se van a enviar los
              emails de operaciones.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cuenta correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la cuenta de correo fuente desde donde se
              van a generar los emails de operaciones.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cuenta de destino correo</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la primera cuenta de correo destino a
              donde se envia los emails de operaciones.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cuenta de destino correo2</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la segunda cuenta de correo destino a
              donde se envia los emails de operaciones.
            </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Cuenta de destino correo3</p>
          </td>
          <td>
            <p class="PARRAFO">Indica la tercera cuenta de correo destino a
              donde se envia los emails de operaciones.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Servidor aplicación</p>
          </td>
          <td>
            <p class="PARRAFO">Indica el servidor de aplicaciones donde se
              ejecuta el aplicativo
              oracle weblogic.</p>
          </td>
        </tr>
      </table>

    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>