<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>
          <li><a href="NUH_00B_migra.html">Migracion</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden; display: none;">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden; display: none;">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>
  <section>
    <center>
      <div>
        <table>
          <tr>
            <td>
              <div>
                <center>
                  <p class="TITLE">Administración de casos de uso</p>
                </center>
              </div>
            </td>
          </tr>
        </table>

        <p class="PARRAFO">Desde este formulario, se habilita la consulta
          y mantenimiento de la tabla en la cual se almacena toda la informaci&oacute;n
          relacionada con la manera en que se estructuran los diferentes men&uacute;s de opciones o formularios e,
          incluso, su relaci&oacute;n con los casos de uso -compuestos por tareas o funcionalidades-, los que pueden ser
          asociados con los distintos perfiles de usuario, definidos por la entidad.</p>
        <p class="TITLE"><img src="../img/NUF_001E.PNG"></p>

        <p class="PARRAFO">El formulario cuenta con un filtro que permite
          efectuar consultas tanto por el Rol de negocio como por el Tipo de men&uacute;.</p>
        <p class="PARRAFO">El formulario contiene las opciones:<b> Actualizar,
            Eliminar, y Adicionar.</span></b></p>
        <p class="PARRAFO"><b><span class="SUBTITULO">Adicionar:</span></b>
          si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario
          dividido en dos pasos de un wisard de datos (Men&uacute; / Caso de uso y Funcionalidades) con los siguientes
          campos.</p>
        <p class="TITLE"><img src="../img/NUF_001E1.PNG"></p>

        <p class="TITLE"><img src="../img/NUF_001E4.PNG"></p>
        <p class="TITLE"><img src="../img/NUF_001E5.PNG"></p>

        <p class="TITLE"><img src="../img/NUF_001E6.PNG"></p>


        <p class="TITLE">Descipción casos de Uso</p>
        <div>
          <table>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Rol de negocio</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre
                  N&uacute;cleo, Emisor, Cliente </span> o</span><span class="PARRAFO"> Adquirente a
                    cu&aacute;l de estos roles corresponde la funcionalidad que
                    se va a adicionar.</span> 
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Tipo de men&uacute;</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre
                  N&uacute;lo, Men&uacute; </span> o</span><span class="PARRAFO">
                      Caso de uso a cu&aacute;l de estos tipos corresponde la funcionalidad que se va a
                    adicionar.</span> 
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Depende de</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo no
                  obligatorio que posee lista de valores tipo combo cuyos valores dependen del campo Rol de
                    negocio, de la que puede seleccionarse la correspondiente opci&oacute;n de men&uacute; o rama
                  de la que depende, en este caso, la funcionalidad que se va a adicionar.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Label</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">En
                  este campo alfanum&eacute;rico de 60 posiciones, obligatorio, se debe registrar
                  el nombre de la opci&oacute;n que corresponda a la funcionalidad que se va a adicionar.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Url principal</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  alfanum&eacute;rico de 200 posiciones, cuya obligatoriedad depende del campo Tipo de
                    men&uacute;, en caso de requerirse debe contener la direcci&oacute;n inicial o principal, a
                  partir de la cual se accesa el formulario asociado a la funcionalidad que se va a adicionar.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      C&oacute;digo funcionalidad</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo de salida que muestra un n&uacute;mero secuencial, asignado por
                  el sistema, que permite identificar cada tareal funcional que haga parte de un caso de uso. No aplica
                  para opciones de men&uacute; Men&uacute;.
                </p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <p class="SUBTITULO"><b><span>
                      Descripci&oacute;n</span></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo alfanum&eacute;rico de 200 posiciones, obligatorio, en el que
                  debe registrarse el nombre asociado a la tarea funcional, asociada al caso de uso.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b>Agregar Url </p></b></p>
              </td>
              <td>
                <p class="PARRAFO">Campo en el que debe registrarse, una a una, las diferentes url o
                  direcciones que permiten invocar los diferentes formularios o funcionalidades que componen cada tarea.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="SUBTITULO"><b>Funcionalidad existente </p>
              </td></b>
              <td>
                <p class="PARRAFO">Campo que posee lista de valores adjunta, de la cual es posible
                  seleccionar las tareas funcionales previamente creadas mediante esta misma opci&oacute;n, lo que
                  permite reutilizar una misma tarea en varios casos de uso. </p>
              </td>
            </tr>
          </table>
          <table>
            <tr></tr>
          </table>
        </div>
        <p class="PARRAFO"><b><span class="SUBTITULO">Actualizar</span></b>:
          si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar se despliega un formulario
          con todos los campos modificables. </p>
        <p class="TITLE"><img src="../img/NUF_001E3.PNG"></p>
        <p class="TITLE"><img src="../img/NUF_001E4.PNG"></p>
    </center>
  </section>
  <script src="../js/menu.js"></script>

  <footer>
    <div>
      <img class="TITLE" src="../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>

  </footer>
</body>

</html>