<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Tipos de garantía </p>
                  
            <p  class="PARRAFO">Desde este formulario se habilita la consulta y mantenimiento de una tabla en la cual se almacenan los códigos de las garantías definidas por las entidades financieras; la forma permite asociarle a cada uno la descripción correspondiente que permitirá una fácil identificación.</p>
            
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUH_122-1.PNG"618" NUH_122B></p>
            
            <p class="PARRAFO" >El formulario muestra las opciones Actualizar y Adicionar. </p>
            <p class="PARRAFO" ><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se despliega un formulario con los siguientes campos</span> :</p>
            
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUH_122-2.PNG"320" ></p>
            
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Garantia</p></td>
                <td><p  class="PARRAFO">Campo 
                    numérico de tres posiciones y obligaorio, en el cual se registra el código de la garantia </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Descipción</p></td>
                <td><p  class="PARRAFO">Campo alfanumérico en el cual se regista el nombre de la garantia </p></td>
              </tr>
            </table>
            
            <p class="PARRAFO" ><span class="SUBTITULO">Actualizar:</span>   Al activar ese enlace  se despliega un formulario 
              en el cual el único campo modificables es: Descripción.</p>
            
           <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUH_122-3.PNG"330" height="106"></p>
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>