<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="../index.html" class="main-optionINICIO">INICIO</a>
      </li>
      <li>
        <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
      </li>
      <li><a href="#" class="main-option">NUCLEO ▼</a>
        <ul>
          <li><a href="NUH_000B.html">Config. Sistema</a></li>
          <li><a href="NUH_00B_N2.html">Parametros</a></li>
          <li><a href="NUH_00B_inicio.html">Inicio</a></li>
          <li><a href="NUH_00B_proceso.html">Procesos</a></li>
          <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
          <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
          <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

        </ul>
      </li>
      <li>
        <a href="#" class="main-option">EMISOR ▼</a>
        <ul>
          <li><a href="EMH_000B.html">Productos</a></li>
          <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
          <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
          <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
          <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
          <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
          <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
          <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
          <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
        </ul>
      </li>
      <li style="visibility: hidden">
        <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
      </li>
      <li style="visibility: hidden">
        <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
      </li>
    </ul>
  </nav>

  <section>
    <div>
      <table>
        <tr>
          <td>
            <div>
              <p class="TITLE">Plantilla</p>
            </div>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">La funcionalidad ofrecida por el sistema a trav&eacute;s de &eacute;stos formularios, le
        permite a la entidad definir los moldes o patrones mediante los cuales el usuario final puede observar e
        interactuar con los datos de las diferentes transacciones de Contracargos.</span></p>
      <p class="PARRAFO">El formulario contiene los enlaces Eliminar y Adicionar, as&iacute; mismo, en
        la parte superior, se cuenta con el enlace Tcr. </span></p>
      <p class="TITLE"><img src="../img/NUF_115E.PNG"></p>

      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_115E1.PNG"></p>

      <p class="TITLE">Descripci&oacute;n de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Nombre plantilla
              </b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanum&eacute;rico de 20 caracteres, obligatorio, en los que debe indicarse la
              denominaci&oacute;n con la que se va a identificar cada una de las diferentes plantillas, usualmente
              corresponden al mismo est&aacute;ndar de las franquicias, precedido de las letras <span>TC</span>  y
              seguido por el s&iacute;mbolo underscore, barra al piso (_) y, a continuaci&oacute;n el c&oacute;digo del
              origen.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Una vez indicado el nombre de la plantilla, se deben incluir los campos (Tcr) y si aplica, los
        subcampos que componen la informaci&oacute;n a ser desplegada; al activar el enlace Tcr, el sistema abre el
        siguiente formulario:</span></p>
      <p class="PARRAFO">El formulario contiene los enlaces Eliminar y Adicionar, as&iacute; mismo, en
        la parte superior, se cuenta con el enlace Campos. </span></p>
      <p class="TITLE"><img src="../img/NUF_115E2.PNG"></p>
      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario:</span> 
      </p>

      <p class="TITLE"><img src="../img/NUF_115E3.PNG"></p>
      <p class="TITLE">Descripci&oacute;n de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Tipo
              </b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de m&aacute;ximo dos d&iacute;gitos, obligatorio, en el que debe
              indicarse el c&oacute;digo que identifica a cada uno de los posibles tipos de <span>TCR</span>  que
              componen el registro <span>TC</span> . </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Columna TCR </p>
          </td>
          <td>
            <p class="PARRAFO">Campo alfanum&eacute;rico de 60 posiciones, obligatorio, que debe contener el prefijo TCR
              seguido del indicador de la correspondiente columna que desee mostrarse al usuario final. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">A su vez los campos (Tcr) estan compuestos por campos y ocasionalmente por subcampos, al
        activar el enlace Campos, el sistema abre el siguiente formulario.</span></p>
      <p class="PARRAFO">El formulario contiene los enlaces Actualizar, Eliminar, Adicionar y
        Detalle, as&iacute; mismo, en la parte superior, se cuenta con el enlace Sub Campos. </span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_115E4.PNG"></p>
      <p class="PARRAFO">Al activar el enlace Adicionar, el sistema despliega el siguiente formulario, el cual
        aplica tanto para los Campos como para los Sub campos:</span></p>
      <p class="TITLE"><img src="../img/NUF_115E5.PNG"></p>
      <p class="TITLE">Descripci&oacute;n de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO"><b>Orden

              </b></p>
          </td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de m&aacute;ximo tres d&iacute;gitos, obligatorio, en el que debe
              indicarse el n&uacute;mero que determina la posici&oacute;n o ubicaci&oacute;n en la que se
              encontrar&aacute; la data de cada uno de los Campos / Sub campos  . </p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Atributo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse el atributo al
              cual corresponde acorde con los manuales de las franquicias.</p>
          </td>
        </tr>
        <tr>
          <td class="SUBTITULO">Mensaje</td>
          <td>
            <p class="PARRAFO">Campo alfanum&eacute;rico de 90 posiciones, obligatorio, que debe contener el nombre o descriptivo
              apropiado para que el usuario final comprenda a lo que hace referencia el contenido del campo / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Editable</td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Si o
              No, &eacute;sto es, si la data del campo <span class="PARRAFO" style"padding:3.0pt 3.0pt 3.0pt
                3.0pt"> / sub campo</span> puede o no ser editada por el usuario final.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Tama&ntilde;o</td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de m&aacute;ximo tres d&iacute;gitos, obligatorio, en el que debe indicarse la
              longitud l&iacute;mite de caracteres que puede contener la data de cada uno de los Campos /sub
              campo .
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Obligatorio</td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Si o
              No, &eacute;sto es, si la data del campo / sub campo es o no mandatoria.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Tipo de Dato </td>
          <td>
            <p class="PARRAFO">Campo que posee lista de valores tipo combo, de la que debe seleccionarse entre Entero, Decimal,
                Lista, Texto, Fecha texto  o Fecha, &eacute;sto es, identificar la clase de data del campo
              / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Dominio</td>
          <td>
            <p class="PARRAFO">Campo alfanum&eacute;rico de 90 posiciones, obligatorio, que debe contener
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Formato</td>
          <td>
            <p class="PARRAFO">Campo alfanum&eacute;rico de 60 posiciones, no obligatorio, en el que de ser necesario, se debe ilustrar
              la forma que debe tener o como debe mostrarse el dato de cada campo / sub campo.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Posici&oacute;n Inicial </td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de m&aacute;ximo cinco d&iacute;gitos, no obligatorio, en el que, de aplicar, le
              indica al usuario, la posici&oacute;n de la trama a partir de la cual se ubica el dato de cada uno de los
              campos o / sub campos.
          </td>
          </p>
        </tr>
        <tr>
          <td class="SUBTITULO">Posici&oacute;n Final </td>
          <td>
            <p class="PARRAFO">Campo num&eacute;rico de m&aacute;ximo cinco d&iacute;gitos, no obligatorio, en el que, de aplicar, le
              indica al usuario, la posici&oacute;n de la trama en la que finaliza el dato de cada uno de los campos /
              sub campos</p>
          </td>
        </tr>
      </table>
      <div>
  </section>
  <script src="../js/menu.js"></script>

  <footer>
    <div>
      <img class="TITLE" src="../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°, Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75 <a href="http://www.OpenCard.com" target="_blank">www.OpenCard.com</a></p>

  </footer>
</body>

</html>