<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Origen de transacciones</p>

        <p class="PARRAFO">Esta función habilita la consulta
          y/o mantenimiento, reservado a funcionarios de OpenCard SAS, de la
          tabla
          que almacena los códigos de los diferentes orígenes o
          fuentes
          de las transacciones, determinando para cada uno de estos las
          transacciones
          correspondientes o propias de cada origen, y para cada una de ellas,
          entre
          otros parámetros, datos de plazo, multa y costo respectivo,
          así
          como las validaciones a las cuales deben someterse. Además,
          provee
          la opción de relacionar las causales de devolución que
          usualmente
          se asocian a algunas transacciones que entran en proceso de
          intercambio y
          dado el caso de llegarse a la instancia de manejar las transacciones
          en proceso
          de Comprobantes de buena fe o contracargos se permite parametrizar por
          rol
          (adquirente o emisor) acorde al origen, el destino del movimiento.</p>
        <p class="TITLE"><img src="../img/NUF_027E.PNG"></p>

        <p class="PARRAFO">El formulario cuenta con un filtro mediante
          el cual el usuario puede hacer consultas selectivas bien sea por el
          código
          del origen o por el nombre del mismo.</p>
        <p class="TITLE"><img src="../img/NUF_027E1.PNG"></p>

        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar y Adicionar. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
              '>Adicionar</span><span>:</span><span></span></span><span>
            Si el usuario invoca la opción Adicionar se despliega un
            nuevo formulario</p>
        <p class="TITLE"><img src="../img/NUF_027E2.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Código</p></td>
            <td><p class="PARRAFO">Campo
                numérico de 3 dígitos, obligatorio, en el cual se
                registra
                el código asignado a cada uno de los orígenes de
                transacciones
                definidos por la entidad, tanto externos (<a
                  href="NUH_033B.html">franquicias</a>,
                <a href="NUH_054B.html"> compensadores</a>),
                como locales, internacionales, internos, etc.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Nombre</p></td>
            <td><p class="PARRAFO">En
                este campo alfanumérico de 30 caracteres, obligatorio, se
                registra
                la descripción o definición asociada a cada
                código
                de origen de transacciones.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Abreviatura</p></td>
            <td><p class="PARRAFO">Campo
                alfanumérico de 10 caracteres, obligatorio, en el que se
                ingresa
                la abreviatura o nombre corto utilizado que identifica al origen
                y que
                se utiliza para reportes impresos o consultas.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Compensador</p></td>
            <td><p class="PARRAFO">Este
                campo tipo combo permite seleccionar el <a
                  href="NUH_054B.html">compensadores</a>
                a través del cual se va a procesar el movimiento que
                ingresa
                por el origen.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Tapa</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio que contiene un combo donde se selecciona entre Si o
                No
                el origen requiere que una vez se efectúe el cambio de
                calendario
                se habilite para el siguiente día hábil, lo que
                aplica
                principalmente para aquellos orígenes basados en cargues
                o integración
                de movimiento.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Reservado</p></td>
            <td><p class="PARRAFO">En
                este campo tipo combo se selecciona entre Si o No el
                código y
                origen han sido reservados para uso exclusivo de OpenCard, o
                corresponden
                a Convenios. Para tal fin, existen unos rangos seleccionados
                previamente,
                por lo cual si la entidad requiere definir uno o más
                orígenes
                puede hacerlo utilizando un código diferente al del rango
                reservado,
                siempre y cuando se tenga presente que ello implica desarrollos
                adicionales
                o en el mejor de los casos, adecuación de los programas
                existentes.</p></td>
          </tr>
        </table>
        <div>
          <p class="PARRAFO"><span class="SUBTITULO">
              Actualizar</span>: Si el usuario selecciona un registro e invoca
            la
            opción Actualizar se despliega un formulario en el cual los
            campos
            modificables son el Nombre, Abreviatura, Compensador, Tapa y
            Reservado. </p>
          <p class="TITLE"><img src="../img/NUF_027E3.PNG"></p>
          
          <p class="PARRAFO">El formulario Orígen de transacciones
            contiene los
            hipervínculos <a href="NUH_027B1.html">Transacciones
            </a><a href="NUH_066B.html#BL_SISTEMA"></a>y <a
              href="NUH_027B2.html">Parámetros
              de origen</a> que le permiten al usuario seleccionar el registro
            correspondiente
            a un origen en particular e invocar los formularios desde los cuales
            se
            puedeb parametrizar las transacciones originales válidas y
            algunos
            parámetros propios para el origen seleccionado.</p>

        </section>
        <script src="../js/menu.js"></script>
      </body>
      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </html>