<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
      <p class="TITLE">Profesiones</p>

      <p class="PARRAFO">Mediante esta función se habilita
        la consulta y mantenimiento de la tabla en la cual se almacenan, a tres niveles,
        las diferentes profesiones desempe&ntilde;adas tanto por los tarjetahabientes
        como por los funcionarios usuarios del Sistema, con base en la codificación
        establecida por el ICFES. La clasificación se hace en tres categorías,
        siendo el nivel la primera de ellas y presenta las carreras agrupadas en niveles
        de formación: Técnica profesional, Tecnológica, Universitaria
        u otros que la entidad considere. Le siguen en orden la categoría del
        <a href="NUH_030B.html#BL_AREA"> área</a> de
        conocimiento y finalmente la <a href="NUH_030B.html#BL_PROFESION">profesión</a>.
        El formulario cuenta con una opción de Filtro de Búsqueda por Código y Nombre.
        </span>
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E.PNG"></p>
      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar. Cuenta también con el hipervínculo Areas.</p>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Adicionar</span>:</span></span>
          Al activar ese enlace se despliega un formulario.
        </span>
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E1.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Código</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanumérico de dos dígitos, obligatorio, que contiene
              el código asignado a cada uno de los niveles definidos por la
              entidad.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripción</p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo alfanumérico de 80 posiciones, obligatorio, se registra
              el nombre del nivel asociado a cada código.
            </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Actualizar</span>:</span></span>
           Al activar ese enlace  se despliega un formulario
          en el cual el único campo modificable es Descripción.</span>
      </p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E2.PNG"></p>

      <div>
        <p class="PARRAFO"><a name="BL_AREA"></a><span class="SUBTITULO">Areas:</span></span>
            Si el usuario invoca la opción Areas, se despliega un formulario
            con el mismo nombre y que corresponde a la segunda categoría de la
            clasificación. Permite indicar el área de conocimiento a la
            que pertenece cada carrera.</span> El formulario cuenta con una opción de Filtro de
          Búsqueda por Código y Nombre. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E3.PNG"></p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar. Cuenta también con el hipervínculo Profesiones.</p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Al activar ese enlace se despliega un formulario.</span>
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E4.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de dos dígitos, obligatorio, que contiene
                el código asignado a cada área de conocimiento.

              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 80 posiciones, obligatorio, se registra
                el nombre del área de conocimiento asociado a cada código.

              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:</span>
          </span>
            Si el usuario selecciona un registro e invoca la opción Actualizar
            se despliega un formulario en el cual el único campo modificable
            es Descripción.</span>
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E5.PNG"></p>

        <p class="PARRAFO"><a name="BL_PROFESION"></a><span
            class="SUBTITULO">Profesiones:</span></span>
            Si el usuario invoca la opción Profesiones, se despliega un nuevo
            formulario con el mismo nombre y que corresponde a la tercera categoría
            la clasificación. Permite indicar el nombre oficial de las diferentes
            carreras dentro de cada área del conocimiento y nivel.</span> El formulario cuenta con una
          opción de Filtro de Búsqueda por Código y Nombre. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E6.PNG"></p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar y Adicionar. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Al activar ese enlace se despliega un formulario.</span>
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E7.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Código</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanumérico de tres dígitos, obligatorio, que contiene
                el código asignado a cada profesión.

              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripción</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanumérico de 80 posiciones, obligatorio, se registra
                el nombre de la profesión asociada a cada código.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Actualizar</span>:</span></span>
            Si el usuario selecciona un registro e invoca la opción Actualizar
            se despliega un formulario en el cual el único campo modificable
            es Descripción.</span>
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_030E8.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">
            </p>
      </div>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>