<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Parámetros de captura</p>
                 
            <p class="PARRAFO">A través de esta opción se permite el mantenimiento y/o consulta, a los funcionarios de OpenCard S.A.S., de la tabla en la cual se relacionan todas las posibles validaciones a realizar en la <a href="INH_004B.html" >captura de movimientos de
                        oficinas</a>. El formulario contiene los enlaces: Actualizar, Eliminar y Adicionar.
                </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_050E.svg"></p>
            <p class="PARRAFO"><span class="SUBTITULO"><span
                                class="SUBTITULO">Adicionar</span>:</span></span>
                                Al activar ese enlace se despliega el siguiente formulario:
                </span> 
            </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_050E1.svg"></p>
            <p class="TITLE">Descripción de campos</p>
            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Código</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo
                            numérico de 2 dígitos, obligatorio, que identifica cada
                            una de las posibles validaciones que pueden darse en la captura del
                            movimiento de oficinas.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Descripción</p>
                    </td>
                    <td>
                        <p class="PARRAFO">En
                            este campo alfanumérico de 30 posiciones, obligatorio, se registra
                            el nombre asociado al código anterior.
                        </p>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:</span> 
                    </span>
                    Al activar ese enlace se despliega el siguiente formulario, en el cual el único campo modificable es Descripción: </span> 
            </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_050E2.svg"></p>

        </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>