<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Bloqueos</p>

      <p class="PARRAFO">Mediante esta funci&oacute;n se habilita
        la consulta y mantenimiento (reservado a funcionarios de OpenCard SAS),
        de la tabla en la cual se almacenan los c&oacute;digos, descripciones y tipos
        de las diferentes condiciones o estados que puede tener un cr&eacute;dito.
        La forma y condiciones bajo las cuales se aplica cada uno de estos g&eacute;neros
        de bloqueo las determina la entidad financiera en la opci&oacute;n </span><a href="CAH_002B.html">Estados
          y bloqueos</a><span class="PARRAFO">.
        </span></p>
      <p class="TITLE"><img src="../img/NUF_012E.PNG" 761"></p>

      <p class="PARRAFO">El formulario contiene las opciones Actualizar,
        Eliminar y Adicionar. </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span><span 
        >:</span><span 
        ></span></span><span 
        > 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></p>
            <p class="TITLE"><img src="../img/NUF_012E1.PNG"></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >C&oacute;digo</span></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 1 posici&oacute;n, obligatorio, con el que se 
                    identifica cada bloqueo a definir. Este campo no es modificable, a&uacute;n 
                    en Modo Total, por lo cual para corregir un c&oacute;digo errado es 
                    necesario eliminar el registro y crearlo nuevamente.
                   
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Descripci&oacute;n</span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se registra 
                    el nombre o descripci&oacute;n de cada bloqueo codificado.
                   
                  </p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO">Tipo 
                    bloqueo
                    </p></td>
                <td><p  class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la que debe seleccionarse entre 
                    Reestructuraci&oacute;n, Pl&aacute;stico, Sobrecupo, Persona o Saldo 
                    la categor&iacute;a asociable a cada bloqueo definido.
                   
                  </p></td>
              </tr>
            </table>
            <div> 
              <p class="PARRAFO"><span class="SUBTITULO"> 
                Actualizar</span>: Si el usuario invoca la opci&oacute;n Actualizar 
                se despliega un nuevo formulario en el cual los &uacute;nicos campos modificables 
                son Descripci&oacute;n y Tipo bloqueo
              </p>
             <p class="TITLE"><img src="../img/NUF_012E2.PNG"></p>
              </section>
    <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</html>