<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Indicadores económicos (corporativos)</p>
                    
            <p class="PARRAFO">Mediante esta función se habilita la consulta y mantenimiento de la 
              tabla corporativa o de cada entidad, dependiendo de la opción del menú 
              desde la cual es invocada, en la cual se almacena el valor absoluto, para 
              cada uno de los indicadores económicos "oficiales" vigentes para o 
              a partir de la fecha se&ntilde;alada. El valor absoluto puede corresponder 
              a un valor base o ser el resultado de una fórmula previamente definida 
              en la opción <a href="NUH_036B.html">Tipos de tasas e indicadores</a> en 
              las Tablas corporativas. Al igual que los valores de las tasas de cambio, 
              es necesario realizar diariamente, a primera hora, la actualización 
              de los indicadores básicos para el correcto funcionamiento del sistema.</p>
            <p class="TITLE"><img src="../img/NUF_043B.PNG"></p>
            <p class="PARRAFO"><a name="Volver"></a></p>
            
            <p  class="PARRAFO">El formulario contiene los enlaces: Actualizar, 
              Eliminar, Adicionar y Detalle. Adicionalmente cuenta con un filtro de búsqueda 
              y el botón <a href="#Boton">Copiar indicadores del día anterior</a> 
              en la parte inferior, que permite replicar los valores definidos el día 
              anterior, si existen, facilitando de esta manera la actualización de 
              los mismos.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas 
              a través de las siguientes opciones: </p>
            <p class="TITLE"><img src="../img/NUF_043B1.PNG"></p>
            
            <table>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Fecha de ingreso</p></td>
                <td><p class="PARRAFO">Campo en formato fecha YYYY/MM/AA,  que contiene por defecto la fecha actual del sistema. </p>      
                </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">indicador económico</p></td>
                <td><p class="PARRAFO">Campo que contiene lista de valores poblada   a través de la opción <a href="NUH_036B.html">tipos de tasas e   indicadores</a> de la que se selecciona el código (o nombre) asignado a cada   uno de los indicadores económicos requeridos.</p>      </td>
              </tr>
            </table>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se despliega un formulario con los siguientes campos<span 
        >:</p>
            <p class="TITLE"><img src="../img/NUF_043B2.PNG" alt="Adicionar"></p>
            
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span 
        >Indicador económico </p></td>
                <td><p class="PARRAFO">Campo que contiene lista de valores poblada   a través de la opción <a href="NUH_036B.html">tipos de tasas e   indicadores</a> de la que se selecciona el código (o nombre) asignado a cada   uno de los indicadores económicos requeridos. Al ingresar un código se   valida contra la lista; aquellos que no aparecen en la lista corresponden a   indicadores que son el resultado de cálculos basados en algunas de éstas   cifras.</p>        
                </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span 
        >Fecha de ingreso </p></td>
                <td><p class="PARRAFO">Despliega la fecha seleccionada del   calendario, apareciendo por defecto la del día actual.</p>      
                </td>
              </tr>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Valor</p></td>
                <td><p class="PARRAFO">Campo numérico obligatorio, que en un máximo   de seis enteros y seis decimales permite registrar el valor porcentual válido   para cada indicador económico tipo base.</p>        
                </td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>   Al activar ese enlace  se despliega un formulario 
            en el cual el único campo modificable es:  Valor.</p>
            <p class="TITLE"><img src="../img/NUF_043B3.PNG"></p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Copiar indicadores del día anterior<a name="Boton"></a></span> :</span>  Utilitario que permite replicar los valores para los diferentes indicadores   económicos definidos el día anterior, si existen, y solamente modificar aquellos   cuyos valores hayan variado.<span>
              
            </p>
            <p class="TITLE"><img src="../img/NUF_043B4.PNG" ></p>
        </div>  
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>