<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Marcas de veh&iacute;culos</p>

      <p class="PARRAFO">Mediante esta funci&oacute;n se habilita
        la consulta y mantenimiento de la tabla en la cual se almacenan las diferentes
        marcas de veh&iacute;culos existentes en el mercado, con base en la codificaci&oacute;n
        establecida por Fasecolda. La clasificaci&oacute;n se hace en tres niveles,
        siendo la marca al primero de ellos y que corresponde al nombre gen&eacute;rico
        de f&aacute;brica de los veh&iacute;culos. El segundo nivel corresponde a
        la <a href="NUH_013B.html#BL_CLASES">Clase de veh&iacute;culo</a>
        y el tercer nivel al <a href="NUH_013B.html#BL_TIPOS">tipo</a>.
        </span></p>
      <p class="TITLE"><img src="../img/NUF_013E.PNG"></p>
      <p class="PARRAFO">El formulario contiene las opciones Actualizar,
        Eliminar y Adicionar. Cuenta tambi&eacute;n con el hiperv&iacute;nculo Clases
        de veh&iacute;culo.</p>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Adicionar</span>:</span></span>
          Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.
        </span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_013E1.PNG"></p>
      <p class="TITLE">Descripci&oacute;n de campos</p>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">C&oacute;digo</span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que contiene
              el c&oacute;digo asignado a cada marca de veh&iacute;culo.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Descripci&oacute;n</span></p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo alfanum&eacute;rico de 20 posiciones, obligatorio, se registra
              el nombre de la marca del veh&iacute;culo asociada a cada c&oacute;digo.

            </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO"><span class="SUBTITULO"><span
                class="SUBTITULO">Actualizar</span>:</span></span>
          Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
          en el cual el &uacute;nico campo modificable es Descripci&oacute;n.</span> 
      </p>
      <p class="TITLE"><img src="../img/NUF_013E2.PNG"></p>

      <div>
        <p class="PARRAFO"><a name="BL_CLASES"></a><span class="SUBTITULO">Clases
                de veh&iacute;culos:</span></span>
            Si el usuario invoca la opci&oacute;n Clases de veh&iacute;culos, se despliega
            un nuevo formulario con el mismo nombre y que corresponde al segundo nivel
            de la clasificaci&oacute;n. Permite indicar la caracter&iacute;stica de
            los veh&iacute;culos (autom&oacute;vil, camioneta, pick up, campero, etc).</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E3.PNG"></p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar y Adicionar. Cuenta tambi&eacute;n con el hiperv&iacute;nculo Tipos
          de veh&iacute;culos.</p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E4.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que contiene
                el c&oacute;digo asignado a cada clase de veh&iacute;culo.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanum&eacute;rico de 20 posiciones, obligatorio, se registra
                la clase del veh&iacute;culo asociada a cada c&oacute;digo.
              </p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:</span> 
            </span>
            Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar
            se despliega un formulario en el cual el &uacute;nico campo modificable
            es Descripci&oacute;n.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E5.PNG"></p>

        <p class="PARRAFO"><a name="BL_TIPOS"></a><span class="SUBTITULO">Tipos
                de veh&iacute;culos:</span></span>
            Si el usuario invoca la opci&oacute;n Tipos de veh&iacute;culos, se despliega
            un nuevo formulario con el mismo nombre y que corresponde al tercer nivel
            de la clasificaci&oacute;n. Permite indicar el nombre de las diferentes
            l&iacute;neas de veh&iacute;culos dentro de cada clase y marca.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E6.PNG"></p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar y Adicionar. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E7.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">C&oacute;digo</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, que contiene
                el c&oacute;digo asignado a cada tipo de veh&iacute;culo.
              </p>
            </td>
          </tr>

          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Descripci&oacute;n</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo alfanum&eacute;rico de 20 posiciones, obligatorio, se registra
                el tipo del veh&iacute;culo asociado a cada c&oacute;digo.</p>
            </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Actualizar</span>:</span></span>
            Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar
            se despliega un formulario en el cual el &uacute;nico campo modificable
            es Descripci&oacute;n.</span> 
        </p>
        <p class="TITLE"><img src="../img/NUF_013E8.PNG" 231"></p>
        <p class="PARRAFO"><span class="SUBTITULO">
            </span></p>
  </section>
  <script src="../js/menu.js"></script>
</body>
<div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>

</html>