<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>

    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Monedas</p>

        <p class="PARRAFO">Mediante esta opción, se posibilita la consulta y/o mantenimiento de
          la estructura que contiene la información básica, de las monedas
          oficialmente utilizadas por las franquicias, principalmente para el
          manejo de las transacciones realizadas en el extranjero. El formulario
          cuenta con una opción de Filtro de búsqueda por Código y/o Nombre.
        </p>
        <p class="TITLE"><img src="../img/NUF_005E.PNG"></p>

        <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar y
          Adicionar.</p>
        <p class="PARRAFO"><span class="SUBTITULO"> Adicionar:</span> Si el
          usuario invoca la opción Actualizar se despliega el siguiente
          formulario:</p>
        <p class="TITLE"><img src="../img/NUF_005E1.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Código</p></td>
              <td><p class="PARRAFO">Campo numérico de tres dígitos,
                  obligatorio, asignado a cada una de las monedas oficialmente
                  utilizadas dentro de las franquicias.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO"><span>Nombre</p></td>
                <td><p class="PARRAFO">Campo alfanumérico de 30 posiciones, obligatorio, en
                    el cual se registra el nombre asociado al código de cada
                    moneda.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Abreviatura</p>
                </td>
                <td><p class="PARRAFO">Campo alfanumérico de 6 posiciones, obligatorio, en el
                    cual se registra el nombre resumido o mnemónico para
                    utilizarse en los reportes.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Símbolo</p>
                </td>
                <td><p class="PARRAFO">Campo alfanumérico de 4 posiciones, no
                    obligatorio, contiene la representación de cada moneda
                    para ser utilizada en los reportes.</p> </td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO"><span
                  class="SUBTITULO">Actualizar:</span> Si el usuario invoca la
                opción Actualizar se despliega un nuevo formulario
                en el cual los únicos campos modificables son: Nombre,
                Abreviatura, Símbolo.</span></p>
            <p class="TITLE"><img src="../img/NUF_005E2.PNG"></p>

          </section>
          <script src="../js/menu.js"></script>
        </body>
        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </html>