<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        
            <div>
              
                <p class="TITLE">Administración de Usuarios</p>
                              
                <p  class="PARRAFO">Desde este formulario, se habilita la consulta
                    y mantenimiento de una tabla en la cual se almacena toda la información
                    relacionada con los usuarios nombrados para la corporación o entidad
                    financiera, lo cual requiere que, como medida de seguridad, el acceso a la misma
                    sea altamente restringido.</p>
                <p class="TITLE"><img src="../img/NUF_010E.PNG"></p>

                <p  class="PARRAFO">El formulario cuenta con un filtro que permite
                    efectuar consultar por el código y/o el nombre del usuario</p>
                <p class="TITLE"><img src="../img/NUF_010E1.PNG"></p>
    
                <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
                    Eliminar, Adicionar,Detalle y <a href="#restricciones">Restricciones</a></p>
                <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
                    Al activar ese enlace se despliega un formulario
                    dividido en cuatro bloques de datos (Básicos, Información, Localización) con los siguientes campos.</p>
                <p class="TITLE"><img src="../img/NUF_010E2.PNG"></p>

                
                    <p class="TITLE">Descripción de Campos</p>
                

                <table>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Código</p>
                        </td>
                        <td  >
                            <p  class="PARRAFO">Campo
                                alfanumérico de 16 dígitos, obligatorio, en el que se
                                registra un código, pseudónimo o abreviatura que identifica
                                a cada usuario del Sistema.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Nombre</p>
                        </td>
                        <td  >
                            <p  class="PARRAFO">En
                                este campo alfanumérico de 25 posiciones, obligatorio, se registra
                                el nombre de la persona a quien corresponde el usuario a definir.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Primer apellido</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">Campo
                                alfanumérico de 20 posiciones, obligatorio, en el que se registra
                                el primer apellido del usuario nombrado.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Segundo apellido</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">En
                                este campo alfanumérico de 20 posicione, no obligatorio, se registra
                                el segundo apellido del usuario nombrado. </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Cargo</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">Campo
                                obligatorio con lista de valores de la que se debe seleccionar el <a
                                    href="NUH_040B.html" >cargo</a>
                                desempe&ntilde;ado por el usuario en la entidad.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Código empleado</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">En
                                este campo alfanumérico de 16 dígitos, no obligatorio,
                                se registra el código interno del funcionario o en su defecto
                                el número de documento de identificación.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Teléfono</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">En
                                este campo alfanumérico de 20 dígitos, no obligatorio,
                                se registran los números telefónicos en los que es posible
                                ubicar al usuario. </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Extensión</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">Campo
                                alfanumérico de 20 dígitos, no obligatorio, en el que
                                se indican los números de extensión en los que es posible
                                ubicar al usuario.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="SUBTITULO">
                                        Correo electrónico</p>
                        </td>
                        <td>
                            <p  class="PARRAFO">En
                                este campo alfanumérico de 30 dígitos, no obligatorio,
                                se registra la dirección electrónica a la que es posible
                                enviar e-mails al usuario. Cuando se ejecutan procesos desde <a href="OPH_002B.html"
                                    >automatización</a>,
                                el sistema envía a esta dirección los mails en los que
                                informa al usuario el resultado de la ejecución de los procesos
                                lanzados por él.
                            </p>
                        </td>
                    </tr>
                </table>

                <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:
                    si el usuario selecciona un registro e invoca la opción Actualizar
                    se despliega un formulario con un único campo NO modificable que es
                    el Código. </p>
                <p class="TITLE"><img src="../img/NUF_010E3.PNG"></p>

                <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
                    si el usuario selecciona un registro e invoca la opción Detalle se
                    despliega un formulario con toda la información del registro y en el
                    cual ninguno de sus campos es modificable. </p>
                <p class="TITLE"><img src="../img/NUF_010E4.PNG"></p>

                    <p id="restricciones" class="PARRAFO" ><span class="SUBTITULO">Restricciones :</span>  
                        una vez se activa el enlace Restricciones, se despliega un formulario que muestra 
                        el o los Roles de negocio a los cuales tiene acceso el usuario desde el cuál se invocó.
                         Ésta maniobrabilidad tiene como propósito poder diferenciar los atributos entre 
                         usuarios que pertenezcan a un mismo rol; basta con navegar por los menús y submenús
                          hasta ubicar la o las opciones que se requieran deshabilidar / habilitar o restringir 
                          / autorizar, para el usuario desde el cuál se invocó, condición dada por el estado 
                          del checkbox Permisos, que solo se habilitan para aquellos registros de tipo 
                          Funcionalidad; para poder evidenciar el cambio es necesario primero activar el 
                          botón especial Salvar y segundo que el usuario afectado, reingrese al aplicativo.</p>
                        <p class="TITLE"><img src="../img/NUF_011E4.PNG"  ></p>
            </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>