<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Conceptos cubiertos por el pago</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n se posibilita la parametrizaci&oacute;n por
                grupos de los diferentes conceptos que componen el saldo de cada obligaci&oacute;n; los grupos
                incialmente creados corresponden a Pago menor al m&iacute;nimo, Pago superior al m&iacute;nimo y
                    Conceptos de la transacci&oacute;n. Esta pantalla no permite la creaci&oacute;n de
                registros, sino &uacute;nicamente modificar el grupo al que puede pertenecer cada concepto.
                Este esquema o rutina es aplicada por el proceso Actualizador de saldos, tanto para los
                pagos efectuados por el cliente como todas aquellas transacciones internas que se le
                asimilen.</span></p>
            <p class="PARRAFO"><span>El formulario contiene las opciones Actualizar,
                    Eliminar y Adicionar.</span><b><span style'font-size: 13.5pt;font-family:Tahoma;#:navy'>

                    </span></b></p>
            <p>
            <p class="TITLE"><img src="../img/NUF_048E.PNG" alt="Conceptos cubiertos por el pago" 598"
                    height="489"></span></p>

            <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opci&oacute;n Adicionar
                se despliega un formulario con los siguientes campos<span>:</span> 
            </p>
            <p class="TITLE"><img src="../img/NUF_048E1.PNG"></p>

            <table>
                <tr>
                    <td>
                        <p><b><span class="SUBTITULO">Grupo </span></b><span>

                            </span></p>
                    </td>
                    <td>
                        <p><span>Campo num&eacute;rico de 3 d&iacute;gitos, obligatorio, asignado a cada uno de los tres
                                grupos de conceptos inicialmente definidos a saber: Pago menor al m&iacute;nimo, Pago
                                superior al m&iacute;nimo y Conceptos de la transacci&oacute;n.</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b><span class="SUBTITULO">Concepto</span></b></p>
                    </td>
                    <td>
                        <p><span>Combo obligatorio que despliega las siguientes opciones:<span style="font-size: 18px;">
                                    OC,CE,AV,IE,IM,TP,CJ,HA,IC,CA,
                                    CM, MA, CC, CS, CF, CR, LC, AD, CX, AT, AC, CP, CT, RE, CN.</span></span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b><span class="SUBTITULO">Descripci&oacute;n</span></b><span>

                            </span></p>
                    </td>
                    <td>
                        <p><span>Campo alfanum&eacute;rico de 60 posiciones, dentro de los que se registran los
                                conceptos y su descripci&oacute;n asociados al grupo. </span></p>
                    </td>
                </tr>
            </table>

            <p class="PARRAFO"><b><span class="SUBTITULO">Actualizar</span></b><span>: Si el
                    usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
                    en el cual el &uacute;nico campo modificable es: Descripci&oacute;n.</span></p>
            <p class="TITLE"><img border=0 width=319 height=126 src="../img/NUF_048E2.PNG"></p>

    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>