<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Mensaje del período por bin </p>

        <p class="PARRAFO">Mediante esta función se habilita la consulta y mantenimiento
          de los mensajes asociados a la altura de mora de la deuda de los
          clientes.</p>
        <p class="PARRAFO">El formulario contiene la opcion Período.</p>
        <p class="TITLE"><img src="../img/NUF_064B.PNG"></p>
        <p class="PARRAFO">Periodo: Se selecciona la frecuencia con la cual se van a facturar
          las tarjetas que pertenezcan al ciclo. Las posibles opciones son
          Semanal,
          quincenal, mensual, trimestral y anual, determina la cantidad de
          periodos vencidos para la inclusión de mensajes en los mismos.
        </p>
        <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,Eliminar, Adicionar y Detalle.</p>
        <p class="TITLE"><img src="../img/NUF_064B1.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la opción Adicionar se despliega un formulario
          con los siguientes campos:</p>
        <p class="TITLE"><img src="../img/NUF_064B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin</p></td>
            <td><p class="PARRAFO">Este campo despliega todos los prefijos
                definidos por la entidad previamente en la opción <a
                  href="file:///C:/Users/aconde/Desktop/Ayudas_Lucy/MEH_001E.html">Parámetros</a>
                del módulo Mercadeo, sobre los cuales se definirán
                los mensajes que se imprimirán en el extracto.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Edad</p></td>
            <td><p class="PARRAFO">Campo numérico de 2 posiciones,
                obligatorio, en el cual se definen los periodos de altura de
                mora (expresado en meses), que deben poseer las tarjetas para
                asociar el respectivo mensaje.</p> </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Mensaje</p></td>
            <td><p class="PARRAFO">Este campo contiene una lista de valores
                poblada a partir de los mensajes Financiero definidos en el tab
                anterior, y de la donde la entidad selecciona cuál de
                ellos aplicar de acuerdo con la altura de mora. Es importante
                aclarar que, a la altura de mora cero (0) se debe asociar el
                mensaje que informa a todos los clientes acerca de las tasas de
                interés aplicadas a los respectivos consumos.</p> </td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un formulario
            en el cual los únicos campos modificables son:
            Descripción, Tipo, Línea 1, Línea 2, y
            Línea 3. </p>
        <p class="TITLE"><img src="../img/NUF_064B3.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el usuario
          invoca la opción Detalle se despliega el siguiente formulario:
        </p>
        <p class="TITLE"><img src="../img/NUF_064B4.PNG"></p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda</p></td>
            <td><p class="PARRAFO">Campo que posee lista de valores de la que
                debe seleccionarse la <a
                  href="file:///C:/Users/aconde/Desktop/Ayudas_Lucy/NUH_005E.html">Moneda</a>
                en que se expresan los valores del extracto al que se le asocia
                el correspondiente mensaje.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Línea 1 ó
                2 ó 3</p></td>
            <td><p class="PARRAFO">Campos alfanuméricos de 124
                dígitos cada uno, no obligatorios, dentro de los que se
                registran los contenidos de cada una de las líneas que
                para un mismo tipo de mensaje contendrá el
                extracto.</p></td>
          </tr>
        </table>
      </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>