<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Parámetros operativos</p>

        <p class="PARRAFO"><span class="SUBTITULO">Localización del Adquirente:</span> El
          formulario
          inicial muestra el Detalle de los parámetros de
          localización,
          y tiene las opciones Actualizar y el botón para regresar al
          formulario
          principal <a href="NUH_055B2.html">Adquirente.</a></p>
        <p class="TITLE"><img src="../img/NUF_055A3.PNG"></p>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
             Al activar ese enlace  se despliega un
            formulario
            con los siguientes campos para modificar: Porcentaje base
            retención,
            Porcentaje iva, % Retención iva, % Base retención
            establecimiento,
            y Retención en la fuente.</p>
        <p class="TITLE"><img src="../img/NUF_055A2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Porcentaje
                base retención</p></td>
            <td><p class="PARRAFO">Campo
                numérico que en un máximo de 3 enteros y 2
                decimales,
                no obligatorio, permite definir el valor porcentual a aplicar y
                calcular
                sobre los consumos (u otros conceptos asimilables) sobre cuyo
                resultado
                se liquidará el impuesto de retención en la
                fuente. Este
                parámetro es necesario para calcular dicho impuesto sobre
                las
                consignaciones y depósitos de los establecimientos. Sin
                él
                no se puede generar el débito a la cuenta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Porcentaje
                iva</p></td>
            <td><p class="PARRAFO">Campo
                numérico de 3 dígitos incluidos 2 decimales, no
                obligatorio,
                dentro del que se registra el valor porcentual a aplicar tanto a
                los
                diferentes conceptos en que sea requerido como también
                sobre
                las transacciones internas, así se&ntilde;aladas, que por
                su
                esencia sean generadoras de este impuesto (IVA). </p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">%Retención
                iva</p></td>
            <td><p class="PARRAFO">En
                este campo numérico de hasta 3 posiciones enteras y 2
                decimales,
                no obligatorio, se registra el valor porcentual de la tasa a
                aplicar
                por dicho impuesto sobre el resultado del porcentaje base
                retención
                IVA obtenido. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">%
                Base retención establecimiento</p></td>
            <td><p class="PARRAFO">En
                este campo numérico de hasta 3 enteros y 2 decimales, no
                obligatorio,
                se define el valor porcentual a aplicar y calcular sobre los
                descuentos
                efectuados a las consignaciones o depósitos de los
                establecimientos,
                acorde con la norma correspondiente. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Retención
                en la fuente</p></td>
            <td><p class="PARRAFO">Este
                campo numérico de hasta 3 posiciones enteras y 2
                decimales, no
                obligatorio, permite registrar el valor porcentual de la tasa a
                aplicar
                por dicho impuesto sobre el resultado del porcentaje base
                obtenido.
              </p></td>
          </tr>
        </table>

        <p class="PARRAFO"><a href="NUH_055B2.html">Volver a Adquirente</a>| <a
            href="NUH_055B.html">Ir
            a Emisor</a><span>|
          </span><a href="NUH_055B3.html"> Localización Emisor</a></p>
      </div>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>