<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Ubicación de archivos</p>

        <p class="PARRAFO">A través de este formulario, se habilita la consulta
          y mantenimiento de la tabla que contiene la información, agrupada por
          módulos, de la ruta o localización de los distintos archivos de
          entrada, principalmente los cargues, los de salida e incluso los del
          log (auditoria), con los insumos o resultados de la ejecución de los
          diversos procesos efectuados en o por el aplicativo. El formulario
          contiene los enlaces: Actualizar, Eliminar, Adicionar y Detalle.
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_053E.svg"></p>

        <p class="PARRAFO"><span
            class="SUBTITULO">Adicionar</span>:</span></span></span>
            Al activar ese enlace se despliega un formulario</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_053E1.svg"></p>
          <p class="TITLE">Descripción de campos</p>
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Módulo</p></td>
                <td><p class="PARRAFO">Campo
                    alfanumérico, obligatorio, en el que se registra la
                    abreviatura
                    del módulo para el cual se va a definir la ubicación de
                    archivos. </p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Ubicación
                      entrada</span> base datos </p></td>
                <td><p class="PARRAFO">Campo
                    alfanumérico de 250 dígitos, no obligatorio, en el que
                    se registra la dirección o ruta de los archivos externos que
                    alimentan al sistema. </p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Ubicación
                      salida</span> base datos </p></td>
                <td><p class="PARRAFO">En
                    este campo alfanumérico de 250 dígitos, no obligatorio,
                    se registra la dirección o ruta en la que se sitúan los
                    diversos archivos que genera el sistema y requeridos por los
                    entes externos.

                  </p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO">Ubicación
                      reportes </span>base datos</p></td>
                <td><p class="PARRAFO">Campo
                    alfanumérico de 250 dígitos, no obligatorio, en el que
                    se registra la dirección o ruta en la que se sitúan los
                    diversos archivos en los que se guardan los reportes que
                    genera el sistema.

                  </p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO">Ubicación
                      log</span> base datos </p></td>
                <td><p class="PARRAFO">En
                    este campo alfanumérico de 250 dígitos, no obligatorio,
                    se registra la dirección o ruta en la cual se guardan los
                    archivos
                    log de auditoria generados.</p></td>
              </tr>

              <td class="titletable"><p class="SUBTITULO">Usa
                    log corto</p></td>
                <td><p class="PARRAFO">Campo
                    obligatorio tipo combo con las opciones Si o No. Cuando está
                    marcado Si, el sistema genera un log muy breve, y si el
                    valor es No
                    se genera un log detallado, acorde a las necesidades o
                    políticas
                    definidas por la entidad.</p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO">Adición
                      archivo log</p></td>
                  <td><p class="PARRAFO">En
                      este campo tipo combo, obligatorio, la entidad puede
                      establecer si el
                      log es actualizado cada vez que se carga o genera un
                      archivo o si se
                      acumulan de manera consecutiva.
                    </p></td>
                </tr>
              </table>
              <div>
                <p class="PARRAFO"><span class="SUBTITULO">
                    Actualizar</span>: Al activar ese enlace desde se despliega un formulario en el cual el único campo no modificable es Módulo:
                    
                </p>
                <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_053E2.svg"></p>

                <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
                  si el usuario selecciona un registro e invoca el enlace
                  Detalle se despliega un formulario con la información del
                  registro y en el cual ninguno de sus campos es
                  modificable.</span></p>
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_053E3.svg"></p>
            </div>
          </section>
          <script src="../js/menu.js"></script>

          <div id="footerContainer"></div>
          <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
        </body>

      </html>