<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Programas afinidad </p>

      <p class="PARRAFO">Mediante esta funci&oacute;n se consulta
        y realiza mantenimiento a la tabla que contiene una codificaci&oacute;n establecida
        por Credibanco-Visa para conocer estad&iacute;sticas de vol&uacute;menes de
        operaciones realizadas. Estos datos son asociados a los Grupos afinidad de
        la opci&oacute;n <a href="MEH_001B.html#BL_GRUPOAFINIDAD" >Definici&oacute;n
          de bines</a> y son heredados por cada uno de los <a href="MEH_002B.html" >productos</a>
        (bin, segmento y grupo de afinidad) que utilicen el respectivo grupo de afinidad.
        </span></p>
      <p class="TITLE"><img src="../img/NUF_067E.PNG" 599" height="627"></p>

      <p class="PARRAFO">El formulario contiene las opciones Actualizar,
        Eliminar y Adicionar. </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span><span 
        >:</span><span 
        ></span></span><span 
        > 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></p>
            <p class="TITLE"><img src="../img/NUF_067E1.PNG"284" height="111"></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >C&oacute;digo</span></p></td>
                <td><p  class="PARRAFO">Campo obligatorio num&eacute;rico de tres d&iacute;gitos, obligatorio, que identifica 
                    cada uno de los programas definidos por Credibanco-Visa. </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Descripci&oacute;n</span></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio alfanum&eacute;rico de 30 posiciones, obligatorio, se registra 
                    el nombre asociado al c&oacute;digo de cada programa.
                  </p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Clase
                </p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio que contiene lista de valores adjunta de la que se puede seleccionar 
                    entre Afinidad o (marca) Compartida, la caracter&iacute;stica de cada 
                    programa, que servir&aacute; de base para las cifras estad&iacute;sticas 
                    reportadas en la interface correspondiente.
                   
                </p></td>
              </tr>
            </table>
            <div> 
              <p class="PARRAFO"><span class="SUBTITULO"> 
                Actualizar</span>: Si el usuario invoca la opci&oacute;n Actualizar 
                se despliega un nuevo formulario en el cual los &uacute;nicos campos modificables 
                son Descripci&oacute;n y Clase
              </p>
             <p class="TITLE"><img src="../img/NUF_067E2.PNG"285" height="111"></p>
              </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>