<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Bines internacionales</p>
        <p class="PARRAFO">Esta función habilita la consulta y mantenimiento de
          la estructura,
          que almacena la información necesaria en la validación de
          transacciones realizadas con tarjetas emitidas en el exterior (Bines
          internacionales). El mantenimiento se realiza a través del cargue de
          la cinta enviada periódicamente por el operador (franquicia) y
          eventualmente de forma manual para resolver movimiento no procesado
          por falta de actualización de la misma tabla. El formulario contiene
          los enlaces: Actualizar, Eliminar, y Adicionar.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_018E.PNG"></p>

        <p class="PARRAFO">El
          formulario contiene los enlaces: Actualizar, Eliminar, y
          Adicionar.</p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Al activar
          el enlace se despliega un formulario con los siguientes campos:</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_018E1.PNG"></p>

          <table>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span class="SUBTITULO">Franquicia</span>

                </p>
              </td>
              <td>
                <p class="PARRAFO">Campo obligatorio, con lista
                  de valores de la cual se selecciona la <a
                    href="NUH_033B.html">franquicia</a> para la que se define el
                  rango o bin internacional en particular,
                  desplegando el nombre de la misma.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="PARRAFO"><span class="SUBTITULO">Bin</p>
                </td>
                <td>
                  <p class="PARRAFO">Campo
                    numérico obligatorio que almacena, en un máximo
                    de 8 caracteres, el Bank Identification Number BIN
                    correspondiente
                    para cada rango de tarjetas.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Rango
                      inferior</span>
                  </p>
                </td>
                <td>
                  <p class="PARRAFO">En
                    este campo alfanumérico de 16 caracteres, obligatorio,
                    se registra el límite inferior o número de tarjeta
                    a partir del cual se define el rango acorde a cada Bin.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Rango
                      superior</span>

                  </p>
                </td>
                <td>
                  <p class="PARRAFO">Campo
                    alfanumérico de 16 caracteres, obligatorio, en el que se
                    indica el límite superior o número de tarjeta hasta
                    el cual se define el rango acorde a cada Bin.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Longitud
                      bin(LB)</span>

                  </p>
                </td>
                <td>
                  <p class="PARRAFO">Campo
                    numérico de una posición, obligatorio, que ilustra
                    la longitud del bin dentro del número de la tarjeta.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Longitud
                      tarjeta(LT)</span>

                  </p>
                </td>
                <td>
                  <p class="PARRAFO">En
                    este campo numérico de dos dígitos, obligatorio,
                    se almacena la cantidad máxima de dígitos que componen
                    la cuenta del tarjetahabiente, es decir, el número de la
                    tarjeta.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Tipo(T)</span>
                  </p>
                </td>
                <td>
                  <p class="PARRAFO">Campo
                    alfanumérico de un dígito, opcional, el cual contiene
                    un indicador asignado por la franquicia a cada bin para
                    identificar
                    el tipo de producto.</p>
                </td>
              </tr>
              <tr>
                <td class="titletable">
                  <p class="PARRAFO"><span class="SUBTITULO">Dígito
                      de chequeo</p>
                  </td>
                  <td>
                    <p class="PARRAFO">Campo
                      que contiene lista de valores de la que se puede
                      seleccionar
                      el
                      algoritmo mediante el cual se realiza la verificación del
                      dígito de chequeo.</p>
                  </td>
                </tr>
              </table>
              <p class="PARRAFO"><span class="PARRAFO"><span
                    class="SUBTITULO">Actualizar:</span></span> Al activar el
                enlace se despliega un formulario, en el cual los únicos
                campos modificables son: Franquicia, Rango inferior, Rango
                superior, Longitud bin, Longitud tarjeta, Tipo y Dígito de
                chequeo.</p>
              <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/NUF_018E2.PNG"></p>

            </section>
            <script src="../js/menu.js"></script>
          </body>
          <div id="footerContainer"></div>
          <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
        </html>