<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Grupos en espera confirmaci&oacute;n</p>

        <p class="PARRAFO">Esta opci&oacute;n le permite al usuario confirmar
          aquellos Procesos que hayan sido parametrizados con el campo Iniciar
          con Confirmaci&oacute;n en la opci&oacute;n <a
            href="OPH_001B.html">Definici&oacute;n grupos de procesos</a>, y
          s&oacute;lo se mostrar&aacute;n para confirmar en el momento en que el
          sistema haya llegado a su ejecuci&oacute;n, de lo contrario esta
          opci&oacute;n se mostrar&aacute; sin registro alguno, tal como se ve
          en la siguiente imagen. </p>
        <p class="TITLE"><img src="../img/OPF_006E.PNG"768"></p>

        <p class="PARRAFO">El formulario cuenta con un filtro que le
          permite al usuario hacer consultas selectivas por el c&oacute;digo del
          grupo y
          el nombre del grupo.</p>
        <p class="TITLE"><img src="../img/OPF_006E1.PNG"419" height="98"></p>

        <p class="PARRAFO">Al ejecutar los procesos que se encuentran en la
          opci&oacute;n <a href="OPH_002B1.html">Automatizaci&oacute;n de
            ejecuci&oacute;n procesos</a>, el sistema eval&uacute;a cu&aacute;l
          de ellos tiene el par&aacute;metro indicado anteriormente y crea un
          registro temporal en esta opci&oacute;n, esperando que el usuario
          asignado a la gesti&oacute;n de los procesos realice la acci&oacute;n
          de Confirmar el proceso, la cual permitir&aacute; al sistema continuar
          con la ejecuci&oacute;n de todos los dem&aacute;s procesos
          autom&aacute;ticos incluidos en la malla. </p>
        <p class="PARRAFO">Esta acci&oacute;n ser&aacute; necesaria cada vez que
          el sistema identifique un grupo de procesos marcado como Iniciar con
          Confirmaci&oacute;n. Una vez se utilice el bot&oacute;n de Confirmar,
          el sistema continuar&aacute; con los dem&aacute;s procesos
          parametrizados en la <a href="OPH_001B.html">Definici&oacute;n grupos
            de procesos</a>.</p>
        <p class="TITLE"><img src="../img/OPF_006E2.PNG"594" height="283"></p>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>