<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANKBU®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>
  <section>
    
      <div>
          <p class="TITLE">Definición grupos de procesos</p>
        <p class="PARRAFO">Mediante este formulario se habilita el mantenimiento y consulta de la data, de la
          parametrización de los diferentes grupos de procesos, conformados por procedimientos con idéntica periodicidad
          de ejecución y que, funcional o lógicamente, la entidad acorde con sus criterios, desee hacer concordar; esta
          secuencialidad facilita la definición de precedencia, tanto a nivel de grupo como de procesos, dando la
          posibilidad de priorizarlos e interrelacionarlos y determinar para cada grupo, los procesos específicos que
          los conforman.
          </p>

        <p class="TITLE"><img src="../img/OPF_001E.PNG"></p>

        <p class="PARRAFO">El formulario cuenta con un filtro que le
          permite al usuario hacer consultas selectivas por el código del grupo y nombre del grupo.</p>

        <p class="TITLE"><img src="../img/OPF_001E1.PNG"></p>

        <p class="PARRAFO"><span class="PARRAFO">El formulario contiene
            las opciones Actualizar, Eliminar, Adicionar y Detalle. Cuenta también
            con el hipervínculo <a href="#Procesos">Procesos</a></span>  y <a href="#Predecesor">Predecesor.</a>
        </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Adicionar</span>:</span></span>
            Al activar ese enlace se despliega un formulario.
          </p>

        <p class="TITLE"><img src="../img/OPF_001E2.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <table '>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO"><span 
        >Código </span>grupo</p></td>
                    <td><p  class="PARRAFO">Campo 
                        numérico de cuatro dígitos, obligatorio, en el que se 
                        registra la serie o número que identifica cada uno de los grupos 
                        de procesos.
              </p></td>
                  </tr>
                  <tr>
                    <td  class="titletable" ><p class="SUBTITULO"><span 
        >Nombre 
                      grupo</p></td>
                    <td><p  class="PARRAFO">En 
                        este campo alfanumérico obligatorio, se registra el nombre o 
                        breve descriptivo que mejor indique el propósito del grupo.
              </p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><span class="SUBTITULO"><span 
        >Frecuencia</span></span></td>
                    <td><p class="PARRAFO">Campo 
                        tipo combo obligatorio, del cual se debe seleccionar entre Diario, Semanal, Mensual, 
                        Anual, Facturación y Especial, la frecuencia con la cual deben ser ejecutados los procesos del grupo. La combinatoria entre el valor aquí se&ntilde;alado 
                        y los valores de los campos Fecha última ejecución, Fecha próxima ejecución, 
                        último día hábil y Día del periodo, determinarán que aparezcan o no dentro de la opción Ejecución 
                    de procesos para una fecha determinada. Cuando se selecciona ' Especial', indica que dicho grupo se
          reflejará en la opción Ejecución de procesos especiales y por allí mismo se
          podrá ejecutar de forma manual únicamente.</p>
          </td>
          </tr>
        </table>
        <table '>
                  <tr> 
                    <td class="titletable"><p class="SUBTITULO"><span 
        >Ultimo 
                        día hábil</p></td>
                    <td><p  class="PARRAFO">Este 
                        campo se activa únicamente cuando la periodicidad seleccionada 
                        es semanal, mensual o anual, y contiene un combo con las opciones Si o No para indicarle 
                        al sistema si ejecuta dicho grupo de procesos el último día hábil bien sea de la semana, del mes o del a&ntilde;o, ó se ejecuta en un día diferente.</p></td>
                  </tr>
                </table>
                <table '>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Día
                    del periodo</p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                que solamente se activa cuando la periodicidad sea Semanal, Mensual o Anual, y cuando el campo
                último día hábil sea NO. En él debe se&ntilde;alarse el número del
                día
                dentro del periodo correspondiente, en que se requiera ejecutar el grupo.
              </p>
            </td>
          </tr>
        </table>
        <table >
                  <tr> 
                    <td class="titletable"><p class="SUBTITULO"><span 
        >Obligatorio</p></td>
                    <td><p  class="PARRAFO">En 
                        este campo tipo combo obligatorio se indica Si o No el grupo puede ser obligatorio o no. </p></td>
                  </tr>
                </table>
                <table '>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número </span>  </span>Maximo de Corridas </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                obligatorio que determina el numero de ejecuciones parametrizables para el grupo.
              </p>
            </td>
          </tr>
        </table>
        <table '>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO"><span 
        >Fecha próxima 
                      ejecución </p></td>
                    <td><p  class="PARRAFO">Campo obligatorio, que ofrece la funcionalidad de un calendario en el que se debe seleccionar, acorde con la periodicidad y fechas hábiles, la siguiente fecha en que debe ser ejecutado el grupo.
                    </p></td>
                  </tr>
                </table>
                <table '>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Iniciar con confirmación </p>
            </td>
            <td>
              <p class="PARRAFO">Campo en el que se se indica Si o No el grupo puede iniciar su ejecucion con
                confirmacion por parte del funcionario, esto para poder chequear o hacer algunas validaciones dentro del
                cierre diario determinadas por el banco.
              </p>
            </td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO"><span
                  class="SUBTITULO">Actualizar</span>:</span></span>
            si el usuario selecciona un registro e invoca la opción Actualizar
            se despliega un formulario en el cual el único campo NO modificable
            es el Código grupo.</p>

        <p class="TITLE"><img src="../img/OPF_001E3.PNG" 372" height="286"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span></span>
            si el usuario selecciona un registro e invoca la opción Detalle se
            despliega un formulario con toda la información del registro y en el
            cual ninguno de sus campos es modificable.</p>

        <p class="TITLE"><img src="../img/OPF_001E4.PNG" 769"></p>

        <div>
          <p class="PARRAFO"><span class="SUBTITULO"><a
                        name="Procesos"></a>Procesos:</span></span>
              Si el usuario invoca el hipervínculo 'Procesos', se despliega un
              nuevo formulario con el mismo nombre y en el que se registran todos los
              procesos que componen o integran cada uno de los grupos definidos.</p>

          <p class="TITLE"><img src="../img/OPF_001E5.PNG" 768" height="231"></p>

          <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
            Eliminar y Adicionar. También contiene el hipervínculo <a
              href="OPH_001B.html#BL_PARAMETROS">Parámetros</a> y <a href="#Predecesordeprocesos">Predecesor.</a>
          </p>
          <p class="PARRAFO"><span class="SUBTITULO"><span
                    class="SUBTITULO">Adicionar</span>:</span></span> 
            S</span>i el usuario invoca la opción Adicionar se despliega un formulario
              con los siguientes campos:</span> 
          </p>

          <p class="TITLE"><img src="../img/OPF_001E6.PNG" 666" height="240"></p>

          <p class="TITLE">Descripción de campos</p>
          <table '>
                    <tr> 
                      <td class="titletable"><p class="SUBTITULO"><span 
        >Código 
                          proceso </p></td>
                      <td><p  class="PARRAFO">Campos obligatorio
                          de salida en los que se muestra la combinatoria correspondiente al 
                          <a href="MEH_002B.html" > producto</a> para 
                          el cual se está parametrizando la condición de no reporte 
                          a centrales de riesgo.</p></td>
                    </tr>

                    <tr> 
                      <td class="titletable"><p class="SUBTITULO"><span 
        >Objeto</span> lógico </p></td>
                      <td><p  class="PARRAFO">Campo 
                          alfanumérico obligatorio en el que se registra el nombre del 
                          objeto asociado al proceso a parametrizar. </p></td>
                    </tr>
                    <tr> 
                      <td  class="titletable" ><p class="SUBTITULO"><span 
        >Descripción</span> objeto lógico </p></td>
                      <td><p  class="PARRAFO">En 
                          este campo alfanumérico obligatorio, se registra una breve 
                          descripción de la función que cumple el proceso a parametrizar.</p></td>
                    </tr>
                    <tr>
                      <td  class="titletable" ><p class="SUBTITULO"><span >Frecuencia</p></td>
                      <td><p  class="PARRAFO">Campo 
                        tipo combo obligatorio, del cual se debe seleccionar entre Diario, Semanal, Mensual, 
                        Anual, Facturación y Especial, la frecuencia con la cual deben ser ejecutados los procesos del grupo. La combinatoria entre el valor aquí se&ntilde;alado 
                        y los valores de los campos Fecha última ejecución, Fecha próxima ejecución, 
                        último día hábil y Día del periodo, determinarán que aparezcan o no dentro de la opción Ejecución 
                    de procesos para una fecha determinada. Cuando se selecciona ' Especial', indica que dicho grupo se
            reflejará en la opción Ejecución de procesos especiales y por allí mismo se
            podrá ejecutar de forma manual únicamente.</p>
            </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Ultimo
                      día hábil</p>
              </td>
              <td>
                <p class="PARRAFO">Este
                  campo se activa únicamente cuando la periodicidad seleccionada
                  es semanal, mensual o anual, y contiene un combo con las opciones Si o No para indicarle
                  al sistema si ejecuta dicho grupo de procesos el último día hábil bien sea de la
                  semana, del mes o del a&ntilde;o, ó se ejecuta en un día diferente.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Día
                      del periodo</p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  que solamente se activa cuando la periodicidad sea Semanal, Mensual o Anual, y cuando el campo
                  último día hábil sea NO. En él debe se&ntilde;alarse el número del
                  día
                  dentro del periodo correspondiente, en que se requiera ejecutar el grupo.
                </p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Requerido</p>
              </td>
              <td>
                <p class="PARRAFO">En
                  este campo tipo combo obligatorio se indica Si o No el grupo puede ser obligatorio o no. </p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Número </span>  </span>Maximo de Corridas </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio que determina el numero de ejecuciones parametrizables para el grupo.
                </p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Fecha próxima
                      ejecución </p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  obligatorio en formato YYYY-MM-DD en el que se registra, acorde con la periodicidad
                  y fechas hábiles, la siguiente fecha en que debe ser ejecutado
                  el grupo.
                </p>
              </td>
            </tr>
          </table>

          <p class="PARRAFO"><span class="SUBTITULO"><span
                    class="SUBTITULO">Actualizar</span>:</span></span>
              si el usuario selecciona un registro e invoca la opción Actualizar
              se despliega un formulario en el cual </span>los campos </span> no modificables
            </span>son Código proceso, Objeto lógico y Descripción objeto lógico.
            </p>

          <p class="TITLE"><img src="../img/OPF_001E7.PNG" 657" height="291"></p>

          <p class="PARRAFO"><a name="BL_PARAMETROS"></a><span
              class="SUBTITULO">Parámetros:</span></span>
              si el usuario invoca el hipervínculo Parámetros se despliega
              un nuevo formulario con el mismo nombre y en el cual la entidad puede asociar
              los valores de los parámetros que debe tener en cuenta el sistema
              al momento de ejecutar cada uno de los procesos.</p>

          <p class="TITLE"><img src="../img/OPF_001E8.PNG" 544"></p>

          <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
            Eliminar y Adicionar. </p>
          <p class="PARRAFO"><span class="SUBTITULO"><span
                    class="SUBTITULO">Adicionar</span>:</span></span>
              Al activar ese enlace se despliega un formulario.</p>

          <p class="TITLE"><img src="../img/OPF_001E9.PNG" 437"></p>

          <p class="TITLE">Descripción de campos</p>
          <table '>
                    <tr> 
                      <td class="titletable"><p class="SUBTITULO"><span 
        >Posición</p></td>
                      <td><p  class="PARRAFO">Campo 
                          numérico de tres dígitos, obligatorio, en el que debe 
                          registrarse el mismo valor asociado al parámetro dentro del 
                          programa.
                        </p></td>
                    </tr>

                    <tr> 
                      <td  class="titletable" ><p class="SUBTITULO"><span 
        >Descripción</span> del parámetro</p></td>
                      <td><p  class="PARRAFO">En 
                          este campo alfanumérico obligatorio, se registra una breve descripción 
                          del parámetro asociado al proceso.</p></td>
                    </tr>
                    <tr> 
                      <td  class="titletable" ><p class="SUBTITULO"><span 
        >Tipo 
                          de parámetro</p></td>
                      <td><p  class="PARRAFO">Campo 
                          tipo combo del cual se puede seleccionar entre Archivo de entrada, 
                          Archivo de salida o No es archivo, la característica propia 
                          del parámetro.
                         
                        </p></td>
                    </tr>
                    <tr> 
                      <td  class="titletable" ><p class="SUBTITULO"><span 
        >Valor</span> parámetro </p></td>
                      <td><p  class="PARRAFO">En 
                          este campo se registra el valor asociado al parámetro dentro 
                          del programa, como por ejemplo el nombre con el cual se va a reconocer un 
                          archivo a cargar.
                        </p></td>
                    </tr>
                    <tr> 
                      <td  class="titletable" ><p class="SUBTITULO"><span 
        >Nombre</span> parámetro </p></td>
                      <td><p  class="PARRAFO">Campo 
                          que aplica para los reportes, y corresponde a parámetros diferentes 
                          al de Empresa, Idioma, Nombre del reporte y Usuario, y que se deben 
                          ubicar dentro del programa.
                        </p></td>
                    </tr>
                  </table>
      
                  <p  class="PARRAFO"><span class="SUBTITULO"><span 
        ><span class="SUBTITULO">Actualizar</span>:</span><span 
        ></span></span><span 
        > 
                    si el usuario selecciona un registro e invoca la opción Actualizar 
                    se despliega un formulario en el cual el único campo NO modificable 
                    es la Posición.</p>
      
                  <p class="TITLE"><img src="../img/OPF_001E10.PNG"438" ></p>
                  <p class="PARRAFO" ><span class="SUBTITULO"><span 
        ><a name="Predecesordeprocesos"></a>P</span><span 
        >redeceso</span></span></span><span class="#6"><span class="SUBTITULO"><span 
        >r:</span></span><span class="#8">Desde la misma forma  es el </span></span><span class="PARRAFO"> conjunto de datos que    permiten definir los procesos que deben ser ejecutados previamente o como    prerrequisito para poder ejecutar un proceso determinado.</p>
                  <p class="TITLE"><img src="../img/OPF_001E11.PNG"767" ></p>
                  <p  class="TITLE">Descripción de campos</p>
                  <table '>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Código de proceso </span></p>
              </td>
              <td>
                <p class="PARRAFO">Contiene el número de la secuencia asociada al objeto lógico de cada
                  proceso definido como predecesor del que se está parametrizando.
                </p>
              </td>
            </tr>

            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Objeto lógico </span></p>
              </td>
              <td>
                <p class="PARRAFO">Campos de salida que muestran tanto la secuencia como el nombre del objeto
                  lógico y su descripción, asociados al proceso al que se le están definiendo sus
                  predecesores.</p>
              </td>
            </tr>
            <tr>
              <td class="titletable">
                <p class="SUBTITULO">Mensaje</span></p>
              </td>
              <td>
                <p class="PARRAFO">Campo
                  que describe el resultado de la ejecucion.

                </p>
              </td>
            </tr>
          </table>
          .
          <div>
            <p class="PARRAFO"><a name="Predecesor"></a>Predecesor:</span>  Grupo de características que permiten
              definir relaciones de dependencia para la ejecución entre los diferentes grupos; usualmente se
              establecen en orden ascendente o de menor a mayor.</p>
          </div>
          <p class="TITLE"><img src="../img/OPF_001E12.PNG" 767"></p>
          <p class="TITLE">Descripción de campos</p>
          <table '>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO"><span 
        >Código grupo </p></td>
                      <td><p  class="PARRAFO">Campo de salida que indica el grupo, al cual    se le van a asociar otro(s) grupo(s) como predecesor(es).
                      </p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Descripción</p></td>
                      <td><p  class="PARRAFO">Una vez diligenciado el campo anterior, este espacio se llena automáticamente    con la descripción de cada uno de los grupos seleccionados como predecesores.
                      </p></td>
                    </tr>
                  </table>
        
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>