<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            <p class="TITLE">Procesos Fecha Anterior</p>         
            <p class="PARRAFO">En este formulario se muestran aquellos grupos de procesos a los que se les haya asignado valor Si, en el campo Procesa Fecha Ayer, en la opción <a href="OPH_001B.html">Definición grupos de procesos</a> y que su próxima fecha de ejecución corresponda a la fecha de proceso o del sistema de día anterior, producto de la ejecución del proceso OP_KM_AUTOMATIZACION_PROCESOS.PR_DEVOLVER_ANT. La entidad puede ordenar la ejecución por Grupo o para cada proceso de un grupo. Una vez se cambie de calendario, se eliminan todos los registros de este formulario, el cual únicamente se vuelve a poblar cuando se ejecute el proceso antes mencionado.</p>
            <p class="PARRAFO">La pantalla principal se divide en dos partes en la cuales se encontrarán los Grupos de procesos a la izquierda, así como se muestra en la siguiente imagen.</p>
            <p class="PARRAFO">Por otro lado, la opción cuenta con el enlace <a
                    href="#Procesos">Procesos</a> que nos permite consultar el detalle de algunos de los procesos pertenecientes al grupo que, por alguna razón hayan presentado error en su ejecución.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/OPF_010E.PNG"></p>

                <p class="PARRAFO"><span class="SUBTITULO">Ejecutar:</span> Al activar este botón especial, se inicia la ejecución de los grupos de procesos que se muestren en el formulario. A la derecha de esta pantalla se ubica una ventana que funciona como log de operaciones, describiendo las acciones y resultados de cada uno de los procesos que han sido ejecutados.</p>

            <p class="PARRAFO">A través de esta pantalla principal el usuario puede validar el resultado de la ejecución de los Grupos de procesos y de los procesos que los componen. De esta forma el sistema tomará todos los procesos pertenecientes a estos Grupos, ejecutándolos, si aplica, de acuerdo a la parametrización de precedentes realizada en la opción <a href="OPH_001B.html">Definición grupos de procesos</a>. </p>
           
            <p class="PARRAFO">El sistema refrescará la pantalla junto con el log de operaciones de acuerdo a los rangos de tiempo definidos en la parte superior. Estos pueden establecerse entre 5, 15 ó 30 segundos. Por defecto estos rangos están apagados y sólo se activan al seleccionar uno de ellos y luego usar los botones Detener y luego Refrescar.</p>
            <p class="PARRAFO">Antes de iniciar la ejecución del primer grupo en el día, el sistema los muestra con el campo Estado proceso en blanco. Luego éste varia de acuerdo al estado de los Procesos ejecutados por cada Grupo, dato que puede tomar alguno de los siguientes valores:</p>
            
            <table>
                <tr>
                    <th class="titletable"><p class="SUBTITULO">Proceso en ejecución</p> </th>
                    <td><p class="PARRAFO">El sistema está corriendo el paquete del proceso.</p> </td>
                </tr>
                <tr>
                    <th class="titletable"><p class="SUBTITULO">Ejecución parcial</p> </th>
                    <td><p class="PARRAFO">El sistema ha presentado algún error que puede ser
                        consultado directamente en el log de operaciones o en el <a href="OPH_003B.html">Histórico de
                            procesos</a>.</p> </td>
                </tr>
                <tr>
                    <th class="titletable"><p class="SUBTITULO">Ejecución total</p> </th>
                    <td><p class="PARRAFO">El proceso ha finalizado exitosamente.</p> </td>
                </tr>
                <tr>
                    <th class="titletable"><p class="SUBTITULO">Proceso pendiente o Proceso en cola</p> </th>
                    <td><p class="PARRAFO">El sistema identifica estos procesos como pendientes
                        por procesar.</p> </td>
                </tr>
            </table>
           

            <p class="PARRAFO"><span class="SUBTITULO">Procesos<a
                                name="Procesos"></a></span>:</span>Al activar ese enlace se despliega un formulario que permite la consulta del detalle de la ejecución de cada uno de los Procesos pertenecientes al Grupo seleccionado en la pantalla principal. Tal como aplica para la ejecución de Grupos descrita arriba, esta pantalla permite la actualización a través de los mismos rangos de 5, 15 o 30 segundos, y mostrando el estado de los procesos y su Número de ejecuciones. En caso de presentarse algún error, será mostrado en el campo Mensaje de esta misma pantalla. </p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/OPF_010E3.PNG"></p>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>