<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Grupos en espera confirmación</p>

        <p class="PARRAFO">Esta opción le permite al usuario confirmar
          aquellos Procesos que hayan sido parametrizados con el campo Iniciar
          con Confirmación en la opción <a
            href="OPH_001B.html">Definición grupos de procesos</a>, y
          sólo se mostrarán para confirmar en el momento en que el
          sistema haya llegado a su ejecución, de lo contrario esta
          opción se mostrará sin registro alguno, tal como se ve
          en la siguiente imagen. </p>
        <p class="TITLE"><img src="../img/OPF_006E.PNG"768"></p>

        <p class="PARRAFO">El formulario cuenta con un filtro que le
          permite al usuario hacer consultas selectivas por el código del
          grupo y
          el nombre del grupo.</p>
        <p class="TITLE"><img src="../img/OPF_006E1.PNG"419" height="98"></p>

        <p class="PARRAFO">Al ejecutar los procesos que se encuentran en la
          opción <a href="OPH_002B1.html">Automatización de
            ejecución procesos</a>, el sistema evalúa cuál
          de ellos tiene el parámetro indicado anteriormente y crea un
          registro temporal en esta opción, esperando que el usuario
          asignado a la gestión de los procesos realice la acción
          de Confirmar el proceso, la cual permitirá al sistema continuar
          con la ejecución de todos los demás procesos
          automáticos incluidos en la malla. </p>
        <p class="PARRAFO">Esta acción será necesaria cada vez que
          el sistema identifique un grupo de procesos marcado como Iniciar con
          Confirmación. Una vez se utilice el botón de Confirmar,
          el sistema continuará con los demás procesos
          parametrizados en la <a href="OPH_001B.html">Definición grupos
            de procesos</a>.</p>
        <p class="TITLE"><img src="../img/OPF_006E2.PNG"594" height="283"></p>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>