<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpencardWeb®</title>
  <link rel="stylesheet" href="../css/pages.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
  <header>
    <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
    <div id="menuBtn">
      <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
    </div>
  </header>
    <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

  <section>
    <div>
      
              <p class="TITLE">Plásticos en realce y da&ntilde;ados </p>

      <p class="PARRAFO">Mediante esta opción se registran
        los plásticos que han sido entregados al proveedor de realce, que se han da&ntilde;ado bien sea durante
        el proceso
        de realce, por condiciones de almacenamiento inadecuadas o inclusive que son
        dados de baja por ser obsoletos debido a cambios de imagen corporativa de
        la entidad, utilización de nuevos modelos, entre otras posibles causas.</p>
      <p class="PARRAFO">Al ingresar a la opción, se muestra
        un filtro que le permite al usuario seleccionar los criterios por los cuales desea consultar la
        información. </p>
      <p class="TITLE"><img src="../img/PLF_005E.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Remisión</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo numérico de hasta 12 dígitos, asignado por el sistema a cada proceso de realce
                efectuado, en el que se digita dicho número de remisión por el que se desea consultar.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Proveedor</span></p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo con lista de valores se selecciona el <a href="NUH_063B.html" >proveedor</a> del
                realce a quien corresponde la información a consultar. </p>
            </td>
          </tr>
        </table>
      </div>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha remisión </p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se permite seleccionar de un calendario, la fecha en la que se generó la remisión de realce que se desea consultar.</p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Fecha recepción</p>
          </td>
          <td>
            <p class="PARRAFO">Campo en el que se permite seleccionar de un calendario, la fecha en la que se hizo el <a href="PLH_031B.html"
                >cargue de control de inventario</a> mediante el cual el proveedor hace entrega a la entidad de los plásticos realzados y por la cual se desea consultar.</p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO">Por defecto, al ingresar al formulario se
        muestran todos los registros existentes indicando para cada uno el número
        de remisión, la fecha de remisión, el proveedor encargado del realce y la fecha en la que hizo la
        entrega de las tarjetas realzadas a la entidad.</p>
      <p class="TITLE"><img src="../img/PLF_005E1.PNG"></p>
      <p class="PARRAFO">El formulario solo contiene el hipervínculo
        Plásticos en realce 
      </p>
      <p class="PARRAFO"><span class="SUBTITULO">Plásticos en realce :</span> si el usuario selecciona una
        remisión en particular e invoca el hipervínculo
        Plásticos en realce  se despliega un formulario en el
        cual se muestran por modelo la relación de la cantidad de plásticos enviados a realce y la
        cantidad de plásticos en blanco entregados por la entidad al proveedor de realce para que éste
        pueda efectuar el proceso de embosado de las tarjetas.
      </p>
      <p class="TITLE"><img src="../img/PLF_005E2.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Faltan las cajas de plásticos para el realce </p>
            </td>
            <td>
              <p class="PARRAFO">Este campo muestra una marca de advertencia cuando existe diferencia entre la cantidad
                de plásticos en realce y la cantidad de pláticos en cajas, puesto que deben ser iguales.
              </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modelo</p>
            </td>
            <td>
              <p class="PARRAFO">Despliega el código y descripción de cada uno de los diferentes modelos
                de plásticos que se enviaron a realce en cada remisión. </p>
            </td>
          </tr>
        </table>
      </div>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Plásticos en realce </span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo que muestra la cantidad de registros de cada modelo que se enviaron a realce con la
              remisión correspondiente. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Plásticos en cajas </span></p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo indica la cantidad de plásticos en blanco que la entidad ha entregado al proveedor para
              embosar los plásticos de cada modelo y remisión. </p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">El formulario contiene el hipervínculo Información de cajas. </p>

      <p class="PARRAFO"><span class="SUBTITULO"><a name="BL_CAJAS"></a>Información de
                cajas</span> :</span> si el usuario selecciona un modelo plastico e invoca el hipervínculo
        Información de cajas  se despliega un formulario en el
        cual se muestran para el modelo la relación de las diferentes cajas y consecutivos de plásticos en
        blanco entregados por la entidad al proveedor de realce para que éste pueda efectuar el proceso de
        embosado de las tarjetas.</p>
      <p class="TITLE"><img src="../img/PLF_005E3.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Caja</p>
            </td>
            <td>
              <p class="PARRAFO">Este campo indica el número de cada una de las cajas de las cuales se entregaron
                plásticos al proveedor del realce. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Rango inicial </span></p>
            </td>
            <td>
              <p class="PARRAFO">Despliega el consecutivo inicial de los plásticos pertenecientes a cada caja y
                que fueron entregados al proveedor de realce. </p>
            </td>
          </tr>
        </table>
      </div>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Rango final</p>
          </td>
          <td>
            <p class="PARRAFO">Muestra el consecutivo final de los plásticos pertenecientes a cada caja y que
              fueron entregados al proveedor de realce. </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Plásticos entregados por caja </p>
          </td>
          <td>
            <p class="PARRAFO">Este
              campo indica la cantidad total de plásticos por caja que fueron entregados al proveedor de realce.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Total plásticos entregados</p>
          </td>
          <td>
            <p class="PARRAFO">Campo que muestra el total de plásticos entregado al proveedor de realce,
              facilitando el control al usuario cuando existan entregas de plásticos pertenecientes a más
              de una caja.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">El formulario contiene la opción Adicionar y el hipevínculo <a
            href="PLH_005B.html#BL_ACTAS" >Actas</a>. </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>
        Al activar ese enlace, se despliega un wizard de dos pasos
        en el cual se registran las diferentes caja y consecutivos de plásticos que van a ser entregados al
        proveedor de realce para el embosado de las tarjetas. En la primera página se registran y adicionan cada
        una de las cajas y rangos de plásticos a entregar al proveedor. </p>
      <p class="TITLE"><img src="../img/PLF_005E4.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Caja</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                obligatorio con lista de valores del cual se selecciona la <a href="PLH_003B.html"
                  >caja</a> de la cual se van a entregar los plásticos al proveedor. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Rango inicial</span></p>
            </td>
            <td>
              <p class="PARRAFO">Este
                campo obligatorio y no modificable, muestra automáticamente el consecutivo inmediatamente
                siguiente al último utilizado de la caja con el fin de garantizar que no existan rangos de
                plásticos no utilizados. </p>
            </td>
          </tr>
        </table>

      </div>
      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Rango Final </span></p>
          </td>
          <td>
            <p class="PARRAFO">Campo numérico obligatorio en el que se registra el último número de
              plástico contenido en la caja, entregado al proveedor de realce.</p>
          </td>
        </tr>
      </table>
      <p class="PARRAFO">Una vez adicionados los registros, al desplazarse a la segunda página del wizard, se
        muestra el resumen de las diferentes cajas adicionadas y sus correspondientes rangos. Para permitir grabar el
        registro el sistema valida que la cantidad todal de plásticos entregados sea igual a la cantidad de
        plásticos remisionados para el modelo; en caso contrario no permite guardar el registro en la
        base</span>. <span class="PARRAFO">Después que las cajas han sido registradas, el sistema actualiza los
          campos Existencias y Realce contenidos en el formulario <a href="PLH_001B.html"
            >Inventario
              de plásticos</a>.</p>
      <p class="TITLE"><img src="../img/PLF_005E5.PNG"></p>
      

      <p class="PARRAFO"><a name="BL_ACTAS"></a><span class="SUBTITULO">Actas</span>:</span> 
          </span>
          si desde el formulario Información de </span>cajas</span> el
          usuario selecciona
          un</span> registro </span> e invoca el hipervínculo </span> 
        Actas</span>, el sistema
          despliega un </span>formulario</span> en el cual se muestran las diferentes actas mediante
          las cuales la entidad certifica o legaliza </span>la avería de los plásticos
        </span>da&ntilde;ados durante el proceso de realce.
        </span> 
      </p>
      <p class="TITLE"><img src="../img/PLF_005E6.PNG"></p>
      <p class="PARRAFO">.</p>
      <p class="PARRAFO">El formulario contiene los enlaces: Adicionar, Eliminar y el hipervínculo
        Plásticos averiados.</p>
      <p class="TITLE"><img src="../img/PLF_005E7.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Acta</span></p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico obligatorio de hasta 10 dígitos en el que se registra el número del acta
                mediante la que se formaliza la avería de los plasticos da&ntilde;ados durante el realce. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Fecha</span></p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo obligatorio, se ingresa en formato YYYY-MM-DD la fecha del acta respectiva.</p>
            </td>
          </tr>
        </table>
        
      </div>
      <p class="PARRAFO"><a name="BL_AVERIAS"></a><span class="SUBTITULO">Plásticos
              averiados</span>:</span></span> si el usuario sele</span>cciona un
          acta e invoca el hipervínculo Plásticos averiados </span> el sistema
          despliega un </span>formulario</span> en el cual se muestra el número</span> 
         de los plásticos </span>pertenecientes a </span>la caja y que fueron
          da&ntilde;ados durante el proceso de realce por parte del proveedor. </span></p>
      <p class="TITLE"><img src="../img/PLF_005E8.PNG"></p>
      <p class="PARRAFO">El formulario cuenta con las opciones Adicionar y Eliminar </p>
      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> si el usuario invoca la opción
        Adicionar, se despliega un formulario
        en el cual se registran los números de plásticos pertenecientes a la caja y que fueron
        formalizados como averiados mediante la respectiva acta, para lo cual el sistema controla que el plastico a
        registrar como averiado efectivamente pertenezca a la caja.</p>
      <p class="TITLE"><img src="../img/PLF_005E9.PNG"></p>
      <p class="TITLE">Descripción de campos</p>
      <div>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número plástico </p>
            </td>
            <td>
              <p class="PARRAFO">Campo
                numérico obligatorio de hasta 10 dígitos en el que se registra el número del
                plastico perteneciente a la caja y que fue da&ntilde;ado durante el proceso de realce. </p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Modo afectación</p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo tipo combo, obligatorio, el usuario puede seleccionar entre Averiado o
                Destruido el motivo por el cual se está dando de baja y descargando el plástico
                del inventario. </p>
            </td>
          </tr>
        </table>
      </div>

      <p class="PARRAFO">Una vez registrados los plásticos averiados</span>,</span> el
          sistema actualiza los campos</span>Realce y Da&ntilde;ados  contenidos en el formulario
          <a href="PLH_001B.html" >Inventario
              de plásticos</a></span>  y permite que se puedan registrar para la <a
          href="PLH_005B.html#BL_CAJAS" >remisión</a> los plásticos de reemplazo que es
        necesario entregarle nuevamente al proveedor para efectuar el realce de las tarjetas que quedaron pendientes.
      </p>

      <div>
  </section>
  <script src="../js/menu.js"></script>

  <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>