<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Parámetros realce</p>

        <p class="PARRAFO">A través de esta opción, se permite la consulta o
          mantenimiento de la tabla que contiene los parámetros que el sistema
          tiene en cuenta al generar el archivo de realce de plásticos. El
          formulario contiene los enlaces: Actualizar, Eliminar y Adicionar.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/PLF_010E.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar: </span> Al activar
          ese el enlace se despliega el siguiente formulario con los campos:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/PLF_010E1.PNG"></p>
        <p class="TITLE">Descripcion de Campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Marca</p></td>
              <td><p class="PARRAFO">Campo obligatorio que posee lista de
                  valores poblada a través de la opción <a
                    href="NUH_033B.html">Franquicias</a>, de
                  la que debe seleccionarse la franquicia para la que se van a
                  parametrizar la manera en la que el sistema arma el archivo
                  para el realce de los plásticos.</p></td>
            </tr>
            <tr>
              <td class="titletable"><p
                  class="SUBTITULO"><span>Proveedor</p></td>
                <td><p class="PARRAFO">
                    Campo obligatorio que posee lista de valores poblada a
                    través de la opción <a
                      href="NUH_063B.html">Proveedores</a>,
                    de la que debe seleccionarse al responsable del servicio de
                    realce de los plásticos.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO"><span>Id
                      filler</p></td>
                  <td><p class="PARRAFO">Campo numérico de 1 dígito,
                      obligatorio, en el que se debe registrar el número que
                      identifica a cada filler dentro del archivo plano de
                      realce.</p></td>
                </tr>
                <tr>
                  <td class="titletable"><p class="SUBTITULO"><span>Posición
                        Inicial </p></td>
                    <td><p class="PARRAFO">Campo numérico de 1 dígito,
                        obligatorio, en el que debe indicarse el número del
                        carácter del registro, a partir del cual se ubica el
                        filler dentro del correspondiente registro.</p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO"><span>Posición
                          Inicial Campo</p></td>
                      <td><p class="PARRAFO">Campo numérico de 1 dígitos,
                          obligatorio, en el que se registra el número del
                          carácter a partir del cual se incluye el dato
                          seleccionado en Campo incluir.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO"><span>Prototipo realce </p></td>
                        <td><p class="PARRAFO">Campo obligatorio que posee lista
                            de valores tipo combo, de la que debe seleccionarse
                            entre: Propio, Thomas, Otro o Fesa, la entidad o
                            empresa encargada de realizar el realce de los
                            plásticos o en su defecto si se trata de una labor o
                            procedimiento interno o propio de la
                            entidad.</p></td>
                      </tr>
                      <tr>
                        <td class="titletable"><p
                            class="SUBTITULO"><span>Campo incluir</p></td>
                          <td><p class="PARRAFO">ampo obligatorio que posee
                              lista de valores tipo combo, de la que debe
                              seleccionarse entre: Número tarjeta, Número
                              identificación, Código cliente o Número acción, el
                              dato que la entidad requiere incluir dentro del
                              archivo de realce.</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="titletable"><p
                              class="SUBTITULO"><span>Posición inicial</p></td>
                            <td><p class="PARRAFO">Campo obligatorio numérico de
                                dos dígitos, en el cual se señala el número del
                                carácter del registro hasta el cual se incluye
                                el filler dentro del registro.</p></td>
                          </tr>
                          <tr>
                            <td class="SUBTITULO">Longitud campo</td>
                            <td><p class="PARRAFO"> Campo obligatorio numérico
                                de dos dígitos, en el cual se indica el número
                                máximo de caracteres requeridos por el dato
                                seleccionado.</td></p>
                          </tr>
                        </table>
                        <p class="PARRAFO"><span class="PARRAFO"><span
                              class="SUBTITULO">Actualizar:</span>
                            Al activar ese enlace, se despliega el siguiente
                            formulario, en el cual todos los campos son
                            modificables:</p>
                          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/PLF_010E2.PNG"></p>

                        
                        </section>
                        <script src="../js/menu.js"></script>

                        <div id="footerContainer"></div>
                        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
                      </body>

                    </html>