<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Relaci&oacute;n Termo-impresora por Sucursal </p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta funci&oacute;n se habilita la consulta y mantenimiento de una  tabla en la cual se almacenan los  dispositivos de termo-impresi&oacute;n para el realce asignados a cada una de las sucursales.	</p>
           
            <p class="TITLE"><img src="../img/PLH_033E.PNG"780" height="245"></p>
            
            <p><span class="SUBTITULO">Filtro:</span>  El formulario cuenta 
            con un filtro inicial de b&uacute;squeda, con los cuales se podr&aacute; realizar la consulta a trav&eacute;s del campo sucursal:</p>
            
            <p class="TITLE"><img src="../img/PLH_033E1.PNG"346" ></p>
            
            <p>El formulaio muestra las opciones Actualizar, Eliminar y Adicionar. </p>
            <p>Adicionar: Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos.</p>
            <p class="TITLE"><img src="../img/PLH_033E2.PNG"412" ></p>
            
            <p><span class="TITLE">Descripci&oacute;n de campos</span></p>
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Sucursal</p></td>
                <td><p>Campo con lista de valores poblada a    trav&eacute;s de la opci&oacute;n <a href="NUH_020E.html">Estructura org&aacute;nica</a> de la que debe seleccionarse cada una de las oficinas que hacen parte de la entidad.</p>      </td>
              </tr>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Nombre de dispositivo</p></td>
                <td><p>Campo alfanum&eacute;rico que permite ingresar el nombre otorgado del dispositivo por la entidad a la termo impresora.</p>      </td>
              </tr>
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Descripci&oacute;n</p>
                </td>
                <td><p>En este campo alfanum&eacute;rico de 30 posiciones, obligatorio,    se ingresa el nombre o breve descriptivo al proceso de impresi&oacute;n.</p></td>
              </tr>
           
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Direcci&oacute;n IP</p></td>
                <td><p>Campo que numerico que indica la direccion del dispositivo termo impresora dentro de la red. </p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">Actualizar: Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario     en los siguientes campos  modificable es: Nombre del dispositivo, Descripci&oacute;n y direcci&oacute;n IP.</p>
            <p class="PARRAFO">	</p>
            <p class="TITLE"><img src="../img/PLH_033E3.PNG"395" ></p>
            
            
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>