<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Atención de Reclamos</p>

        <p class="PARRAFO">Mediante este formulario se visualizan los datos de
          la estructura en la cual, se consultan y tramitan los reclamos
          asignados al gestor que ingresa. El sistema mostrará los reclamos que
          se encuentren en los diferentes estados tales como: Asignados,
          Reasignados o Terminados, y así mismo en la última columna desplegará
          un triángulo cuando el reclamo se encuentre vencido, según los tiempos
          asignados o parametrizados al mismo. Para determinar estos días, el
          sistema consulta la parametrización de las fechas inhábiles y festivas
          del calendario.</p>
        <p class="PARRAFO">El formulario dispone de los enlaces Detalle y <a
            href="RCH_007B1.html">Estado
            actividades</a>. Adicionalmente, cuenta con un filtro de
          búsqueda.</p>
        <p class="TITLE"><img src="../img/RCF_007B8.PNG"></p>
        <p class="TITLE"><img src="../img/RCF_007B1.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través de los siguientes criterios:</p>
        <p class="TITLE"><img src="../img/RCF_007B.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Nombre
                  cliente</p></td>
          <td><p class="PARRAFO">Campo alfanumérico de 30 caracteres, en el que
              puede digitarse el nombre del tarjetahabiente al cual está
              asociado el reclamo que se desea consultar.</p>
          </td>
        </tr>
        <tr>
          <td><span class="SUBTITULO #1">Descripción reclamo</span></td>
          <td><p class="PARRAFO">Campo alfanumérico de 60 caracteres, en el que puede digitarse
              la descripción del reclamo que se desea consultar. Permite
              utilizar el signo %, a manera de comodín, en la búsqueda.
            </p></td>
        </tr>
        <tr>
          <td><span class="SUBTITULO #1">Tipo de
              identificación</span></td>
          <td><p class="PARRAFO">Campo que dispone de una lista de valores tipo combo, de la
              cual se puede seleccionar el <a
                href="NUH_008B.html">tipo de documento</a> asociado al
              tarjetahabiente al cual corresponde el reclamo que se desea
              consultar en la base de datos.</p></td>
        </tr>
        <tr>
          <td><span class="SUBTITULO #1">Número de identificación
            </span></td>
          <td class="PARRAFO"><p class="PARRAFO">Campo numérico de 20 posiciones, en el que
              puede ingresarse el número de identificación del cliente asociado
              con el reclamo que se quiere consultar.</td>
          </tr></p>
        <tr>
          <td><b class="SUBTITULO">Fecha registro</td>
            <td class="PARRAFO"><p class="PARRAFO">Campo que, mediante la funcionalidad de un
                calendario, permite indicar la fecha inicial en la cual se pudo
                haber radicado el reclamo que se desea consultar en la base de
                datos.</td>
            </tr></p>
          <tr>
            <td class="SUBTITULO">Fecha finalización</td>
            <td class="PARRAFO"><p class="PARRAFO">Campo que, mediante la funcionalidad de un
                calendario, permite indicar la fecha final o hasta la cual se
                pudo haber radicado el reclamo que se desea consultar en la base
                de datos. </td>
            </tr></p>
        </table>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Detalle:</span> Si el usuario invoca la opción
            Detalle se despliega el siguiente formulario el cual contendrá la
            información detallada del reclamo y su trámite. </p>

          <p class="TITLE"><img src="../img/RCF_007B2.PNG"></p>

        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>