<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.svg" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Tipos de reclamos</p>
                    
            <p class="PARRAFO">Esta función habilita la consulta y/o mantenimiento de la tabla que almacena los diferentes tipos de reclamos que se requiere sean aplicados a los clientes de la entidad,  clasificándolos en Normales, o que se requiera genere una transacción o novedad derivadas de dicho reclamo.</p>
            <p class="PARRAFO">El formulario contiene los enlaces: Actualizar, Eliminar y
              Adicionar. Adicionalmente, cuenta con un filtro de búsqueda</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/RCF_001B1.svg"></p>
            
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a través 
              de las siguientes opciones:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/RCF_001B.svg"></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Código</p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico de tres caracteres, que contiene 
                    el código del tipo de reclamo que se desea buscar</p>
                </td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Descripción</p></td>
                <td><p class="PARRAFO">En este campo alfanumérico de máximo 30 caracteres, se ingresa la definición asociada a cada código tipo de reclamo buscado</p></td>
              </tr>
            </table>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Al activar ese enlace se despliega un formulario con los siguientes campos<span 
        >:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/RCF_001B2.svg"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Código</p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico de tres caracteres, obligatorio, que contiene 
                    el código asignado a cada tipo de reclamo el cual lo identifica 
                    dentro del sistema.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Descripción</p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico de 60 posiciones, obligatorio, en el cual se registra 
                    el nombre de cada tipo de reclamo asociado al respectivo código.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Periodo máximo de ejecución</p></td>
                <td><p class="PARRAFO">Campo 
                    numérico de tres dígitos, obligatorio, en el cual 
                    se registra el número de horas en las cuales debe ser solucionado el reclamo para no estar con estado Vencido. Hay que tener en cuenta que para contar dichas horas, el sistema revisa el calendario parametrizado para la sucursal con código 0 (cero) en la opción de <a href="NUH_020B.html" >Estructura orgánica</a>.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Acción</span><span 
        >
                    </p></td>
                <td><p class="PARRAFO">Campo 
                    con lista de valores obligatorio de la cual se selecciona entre las opciones Normal, Novedad o Transacción, que indicará si el reclamo debe generar manualmente una novedad al cliente o a la tarjeta, o una transacción a la tarjeta, o si es una inquietud del cliente que requiera de una solución por parte de la entidad.</p>
                </td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
               Al activar ese enlace  se despliega un formulario 
              en el cual los únicos campos modificables son: Descripción y Periodo máximo de ejecución.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/RCF_001B3.svg"></p>
           
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>