<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            <p  class="TITLE">Gestores</p>
                    
            <p class="PARRAFO">Mediante esta función se habilita la consulta y mantenimiento 
            de la tabla en la cual se almacenan los diferentes gestores que podrán atender los diferentes tipos de reclamos existentes. Así mismo, éstos se relacionarán con los roles ya creados y se podrán visualizar las estadísticas de la asignación y atención de dichos reclamos por cada gestor existente. </p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle. Adicionalmente, cuenta con un filtro de búsqueda 
            y las opciones <a href="RCH_003B1.html" >Roles</a> y <a href="RCH_003B2.html" >Estadísticas</a>.</p>
            <p class="TITLE"><img src="../img/RCF_003B1.PNG"></p>
 </blockquote>
            
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span>  Se pueden realizar consultas a través 
              de las siguientes opciones:</p>
            <p class="TITLE"><img src="../img/RCF_003B.PNG"></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Código</p></td>
                <td><p class="PARRAFO">Campo 
                    numérico de 4 dígitos que contiene 
                    el código del gestor que se desea buscar.</p>      </td>
              </tr>
              <tr>
                <td class="SUBTITULO">Nombre</td>
                <td><p  class="PARRAFO">Campo alfanumérico de 60 posiciones, que contiene el nombre del gestor que se desea buscar.</p></td>
              </tr>
              <tr>
                <td><b class="SUBTITULO">Tipo de identificación</td>
                <td  class="PARRAFO" ><p class="PARRAFO">En este campo tipo combo, el usuario puede seleccionar el <a href="NUH_008B.html" >tipo de documento</a> asociado al gestor que se desea consultar en la base de datos.</td>
              </tr></p>
              <tr>
                <td><b class="SUBTITULO">Número de identificación</td>
                <td  class="PARRAFO" ><p class="PARRAFO">Campo numérico de 16 posiciones, en el que se ingresa el número de identificación del gestor que se quiere consultar.</td>
              </tr></p>
              <tr>
                <td class="SUBTITULO">Tipo de relación</td>
                <td  class="PARRAFO"><p class="PARRAFO">En este campo tipo combo, el usuario puede seleccionar entre Interno o Externo, según la característica del gestor que se desea consultar en la base de datos.</td>
              </tr></p>
              <tr>
                <td class="SUBTITULO">Activo</td>
                <td  class="PARRAFO"><p class="PARRAFO">En este campo tipo combo, el usuario puede seleccionar entre Si o No, según si el gestor que se desea consultar en la base de datos se encuentra activo o no.</td>
              </tr></p>
            </table>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si el usuario invoca la opción Adicionar se despliega un formulario con los siguientes campos<span 
        >:</p>
            <p class="TITLE"><img src="../img/RCF_003B2.PNG"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Código</span> gestor </p></td>
                <td><p class="PARRAFO">Campo 
                    numérico de 4 dígitos, obligatorio, que contiene 
                    el código asignado a cada gestor y que lo identifica 
                    dentro del sistema.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span >Tipo de identificación</p></td>
                <td><p class="PARRAFO">En este campo campo tipo combo obligatorio, el usuario puede   seleccionar el <A href="NUH_008B.html" >tipo de   documento</A> asociado a cada gestor.</p></td>
              </tr>
              <tr>
                <td class="titletable"><span class="SUBTITULO"><span >Número de identificación</span></span></td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo numérico de 16 dígitos obligatorio, en el que se ingresa el número de identificación del gestor asociado al   tipo de documento seleccionado en el campo anterior.</p>      </td>
              </tr></p>
              <tr>
                <td class="titletable"><span class="SUBTITULO"><span 
        >Nombre</span></span></td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo 
                    alfanumérico de 60 posiciones, obligatorio, en el cual se registra 
                el nombre del gestor.</td></p>
              </tr>
              <tr>
                <td class="titletable"><span class="SUBTITULO"><span >Tipo de relación</span></span></td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo tipo combo obligatorio, en el cual el usuario puede   seleccionar entre interno o externo según si el gestor pertenece directamente a la entidad o trabaja de manera externa con ésta.</p>      </td>
              </tr></p>
              <tr>
                <td><span class="SUBTITULO #1">Usuario del sistema</span></td>
                <td  class="PARRAFO"><p class="PARRAFO">En 
                este campo obligatorio, se selecciona de la lista de valores el <a href="NUH_010B.html" >usuario</a> al cual se asocia el gestor.</td>
              </tr></p>
              <tr>
                <td><span class="SUBTITULO #1">Dirección</span></td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo alfanumérico de 60 posiciones, obligatorio, en el cual se registra la dirección correspondiente al gestor.</td>
              </tr></p>
              <tr>
                <td class="titletable"><span class="SUBTITULO"><span >Teléfono del contacto</span></span></td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo alfanumérico de 30 posiciones, obligatorio, en el cual se registra el teléfono correspondiente al gestor.</td>
              </tr></p>
              <tr>
                <td><b class="SUBTITULO">Teléfono celular </td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo alfanumérico de 30 posiciones, en el cual se registra el teléfono celular correspondiente al gestor.</td>
              </tr></p>
              <tr>
                <td class="SUBTITULO">E-mail</td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo alfanumérico de 30 posiciones, en el cual se registra la dirección electrónica o e-mail del gestor.</td>
              </tr></p>
              <tr>
                <td class="SUBTITULO">Activo</td>
                <td  class="PARRAFO"><p class="PARRAFO">Campo tipo combo obligatorio, en el cual el usuario selecciona  si el gestor se encuentra activo o no para tramitar reclamos. </td>
              </tr></p>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
              Si el usuario invoca la opción Actualizar se despliega un nuevo formulario 
              en el cual todos los campos son modificables excepto el código del gestor.</p>
            <p class="TITLE"><img src="../img/RCF_003B3.PNG"></p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span>  Si el usuario invoca la opción Detalle se despliega el siguiente formulario: <span>
            
            </p>
            <p class="TITLE"><img src="../img/RCF_003B4.PNG"></p>
            
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>