<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad obligaciones financieras</p>

        <p class="PARRAFO"><span class="PARRAFO">En este formulario
            invocado desde la opción <a
              href="SCH_002B.html#BL_OBLIGACIONES">consulta
              de clientes</a>, a través del hipervínculo
            Financiera
            en el bloque Obligaciones financieras</span> , la entidad puede
          efectuar
          el ingreso o modificación de los datos inherentes a las
          obligaciones
          o créditos obtenidos del sector financiero, notificados por el
          cliente
          o a través de las centrales de riesgo.</p>
        <p class="PARRAFO">Esta información puede ser de utilidad
          para la entidad por ejemplo al momento de evaluar o calificar al
          cliente respecto
          de la capacidad de endeudamiento para responder por las obligaciones
          adquiridas.</p>

        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar, Adicionar y Detalle. </p>
        <p class="PARRAFO"><span class="SUBTITULO"><span
              '>Adicionar</span><span>:</span><span></span></span><span>
            si el usuario invoca la opción Adicionar se despliega un
            formulario
            con los siguientes campos:</p>
        <p class="PARRAFO"></p>
        <p class="TITLE"><img src="../img/SCF_017E.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Entidad</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio que contiene lista de valores de la cual se
                selecciona la
                <span><a href="NUH_019B.html">entidad
                    financiera</a></span> con la cual el cliente posee la
                obligación.</p>
            </td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Moneda</p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio que cuenta con lista de valores se
                selecciona
                la <a href="NUH_005B.html">moneda</a> en la cual
                se encuentra expresada la obligación contraida por el
                cliente
                con la entidad relacionada.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Tipo de obligación</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio tipo combo que permite seleccionar entre
                Préstamo
                (ordinario o consumo), Hipotecario o Tarjeta el tipo de
                crédito
                al que corresponde la obligación adquirida por el cliente
                con
                la entidad.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Saldo</p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio de hasta 14 enteros y 2 decimales se
                registra
                el valor actual de la deuda adquirida con la entidad y que se
                encuentra
                por cubrir.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Cuenta</p></td>
            <td><p class="PARRAFO">Campo
                alfanumérico de 16 posiciones, obligatorio, en el cual se
                registra
                el número o referencia que identifica el crédito o
                producto
                a través de la cual se adquirió la
                obligación con
                la entidad.
              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Cuota
                  mensual </p></td>
            <td><p class="PARRAFO">En
                este campo de hasta 14 enteros y 2 decimales se registra el
                valor que
                el cliente debe cancelar mensualmente por la obligación
                contraída
                con la entidad.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Valor
                  aprobado</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio de hasta 14 enteros y 2 decimales se registra el
                valor inicial
                del crédito aprobado al cliente por la entidad
                relacionada.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Observaciones</p></td>
            <td><p class="PARRAFO">En
                este campo alfanumérico de hasta 255 caracteres, no
                obligatorio,
                se puede registrar una breve descripción o datos
                adicionales
                esenciales sobre la obligación, manejo, vencimiento,
                garantes,
                garantía, cupo u otros. </p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:
          Si el usuario selecciona un registro e invoca la opción
          Actualizar
          se despliega un nuevo formulario en el cual todos los campos son
          modificables.</p>
        <p class="PARRAFO"></p>
        <p class="TITLE"><img src="../img/SCF_017E1.PNG"></p>
        
        <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
          Si el usuario selecciona un registro e invoca la opción Detalle
          se
          despliega un nuevo formulario con toda la información del
          registro
          y en el cual ninguno de sus campos es modificable.</p>

        <p class="TITLE"><img src="../img/SCF_017E2.PNG"></p>
        <div>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>