<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedades</p>

        <p class="PARRAFO">En este formulario que se invoca desde la <a
            href="DBH_001B.html">Consulta
            centralizada de tarjeta</a>, la entidad puede visualizar la
          información de
          las diferentes novedades que le han sido aplicadas a la tarjeta. El
          formulario dispone del enlace a la opción Detalle.</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_067E.svg"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo
                novedad</p></td>
            <td><p class="PARRAFO">Campo
                que muestra la <a href="NUH_017B.html">novedad
                  administrativa</a>
                que se le aplicó a la tarjeta.</p></td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Clase novedad</p></td>
            <td><p class="PARRAFO">Este campo indica si la acción ejecutada
                sobre los datos de la tarjeta, mediante la novedad aplicada se
                trató de: Adición, Modificación o Eliminación de
                información.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                ingreso </p></td>
            <td><p class="PARRAFO">
                Campo que muestra en formato YYYY-MM-DD, la fecha en la cual se
                registró o ingresó la novedad en el sistema.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                aplicación
              </p></td>
            <td><p class="PARRAFO">Este campo despliega en formato YYYY-MM-DD,
                la fecha en la que efectivamente se aplicó la novedad y se hizo
                la actualización de datos a la tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                expiración
              </p></td>
            <td><p class="PARRAFO">Campo que muestra en formato YYYY-MM-DD, la
                fecha en la cual será depurado o eliminado del sistema, el
                registró correspondiente a la novedad aplicada, de acuerdo con
                lo definido para la misma en la opción
                <a href="NUH_017B.html">novedades administrativas</a>.</p></td>
          </tr>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Estado

                </p></td>
              <td><p class="PARRAFO">Este campo indica si la novedad ya se
                  encuentra Aplicada o está pendiente Por aplicar, lo que
                  determina que, al consultar el detalle de la novedad, se
                  muestren al usuario, los datos nuevos que se están
                  actualizando o los que tenía la tarjeta
                  anteriormente.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Indicador
                </p></td>
              <td><p class="PARRAFO">Campo que muestra el resultado del proceso
                  de aplicación de la novedad, y que puede ser Aplicada (cuando
                  terminó existosamente la actualización de los datos), No
                  aplicar (si se ha determinado que la actualización de los
                  datos no se debe hacer) o Error (cuando durante el proceso de
                  aplicación se ha presentado algún tipo de validación o falla
                  que no ha permitido finalizar exitosamente la
                  acción).</p></td>
            </tr>
          </table>
          <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Al invocar
            ese enlace, de acuerdo con cada tipo de novedad,
            el formulario muestra la información completa de la misma. Cuando el
            estado de la novedad sea 'Por aplicar' el detalle de la novedad
            mostrará los datos que se están actualizando para la tarjeta; si el
            estado es 'Aplicada' el detalle desplegará los datos que la tarjeta
            tenía antes de aplicarle la novedad.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_067E2.svg"></p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_067E3.svg"></p>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>