<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td  >
          <div>
                    <p  class="TITLE">Novedad tarjeta principal a amparada/extendida/adicional 
                    </p>
                    
            <p  class="PARRAFO">En este formulario invocado desde la opción 
              <a href="SCH_075B1.html" >ingreso de novedades</a><a href="SCH_075B.html" ></a>, 
              (issuer) y que aplica exclusivamente para tarjetas principales que no tengan 
              tarjetas dependientes a su cargo, la entidad puede efectuar el cambio para 
              convertir una tarjeta en dependiente de otra principal. Para esta novedad, 
              el sistema valida que entre el cliente de la tarjeta principal actual y el 
              cliente de la tarjeta principal con la cual se dese asociar exista un vínvulo 
              o relación.
            </p>
            <p class="TITLE"><img src="../img/SCF_028E.PNG"></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">
                    Tipo tarjeta</p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio tipo combo, en el que se selecciona entre Extendida, 
                    Amparada o Adicional el tipo de tarjeta a la cual se desea 
                    convertir la principal.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span>Número 
                    tarjeta principal</span></p>
                  </td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio de hasta 23 caracteres se ingresa el número 
                    de la tarjeta principal de la cual va quedar dependiendo la tarjeta 
                    a la que se aplica la novedad.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Fecha 
                    radicación</p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio en el que se registra en formato YYYY-MM-DD la fecha en 
                    la cual se ingresó el cambio de tarjeta principal a dependiente 
                    y que puede ser una fecha anterior a la actual del sistema, facilitando 
                    el ingreso de novedades de fechas anteriores. </p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>