<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Tarjetas y plásticos</p>

        <p class="PARRAFO">Desde este formulario que se invoca desde la <a
            href="SCH_060B.html">Consulta centralizada de tarjeta</a>, se puede
          consultar la información de la tarjeta, relacionada con las tarjetas
          <a
            href="SCH_066B.html#BL_DEPENDIENTES">dependientes</a>
          de la actual, </span><a href="SCH_066B.html#BL_OTROS_PL">otros
          plásticos</a><span class="PARRAFO"> adicionales, entregados al
          cliente junto con la tarjeta de crédito, los datos de las <a
            href="SCH_066B.html#BL_ADICIONALES">tarjetas
            adicionales</a> cubiertas, los números de <a
            href="SCH_066B.html#BL_ANTERIORES">tarjetas
            anteriores</a> que ha tenido la tarjeta, como resultado de las
          diferentes solicitudes hechas sobre la misma, y finalmente la
          información sobre las
          las <a href="SCH_066B.html#BL_RENOVACIONES">renovaciones
            másivas</a> que ha presentado la tarjeta, </p>

      <p class="PARRAFO">Por defecto, cuando el actor ingresa a la opción de
        tarjetas y plásticos el formulario se despliega en el tab
        dependientes.</p>
      <p class="TITLE"><img src="../img/SCF_066E7.PNG"></p>
      <p class="TITLE"><img src="../img/SCF_066E.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td>
            <p class="SUBTITULO">Número tarjeta</p></td>
          <td><p class="PARRAFO">Campo que muestra, en caso de existir, el
              número asignado a las diferentes tarjetas extendidas o amparadas
              que dependen de la tarjeta que se está consultando y aplica solo
              para tarjetas principales.</p></td>
        </tr>
        <tr>
          <td class="titletable"><p class="SUBTITULO">Nombre
              cliente </p></td>
          <td><p class="PARRAFO">Este
              campo despliega el nombre del cliente titular de cada una de las
              tarjetas
              dependientes. </p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">Producto
            </p></td>
          <td><p class="PARRAFO">Campo
              que indica el producto (bin, segmento, grupo de afinidad) al que
              pertenece
              la tarjeta dependiente.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">Fecha
              vencimiento </p></td>
          <td><p class="PARRAFO">Este
              campo contiene la fecha de vencimiento o validez de cada una de
              las
              tarjetas dependientes.
            </p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">Cupo
              asignado
            </p></td>
          <td><p class="PARRAFO">Campo
              en el que se muestra el monto total del cupo asignado a cada una
              de
              las tarjetas dependientes.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">Disponible
            </p></td>
          <td><p class="PARRAFO">Este
              campo indica el monto hasta por el cual puede hacer utilizaciones
              cada
              tarjeta dependiente, teniendo en cuenta el cupo asignado y los
              consumos
              efectuados por cada una de ellas.</p></td>
        </tr>
      </table>
      <div class="PARRAFO">
        <p class="PARRAFO">
          <p class="PARRAFO"><a name="BL_OTROS_PL"></a></p>
          <p class="PARRAFO"><span class="SUBTITULO"><span>Otros
                plásticos </span><span>:</span></span>
            Al invocar el enlace, se despliega un nuevo formulario con la
            información de aquellos plásticos que, adicionalmente a la tarjeta
            de crédito propiamente dicha, le han sido entregados por la entidad
            al cliente titular de la tarjeta consultada, de acuerdo con los <a
              href="MEH_002B4.html">parámetros
              del producto</a> la que pertenece la misma.</p>
          <p class="TITLE"><img
              src="../img/SCF_066E8.PNG"></p>
          <p class="TITLE"><img
              src="../img/SCF_066E1.PNG"></p>
          <div class="PARRAFO">
            <p class="TITLE">Descripción de campos</p>
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Código
                  </p></td>
                <td><p class="PARRAFO">Este
                    campo contiene el código que identifica cada uno de
                    los <a href="MEH_030B.html">otros
                      plásticos</a> entregados al titular de la
                    tarjeta.</p></td>
              </tr>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Nombre

                  </p></td>
                <td><p class="PARRAFO">Campo
                    que indica el nombre o denominación asociado con
                    cada uno
                    de los plástico anteriores.</p></td>
              </tr>

              <tr>
                <td class="titletable"><p class="SUBTITULO">Fecha
                    vencimiento
                  </p></td>
                <td><p class="PARRAFO">Este
                    campo contiene la fecha hasta la cual tiene validez cada
                    uno de
                    los otros plásticos entregados al cliente.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">
              <p class="PARRAFO"><a name="BL_ADICIONALES"></a></p>
              <p class="PARRAFO"><span class="SUBTITULO"><span>Información Tarjetas
                    adicionales</span><span>:</span></span>
                si el actor invoca el hipervínculo Tarjetas
                adicionales,
                se despliega un nuevo formulario en el cual se muestra la
                información
                de las tarjetas tipo adicional a cargo de la tarjeta
                consultada, y que
                solo aplica para tarjetas principales.</p>
              <p class="TITLE"><img
                  src="../img/SCF_066E2.PNG"></p>
              <div class="PARRAFO">

                <p class="TITLE">Descripción de campos</p>
                <table>
                  <tr>
                    <td class="titletable">
                      <p class="SUBTITULO">Número tarjeta</p></td>
                    <td><p class="PARRAFO">Campo
                        que muestra, en caso de existir, el número
                        asignado a las
                        diferentes tarjetas adicionales cubiertas por la
                        tarjeta que se
                        está consultando y aplica solo para tarjetas
                        principales.</p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Nombre
                        cliente </p></td>
                    <td><p class="PARRAFO">Este
                        campo despliega el nombre del cliente titular de
                        cada una de las
                        tarjetas adicionales. </p></td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Producto
                      </p></td>
                    <td><p class="PARRAFO">Campo
                        que indica el producto (bin, segmento, grupo de
                        afinidad) al que
                        pertenece la tarjeta adicional.</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p
                        class="SUBTITULO">Sucursal</p></td>
                    <td><p class="PARRAFO">Este
                        campo contiene la sucursal de radicación
                        asociada con cada
                        tarjeta adicional.
                      </p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Genera
                        resumen
                      </p></td>
                    <td><p class="PARRAFO">Campo
                        en el que se muestra si para la tarjeta adicional se
                        debe originar
                        o no un resumen con el movimiento de la tarjeta
                        adicional, durante
                        el proceso de generación de los extractos.
                      </p></td>
                  </tr>
                </table>

                <p class="PARRAFO">El formulario contiene un botón que permite ver el
                  detalle de
                  cualquiera de las tarjetas adicionales seleccionadas por
                  el usuario,
                  mostrando la información agrupada en tres bloques
                  de datos: cliente,
                  localización y bloqueos.
                </p>
                <p class="TITLE"><img
                    src="../img/SCF_066E3.PNG"></p>

                <div class="PARRAFO">
                  <p class="TITLE">Descripción de campos</p>
                  <table>
                    <tr>
                      <td class="titletable">
                        <p class="SUBTITULO">Número tarjeta</p></td>
                      <td><p class="PARRAFO">Campo
                          que muestra, en caso de existir, el número
                          asignado a
                          las diferentes tarjetas adicionales cubiertas por
                          la tarjeta
                          que se está consultando y aplica solo para
                          tarjetas principales.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Nombre
                          cliente </p></td>
                      <td><p class="PARRAFO">Este
                          campo despliega el nombre del cliente titular de
                          cada una de
                          las tarjetas adicionales. </p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Producto
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que indica el producto (bin, segmento, grupo de
                          afinidad) al
                          que pertenece la tarjeta adicional.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Sucursal</p></td>
                      <td><p class="PARRAFO">Este
                          campo contiene la sucursal de radicación
                          asociada con
                          cada tarjeta adicional.
                        </p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Genera
                          resumen
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          en el que se muestra si para la tarjeta adicional
                          se debe originar
                          o no un resumen con el movimiento de la tarjeta
                          adicional, durante
                          el proceso de generación de los extractos.
                        </p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Foto
                        </p></td>
                      <td><p class="PARRAFO">Este
                          campo indica si el plástico de la tarjeta
                          adicional entregada
                          al cliente lleva o no impresa la foto del
                          mismo.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Dirección
                          correspondencia
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene la dirección del titular de la
                          tarjeta adicional,
                          a donde es posible localizarlo o enviarle
                          correspondencia comercial.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Ubicación
                        </p></td>
                      <td><p class="PARRAFO">En
                          este campo se muestra la ubicación
                          geográfica
                          a la que pertence la dirección
                          anterior.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Teléfono
                          1 / 2
                        </p></td>
                      <td><p class="PARRAFO">Campos
                          que contienen respectivamente los números
                          telefónicos
                          en los que es posible localizar o contactar al
                          cliente titular
                          de la tarjeta adicional.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Extensión
                          1 / 2
                        </p></td>
                      <td><p class="PARRAFO">En
                          estos campos se muestra si es el caso el
                          número de la
                          extensión asociada con cada uno de los
                          teléfonos
                          anteriores.
                        </p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Fax</p></td>
                      <td><p class="PARRAFO">Campo
                          que despliega el número del fax al cual es
                          posible enviar
                          comunicaciones al cliente.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Celular</p></td>
                      <td><p class="PARRAFO">Este
                          campo contiene el número del
                          teléfono celular
                          del cliente titular de la tarjeta adicional
                          consultada.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Zona
                          postal
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que muestra la zona postal a la cual pertenecen la
                          dirección
                          y ubicación del cliente titular de la
                          tarjeta adicional.</p></td>
                    </tr>
                  </table>
                </div>
                <table>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Persona
                        / fecha
                      </p></td>
                    <td><p class="PARRAFO">Esta
                        dupla de campos contiene en caso de existir, el
                        más reciente
                        bloqueo aplicado sobre el cliente titular de la
                        tarjeta adicional
                        y la fecha en la cual se registró en el
                        sistema</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Saldo
                        / fecha
                      </p></td>
                    <td><p class="PARRAFO">Dupla
                        de campos que despliegan el mas reciente bloqueo
                        aplicado sobre
                        el saldo de la tarjeta adicional y la fecha de su
                        registro.</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p
                        class="SUBTITULO">Plástico
                        / fecha
                      </p></td>
                    <td><p class="PARRAFO">En
                        esta dupla de campos se se&ntilde;ala el más
                        reciente bloqueo
                        reportado sobre el plástico y la fecha en que
                        se registró
                        en el sistema.</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Sobrecupo
                        / fecha
                      </p></td>
                    <td><p class="PARRAFO">Campos
                        que indican el más reciente bloqueo que se
                        aplicó
                        a la tarjeta adicional por haber incurrido en sobre
                        cupo y la
                        fecha en la cual se registró. </p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p
                        class="SUBTITULO">Reestructuración
                        / fecha
                      </p></td>
                    <td><p class="PARRAFO">Estos
                        campos despliegan el mas reciente bloqueo por
                        reestructuración
                        o refinanciación que tuvo la tarjeta y la
                        fecha de su aplicación.</p></td>
                  </tr>
                </table>
                <p class="PARRAFO"><a name="BL_ANTERIORES"></a></p>
                <p class="PARRAFO"><span class="SUBTITULO"><span>Tarjetas
                      anteriores </span><span>:</span></span>
                  si el actor invoca el hipervínculo tarjetas
                  anteriores,
                  se despliega un nuevo formulario que contiene la
                  información
                  histórica de los distintos números de
                  tarjeta que la tarjeta
                  actual ha tenido desde el momento en que se aprobó
                  al cliente
                  la solicitud del nuevo crédito y se le
                  asignó un número
                  a la tarjeta por primera vez.</p>
                <p class="TITLE"><img
                    src="../img/SCF_066E4.PNG"></p>
                <div class="PARRAFO">

                  <p class="TITLE">Descripción de campos</p>
                  <table>
                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Número
                          tarjeta
                        </p></td>
                      <td><p class="PARRAFO">Este
                          campo indica los diferentes números de
                          tarjeta que ha
                          tenido anteriormente la tarjeta que se está
                          consultando.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Nombre
                          plástico

                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene el nombre realzado o asociado con
                          cada una de las
                          tarjetas anteriores.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Número
                          tarjeta fraude
                        </p></td>
                      <td><p class="PARRAFO">En
                          caso que el cliente haya reportado un fraude con
                          su tarjeta
                          y por esta causa se le haya asignado una nueva
                          tarjeta, en este
                          campo se muestra el número de la tarjeta
                          con la cual
                          se efectuó dicho fraude.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Bloqueo
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene la última causal de bloqueo
                          que se le aplicó
                          a cada una de las tarjetas anteriores del
                          cliente.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Fecha
                          bloqueo
                        </p></td>
                      <td><p class="PARRAFO">En
                          este campo se muestra la fecha en la cual se
                          registró
                          en el sistema el bloqueo a la tarjeta.</p></td>
                    </tr>
                  </table>

                </div>

                <p class="PARRAFO">Al igual que el formulario de tarjetas
                  adicionales, este también contiene un botón
                  de detalle
                  que permite ver información más completa
                  relacionada con
                  cada una de las tarjetas anteriores que además de
                  los campos
                  ya mencionados contiene el producto, fecha de vencimiento,
                  fecha reexpedición,
                  fecha denundio y el tipo de fraude.</p>
                <p class="TITLE"><img
                    src="../img/SCF_066E5.PNG"></p>
                <div class="PARRAFO">

                  <p class="TITLE">Descripción de campos</p>
                  <table>
                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Producto
                        </p></td>
                      <td><p class="PARRAFO">Este
                          campo muestra el bin, segmento y grupo de afinidad
                          al cual pertenece
                          la tarjeta anterior.</p></td>
                    </tr>
                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Vencimiento

                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene la fecha de vencimiento que
                          tenía la tarjeta
                          anterior al momento de haber sido
                          bloqueada.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p
                          class="SUBTITULO">Reexpedición</p></td>
                      <td><p class="PARRAFO">En
                          caso que el motivo del cambio de número
                          hubiera sido
                          la pérdida de la tarjeta o un fraude con la
                          misma, en
                          este campo se muestra la fecha en la cual se hizo
                          la reexpedición
                          de la nueva tarjeta entregada al cliente.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Fecha
                          denuncio
                        </p></td>
                      <td><p class="PARRAFO">Campo
                          que contiene la fecha en la cual el cliente
                          presentó
                          el denuncio por la pérdida de la tarjeta o
                          por el fraude
                          cometido con la misma.</p></td>
                    </tr>

                    <tr>
                      <td class="titletable"><p class="SUBTITULO">Fraude
                        </p></td>
                      <td><p class="PARRAFO">En
                          este campo se muestra si el evento que
                          originó la reexpedición
                          fue pérdida o robo de la tarjeta ó
                          un fraude.</p></td>
                    </tr>
                  </table>
                </div>

                <p class="PARRAFO"><a name="BL_RENOVACIONES"></a></p>
                <p class="PARRAFO"><span class="SUBTITULO"><span>Renovaciones</span><span>
                      masivas:</span></span>
                  si el actor invoca el hipervínculo renovaciones
                  masivas,
                  se despliega un nuevo formulario que contiene la
                  información
                  histórica de las diferentes ocasiones en las cuales
                  la tarjeta
                  ha sido renovada en forma masiva por la entidad, de
                  acuerdo con sus
                  políticas internas.</p>
                <p class="TITLE"><img
                    src="../img/SCF_066E6.PNG"></p>

                <p class="TITLE">Descripción de campos</p>
                <table>
                  <tr>
                    <td class="titletable"><p
                        class="SUBTITULO">Número
                        tarjeta anterior
                      </p></td>
                    <td><p class="PARRAFO">Este
                        campo indica el número que tenía
                        asignado la tarjeta
                        antes de la renovación.</p></td>
                  </tr>
                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Fecha
                        vencimiento

                      </p></td>
                    <td><p class="PARRAFO">Campo
                        que contiene la fecha de vencimiento que
                        tenía la tarjeta
                        antes de ser renovada.</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Lista
                      </p></td>
                    <td><p class="PARRAFO">Este
                        campo muestra el nombr de la lista en la cual
                        estaba contenida
                        la tarjeta y de donde fue seleccionada para
                        aplicarle el proceso
                        de renovación masiva.</p></td>
                  </tr>

                  <tr>
                    <td class="titletable"><p class="SUBTITULO">Motivo
                        rechazo
                      </p></td>
                    <td><p class="PARRAFO">Si
                        la renovación no se hace o se rechaza por
                        el sistema,
                        en este campo se muestra la causal que origina
                        este evento.</p></td>
                  </tr>
                </table>
              </div>

            </section>
            <script src="../js/menu.js"></script>

            <div id="footerContainer"></div>
            <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
          </body>

        </html>