<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Solicitudes</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">En este formulario que se invoca desde el 
              <a href="SCH_060B.html" >detalle consulta de la tarjeta</a>, 
              la entidad puede consultar la informaci&oacute;n acerca de las diferentes 
              solicitudes hechas por el cliente y relacionadas con la tarjeta, permiti&eacute;ndole 
              conocer el estado y etapa actuales asociados a cada una de ellas.</p>
            <p  class="PARRAFO">El formulario contiene la opci&oacute;n detalle 
              que permite invocar de acuerdo con cada tipo de solicitud , el formulario 
              correspondiente con la informaci&oacute;n completa de la misma. </p>
            <p class="TITLE"><img src="../img/SCF_068E.PNG"621" ></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td><p class="SUBTITULO"><b>Secuencia</b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra la secuencia interna asignada de manera autom&aacute;tica 
                    por el sistema a cada una de las solicitudes ingresadas.</p></td>
              </tr>
              <tr> 
                <td    > 
                  <p class="SUBTITULO"><b>Tipo solicitud</b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo indica la clase de solicitud efectuada por el cliente y asociada 
                    con la secuencia anterior.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>Fecha 
                    ingreso </b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra en formato YYYY-MM-DD la fecha en la cual se registr&oacute; 
                    o ingres&oacute; la solicitud en el sistema.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Tipo 
                    cr&eacute;dito nuevo
                    </b></p></td>
                <td><p  class="PARRAFO">Si 
                    la solicitud corresponde a Nuevo cr&eacute;dito, en este campo se indica 
                    si es de Solo titular, Titular con adicionales o Solo adicional.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Etapa 
                    actual
                    </b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra de acuerdo con lo parametrizado para el tipo de solicitud 
                    asociada al producto la etapa en la cual se encuentra actualmente.</p></td>
              </tr>
            </table>
            <div  class="PARRAFO"> 
              <table>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Estado 
                     
                      </b></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo indica si la solicitud se encuentra Aprobada totalmente, 
                      Negada totalmente, Aprobada parcialmente, Negada parcialmente o en 
                      Zona gris de acuerdo con el resultado del proceso de avance de 
                      la solicitud a trav&eacute;s de las diferentes etapas parametrizadas.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Finalizada
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que muestra Si o No la solicitud ya termin&oacute; 
                      su tr&aacute;mite o por el contrario contin&uacute;a a&uacute;n en 
                      proceso de aprobaci&oacute;n.</p></td>
                </tr>
              </table>
              
                </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>