<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
            <p  class="TITLE">Consulta clientes con bloqueo persona</p>
                  
            <p class="PARRAFO" >Mediante este formulario, se habilita la consulta de la información de los clientes a los que se les ha <a href="SCH_075B.html" >generado la 
              novedad</a> de <a href="SCH_026B.html" >bloqueo de persona</a> 
              por fallecimiento, o incapacidad total o permanente. A partir de esta opción, es posible generar un archivo plano, con la información básica requerida para solicitar a la compañía de seguros, la cancelación de los saldos insolutos de las obligaciones a cargo de los clientes fallecidos o con incapacidad total, según aplique. 
             
              </p>
            <p class="TITLE"><img src="../img/SCF_032E.PNG"></p>

            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"> 
                    Tipo de identificación</p></td>
                <td><p  class="PARRAFO">Campo 
                    de salida que muestra el <a href="NUH_008B.html">tipo 
                    de documento de identificación</a> correspondiente al cliente 
                    que se está consultando.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span>Número 
                    de i</span><span>dentificación</p></td>
                <td><p  class="PARRAFO">Este 
                    campo de salida despliega el número del documento de identificación 
                    del cliente con bloqueo.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span>Nombre</p></td>
                <td><p  class="PARRAFO">En 
                    este campo se muestra el nombre del cliente a quien pertenece el tipo 
                    y número de identificación y que se encuentra con bloqueo.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span>
                    Fecha defunción</p></td>
                <td><p  class="PARRAFO">Campo 
                    en el que se despliega según el caso la fecha de defunción 
                    registrada al momento de generar la <a href="SCH_026B.html" >novedad 
                    de bloqueo al cliente</a>.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span> 
                    Ciudad defunción</p></td>
                <td><p  class="PARRAFO">En 
                    este campo se muestra según el caso la ciudad de defunción 
                    registrada al momento de generar la <a href="SCH_026B.html" >novedad 
                    de bloqueo al cliente</a>
                  </p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"> 
                    Número acta de defunción</p></td>
                <td><p  class="PARRAFO">Campo 
                    en el que se despliega según el caso el número del acta 
                    de defunción registrada al momento de generar la <a href="SCH_026B.html" >novedad 
                    de bloqueo al cliente</a></p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span> 
                    Bloqueo</p></td>
                <td><p  class="PARRAFO">En 
                    este campo se muestra entre Fallecido o Incapacidad el 
                    tipo de <a href="CAH_002B.html" >bloqueo</a> aplicado 
                    al cliente.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span> 
                    Seleccionar</p></td>
                <td><p  class="PARRAFO">Campo 
                    en el que el usuario puede seleccionar aquellos registros para los cuales 
                    desea generar el archivo con destino a la compa&ntilde;ía de 
                    seguros.</p></td>
              </tr>
            </table>
            <p  class="PARRAFO">El formulario cuenta con un filtro que le 
              permite al usuario consultar por el tipo y número de identificación 
              del cliente.</p>
            <p class="TITLE"><img src="../img/SCF_032E1.PNG"></p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar 
              y Detalle. De igual manera, contiene un hipervínculo que permite al 
              usuario consultar las <a href="SCH_032B.html#BL_TARJETAS" >tarjetas</a> de las cuales el cliente es titular y un botón para <span ><a href="SCH_032B.html#BL_ARCHIVO" >generar 
            el archivo</a></p>
            <p  class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
              Si el usuario selecciona un registro e invoca la opción Actualizar 
              se despliega un formulario en el cual el único campo modificable es 
              la Fecha respuesta seguro fallecido. </p>
            <p class="TITLE"><img   src= "../img/SCF_032E2.PNG"></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"> 
                    Tipo de identificación</p></td>
                <td><p  class="PARRAFO">Campo 
                    de salida que muestra el <a href="NUH_008B.html" >tipo 
                    de documento de identificación</a> correspondiente al cliente 
                    que se está consultando.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Número 
                    de i</span>identificación</p>
                </td>
                <td><p  class="PARRAFO">Este 
                    campo de salida despliega el número del documento de identificación 
                    del cliente con bloqueo.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Nombre</p></td>
                <td><p  class="PARRAFO">En 
                    este campo se muestra el nombre del cliente a quien pertenece el tipo 
                    y número de identificación y que se encuentra con bloqueo.</p>
                </td>
              </tr>
           
              <tr>
                <td  class="titletable" ><p class="SUBTITULO"> Bloqueo</p></td>
                <td><p  class="PARRAFO">Campo 
                  en el que se indica entre Fallecido o Incapacidad el 
                  tipo de <a href="CAH_002B.html" >bloqueo</a> aplicado 
                  al cliente.</p></td>
              </tr>
           
              <tr>
                <td class="titletable" ><p class="SUBTITULO">Fecha envío seguro </span>  </p></td>
                <td><p class="PARRAFO">Campo que muestra la fecha en que se remitió   la reclamación al seguro.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"> 
                    Fecha respuesta seguro fallecido</p></td>
                <td><p  class="PARRAFO">En 
                    este campo en formato yyyy-mm-dd se registra la fecha en que la compa&ntilde;ía 
                    de seguros generó respuesta a la reclamación presentada.
                  </p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="SUBTITULO">Detalle:</span></span> Si el usuario selecciona un registro e invoca la opción Detalle se 
              despliega un formulario con los datos completos del registro y en el cual 
            ninguno de sus campos es modificable. </p>
            <p class="TITLE"><img src="../img/SCF_032E3.PNG"></p>

            <p  class="PARRAFO"><a name='BL_TARJETAS'></a><span class="SUBTITULO">Tarjetas:</span> 
              Si el usuario selecciona un registro e invoca la opción Tarjetas, se 
              despliega un formulario en el cual se muestran en caso de existir, todas las 
              tarjetas que el cliente que se encuentra bloqueado tiene con la entidad.</p>
            <p class="TITLE"><img src="../img/SCF_032E6.PNG"></p>
            
            <p  class="PARRAFO">El formulario Tarjetas, contiene la 
              opción Saldos por moneda, que le permite al usuario invocar 
              un nuevo formulario en el cual se muestran los saldos actuales de cualquiera 
              de las tarjetas seleccionadas.</p>
            <p class="TITLE"><img src="../img/SCF_032E7.PNG"></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr>
                <td class="titletable"><p class="SUBTITULO">Moneda</span>  </p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra la <a href="NUH_005B.html" >moneda</a> en la cual est&agrave;n denominados los diferentes conceptos de la cuenta.</p></td>
              </tr>
           
              <tr>
                <td class="titletable"><p class="SUBTITULO">Edad de mora </p></td>
                <td><p  class="PARRAFO">Este 
                  campo registra la altura de mora la cual se encuentra la tarjeta.</p></td>
              </tr>
           
              <tr>
                <td class="titletable"><p class="SUBTITULO">Ultima fecha de facturación </p></td>
                <td><p  class="PARRAFO">Cada 
                    vez que se ejecuta el proceso de facturación este campo es actualizado 
                    con la fecha correspondiente a la última fecha en la que se ejecutó 
                    de acuerdo con el ciclo. </p></td>
              </tr>
           
              <tr>
                <td  class="titletable" ><p class="SUBTITULO">Saldo</span>  </p></td>
                <td><p  class="PARRAFO">Campo 
                  donde se ilustra la deuda total de la tarjeta. </p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><a name='BL_ARCHIVO'></a><span class="SUBTITULO">Generar 
              archivo:</span></span> 
              mediante este botón contenido en la parte inferior del formulario, 
              el usuario puede generar un archivo con la información de las tarjetas 
              que van a ser enviadas a la compa&ntilde;ía de seguros para iniciar 
              el proceso de reclamación. El usuario puede generar el archivo para 
              todas las tarjetas que la consulta haya traído o seleccionar algunos 
              registros específicos, avanzar a la segunda página del wizard 
              y utilizar el botón para generar el archivo solo para las tarjetas 
              escogidas. </p>
            <p class="TITLE"><img src="../img/SCF_032E5.PNG"></p>
            </div>
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>