<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad cambio de dirección</p>

        <p class="PARRAFO">En este formulario invocado desde la opción
          <a href="SOH_004B.html#BL_DIRECCIONES">consulta de clientes</a>,
          en el bloque Direcciones, la entidad puede efectuar el ingreso o
          modificación los datos relacionados con las direcciones y
          números
          telefónicos, mediante los que es posible ubicar directa o
          indirectamente
          al cliente y mantener así actualizada la información del
          mismo.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar,
          Eliminar, Adicionar y Detalle. </p>
        <p class="PARRAFO"><span class="SUBTITULO">Adicionar</span><span>:</span>
            Si el usuario invoca la opción Adicionar se despliega un
            formulario
            con los siguientes campos</p>
        <p class="PARRAFO"></p>
        <p class="TITLE"><img src="../img/SCF_015E.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Dirección</p></td>
            <td><p class="PARRAFO">Campo
                alfanumérico de 60 posiciones, obligatorio, en el que se
                registra
                la nomenclatura de cada uno de los lugares en los que usual o
                eventualmente
                puede ser ubicado o, a los cuales es factible enviar
                correspondencia
                al cliente.
              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Teléfono 1 / 2</p></td>
            <td><p class="PARRAFO">En
                estos campos alfanuméricos de 20 posiciones, no
                obligatorios,
                se registran respectivamente el primer y segundo números
                telefónicos
                en los que es posible ubicar al cliente.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Extensión 1 / 2</p></td>
            <td><p class="PARRAFO">Campos
                alfanuméricos de 6 posiciones, no obligatorios, en los
                que se
                registra si el el caso la extensión asociada
                respectivamente
                al primer y segundo números telefónicos en el que
                es posible
                ubicar al cliente.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Celular</p></td>
            <td><p class="PARRAFO">En
                este campo alfanumérico de 12 posiciones, no obligatorio,
                se
                ingresa el número del teléfono celular del
                cliente. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Fax</p></td>
            <td><p class="PARRAFO">Campo
                alfanumérico de 12 posiciones, no obligatorio, en el que
                se registra
                el número del fax al que es posible enviar comunicados al
                cliente.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Tipo
                  dirección </p></td>
            <td><p class="PARRAFO">Este
                campo obligatorio cuenta con lista de valores de la que debe
                seleccionarse
                el <a href="NUH_004B.html">Tipo de dirección</a>
                que se está ingresando.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Correspondencia</p></td>
            <td><p class="PARRAFO">Campo
                tipo check en el cual se marca para indicar si la
                dirección ingresada
                es la de correspondencia o no; el sistema valida que el cliente
                no pued
                tener más de una dirección marcada como de
                correspondencia.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Ubicac</span><span>ión</p></td>
            <td><p class="PARRAFO">Este
                campo obligatorio contiene lista de valores de la cual la
                entidad puede
                seleccionar la <a href="NUH_003B.html">ubicación
                  geográfica</a> correspondiente a la dirección
                registrada
                por el cliente.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Zona
                  postal </p></td>
            <td><p class="PARRAFO">Campo
                no obligatorio en el cual se ingressa el código postal
                asociado
                a la nomenclatura de la dirección que se está
                ingresando.
                El sistema evalúa la consistencia de los datos,
                aquí registrados,
                con lo parametrizado en la opción <a
                  href="NUH_003B.html">Entidades
                  territoriales</a>
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha de radicación</p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio se registra en formato YYYY-MM-DD la
                fecha en
                la cual se solicitó el cambio o adición de la
                dirección
                y que puede ser una fecha anterior a la actual del sistema,
                facilitando
                el ingreso de novedades de fechas anteriores. </p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:
          Si el usuario selecciona un registro e invoca la opción
          Actualizar
          se despliega un nuevo formulario en el cual todos sus campos son
          modificables.</p>
        <p class="PARRAFO"></p>
        <p class="TITLE"><img src="../img/SCF_015E1.PNG"></p>
        
        <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
          Si el usuario selecciona un registro e invoca la opción Detalle
          se
          despliega un nuevo formulario con toda la información del
          registro
          y en el cual ninguno de sus campos es modificable.</p>

        <p class="TITLE"><img src="../img/SCF_015E2.PNG"></p>
        <div>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>