<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Generación certificados clientes</p>

        <p class="PARRAFO">Este formulario le permite a la entidad generar
          los certificados de retención en la fuente para los clientes
          tarjeta
          habientes.</p>
        <p class="PARRAFO">Al ingresar al formulario se despliega un
          filtro que le permite al usuario seleccionar los criterios para
          consultar
          los clientes a los cuales se les requiere generar el certificado.
        </p>
        <p class="TITLE"><img src="../img/SCF_038E4.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Buscar por</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio tipo combo, en el cual se selecciona entre
                Identificación,
                Tarjeta o Bin el criterio que se desea utilizar para consultar
                la información de los clientes.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Bin</p></td>
            <td><p class="PARRAFO">Si
                en el campo buscar por se ha seleccionado la opción Bin,
                este
                campo se convierte en obligatorio y habilita la lista de valores
                de
                la cual el usuario puede seleccionar el bin para el cual se
                desea consultar
                la información</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Tipo de documento</p></td>
            <td><p class="PARRAFO">Este
                campo que se convierte en obligatorio cuando el criterio de
                búsqueda
                es la identificación, contiene un combo en el que se debe
                seleccionar
                el <a href="NUH_008B.html">tipo de documento</a>
                de identificación correspondiente a los clientes que se
                requiere
                consultar.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Número de identificación</p></td>
            <td><p class="PARRAFO">Campo
                que se convierte en obligatorio cuando el criterio de
                búsqueda
                es la identificación, y en el que se registra el
                número
                del documento del cliente para el que se requiere efectuar la
                consulta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Número de tarjeta</p></td>
            <td><p class="PARRAFO">Si
                en el campo buscar por se ha seleccionado la opción
                Tarjeta,
                este campo se convierte en obligatorio y permite ingresar el
                número
                de tarjeta específico para el que se requiere efectuar la
                consulta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  A&ntilde;o facturación</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio en el que se indica el a&ntilde;o para el cual se
                desea
                hacer la consulta de las retenciones practicadas a los
                clientes.</p></td>
          </tr>
        </table>
        <p class="PARRAFO">Una vez ingresados los criterios para la
          búsqueda,
          se despliega un wizard de dos pasos. En la primera página se
          muestran
          el número de tarjeta y el nombre de cada uno de los clientes
          que coinciden
          con los criterios ingresados y para los cuales existe
          información para
          generar el certificado de retención en la fuente.</p>
        <p class="TITLE"><img src="../img/SCF_038E5.PNG"></p>
        <p class="PARRAFO">El formulario cuenta con un campo en el cual
          se marcan aquellos registros para los cuales se desea generar
          efectivamente
          el certificado y contiene además con un botón que
          permite seleccionar
          todos los registros.</p>
        <p class="PARRAFO">Una vez seleccionados los registros, el usuario
          se desplaza a la segunda página del wizard en la cual se
          muestra un
          formulario con el resumen de los establecimientos para los cuales se
          va a
          generar el archivo con los certificados; este formulario contiene el
          nit,
          el nombre del establecimiento y una casilla para marcar aquellos
          registros
          a los cuales no se les va a generar certificado.</p>
        <p class="TITLE"><img src="../img/SCF_038E6.PNG"></p>
        <p class="PARRAFO">La segunda página del wizard contiene
          un botón especial a través del cual se genera el archivo
          para
          los establecimientos.</p>

        <p class="TITLE">Botones especiales</p>
        <p class="PARRAFO"><span>Seleccionar
            todos : botón ubicado en la primera página del wizard
            y
            que permite seleccionar simultáneamente todos los registros
            encontrados
            por la búsqueda, sin importar si se encuentran o no visibles
            para el
            usuario en el formulario.</p>
        <p class="TITLE"><img src="../img/SELECCIONAR_TODAS.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO"><span>Generar
              archivo :</span></span><span>
            botón ubicado en la segunda página del wizard y que
            permite
            generar el archivo para imprimir los certificados de
            retención en la
            fuente para los registros seleccionados por el usuario.</p>
        <p class="TITLE"><img src="../img/GENERAR_CERTIFICADO.PNG"></p>
        <div>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>