<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Saldos por moneda</p>

        <p class="PARRAFO">En este formulario que se invoca desde la <a
            href="SCH_060B.html">Consulta
            centralizada de tarjeta / Saldos</a>, la entidad puede consultar la
          información de los saldos de la tarjeta, presentados, si aplica, para
          cada una de las monedas en las cuales se encuentren denominadas las
          diferentes transacciones efectuadas con la tarjeta. Adicionalmente
          cuenta con el enlace <a
            href="SCH_073B.html#BL_FACTURACIONES">Facturaciones</a>, que permite
          consultar los saldos
          de la tarjeta, en las últimas facturaciones para la moneda
          seleccionada.</p>

        <p class="TITLE"><img src="../img/SCF_073E.PNG"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tasa cambio</p></td>
            <td><p class="PARRAFO">Campo
                que muestra el valor de la tasa de cambio para cada una de las
                monedas
                desplegadas. </p></td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Edad Mora</p></td>
            <td><p class="PARRAFO">Campo que ilustra la altura de mora en que se
                encuentra la tarjeta. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">+Capital
                facturado</p></td>
            <td><p class="PARRAFO">Muestra
                el valor correspondiente para cada moneda del capital diferido
                cobrado
                al cliente dentro del pago mínimo.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">+Comisión
                facturada
              </p></td>
            <td><p class="PARRAFO">Campo
                que se&ntilde;ala el monto de las comisiones cobradas al cliente
                dentro
                del pago mínimo para cada moneda.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">+Capital
                mora
              </p></td>
            <td><p class="PARRAFO">Campo
                en el que se muestra el monto de capital no cubierto por el
                cliente
                en las facturaciones anteriores para cada moneda.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">+Comisión
                mora
              </p></td>
            <td><p class="PARRAFO">Este
                campo indica para cada moneda el monto de las comisiones no
                cubiertas
                por el cliente en las facturaciones anteriores.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">+Interés
                corriente
              </p></td>
            <td><p class="PARRAFO">En
                este campo se indica el valor del interés de
                financiación
                que la entidad le cobra el cliente por los saldos pendientes a
                la fecha
                sobre los consumos efectuados en cada moneda.</p></td>
          </tr>
        </table>
        <div class="PARRAFO">
          <table>
            <tr>
              <td class="titletable"><p class="SUBTITULO">+Interés
                  mora
                </p></td>
              <td><p class="PARRAFO">Campo
                  que muestra para cada moneda el monto de los intereses de
                  sanción
                  generados por la entidad sobre las porciones de capital no
                  cubiertas
                  por el cliente en facturaciones anteriores.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">+Interés
                  extracontable
                </p></td>
              <td><p class="PARRAFO">En
                  este campo se indica el monto de los intereses que de acuerdo
                  con
                  la altura de mora o la calificación de la tarjeta, se
                  deben
                  causar sobre los saldos de la tarjeta por cada una de las
                  monedas.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Pago
                  mínimo
                </p></td>
              <td><p class="PARRAFO">Campo
                  que indica para cada una de las monedas el monto que el actor
                  debe
                  cancelar para cubrir la obligación y no incurrir en
                  mora.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">+Capital
                  no facturado
                </p></td>
              <td><p class="PARRAFO">Muestra
                  el monto de los consumos diferidos que se encuentran
                  pendientes de
                  facturar y no han sido incluidos aún dentro del pago
                  mínimo
                  para cada moneda.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">+Comisión
                  no facturada
                </p></td>
              <td><p class="PARRAFO">En
                  este campo se indica para cada moneda el monto de las
                  comisiones que
                  aún no han sido incluidas dentro del pago mínimo
                  de
                  la tarjeta.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Saldo
                  pendiente
                </p></td>
              <td><p class="PARRAFO">Campo
                  que indica para cada una de las monedas, el monto a cargo del
                  cliente
                  y que por efectos de ajustes y otro tipo de eventos se
                  encuentra pendiente
                  de ser facturado y cobrado.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Interés
                  corriente periodo</p></td>
              <td><p class="PARRAFO">Indica
                  para cada moneda el monto de los intereses de
                  financiación
                  que la entidad cobra por los consumos efectuados y generados
                  desde
                  la última facturación hasta la fecha actual de
                  proceso,
                  intereses que no están incluidos en el pago
                  mínimo.</p></td>
            </tr>
            <tr>
              <td class="titletable"><p class="SUBTITULO">Interés
                  mora periodo</p></td>
              <td><p class="PARRAFO">Campo
                  que muestra para cada una de las monedas el monto de los
                  intereses
                  de sanción generados por la entidad sobre las porciones
                  de
                  capital no cubiertas por el cliente en facturaciones
                  anteriores y
                  generados desde la más reciente facturación
                  hasta la
                  fecha actual de proceso, los cuales no se encuentran incluidos
                  dentro
                  del pago mínimo.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Pago
                  total
                </p></td>
              <td><p class="PARRAFO">Este
                  campo contiene el valor total adeudado por el cliente a la
                  entidad
                  como resultado de las utilizaciones y consumos hechos con la
                  tarjeta
                  en cada una de las monedas.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Interés
                  provisional
                </p></td>
              <td><p class="PARRAFO">Despliega
                  para cada moneda el monto de los intereses calculados de
                  manera provisional
                  sobre transacciones que tengan la condición de condonar
                  intereses
                  el primer mes, de acuerdo con lo definido en <a
                    href="MEH_003B.html">transacciones
                    por empresa</a>.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Autorizaciones
                </p></td>
              <td><p class="PARRAFO">Este
                  campo se&ntilde;ala para cada moneda el monto de las
                  autorizaciones
                  o aprobaciones otorgadas por la entidad y que se encuentran
                  vigentes
                  o sin cruzar.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Disponible
                </p></td>
              <td><p class="PARRAFO">Campo
                  en el que se muestra para cada moneda el valor del cupo que
                  puede
                  ser utilizado por el cliente para efectuar consumos con la
                  tarjeta.</p></td>
            </tr>

            <tr>
              <td class="titletable"><p class="SUBTITULO">Capital
                  mora 1... Capital mora 12
                </p></td>
              <td><p class="PARRAFO">En
                  estos campos se muestra para la moneda seleccionada el monto
                  de capital
                  no cubierto por el cliente en cada altura o edad de
                  mora.</p></td>
            </tr>
          </table>
        </div>
        <p class="PARRAFO"><a name="BL_FACTURACIONES"></a></p>
        <p class="PARRAFO"><span
            class="SUBTITULO"><span>Facturaciones</span><span>:</span></span>
          una vez que se ha seleccionado la moneda para
            la cual desea consultar la información de los saldos, para las
            últimas (o más recientes) fechas de corte, mediante este enlace, se
            despliega un nuevo formulario en el cual se muestra la información
            deseada, así como los cargos y abonos registrados entre una fecha y
            otra para cada concepto presentado. La descripción del contenido de
            los campos es el mismo descrito en el formulario inicial, con la
            salvedad de que los datos corresponden a la fecha que se muestra
            respectivamente en la primera fila, y que al final del formulario se
            indica el valor del pago mínimo y el pago total expresados en la
            moneda patrón.</p>
        <p class="TITLE"><img src="../img/SCF_073E1.PNG"></p>
        <div>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>