<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad bloqueo persona</p>

        <p class="PARRAFO">En este formulario invocado desde la opción
          <a href="SCH_075B.html">ingreso de novedades</a>, (core)
          y que aplica exclusivamente para clientes personas naturales, la
          entidad puede
          registrar el fallecimiento o incapacidad legal dictaminada que afecte
          a cualquiera
          de sus clientes.
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_026E.svg"></p>
        <p class="PARRAFO">Cuando el bloqueo es por fallecimiento, se
          habilitan los campos en los cuales se muestra la información
          adicional
          requerida como es la fecha, lugar, acta, entre otros,
          información que
          le servirá de soporte para efectuar las reclamaciones ante las
          aseguradoras
          según corresponda.
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_026E1.svg"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                Bloqueo actual</p></td>
            <td><p class="PARRAFO">En
                este campo tipo combo, obligatorio, se puede seleccionar entre
                Incapacidad
                total o parcial y Fallecido el <a
                  href="CAH_002B.html">bloqueo</a>
                tipo persona que se requiere asociar al cliente.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                bloqueo actual </p>
            </td>
            <td><p class="PARRAFO">Campo
                de salida, se muestra en formato YYYY-MM-DD la fecha de proceso
                en que
                se está ingresando la novedad del bloqueo de
                plástico.
                Para el caso de bloqueos ya existentes, muestra la fecha en la
                cual
                se le aplicó a la tarjeta o crédito
              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                defunción</p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio, que se habilita cuando el bloqueo es
                Fallecido,
                se registra en formato YYYY-MM-DD la fecha en la cual se
                producto el
                deceso del cliente.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                de acta</p></td>
            <td><p class="PARRAFO">Campo
                alfanumérico de 20 posiciones, obligatorio, en el cual se
                registra
                el número del acta en la que consta la defunción
                del cliente.

              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Lugar
                de fallecimiento</p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio con lista de valores, se selecciona la <a
                  href="NUH_003B.html">ubicación</a>
                correspondiente a la ciudad en la cual falleció el
                cliente.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                envío seguro</p></td>
            <td><p class="PARRAFO">Campo
                no obligatorio en formato YYYY-MM-DD en el que se registra la
                fecha
                en que la entidad inicia los trámites o gestiones ante la
                compa&ntilde;ía
                de seguros tendientes a obtener el pago de los saldos insolutos
                de las
                obligaciones que el cliente fallecido tenía con la
                entidad. </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                respuesta seguro</p></td>
            <td><p class="PARRAFO">En
                este campo no obligatorio, con formato YYYY-MM-DD se registra la
                fecha
                en que la compa&ntilde;ía de seguros emite alguna
                respuesta a
                la reclamación presentada por la entidad.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                bloqueo actual </p></td>
            <td><p class="PARRAFO">Campo
                de salida, se muestra en formato YYYY-MM-DD la fecha de proceso
                en que
                se está ingresando la novedad del bloqueo del cliente.
                Para el
                caso de bloqueos ya existentes, muestra la fecha en la cual se
                le aplicó
                al cliente.</p></td>
          </tr>
        </table>
      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>