<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Novedad datos básicos persona
          jurídica </p>

        <p class="PARRAFO">Este formulario invocado desde la <a
            href="SCH_002B.html">consulta
            de clientes</a>, permite corregir, modificar o completar la
          información
          básica referida a condiciones económicas
          correspondientes a
          los clientes personas jurídicas. Al ingresar al formulario por
          defecto
          despliega los datos actuales registrados para el cliente con el fin de
          modificar
          únicamente aquellos datos que se requiera actualizar o
          registrar los
          que no hayan sido ingresados inicialmente.</p>
      <p class="TITLE"><img src="../img/SCF_008E.PNG"></p>

      <p class="TITLE">Descripción de campos</p>
      <table>
        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Representante legal</p></td>
          <td><p class="PARRAFO">Campo
              alfanumérico de hasta 60 caracteres en el cual se registra
              el
              nombre de la persona que cumple las funciones de representante
              legal
              del cliente jurídico.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">Escritura</p>
          </td>
          <td><p class="PARRAFO">En
              este campo alfanumérico de 10 posiciones, no obligatorio,
              se
              registra el número o serial que identifica la escritura de
              constitución
              de la sociedad.
            </p></td>
        </tr>

        <tr>
          <td class="titletable"><p
              class="SUBTITULO">Notaría</p></td>
          <td><p class="PARRAFO">Campo
              alfanumérico de 10 posiciones, no obligatorio, dentro del
              que
              se registra el número que identifica a la notaría en
              la
              que se elevó la escritura de constitución de la
              sociedad.
            </p>
          </td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Fecha de constitución</p></td>
          <td><p class="PARRAFO">En
              este campo se registra en formato YYYY-MM-DD la fecha en la cual
              se
              hizo la escritura de constitución de la sociedad.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Capital</p></td>
          <td><p class="PARRAFO">Campo
              numérico de hasta 14 enteros y 2 decimales en el que se
              registra
              el monto del capital de la sociedad.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Ubicación</p></td>
          <td><p class="PARRAFO">Este
              campo cuenta con lista de valores en el cual se selecciona la <a
                href="NUH_003B.html">ubicación</a>
              correspondiente a la ciudad de la sede u oficina principal de la
              sociedad.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Actividad</p></td>
          <td><p class="PARRAFO">Campo
              que cuenta con lista de valores de la cual se puede seleccionar la
              <a href="NUH_032B.html">actividad
                económica</a> desarrollada por la sociedad.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Tipo de sociedad </p></td>
          <td><p class="PARRAFO">En
              este campo se puede seleccionar a través de la lista de
              valores
              la <a href="NUH_038B.html">clase de sociedad</a>
              correspondiente al cliente jurídico.</p></td>
        </tr>

        <tr>
          <td class="titletable"><p class="SUBTITULO">
                Fecha de radicación</p></td>
          <td><p class="PARRAFO">Es
              el único campo obligatorio del formulario y en el se
              registra
              en formato YYYY-MM-DD la fecha en la cual el cliente
              notificó
              la actualización de sus datos básicos y que puede
              ser
              incluisve una fecha anterior a la actual del sistema, facilitando
              el
              ingreso de novedades de fechas anteriores.</p></td>
        </tr>
      </table>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>