<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Novedad n&uacute;mero de acci&oacute;n</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">En este formulario invocado desde la opci&oacute;n 
              <a href="SCH_075B1.html" >ingreso de novedades</a>, 
              (issuer) la entidad puede modificar el n&uacute;mero de acci&oacute;n asociado 
              a la tarjeta cuando esta caracter&iacute;stica ha sido definido previamente 
              para el producto. Aplica solo para aquellas tarjetas a las cuales se les ha 
              parametrizado a nivel de <a href="MEH_002B.html" >definici&oacute;n 
              de productos</a> que si Genera N&uacute;mero de Acci&oacute;n, informaci&oacute;n 
              que es validada por el sistema una vez se ingresa el n&uacute;mero de tarjeta 
              y se selecciona esta novedad.
            </p>
            <p class="TITLE"><img src="../img/SCF_058E.PNG"221" ></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        > 
                    N&uacute;mero de acci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio en el que se registra el n&uacute;mero de acci&oacute;n 
                    asociado a la tarjeta o cr&eacute;dito.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    de radicaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio se registra en formato YYYY-MM-DD la fecha en 
                    la cual se solicit&oacute; el cambio de n&uacute;mero de acci&oacute;n 
                    y que puede ser una fecha anterior a la actual del sistema, facilitando 
                    el ingreso de novedades de fechas anteriores. </p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>