<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Tarjetas Extraviadas</p>

        <p class="PARRAFO">A este formulario llegan las tarjetas a las que se
          les Aplicó un extravío,
          mediante la funcionalidad invocada desde el enlace Generar extravío en
          <a href="SCH_060B.html">Consulta centralizada de tarjetas</a>,
          Dichas tarjetas quedan bloqueadas y el sistema no permite efectuar más
          utilizaciones con las
          mismas. El tarjetahabiente deberá esperar a que surta el proceso de
          reexpedición con un nuevo
          número, para recibir el plástico correspondiente.</p>
        <p class="PARRAFO">A continuación se ilustran los campos del formulario
          Aplicar extravío,
          en los que se ingresa la información requerida por la entidad, para
          certificar la causa
          del extravío.</p>

        <p class="TITLE"><img src="../img/SCF_030E1.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Tipo bloqueo</span></p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio tipo combo, se selecciona entre Robo
                o Uso fraudulento el tipo de evento por el cual se genera el
                extrav&iacute;o a la tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha extrav&iacute;o</span></p></td>
            <td><p class="PARRAFO">Campo
                obligatorio en formato YYYY-MM-DD en el que se registra la fecha
                en
                la cual el cliente manifiesta haber extraviado la tarjeta o
                detectado
                el uso fraudulento de la misma.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha carta</span></p></td>
            <td><p class="PARRAFO">En
                este campo no obligatorio, se registra la fecha de la carta en
                la cual
                el cliente comunica a la entidad el extrav&iacute;o o fraude de
                su tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha recepci&oacute;n carta</span></p></td>
            <td><p class="PARRAFO">Campo
                que permite registrar la fecha en la cual el cliente radica ante
                la
                entidad la carta en la que informa la p&eacute;rdida o fraude de
                la
                tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha denuncio</span></p></td>
            <td><p class="PARRAFO">En
                este campo se indica la fecha en la que el cliente
                present&oacute; el
                denuncio ante las autoridades correspondientes por la
                p&eacute;rdida
                o fraude cometido con su tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha recepci&oacute;n denuncio</span></p></td>
            <td><p class="PARRAFO">Campo
                que permite registrar la fecha en la cual el cliente radica ante
                la
                entidad el denuncio de la p&eacute;rdida o fraude.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Tipo fraude</span></p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio tipo combo se puede seleccionar entre
                Alteraci&oacute;n,
                Banda magn&eacute;tica, Establecimiento, Extrav&iacute;o,
                Falsificaci&oacute;n,
                Internet, Robo, Tarjeta no presentada, Tarjeta no recibido o
                Uso indebido, la causal asociada con el motivo que genera el
                reporte
                de extrav&iacute;o, siendo Extrav&iacute;o y Robo
                de aplicaci&oacute;n exclusiva para el tipo bloqueo por robo.
                Es de anotar que esta informaci&oacute;n es de gran utilidad
                tanto para
                la entidad como para la compa&ntilde;&iacute;a aseguradora a fin
                de
                poder determinar el origen o causa del fraude y tomar los
                correctivos
                necesarios.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  N&uacute;mero tarjeta fraude</span></p></td>
            <td><p class="PARRAFO">Cuando
                el fraude es por tarjeta gemela, en este campo se registra en
                caso de
                conocerse, el n&uacute;mero de la tarjeta utilizad para la
                comisi&oacute;n
                del fraude.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Reportado por </span></p></td>
            <td><p class="PARRAFO">En
                este campo se ingresa la informaci&oacute;n de la persona que
                efectu&oacute;
                el tr&aacute;mite de reporte del extrav&iacute;o o fraude de la
                tarjeta
                ante la entidad, que puede ser el propio cliente titular o un
                tercero
                autorizado por &eacute;ste.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Cobro reexpedici&oacute;n</span></p></td>
            <td><p class="PARRAFO">Campo
                obligatorio tipo combo en el que se indica Si o No
                se le debe cobrar al cliente la reexpedici&oacute;n del nuevo
                pl&aacute;stico
                que le ser&aacute; entregado en reemplazo del reportado como
                extraviado.</p></td>
          </tr>
        </table>

        <p class="TITLE"><img src="../img/SCF_030E.PNG"></p>
        <p class="TITLE">Descripci&oacute;n de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  N&uacute;mero de tarjeta</span></p></td>
            <td><p class="PARRAFO">En este campo se despliega el número actual
                de la tarjeta consultada
                y que fue bloqueada por extravío.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Nombre</span></p></td>
            <td><p class="PARRAFO">Campo
                que contiene el nombre realzado en el pl&aacute;stico de la
                tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Producto</span></p></td>
            <td><p class="PARRAFO">Indica
                el bin, segmento, grupo de afinidad y descripci&oacute;n del <a
                  href="MEH_002B.html">producto</a>
                al que pertenece la tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Direcci&oacute;n</span></p></td>
            <td><p class="PARRAFO">Muestra
                la direcci&oacute;n de correspondencia asociada con la
                tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Ubicaci&oacute;n geogr&aacute;fica</span></p></td>
            <td><p class="PARRAFO">Campo
                que indica la ubicaci&oacute;n geogr&aacute;fica a la que
                pertenece
                la direcci&oacute;n de correspondencia de la tarjeta.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Tel&eacute;fono 1</span></p></td>
            <td><p class="PARRAFO">Se&ntilde;ala
                el n&uacute;mero telef&oacute;nico reportado por el cliente y en
                el
                cual puede ser contactado.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Bloqueo pl&aacute;stico</span></p></td>
            <td><p class="PARRAFO">Campo que ilustra con cuál de los bloqueos
                sobre el
                plástico, queda registrado en extravío.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>
                  Fecha bloqueo</span></p></td>
            <td><p class="PARRAFO">Campo con formato YYYY-MM-DD que indica la
                fecha en la
                cual se aplicó el bloqueo por extravío a la tarjeta.</p></td>
          </tr>
        </table>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>