<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Cuotas</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">En este formulario que se invoca desde el 
              <a href="SCH_060B.html" >detalle consulta de la tarjeta</a>, 
              en el hiperv&iacute;nculo informaci&oacute;n b&aacute;sica, saldos 
              la entidad puede consultar la informaci&oacute;n detallada de la manera como 
              se componen las cuotas para las obligaciones perteneciente a productos que 
              tienen la condici&oacute;n de permitir pago por cuotas, como es el caso de 
              los cr&eacute;ditos rotativos.</p>
            <p class="TITLE"><img src="../img/SCF_077E.PNG"678" height="114"></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td><p class="SUBTITULO"><b>N&uacute;mero</b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra el n&uacute;mero de cuota a la que pertenece la informaci&oacute;n 
                    del registros.</p></td>
              </tr>
              <tr> 
                <td    > 
                  <p class="SUBTITULO"><b>Fecha</b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo contiene la fecha de facturaci&oacute;n de la cuota.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>Capital 
                    facturado</b></p></td>
                <td><p  class="PARRAFO">Muestra 
                    el monto del capital diferido cobrado al cliente dentro de la cuota 
                    por las transacciones efectuadas.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Capital 
                    mora
                    </b></p></td>
                <td><p  class="PARRAFO">Indica 
                    el monto de capital no cubierto por el cliente en las facturaciones 
                    anteriores y que se le est&aacute; cobrando en la cuota.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Inter&eacute;s 
                    corriente
                    </b></p></td>
                <td><p  class="PARRAFO">Despliega 
                    el monto del inter&eacute;s de financiaci&oacute;n que la entidad le 
                    cobra el cliente por los saldos pendientes a la fecha sobre los consumos 
                    efectuados y que se le est&aacute;n cobrando en la cuota.</p></td>
              </tr>
            </table>
            <div  class="PARRAFO"> 
              <table>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Inter&eacute;s 
                      mora
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que muestra el monto de los intereses de sanci&oacute;n generados 
                      por la entidad sobre las porciones de capital no cubiertas por el 
                      cliente en facturaciones anteriores y que son incluidos en la cuota 
                      actual. </p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Inter&eacute;s 
                      extracontable
                      </b></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo se indica el monto de los intereses que de acuerdo con 
                      la altura de mora o la calificaci&oacute;n de la tarjeta, se deben 
                      causar sobre los saldos de la tarjeta y que se cobran en la cuota 
                      actual. </p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Cuota 
                      seguro
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que indica el monto que por concepto de cuota de seguro se le debe 
                      cobrar al cliente en la cuota respectiva de acuerdo con lo definido 
                      para el <a href="MEH_002B.html" >producto</a> 
                      al que pertenece el cr&eacute;dito o tarjeta.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Cuota 
                      manejo
                      </b></p></td>
                  <td><p  class="PARRAFO">Muestra 
                      el monto que por concepto de <a href="MEH_002B.html" >cuota 
                      de administraci&oacute;n</a> o manejo del cr&eacute;dito se le 
                      debe cargar al cliente en la cuota pagar.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Valor 
                      cuota
                      </b></p></td>
                  <td><p  class="PARRAFO">En 
                      este campo se indica el monto total a pagar por parte del cliente 
                      y que resulta de la sumatoria de los diferentes componentes de la 
                      cuota.</p></td>
                </tr>
              </table>
              
            </div>
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>