<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Novedad bienes del cliente</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO">En este formulario 
              invocado desde la opci&oacute;n <a href="SOH_004B.html#BL_BIENES" >consulta 
              de clientes</a>, a trav&eacute;s del hiperv&iacute;nculo Financiera 
              en el bloque Informaci&oacute;n de bienes</span> , la entidad puede 
              efectuar el ingreso o modificaci&oacute;n de la informaci&oacute;n b&aacute;sica 
              relativa a los bienes o activos pose&iacute;dos y reportados por los clientes 
              y mantener as&iacute; actualizada la informaci&oacute;n del mismo.</p>
            <p  class="PARRAFO">Esta informaci&oacute;n puede ser de utilidad 
              para la entidad por ejemplo al momento de evaluar o calificar al cliente respecto 
              de los bienes que respaldan o garantizan cualquier cr&eacute;dito que le sea 
              aprobado.</p>
            
            <p  class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle. </p>
            <p  class="PARRAFO"><span class="SUBTITULO"><b ><span            '>Adicionar</span></b><span 
        >:</span><span 
        ></span></span><span 
        > 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario 
              que dependiendo el <a href="NUH_011B.html#BL_TIPO_BIEN" >tipo 
              de bien</a>, contiene campos diferentes.</span></p>
            <p  class="PARRAFO"><span >Si el bien 
              seleccionado corresponde a un 'Bien ra&iacute;z' el formulario desplegado 
              es el siguiente</span></p>
            <p  class="PARRAFO"></p>
            <p class="TITLE"><img src="../img/SCF_016E.PNG"421" height="592"></p>
            
            <p  class="PARRAFO"><span >Si el bien 
              seleccionado es de tipo diferente a 'Bien ra&iacute;z' los campos Escritura, 
              Fecha, Notar&iacute;a, Direcci&oacute;n y Ubicaci&oacute;n no se muestran 
              y a cambio se despliegan los campos Marca, Modelo y Placa.</span></p>
            <p  class="PARRAFO"></p>
            <p class="TITLE"><img src="../img/SCF_016E1.PNG"381" height="592"></p>
            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        > 
                    Tipo bien</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio que contiene lista de valores de la cual se selecciona el 
                    <span 
        ><a href="NUH_011B.html#BL_TIPO_BIEN" >tipo 
                    de bien</a></span>  que reportado por el cliente.</p></td>
              </tr>
           
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        > 
                    Indicador de propiedad</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    estos campos tipo combo se puede seleccionar entre Hipotecado, Prenda 
                    o Propio la condici&oacute;n de propiedad que el cliente 
                    tiene sobre el bien a la fecha en que se registra la informaci&oacute;n. 
                  </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        > 
                    Entidad propiedad</span></b></p></td>
                <td><p  class="PARRAFO">Si 
                    el bien se encuentra Hipotecado o en Prenda, en este campo alfanum&eacute;rico 
                    de 60 posiciones se puede registrar el nombre de la entidad financiera, 
                    persona jur&iacute;dica u otra a nombre de quien se encuentra constituida 
                    la garant&iacute;a sobre el bien reportado.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        > 
                    Garant&iacute;a</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo que permite seleccionar entre Hipotecaria o Personal la clase 
                    de garant&iacute;a que recae sobre el bien reportado.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Valor 
                    compra </span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio de hasta 14 enteros y 2 decimales se registra 
                    el valor de compra del bien reportado.</p></td>
              </tr>
           
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Posee 
                    deuda </span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    tipo combo en el que se puede seleccionar entre Si o No el bien ya fue 
                    cancelado en su totalidad por el cliente.
                  </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Valor 
                    deuda </span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo que se vuelve obligatorio cuando se ha indicado que el bien 
                    Si posee deuda, se registra en hasta 14 enteros y 2 decimales el valor 
                    actual de la deuda que se encuentra por cubrir sobre el bien reportado.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Moneda</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    obligatorio con lista de valores del cual se puede seleccionar la <a href="NUH_005B.html" >moneda</a> 
                    en la cual se encuentra expresada el valor del bien reportado por el 
                    cliente.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Escritura</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanum&eacute;rico de hasta 10 posiciones, no obligatorio 
                    y que aplica para los bienes ra&iacute;ces, se registra el n&uacute;mero 
                    o referencia asociado a la escritura, o t&iacute;tulo valor que se&ntilde;ala 
                    o indica la propiedad y/o posesi&oacute;n del bien o activo. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Fecha</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    no obligatorio y que aplica para los bienes ra&iacute;ces, en el cual 
                    se registra en formato YYYY-MM-DD la fecha en la cual se otorg&oacute; 
                    la escritura que acredita la propiedad del bien<b><span >.</span></b></p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Matr&iacute;cula</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 10 posiciones, no obligatorio y que 
                    aplica pra los bienes ra&iacute;ces se registra el n&uacute;mero de 
                    matr&iacute;cula inmobiliaria del bien relacionado reportado. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Notar&iacute;a</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 10 posiciones, no obligatorio y que aplica para 
                    los bienes raices en el cual se registra el n&uacute;mero o referencia 
                    asociado a la notar&iacute;a en que se elev&oacute; la escritura, o 
                    t&iacute;tulo valor que se&ntilde;ala o indica la propiedad y/o posesi&oacute;n 
                    del bien reportado. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Direcci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 60 posiciones, no obligatorio, y que 
                    aplica para los bienes raices se registra la nomenclatura correspondiente 
                    al bien inmueble reportado por el cliente. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Ubicaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    con lista de valores de la cual la entidad puede seleccionar la <a href="NUH_003B.html" >ubicaci&oacute;n 
                    geogr&aacute;fica</a> correspondiente a la direcci&oacute;n del 
                    bien reportado por el cliente.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Marca</span></b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo que aplica para bienes tipo veh&iacute;culos u otros, posee lista 
                    de valores de la cual se selecciona la <a href="NUH_013B.html" >marca 
                    de veh&iacute;culo</a> particular o p&uacute;blico pose&iacute;do 
                    por el cliente.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Modelo</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    num&eacute;rico de hasta 4 d&iacute;gitos que aplica para bienes tipo 
                    veh&iacute;culos u otros y en el cual se registra la fecha de fabricaci&oacute;n 
                    o ensamble.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Matr&iacute;cula</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo se registra en caso de aplicar el n&uacute;mero de matr&iacute;cula 
                    del bien diferente a bien ra&iacute;z.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Placa</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 15 posiciones en el que se registra la combinatoria 
                    de letras y n&uacute;meros que identifica la placa del veh&iacute;culo 
                    reportado por el cliente
                  </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        > 
                    Fecha de radicaci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio se registra en formato YYYY-MM-DD la fecha en 
                    la cual se solicit&oacute; el cambio o adici&oacute;n de la informaci&oacute;n 
                    del bien y que puede ser una fecha anterior a la actual del sistema, 
                    facilitando el ingreso de novedades de fechas anteriores. </p></td>
              </tr>
            </table>

            <p class="PARRAFO"><b ><span class="SUBTITULO">Actualizar</span></b>: 
              Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un nuevo formulario en el cual el &uacute;nico campo NO modificable 
              es el Tipo de bien.</p>
            <p  class="PARRAFO"></p>
            <p class="TITLE"><img src="../img/SCF_016E2.PNG"383" height="592"></p>
            .
            <p class="PARRAFO"><b ><span class="SUBTITULO">Detalle</span></b>: 
              Si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un nuevo formulario con toda la informaci&oacute;n del registro 
              y en el cual ninguno de sus campos es modificable.</p>
           
            <p class="TITLE"><img src="../img/SCF_016E3.PNG"672" ></p>
            <div>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img class="TITLE"  src= "../img/logo.PNG">
        </div>
        <p>OpenCard SAS</p>
        <p>Calle 77 Nº 11-19 Piso 4°, Bogotá D.C.</p>
        <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
                target="_blank">www.OpenCard.com</a></p>

    </footer>
</body>

</html>