<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Novedad bloqueo persona</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">En este formulario invocado desde la opci&oacute;n 
              <a href="SCH_075B.html" >ingreso de novedades</a>, (core) 
              y que aplica exclusivamente para clientes personas naturales, la entidad puede 
              registrar el fallecimiento o incapacidad legal dictaminada que afecte a cualquiera 
              de sus clientes.
            </p>
            <p class="TITLE"><img src="../img/SCF_026E.PNG"342" ></p>
            <p  class="PARRAFO">Cuando el bloqueo es por fallecimiento, se 
              habilitan los campos en los cuales se muestra la informaci&oacute;n adicional 
              requerida como es la fecha, lugar, acta, entre otros, informaci&oacute;n que 
              le servir&aacute; de soporte para efectuar las reclamaciones ante las aseguradoras 
              seg&uacute;n corresponda.
            </p>
            <p class="TITLE"><img src="../img/SCF_026E1.PNG"483" ></p>

            <p  class="TITLE">Descripci&oacute;n de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        > 
                    Bloqueo actual</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo tipo combo, obligatorio, se puede seleccionar entre Incapacidad 
                    total o parcial y Fallecido el <a href="CAH_002B.html" >bloqueo</a> 
                    tipo persona que se requiere asociar al cliente.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    bloqueo actual </span></b></p>
                  </td>
                <td><p  class="PARRAFO">Campo 
                    de salida, se muestra en formato YYYY-MM-DD la fecha de proceso en que 
                    se est&aacute; ingresando la novedad del bloqueo de pl&aacute;stico. 
                    Para el caso de bloqueos ya existentes, muestra la fecha en la cual 
                    se le aplic&oacute; a la tarjeta o cr&eacute;dito
                  </p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    defunci&oacute;n</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio, que se habilita cuando el bloqueo es Fallecido, 
                    se registra en formato YYYY-MM-DD la fecha en la cual se producto el 
                    deceso del cliente.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >N&uacute;mero 
                    de acta</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, obligatorio, en el cual se registra 
                    el n&uacute;mero del acta en la que consta la defunci&oacute;n del cliente. 
                   
                  </p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Lugar 
                    de fallecimiento</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo obligatorio con lista de valores, se selecciona la <a href="NUH_003B.html" >ubicaci&oacute;n</a> 
                    correspondiente a la ciudad en la cual falleci&oacute; el cliente.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    env&iacute;o seguro</span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    no obligatorio en formato YYYY-MM-DD en el que se registra la fecha 
                    en que la entidad inicia los tr&aacute;mites o gestiones ante la compa&ntilde;&iacute;a 
                    de seguros tendientes a obtener el pago de los saldos insolutos de las 
                    obligaciones que el cliente fallecido ten&iacute;a con la entidad. </p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    respuesta seguro</span></b></p></td>
                <td><p  class="PARRAFO">En 
                    este campo no obligatorio, con formato YYYY-MM-DD se registra la fecha 
                    en que la compa&ntilde;&iacute;a de seguros emite alguna respuesta a 
                    la reclamaci&oacute;n presentada por la entidad.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Fecha 
                    bloqueo actual </span></b></p></td>
                <td><p  class="PARRAFO">Campo 
                    de salida, se muestra en formato YYYY-MM-DD la fecha de proceso en que 
                    se est&aacute; ingresando la novedad del bloqueo del cliente. Para el 
                    caso de bloqueos ya existentes, muestra la fecha en la cual se le aplic&oacute; 
                    al cliente.</p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img class="TITLE"  src= "../img/logo.PNG">
        </div>
        <p>OpenCard SAS</p>
        <p>Calle 77 Nº 11-19 Piso 4°, Bogotá D.C.</p>
        <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
                target="_blank">www.OpenCard.com</a></p>

    </footer>
</body>

</html>