<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Administración de novedades</p>

        <p class="PARRAFO">Desde este formulario, se permite la
          aplicación
          de aquellas novedades que no pudieron ser aplicadas correctamente por
          errores
          durante el proceso, o de aquellas que de acuerdo con lo definido en la
          opción
          <a href="NUH_017B.html"> Novedades administrativas</a>
          la entidad haya determinado que se aplican en batch y no en
          línea.</p>
        <p class="PARRAFO">Al ingresar al formulario se despliega inicialmente
          un filtro en el cual el usuario define los criterios de las novedades
          que
          quiere seleccionar para aplicación.
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_009E.svg"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Estado</p></td>
            <td><p class="PARRAFO">Campo obligatorio en el que debe marcarse:
                Aplicadas, Por aplicar o Todas, indicándole al sistema la
                condición o estado de las novedades que se desea
                consultar.</p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Novedad</p></td>
            <td><p class="PARRAFO">En
                este campo tipo combo en el que se permite seleccionar la <a
                  href="NUH_017B.html">Novedad
                  administrativa</a> que se desea consultar. Dependiendo si el
                formulario se invoca desde el Core o Issuer, este campo muestra
                respectivamente las novedades tipo persona o las de tipo
                tarjeta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Tipo de identificación</p></td>
            <td><p class="PARRAFO">Campo
                tipo combo en el cual se puede seleccionar el tipo de <a
                  href="NUH_008B.html">documento
                  de identificación</a> asociado a los clientes para los
                cuales
                se desea consultar novedades.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Número de identificación</p></td>
            <td><p class="PARRAFO">En
                este campo numérico de hasta 16 caracteres se ingresa el
                número
                de identificación del cliente para el cual se desea
                consultar
                novedades. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Fecha de grabación inicial</p></td>
            <td><p class="PARRAFO">Campo no obligatorio que, mediante la
                funcionalidad de un calendario, permite indicar la fecha a
                partir de la cual se grabaron las novedades que se desea
                consultar.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Fecha de grabación final</p></td>
            <td><p class="PARRAFO">Campo no obligatorio que, mediante la
                funcionalidad de un calendario, permite indicar la fecha final o
                hasta la cual se grabaron las novedades que se desea
                consultar.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Indicador</p></td>
            <td><p class="PARRAFO">En
                este campo tipo combo se puede seleccionar entre Error, No
                aplicar
                o Aplicar el estado de las novedades que se desea
                consultar.</p></td>
          </tr>
        </table>

        <p class="PARRAFO">Una vez que se han ingresado los criterios
          a utilizar para seleccionar las novedades que se desea gestionar,
          mediante
          el botón buscar el sistema efectúa la consulta y
          despliega un
          formulario con los resultados
        </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_009E1.svg"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Tipo novedad</p></td>
            <td><p class="PARRAFO">Despliega
                la abreviatura asociada a cada tipo o clase de novedad,
                parametrizadas
                mediante la opción <a href="NUH_017B.html">Novedades
                  administrativas</a>.
              </p></td>
          </tr>

          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Cliente</p></td>
            <td><p class="PARRAFO">En
                este campo se muestra el nombre del cliente a quien corresponde
                la novedad.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Clase</p></td>
            <td><p class="PARRAFO">Campo
                de salida en el que se indica si la novedad es Nueva es decir
                que corresponde
                a la inclusión de información, una
                Modificación
                o Eliminación de datos previamente existentes, brindando
                un criterio
                adicional para su evaluación, en caso de ser necesario.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Fecha de grabación</p></td>
            <td><p class="PARRAFO">En
                este campo se muestra en formato YYYY-MM-DD la fecha
                específica
                en la cual se grabó la novedad.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Fecha de aplicación </p></td>
            <td><p class="PARRAFO">Campo
                que muestra en formato YYYY-MM-DD la fecha en que se
                aplicó exitosamente
                la novedad en el sistema. Difiere de la fecha de
                grabación para
                las novedades que presentan errores de datos, o para las que no
                son
                de aplicación en línea.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Estado</p></td>
            <td><p class="PARRAFO">Muestra
                las opciones Por aplicar o Aplicada, asociada a la
                novedad, lo que permite diferenciar, posteriormente, las
                novedades ingresadas
                al sistema.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Indicador</p></td>
            <td><p class="PARRAFO">En
                este campo se muestra el indicador actual de la novedad y que
                puede
                ser Aplicada, Por aplicar o Error.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Mensaje</p></td>
            <td><p class="PARRAFO">Si
                durante el proceso de aplicación de la novedad se
                presentó
                algún error que no permitió su correcta
                aplicación,
                en este campo se despliega el mensaje en el cual se indica al
                usuario
                la causa de tal evento.</p></td>
          </tr>
        </table>
        <p class="PARRAFO">El formulario contiene los enlaces: actualizar
          y Detalle</p>
        <p class="PARRAFO"><span class="SUBTITULO">Actualizar</span>:
          Si el usuario selecciona un registro cuyo estado sea Por aplicar
          e invoca la opción Actualizar se despliega un formulario
          con
          un único campo modificable que es el Indicador. </p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_009E2.svg"></p>
        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">
                  Indicador</p></td>
            <td><p class="PARRAFO">Campo
                obligatorio tipo combo, en el cual se selecciona entre Aplicar
                o No aplicar la acción que debe ejecutar el sistema
                una vez se utilice el botón correspondiente para
                gestionar la
                novedad. Para poder aplicar una novedad desde esta
                opción, el
                valor de este campo debe ser 'Aplicar'</p></td>
          </tr>
        </table>
        <p class="PARRAFO"><span class="SUBTITULO">Detalle</span>:
          Si el usuario selecciona un registro e invoca la opción Detalle
          se
          puede invocar el formulario a través del cual se capturó
          la
          novedad.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SCF_009E3.svg"></p>
        <p class="TITLE">Botones especiales</p>
        <p class="PARRAFO"><span class="SUBTITULO">Aplicar
            novedad seleccionada</span>: una vez solucionada la causal por la
          que
          quedó pendiente por aplicar la novedad o &quot;forzar&quot; la
          aplicación
          de una novedad de aplicación mediante proceso en batch, se
          utiliza
          este botón, el que aplica de manera individual la novedad sobre
          la
          que se encuentre el cursor.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APLICARNOVACTUAL.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Aplicar
            todas las novedades</span>: aplica bajo el mismo principio o
          criterio
          que el definido para el botón anterior, pero a diferencia de
          este,
          lo realiza de manera masiva, para todas las novedades contenidas en la
          consulta
          hecha y que se encuentren por aplicar bien sea que estén o no
          visibles
          para el actor.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/APLICARTODASNOV.svg"></p>

        <div>
        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>