<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Transacciones</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">En este formulario que se invoca desde el 
              <a href="SCH_060B.html" >detalle consulta de la tarjeta</a>, 
              la entidad puede consultar la informaci&oacute;n acerca de las transacciones 
              que han afectado a la tarjeta bien sea que estas se hayan originado directamente 
              por las utilizaciones que el cliente haya hecho, o indirectamente como resultado 
              de transacciones generadas internamente por el sistema tales como cuotas de 
              manejo, seguros, comisiones, reversiones, ajustes, entre otras posibles causas.</p>
            <p  class="PARRAFO">La opci&oacute;n contiene el hiperv&iacute;nculo<a href="INH_006B2.html" > 
              detalle transacci&oacute;n </a>que 
              permite invocar el formulario con la informaci&oacute;n completa de cada una 
              de las transacciones que le han sido aplicadas a la tarjeta y en el cual ninguno 
              de sus datos es modificable.</p>
            <p class="TITLE"><img src="../img/SCF_062E.PNG"875" height="510"></p>
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td><p class="SUBTITULO"><b>Secuencia</b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra la secuencia &uacute;nica que identifica a la transacci&oacute;n 
                    y que es asignado internamente por el sistema.</p></td>
              </tr>
              <tr> 
                <td    > 
                  <p class="SUBTITULO"><b>Fecha </b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo despliega la fecha en la cual se efectu&oacute; / gener&oacute; 
                    la transacci&oacute;n.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>N&uacute;mero 
                    comprobante </b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra el n&uacute;mero del comprobante que soporta la transacci&oacute;n 
                    aplicada a la tarjeta.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Transacci&oacute;n
                    </b></p></td>
                <td><p  class="PARRAFO">Este 
                    campo despliega la <a href="MEH_003B.html" >transacci&oacute;n 
                    interna</a> que fu&eacute; aplicada a la tarjeta de acuerdo con 
                    lo parametrizado en el <a href="INH_031B.html" >traductor 
                    de transacciones</a>.</p></td>
              </tr>
           
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Descripci&oacute;n
                    </b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra de acuerdo con lo definido para la <a href="MEH_003B.html" >transacci&oacute;n</a> 
                    bien sea el nombre del establecimiento en el cual &eacute;sta fue efectuada 
                    o la descripci&oacute;n de la transacci&oacute;n.</p></td>
              </tr>
            </table>
            <div  class="PARRAFO"> 
              <table>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Concepto 
                      transacci&oacute;n
                      </b></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo despliega el <a href="NUH_059B.html" >concepto</a> 
                      asociado con la transacci&oacute;n interna aplicada a la tarjeta.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><b>Moneda 
                     
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que muestra la moneda de almacenamiento definida para la <a href="MEH_003B.html" >transacci&oacute;n</a> 
                      aplicada a la tarjeta.</p></td>
                </tr>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Valor 
                      inicial
                      </b></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo contiene el monto o valor inicial por el cual fue efectuada 
                      la transacci&oacute;n y con el cual ingres&oacute; al sistema para 
                      ser aplicada a la tarjeta.</p></td>
                </tr>
   
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Plazo
                      </b></p></td>
                  <td>Campo 
                    que indica el plazo que fue solicitado por el cliente y/o asignado por 
                    el sistema para diferir el pago de la transacci&oacute;n aplicada.</td>
                </tr>
   
                <tr> 
                  <td class="titletable"><p class="SUBTITULO"><b>Tasa
                      </b></p></td>
                  <td><p  class="PARRAFO">Este 
                      campo despliega seg&uacute;n corresponda con el tipo de transacci&oacute;n 
                      el valor del indicador econ&oacute;mico asociado con la transacci&oacute;n 
                      aplicada a la tarjeta y que se va a utilizar para calcular los intereses 
                      corrientes.</p></td>
                </tr>
                <tr> 
                  <td class="titletable" ><p class="SUBTITULO"><b>Saldo
                      </b></p></td>
                  <td><p  class="PARRAFO">Campo 
                      que muestra el saldo de la transacci&oacute;n que a la fecha se encuentra 
                      pendiente de facturar al cliente.</p></td>
                </tr>
              </table>
                </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>