<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Solicitudes por etapa - Verificaci&oacute;n referencias</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Ingresar calificaci&oacute;n:</span>  
              De acuerdo a las Calificaciones de los Par&aacute;metros de solicitudes por 
              producto, esta opci&oacute;n permite que la solicitud avance a la siguiente 
              etapa. El sistema valida que la solicitud seleccionada tenga verificadas todas 
              las referencias del cliente.</p>
            <p class="PARRAFO">El formulario muestra los siguientes campos, y adicionalmente 
              con un bot&oacute;n que permite regresar al formulario anterior.</p>
            <p class="TITLE"><img src="../img/SOF_040B11d.PNG"494" height="122"></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Secuencia</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que muestra el n&uacute;mero de la solicitud actual.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Calificaci&oacute;n</p></td>
                <td><p class="PARRAFO">Este 
                    campo contiene un combo con las calificaciones existentes que se encuentran 
                    parametrizadas para el producto de la solicitud, en la opci&oacute;n 
                    Calificaci&oacute;n verificaci&oacute;n referencias de los Par&aacute;metros 
                    de solicitudes por producto.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Observaciones</span></b></p></td>
                <td><p class="PARRAFO">Este 
                    campo acepte caracteres alfanum&eacute;ricos de 2000 posiciones. Puede 
                    ser obligatorio o no, de acuerdo a lo parametrizado para el producto 
                    de la solicitud, en la opci&oacute;n Calificaci&oacute;n verificaci&oacute;n 
                    referencias de los Par&aacute;metros de solicitudes por producto. </p>
                </td>
              </tr>
            </table>
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>