<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Ingreso de solicitudes Crédito
          nuevo </p>

        <p class="PARRAFO">A través de este formulario la entidad captura
          la
          información referente a la solicitud de un nuevo producto como
          cliente
          principal o titular del crédito, y los clientes Adicionales que
          pueda
          llegar a solicitar éste. Inicialmente, el formulario cuenta con
          un
          filtro de búsqueda en la parte superior que traerá
          sólo
          la información de las solicitudes de Crédito nuevo que
          posea
          el cliente consultado.</p>
        <table>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Tipo
                identificación </p>
            </td>
            <td>
              <p class="PARRAFO">En
                este campo se selecciona de una lista de valores, el tipo de
                documento de identificación
                del cliente.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable">
              <p class="SUBTITULO">Número
                identificación </span> </p>
          </td>
          <td>
            <p class="PARRAFO">En
              este campo se debe capturar el número del documento de
              identificación
              del cliente para registrar o consultar una solicitud de
              crédito
              nuevo. Acepta máximo 16 caracteres. </p>
          </td>
        </tr>
      </table>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B.svg"></p>

      <p class="PARRAFO">El formulario contiene los enlaces: Actualizar,
        Eliminar, Adicionar, Detalle, y <a href="SOH_005B4.html">Consultar
          etapas</a>
        en la parte superior. Adicionalmente, existe la opción
        Adicionales
        que sólo se mostrará cuando la solicitud sea de tipo
        Titular
        con adicional. Esta opción conduce al <span class="PARRAFO"><a
            href="SOH_005B5.html">Ingreso
            de Adicionales</a></span> que dependen de un cliente Titular
        nuevo.</p> 

      <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> A
        través
        de esta opción el usuario puede seleccionar qué tipo de
        solicitud
        de crédito nuevo desea crear. Se despliega un formulario
        inicial de
        tres campos:</p>
      <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B3.svg"></p>

      <table>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo</p>
          </td>
          <td>
            <p class="PARRAFO">Campo
              obligatorio de salida que muestra el tipo de solicitud que se
              está ingresando.
              Para este formulario siempre mostrará
              'Crédito nuevo'.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Tipo
              de crédito</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatorio que determina
              el tipo de solicitud de Crédito nuevo a ingresar. Puede
              ser Titular
              con adicionales, Sólo Titular, o Sólo
              Adicional.</p>
          </td>
        </tr>
        <tr>
          <td class="titletable">
            <p class="SUBTITULO">Producto
              solicitado / asignado</p>
          </td>
          <td>
            <p class="PARRAFO">Campo obligatirio en el que a
              través de una lista de valores poblada previamente en la
              opción
              <a href="MEH_002B.html">Definición de productos</a>, se
              selecciona
              el producto (bin, segmento, grupo) que se desea asignar,
              desplegando
              el nombre y la franquicia a la que corresponde. Una vez indicado
              éste,
              se pueblan, automáticamente, varios de los campos del
              siguiente
              formulario.
            </p>
          </td>
        </tr>
      </table>

      <p class="PARRAFO"><span class="PARRAFO">Si el usuario selecciona
          el tipo de crédito nuevo de Titular con adicionales o Solo
          titular, el sistema mostrará el wizard de <a
            href="SOH_005B1.html">Ingreso
            de titulares</a>. Si por el contrario, el usuario selecciona
          ingresar una
          solicitud de crédito nuevo para Solo adicional, o ingresa
          a la opción Adicionales en la parte superior de este
          formulario, el
          sistema desplegará el wizard de <a href="SOH_005B5.html">
            Ingreso de
            Adicionales</a>.</p>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Al activar ese enlace se despliega un
            wizard de
            tres tabs: Información general, Líneas de
            crédito y Documentos.
            Los dos primeron formularios cuentan con los botones Salvar y
            Cancelar, mientras
            que Documentos sólo cuenta con el botón Cancelar
            debido a que
            sus modificaciones se guardan internamente en el mismo
            formulario.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B3a.svg"></p>

          <p class="PARRAFO"><span class="SUBTITULO">Detalle:</span> Si el
            usuario invoca la opción Detalle se despliega el siguiente
            wizard de
            consulta de cuatro pasos: Información general del Titular solo
            o con
            Adicional; Líneas de crédito, Otros plásticos y
            Documentos.
            Los formualrios cuentas con botones de navegación interna en la
            parte
            inferior derecha.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B3b.svg"></p>

          <p class="PARRAFO"><span class="SUBTITULO">Consultar etapas:</span>
            Si el usuario invoca la opción la consulta de etapas se
            despliega el
            siguiente formulario, el cual se va alimentando a medida que la
            solicitud
            avanza de etapa hasta ser Aprobada.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B3c.svg"></p>

          <p class="PARRAFO"><span class="PARRAFO"><a
                href="SOH_005B1.html">Ingreso
                de Titular</a> |</span><span class="PARRAFO"><a
                href="SOH_005B5.html">Ingreso
                de Adicionales</a></span> |
          </span><a href="SOH_005B4.html"><span class="PARRAFO"></span>
            Consultar etapas</a></p>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>