<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Consultar estadísticas</p>

        <p class="PARRAFO">Una vez ejecutado el proceso de Actualización
          estadísticas
          de las solicitudes (la cual se encuentra en el presente
          módulo), se
          alimenta la información correspondiente a la cantidad de
          solicitudes
          realizadas por franquicia, la clase de solicitudes y los tiempos
          promedio
          de permanencia en cada etapa surtida por las solicitudes.</p>
        <p class="PARRAFO">El formulario cuenta con un filtro de búsqueda
          y la
          opción Solicitudes en la parte superior.</p>
        <p class="TITLE"><img src="../img/SOF_024B1.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través
          de las siguientes opciones: </p>
        <p class="TITLE"><img src="../img/SOF_024B2.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Producto</p></td>
            <td><p class="PARRAFO">Campo
                que contiene el &#8220;nombre&#8221; del producto o descriptivo
                que
                los identifica, de acuerdo con lo parametrizado en la
                opción
                Productos, para cuyas tarjetas asociadas se han efectuado las
                distintas
                solicitudes.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Solicitudes:</span> Muestra
          la información asociada a cada solicitud de acuerdo con el tipo
          de
          producto.</p>
        <p class="TITLE"><img src="../img/SOF_024B3.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO"><span>Tipo
                  solicitud </p></td>
            <td><p class="PARRAFO">Campo
                que despliega las diferentes solicitudes asociadas a cada
                producto por
                medio de la opción arámetros.</p></td>
          </tr>
        </table>
        <p class="TITLE"><img src="../img/SOF_024B4.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Etapa
              </p></td>
            <td><p class="PARRAFO">Campos
                que muestran las diferentes etapas que debe surtir cada una de
                las solicitudes
                de acuerdo con lo definido en la opción
                Parámetros.
                Las estadísticas desplegadas se corresponden con cada una
                de
                las etapas que deben surtir las distintas solicitudes.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                de solicitudes</p></td>
            <td><p class="PARRAFO">Cantidad
                de solicitudes que pasaron por cada etapa. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Duración
                promedio </p></td>
            <td><p class="PARRAFO">Determina
                el promedio de días que permaneció cada tipo de
                solicitud
                en determinada etapa.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                de la estadística</p></td>
            <td><p class="PARRAFO">Corresponde
                a la última fecha en la cual se ejecutó el proceso
                de
                <a href="SOH_025B.html">actualización de
                  estadísticas</a>
                mencionado anteriormente.</p></td>
          </tr>
        </table>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>