<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

 <p class="TITLE">Reposición débito</p>


 <p class="PARRAFO">
  A partir de los pasos previos descritos en la opción <a
 href="SOH_006E.html">ingreso de otras solicitudes</a>, se realiza la solicitud que permite reemplazar los plásticos emitidos 
 de tarjeta débito, bien sea por deterioro físico del plástico, o por presentar errores al tratar de leer la banda magnética,
  o por error en el nombre del cliente que aparece realzado en el plástico. A partir de la solicitud de reposición, la entidad
   lleva a cabo la generación de un nuevo plástico calculando o no la fecha de vencimiento del mismo, así como el costo que será
    cargado a la cuenta de depósitos del cliente, de acuerdo con los parámetros que la entidad defina en la opción
 <a href="MEH_002B.html">Definición productos</a>, para lo cual se selecciona el número de la tarjeta débito a reponer, y luego se activa el botón Aceptar:</p>
 <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOH_036E1.PNG"></p>
 <p class="PARRAFO">el sistema despliega el siguiente formulario: </p>
 <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOH_036E2.PNG"></p>
 <p class="TITLE">Descripción de Campos</p>

<table>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Clientes</p>
 </td>
 <td>
 <p class="PARRAFO">Campo no modificable muestra el nombre del cliente titular de la tarjeta débito, haciendo clic sobre el mismo, se accede a los datos de dicho <a href="SCH_002B.html">cliente</a> si se requiere.

 </p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Número de tarjeta
</p>
 </td>
 <td>
 <p class="PARRAFO">Campo no modificable que ilustra el número de la <a href="DBH_001B.html">tarjeta débito</a> (enmascarado - si aplica) desde el cual, haciendo clic sobre el mismo permite conocer los datos de la misma.</p>
 </td>
</tr>
<tr>
  <td class="titletable">
  <p class="SUBTITULO">Producto
 </p>
  </td>
  <td>
  <p class="PARRAFO">Campos de salida desplegados por el sistema una vez ingresado el número de tarjeta asociado a la solicitud, permitiendo conocer el Bin, Segmento, Grupo de afinidad y Descripción, que conforman el producto del plástico actual.</p>
  </td>
 </tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Marca</p>
 </td>
 <td>
 <p class="PARRAFO">Campo de salida que ilustra la franquicia asociada al <a
  href="MEH_002B.html">producto</a>, previa vinculación con el Bin a través del formulario <a
  href="MEH_002B.html"> Definición de bines.</a></p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Fecha vencimiento</p>
 </td>
 <td>
 <p class="PARRAFO">Campo de salida que en formato DD-MM-YYYY muestra la fecha en que expira el plástico actual
 de la tarjeta.</p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Emite plástico</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 que posee lista de valores adjunta de la que debe seleccionarse entre <i>Si</i>
 se emite plástico o <i>No</i>.Elpoder interactuar con este campo depende
 del valor que tenga el campo <i>Posee plástico</i>.</p>
 </td>
</tr>
<tr>
  <td class="titletable">
  <p class="SUBTITULO">Posee plástico</p>
  </td>
  <td>
  <p class="PARRAFO">Campo
  que ilustra lo parametrizado a nivel de <i><a
  href="MEH_002B.html">Definición productos</a></i> asociado a la
  tarjeta por medio de la que se realiza la solicitud. Si el campo aparece como
  activo o señalado permite interactuar con el siguiente campo <i
  >Emite plástico</i>. </p>
  </td>
 </tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Motivo reposición</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 que posee lista de valores adjunta de la que debe seleccionarse entre <i>Deterioro</i>,
 <i>Banda (magnética)</i> o <i>Nombre</i> y de esa manera establecer la razón
 de ser de la solicitud.</p>
 </td>
</tr>
<tr>
  <td class="titletable">
  <p class="SUBTITULO">Tarjeta chip</p>
  </td>
  <td>
  <p class="PARRAFO">Campo tipo chekbox, permite marcar si la nueva tarjeta a emitir debe contener ese dispositivo o tecnología.</p>
  </td>
 </tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Primer nombre/Segundo nombre</p>
 </td>
 <td>
 <p class="PARRAFO">Campos
 de salida que contienen los datos de primer y segundo nombres registrados
 para la tarjeta.</span></p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Primer apellido</p>
 <p class="SUBTITULO">Segundo apellido</p>
 </td>
 <td>
 <p class="PARRAFO">Campos
 de salida que contienen los datos de primer y segundo apellidos registrados
 para la tarjeta.</span></p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Realce actual</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 de salida que ilustra el nombre del cliente tal y como aparece en el plástico
 actual a reponer.</p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Realce nuevo</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 que se activa si la opción señalada en el campo <i>Motivo reposición</i>
 corresponde a <i>Nombre</i>, y permite registrar el nombre del cliente como
 éste desee que aparezca en el nuevo plástico a emitir, teniendo en cuenta la
 longitud máxima del mismo. </p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Anexos</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 que permite ingresar información relacionada con la solicitud, referente a
 documentos suministrados por el cliente u otros datos.</p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Motivo rechazo</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 de salida que contiene datos, solamente, cuando la solicitud es negada,
 ypermite conocer la razón
 correspondiente. </p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Número tarjeta</p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 de salida que despliega el nuevo número de tarjeta asignado por el sistema,
 para cuando se emite plástico.</p>
 </td>
</tr>
<tr>
 <td class="titletable">
 <p class="SUBTITULO">Fecha vencimiento </p>
 </td>
 <td>
 <p class="PARRAFO">Campo
 de salida que ilustra la fecha en que expira el nuevo plástico generado por
 el sistema, si el tipo de solicitud lo requiere.</p>
 </td>
</tr>
</table>


      </div>
      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>