<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
</head>

<body>
    <header>
        <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img loading="lazy" rel="preload"  class="TITLE"  src= "../img/menu.svg" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Solicitudes por etapa - Verificación referencias</p>
                    
            <p class="PARRAFO"><span class="SUBTITULO">Detalle referencia:</span>  A través 
              de esta opción se lleva control de las referencias que el cliente tiene 
              registradas en el sistema.</p>
            <p class="PARRAFO">El formulario cuenta con la opción Actualizar, y adicionalmente 
              con un botón que permite regresar al formualrio anterior.</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_040B11b.svg"609" ></p>
            
            <p class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  Si el usuario invoca la opción 
              Actualizar se despliega un formulario con los siguientes campos<span 
        >:</p>
            <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_040B11c.svg"268" ></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Tipo referencia </p></td>
                <td><p class="PARRAFO">Campo de salida que muestra el tipo de referencia configurado en la consulta del cliente al cual pertenece la solicitud. </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Teléfono</p></td>
                <td><p class="PARRAFO">Campo de salida que muestra el tipo teléfono de la referencia. </p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Nombre</p></td>
                <td><p class="PARRAFO">Campo de salida que muestra el nombre de la referencia configurado en la consulta del cliente al cual pertenece la solicitud. </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Cargo</p></td>
                <td><p class="PARRAFO">Campo 
                    alfanumérico opcional de 60 caracteres, en el cual se indica 
                    el tipo de cargo.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Observaciones</p></td>
                <td><p class="PARRAFO">Este 
                    campo permite ser actualizado y admite cualquier dato alfanumérico 
                    de máximo 2000 caracteres, acepta mayúsculas y minúsculas.
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Referencia verificada </p></td>
                <td><p class="PARRAFO">El 
                    campo Referencia verificada, debe proveer un combo con las opciones 
                    (Sí, No).</p></td>
              </tr>
            </table>
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>