<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Generación autom&aacute;tica de tarjetas de emergencia</p>
                  </div></td>
              </tr>
            </table>
            <p  class="PARRAFO">Este formulario tipo wizard de dos p&aacute;ginas, 
              se invoca desde la opci&oacute;n <a href="SOH_029B.html" >generaci&oacute;n 
              tarjetas de emergencia</a>, cuando en el campo Administraci&oacute;n 
              tarjetas emergencia, de la opci&oacute;n <A href="NUH_055B.html" >Par&aacute;metros 
              operativos</A> se ha definido como valor 'Autom&aacute;tica, le permite 
              a la entidad hacer la generaci&oacute;n de los n&uacute;meros de tarjeta requeridos 
              para los diferentes bines.</p>
            <p  class="PARRAFO">Para tal fin, el sistema revisa el n&uacute;mero 
              de tarjetas de emergencia parametrizados para cada <a href="MEH_001B.html" >bin</a> 
              y lo compara contra la cantidad de tarjetas actuales no asignadas determinando 
              as&iacute; cuantos nuevos n&uacute;meros de tarjetas de emergencia debe crear 
              para el respectivo bin. </p>
            <p  class="PARRAFO">En la primera p&aacute;gina del wizard, el sistema 
              despliega todos los bines existentes y le permite al usuario marcar aquellos 
              para los que desea ejecutar el proceso de generaci&oacute;n autom&aacute;tica.</p>
            <p class="TITLE"><img src="../img/SOF_028E.PNG"502" height="404"></p>
            
            <p  class="TITLE">Descripción de campos</p>
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>Bin
                    </b></p></td>
                <td><p  class="PARRAFO">Campo 
                    que muestra el c&oacute;digo de los diferentes bines parametrizados 
                    para los cuales es posible generar tarjetas de emergencia.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>Descripci&oacute;n
                    </b></p></td>
                <td><p  class="PARRAFO">Despliega 
                    la descripci&oacute;n de cada uno de los bines<b>.</b></p></td>
              </tr>
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Tarjetas 
                    de emergencia reservadas
                   
                   
                    </b></p></td>
                <td><p  class="PARRAFO">Contiene 
                    el n&uacute;mero m&aacute;ximo de tarjetas de emergencia que de acuerdo 
                    con los par&aacute;metros del <a href="MEH_001B.html" >bin</a>, 
                    se pueden generar para el respectivo bin.</p></td>
              </tr>
              <tr> 
                <td class="titletable" ><p class="SUBTITULO"><b>Selecci&oacute;n
                   
                   
                    </b></p></td>
                <td><p  class="PARRAFO">En 
                    este check se marcan aquellos bines para los cuales se desea generar 
                    n&uacute;meros de tarjetas de emergencia.</p></td>
              </tr>
            </table>
 
              <p class="PARRAFO">Una vez seleccionados los bines, el usuario se desplaza a 
                la segunda p&aacute;gina del wizard donde por medio del bot&oacute;n finalizar 
                el sistema genera los nuevos n&uacute;meros de tarjeta de emergencia de acuerdo 
                con lo indicado anteriormente.</p>
 
            <p class="TITLE"><img src="../img/SOF_028E1.PNG"436" ></p>
            
            <p  class="PARRAFO">Despu&eacute;s de finalizado el proceso, 
              al regresar al formulario <a href="SOH_029B.html" >Tarjetas 
              de emergencia</a> el usuario podr&aacute; consultar los n&uacute;meros 
              de tarjetas de emergencia generadas para cada bin.</p>
            <div  class="PARRAFO">
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>