<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div>
            <table width="100%">
                <tr>
                    <td>
                        <div>
                            <p class="TITLE">Actualizar estadísticas de solicitudes</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n la entidad actualiza la informaci&oacute;n
                estad&iacute;stica tanto por franquicia como por tipo de solicitud y tipo
                de producto, generando informaci&oacute;n correspondiente a la cantidad de
                solicitudes realizadas y los promedios de duraci&oacute;n de dichas solicitudes
                en cada etapa.</p>
            <p class="PARRAFO">El sistema despliega el siguiente formulario:</p>

            <p class="TITLE"><img src="../img/SOF_025B.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO"><b><span>Franquicia</span></b></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo obligatorio que posee lista de valores poblada a trav&eacute;s de la
                            opci&oacute;n
                            Franquicias, de la que debe seleccionarse aquella para la que se desee
                            actualizar las estad&iacute;sticas de solicitudes.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO"><b><span>Archivo
                                    log </span></b></p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo obligatorio en el que la
                            entidad asigna un nombre cualquiera a dicho archivo y este quedar&aacute;
                            ubicado en el servidor, en la ruta que haya definido la misma a trav&eacute;s
                            de la opci&oacute;n Ubicaci&oacute;n archivos.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Aceptar:</span>
                Luego de que el funcionario de la entidad est&eacute; seguro de realizar
                la tarea de actualizaci&oacute;n oprime este bot&oacute;n para su respectiva
                ejecuci&oacute;n. </p>

            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Total registros:</span> Luego de efectuada
                    la
                    ejecuci&oacute;n, aparecer&aacute;
                    la cantidad de registros de solicitudes existentes en el sistema a la fecha
                    de actualizaci&oacute;n.</span></p>

    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>