<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Generación manual de tarjetas de emergencia</p>

        <p class="PARRAFO">Este formulario tipo wizard de dos páginas,
          se invoca desde la opción <a
            href="SOH_029B.html">generación
            tarjetas de emergencia</a>, cuando en el campo Administración
          tarjetas emergencia, de la opción <a
            href="NUH_055B.html">Parámetros
            operativos</a> se ha definido como valor Manual, le permite
          a la entidad hacer la generación de los números de
          tarjeta requeridos
          para los diferentes bines.</p>
        <p class="PARRAFO">Cada vez que se va a generar un número
          de emergencia manual, el sistema revisa la cantidad de tarjetas de
          emergencia
          parametrizados para cada <a href="MEH_001B.html">bin</a>
          y lo compara contra la cantidad de tarjetas actuales no asignadas para
          determinar
          si debe o no permitir la inserción del registro.</p>

        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_030E.PNG"></p>

        <p class="TITLE">Descripción de campos</p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Bin
              </p></td>
            <td><p class="PARRAFO">Campo
                obligatorio con lista de valores de la cual se selecciona el <a
                  href="MEH_001B.html">bin</a>
                para el que se desea generar un número de tarjeta de
                emergencia.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Complemento
                de la tarjeta
              </p></td>
            <td><p class="PARRAFO">En
                este campo obligatorio, de longitud variable, se digita el
                número
                que conjuntamente con el bin y el dígito de chequeo
                calculado
                por el sistema van a conformar el nuevo número de tarjeta
                de
                emergencia a generar. El sistema valida la longitud del
                número
                de tarjeta y le resta la longitud del bin y la del dígito
                de
                chequeo para determinar cuantos dígitos hacen falta para
                completar
                el número de la tarjeta.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Número
                de la tarjetas de emergencia

              </p></td>
            <td><p class="PARRAFO">Campo obligatorio. Una
                vez ingresado el bin y el complemento, el sistema calcula el
                dígito
                de chequeo y despliega en este campo el nuevo número de
                tarjeta
                de emergencia.</p></td>
          </tr>
        </table>

        <p class="PARRAFO">Después de ingresados los datos y al grabar el
          registro,
          el sistema valida que el nuevo número a generar no sea igual
          con el
          de ninguna otra tarjeta de emergencia, ni con el de cualquiera de las
          tarjetas
          existentes en la base de datos. Una vez que finaliza el proceso, al
          regresar
          al formulario <a href="SOH_029B.html">Tarjetas de emergencia</a>
          el usuario podrá consultar el nuevo número de tarjetas
          de emergencia
          generado para el bin.</p>
      </div>
      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>