<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div>
            
            <p class="TITLE">Actualizar estadísticas de solicitudes</p>
                    
            <p class="PARRAFO">Mediante esta función la entidad actualiza la información
                estadística tanto por franquicia como por tipo de solicitud y tipo
                de producto, generando información correspondiente a la cantidad de
                solicitudes realizadas y los promedios de duración de dichas solicitudes
                en cada etapa.</p>
            <p class="PARRAFO">El sistema despliega el siguiente formulario:</p>

            <p class="TITLE"><img src="../img/SOF_025B.PNG"></p>

            <table>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Franquicia</p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo obligatorio que posee lista de valores poblada a través de la
                            opción
                            Franquicias, de la que debe seleccionarse aquella para la que se desee
                            actualizar las estadísticas de solicitudes.</p>
                    </td>
                </tr>
                <tr>
                    <td class="titletable">
                        <p class="SUBTITULO">Archivo
                                    log </p>
                    </td>
                    <td>
                        <p class="PARRAFO">Campo obligatorio en el que la
                            entidad asigna un nombre cualquiera a dicho archivo y este quedará
                            ubicado en el servidor, en la ruta que haya definido la misma a través
                            de la opción Ubicación archivos.</p>
                    </td>
                </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Aceptar:</span>
                Luego de que el funcionario de la entidad esté seguro de realizar
                la tarea de actualización oprime este botón para su respectiva
                ejecución. </p>

            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Total registros:</span> Luego de efectuada
                    la
                    ejecución, aparecerá
                    la cantidad de registros de solicitudes existentes en el sistema a la fecha
                    de actualización.</p>

    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>