<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Parámetros de solicitudes - Funcionarios </p>

        <p class="PARRAFO"><span class="SUBTITULO">Funcionarios:</span>
          Formulario que
          permite determinar a qué productos de la entidad puede cada <a
            href="NUH_045B.html">Funcionario</a>
          asignar manualmente cupos o modificar el asignado
          automáticamente por
          el sistema.</p>
        <p class="PARRAFO">El formulario contiene la opción
          Parámetros
          producto. Adicionalmente, cuenta con un filtro de búsqueda y un
          botón
          en la parte superior para volver al <a href="SOH_001B.html">formulario
            principal</a>.</p>
        <p class="TITLE"><img src="../img/SOF_001B10.PNG"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través
          de los siguientes campos: </p>
        <p class="TITLE"><img src="../img/SOF_001B9.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Código</p></td>
            <td><p class="PARRAFO">Campo
                numérico de cinco posiciones, en el cual se registra el
                código
                que identifica a cada funcionario.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Nombre</p></td>
            <td><p class="PARRAFO">En
                este campo alfanumérico de 30 posiciones, se registra el
                nombre
                del funcionario a buscar.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Usuario</p></td>
            <td><p class="PARRAFO">Campo
                en el que se puede digitar el usuario asignado al funcionario a
                ser
                buscado. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Estado</p></td>
            <td><p class="PARRAFO">Campo
                que posee lista de valores adjunta en la que se debe seleccionar
                si se deja el campo Nulo, si
                el funcionario está Activo, Inactivo, Retirado o
                Suspendido.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="SUBTITULO">Parámetros producto:</span> Formulario
          que
          despliega todos los Productos para los cuales el <a
            href="NUH_045B.html">Funcionario</a>
          tiene atribuciones.</p>
        <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, y
          Adicionar. Adicionalmente,
          cuenta con un filtro de búsqueda y un botón en la parte
          superior
          para volver al formulario anterior.</p>
        <p class="TITLE"><img src="../img/SOF_001B12.PNG"></p>
        <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a
          través
          de los siguientes campos: </p>
        <p class="TITLE"><img src="../img/SOF_001B11.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Bin</p></td>
            <td><p class="PARRAFO">Campo
                numérico de ocho dígitos que permite realizar
                búsqueda
                por Bin.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Producto</p></td>
            <td><p class="PARRAFO">Campo
                numérico de tres dígitos que permite realizar
                búsqueda
                por Producto.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p
                class="SUBTITULO"><span>Grupo</p></td>
            <td><p class="PARRAFO">Campo
                numérico de ocho dígitos que permite realizar
                búsqueda
                por Grupo de afinidad.</p></td>
          </tr>
        </table>
        .<p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca la
          opción
          Adicionar se despliega un formulario con los siguientes
          campos<span>:</p>
        <p class="TITLE"><img src="../img/SOF_001B13.PNG"></p>
        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Producto</p></td>
            <td><p class="PARRAFO">Campo obligatorio que contiene una lista
                de valores que muestra los datos parametrizados en la
                Definición
                de productos.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Cupo
                autorizado </p></td>
            <td><p class="PARRAFO">Campo
                numérico obligatorio de máximo doce (12) enteros y
                dos
                (2) decimales, que determina el m&agrave;ximo de cupo asignado
                que el
                funcionario puede ingresar o modificar en las solicitudes.
              </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Permite
                forzar cupo por encima</p></td>
            <td><p class="PARRAFO">Campo
                de marca que determina si el funcionario está autorizado
                para
                forzar cupos con esta condición.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Permite
                forzar cupo por debajo</p></td>
            <td><p class="PARRAFO">Campo
                de marca que determina si el funcionario está autorizado
                para
                forzar cupos con esta condición.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Si el usuario invoca la opción Actualizar se despliega un
            nuevo formulario
            en el cual los únicos campos modificables son: Cupo
            autorizado, Permite
            forzar cupo por encima, y Permite forzar cupo por debajo.</p>
        <p class="TITLE"><img src="../img/SOF_001B14.PNG"></p>

        <p class="PARRAFO"><span class="PARRAFO"><a href="SOH_001B.html">Formulario
              principal</a> |</span><span class="PARRAFO"><a
              href="SOH_001B1.html">Filtros</a></span>
          |<span></span><a href="SOH_005B4.html"><span class="PARRAFO"></span>
          </a><a href="SOH_001B3.html">Calificación</a><span
            class="PARRAFO">|</span>
          <span class="PARRAFO"><a href="SOH_001B4.html">Negación</a> |
            <a href="SOH_001B5.html">Variables cupo</a><span
              class="PARRAFO">|</span>
            <span class="PARRAFO"><a href="SOH_001B6.html">Globo de
                loc</a></span></span><a
            href="SOH_001B6.html">alización</a></p>

    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>