<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
   <div id="menuContainer"></div>
    <script>
      fetch('menu.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('menuContainer').innerHTML = html;
        });
    </script>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Par&aacute;metros solicitudes por producto</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Filtros negaci&oacute;n:</span>  Conjunto 
              de campos que permiten determinar los filtros de negaci&oacute;n que efectivamente 
              aplican para cada etapa y a pesar de ser negadas o detectadas por el filtro 
              puede permitirse el paso a la siguiente etapa.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, tiene un bot&oacute;n en la parte superior para 
              volver al formulario anterior: <a href="SOH_001B7b.html">Etapas</a>.</p>
            <p class="TITLE"><img src="../img/SOF_001B37.PNG"472" height="225"></p>
            
            <p  class="PARRAFO"><span class="SUBTITULO">Adicionar:</span>  Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<span 
        >:</span></p>
            <p class="TITLE"><img src="../img/SOF_001B38.PNG"421" ></p>
            
            <table>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Filtro</p></td>
                <td><p class="PARRAFO">Campo 
                    que posee lista de valores poblada en el tab del mismo nombre de &eacute;sta 
                    opci&oacute;n del men&uacute;, de la que puede seleccionarse para la 
                    mayor&iacute;a de las etapas los que efectivamente van a aplicarse.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Permite 
                    pasar siguiente etapa</p></td>
                <td><p class="PARRAFO">En 
                    este campo se determina si a pesar de que una solicitud sea negada o 
                    detectada por cualquiera de los filtros, dicha solicitud pase a la siguiente 
                    etapa o no.</p></td>
              </tr>
            </table>

            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span>  
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual el &uacute;nico campo modificable es: Permite pasar siguiente etapa.</span></p>
            <p class="TITLE"><img src="../img/SOF_001B39.PNG"407" ></p>
           
           
            <p><a href="SOH_001B7.html">Solicitudes</a><span
              ><b> | </b></span><a href="SOH_001B7c.html">Cupos 
              extendidos</a><b><span > | </span></b><a href="SOH_001B7d.html">Relaciones 
              laborales</a><span
              ><b> | </b></span><a href="SOH_001B7e.html">Cupos 
              m&iacute;n y m&aacute;x por rango</a><b><span > 
              <b>|</b></span></b><span ></span><a href="SOH_001B7f.html">Copiar 
              par&aacute;metros</a><span ></span></p>
            
        </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>