<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Solicitudes por etapa - Aprobaci&oacute;n</p>
                    
            <p class="PARRAFO"><span class="SUBTITULO">Resumen:</span>  Este formulario corresponde 
              al tercer paso del wizard, en &eacute;l se muestran las solicitudes que fueron 
              marcadas en el paso anterior - <a href="SOH_040B7a.html" >Solicitudes</a>.</p>
            <p class="PARRAFO">A trav&eacute;s de la opci&oacute;n Detalle de la parte superior, 
              se puede consultar la solicitud seleccionada. Adicionalmente, se puede consultar 
              el detalle del cliente por medio del v&iacute;nculo ubicado en la Identificaci&oacute;n 
            del solicitante. Por &uacute;ltimo, cuando se trata de una solicitud de Principal con adicional se mostrar&aacute; la opci&oacute;n Adicionales en la parte superior, la cual invoca el detalle de este tipo de solicitudes.</p>
            <p class="TITLE"><img src="../img/SOF_040B18.PNG"613" ></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Fecha 
                    ingreso </p></td>
                <td><p class="PARRAFO">Muestra 
                    la fecha en la cual se grab&oacute; la solicitud.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Secuencia</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el n&uacute;mero consecutivo asignado por el sistema 
                    y que permite diferenciar e identificar las solicitudes.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Tipo 
                    solicitud</span></p></td>
                <td><p class="PARRAFO">Muestra 
                    el tipo de solicitud a tramitar en el formulario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Tipo 
                    cr&eacute;dito nuevo</span></p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que identifica qu&eacute; tipo de cliente o clientes aplican 
                    para la solicitud de Cr&eacute;dito nuevo. Puede ser Titular 
                    con adicional, Solo titular, o Solo Adicional.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Estado</span></p></td>
                <td><p class="PARRAFO">Indica 
                    la condici&oacute;n en que se encuentra la solicitud al arribar a esta 
                    etapa, las cuales pueden ser: En zona gris, Negada totalmente, Negada 
                    parcialmente, Aprobada totalmente o Aprobada parcialmente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Identificaci&oacute;n 
                    solicitante </span></p></td>
                <td><p class="PARRAFO">Contiene 
                    tanto el tipo de documento como el n&uacute;mero del mismo, que identifica 
                    al solicitante.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Nombre 
                    </p></td>
                <td><p class="PARRAFO">Despliega 
                    el nombre del solicitante.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Remover</p></td>
                <td><p class="PARRAFO">Las 
                    solicitudes que sean seleccionadas con este campo, ser&aacute;n omitidas 
                    en las acciones que se tomen en el formulario.</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">El formulario cuenta con botones en la parte inferior izquierda, 
              a trav&eacute;s de los cuales se pueden tomar acciones que afectan a la totalidad 
              de las solicitudes que se encuentran filtradas. Estas acciones aplican para 
              todas las solicitudes del formulario, omitiendo a aquellas que se encuentren 
              seleccionadas en la columna Remover.</p>
            <table width=715 height="114"  >
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Aprobar%20solicitud%202.PNG"46" ></p></td>
                <td><p class="PARRAFO">Aprobar 
                    solicitud: Funcionalidad que permite pasar las solicitudes a la 
                    siguiente etapa siempre y cuando cumplan con los requisitos necesarios 
                    acorde con los par&aacute;metros definidos; en caso contrario la solicitud 
                    ser&aacute; negada.
                  </p></td>
              </tr>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Negar%20solicitud%202.PNG"46" ></p></td>
                <td><p class="PARRAFO">Negar 
                    solicitud: Funcionalidad que permite denegar totalmente, de forma 
                    manual, todas las solicitudes.
                  </p></td>
              </tr>
            </table>
            <table width=715   >
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Retro%20etapa%202.PNG"46" ></p></td>
                <td  class="PARRAFO" >Retroceder 
                    etapa para solicitud: Permite  retornar las solicitudes ubicadas en el formulario, omitiendo aquellas que tengan seleccionada la columna Remover. Si la solicitud ya ha sido aprobada o negada   totalmente, no permite su retroceso.</td>
              </tr>
            </table>
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>