<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.svg" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.svg" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.svg" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>
        <p class="TITLE">Parámetros de solicitudes - Calificación
        </p>

        <p class="PARRAFO"><span class="SUBTITULO">Calificación:</span>
          Formulario
          que muestra el código y nombre de las franquicias autorizadas y
          licenciadas,
          para las cuales se definen los rangos de calificación del
          scoring que
          dejarán la solicitud en zona gris; aquellas solicitudes que
          obtengan
          una calificación inferior a la mínima serán
          negadas,
          y las que obtengan una calificación superior a la máxima
          serán
          aprobadas.</p>
        <p class="PARRAFO">El formulario contiene la opción
          Calificación
          y un botón en la parte superior para volver al <a
            href="SOH_001B.html">formulario
            principal</a>.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_001B15.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Calificación:</span> El
          formulario
          contiene
          las opciones Actualizar, Eliminar, y Adicionar. Adicionalmente, cuenta
          en
          la parte superior con un botón para volver al formulario
          anterior.</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_001B15a.svg"></p>

        <p class="PARRAFO"><span class="SUBTITULO">Adicionar:</span> Si el
          usuario invoca la
          opción
          Adicionar se despliega un formulario con los siguientes
          campos:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_001B16.svg"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Fecha
                inicio </p></td>
            <td><p class="PARRAFO">Este
                campo acepta cualquier fecha en el formato correspondiente. No
                puede
                ser nulo. El sistema controla que una misma fecha se pueda
                parametrizar
                para diferentes marcas, pero para una misma marca no acepta la
                misma
                fecha más de una vez</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Calificación
                mínima zona gris</p></td>
            <td><p class="PARRAFO">El
                campo Calificación mínima zona gris, acepta
                cualquier
                dato numérico de máximo cinco (5) dígitos.
                No puede
                ser nulo. </p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Calificación
                máxima zona gris</p></td>
            <td><p class="PARRAFO">El
                campo Calificación máxima zona gris, acepta
                cualquier
                dato numérico de máximo cinco (5) dígitos.
                No puede
                ser nulo. El sistema controla que el valor de este campo sea
                igual o
                mayor al valor de Calificación mínima zona
                gris</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Máximo
                puntaje </p></td>
            <td><p class="PARRAFO">El
                campo Máximo puntaje, acepta cualquier dato
                numérico de
                máximo cinco (5) dígitos. No puede ser nulo. El
                sistema
                controla que el valor del Máximo puntaje sea igual o
                mayor al
                valor de Calificación máxima zona gris.</p></td>
          </tr>
        </table>

        <p class="PARRAFO"><span class="PARRAFO"><span
              class="SUBTITULO">Actualizar:</span>
            Al activar ese enlace se despliega un formulario
            en el cual los únicos campos modificables son:
            Calificación
            mínima zona gris, Calificación máxima zona
            gris, y Máximo
            puntaje.</p>
          <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_001B17.svg"></p>

          <p class="PARRAFO"><span class="PARRAFO"><a
                href="SOH_001B.html">Formulario
                principal</a> |</span><span class="PARRAFO"><a
                href="SOH_001B1.html">Filtros</a>
              |</span><a href="SOH_001B2.html">Funcionarios</a><span
              class="PARRAFO">|</span>
            <span class="PARRAFO"><a href="SOH_001B4.html">Negación</a>
              |
            </span><a href="SOH_005B4.html"><span class="PARRAFO"></span>
            </a><a href="SOH_001B5.html">Variables cupo</a><span
              class="PARRAFO">|</span>
            <span class="PARRAFO"><a href="SOH_001B6.html">Globo de
                localización</a></span></p>

        </section>
        <script src="../js/menu.js"></script>

        <div id="footerContainer"></div>
        <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
      </body>

    </html>