<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Par&aacute;metros solicitudes por producto</p>

        <p class="PARRAFO"><span class="SUBTITULO">Localizaci&oacute;n:</span>
          <span class="PARRAFO">Este
            formulario de dos campos permite ingresar los par&aacute;metros de
            derogatorio
            de solicitudes. Adicionalmente, cuenta con un bot&oacute;n en la
            parte superior
            para volver al <a href="SOH_001B7.html">formulario
              principal</a>.</p>
        <p class="PARRAFO">Estos campos permiten determinar si el sistema
          muestra un
          mensaje de advertencia al tratar de grabar una solicitud de un cliente
          en
          derogatorio, o si definitivamente el sistema debe mostrar error y no
          permitir
          grabar nada de la nueva solicitud.</p>

        <p class="TITLE"><img src="../img/SOF_001B31.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Consulta
                Identificaci&oacute;n Clinton</p></td>
            <td><p class="PARRAFO">Si
                se selecciona este campo (hace referencia a la
                identificaci&oacute;n
                del cliente en la lista de derogatorio de cedulas), el
                aplicativo presentar&aacute;
                un mensaje en la opci&oacute;n de Ingreso de solicitudes que
                indica
                que el documento esta en derogatorio de cedulas y por lo tanto
                no desplegar&aacute;
                la opci&oacute;n de ingreso de solicitudes. Esta
                verificaci&oacute;n
                la realiza independientemente que se haya marcado el
                par&aacute;metro
                o no.</p>
              <p class="PARRAFO">En otras solicitudes donde la validaci&oacute;n
                no
                se hace desde el ingreso de solicitudes el aplicativo
                desplegar&aacute;
                un mensaje de error si se ha marcado error en el
                par&aacute;metro, el
                cual no permite guardar la solicitud o por el contrario si se
                selecciona
                un mensaje de advertencia el aplicativo informar&aacute; que el
                documento
                del cliente se encuentra en derogatorio de c&eacute;dulas pero
                permitir&aacute;
                seguir llenando la solicitud. </p>
              <p class="PARRAFO">Nota: El aplicativo realizar&aacute; la
                validaci&oacute;n
                primero por el N&uacute;mero de identificaci&oacute;n y luego
                por el
                Nombre. Adicionalmente se debe tener en cuenta que si no se ha
                marcado
                ningun par&aacute;metro el aplicativo no realiza las
                validaciones.</p>
            </td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Consulta
                Nombre Clinton</p></td>
            <td><p class="PARRAFO">Si
                se selecciona este campo (hace referencia al nombre del cliente
                que
                se encuentra en la lista de derogatorio de cedulas), el
                aplicativo realizar&aacute;
                la validaci&oacute;n al momento de ingresar al momento de
                ingresar informaci&oacute;n
                en la solicitud (despu&eacute;s de haber realizado la
                validaci&oacute;n
                por numero de documento de identificaci&oacute;n). Si se
                selecciona
                Error, el aplicativo desplegar&aacute; un mensaje de error el
                cual no
                permite guardar la solicitud o por el contrario si se selecciona
                un
                mensaje de advertencia el aplicativo informar&aacute; que el
                cliente
                se encuentra en derogatorio de cedulas pero permitir&aacute;
                seguir
                llenando la solicitud.</p></td>
          </tr>
        </table>

        <p><a href="SOH_001B7b.html">Etapas</a><span> | </span><a
            href="SOH_001B7c.html">Cupos
            extendidos</a><span> | </span><a href="SOH_001B7d.html">Relaciones
            laborales</a><span> | </span><a href="SOH_001B7e.html">Cupos
            m&iacute;n y m&aacute;x por rango</a><span>
            |</span><span></span><a href="SOH_001B7f.html">Copiar
            par&aacute;metros</a></p>

      </section>
      <script src="../js/menu.js"></script>

      <div id="footerContainer"></div>
      <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
    </body>

  </html>