<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpencardWeb®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
  </head>

  <body>
    <header>
      <img loading="lazy" rel="preload"  class="logo" src="../img/logoBankbu_.webp" alt="Logo de Mi Empresa">
      <div id="menuBtn">
        <img loading="lazy" rel="preload"  class="TITLE" src="../img/menu.PNG" alt="Botón de Menú ">
      </div>
    </header>
    <div id="menuContainer"></div>
    <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
      <div>

        <p class="TITLE">Ingreso de solicitudes Crédito
          nuevo - Titular</p>

        <p class="PARRAFO"><span class="SUBTITULO">Líneas de
            crédito:</span>
          Segundo paso del wizard que contiene los siguientes campos a
          diligenciar:</p>
        <p class="TITLE"><img loading="lazy" rel="preload"  src="../img/SOF_003B11.PNG"></p>

        <table>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Línea
                de crédito
              </p></td>
            <td><p class="PARRAFO">Campo
                que despliega las líneas de crédito parametrizadas
                en
                la <a href="MEH_002B.html">Definición de
                  productos</a>.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Moneda
              </p></td>
            <td><p class="PARRAFO">Campo
                de salida que ilustra la moneda en la que se expresan los saldos
                de
                cada una de las líneas de crédito.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Modo
                uso</p></td>
            <td><p class="PARRAFO">Campo
                de salida que indica si la línea de crédito es
                Principal,
                Dependiente, Independiente o Especial, lo que determina si se
                puede
                borrar o no en la solicitud, así como la relación
                entre
                los cupos a estas asignado.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Solicita</p></td>
            <td><p class="PARRAFO">Campo
                que permite se&ntilde;alar si se solicita cupo para la
                línea
                o no, la cual también se puede borrar, excepto la
                línea
                principal.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Cupo
                asignado</p></td>
            <td><p class="PARRAFO">Este
                campo es alimentado automáticamente por el sistema con el
                mismo
                monto del valor solicitado, cuando los <a
                  href="SOH_001B.html">parámetros</a>
                de la solicitud indican que ésta no pasará por la
                etapa
                de evaluación. Si se ha marcado que no se solicita la
                línea
                y si se ingresa algún valor para lineas de credito en
                cupo asignado,
                el sistema asignará cero por defecto. Por otro lado si la
                linea
                se ha marcado como solicitada el aplicativo exige que por lo
                menos se
                diligencie el valor del cupo de la línea principal.</p>
              <p class="PARRAFO">Nota: Si se esta ingresando una solicitud
                titular con
                adicionales y
                si el producto tiene definido que la tarjeta principal emite
                plástico,
                entonces será obligatorio que se defina el cupo asignado
                para
                la tarjeta principal, de lo contrario este cupo puede ser
                cero.</p></td>
          </tr>
          <tr>
            <td class="titletable"><p class="SUBTITULO">Cupo
                solicitado</p></td>
            <td><p class="PARRAFO">Campo
                que contiene el monto solicitado por cada línea. El
                sistema controla
                que dicho cupo no supere el valor máximo parametrizado en
                las
                Líneas crédito de la <a
                  href="MEH_002B.html">Definición
                  de productos</a> y que la sumatoria de estas tampoco exceda el
                cupo
                máximo por producto. Si se ha marcado que no se solicita
                la línea
                y si se ingresa algún valor para lineas de credito en
                cupo solicitado,
                el sistema asignará cero por defecto. Por otro lado si la
                línea
                se ha marcado como solicitada, el sistema permite que tanto la
                línea
                principal como las demás queden en cero si el usuario asi
                lo
                prefiere, en este caso el aplicativo exigirá que la
                línea
                principal tenga algún valor así sea cero.</p></td>
          </tr>
        </table>
        <p class="PARRAFO">El formulario cuenta con tres botones en la parte
          inferior derecha:
          Atrás,
          Cancelar, para <a href="SOH_003B.html">volver al formulario
            inicial</a>
          del ingreso de solicitudes, y Avanzar al siguiente paso del
          wizard.</p>

        <p class="PARRAFO"><a href="SOH_005B1.html">Información
            general</a> | </span> <a href="SOH_005B3.html">Documentos</a>
        |</span><a href="SOH_005B4.html"><span class="PARRAFO"></span>
        Consultar etapas</a><span class="PARRAFO">|</span> <span
        class="PARRAFO"><a href="SOH_005B5.html">Ingreso
          de Adicionales</a></p>
    </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
    <script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
  </body>

</html>