<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Procesos</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden; display: none;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                    <li><a href="MEH_032B.html">Lealtad</a></li>
                    <li><a href="COH_064B.html">Cobranzas</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li></ul>
    </nav>

    <section>
        <div> 
            <table>
              <tr> 
                <td><div> 
                    <p  class="TITLE">Solicitudes por etapa - Asignaci&oacute;n cupos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTITULO">Solicitudes: </span> Este formulario 
              corresponde al segundo paso del wizard, al que se accede desde la opci&oacute;n 
              principal <a href="SOH_040B.html" >Solicitudes por etapa</a>. En &eacute;l 
              se pueden consultar las diferentes solicitudes de afiliaci&oacute;n que se 
              encuentran en la etapa de Asignaci&oacute;n cupos.</p>
            <p class="PARRAFO">A trav&eacute;s de la opci&oacute;n Detalle de la parte superior, 
              se puede consultar la solicitud seleccionada. Adicionalmente, se puede consultar 
              el detalle del cliente por medio del v&iacute;nculo ubicado en la Identificaci&oacute;n 
            del solicitante. Por &uacute;ltimo, cuando se trata de una solicitud de Principal con adicional se mostrar&aacute; la opci&oacute;n Adicionales en la parte superior, la cual invoca el detalle de este tipo de solicitudes.</p>
            <p class="TITLE"><img src="../img/SOF_040B9.PNG"745" height="468"></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Fecha 
                    ingreso </p></td>
                <td><p class="PARRAFO">Muestra 
                    la fecha en la cual se grab&oacute; la solicitud.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b>Secuencia</b></p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el n&uacute;mero consecutivo asignado por el sistema 
                    y que permite diferenciar e identificar las solicitudes.</p>
                </td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Tipo 
                    solicitud</span></b></p></td>
                <td><p class="PARRAFO">Muestra 
                    el tipo de solicitud a tramitar en el formulario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Tipo 
                    cr&eacute;dito nuevo</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que identifica qu&eacute; tipo de cliente o clientes aplican 
                    para la solicitud de Cr&eacute;dito nuevo. Puede ser Titular 
                    con adicional, Solo titular, o Solo Adicional.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >Estado</span></b></p></td>
                <td><p class="PARRAFO">Indica 
                    la condici&oacute;n en que se encuentra la solicitud al arribar a esta 
                    etapa, las cuales pueden ser: En zona gris, Negada totalmente, Negada 
                    parcialmente, Aprobada totalmente o Aprobada parcialmente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Identificaci&oacute;n 
                    solicitante </span></b></p></td>
                <td><p class="PARRAFO">Contiene 
                    tanto el tipo de documento como el n&uacute;mero del mismo, que identifica 
                    al solicitante.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Nombre<b> 
                    </b></p></td>
                <td><p class="PARRAFO">Despliega 
                    el nombre del solicitante.</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">Adicionalmente, el formulario cuenta con botones en la parte 
              inferior izquierda, a trav&eacute;s de los cuales se pueden tomar acciones 
              que afectan a todas las solicitudes que se encuentren filtradas.</p>
            <table width=715   >
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040Bavanzarsoli.PNG"46" ></p></td>
                <td><p class="PARRAFO">Avanzar 
                    todas las solicitudes: Funcionalidad que permite pasar las solicitudes 
                    a la siguiente etapa siempre y cuando cumplan con los requisitos necesarios 
                    acorde con los par&aacute;metros definidos; en caso contrario la solicitud 
                    ser&aacute; negada.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><b><img src="../img/SOF_040Bavanzar.PNG"46" ></b></p></td>
                <td><p class="PARRAFO">Negar 
                    todas las solicitudes: Funcionalidad que permite denegar totalmente, 
                    de forma manual, todas las solicitudes.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><b><img src="../img/SOF_040Bnegar.PNG"46" ></b></p></td>
                <td><p class="PARRAFO">Avanzar 
                    todas las solicitudes masivamente: Funcionalidad que permite avanzar 
                    las solicitudes hasta la &uacute;ltima etapa que tengan en los Par&aacute;metros 
                    de solicitudes por producto, validando los requisitos necesarios acorde 
                    con los par&aacute;metros definidos, y negando a aquellas que no los 
                    cumplen.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040Bretroceder.PNG"46" ></p></td>
                <td  class="PARRAFO" >Retroceder 
                etapa para todas las solicitudes: Permite  retornar  todas las solicitudes que hayan sido filtradas desde el formulario inicial. Si la solicitud ya ha sido aprobada o negada   totalmente, no permite su retroceso.</td>
              </tr>
            </table>

            <p class="PARRAFO">Cada una de las solicitudes cuenta con una casilla de verificaci&oacute;n, 
              que debe ser marcada por el usuario en caso de querer aplicar acciones s&oacute;lo 
              a solicitudes espec&iacute;ficas. Estas solicitudes se mostrar&aacute;n en 
              el tercer paso del wizard: <a href="SOH_040B5b.html" >Resumen</a>.</p>
           
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img class="TITLE"  src= "../img/logo.PNG">
        </div>
        <p>OpenCard SAS</p>
        <p>Calle 77 Nº 11-19 Piso 4°, Bogotá D.C.</p>
        <p>Tel (57) 601 - 313 37 75  <a href="http://www.OpenCard.com"
                target="_blank">www.OpenCard.com</a></p>

    </footer>
</body>

</html>