<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
      <div id="menuContainer"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('menuContainer').innerHTML = html;
      });
  </script>

    <section>
        <div> 
            
                    <p  class="TITLE">Solicitudes por etapa - Aprobación</p>
                    
            <p class="PARRAFO"><span class="SUBTITULO">Solicitudes: </span> Este formulario 
              corresponde al segundo paso del wizard, al que se accede desde la opción 
              principal <a href="SOH_040B.html" >Solicitudes por etapa</a>. En él 
              se pueden consultar las diferentes solicitudes de afiliación que se 
              encuentran en la etapa de Aprobación.</p>
            <p class="PARRAFO">A través de la opción Detalle de la parte superior, 
              se puede consultar la solicitud seleccionada. Adicionalmente, se puede consultar 
              el detalle del cliente por medio del vínculo ubicado en la Identificación 
            del solicitante. Por último, cuando se trata de una solicitud de Principal con adicional se mostrará la opción Adicionales en la parte superior, la cual invoca el detalle de este tipo de solicitudes.</p>
            <p class="TITLE"><img src="../img/SOF_040B17.PNG"632" ></p>
            
            <table>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO">Fecha 
                    ingreso </p></td>
                <td><p class="PARRAFO">Muestra 
                    la fecha en la cual se grabó la solicitud.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Secuencia</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que ilustra el número consecutivo asignado por el sistema 
                    y que permite diferenciar e identificar las solicitudes.</p>
                </td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Tipo 
                    solicitud</p></td>
                <td><p class="PARRAFO">Muestra 
                    el tipo de solicitud a tramitar en el formulario.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Tipo 
                    crédito nuevo</p></td>
                <td><p class="PARRAFO">Campo 
                    de salida que identifica qué tipo de cliente o clientes aplican 
                    para la solicitud de Crédito nuevo. Puede ser Titular 
                    con adicional, Solo titular, o Solo Adicional.</p></td>
              </tr>
              <tr> 
                <td  class="titletable" ><p class="SUBTITULO"><span 
        >Estado</p></td>
                <td><p class="PARRAFO">Indica 
                    la condición en que se encuentra la solicitud al arribar a esta 
                    etapa, las cuales pueden ser: En zona gris, Negada totalmente, Negada 
                    parcialmente, Aprobada totalmente o Aprobada parcialmente.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO"><span 
        >Identificación 
                    solicitante </p></td>
                <td><p class="PARRAFO">Contiene 
                    tanto el tipo de documento como el número del mismo, que identifica 
                    al solicitante.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p class="SUBTITULO">Nombre 
                    </p></td>
                <td><p class="PARRAFO">Despliega 
                    el nombre del solicitante.</p></td>
              </tr>
            </table>
           
            <p class="PARRAFO">Adicionalmente, el formulario cuenta con botones en la parte 
              inferior izquierda, a través de los cuales se pueden tomar acciones 
              que afectan a todas las solicitudes que se encuentren filtradas.</p>
            <table width=715 height="114"  >
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Aprobar%20solicitud%201.PNG"46" ></p></td>
                <td><p class="PARRAFO">Aprobar 
                    todas las solicitudes: Funcionalidad que permite pasar las solicitudes 
                    a la siguiente etapa siempre y cuando cumplan con los requisitos necesarios 
                    acorde con los parámetros definidos; en caso contrario la solicitud 
                    será negada.</p></td>
              </tr>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Negar%20solicitud%201.PNG"46" ></p></td>
                <td><p class="PARRAFO">Negar 
                    todas las solicitudes: Funcionalidad que permite denegar totalmente, 
                    de forma manual, todas las solicitudes.</p></td>
              </tr>
            </table>
            <table>
              <tr> 
                <td class="titletable"><p  class="SUBTITULO"><img src="../img/SOF_040B-Retro%20etapa%201.PNG"46" ></p></td>
                <td  class="PARRAFO" >Retroceder 
                  etapa para todas las solicitudes: Permite  retornar  todas las solicitudes que hayan sido filtradas desde el formulario inicial. Si la solicitud ya ha sido aprobada o negada   totalmente, no permite su retroceso.</td>
              </tr>
            </table>

            <p class="PARRAFO">Cada una de las solicitudes cuenta con una casilla de verificación, 
              que debe ser marcada por el usuario en caso de querer aplicar acciones sólo 
              a solicitudes específicas. Estas solicitudes se mostrarán en 
              el tercer paso del wizard: <a href="SOH_040B7b.html" >Resumen</a>.</p>
           
            </section>
    <script src="../js/menu.js"></script>

    <div id="footerContainer"></div>
<script>
  fetch('footer.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('footerContainer').innerHTML = html;
    });
</script>
</body>

</html>