section{
    text-align: justify !important;
    max-width: 90%;
    margin-left: 5vw;
}

section div h1 {
    text-align: center;
    color: #F26716;
    font-size: 20px;
}

.TITLE {
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 24px; /* Tamaño de fuente relativo */
    color: #341C8C !important;
}
.ImagenBankbu {
    width: 70vw;
    margin-top: 5vw;
    max-width: 70vw;
    display: block;
}
section p {
    font-size: 18px;
    font-family: "Arial";
    width: auto;
    max-width: auto;
}
section div {
    margin-left: 3%;
    font-family: "Arial";
}
section h2, section p {
    margin-bottom: 15px;
}
