body {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    overflow-x: auto;
}

header {
    color: #fff;
    padding: 1vw;
    text-align: right;
    position: relative;
}

header img.logo {
    max-height: 6vw;
    max-width: 80%;
    position: absolute;
    right: 2vw;
    width: auto;
    top: 1vw;
}

#menuBtn {
    cursor: pointer;
    position: fixed;
    left: 1vw;
    top: 2vw;
    z-index: 1;
}

#menuBtn img {
    max-height: 6vw;
    max-width: 80%;
    margin-top: 1vw;
    height: auto;
    width: 4.5vw;
    transition: opacity 0.5s;
}

ul {
    list-style: none;
}

nav {
    width: 18vw;
    height: 100%;
    background-color: #341C8C;
    position: fixed;
    left: -100vw;
    top: 0;
    overflow-y: auto;
    transition: left 0.5s;
    padding-top: 3vw;
}

nav ul {
    width: 15vw;
}

.main-optionINICIO {
    margin-top: 3vw;
}

nav a {
    padding: 1.5vw;
    text-decoration: none;
    font-size: 1.2vw;
    color: #fff;
    display: block;
    transition: 0.5s;
    border-bottom: 0.1vw solid #5c3aff;
}

nav ul ul {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav ul li {
    margin-left: -35px;
}

nav ul li ul {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

nav ul li ul.active {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
}

section {
    width: 90%;
    justify-content: space-between;
    text-align: justify;
    margin-left: 6vw;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    padding-bottom: 12vw;
    transition: margin-left 0.5s;
}

section div {
    width: 90vw;
    text-align: justify;
    margin: auto;
}

section table {
    border-collapse: collapse;
    width: 100%;
}

footer {
    width: 100vw;
    height: 8vw;
    background-color: #341C8C;
    color: #fff;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    transition: margin-left 0.5s;
}

footer div img {
    width: 28vw;
}

footer p {
    font-size: 1.2vw;
    text-align: right;
    margin-right: 4vw;
}

footer a {
    color: #F26716;
}

footer div {
    height: 3vw;
    position: absolute;
    top: 3vw;
    left: 2vw;
    text-align: justify;
}

.aviso-importante {
    color: #F26716;
}

body.menu-opened section {
    margin-left: 18vw;
}

body.menu-opened #menuBtn img {
    opacity: 0;
    pointer-events: none;
}

body.menu-opened footer {
    margin-left: 18vw;
}

.ocultar {
    visibility: hidden;
    display: none;
}

@media (max-width: 1300px) {
    footer {
        position: fixed;
    }

    .seccion div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ImagenBankbu {
        position: absolute;
        visibility: hidden;
    }

    section img {
        display: inline-block;
        margin-left: 5vw;
        width: auto;
        max-width: 500px;
        height: 80%;
    }

    section p {
        width: auto;
        margin-right: auto;
    }
}
