body {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    overflow-x: auto;
}
header {
    color: #fff;
    padding: 1vw; /* Utiliza unidades de vista del ancho para el padding */
    text-align: right;
    position: relative;
}
header img.logo {
    max-height: 6vw;
    max-width: 80%; /* Ajusta este valor según sea necesario */
    position: absolute;
    right: 2vw;
    width: auto;
    top: 1vw;
}
#menuBtn {
    cursor: pointer;
    position: fixed;
    left: 1vw;
    top: 2vw;
    z-index: 1;
}
#menuBtn img {
    max-height: 6vw;
    max-width: 80%;
    margin-top: 1 vw;
    height: auto;
    width: 4.5vw;
    transition: opacity 0.5s;
}
ul {
    list-style: none;
  }
  nav {
    width: 18vw;
    max-width: 18vw;
    min-width: 18vw;
    height: 100%;
    background-color: #341C8C;
    position: fixed;
    left: -100%;
    top: 0;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 3vw;
}

nav ul {
    width: 15vw;
    max-width: 15vw;
}

.main-optionINICIO {
    margin-top: 3vw;
}

nav a {
    padding: 1.5vw;
    text-decoration: none;
    font-size: 1.2vw;
    color: #fff;
    display: block;
    transition: 0.5s;
    border-bottom: 0.1vw solid #5c3aff;
}

nav ul ul {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav ul li {
    margin-left: -35px;
}

nav ul li ul {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

nav ul li ul.active {
    visibility: visible;
    max-height: 100%; /* Cambiado de 100vw a 100% */
    opacity: 1;
}

section div {
    width: 90vw; /* Ajusta según tus necesidades con unidades relativas */
    text-align: justify;
    margin: auto; /* Centra el contenido horizontalmente */
}
section {
    width: 90%; /* Puedes ajustar el valor según tus necesidades */
    justify-content: space-between;
    text-align: justify;
    margin-left: 6vw; /* Ajusta según tus necesidades con unidades relativas */
    margin-top: 5vw; /* Ajusta según tus necesidades con unidades relativas */
    display: flex;
    align-items: center;
    padding-bottom: 12vw; /* Ajusta según tus necesidades con unidades relativas */
    transition: margin-left 0.5s;
}
section table {
    border-collapse: collapse;
    width: 100%; /* Hace que la tabla sea responsive */
}
footer {
    width: 100vw;
    max-width: 90vw;
    min-width: 100vw;
    height: 8vw;
    max-height: 8vw;
    min-height: 8vw;
    background-color: #341C8C;
    color: #fff;
    padding: 1vw; /* Utiliza unidades de vista del ancho para el padding */
    position: absolute;
    bottom: 0;
    transition: margin-left 0.5s;
}
footer div img {
    width: 28vw;
    max-width: 28vw;
}
footer p {
    font-size: 1.2vw;
    text-align: right;
    margin-right: 4vw; /* Ajusta según tus necesidades con unidades relativas */
}
footer a {
    color: #F26716;
}
footer div {
    height: 3vw; /* Ajusta según tus necesidades con unidades relativas */
    width: auto;
    position: absolute;
    top: 3vw; /* Ajusta según tus necesidades con unidades relativas */
    left: 2vw; /* Ajusta según tus necesidades con unidades relativas */
    text-align: justify;
}
.aviso-importante {
    color: #F26716;
}
body.menu-opened section {
    margin-left: 20vw; /* Ajusta según el ancho de tu menú con unidades relativas */
}
body.menu-opened #menuBtn img {
    opacity: 0;
    pointer-events: none;
}
body.menu-opened footer div img {
    max-width: 28vw; /* Ajusta según tus necesidades */
    height: auto;
}
body.menu-opened footer {
    margin-left: 18.5vw; /* Ajusta según el ancho de tu menú con unidades relativas */
}
.ocultar{
    visibility: hidden;
    display: none;
}

   
@media (max-width: 1300px) {
    footer{
        position: fixed;
    }
        .seccion div {
            display: flex; /* Usamos flexbox para alinear los elementos en fila por defecto */
            flex-direction: column; /* Alineamos los elementos en columna para pantallas más pequeñas */
            align-items: center; /* Centramos los elementos horizontalmente */
            text-align: center; /* Centramos el texto */
        }
        .ImagenBankbu {
            position: absolute;
         visibility: hidden;
        }
    
        section img  {
            display: inline-block;
            margin-left: 5vw; /* Ajusta este valor según sea necesario para separar la imagen del texto */
            width: auto;
            max-width:500px; /* Hace que la imagen sea responsive */
            height: 80%;
            max-height: auto;
        }
        section p {
            width: auto;
            margin-right: auto;
        }
    }